Perform the following steps:

1. Click **<%= vars.control_plane %>**.

1. Under **Certificate to secure the <%= vars.control_plane %>**, provide a certificate and private key pair.
  <br>  
  ![<%= vars.control_plane %> pane configuration](images/tkgi-api.png)
  <br>
  The certificate that you supply must cover the specific subdomain that routes to the <%= vars.control_plane %> VM with TLS termination on the ingress. 
  If you use UAA as your OIDC provider, this certificate must be a proper certificate chain and have a SAN field.  
  <p class="note warning"><strong>Warning:</strong> TLS certificates generated for wildcard DNS records only work for a single domain level.
  For example, a certificate generated for <code>&#42;.tkgi.EXAMPLE.com</code> does not permit communication to <code>&#42;.api.tkgi.EXAMPLE.com</code>.
  If the certificate does not contain the correct FQDN for the <%= vars.control_plane %>, calls to the API will fail.</p>
  You can enter your own certificate and private key pair, or have Ops Manager generate one for you.
<br>
  To generate a certificate using Ops Manager:
    1. Click **Generate RSA Certificate** for a new install or **Change** to update a previously-generated certificate.
    1. Enter the domain for your API hostname. This must match the domain you configure under **<%= vars.control_plane %>** > **API Hostname (FQDN)** below, in the same pane. It can be a standard FQDN or a wildcard domain.
    1. Click **Generate**.<br>  
    ![<%= vars.control_plane %> certificate generation](images/tkgi-api-cert-gen.png)
    <% if current_page.data.iaas == "GCP" %>
    <p class="note"><strong>Note</strong>: If you deployed a global HTTP load balancer for Ops Manager without a certificate,
      you can configure the load balancer to use this newly-generated certificate.
      To configure your Ops Manager load balancer front end certificate,
      see <a href="https://docs.pivotal.io/ops-manager/gcp/prepare-env-manual.html#config-frontend">Configure Front End</a> in
       <em>Preparing to Deploy Ops Manager on GCP Manually</em>.</p>
    <% else %>
    <% end %>
1. Under **API Hostname (FQDN)**, enter the FQDN that you registered to point to the <%= vars.control_plane %> load balancer, such as `api.tkgi.example.com`.
To retrieve the public IP address or FQDN of the <%= vars.control_plane %> load balancer, 
log in to your IaaS console.
1. Under **Worker VM Max in Flight**, enter the maximum number of non-canary worker instances to create or update in parallel within an availability zone.
	<br><br>
	This field sets the `max_in_flight` variable value. 
  The `max_in_flight` setting limits the number of component instances the <%= vars.k8s_runtime_abbr %> CLI creates or starts simultaneously 
  when running `tkgi create-cluster` or `tkgi update-cluster`. By default, `max_in_flight` is set to `4`, 
  limiting the <%= vars.k8s_runtime_abbr %> CLI to creating or starting a maximum of four component instances in parallel.  
1. Click **Save**.  