1. Log in to the BOSH Director. For instructions, see [Log in to the BOSH Director VM](diagnostic-tools.html#alias).

1. To identify your <%= vars.k8s_runtime_abbr %> deployment name, run the following command:
  <pre>bosh -e ENVIRONMENT deployments</pre>

    Where `ENVIRONMENT` is your BOSH environment alias.
  <br>
  <br>
    For example:
      <pre class="terminal">$ bosh -e tkgi deployments</pre>
      Your <%= vars.k8s_runtime_abbr %> deployment name begins with `pivotal-container-service` and includes
      a BOSH-generated identifier.

1. To identify your <%= vars.control_plane %> VM name, run the following command:
  <pre>bosh -e ENVIRONMENT -d DEPLOYMENT vms</pre>

    Where:  

     * `ENVIRONMENT` is the BOSH environment alias.  
     * `DEPLOYMENT` is your <%= vars.k8s_runtime_abbr %> deployment name.

    For example:
    <pre class="terminal">$ bosh -e tkgi -d pivotal-container-service-a1b2c333d444e5f66a77 vms</pre>

    Your <%= vars.control_plane %> VM name begins with `pivotal-container-service` and includes a
    BOSH-generated identifier.
    <p class="note"><strong>Note:</strong> The <%= vars.control_plane %> VM identifier is different from the identifier in your <%= vars.k8s_runtime_abbr %>
    deployment name.
    </p>

1. To SSH into the <%= vars.control_plane %> VM, run the following command:
  <pre>bosh -e ENVIRONMENT -d DEPLOYMENT ssh TKGI-API-VM</pre>

    Where:  

    * `ENVIRONMENT` is the BOSH environment alias.  
    * `DEPLOYMENT` is your <%= vars.k8s_runtime_abbr %> deployment name.  
    * `TKGI-API-VM` is your <%= vars.control_plane %> VM name.

    For example:
    <pre class="terminal">$ bosh -e tkgi \ <br>
 -d pivotal-container-service-a1b2c333d444e5f66a77 \ <br>
 ssh pivotal-container-service/000a1111-222b-3333-4cc5-de66f7a8899b</pre>
