To configure VMware's Customer Experience Improvement Program (CEIP), do the following:

1. Click **CEIP**.
1. Review the information about the CEIP.  
<% if current_page.data.thistopic =='wizard' %>
  ![CEIP program description](./images/ceip-telemetry-descrip_mc.png)  
  [View a larger version of this image.](./images/ceip-telemetry-descrip_mc.png)  
<% else %>
  ![CEIP program description](./images/ceip-telemetry-descrip_mc.png)  
  [View a larger version of this image.](./images/ceip-telemetry-descrip_mc.png)  
<% end %>
1. If you wish to participate in CEIP, ensure that the **Join the VMware Customer Experience Improvement Program** checkbox is selected.
1. Enter the following information in the fields:
  * Your entitlement account number or Tanzu customer number.
  If you are a VMware customer, you can find your entitlement account number in your **Account Summary** on [my.vmware.com](https://my.vmware.com). 
  If you are a Pivotal customer, you can find your Pivotal Customer Number in your Pivotal Order Confirmation email.  
  * A descriptive name for your <%= vars.k8s_runtime_abbr %> installation. 
  The label you assign to this installation will be used in the reports to identify the environment.  
1. To provide information about the purpose for this installation, select an option.  
  ![CEIP installation type](./images/ceip-telemetry-type_mc.png)  
1. Click **Save**.

<p class="note"><strong>Note:</strong> If you join the CEIP Program for <%= vars.product_short %>, open your firewall to allow outgoing access to 
	<code>https://vcsa.vmware.com/ph</code> on port <code>443</code>.</p>
<p class="note"><strong>Note:</strong> Even if you do not wish to participate in CIEP, <%= vars.product_short %>-provisioned clusters send usage data to the <%= vars.k8s_runtime_abbr %> control plane. 
	However, this data is not sent to VMware and remains on your <%= vars.product_short %> installation.</p>
