To configure VMware's Customer Experience Improvement Program (CEIP) and the Pivotal Telemetry Program (Telemetry), do the following:

1. Click **CEIP and Telemetry**.
1. Review the information about the CEIP and Telemetry.
<% if current_page.data.thistopic =='wizard' %>
  ![CEIP and Telemetry program description](./images/ceip-telemetry-descrip.png)
  [View a larger version of this image.](./images/ceip-telemetry-descrip.png)
<% else %>
  ![CEIP and Telemetry program description](./images/ceip-telemetry-descrip.png)
  [View a larger version of this image.](./images/ceip-telemetry-descrip.png)
<% end %>
1. To specify your level of participation in the CEIP and Telemetry program, select one of the **Participation Level** options:  
  * **None:** If you select this option, data is not collected from your <%= vars.product_short %> installation.  
  * (Default) **Standard:** If you select this option, data is collected from your <%= vars.product_short %> installation to improve <%= vars.product_short %>. This participation level is anonymous and does not permit the CEIP and Telemetry to identify your organization.  
  * **Enhanced:** If you select this option, data is collected from your <%= vars.product_short %> installation to provide you proactive support and other benefits. This participation level permits the CEIP and Telemetry to identify your organization.
  ![CEIP and Telemetry program participation level](./images/ceip-telemetry-level.png)
<% if current_page.data.thistopic =='wizard' %>
  For more information about the CEIP and Telemetry participation levels, see [Participation Levels](./telemetry.html#participation) in _Telemetry_. 
<% else %>
  For more information about the CEIP and Telemetry participation levels, see [Participation Levels](./telemetry.html#participation) in _Telemetry_. 
<% end %> 
1. If you selected the **Enhanced** participation level, complete the following:  
  * Enter your VMware account number or Pivotal customer number in the **VMware Account Number or Pivotal Customer Number** field. 
  If you are a VMware customer, you can find your VMware Account Number in your **Account Summary** on [my.vmware.com](https://my.vmware.com). 
  If you are a Pivotal customer, you can find your Pivotal Customer Number in your Pivotal Order Confirmation email.  
  * (Optional) Enter a descriptive name for your <%= vars.k8s_runtime_abbr %> installation in the **<%= vars.k8s_runtime_abbr %> Installation Label** field. 
  The label you assign to this installation will be used in telemetry reports to identify the environment.  
1. To provide information about the purpose for this installation, select an option in the **<%= vars.k8s_runtime_abbr %> Installation Type** list.  
  ![CEIP and Telemetry installation type](./images/ceip-telemetry-type.png)
1. Click **Save**.

<p class="note"><strong>Note:</strong> If you join the CEIP and Telemetry Program for <%= vars.product_short %>, open your firewall to allow outgoing access to 
	<code>https://vcsa.vmware.com/ph</code> on port <code>443</code>.</p>
<p class="note"><strong>Note:</strong> Even if you select <strong>None</strong>, <%= vars.product_short %>-provisioned clusters send usage data to the <%= vars.k8s_runtime_abbr %> control plane. 
	However, this data is not sent to VMware or Pivotal and remains on your <%= vars.product_short %> installation.</p>
