Errands are scripts that run at designated points during an installation.  

To configure which post-deploy and pre-delete errands run for 
<%= vars.product_short %>:

1. Make a selection in the dropdown next to each errand.  
<% if current_page.data.iaas == "vSphere-NSX-T" %>
    <img src="images/nsxt/errands-nsxt.png" alt="Errand configuration pane" width="550">
    <p class="note"><strong>Note</strong>: We recommend that you use the 
    default settings for all errands except for the <strong>NSX-T validation</strong> 
    and <strong>Run smoke tests</strong> errands.
    </p> 
<% else %>
    <img src="images/errands.png" alt="Errand configuration pane" width="550">
    <p class="note"><strong>Note</strong>: We recommend that you use the 
    	default settings for all errands except for the **Run smoke tests** errand.
    </p> 
<% end %>
1. Set the **PKS 1.7.x Upgrade - MySQL Clone** errand to **On**.  
    <p class="note warning"><strong>Warning</strong>: Do not disable the 
    <strong>PKS 1.7.x Upgrade - MySQL Clone</strong> errand. This errand must remain set to 
    <strong>Default (On)</strong> at all times.
    </p>
<% if current_page.data.iaas == "vSphere-NSX-T" %>
1. (Optional) Set the **NSX-T validation** errand to **On**.  
<br>
    This errand verifies the NSX-T objects.
<% end %>
1. (Optional) Set the **Run smoke tests** errand to **On**.  
<br>
    This errand uses the PKS CLI to create a Kubernetes cluster and then delete it.
    If the creation or deletion fails, the errand fails and the installation 
    of the <%= vars.product_tile %> tile is aborted.  

1. (Optional) To ensure that all of your cluster VMs are patched, 
    configure the **Upgrade all clusters errand** errand to **On**.  
<br>
    Updating the <%= vars.product_tile %> tile with a new 
	Linux stemcell and the **Upgrade all clusters errand** enabled 
	triggers the rolling of every Linux VM in each Kubernetes cluster. 
	Similarly, updating the <%= vars.product_tile %> tile with a new Windows stemcell triggers 
	the rolling of every Windows VM in your Kubernetes clusters.  
    <p class="note warning"><strong>Warning:</strong> To avoid workload downtime, use the resource configuration recommended in 
	<a href="understanding-upgrades.html">About <%= vars.product_short %> Upgrades</a> 
	and <a href="maintain-uptime.html">Maintaining Workload Uptime</a>.
    </p>
