<%# WARNING!!!! %>
<%# DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT %>
<%# <!-- WARNING!!!! --> %>

The **Host Monitoring** pane provides settings for
monitoring host VMs in your <%= vars.product_short %> deployment.
In this pane, you can configure <%= vars.product_short %> to
forward logs from your BOSH-deployed VMs to a syslog endpoint as well as
configure transport of multiple metric sources.

![Host Monitoring pane](images/host-monitoring.png)

To configure host monitoring in the <%= vars.product_tile %> tile, do the following:

* To enable Syslog, see [Syslog](#host-syslog). Syslog sends log messages from all BOSH-deployed VMs.
<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
* To enable VMware vRealize Log Insight Integration, see [VMware vRealize Log Insight Integration](#vrealize-logs).
<% end %>
* To enable the Telegraf agent, see [Telegraf](#telegraf). The Telegraf agent sends metrics from PKS API, master node, and worker node VMs to a monitoring service, such as Wavefront or Datadog.

####<a id='host-syslog'></a> Syslog

To enable Syslog for all BOSH-deployed VMs in <%= vars.product_short %>:

1. Click **Host Monitoring**.
1. Under **Enable Syslog for PKS**, select **Yes**.
1. Under **Address**, enter the destination syslog endpoint.
1. Under **Port**, enter the destination syslog port.
1. Under **Transport Protocol**, select a transport protocol for log forwarding.
1. (Optional) To enable TLS encryption during log forwarding, complete the following steps:
  1. Ensure **Enable TLS** is selected.
  <p class="note"><strong>Note</strong>: Logs may contain sensitive information, such as cloud provider credentials.
  Pivotal strongly recommends that you enable TLS encryption for log forwarding.
  </p>
  1. Under **Permitted Peer**, provide the accepted fingerprint (SHA1) or name of remote peer. For example, `*.YOUR-LOGGING-SYSTEM.com`.
  1. Under **TLS Certificate**, provide a TLS certificate for the destination syslog endpoint.
  <p class="note"><strong>Note</strong>: You do not need to provide a new certificate if the TLS certificate for the destination syslog endpoint is signed by a Certificate Authority (CA) in your BOSH certificate store.
  </p>
1. (Optional) Under **Max Message Size**, enter a maximum message size for logs that are forwarded to a syslog endpoint. By default, the **Max Message Size** field is 10,000 characters.
1. Click **Save**.

<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
####<a id='vrealize-logs'></a> VMware vRealize Log Insight Integration
<%= partial 'vrealize-logs' %>
<% end %>

####<a id='telegraf'></a> Telegraf

You can configure the Telegraf agent to collect metrics
from the following sources:

<table class="nice">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>Source</th>
    <th>Includes metrics from…</th>
    </tr>
    <tr>
      <td>
        <strong>PKS API</strong>
      </td>
      <td>
        <ul>
          <li>Node Exporter (Prometheus)</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Master nodes</strong><br>
        (not visible to cluster users)
      </td>
      <td>
        <p>One or more of the following:</p>
        <ul>
          <li>Node Exporter (Prometheus)</li>
          <li>Kubernetes API server</li>
          <li>Kubernetes controller manager</li>
          <li>etcd</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Worker nodes</strong>
      </td>
      <td>
      <p>One or more of the following:</p>
        <ul>
          <li>Node Exporter (Prometheus)</li>
          <li>kubelet</li>
        </ul>
      </td>
    </tr>
</table>

For more information about Node Exporter, see [About Node Exporter](./monitor-etcd.html#node-exporter).

To configure <%= vars.product_short %> to use Telegraf for metric collection:

1. Create a configuration file for your monitoring service.
For instructions, see [Create a Configuration File](./monitor-etcd.html#toml).

1. Return to the <%= vars.product_tile %> tile > **Settings** > **Host Monitoring**.

3. Under **Enable Telegraf Outputs?**, select **Yes**.

2. Configure the Telegraf checkboxes as described in the table below.

    Components you enable in this step will be visible to PKS operators only.

    <table class="nice">
      <col width="30%">
      <col width="70%">
      <tr>
        <th>Enable this checkbox...</th>
        <th>...to send these metrics to your monitoring service</th>
      </tr>
      <tr>
        <td>
          <strong>Enable node exporter on PKS API</strong>
        </td>
        <td>
          Node Exporter metrics from the <%= vars.control_plane %> VM
        </td>
      </tr>
      <tr>
        <td>
          <strong>Enable node exporter on master</strong>
        </td>
        <td>
          Node Exporter metrics from Kubernetes master nodes
        </td>
      </tr>
      <tr>
        <td>
          <strong>Include etcd metrics</strong>
        </td>
        <td>
          etcd server and debugging metrics
        </td>
      </tr>
      <tr>
        <td>
          <strong>Enable node exporter on worker</strong>
        </td>
        <td>
          Node Exporter metrics from Kubernetes worker nodes
        </td>
      </tr>
      <tr>
        <td>
          <strong>Include Kubernetes Controller Manager metrics</strong>
        </td>
        <td>
          Kubernetes controller manager metrics
          <ul><li>These provide information about the state of each cluster</li></ul>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Include Kubernetes API Server metrics</strong>
        </td>
        <td>
          Kubernetes API server metrics
        </td>
      </tr>
      <tr>
        <td>
          <strong>Include kubelet metrics</strong>
        </td>
        <td>
          kubelet metrics for all workloads running in all your Kubernetes clusters
          <ul><li>If you enable <strong>Include kubelet metrics</strong>, be prepared for a high volume of metrics.</li></ul></p>
        </td>
      </tr>
    </table>

1. In **Set Up Telegraf Outputs**, replace the default value `[[outputs.discard]]` with the contents of the configuration file
    that you created above. See the following example for an HTTP output plugin:

    ```
    [[outputs.http]]
       url="https://example.com"
       method="POST"
       data_format="json"
    [[processors.override]]
      [processors.override.tags]
        director = "bosh-director-1"
    ```

1. Click **Save**.

<%# WARNING!!!! %>
<%# <!-- DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT  %>
<%#  WARNING!!!! %>
