<%# WARNING!!!! %>
<%# DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT %>
<%# <!-- WARNING!!!! --> %>

<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
In **Host Monitoring**, you can configure monitoring of nodes and VMs using Syslog, 
VMware vRealize Log Insight (vRLI) Integration, or Telegraf.  

  ![Host Monitoring pane](images/host-monitoring-vsphere.png)

<% else %>
In **Host Monitoring**, you can configure monitoring of nodes and VMs using Syslog, or Telegraf.  

  ![Host Monitoring pane](images/host-monitoring.png)
<% end %>

You can configure one or more of the following:

* **Syslog**: To configure Syslog, see [Syslog](#host-syslog) below. Syslog forwards log messages from all BOSH-deployed VMs to a syslog endpoint.
<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
* **VMware vRealize Log Insight (vRLI) Integration**: To configure VMware vRealize Log Insight (vRLI) Integration, see [VMware vRealize Log Insight Integration](#vrealize-logs) below.
The vRLI integration pulls logs from all BOSH jobs and containers running in the cluster, including node logs from core Kubernetes and BOSH processes, Kubernetes event logs, and pod `stdout` and `stderr`.
<% end %>
* **Telegraf**: To configure Telegraf, see [Configuring Telegraf in <%= vars.k8s_runtime_abbr %>](monitor-etcd.html). The Telegraf agent sends metrics from TKGI API, master node, and worker node VMs to a monitoring service, such as Wavefront or Datadog.

For more information about these components, see
[Monitoring <%= vars.k8s_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>-Provisioned Clusters](host-monitoring.html).


####<a id="host-syslog"></a> Syslog

To configure Syslog for all BOSH-deployed VMs in <%= vars.product_short %>:

1. Click **Host Monitoring**.
1. Under **Enable Syslog for <%= vars.k8s_runtime_abbr %>**, select **Yes**.
1. Under **Address**, enter the destination syslog endpoint.
1. Under **Port**, enter the destination syslog port.
1. Under **Transport Protocol**, select a transport protocol for log forwarding.
1. (Optional) To enable TLS encryption during log forwarding, complete the following steps:
  1. Ensure **Enable TLS** is selected.
  <p class="note"><strong>Note</strong>: Logs may contain sensitive information, such as cloud provider credentials.
  <%= vars.recommended_by %> recommends that you enable TLS encryption for log forwarding.
  </p>
  
  1. Under **Permitted Peer**, provide the accepted fingerprint (SHA1) or name of remote peer. For example, `*.YOUR-LOGGING-SYSTEM.com`.
  1. Under **TLS Certificate**, provide a TLS certificate for the destination syslog endpoint.
  <p class="note"><strong>Note</strong>: You do not need to provide a new certificate if the TLS certificate for the destination syslog endpoint is signed by a Certificate Authority (CA) in your BOSH certificate store.
  </p>

1. (Optional) Under **Max Message Size**, enter a maximum message size for logs that are forwarded to a syslog endpoint. By default, the **Max Message Size** field is 10,000 characters.
1. Click **Save**.

<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
####<a id="vrealize-logs"></a> VMware vRealize Log Insight Integration
<%= partial 'vrealize-logs' %>
<% end %>


<%# WARNING!!!! %>
<%# <!-- DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT  %>
<%#  WARNING!!!! %>
