<%# WARNING!!!! %>
<%# DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT %>
<%# <!-- WARNING!!!! --> %>

In **Host Monitoring**, you can configure one or more of the following:

* To configure Syslog for BOSH-deployed VMs, see [Syslog](#host-syslog).
Syslog forwards log messages from all BOSH-deployed VMs to a syslog endpoint.
<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
* To configure VMware vRealize Log Insight (vRLI) Integration, see [VMware vRealize Log Insight Integration](#vrealize-logs).
The vRLI integration pulls logs from all BOSH jobs and containers running in the cluster, including node logs from core Kubernetes and BOSH processes, Kubernetes event logs, and pod `stdout` and `stderr`.
<% end %>
* To configure Telegraf, see [Configuring Telegraf in <%= vars.product_short %>](monitor-etcd.html).
The Telegraf agent sends metrics from master node and worker node VMs to a monitoring service, such as Wavefront or Datadog.

For more information about these components, see
[Monitoring <%= vars.product_short %> and <%= vars.k8s_runtime_abbr %>-Provisioned Clusters](host-monitoring.html).

![Host Monitoring pane](images/host-monitoring.png)

####<a id='host-syslog'></a> Syslog

To configure Syslog for all BOSH-deployed VMs in <%= vars.product_short %>:

1. Click **Host Monitoring**.
1. Under **Enable Syslog for PKS**, select **Yes**.
1. Under **Address**, enter the destination syslog endpoint.
1. Under **Port**, enter the destination syslog port.
1. Under **Transport Protocol**, select a transport protocol for log forwarding.
1. (Optional) To enable TLS encryption during log forwarding, complete the following steps:
  1. Ensure **Enable TLS** is selected.  
  <p class="note"><strong>Note</strong>: Logs may contain sensitive information, such as cloud provider credentials.
  Pivotal strongly recommends that you enable TLS encryption for log forwarding.
  </p>  
  1. Under **Permitted Peer**, provide the accepted fingerprint (SHA1) or name of remote peer. For example, `*.YOUR-LOGGING-SYSTEM.com`.
  1. Under **TLS Certificate**, provide a TLS certificate for the destination syslog endpoint.
  <p class="note"><strong>Note</strong>: You do not need to provide a new certificate if the TLS certificate for the destination syslog endpoint is signed by a Certificate Authority (CA) in your BOSH certificate store.
  </p>
1. (Optional) Under **Max Message Size**, enter a maximum message size for logs that are forwarded to a syslog endpoint. By default, the **Max Message Size** field is 10,000 characters. 
1. Click **Save**.

<% if current_page.data.iaas == "vSphere" || current_page.data.iaas == "vSphere-NSX-T" %>
####<a id='vrealize-logs'></a> VMware vRealize Log Insight Integration
<%= partial 'vrealize-logs' %>
<% end %>


<%# WARNING!!!! %>
<%# <!-- DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT  %>
<%#  WARNING!!!! %>
