
<%# WARNING!!!! %>
<%# DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT %>
<%# <!-- WARNING!!!! --> %>
In the **Monitoring** pane of the <%= vars.product_tile %> tile, you can choose to integrate <%= vars.product_short %> with several external monitoring systems.  

By default, monitoring is disabled.  

  ![Monitoring pane configuration](images/monitoring.png)

####<a id='wavefront'></a> Wavefront

You can monitor Kubernetes clusters and pods metrics externally using the integration with <a href="https://docs.wavefront.com">Wavefront by VMware</a>.  

<p class="note"><strong>Note:</strong> Before you configure Wavefront integration, you must have an active Wavefront account and access to a Wavefront instance. You provide your Wavefront access token during configuration and enabling errands. For additional information, see the <a href="https://docs.wavefront.com/integrations_pks.html">Wavefront documentation</a>.</p>

To enable and configure Wavefront monitoring, do the following:  

1. In the the <%= vars.product_tile %> tile, select **Monitoring**.  
1. Under **Wavefront Integration**, select **Yes**.  
  ![Wavefront configuration](images/monitoring-wavefront-config.png)
1. Under **Wavefront URL**, enter the URL of your Wavefront subscription. For example:
    <pre>
    https<span>:</span>//try.wavefront.com/api
    </pre>
1. Under **Wavefront Access Token**, enter the API token for your Wavefront subscription.
1. To configure Wavefront to send alerts by email, enter email addresses or Wavefront Target IDs 
separated by commas under **Wavefront Alert Recipient**, using the following syntax:

    ```
    USER-EMAIL,WAVEFRONT-TARGETID_001,WAVEFRONT-TARGETID_002
    ```
    Where:  
    * `USER-EMAIL` is the alert recipient's email address.  
    * `WAVEFRONT-TARGETID_001` and `WAVEFRONT-TARGETID_002` are your comma-delimited Wavefront Target IDs.  

    For example:
    <pre>
    randomuser<span>@</span>example.com,51n6psdj933ozdjf
    </pre>

To create alerts, you must enable errands in <%= vars.product_short %>.  

1. In the the <%= vars.product_tile %> tile, select **Errands**.  
1. On the **Errands** pane, enable **Create pre-defined Wavefront alerts errand**.  
1. Enable **Delete pre-defined Wavefront alerts errand**.  
1. Click **Save**. Your settings apply to any clusters created after you have saved these configuration settings and clicked **Apply Changes**.  

The <%= vars.product_tile %> tile does not validate your Wavefront configuration settings. To verify your setup, look for cluster and pod metrics in Wavefront.  

####<a id='realize'></a> VMware vRealize Operations Management Pack for Container Monitoring

If you are using <%= vars.product_short %> on vSphere or vSphere with NSX-T Data Center, you can monitor Kubernetes clusters with VMware vRealize Operations Management Pack for Container Monitoring.  

To integrate <%= vars.product_short %> with VMware vRealize Operations Management Pack for Container Monitoring, you must deploy a container running [cAdvisor](https://github.com/google/cadvisor) in your PKS deployment.  

cAdvisor is an open source tool that provides monitoring and statistics for Kubernetes clusters.  

To deploy a cAdvisor container, do the following:  

1. Select **Monitoring**.  
1. Under **Deploy cAdvisor**, select **Yes**.  
1. Click **Save**.

For more information about integrating this type of monitoring with PKS, see the [VMware vRealize Operations Management Pack for Container Monitoring User Guide](https://docs.vmware.com/en/Management-Packs-for-vRealize-Operations-Manager/1.4/container-monitoring/GUID-BD6B5510-4A16-412D-B5AD-43F74C300C91.html)and [Release Notes](https://docs.vmware.com/en/Management-Packs-for-vRealize-Operations-Manager/1.4/rn/Container-Monitoring-Release-Notes.html) in the VMware documentation.

####<a id='metric-sinks'></a> Metric Sink Resources

You can configure <%= vars.product_short %> to collect metrics from Kubernetes clusters and namespaces and write them to specified outputs.

To enable clusters to drain Kubernetes node metrics and pod metrics to metric sinks, do the following:

1. In **Monitoring**, select the **Enable Metric Sink Resources** checkbox.  

    <p class="note"><strong>Note:</strong> In addition to enabling the checkbox, you must create your metric sink resources.
    For information about creating metric sink resources, see the <a href="create-sinks.html">Creating Sink Resources</a>.</p>

1. (Optional) Select **Enable Node Exporter** to enable Node Exporter to send worker node metrics to cluster metric sinks. 
For more information about Node Exporter metrics, see the [Node Exporter](https://github.com/prometheus/node_exporter#enabled-by-default) GitHub repository.  

1. Click **Save**.  

####<a id='telegraf'></a> Telegraf

You can configure the Telegraf agent to collect metrics and send the metrics to a third-party monitoring service.  

The Telegraf agent collects metrics from Node Exporter and etcd services:  

* Node Exporter is a Prometheus monitoring service providing infrastructure and OS metrics to cluster metric sinks. For more information about Node Exporter metrics, see the [Node Exporter](https://github.com/prometheus/node_exporter#enabled-by-default) GitHub repository.  
* etcd provides local monitoring information useful for both system health checking and cluster debugging. 

For more information on the Telegraf agent see [Monitoring Master/etcd Node VMs](./monitor-etcd.html).  

To connect a third-party monitoring service to <%= vars.product_short %>, complete the following steps:  

1. Create a configuration file for the third-party monitoring service. 
For more information on configuring the Telegraf agent to send metrics to a monitoring service, 
see [Create a Configuration File](./monitor-etcd.html#toml).  
1. To enable a monitoring service, do the following:
    1. (Optional) Select **Enable Node-Exporter on master** to enable Node Exporter to send master node metrics to Telegraf.  
<br>
    1. (Optional) Configure **Setup Telegraf Outputs** to enable a third-party monitoring service. Enter the contents of the configuration file you created in [Create a Configuration File](./monitor-etcd.html#toml).  
<br>
    If you do not want to output any metrics, leave the default value `[[outputs.discard]]`.

1. Click **Save**.
<%# WARNING!!!! %>
<%# <!-- DO NOT ADD READBILITY LINE WRAPPING TO THIS CONTENT THE LONG LINES MUSt REMAIN TO CORRECTLY FORMAT THE FOLLOWING SECTION'S MARKDOWN CONTENT  %>
<%#  WARNING!!!! %>
