To create, delete, and modify NSX&#8209;T networking resources, your <%= vars.product_short %> tiles and APIs 
communicate with NSX Manager. 
Your tiles must authenticate into NSX Manager as an NSX Enterprise Administrator in order to manage all of your resources. 

For information about configuring NSX Enterprise Administrator authentication on your 
**<%= vars.product_tile %>**, **BOSH Director for vSphere**, and **NSX Container Plug-in** (NCP) tiles see the following:  

<% if current_page.data.authenttype == "pkstile" %>
* **<%= vars.product_short %> Tile**
<br>
    Use the <%= vars.product_tile %> tile to configure your environment's load balancers. 
    To configure the **<%= vars.product_tile %>** tile's NSX administrator identity, see
[About the NSX Manager Superuser Principal Identity](#certificates-nsx-pid-about), below.  
<br>
<% end %>
<% if current_page.data.authenttype == "boshtile" %>
* **BOSH Director for vSphere Tile**
<br>
    Use the **BOSH Director for vSphere** tile to configure component VM networking and security for external-facing components. 
    To configure the **BOSH Director for vSphere** tile's NSX administrator identity, 
see [Configure vCenter for Enterprise PKS](#vcenter-config), below.  
<br>
<% end %>
<% if current_page.data.authenttype != "boshtile" %>
* **BOSH Director for vSphere Tile**
<br>
    Use the **BOSH Director for vSphere** tile to configure component VM networking and security for external-facing components. 
    **BOSH Director for vSphere** uses NSX-T to manage networking and security. 
    To configure the **BOSH Director for vSphere** tile's NSX administrator identity, 
see [Configure vCenter for Enterprise PKS](vsphere-nsxt-om-config.html#vcenter-config) in _Configuring BOSH Director with NSX&#8209;T for Enterprise PKS_.
<br>
<% end %>
<% if current_page.data.authenttype != "pkstile" %>
* **<%= vars.product_short %> Tile**
<br>
    Use the <%= vars.product_tile %> tile to configure your environment's load balancers. 
    <%= vars.product_short %> uses Kubernetes services to create and remove VM's within the NSX-T environment.  
    To configure the **<%= vars.product_tile %>** tile's NSX administrator identity, see
[Generating and Registering the NSX Manager Superuser Principal Identity Certificate and Key](nsxt-generate-pi-cert.html).  
<% end %>
<br>
* **NSX Container Plug-in Tile**
<br>
    Use NCP to configure routers, switches, security groups, and firewall rules. 
    NCP uses NSX-T to manage your app container networking and security configurations. 
    To configure the NCP tile's NSX administrator identity, see 
    [Install NCP in a Pivotal Cloud Foundry Environment](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/ncp-kubernetes/GUID-4A5AD35A-8673-4275-97AD-DFCBD9FF3799.html) 
    in the VMware documentation.
    <p class="note"><strong>Note</strong>: 
        NCP's NSX Manager authentication is configured on both the 
        <strong>BOSH Director for vSphere</strong> and <strong>VMware NSX-T</strong> tiles.</p>
