To create, delete, and modify NSX-T networking resources, <%= vars.platform_name %> tiles and APIs use a VMware NSX Manager account with the Enterprise Administrator role and permissions.

Users configure <%= vars.platform_name %> to authenticate to NSX Manager for different purposes in three tiles:

* **<%= vars.product_short %> tile**<br>
    The <%= vars.product_tile %> tile uses NSX Manager to create load balancers,
    a Kubernetes service described in the [Create an External Load Balancer](https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/) section of the Kubernetes documentation.<br>
    To configure the **<%= vars.product_tile %>** tile's authentication to NSX Manager, see
<% if current_page.data.authenttype == "pkstile" %>
    [About the NSX Manager Superuser Principal Identity](#certificates-nsx-pid-about), below.<br>
<% elsif current_page.data.authenttype == "boshtile" %>
    the topic [Generating and Registering the NSX Manager Superuser Principal Identity Certificate and Key](nsxt-generate-pi-cert.html).<br>
<% end %>
* **BOSH Director for vSphere tile**<br>
    The **BOSH Director for vSphere** tile uses NSX Manager to configure networking and security for external-facing <%= vars.platform_name %> component VMs, such as <%= vars.app_runtime_full %> routers.<br>
    To configure the **BOSH Director for vSphere** tile's authentication to NSX Manager, see
<% if current_page.data.authenttype == "boshtile" %>
    [Configure vCenter for Enterprise PKS](#vcenter-config), below.<br>
<% elsif current_page.data.authenttype == "pkstile" %>
    [Configure vCenter for Enterprise PKS](vsphere-nsxt-om-config.html#vcenter-config) in _Configuring BOSH Director with NSX-T for Enterprise PKS_.<br>
<% end %>
* **NSX Container Plug-in Tile**<br>
    The NSX Container Plug-in (NCP) tile uses NSX Manager to manage container networking and security by configuring routers, switches, security groups, and firewall rules.<br>
    To configure the NCP tile's authentication to NSX Manager, see
    [Install NCP in a Pivotal Cloud Foundry Environment](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/ncp-kubernetes/GUID-4A5AD35A-8673-4275-97AD-DFCBD9FF3799.html) 
    in the VMware documentation.
    <p class="note"><strong>Note</strong>:
        NCP's NSX Manager authentication is configured on both the
        <strong>BOSH Director for vSphere</strong> and <strong>VMware NSX-T</strong> tiles.</p>