To create, delete, and modify NSX&#8209;T networking resources, the tiles and APIs in your <%= vars.product_short %> 
installation directly communicate with NSX Manager. 
<%= vars.product_short %> allows you to follow best practices and specify a different NSX Manager administrator 
identity on each <%= vars.product_tile %> tile.  

For information about configuring the NSX Manager administrator identities on your other tiles see the following:  

<% if current_page.data.authenttype != "boshtile" %>
* **BOSH Director for vSphere** tile
    * Use the **BOSH Director for vSphere** tile to configure component VM networking and security for external-facing components. 
    **BOSH Director for vSphere** uses NSX-T to manage networking and security.   
    * To configure the **BOSH Director for vSphere** tile's NSX Manager administrator identities, 
see [Configure vCenter for Enterprise PKS](vsphere-nsxt-om-config.html#vcenter-config) in _Configuring BOSH Director with NSX&#8209;T for Enterprise PKS_.
<% end %>

<% if current_page.data.authenttype != "pkstile" %>
* **<%= vars.product_short %>** tile
    * Use the <%= vars.product_tile %> tile to configure your environment's load balancers. 
    <%= vars.product_short %> uses Kubernetes services to create and remove VM's within the NSX-T environment.
    * To configure the **<%= vars.product_tile %>** tile's NSX Manager administrator identities, see
[Generating and Registering the NSX Manager Superuser Principal Identity Certificate and Key](nsxt-generate-pi-cert.html).  
<% end %>

* **NSX Container Plug-in** tile
    * Use the **NSX Container Plug-in** (NCP) to configure routers, switches, security groups, and firewall rules. 
    NCP uses NSX-T to manage your app container networking and security configurations.  
    * To configure the **NSX Container Plug-in** (NCP) tile's NSX Manager administrator identities, see 
    [Install NCP in a Pivotal Cloud Foundry Environment](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/ncp-kubernetes/GUID-4A5AD35A-8673-4275-97AD-DFCBD9FF3799.html) 
    in the VMware documentation.
    <p class="note"><strong>Note</strong>: 
        NCP's NSX Manager authentication is configured on both the 
        <strong>BOSH Director for vSphere</strong> and <strong>VMware NSX-T</strong> tiles.</p>
