
## <a id="enterprise"></a> <%= vars.k8s_runtime_abbr %> Ports and Protocols

<% if current_page.data.netenv == "nsxt" %>
The following tables list ports and protocols required for network communications between <%= vars.product_short %> v1.5.0 
and later, and vSphere 6.7 and NSX-T 2.4.0.1 and later.
<% end %>
<% if current_page.data.netenv == "vsphere" %>
The following tables list ports and protocols required for network communications between <%= vars.product_short %> v1.5.0 
and later, and vSphere 6.7 and later.
<% end %>
<% if current_page.data.netenv == "vsphere" || current_page.data.netenv == "nsxt"  %>
<% else %>
The following tables list ports and protocols required for network communications between <%= vars.product_short %> v1.5.0 
and later, and other components.
<% end %>

### <a id="users"></a> <%= vars.k8s_runtime_abbr %> Users Ports and Protocols

The following table lists ports and protocols used for network communication between <%= vars.k8s_runtime_abbr %> user interface components.

| Source Component | Destination Component | Destination Protocol | Destination Port | Service |
| --- | --- | --- | --- | --- |
| Admin/Operator Console | All System Components | TCP | 22 | ssh |
| Admin/Operator Console | All System Components | TCP | 80 | http |
| Admin/Operator Console | All System Components | TCP | 443 | https |
| Admin/Operator Console | BOSH Director | TCP | 25555 | bosh director rest api |
<% if current_page.data.netenv == "nsxt" %>
| Admin/Operator Console | NSX-T API VIP | TCP | 443 | https |  
<% else %>
<% end %>
| Admin/Operator Console | Ops Manager | TCP | 22 | ssh |
| Admin/Operator Console | Ops Manager | TCP | 443 | https |
| Admin/Operator Console | <%= vars.k8s_runtime_abbr %> Controller | TCP | 9021 | tkgi api server |
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
| Admin/Operator Console | vCenter Server | TCP | 443 | https |
| Admin/Operator Console | vCenter Server | TCP | 5480 | vami |
| Admin/Operator Console | vSphere ESXI Hosts Mgmt. vmknic | TCP | 902 | ideafarm-door |
<% else %>
<% end %>
| Admin/Operator and Developer Consoles | Harbor Private Image Registry | TCP | 80 | http |
| Admin/Operator and Developer Consoles | Harbor Private Image Registry | TCP | 443 | https |
| Admin/Operator and Developer Consoles | Harbor Private Image Registry | TCP | 4443 | notary |
| Admin/Operator and Developer Consoles | Kubernetes App Load-Balancer Svc | TCP/UDP | Varies | varies with apps |
| Admin/Operator and Developer Consoles | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca |
| Admin/Operator and Developer Consoles | Kubernetes Cluster Ingress Controller | TCP | 80 | http |
| Admin/Operator and Developer Consoles | Kubernetes Cluster Ingress Controller | TCP | 443 | https |
| Admin/Operator and Developer Consoles | Kubernetes Cluster Worker Node | TCP/UDP | 30000-32767 | kubernetes nodeport |
| Admin/Operator and Developer Consoles | <%= vars.k8s_runtime_abbr %> Controller | TCP | 8443 | httpsca |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes App Load-Balancer Svc | TCP/UDP | Varies | varies with apps |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes Cluster Ingress Controller | TCP | 80 | http |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes Cluster Ingress Controller | TCP | 443 | https |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes Cluster Worker Node | TCP/UDP | 30000-32767 | kubernetes nodeport |
<% if current_page.data.netenv == "nsxt" %>
  
<p class="note"><strong>Note</strong>: The <code>type:NodePort</code> Service type is not supported for <%= vars.k8s_runtime_abbr %> deployments on vSphere with NSX-T. 
 Only <code>type:LoadBalancer</code> and Services associated with Ingress rules are supported on vSphere with NSX-T.</p>  
<% else %>
<% end %>

### <a id="core"></a> <%= vars.k8s_runtime_abbr %> Core Ports and Protocols

The following table lists ports and protocols used for network communication between core <%= vars.k8s_runtime_abbr %> components.

| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| All System Components | Corporate Domain Name Server | TCP/UDP | 53 | dns| 
| All System Components | Network Time Server | UDP | 123 | ntp| 
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
| All System Components | vRealize LogInsight | TCP/UDP | 514/1514 | syslog/tls syslog| 
<% else %>
<% end %>
| All System Control Plane Components | AD/LDAP Directory Server | TCP/UDP | 389/636 | ldap/ldaps| 
| Ops Manager | Admin/Operator Console | TCP | 22 | ssh|
| Ops Manager | BOSH Director | TCP | 6868 | bosh agent http|
| Ops Manager | BOSH Director | TCP | 8443 | httpsca|
| Ops Manager | BOSH Director | TCP | 8844 | credhub|
| Ops Manager | BOSH Director | TCP | 25555 | bosh director rest api|
| Ops Manager | Harbor Private Image Registry | TCP | 22 | ssh|
| Ops Manager | Kubernetes Cluster Control Plane/Etcd Node | TCP | 22 | ssh|
| Ops Manager | Kubernetes Cluster Worker Node | TCP | 22 | ssh|
<% if current_page.data.netenv == "nsxt" %>
| Ops Manager | NSX-T API VIP | TCP | 443 | https|
| Ops Manager | NSX-T Manager/Controller Node | TCP | 22 | ssh|
| Ops Manager | NSX-T Manager/Controller Node | TCP | 443 | https|
<% else %>
<% end %>
| Ops Manager | <%= vars.k8s_runtime_abbr %> Controller | TCP | 22 | ssh|
| Ops Manager | <%= vars.k8s_runtime_abbr %> Controller | TCP | 8443 | httpsca|
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
| Ops Manager | vCenter Server | TCP | 443 | https|
| Ops Manager | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https|
<% else %>
<% end %>
<% if current_page.data.netenv == "nsxt" %>
| BOSH Director | NSX-T API VIP | TCP | 443 | https|
<% else %>
<% end %>
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
| BOSH Director | vCenter Server | TCP | 443 | https| 
| BOSH Director | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https|
<% else %>
<% end %>
| BOSH Compilation Job VM | BOSH Director | TCP | 4222 | bosh nats server| 
| BOSH Compilation Job VM | BOSH Director | TCP | 25250 | bosh blobstore| 
| BOSH Compilation Job VM | BOSH Director | TCP | 25923 | health monitor daemon| 
| BOSH Compilation Job VM | Harbor Private Image Registry | TCP | 443 | https| 
| BOSH Compilation Job VM | Harbor Private Image Registry | TCP | 8853 | bosh dns health| 
| <%= vars.k8s_runtime_abbr %> Controller | BOSH Director | TCP | 4222 | bosh nats server| 
| <%= vars.k8s_runtime_abbr %> Controller | BOSH Director | TCP | 8443 | httpsca| 
| <%= vars.k8s_runtime_abbr %> Controller | BOSH Director | TCP | 25250 | bosh blobstore| 
| <%= vars.k8s_runtime_abbr %> Controller | BOSH Director | TCP | 25555 | bosh director rest api| 
| <%= vars.k8s_runtime_abbr %> Controller | BOSH Director | TCP | 25923 | health monitor daemon| 
| <%= vars.k8s_runtime_abbr %> Controller | Kubernetes Cluster Control Plane/Etcd Node | TCP | 8443 | httpsca| 
| <%= vars.k8s_runtime_abbr %> Controller | <%= vars.control_plane_db %> VM | TCP | 3306 | tkgi db proxy |
<% if current_page.data.netenv == "nsxt" %>
| <%= vars.k8s_runtime_abbr %> Controller | NSX-T API VIP | TCP | 443 | https|   
<% else %>
<% end %>
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
| <%= vars.k8s_runtime_abbr %> Controller | vCenter Server | TCP | 443 | https| 
<% else %>
<% end %>
| Harbor Private Image Registry | BOSH Director | TCP | 4222 | bosh nats server| 
| Harbor Private Image Registry | BOSH Director | TCP | 25250 | bosh blobstore| 
| Harbor Private Image Registry | BOSH Director | TCP | 25923 | health monitor daemon| 
| Harbor Private Image Registry | IP NAS Storage Array | TCP | 111 | nfs rpc portmapper| 
| Harbor Private Image Registry | IP NAS Storage Array | TCP | 2049 | nfs| 
| Harbor Private Image Registry | Public CVE Source Database | TCP | 443 | https| 
| kube-system pod/telemetry-agent | <%= vars.k8s_runtime_abbr %> Controller | TCP | 24224 | fluentd out_forward| 
<% if current_page.data.netenv == "nsxt" %>
| Kubernetes Cluster Ingress Controller | NSX-T API VIP | TCP | 443 | https|  
<% else %>
<% end %>
| Kubernetes Cluster Control Plane/Etcd Node | BOSH Director | TCP | 4222 | bosh nats server| 
| Kubernetes Cluster Control Plane/Etcd Node | BOSH Director | TCP | 25250 | bosh blobstore| 
| Kubernetes Cluster Control Plane/Etcd Node | BOSH Director | TCP | 25923 | health monitor daemon| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 2379 | etcd clent| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 2380 | etcd server| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 8443 | httpsca| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Worker Node | TCP | 4194 | cadvisor| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Worker Node | TCP | 10250 | kubelet api| 
| Kubernetes Cluster Control Plane/Etcd Node | Kubernetes Cluster Worker Node | TCP | 31194 | cadvisor| 
<% if current_page.data.netenv == "nsxt" %>
| Kubernetes Cluster Control Plane/Etcd Node | NSX-T API VIP | TCP | 443 | https| 
<% else %>
<% end %>
| Kubernetes Cluster Control Plane/Etcd Node | <%= vars.k8s_runtime_abbr %> Controller | TCP | 8443 | httpsca| 
| Kubernetes Cluster Control Plane/Etcd Node | <%= vars.k8s_runtime_abbr %> Controller | TCP | 8853 | bosh dns health| 
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
| Kubernetes Cluster Control Plane/Etcd Node | vCenter Server | TCP | 443 | https| 
<% else %>
<% end %>
| Kubernetes Cluster Worker Node | BOSH Director | TCP | 4222 | bosh nats server| 
| Kubernetes Cluster Worker Node | BOSH Director | TCP | 25250 | bosh blobstore| 
| Kubernetes Cluster Worker Node | BOSH Director | TCP | 25923 | health monitor daemon| 
| Kubernetes Cluster Worker Node | Harbor Private Image Registry | TCP | 443 | https| 
| Kubernetes Cluster Worker Node | Harbor Private Image Registry | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Worker Node | IP NAS Storage Array | TCP | 111 | nfs rpc portmapper| 
| Kubernetes Cluster Worker Node | IP NAS Storage Array | TCP | 2049 | nfs| 
| Kubernetes Cluster Worker Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 8443 | httpsca| 
| Kubernetes Cluster Worker Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Worker Node | Kubernetes Cluster Control Plane/Etcd Node | TCP | 10250 | kubelet api| 
| pks-system pod/cert-generator | <%= vars.k8s_runtime_abbr %> Controller | TCP | 24224 | fluentd out_forward| 
| pks-system pod/fluent-bit | <%= vars.k8s_runtime_abbr %> Controller | TCP | 24224 | fluentd out_forward| 
<% if current_page.data.netenv == "nsxt" || current_page.data.netenv == "vsphere"  %>
<% else %>


## <a id="networking"></a> Networking Ports and Protocols

The following tables list ports and protocols required for network communication. 

### <a id="antrea"></a> Antrea Networking Ports and Protocols

The following tables list ports and protocols required for network communication in Antrea environments. 

| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| Worker Node VMs | Worker Node VMs | UDP | 6081 | Geneve | 
| Control Plane Node VMs | Control Plane Node VMs | TCP | 8091 | TCP| 

<p class="note"><strong>Note</strong>: Port 6081 must be open on all of the worker node VMs and 
  port 8091 must be open on all control plane node VMs in the clusters you create in an Antrea networking environment.</p>
  
For more information, see [Network Requirements](https://github.com/antrea-io/antrea/blob/main/docs/network-requirements.md#network-requirements) 
in the Antrea GitHub repository.  
<% end %>
