<br>
<br>
## <a id="vmware"></a> VMware Ports and Protocols

The following tables list ports and protocols required for network communication between VMware components. For additional information, see [VMware Ports and Protocols](https://ports.vmware.com/).

<br>
### <a id="virtual-infra"></a> VMware Virtual Infrastructure Ports and Protocols

The following table lists ports and protocols used for network communication between VMware virtual infrastructure components.

| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
<% if current_page.data.netenv == "nsxt" %>
| vCenter Server | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
<% else %>
<% end %>
| vCenter Server | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https| 
| vCenter Server | vSphere ESXI Hosts Mgmt. vmknic | TCP | 8080 | http alt| 
| vCenter Server | vSphere ESXI Hosts Mgmt. vmknic | TCP | 9080 | io filter storage| 
<% if current_page.data.netenv == "nsxt" %>
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 443 | https| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 1235 | netcpa| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 5671 | amqp traffic| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 8080 | http alt|   
<% else %>
<% end %>
| vSphere ESXI Hosts Mgmt. vmknic | vCenter Server | UDP | 902 | ideafarm-door| 
| vSphere ESXI Hosts Mgmt. vmknic | vCenter Server | TCP | 9084 | update manager| 
| vSphere ESXI Hosts Mgmt. vmknic | vSphere ESXI Hosts Mgmt. vmknic | TCP | 8182 | vsphere ha| 
| vSphere ESXI Hosts Mgmt. vmknic | vSphere ESXI Hosts Mgmt. vmknic | UDP | 8182 | vsphere ha| 
| vSphere ESXI Hosts vMotion vmknic | vSphere ESXI Hosts vMotion vmknic | TCP | 8000 | vmotion| 
| vSphere ESXI Hosts IP Storage vmknic | IP NAS Storage Array | TCP | 111 | nfs rpc portmapper| 
| vSphere ESXI Hosts IP Storage vmknic | IP NAS Storage Array | TCP | 2049 | nfs| 
| vSphere ESXI Hosts IP Storage vmknic | IP NAS Storage Array | TCP | 3260 | iscsi| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | TCP | 2233 | vsan transport| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | UDP | 12321 | unicast agent| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | UDP | 12345 | vsan cluster svc| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | UDP | 23451 | vsan cluster svc| 
| vSphere ESXI Hosts TEP vmknic | vSphere ESXI Hosts TEP vmknic | UDP | 3784 | bfd| 
| vSphere ESXI Hosts TEP vmknic | vSphere ESXI Hosts TEP vmknic | UDP | 3785 | bfd| 
| vSphere ESXI Hosts TEP vmknic | vSphere ESXI Hosts TEP vmknic | UDP | 6081 | geneve| 
<% if current_page.data.netenv == "nsxt" %>
| vSphere ESXI Hosts TEP vmknic | NSX-T Edge TEP vNIC | UDP | 3784 | bfd| 
| vSphere ESXI Hosts TEP vmknic | NSX-T Edge TEP vNIC | UDP | 3785 | bfd| 
| vSphere ESXI Hosts TEP vmknic | NSX-T Edge TEP vNIC | UDP | 6081 | geneve|
| vSphere ESXI Hosts TEP vmknic | NSX-T Manager/Controller | TCP | 1234 | NSX messaging |
| NSX-T Manager/Controller Node | NSX-T API VIP | TCP | 443 | https| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 443 | https| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 5671 | amqp traffic| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 9000 | loginsight ingestion api| 
| NSX-T Manager/Controller Node | Traceroute Destination | UDP | 33434-33523 | traceroute| 
| NSX-T Manager/Controller Node | vCenter Server | TCP | 80 | http| 
| NSX-T Manager/Controller Node | vCenter Server | TCP | 443 | https| 
| NSX-T Manager/Controller Node | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https| 
| NSX-T Edge Management | NSX-T Edge Management | TCP | 1167 | DHCP backend| 
| NSX-T Edge Management | NSX-T Edge Management | TCP | 2480 | Nestdb| 
| NSX-T Edge Management | NSX-T Edge Management | UDP | 3784 | bfd| 
| NSX-T Edge Management | NSX-T Edge Management | UDP | 50263 | high-availability| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 443 | https| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 1235 | netcpa| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 5671 | amqp traffic| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
| NSX-T Edge Management | Traceroute Destination | UDP | 33434-33523 | traceroute| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 3784 | bfd| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 3785 | bfd| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 6081 | geneve| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 50263 | high-availability| 
| NSX-T Edge TEP vNIC | vSphere ESXI Hosts TEP vmknic | UDP | 3784 | bfd| 
| NSX-T Edge TEP vNIC | vSphere ESXI Hosts TEP vmknic | UDP | 3785 | bfd| 
| NSX-T Edge TEP vNIC | vSphere ESXI Hosts TEP vmknic | UDP | 6081 | geneve| 
| NSX-T Edge Tier-0 Uplink IP(s) / HA VIP | Physical Network Router | TCP | 179 | bgp|
| NSX-T Edge TEP vNIC | NSX-T Manager/Controller | TCP | 1234 | NSX messaging |
| Physical Network Router | NSX-T Edge Tier-0 Uplink IP(s) / HA VIP | TCP | 179 | bgp| 
<% else %>
<% end %>

<br>
### <a id="optional-integration"></a> VMware Optional Integration Ports and Protocols

The following table lists ports and protocols used for network communication between optional VMware integrations.

| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| Admin/Operator Console | vRealize Operations Manager | TCP | 443 | https| 
| vRealize Operations Manager | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca| 
<% if current_page.data.netenv == "nsxt" %>
| vRealize Operations Manager | NSX-T API VIP | TCP | 443 | https| 
<% else %>
<% end %>
| vRealize Operations Manager | <%= vars.k8s_runtime_abbr %> Controller | TCP | 8443 | httpsca| 
| vRealize Operations Manager | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca| 
| Admin/Operator Console | vRealize LogInsight | TCP | 443 | https| 
| Kubernetes Cluster Ingress Controller | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Kubernetes Cluster Control Plane/Etcd Node | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Kubernetes Cluster Control Plane/Etcd Node | vRealize LogInsight | TCP | 9543 | ingestion api -tls| 
| Kubernetes Cluster Worker Node | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Kubernetes Cluster Worker Node | vRealize LogInsight | TCP | 9543 | ingestion api -tls| 
<% if current_page.data.netenv == "nsxt" %>
| NSX-T Manager/Controller Node | vRealize LogInsight | TCP | 9000 | ingestion api| 
<% else %>
<% end %>
| <%= vars.k8s_runtime_abbr %> Controller | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Admin/Operator and Developer Consoles | Wavefront SaaS APM | TCP | 443 | https| 
| kube-system pod/wavefront-proxy | Wavefront SaaS APM | TCP | 443 | https| 
| kube-system pod/wavefront-proxy | Wavefront SaaS APM | TCP | 8443 | httpsca| 
| pks-system pod/wavefront-collector | <%= vars.k8s_runtime_abbr %> Controller | TCP | 24224 | fluentd out_forward| 
| Admin/Operator Console | vRealize Network Insight Platform | TCP | 443 | https| 
| Admin/Operator Console | vRealize Network Insight Proxy | TCP | 22 | ssh| 
| vRealize Network Insight Proxy | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca| 
<% if current_page.data.netenv == "nsxt" %>
| vRealize Network Insight Proxy | NSX-T API VIP | TCP | 22 | ssh| 
| vRealize Network Insight Proxy | NSX-T API VIP | TCP | 443 | https| 
<% else %>
<% end %>
| vRealize Network Insight Proxy | <%= vars.k8s_runtime_abbr %> Controller | TCP | 8443 | httpsca| 
| vRealize Network Insight Proxy | <%= vars.k8s_runtime_abbr %> Controller | TCP | 9021 | tkgi api server|
