Before you use BBR to either back up <%= vars.k8s_runtime_abbr %> or restore <%= vars.k8s_runtime_abbr %> from backup,
follow these steps to retrieve deployment information and credentials:

* [Verify your BBR Version](#verify-bbr-version)
* [Retrieve the BBR SSH Credentials](#bbr-ssh-creds)
* [Retrieve the BOSH Director Credentials](#bosh-creds)
* [Retrieve the UAA Client Credentials](#cluster-creds)
* [Retrieve the BOSH Director Address](#bosh-address)
* [Download the Root CA Certificate](#root-ca-cert)
* [Retrieve the BOSH Command Line Credentials](#bosh-cli-creds)
* [Retrieve Your Cluster Deployment Names](#cluster-deployment-name)

### <a id='verify-bbr-version'></a> Verify Your BBR Version

Before running BBR, verify that the installed version of BBR is compatible with your deployment's current <%= vars.product_short %> release.

1. For your current <%= vars.product_short %> release's minimum version information, see the [<%= vars.product_short %> Release Notes](release-notes.html).  

1. To verify the currently installed BBR version, run the following command:

    ```
    bbr version  
    ```

If you do not have BBR installed, or your installed version does not meet the minimum version requirement, 
see [Installing BOSH Backup and Restore](bbr-install.html).  

### <a id='bbr-ssh-creds'></a> Retrieve the BBR SSH Credentials

There are two ways to retrieve BOSH Director credentials:

* [Ops Manager Installation Dashboard](#bbr-ssh-creds-via-ui)
* [Ops Manager API](#bbr-ssh-creds-via-api)

#### <a id='bbr-ssh-creds-via-ui'></a> Ops Manager Installation Dashboard

To retrieve your **Bbr Ssh Credentials** using the Ops Manager Installation Dashboard, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the BOSH Director tile.
1. Click the **Credentials** tab.

1. Locate **Bbr Ssh Credentials**.
1. Click **Link to Credentials** next to it.
1. Copy the `private_key_pem` field value.

#### <a id='bbr-ssh-creds-via-api'></a> Ops Manager API

To retrieve your **Bbr Ssh Credentials** using the Ops Manager API, perform the following steps:

1. Obtain your UAA access token. For more information, 
see [Access the Ops Manager API](https://docs.pivotal.io/ops-manager/2-9/install/ops-man-api.html#access).
1. Retrieve the **Bbr Ssh Credentials** by running the following command:

    ```
    curl "https://OPS-MAN-FQDN/api/v0/deployed/director/credentials/bbr_ssh_credentials" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    * `OPS-MAN-FQDN` is the fully-qualified domain name (FQDN) for your Ops Manager deployment.
    * `UAA-ACCESS-TOKEN` is your UAA access token.

1. Copy the value of the `private_key_pem` field.

#### <a id='bbr-ssh-creds-save'></a> Save the BBR SSH Credentials to File
1. To reformat the copied `private_key_pem` value and save it to a file in the current directory, run the following command:

    ```
    printf -- "YOUR-PRIVATE-KEY" > PRIVATE-KEY-FILE
    ```
    Where:
    * `YOUR-PRIVATE-KEY` is the text of your private key.
    * `PRIVATE-KEY-FILE` is the path to the private key file you are creating.

    For example:
    <pre class="terminal">
    $ printf --  "-----begin rsa private key----- fake key contents ----end rsa private key-----" > bbr_key.pem
    </pre>

### <a id='bosh-creds'></a> Retrieve the BOSH Director Credentials

There are two ways to retrieve BOSH Director credentials:

* [Ops Manager Installation Dashboard](#bosh-creds-via-ui)
* [Ops Manager API](#bosh-creds-via-api)

#### <a id='bosh-creds-via-ui'></a> Ops Manager Installation Dashboard

To retrieve your BOSH Director credentials using the Ops Manager Installation Dashboard, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the BOSH Director tile.
1. Click the **Credentials** tab.

1. Locate **Director Credentials**.
1. Click **Link to Credentials** next to it.
1. Copy and record the value of the `password` field.

#### <a id='bosh-creds-via-api'></a> Ops Manager API

To retrieve your BOSH Director credentials using the Ops Manager API, perform the following steps:

1. Obtain your UAA access token. For more information, see 
[Access the Ops Manager API](https://docs.pivotal.io/ops-manager/2-9/install/ops-man-api.html#access).
1. Retrieve the **Director Credentials** by running the following command:

    ```
    curl "https://OPS-MAN-FQDN/api/v0/deployed/director/credentials/bbr_ssh_credentials" \
    -X GET \
    -H "Authorization: Bearer UAA-ACCESS-TOKEN"
    ```
    Where:
    `OPS-MAN-FQDN` is the fully-qualified domain name (FQDN) for your Ops Manager deployment.
    `UAA-ACCESS-TOKEN` is your UAA access token.

1. Copy and record the value of the `password` field.

### <a id='cluster-creds'></a> Retrieve the UAA Client Credentials

To obtain BOSH credentials for your BBR operations, perform the following steps:

1. From the Ops Manager Installation Dashboard, click the **<%= vars.product_tile %>** tile.
1. Select the **Credentials** tab.
1. Navigate to **Credentials > UAA Client Credentials**.
1. Record the value for `uaa_client_secret`.
1. Record the value for `uaa_client_name`.

<p class="note"><strong>Note</strong>: You must use BOSH credentials that limit the scope of BBR activity to your cluster deployments.</p>

### <a id='bosh-address'></a> Retrieve the BOSH Director Address

You access the BOSH Director using an IP address.

To obtain your BOSH Director's IP address:

1. Open the Ops Manager Installation Dashboard.  
1. Select **BOSH Director > Status**.  
1. Select the listed Director IP Address.  

#### <a id='bosh-address-log-in'></a> Log In To BOSH Director
1. If you are not using the Ops Manager VM as your jumpbox, install the latest [BOSH CLI](https://bosh.io/docs/cli-v2.html#install) on your jumpbox.
1. To log in to BOSH Director, using the IP address that you recorded above, run the following command line:

    ```
    bosh -e BOSH-DIRECTOR-IP \
    --ca-cert PATH-TO-BOSH-SERVER-CERTIFICATE log-in
    ```

    Where:
    * `BOSH-DIRECTOR-IP` is the BOSH Director IP address recorded above.
    * `PATH-TO-BOSH-SERVER-CERTIFICATE` is the path to the root Certificate Authority (CA) certificate 
    as outlined in [Download the Root CA Certificate](#root-ca-cert).

1. To specify **Email**, specify `director`.
1. To specify **Password**, enter the **Director Credentials** that you obtained in
   [Retrieve the BOSH Director Credentials](#bosh-creds).

     For example:
     <pre class='terminal'>
     $ bosh -e 10.0.0.3 \
     --ca-cert /var/tempest/workspaces/default/root\_ca\_certificate log-in
     Email (): director
     Password (): *******************
     Successfully authenticated with UAA
     Succeeded
     </pre>

### <a id='root-ca-cert'></a> Download the Root CA Certificate
To download the root CA certificate for your <%= vars.product_short %> deployment, 
perform the following steps:

1. Open the Ops Manager Installation Dashboard.
1. In the top right corner, click your username.
1. Navigate to **Settings** > **Advanced**.
1. Click **Download Root CA Cert**.

### <a id='bosh-cli-creds'></a> Retrieve the BOSH Command Line Credentials

1. Open the Ops Manager Installation Dashboard.
1. Click the **BOSH Director** tile.
1. In the BOSH Director tile, click the **Credentials** tab.
1. Navigate to **Bosh Commandline Credentials**.
1. Click **Link to Credential**.
1. Copy the credential value.

### <a id='cluster-deployment-name'></a> Retrieve Your Cluster Deployment Names

To locate and record a cluster deployment name, follow the steps below for each cluster:

1. <%= partial 'login-api' %>

1. Identify the cluster ID:

    ```
    tkgi cluster CLUSTER-NAME
    ```
    Where `CLUSTER-NAME` is the name of your cluster. 

1. From the output of this command, record the **UUID** value.

1. Open the Ops Manager Installation Dashboard.
1. Click the **BOSH Director** tile.

1. Select the **Credentials** tab.

1. Navigate to **Bosh Commandline Credentials** and click **Link to Credential**.

1. Copy the credential value.

1. SSH into your jumpbox. For more information about the jumpbox, see [Installing BOSH Backup and Restore](bbr-install.html#jumpbox-setup).

1. To retrieve your cluster deployment name, run the following command:

    ```
    BOSH-CLI-CREDENTIALS deployments | grep UUID
    ```
    Where:  
    * `BOSH-CLI-CREDENTIALS` is the full value that you copied from the BOSH Director tile 
    in [Retrieve the BOSH Command Line Credentials](bbr-backup.html#bosh-cli-creds).  
    * `UUID` is the cluster UUID that you recorded in the previous step.  
<br>
