For each job, review the automatic values in the following fields:
  * **INSTANCES**: <%= vars.product_short %> defaults to the minimum configuration.
  If you want a highly available configuration, scale the number of VM instances as follows:
      1. To configure your <%= vars.product_short %> database for high availability,
      increase the **INSTANCES** value for **<%= vars.control_plane_db %>** to `3`.
      1. To configure your <%= vars.product_short %> API and UAA for high availability,
      increase the **INSTANCES** value for **<%= vars.control_plane %>** to `2` or more.
  * **VM TYPE**: By default, the **<%= vars.control_plane_db %>** and **<%= vars.control_plane %>** jobs are set to the same automatic VM type.
  If you want to adjust this value, we recommend that you select the same VM type for both jobs.
    <p class="note"><strong>Note:</strong> The automatic <strong>VM TYPE</strong> values match the recommended resource configuration for the <strong><%= vars.control_plane %></strong>
    and <strong><%= vars.control_plane_db %></strong> jobs.
    </p>
  * **PERSISTENT DISK TYPE**: By default, the **<%= vars.control_plane_db %>** and **<%= vars.control_plane %>** jobs are set to the same persistent disk type.
  If you want to adjust this value, you can change the persistent disk type for each of the jobs independently.
  Using the same persistent disk type for both jobs is not required.
  
