For each job, review the **Automatic** values in the following fields:
  * **INSTANCES**: <%= vars.product_short %> defaults to the minimum configuration.
  If you want a highly available configuration (beta), scale the number of VM instances as follows:  
      1. To configure your <%= vars.product_short %> database for high availability (beta),
      increase the **INSTANCES** value for **<%= vars.control_plane_db %>** to `3`.  
      1. To configure your <%= vars.product_short %> API and UAA for high availability (beta),
      increase the **INSTANCES** value for **<%= vars.control_plane %>** to `2` or more.  
      <p class="note warning"><strong>Warning:</strong> High availability mode is a beta feature. Do not scale your <strong>TKGI API</strong> or <strong>TKGI Database</strong> to more than one instance in production environments.</p>
      <% if current_page.data.iaas == "Azure" %>
        <p class="note"><strong>Note</strong>: On Azure, you must reconfigure your 
        <%= vars.control_plane %> load balancer backend pool 
        whenever you modify your <%= vars.control_plane %> VM group. 
        For more information about configuring your <%= vars.control_plane %> 
        load balancer backend pool, see 
        <a href="azure-api-load-balancer.html#create-load-balancer">Create a Load Balancer</a> 
        in <i>Configuring an Azure Load Balancer for the TKGI API</i>.
        </p>
      <% end %>
      <% if current_page.data.iaas == "vSphere-NSX-T" %>
        <p class="note"><strong>Note</strong>: On vSphere with NSX-T, you must manually deploy 
        an NSX-T load balancer so that you can select it as part of the resource configuration.
        For more information, see 
        <a href="nsxt-lb-tkgi-api.html">Provisioning an NSX-T Load Balancer for the TKGI API Server</a>.
        </p>  
      <% end %>
  * **VM TYPE**: By default, the **<%= vars.control_plane_db %>** and **<%= vars.control_plane %>** jobs are set to the same **Automatic** VM type.
  If you want to adjust this value, we recommend that you select the same VM type for both jobs.  
    <p class="note"><strong>Note:</strong> The <strong>Automatic</strong> <strong>VM TYPE</strong> values match the recommended resource configuration for the <strong><%= vars.control_plane %></strong>
    and <strong><%= vars.control_plane_db %></strong> jobs.
    </p>
  * **PERSISTENT DISK TYPE**: By default, the **<%= vars.control_plane_db %>** and **<%= vars.control_plane %>** jobs are set to the same persistent disk type.
  If you want to adjust this value, you can change the persistent disk type for each of the jobs independently.
  Using the same persistent disk type for both jobs is not required.  