<div class="note warning"><strong>Warning:</strong><br><br> 	
    <ul>	
        <li>High availability mode is a beta feature.	
        Do not scale your <strong>TKGI API</strong> or <strong>TKGI Database</strong> to more than one instance in production environments.</li>	
        <li>Configure <%= vars.product_short %> for high availability 	
        only after completing the <%= vars.product_short %> v1.7 upgrade.</p>	
        </li>	
    </ul>	
</div>	

1. In the **<%= vars.product_tile %>** tile, click **Resource Config**.	

1. To configure your <%= vars.product_short %> database for high availability (HA), 	
increase the **INSTANCES** value for **<%= vars.control_plane_db %>** to `3`.	
1. To configure your <%= vars.product_short %> API and UAA for HA,	
increase the **INSTANCES** value for **<%= vars.control_plane %>** to `2` or more.	
    <p class="note"><strong>Note</strong>: On Azure, you must reconfigure your 	
    <%= vars.control_plane %> load balancer backend pool 	
    whenever you modify your <%= vars.control_plane %> VM group. 	
    For more information about configuring your <%= vars.control_plane %> 	
    load balancer backend pool, see 	
    <a href="azure-api-load-balancer.html#configure-backend-pool">Configure a Load Balancer Backend Pool</a> 	
    in <i>Configuring an Azure Load Balancer for the TKGI API</i>.	
    </p>	
1. Click **Save**.	

1. Click **Apply Changes**.
