If desired, scale components of your <%= vars.product_short %> 
control plane to high availability mode.  

<% if current_page.data.topictype=="vsphereupgrade" || current_page.data.topictype=="vspherewithnsxtupgrade" %>
<p class="note"><strong>Note:</strong> Configure <%= vars.product_short %> for high availability 
only after completing the <%= vars.product_short %> v1.7 upgrade.</p>
<% else %>
<p class="note"><strong>Note:</strong> Configure <%= vars.product_short %> for high availability 
only after completing the <a href="#apply-changes">Apply Changes</a> step above.</p>
<% end %> 

To configure your control plane for high availability, perform the following steps:  

1. In the **<%= vars.product_tile %>** tile, click **Resource Config**.

1. To configure your control plane MySQL database for high availability, 
increase the **Pivotal Container Service Database** **Instances** value to `3`.  

1. To configure your control plane services, such as UAA and PKS CLI, for high availability, 
increase the **Pivotal Container Service Control Plane** **Instances** value to `2` or more.

1. Click **Save**.

1. Click **Apply Changes**.    

<%= vars.product_short %> scales the control plane MySQL database to a highly available, 
three-VM cluster, without interrupting <%= vars.product_short %> functions.  