If desired, scale components of your <%= vars.product_short %> 
control plane to high availability mode.  

<p class="note"><strong>Note:</strong> Configure the control plane database for high availability 
only after completing the <%= vars.product_short %> v1.7 upgrade.</p>

To configure your control plane database for high availability, perform the following steps:  

1. In the **<%= vars.product_tile %>** tile, click **Resource Config**.

1. For **Pivotal Container Service Database**, increase the **Instances** value to `3`.

1. Click **Save**.

1. Click **Apply Changes**.  

<%= vars.product_short %> scales the MySQL database to a high availability, three-VM cluster 
mode without interrupting <%= vars.product_short %> functions.  
