IaaSs provide the ability for customers to "tag" VMs, databases and other resources with custom labels and metadata values. 
Apply one or more tags to your clusters to simplify organizing, managing, searching for, and filtering resources within your IaaS-provided management console and other tools.  

<% if current_page.data.pkscommand == "create" %>
If your <%= vars.product_short %> deployment is on:

* **AWS**: You must tag your subnets with your new cluster's unique identifier before adding the subnets to the 
<%= vars.product_short %> workload load balancer. 
After you complete the [Create a Kubernetes Cluster](#create) procedure above, 
follow the instructions in [AWS Prerequisites](./deploy-workloads.html#aws) in _Deploying and Exposing Basic Linux Workloads_.
* **Azure**: You can use the PKS CLI to tag your clusters by following the steps in 
[Tag Your Clusters Using the PKS CLI](#tagging-cli), below.  
* **GCP**, **vSphere** or **vSphere with NSX-T**: You can tag your clusters using your IaaS-provided management console.  
<% else %>
If your <%= vars.product_short %> deployment is on Azure, you can use the PKS CLI to tag your clusters by following the steps in 
[Tag Your Clusters Using the PKS CLI](#tagging-cli), below.
<% end %> 

#### <a id='tagging-cli'></a>Tag Your Clusters Using the PKS CLI 

To apply tags to your cluster's VMs, include the `--tags` parameter in your 
`pks <%= current_page.data.pkscommand %>-cluster` command line, 
and specify the desired tags as a comma-delimited list of `key:value` pairs. 

For example:

<% if current_page.data.pkscommand == "create" %>
<pre class="terminal">
$ pks create-cluster my-cluster --tags "status:billable"
$ pks create-cluster my-cluster --tags "status:non-billable,region:northwest"
$ pks create-cluster my-cluster --tags "client:example.com, costcenter:pettycash"
</pre>
<% else %>
<pre class="terminal">
$ pks update-cluster my-cluster --tags "client:tinymegacorp"
$ pks update-cluster my-cluster --tags "client:example.com,costcenter:pettycash"
$ pks update-cluster my-cluster --tags "status:non-billable, region:northwest"
</pre>
<% end %> 
<p class="note"><strong>Note</strong>: <%= vars.product_short %> supports tagging on Azure only.
</p>

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Cluster tagging requires Ops Manager v2.8.0 or later.
</p>
<% if current_page.data.pkscommand == "update" %>
When you modify tags using <code>pks update-cluster</code> all of the cluster's 
existing tags are completely overwritten:  

* To add or modify a tag, re-specify the complete 
list of all of the cluster's existing tags, modified with the desired changes. 
* To remove a tag, re-specify the complete 
list of all of the cluster's existing tags without the item to be removed.  

<p class="note"><strong>Note:</strong> To determine a cluster's existing 
tags use <code>pks cluster</code>. 
For information on <code>pks cluster</code> see <a href="#tagging-review">Review Your Tags</a>, below.
</p>
<% end %> 

#### <a id='tagging-review'></a>Review Your Tags

To review the tags applied to a cluster, run `pks cluster`. 

For example:
<pre class="terminal">$ pks cluster my-cluster
Name:                     my-cluster
Plan Name:                large
UUID:                     01a234bc-d56e-7f89-01a2-3b4cde5f6789
Last Action:              CREATE
Last Action State:        succeeded
Last Action Description:  Instance provisioning completed
Kubernetes Master Host:   my-cluster.example.com
Kubernetes Master Port:   8443
Worker Instances:         3
Kubernetes Master IP(s):  192.168.20.7
Tags:                     client:tinymegacorp  costcenter:pettycash
</pre>

<p class="note"><strong>Note:</strong> The <code>pks cluster</code> function returns 
only the custom tags you've applied to the cluster using the PKS CLI.
Your IaaS-provided management console will display both the custom tags you've applied
and the <%= vars.product_short %>-generated system tags. 
Do not use the management console to modify your custom tags.
</p>