<% if current_page.data.iaas != "GCP" %>
Tanzu Mission Control integration lets you monitor and manage
<%= vars.product_tile %> clusters from the Tanzu Mission Control console,
which makes the Tanzu Mission Control console a single point of control
for all Kubernetes clusters. For more information about Tanzu Mission Control, see the <a href="https://tanzu.vmware.com/mission-control">VMware Tanzu Mission Control</a> home page.

To integrate <%= vars.product_short %> with Tanzu Mission Control:

1. Confirm that the <%= vars.control_plane %> VM has internet access and
can connect to `cna.tmc.cloud.vmware.com` and the other outbound URLs listed in
the [What Happens When You Attach a Cluster](https://docs-staging.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-147472ED-16BB-4AAA-9C35-A951C5ADA88A.html) section of the Tanzu Mission Control Product
documentation.

1. Navigate to the **<%= vars.product_tile %>** tile > the **Tanzu Mission Control** pane and
select **Yes** under **Tanzu Mission Control Integration**.

    <img src="images/tmc-integration.png" alt="Tanzu Mission Control Integration">

1. Configure the fields below:
  - **Tanzu Mission Control URL**: Enter the Org URL of your Tanzu Mission Control subscription,
  without a trailing slash (`/`). For example, `YOUR-ORG.tmc.cloud.vmware.com`.
  - **VMware Cloud Services API token**: Enter your API token to authenticate with VMware Cloud Services APIs.
  You can retrieve this token by logging in to [VMware Cloud Services](https://cloud.vmware.com/) and
  viewing your account information.
  - **Tanzu Mission Control Cluster Group**: Enter the name of a Tanzu Mission Control cluster group.
  <br><br>
      The name can be `default` or another value, depending on your role and access policy:
      - `Org Member` users in VMware cloud services have a `service.admin` role in Tanzu Mission Control.
      These users:
          - By default, can create and attach clusters only in the `default` cluster group.
          - Can create and attach clusters to other cluster groups after an `organization.admin` user grants them the `clustergroup.admin` or `clustergroup.edit` role for those groups.
      - `Org Owner` users in VMware cloud services have `organization.admin` permissions in Tanzu Mission Control.
      These users:
          - Can create cluster groups.
          - Can grant `clustergroup` roles to `service.admin` users through the Tanzu Mission Control Access Policy view.

          For more information about role and access policy,
          see  [Access Control](https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-concepts/GUID-EB9C6D83-1132-444F-8218-F264E43F25BD.html) in the VMware Tanzu Mission Control Product documentation.
  <br><br>
  - **Tanzu Mission Control Cluster Name Prefix**: Enter a name prefix for identifying the <%= vars.product_short %> clusters in Tanzu Mission Control.
1. Click **Save**.

<p class="note warning"><strong>Warning:</strong> After the <%= vars.product_tile %> tile is deployed with a configured cluster group, the cluster group cannot be updated.</p>

<p class="note"><strong>Note:</strong> When you upgrade your Kubernetes clusters and have Tanzu Mission Control integration enabled,
existing clusters will be attached to Tanzu Mission Control.</p>

<% else %>
<%= vars.product_short %> does not support Tanzu Mission Control integration on GCP.
Skip this configuration pane.
<% end %>
