Participants in the VMware Tanzu Mission Control beta program can use the **Tanzu Mission Control (Experimental)** pane of the <%= vars.product_tile %> tile to integrate their <%= vars.product_short %> deployment with Tanzu Mission Control.

Tanzu Mission Control integration lets you monitor and manage <%= vars.product_tile %> clusters from the Tanzu Mission Control console,
making the Tanzu Mission Control console a single point of control for all Kubernetes clusters.

  <img src="images/tmc-integration.png" alt="Tanzu Mission Control Integration" width="675">

<p class="note warning"><strong>Important:</strong> VMware Tanzu Mission Control is currently experimental Beta software and is intended for evaluation and test purposes only. For more information about Tanzu Mission Control, see the <a href="https://cloud.vmware.com/tanzu-mission-control" target="_blank">VMware Tanzu Mission Control home page</a>.</p> 

#### Integrate Tanzu Mission Control

To integrate <%= vars.product_short %> with Tanzu Mission Control:

1. Ensure that the PKS Control Plane VM has internet access and can connect to `cna.tmc.cloud.vmware.com`.

1. In the <%= vars.product_tile %> tile **Tanzu Mission Control (Experimental)** pane, select Select **Yes** under **Tanzu Mission Control Integration**

1. Configure the fields below:
  - **Tanzu Mission Control URL**: Enter the API URL of your Tanzu Mission Control subscription, without a trailing slash (`/`).
  - **VMware Cloud Services API token**: Enter your API token to authenticate with VMware Cloud Services APIs.
      - Retrieve this token by logging into [VMware Cloud Services](https://cloud.vmware.com/) and viewing your account information.
  - **Tanzu Mission Control Cluster Group**: Enter the Tanzu Mission Control cluster group. Possible values depend on your role and access policy:
      - `Org Member` users in VMware cloud services have a `service.admin` role in Tanzu Mission Control. These users:
          - By default, can only create and attach clusters in the `default` cluster group.
          - Can create new cluster groups after an `organization.admin` user grants them the `clustergroup.admin` or `clustergroup.edit` role.
      - VMware cloud services `Org Owner` users have `organization.admin` permissions in Tanzu Mission Control. These users:
          - Can create cluster groups.
          - Can grant `clustergroup` roles to `service.admin` users through the Tanzu Mission Control Access Policy view.
  - **Tanzu Mission Control Cluster Name Prefix**: Enter a name prefix for identifying the PKS clusters in Tanzu Mission Control.
      - This name prefix cannot contain uppercase letters.

<p class="note warning"><strong>Important:</strong> Once the tile is deployed with a configured cluster group, the cluster group cannot be updated.</p> 

<p class="note"><strong>Note</strong>: When you upgrade your Kubernetes clusters and have Tanzu Mission Control Integration enabled, existing clusters will be attached to Tanzu Mission Control.</p>
