Before creating <%= vars.k8s_runtime_abbr %> users, you must log in to the UAA server as a UAA admin. To log in to the UAA server, do the following:

1. Retrieve the UAA management admin client secret:

  1. In a web browser, navigate to the Ops Manager **Installation Dashboard** and click the **<%= vars.product_tile %>** tile.

  1. Click the **Credentials** tab.

  1. Click **Link to Credential** next to **Pks Uaa Management Admin Client** and copy the value of<br> `secret`.

1. Target your UAA server by running the following command:

    ```
    uaac target https://TKGI-API:8443 --ca-cert CERTIFICATE-PATH
    ```

    Where:  
    * `TKGI-API` is the domain name of your <%= vars.control_plane %> server. You entered this domain name in the **<%= vars.product_tile %>** tile > **<%= vars.control_plane %>** > **API Hostname (FQDN)**.  
    * `CERTIFICATE-PATH` is the path to your Ops Manager root CA certificate. Provide this certificate to validate the <%= vars.control_plane %> certificate with SSL.  
      * If you are logged in to the Ops Manager VM, specify `/var/tempest/workspaces/default/root_ca_certificate` as the path. This is the default location of the root certificate on the Ops Manager VM.  
      * If you downloaded the Ops Manager root CA certificate to your machine, specify the path where you stored the certificate.  
    
      For example:  
      <pre class="terminal">$ uaac target api.tkgi.example.com:8443 --ca-cert /var/tempest/workspaces/default/root_ca_certificate</pre>
      <p class="note"><strong>Note</strong>: If you receive an <code>Unknown key: Max-Age = 86400</code> warning message, you can ignore it because it has no impact.</p>

1. Authenticate with UAA by running the following command:

    ```
    uaac token client get admin -s ADMIN-CLIENT-SECRET
    ```
    Where `ADMIN-CLIENT-SECRET` is your UAA management admin client secret that you retrieved in a previous step. The client username is `admin`.
