To configure VMware’s Customer Experience Improvement Program (CEIP) and the Pivotal Telemetry Program (Telemetry), do the following:

1. Click **CEIP and Telemetry**.
1. Review the information about the CEIP and Telemetry.
  ![CEIP and Telemetry pane](images/ceip-telemetry.png)
  [View a larger version of this image.](images/ceip-telemetry.png)
1. Choose your participation by selecting one of the below. For more information, see [Participation Levels](telemetry.html#participation) in _Telemetry_.
  * **None:** If you select this option, data is not collected from your <%= vars.product_short %> installation.
  * (Default) **Standard:** If you select this option, data is collected from your <%= vars.product_short %> installation to improve <%= vars.product_short %>. This participation level is anonymous and does not permit the CEIP and Telemetry to identify your organization.
  * **Enhanced:** If you select this option, data is collected from your <%= vars.product_short %> installation to provide you proactive support and other benefits. This participation level permits the CEIP and Telemetry to identify your organization.
1. If you selected the **Enhanced** participation level, enter your VMware account number or Pivotal customer number:
  * If you are a VMware customer, you can find this information in your **Account Summary** on [my.vmware.com](https://my.vmware.com).
  * If you are a Pivotal customer, you can find this information in your Order Confirmation email.
1. Select your PKS installation type.
1. Click **Save**.

<p class="note"><strong>Note:</strong> If you join the CEIP and Telemetry Program for <%= vars.product_short %>, open your firewall to allow outgoing access to <code>https://vcsa.vmware.com/ph</code> on port <code>443</code>.</p>
<p class="note"><strong>Note:</strong> Even if you select <strong>None</strong>, <%= vars.product_short %>-provisioned clusters send usage data to the PKS control plane. However, this data is not sent to VMware or Pivotal and remains on your <%= vars.product_short %> installation.</p>
