<%= vars.product_short %>-provisioned clusters send usage data to the <%= vars.k8s_runtime_abbr %> control plane. 
The collected cluster usage data is stored by the control plane.  

<%= vars.product_short %> provides VMware Customer Experience Improvement Program (CEIP) and Telemetry Program options 
to send the collected usage data to VMware to improve customer experience.  

To configure <%= vars.product_short %> CEIP and Telemetry Program settings:

1. Click **CEIP and Telemetry**.
1. Review the information about the CEIP and Telemetry.
1. To specify your level of participation in the CEIP and Telemetry program, select one of the **Participation Level** options:  
  * **None:** If you select this option, the data collected by <%= vars.product_short %> is not sent to VMware. 
  * (Default) **Standard:** If you select this option, the data collected by <%= vars.product_short %> is sent to VMware 
  anonymously. 
  This anonymous participation level does not permit the CEIP and Telemetry to identify your organization.
  * **Enhanced:** If you select this option, the data collected by <%= vars.product_short %> is sent to VMware. 
  This participation level permits the CEIP and Telemetry to identify your organization.  
<br>
<% if current_page.data.thistopic =="wizard" %>
  For more information about the CEIP and Telemetry participation levels, see [Participation Levels](./telemetry.html#participation) in _Telemetry_. 
<% else %>
  For more information about the CEIP and Telemetry participation levels, see [Participation Levels](telemetry.html#participation) in _Telemetry_. 
<% end %> 
1. If you selected the **Enhanced** participation level, complete the following:
  * Enter your account number or customer number in the **VMware Account Number or Pivotal Customer Number** field: 
      * If you are a VMware customer, you can find your VMware Account Number in your **Account Summary** on [my.vmware.com](https://my.vmware.com). 
      * If you started as a Pivotal customer, you can find your Customer Number in your Order Confirmation email.
  * (Optional) Enter a descriptive name for your <%= vars.k8s_runtime_abbr %> installation in the **<%= vars.k8s_runtime_abbr %> Installation Label** field. 
  The label you assign to this installation will be used in telemetry reports to identify the environment.  
1. To provide information about the purpose for this installation, select an option in the **<%= vars.k8s_runtime_abbr %> Installation Type** list.  
  ![CEIP and Telemetry installation type](/images/ceip-telemetry-type.png)
1. Click **Save**.

<p class="note"><strong>Note:</strong> If you join the CEIP and Telemetry Program for <%= vars.product_short %>, open your firewall to allow outgoing access to 
	<code>https://vcsa.vmware.com/ph</code> on port <code>443</code>.</p>
