---
title: Enabling and Using Admission Control Plugins for Enterprise PKS Clusters
owner: PKS
---
<%= vars.vmware_attribution %>

<strong><%= modified_date %></strong>

This section describes how to enable and use admission control plugins for <%= vars.product_full %> clusters. 

<%= vars.product_short %> supports three admission control plugins. See the following topics for details on each:

<ul>
  <li>
	  <a href="./pod-security-policy.html">Enabling the PodSecurityPolicy Admission Plugin for <%= vars.product_short %> Clusters</a> and Using Pod Security Polices
  </li>
  <li>
	  <a href="./deny-escalating-execution.html">Enabling the DenyEscalatingExec Admission Plugin for <%= vars.product_short %> Clusters</a>
  </li>
  <li>
	  <a href="./security-context-deny.html">Enabling the SecurityContextDeny Admission Plugin for <%= vars.product_short %> Clusters</a>
  </li>
</ul>
