---
title: Enabling and Using Admission Control Plugins for Enterprise PKS Clusters
owner: PKS
---
<%= vars.vmware_attribution %>

<strong><%= modified_date %></strong>

This section describes how to enable and use admission control plugins for <%= vars.product_full %> clusters. For more information about Admission Controllers, see [Using Admission Controllers](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/) in the Kubernetes documentation.

<%= vars.product_short %> supports three admission control plugins. See the following topics for details on each:

<ul>
  <li>
	  <a href="./pod-security-policy.html">Enabling the PodSecurityPolicy Admission Plugin for <%= vars.product_short %> Clusters and Using Pod Security Polices</a>
  </li>
  <li>
	  <a href="./deny-escalating-execution.html">Enabling the DenyEscalatingExec Admission Plugin for <%= vars.product_short %> Clusters</a>
  </li>
  <li>
	  <a href="./security-context-deny.html">Enabling the SecurityContextDeny Admission Plugin for <%= vars.product_short %> Clusters</a>
  </li>
</ul>

##<a id='admission-plugin-disable'></a> Disabling an Admission Plugin

To disable an Admission Plugin, run the following cURL command using the Ops Manager CLI. In this example, `30.0.0.5` is the IP address of the Ops Manager VM.

```
om -t 30.0.0.5 -u <ops man user> -p <ops man password> -k curl -p /api/v0/staged/products/pivotal-container-service-guid/properties -x PUT -d '{"properties": {".properties.plan1_selector.active.admission_plugins":{"value":[]}}}' -H "Content-Type: application/json"
```

