---
title: Using Admission Control Plugins for Tanzu Kubernetes Grid Integrated Edition Clusters
owner: TKGI
---

The topics below describe how to manage and use admission control plugins for <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) clusters.  

For more information about Admission Controllers, see [Using Admission Controllers](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/) in the Kubernetes documentation.

For details on the admission control plugins supported by <%= vars.k8s_runtime_abbr %>, see:  

<ul>
  <li>
	  <a href="./pod-security-admission.html">Enabling the PodSecurityPolicy Admission Plugin for <%= vars.product_short %> Clusters and Using Pod Security Polices</a>
  </li>
  <li>
	  <a href="./security-context-deny.html">Enabling the SecurityContextDeny Admission Plugin for <%= vars.product_short %> Clusters</a>
  </li>
</ul>
    <p class="note"><strong>Note</strong>:The Kubernetes community has deprecated the SecurityContextDeny admission controller and support for SecurityContextDeny has been entirely removed in Kubernetes v1.27. Pod security admission (PSA) is the preferred method for providing a more secure Kubernetes environment. For more information about PSA, see <a href="pod-security-admission.html">Pod Security Admission in <%= vars.k8s_runtime_abbr %></a>.
    </p>
To deactivate an admission control plugin, see:

<ul>
  <li>
	  <a href="./admission-plugins-disable.html">Deactivating Admission Control Plugins for <%= vars.product_short %> Clusters</a>
  </li>  
</ul>

