---
title: Setting Up Tanzu Kubernetes Grid Integrated Edition Admin Users on AWS
owner: TKGI
iaas: AWS
---

This topic describes how to create admin users in <%= vars.product_full %> with User Account and Authentication (UAA).
Creating at least one admin user is a necessary step during the initial set up of <%= vars.product_short %>.

## <a id='overview'></a> Overview

UAA is the identity management service for <%= vars.product_short %>. 
<%= vars.product_short %> includes a UAA server, which is hosted on the <%= vars.control_plane %> VM.

To interact with the UAA server, you can use the UAA Command Line Interface (UAAC).
You can either run UAAC commands from the Ops Manager VM or install UAAC on your local workstation.

## <a id='prerequisites'></a> Prerequisites

Before setting up admin users for <%= vars.product_short %>, you must have one of the following:

* SSH access to the Ops Manager VM

* A machine that can connect to your <%= vars.control_plane %> VM

## <a id='connect'></a>Step 1: Connect to the <%= vars.control_plane %> VM

You can connect to the <%= vars.control_plane %> VM from the Ops Manager VM or from a different machine such as your local workstation.

### <a name='ssh-aws'></a>Option 1: Connect through the Ops Manager VM

You can connect to the <%= vars.control_plane %> VM by logging in to the Ops Manager VM through SSH.
To SSH into the Ops Manager VM on AWS, do the following:

1. Retrieve the key pair you used when you
created the Ops Manager VM. To see the name of the key pair:
  
  1. In the AWS console, click the Ops Manager VM
  1. Locate the `key pair name` in the properties.

1. On the AWS **EC2 instances** page, locate the Ops Manager FQDN.

1. Change the permissions on the `.pem` file to be more restrictive by running the `chmod 600` command. For example:

    <pre class="terminal">
    $ chmod 600 ops_mgr.pem  
    </pre>

1. SSH into the Ops Manager VM by running the following command:

    ```
    ssh -i ops_mgr.pem ubuntu@OPS-MANAGER-FQDN
    ```
    Where `OPS-MANAGER-FQDN` is the FQDN of Ops Manager. For example:

    <pre class="terminal">
    $ ssh -i ops_mgr.pem ubuntu@my-opsmanager-fqdn.example.com  
    </pre>

1. Proceed to the [Log In as a UAA Admin](#uaa-admin-login) section to manage users with UAAC.

### <a name='local-workstation'></a>Option 2: Connect through a Non-Ops Manager Machine

To connect to the <%= vars.control_plane %> VM and run UAA commands, do the following:

1. Install UAAC on your machine. For example:
  
    ```
    gem install cf-uaac
    ```
1. Download a copy of your Ops Manager root CA certificate to the machine. To download the certificate, do the following:

  1. In a web browser, navigate to the FQDN of Ops Manager and log in.
  1. In Ops Manager, navigate to **Settings** in the drop-down menu under your username.
  1. Click **Advanced Options**.
  1. On the **Advanced Options** configuration page, click **Download Root CA Cert**.
  1. Move the certificate to a secure location on your machine and record the path.

1. Proceed to the [Log In as a UAA Admin](#uaa-admin-login) section to create admin users with UAAC.

##<a id='uaa-admin-login'></a>Step 2: Log In as a UAA Admin

<%= partial 'uaa-admin-login' %>

##<a id='tkgi-access'></a>Step 3: Assign <%= vars.product_short %> Cluster Scopes

The `pks.clusters.manage` and `pks.clusters.admin` UAA scopes grant users the ability
to create and manage Kubernetes clusters in <%= vars.product_short %>.
For information about UAA scopes in <%= vars.product_short %>, see
[UAA Scopes for <%= vars.product_short %> Users](uaa-scopes.html).

To create <%= vars.product_short %> users with the `pks.clusters.manage` or `pks.clusters.admin` UAA scope,
perform one or more of the following procedures based on the needs of your deployment:

* To assign <%= vars.k8s_runtime_abbr %> cluster scopes to an individual user, see 
[Grant <%= vars.product_short %> Access to an Individual User](manage-users.html#uaa-user). 
 Follow this procedure if you selected **Internal UAA** when you configured **UAA** in the <%= vars.product_short %> tile. For more information, see [Installing <%= vars.product_short %> on AWS](installing-aws.html#uaa).
* To assign <%= vars.k8s_runtime_abbr %> cluster scopes to an LDAP group, see [Grant <%= vars.product_short %> Access to an External LDAP Group](manage-users.html#external-group). Follow this procedure if you selected **LDAP Server** when you configured **UAA** in the <%= vars.product_short %> tile. For more information, see [Installing <%= vars.product_short %> <%= vars.k8s_runtime_abbr %> on AWS](installing-aws.html#uaa).
* To assign <%= vars.k8s_runtime_abbr %> cluster scopes to a SAML group, see [Grant <%= vars.product_short %> Access to an External SAML Group](manage-users.html#saml). Follow this procedure if you selected **SAML Identity Provider** when you configured **UAA** in the <%= vars.product_short %> tile. For more information, see [Installing <%= vars.product_short %> <%= vars.k8s_runtime_abbr %> on AWS](installing-aws.html#uaa).
* To assign <%= vars.k8s_runtime_abbr %> cluster scopes to a client, see [Grant <%= vars.product_short %> Access to a Client](manage-users.html#uaa-client).

##<a id="next-steps"></a> Next Step

After you create admin users in <%= vars.product_short %>, the admin users can create and manage 
Kubernetes clusters in <%= vars.product_short %>. 
For more information, see [Managing Kubernetes Clusters and Workloads](managing-clusters.html).
