---
title: AWS Prerequisites and Resource Requirements
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the prerequisites and resource requirements for installing <%= vars.product_full %> on Amazon Web Services (AWS).

##<a id='prerequisites'></a> Prerequisites

Before installing <%= vars.product_short %>:

1. Review the sections below.

1. Install and configure Ops Manager.
To install Ops Manager, follow the instructions in [Installing and Configuring Ops Manager on AWS](aws-om-install-config.html).

##<a id='resources'></a> Resource Requirements

Installing Ops Manager and <%= vars.product_short %> requires the following virtual machines (VMs):

<table>
  <tr>
    <th>VM Name</th>
    <th>VM Type</th>
    <th>Default VM Count</th>
  </tr>
  <tr>
    <td>Pivotal Container Service</td>
    <td>m4.large ^&#x2A;</td>
    <td>1</td>
  </tr>
  <tr>
    <td>BOSH Director</td>
    <td>m4.large</td>
    <td>1</td>
  </tr>
</table>

<%= partial '_increase_persistent_disk' %>

<h3> Kubernetes Cluster Resources </h3>

Each Kubernetes cluster provisioned through <%= vars.product_short %> deploys the VMs listed below. If you deploy more
than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM Name</th>
    <th>Number</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>32 GB</td>
    <td>5 GB</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>32 GB</td>
    <td>50 GB</td>
  </tr>
</table>
