---
title: Installing and Configuring Ops Manager on AWS
owner: Ops Manager
---

This topic describes how to install and configure Ops Manager before deploying <%= vars.product_full %> on Amazon Web Services (AWS).

## <a id='prerequisites'></a>Prerequisites

You use Ops Manager to install and configure <%= vars.product_short %>.
Before you install Ops Manager, review [AWS Prerequisites and Resource Requirements](aws-requirements.html).

## <a id="install-om"></a>Install and Configure Ops Manager

Each version of <%= vars.product_short %> is compatible with multiple versions of Ops Manager.
To determine Ops Manager compatibility,
see [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service).

To install and configure Ops Manager, follow the instructions in the table below:

<table>
  <tr>
    <th>Version</th>
    <th>Instructions</th>
  </tr>
  <tr>
    <td>Ops Manager v2.7</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-7/aws/prepare-env-terraform.html">Deploying Ops Manager on AWS Using Terraform</a></li>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-7/aws/config-terraform.html">Configuring BOSH Director on AWS Using Terraform</a></li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>Ops Manager v2.8</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-8/aws/prepare-env-terraform.html">Deploying Ops Manager on AWS Using Terraform</a></li>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-8/aws/config-terraform.html">Configuring BOSH Director on AWS Using Terraform</a></li>
      </ol>
    </td>
  </tr>
</table>

<p class="note"><strong>Note</strong>: The topics above provide the Terraform procedures for deploying Ops Manager on AWS, not the manual procedures.
The Terraform procedures are the currently supported path for deploying Ops Manager on AWS.</p>

## <a id="next-steps"></a>Next Installation Step

To install and configure <%= vars.product_short %>,
follow the instructions in [Installing <%= vars.product_short %> on AWS](installing-aws.html).
