---
title: Installing Tanzu Kubernetes Grid Integrated Edition on Amazon Web Services (AWS)
owner: Ops Manager
iaas: AWS
---

This topic lists the procedures to follow to install <%= vars.product_full %> on Amazon Web Services (AWS).

## Install <%= vars.product_short %> on AWS

To install <%= vars.product_short %> on AWS, follow the instructions below:

<ul>
  <li>
    <a href="aws-requirements.html">AWS Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="aws-om-install-config.html">Installing and Configuring Ops Manager on AWS</a>
  </li>
  <li>
    <a href="installing-aws.html">Installing <%= vars.product_short %> on AWS</a>
  </li>
  <li>
    <a href="./proxies-aws.html">Using Proxies with <%= vars.product_short %> on AWS</a>
  </li>
  <li>
    <a href="aws-configure-users.html">Setting Up <%= vars.product_short %> Admin Users on AWS</a>
  </li>
</ul>

## Install the <%= vars.k8s_runtime_abbr %> and Kubernetes CLIs

The <%= vars.k8s_runtime_abbr %> CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-cli.html">Installing the <%= vars.k8s_runtime_abbr %> CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>