---
title: Amazon Web Services (AWS)
owner: Ops Manager
iaas: AWS
---

This topic lists the procedures to follow to install <%= vars.product_full %> on Amazon Web Services (AWS). 

## Install <%= vars.product_short %>

<p class="note"><strong>Note:</strong> The topics below provide the Terraform procedures for deploying Ops Manager on AWS, not the manual procedures. The Terraform procedures are the currently supported path for deploying Ops Manager on AWS for use with <%= vars.product_short %>.</p>

To install <%= vars.product_short %>, follow the instructions below:

+ [AWS Prerequisites and Resource Requirements](./aws-requirements.html)
+ [Installing <%= vars.product_short %> on AWS](./installing-pks-aws.html)

## Install the PKS and Kubernetes CLIs

The PKS CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads. 

To install the CLIs, follow the instructions below:

+ [Installing the PKS CLI](./installing-pks-cli.html)
+ [Installing the Kubernetes CLI](./installing-kubectl-cli.html)
