---
title: Installing and Configuring Ops Manager on AWS
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Ops Manager before deploying <%= vars.product_full %> on Amazon Web Services (AWS).

## <a id='prerequisites'></a>Prerequisites

You use Ops Manager to install and configure <%= vars.product_short %>.
Before you install Ops Manager, review [AWS Prerequisites and Resource Requirements](aws-requirements.html).

## <a id="install-om"></a>Install and Configure Ops Manager

Multiple versions of Ops Manager are compatible with each version of <%= vars.product_short %>.
To confirm that your Ops Manager version is compatible with the version of <%= vars.product_short %> that you want to install,
see the <a href="release-notes.html"><%= vars.product_short %> Release Notes</a>.

To install and configure Ops Manager, follow the instructions in the table below:

<table>
  <tr>
    <th>Version</th>
    <th>Instructions</th>
  </tr>
  <tr>
    <td>Ops Manager v2.5</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/aws/prepare-env-terraform.html">Deploying Ops Manager on AWS Using Terraform</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/aws/config-terraform.html">Configuring BOSH Director on AWS Using Terraform</a></li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>Ops Manager v2.6</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/aws/prepare-env-terraform.html">Deploying Ops Manager on AWS Using Terraform</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/aws/config-terraform.html">Configuring BOSH Director on AWS Using Terraform</a></li>
      </ol>
    </td>
  </tr>
</table>

<p class="note"><strong>Note</strong>: The topics above provide the Terraform procedures for deploying Ops Manager on AWS, not the manual procedures.
The Terraform procedures are the currently supported path for deploying Ops Manager on AWS.</p>

## <a id="next-steps"></a>Next Installation Step

To install and configure <%= vars.product_short %>,
follow the instructions in [Installing <%= vars.product_short %> on AWS](installing-pks-aws.html).
