---
title: Azure Prerequisites and Resource Requirements
owner: TKGI
---

This topic describes the prerequisites and resource requirements for installing <%= vars.product_full %> on Microsoft Azure.

##<a id='prerequisites'></a> Prerequisites

Before installing <%= vars.product_short %>:

1. Review the sections below.

1. Install and configure Ops Manager.
To install Ops Manager, follow the instructions in [Installing and Configuring Ops Manager on Azure](azure-om-install-config.html).

##<a id='subscription'></a> Subscription Requirements

For <%= vars.product_short %> and Kubernetes services to run correctly, you must have at least a `standard` subscription
tier.

##<a id='resources'></a> Resource Requirements

Installing Ops Manager and <%= vars.product_short %> requires the following virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
  </tr>
  <tr>
    <td>BOSH Director</td>
    <td>2</td>
    <td>8</td>
    <td>16</td>
  </tr>
  <tr>
    <td>Ops Manager</td>
    <td>1</td>
    <td>8</td>
    <td>120</td>
  </tr>
  <tr>
    <td><%= vars.control_plane %></td>
    <td>2</td>
    <td>8</td>
    <td>64</td>
  </tr>
  <tr>
    <td><%= vars.control_plane_db %></td>
    <td>2</td>
    <td>8</td>
    <td>64</td>
  </tr>
</table>

<%= partial '_increase_persistent_disk' %>

<h3> Kubernetes Cluster Resources </h3>

Each Kubernetes cluster provisioned through <%= vars.product_short %> deploys the VMs listed below. If you deploy more
than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM</th>
    <th>VM&nbsp;Count</th>
    <th>CPU Cores</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
    <th>Persistent Disk (GB)</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1</td>
    <td>2</td>
    <td>4</td>
    <td>32</td>
    <td>5</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1</td>
    <td>2</td>
    <td>4</td>
    <td>32</td>
    <td>50</td>
  </tr>
</table>
