---
title: Installing and Configuring Ops Manager on Azure
owner: Ops Manager
---

This topic describes how to install and configure VMware Tanzu Operations Manager (Ops Manager) on Microsoft Azure 
before deploying <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>).  

## <a id='overview'></a> Overview

Use Ops Manager to install and configure <%= vars.k8s_runtime_abbr %>.  

Ops Manager provides a dashboard UI for installing applications and components. 
Ops Manager and the installed components include an interface for configuring the Ops Manager environment, component settings, and cluster configurations.  

To install Ops Manager:  

1. [Prerequisites](#prerequisites)  
1. [Install and Configure Ops Manager](#install-om)  

## <a id='prerequisites'></a>Prerequisites

You use Ops Manager to install and configure <%= vars.product_short %>.
Before you install Ops Manager, review [Azure Prerequisites and Resource Requirements](azure-requirements.html).

## <a id="install-om"></a>Install and Configure Ops Manager

Each version of <%= vars.product_short %> is compatible with multiple versions of Ops Manager.
To determine Ops Manager compatibility,
see [Retrieve Product Version Compatibilities from the Tanzu API](https://knowledge.broadcom.com/external/article?articleNumber=371876) in the Broadcom Support KB.

To install and configure Ops Manager, follow the instructions in the table below:

<table>
  <tr>
    <th>Version</th>
    <th>Instructions</th>
  </tr>
  <tr>
    <td>Ops Manager v2.10</td>
    <td>
      <ol>
        <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/azure-prepare-env-manual.html">Preparing to Deploy Ops Manager on Azure Manually</a></li>
        <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/azure-deploy-manual.html">Deploying Ops Manager on Azure Manually</a></li>
        <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/azure-config-manual.html">Configuring BOSH Director on Azure Manually</a></li>
      </ol>
    </td>
  </tr>
</table>

## <a id="next-steps"></a>Next Installation Step

To create managed identities for <%= vars.product_short %>,
follow the instructions in [Creating Managed Identities in Azure for <%= vars.product_short %>](azure-managed-identities.html).
