---
title: Installing Tanzu Kubernetes Grid Integrated Edition on Microsoft Azure
owner: Ops Manager
iaas: Azure
---

This topic lists the procedures to follow to install <%= vars.product_full %> on Microsoft Azure.

## Install <%= vars.product_short %> on Azure

To install <%= vars.product_short %> on Azure, follow the instructions below:

<ul>
  <li>
    <a href="./azure-requirements.html">Azure Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./azure-om-install-config.html">Installing and Configuring Ops Manager on Azure</a>
  </li>
  <li>
    <a href="./azure-managed-identities.html">Creating Managed Identities in Azure for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./installing-azure.html">Installing <%= vars.product_short %> on Azure</a>
  </li>
  <li>
    <a href="./azure-api-load-balancer.html">Configuring an Azure Load Balancer for the <%= vars.control_plane %></a>
  </li>
  <li>
    <a href="./azure-configure-users.html">Setting Up <%= vars.product_short %> Admin Users on Azure</a>
  </li>
</ul>

## Install the <%= vars.k8s_runtime_abbr %> and Kubernetes CLIs

The <%= vars.k8s_runtime_abbr %> CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-cli.html">Installing the <%= vars.k8s_runtime_abbr %> CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
