---
title: Azure
owner: Ops Manager
iaas: Azure
---

This topic lists the procedures to follow to install <%= vars.product_full %> on Microsoft Azure.

## Install <%= vars.product_short %>

<p class="note"><strong>Note</strong>: The topics below provide the Terraform procedures for deploying Ops Manager on Azure, not the manual procedures. Using the Terraform procedures is the only currently supported path for deploying Ops Manager on Azure for use with <%= vars.product_short %>.</p>

To install <%= vars.product_short %>, follow the instructions below:

*   [Azure Prerequisites and Resource Requirements](./azure-requirements.html)
*   [Creating Managed Identities in Azure for <%= vars.product_short %>](./azure-managed-identities.html)
*   [Installing <%= vars.product_short %> on Azure](./installing-pks-azure.html)
*   [Configuring an Azure Load Balancer for the PKS API](./azure-api-load-balancer.html)


## Install the PKS and Kubernetes CLIs

The PKS CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads. 

To install the CLIs, follow the instructions below:

+ [Installing the PKS CLI](./installing-pks-cli.html)
+ [Installing the Kubernetes CLI](./installing-kubectl-cli.html)
