---
title: Backing up the Enterprise PKS Control Plane
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to use BOSH Backup and Restore (BBR) to back up the  <%= vars.product_full %> control plane.

Each <%= vars.product_short %> deployment includes custom backup and restore scripts which encapsulate the correct procedure 
for backing up and restoring the deployment. 

BBR supports backing up only deployments supplying these scripts.  

BBR orchestrates running the backup and restore scripts and transferring the generated backup artifacts to and from a backup repository. 
If configured correctly, BBR can use TLS to communicate securely with backup targets.  

To perform a restore, see [Restoring the <%= vars.product_short %> Control Plane](bbr-restore.html).

To view the BBR release notes, see the Cloud Foundry documentation, [BOSH Backup and Restore Release Notes](https://docs.cloudfoundry.org/bbr/bbr-rn.html).

## <a id='recs'></a> Recommendations

Pivotal recommends:

* Follow the full procedure documented in this topic when creating a backup. This ensures that you always have a consistent backup of Pivotal Operations Manager and <%= vars.product_short %> to restore from.

* Back up frequently, especially before upgrading your <%= vars.product_short %> deployment.

* For BOSH v270.0 and above (currently available in PCF 2.7), you can prune the BOSH blobstore by running `bosh clean-up --all` prior to running a backup of the BOSH director. This will remove all unused resources including packages compiled against older stemcell versions. This will result in a smaller, faster backup of the BOSH director if a lot of unused resources have accumulated over time. For more information see [Clean-Up](https://bosh.io/docs/cli-v2/#clean-up).

<p class="note"><strong>Note:</strong>The command `bosh clean-up --all` is a destructive operation and can remove resources that are unused but needed. For example, if an On-Demand Service Broker such as <%= vars.product_short %> is deployed <strong>and</strong> no service instances have been created, the releases needed to create a service instance will be categorised as unused and removed.</p>

## <a id='supported'></a> Supported Components

BBR can backup the following components:

  - <%= vars.product_short %> control plane UAA MySQL database
  - <%= vars.product_short %> control plane PKS API MySQL database
  - BOSH Director
  - External blobstores 
  - Kubernetes cluster etcd database

## <a id='unsupported'></a> Unsupported Components

BBR can not be used to back up the following components:

  - Harbor tile
  - Cloud provider objects:  
    * Persistent volumes  
    * Network resources

## <a id='prereqs'></a> Prerequisites

Verify that the installed version of BBR is compatible with this <%= vars.product_short %> release. 
For minimum version information, see the [<%= vars.product_short %> Release Notes](release-notes.html).

If you want to use the result of the backup to restore to a destination environment, verify that
the current environment and the destination environment are compatible.
For more information, see the [Compatibility of Restore](bbr-restore.html#compatibility) section of
_Restoring the <%= vars.product_short %> Control Plane_.

Before you begin backing up the PKS control plane, download the root CA certificate. To download 
the root CA certificate for your <%= vars.product_short %> deployment, perform the following steps:

1. On the Ops Manager Installation Dashboard, in the top right corner, click your username.
1. Navigate to **Settings** > **Advanced**.
1. Click **Download Root CA Cert**.

## <a id='connect-to-jumpbox'></a> Connect to Your Jumpbox

You can establish a connection to your jumpbox in one of the following ways.

* [Connect with SSH](#ssh)
* [Connect with BOSH&#95;ALL&#95;PROXY](#bosh-all-proxy)

For general information about the jumpbox, see [Installing BOSH Backup and Restore](bbr-install.html).

### <a id='ssh'></a> Connect with SSH

SSH into your jumpbox. If you connect to your jumpbox with SSH, you must run the BBR commands in
the following sections from within your jumpbox.

### <a id='bosh-all-proxy'></a> Connect with BOSH&#95;ALL&#95;PROXY

Set and use `BOSH_ALL_PROXY`. Using `BOSH_ALL_PROXY` opens an SSH tunnel with SOCKS5 to the
jumpbox. This tunnel enables you to forward requests to the BOSH Director through the jumpbox from
your local machine.

Use one of the following methods to create the tunnel:

* **Tunnel created by BOSH CLI**: To provide the BOSH CLI with the SSH credentials it needs to
create the tunnel, run the following command:

    ```
	 export BOSH_ALL_PROXY=ssh+socks5://jumpbox@jumpbox-ip:12345?private_key=jumpbox.key
	 ```

* **Tunnel established separately**:

  1. To establish the tunnel and make it available on a local port, run the following command:

    ```
    ssh -4 -D 12345 -fNC jumpbox@jumpbox-ip -i jumpbox.key
    ```
	
  1. To provide the BOSH CLI with access to the tunnel through use of the `BOSH_ALL_PROXY`
  environment variable, run the following command:

    ```
    export BOSH_ALL_PROXY=socks5://localhost:12345
    ```

<p class="note"><strong>Note</strong>: Using <code>BOSH_ALL_PROXY</code> can result in longer
backup and restore times due to network performance degradation. Because all operations must pass
through the proxy, moving backup artifacts can be significantly slower.</p>

## <a id='locate-deploy-name'></a> Locate and Record the <%= vars.product_short %> Deployment Name

Locate and record your <%= vars.product_short %> BOSH deployment name as follows:
  
1. On the Ops Manager Installation Dashboard, click the **BOSH Director** tile.
1. In the BOSH Director tile, click the **Credentials** tab.
1. Navigate to **Bosh Command line Credentials** and click **Link to Credential**.
1. Copy the credential value.
1. Open an SSH connection to either your jumpbox, as described in the previous section, or the Ops Manager VM.
For instructions on how to SSH into the Ops Manager VM, see [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh).
1. On the command line, run the following command to retrieve your <%= vars.product_short %> BOSH deployment name.

    ```
    BOSH-CLI-CREDENTIALS deployments | grep pivotal-container-service
    ```
    
    Where `BOSH-CLI-CREDENTIALS` includes the full value that you copied from the BOSH Director tile.
    For example:

    <pre class="terminal">
    $ BOSH_CLIENT=ops_manager BOSH_CLIENT_SECRET=p455w0rd BOSH_CA_CERT=/var/tempest/workspaces/default/root_ca_certificate BOSH_ENVIRONMENT=10.0.0.5 bosh deployments | grep pivotal-container-service

    pivotal-container-service-51f08f6402aaa960f041           backup-and-restore-sdk/1.8.0    bosh-google-kvm-ubuntu-xenial-go_agent/250.25
    service-instance_4ffeb5b5-5182-4faa-9d92-696d97cc9ae1    bosh-dns/1.10.0                 bosh-google-kvm-ubuntu-xenial-go_agent/250.25
    pivotal-container-service-51f08f6402aaa960f041
    </pre>

1. In the output, look for the <%= vars.product_short %> BOSH deployment name that begins with
  `pivotal-container-service` and includes a unique identifier. 
   In the example output above, the BOSH deployment name is `pivotal-container-service-51f08f6402aaa960f041`.

## <a id='back-up-deployment'></a> Back up the <%= vars.product_short %> Control Plane

1. Run the BBR pre-backup check to confirm that your BOSH Director is reachable and has a
deployment that can be backed up:

    ```
    BOSH_CLIENT_SECRET=BOSH-CLIENT-SECRET \
    bbr deployment \
    --target BOSH-TARGET \
    --username BOSH-CLIENT \
    --deployment DEPLOYMENT-NAME \
    --ca-cert PATH-TO-BOSH-SERVER-CERT \
    pre-backup-check
    ```
    Replace the placeholder text using the information in the following table.
    <table>
      <tr>
        <th width="32%">Placeholder Text</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td><code>BOSH-CLIENT-SECRET</code></td>
        <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;CLIENT&#95;SECRET</code>.</td>
      </tr>
      <tr>
        <td><code>BOSH-TARGET</code></td>
        <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;ENVIRONMENT</code>.
        You must be able to reach the target address from the workstation where you run <code>bbr</code> commands.</td>
      </tr>
      <tr>
        <td><code>BOSH-CLIENT</code></td>
        <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;CLIENT</code>.</td>
      </tr>
      <tr>
        <td><code>DEPLOYMENT-NAME</code></td>
        <td>Use the <%= vars.product_short %> BOSH deployment name that you located in the [Locate and Record the <%= vars.product_short %> Deployment Names](#locate-deploy-name) section above.</td>
      </tr>
      <tr>
        <td><code>PATH-TO-BOSH-CA-CERT</code></td>
        <td>Use the path to the root CA certificate that you downloaded in the [Prerequisites](#prereqs) section above.</td>
      </tr>
    </table>

    For example:

    <pre class="terminal">
    $ BOSH_CLIENT_SECRET=p455w0rd \
    bbr deployment \
    --target bosh.example.com \
    --username admin \
    --deployment cf-acceptance-0 \
    --ca-cert bosh.ca.cert \
    pre-backup-check</pre>

1. If the pre-backup check command fails, perform the following actions:
    * Run the command again, adding the `--debug` flag to enable debug logs. For more information,
    see [BBR Logging](bbr-logging.html).
    * Make any correction suggested in the output and run the pre-backup check again. For example,
    the deployment that you selected might not have the correct backup scripts, or the connection
    to the BOSH Director failed.

1. If the pre-backup check succeeds, run the BBR backup command from your jumpbox to back up the
PKS control plane:

    ```
    BOSH_CLIENT_SECRET=BOSH-CLIENT-SECRET \
    nohup bbr deployment \
    --target BOSH-TARGET \
    --username BOSH-CLIENT \
    --deployment DEPLOYMENT-NAME \
    --ca-cert PATH-TO-BOSH-SERVER-CERT \
    backup [--with-manifest] [--artifact-path]
    ```

    Replace the placeholder text using the information in the following table. These are the same
    values as shown in the previous table.
    <table>
      <tr>
        <th width="32%">Placeholder Text</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td><code>BOSH-CLIENT-SECRET</code></td>
        <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;CLIENT&#95;SECRET</code>.</td>
      </tr>
      <tr>
        <td><code>BOSH-TARGET</code></td>
        <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;ENVIRONMENT</code>.
        You must be able to reach the target address from the workstation where you run <code>bbr</code> commands.</td>
      </tr>
      <tr>
        <td><code>BOSH-CLIENT</code></td>
        <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;CLIENT</code>.</td>
      </tr>
      <tr>
        <td><code>DEPLOYMENT-NAME</code></td>
        <td>Use the <%= vars.product_short %> BOSH deployment name that you located in the [Locate and Record the <%= vars.product_short %> Deployment Names](#locate-deploy-name) section above.</td>
      </tr>
      <tr>
        <td><code>PATH-TO-BOSH-CA-CERT</code></td>
        <td>Use the path to the root CA certificate that you downloaded in the [Prerequisites](#prereqs) section above.</td>
      </tr>
    </table>
    <br>
    Specify optional flags for the `backup` command:
      <table>
        <tr>
          <th width="32%">Flag</th>
          <th>Description</th>
        </tr>
        <tr>
          <td><code>--with-manifest</code></td>
          <td>This includes the manifest in the backup artifact. If you use this flag, the backup artifact then contains credentials that you should keep secret.</td>
        </tr>
        <tr>
          <td><code>--artifact-path</code></td>
          <td>This allows you to specify a path for the backup artifact.</td>
        </tr>
      </table>
      <br>
    For example:

    <pre class="terminal">
    $ BOSH_CLIENT_SECRET=p455w0rd \
    nohup bbr deployment \
    --target bosh.example.com \
    --username admin \
    --deployment cf-acceptance-0 \
    --ca-cert bosh.ca.cert \
    backup
    </pre>

    <p class="note"><strong>Note</strong>: The BBR backup command can take a long time to complete.
    You can run it independently of the SSH session so that the process can continue running even 
    if your connection to the jumpbox fails. The command above uses <code>nohup</code>, but you can
    run the command in a <code>screen</code> or <code>tmux</code> session instead.</p>

1. If the command completes successfully, follow the steps in [Manage Your Backup Artifact](#good-practices) below.

1. If the backup command fails, perform the following actions:
    * Run the command again, adding the `--debug` flag to enable debug logs. For more information,
    see [BBR Logging](bbr-logging.html).
    * Follow the steps in [Recover from a Failing Command](#recover-from-failing-command).

## <a id="recover-from-failing-command"></a> Recover from a Failing Command

If the backup fails, follow these steps:

1. Ensure that you set all the parameters in the backup command.
1. Ensure the BOSH Director credentials are valid.
1. Ensure the deployment that you specify in the BBR command exists.
1. Ensure that the jumpbox can reach the BOSH Director.
1. Consult [BBR Logging](bbr-logging.html).
1. If you see the error message `Directory /var/vcap/store/bbr-backup already exists on instance`,
   run the appropriate cleanup command. See [Clean up After a Failed Backup](#manual-clean) below.
1. If the backup artifact is corrupted, discard the failing artifacts and run the backup again.

## <a id='cancel-backup'></a> Cancel a Backup

Backups can take a long time.
If you need to cancel a backup, for example if you realize that the backup is going to fail or that
your developers need to push an app in a hurry, follow these steps:

1. Terminate the BBR process by pressing Ctrl-C and typing `yes` to confirm.
1. Because stopping a backup can leave the system in an unusable state and prevent additional
backups, follow the procedures in [Clean up After a Failed Backup](#manual-clean) below.

## <a id="manual-clean"></a> Clean up After a Failed Backup

If your backup process fails, it might leave the BBR backup directory on the instance, causing any 
subsequent attempts to backup to fail.
In addition, BBR might not have run the post-backup scripts, leaving the instance in a locked state.

If the PKS control plane backup failed, run the following command to use the BBR cleanup script to
clean up:

```
BOSH_CLIENT_SECRET=BOSH-CLIENT-SECRET \
bbr deployment \
--target BOSH-TARGET \
--username BOSH-CLIENT \
--deployment DEPLOYMENT-NAME \
--ca-cert PATH-TO-BOSH-CA-CERT \
backup-cleanup
```

Replace the placeholder text using the information in the following table. These are the same
values as shown in the previous table.
<table>
  <tr>
    <th width="32%">Placeholder Text</th>
    <th>Instructions</th>
  </tr>
  <tr>
    <td><code>BOSH-CLIENT-SECRET</code></td>
    <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;CLIENT&#95;SECRET</code>.</td>
  </tr>
  <tr>
    <td><code>BOSH-TARGET</code></td>
    <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;ENVIRONMENT</code>.
    You must be able to reach the target address from the workstation where you run <code>bbr</code> commands.</td>
  </tr>
  <tr>
    <td><code>BOSH-CLIENT</code></td>
    <td>In your BOSH Director tile, navigate to <strong>Credentials > Bosh Commandline Credentials</strong>. Record the value for <code>BOSH&#95;CLIENT</code>.</td>
  </tr>
  <tr>
    <td><code>DEPLOYMENT-NAME</code></td>
    <td>Use the <%= vars.product_short %> BOSH deployment name that you located in the [Locate and Record the <%= vars.product_short %> Deployment Names](#locate-deploy-name) section above.</td>
  </tr>
  <tr>
    <td><code>PATH-TO-BOSH-CA-CERT</code></td>
    <td>Use the path to the root CA certificate that you downloaded in the [Prerequisites](#prereqs) section above.</td>
  </tr>
</table>

For example:

<pre class="terminal">
$ BOSH_CLIENT_SECRET=p455w0rd \
bbr deployment \
--target bosh.example.com \
--username admin \
--deployment cf-acceptance-0 \
--ca-cert bosh.ca.crt \
backup-cleanup
</pre>

## <a id="good-practices"></a> Manage Your Backup Artifact

Keep your backup artifact safe by following these steps:

1. Move the backup artifact off the jumpbox to your storage space. BBR stores each backup in a
subdirectory named `DEPLOYMENT-TIMESTAMP` within the current working directory. The backup created
by BBR consists of a directory with the backup artifacts and metadata files.

1. Compress and encrypt the backup artifacts when storing them.

1. Make redundant copies of your backup and store them in multiple locations. This minimizes the
risk of losing your backups in the event of a disaster.

1. Each time you redeploy <%= vars.product_short %>, test your backup artifact by following the procedures in
[Restoring the <%= vars.product_short %> Control Plane](bbr-restore.html).
