---
title: Installing BOSH Backup and Restore
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install BOSH Backup and Restore (BBR).

To install BBR, you copy the `bbr` executable to a jumpbox. 

Once installed on your jumpbox, you can run `bbr` commands to back up and restore your <%= vars.product_short %>
deployment.

For more information, see [Backing up the <%= vars.product_short %> Control Plane](bbr-backup-control-plane.html) and [Restoring the <%= vars.product_short %> Control Plane](bbr-restore-control-plane.html).

##<a id="prerequisites"></a> Prerequisite

You must have a jumpbox before you can install BBR to the jumpbox. A jumpbox is a separate, 
hardened server on your network that provides a controlled means of access to the VMs other 
computers on your network.

See the [jumpbox-deployment](https://github.com/cloudfoundry/jumpbox-deployment) GitHub repository for an example jumpbox deployment.

To find the minimum version of BBR you need to install, 
see the [<%= vars.product_short %> Release Notes](release-notes.html).

##<a id="jumpbox-setup"></a> Step 1: Configure Your Jumpbox

Configure your jumpbox to meet the following requirements:

* Your jumpbox must be able to communicate with the network that contains your <%= vars.product_short %> deployment. You
can use the Ops Manager VM as your jumpbox.
* Your jumpbox must have sufficient space for the backup.
* Your jumpbox must be in the same network as the deployed VMs because BBR connects to the VMs at their private IP addresses. BBR does not support SSH gateways.
* BBR copies the backed-up data from the VMs to the jumpbox, so you should have minimal network latency between the VMs and the jumpbox to reduce transfer times.

<p class="note"><strong>Note</strong>: BBR uses SSH to orchestrate the backup of your <%= vars.product_short %> instances using port 22 by default.</p>

## <a id='scp'></a>Step 2: Transfer BBR to Your Jumpbox

Perform the following steps to transfer the `bbr` binary to your jumpbox:

1. Download the latest [BOSH Backup and Restore release](https://network.pivotal.io/products/p-bosh-backup-and-restore) from Pivotal Network.

1. To add executable permissions to the `bbr` binary file, run `chmod a+x bbr`:
	<pre class="terminal">$ chmod a+x bbr</pre>

1. To securely copy the `bbr` binary file to your jumpbox, run the following command:

    ```
    scp LOCAL-PATH-TO-BBR/bbr JUMPBOX-USER/JUMPBOX-ADDRESS
    ```

    If your jumpbox has access to the internet, you can instead SSH into your jumpbox and use
    `wget`:
    <pre class="terminal">
    $ ssh JUMPBOX-USER/JUMPBOX-ADDRESS -i YOUR-CERTIFICATE.pem
    $ wget BBR-RELEASE-URL
    $ chmod a+x bbr
    </pre>
