---
title: Backing up the PKS BOSH Director
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to use BOSH Backup and Restore (BBR) to back up the  <%= vars.product_full %> BOSH Director.

The <%= vars.product_short %> BOSH Director includes custom backup and restore scripts which encapsulate the correct procedure
for backing up and restoring the Director.

BBR orchestrates running the backup and restore scripts and transferring the generated backup artifacts to and from a backup directory.
If configured correctly, BBR can use TLS to communicate securely with backup targets.

To perform a restore, see [Restoring the <%= vars.product_short %> BOSH Director](bbr-restore-director.html).

To view the BBR release notes, see the Cloud Foundry documentation, [BOSH Backup and Restore Release Notes](https://docs.cloudfoundry.org/bbr/bbr-rn.html).

## <a id='prereqs'></a> Prerequisites

Verify that the installed version of BBR is compatible with this <%= vars.product_short %> release.
For minimum version information, see the [<%= vars.product_short %> Release Notes](release-notes.html).

If you want to use the result of the backup to restore to a destination environment, verify that
the current environment and the destination environment are compatible.

You also need to get the BBR SSH Credentials for the BOSH Director:

* [Download the BBR SSH Credentials](#bbr-ssh-creds)

### <a id='bbr-ssh-creds'></a> Download the BBR SSH Credentials

There are two ways to retrieve BOSH Director credentials:

* [Ops Manager Installation Dashboard](#bbr-ssh-creds-via-ui)
* [Ops Manager API](#bbr-ssh-creds-via-api)

#### <a id='bbr-ssh-creds-via-ui'></a> Ops Manager Installation Dashboard

To retrieve your BOSH Director credentials using the Ops Manager Installation Dashboard, perform the following steps:

  1. Navigate to the Ops Manager Installation Dashboard.
  1. Click the BOSH Director tile.
  1. Click the **Credentials** tab.
  1. Locate **Bbr Ssh Credentials**.
    1. Click Link to Credentials next to it.
    1. Copy the value of the `private_key_pem` field.
    1. run the following command to reformat the copied value, and save it in the current directory to a file named `private-key-file`:

      ```
      printf -- "your-private-key" > private-key-file
      ```

      Where:

        * `your-private-key` is the text of your private key.
        * `private-key-file` is the path to the private key file you are creating.

      for example:

      <pre class="terminal">
      $ printf --  "-----begin rsa private key----- fake key contents ----end rsa private key-----" > bbr_key.pem
      </pre>

#### <a id='bbr-ssh-creds-via-api'></a> Ops Manager API

To retrieve your BOSH Director credentials using the Ops Manager API, perform the following steps:

  1. Obtain your UAA access token. For more information, see [Access the API](https://docs.pivotal.io/pivotalcf/2-5/customizing/ops-man-api.html#access-api)
  1. Retrieve the **Director Credentials** by performing the following steps:
    1. Run the following command:

      ```
      curl "https://OPS-MAN-FQDN/api/v0/deployed/director/credentials/bbr_ssh_credentials" \
      -X GET \
      -H "Authorization: Bearer UAA-ACCESS-TOKEN"
      ```

      Where:

        * `OPS-MAN-FQDN` is the fully-qualified domain name (FQDN) for your Ops Manager deployment.
        * `UAA-ACCESS-TOKEN` is your UAA access token.

  1. Copy the value of the `private_key_pem` field.
  1. run the following command to reformat the copied value, and save it in the current directory to a file named `private-key-file`:

    ```
    printf -- "your-private-key" > private-key-file
    ```

    Where:
      * `your-private-key` is the text of your private key.
      * `private-key-file` is the path to the private key file you are creating.

    for example:
      <pre class="terminal">
      $ printf --  "-----begin rsa private key----- fake key contents ----end rsa private key-----" > bbr_key.pem
      </pre>


## <a id='connect-to-jumpbox'></a> Connect to Your Jumpbox

You can establish a connection to your jumpbox in one of the following ways.

* [Connect with SSH](#ssh)
* [Connect with BOSH&#95;ALL&#95;PROXY](#bosh-all-proxy)

For general information about the jumpbox, see [Installing BOSH Backup and Restore](bbr-install.html).

### <a id='ssh'></a> Connect with SSH

SSH into your jumpbox. If you connect to your jumpbox with SSH, you must run the BBR commands in
the following sections from within your jumpbox.

### <a id='bosh-all-proxy'></a> Connect with BOSH&#95;ALL&#95;PROXY

Set and use `BOSH_ALL_PROXY`. Using `BOSH_ALL_PROXY` opens an SSH tunnel with SOCKS5 to the
jumpbox. This tunnel enables you to forward requests to the BOSH Director through the jumpbox from
your local machine.

Use one of the following methods to create the tunnel:

* **Tunnel created by BOSH CLI**: To provide the BOSH CLI with the SSH credentials it needs to
create the tunnel, run the following command:

    ```
    export BOSH_ALL_PROXY=ssh+socks5://jumpbox@jumpbox-ip:12345?private_key=jumpbox.key
    ```

* **Tunnel established separately**:

  1. To establish the tunnel and make it available on a local port, run the following command:

    ```
    ssh -4 -D 12345 -fNC jumpbox@jumpbox-ip -i jumpbox.key
    ```

  1. To provide the BOSH CLI with access to the tunnel through use of the `BOSH_ALL_PROXY`
  environment variable, run the following command:

    ```
    export BOSH_ALL_PROXY=socks5://localhost:12345
    ```

<p class="note"><strong>Note</strong>: Using <code>BOSH_ALL_PROXY</code> can result in longer
backup and restore times due to network performance degradation. Because all operations must pass
through the proxy, moving backup artifacts can be significantly slower.</p>

## <a id='export-opsman-settings'></a> Export OpsManager Installation Settings

You should export your OpsManager settings by following the steps in [Step 9: Export Installation Settings](https://docs.pivotal.io/pivotalcf/2-5/customizing/backup-restore/backup-pcf-bbr.html#export) which will produce a `installation.zip` artifact.

## <a id='back-up-director'></a> Back up the <%= vars.product_short %> BOSH Director

1. Run the BBR pre-backup check to confirm that your BOSH Director is reachable and has the correct BBR scripts:

    ```
    bbr director \
    --host BOSH-DIRECTOR-IP \
    --username bbr \
    --private-key-path PRIVATE-KEY-FILE
    pre-backup-check
    ```
    Replace the placeholder text using the information in the following table.
    <table>
      <tr>
        <th width="32%">Placeholder Text</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td><code>BOSH-DIRECTOR-IP</code></td>
        <td>This is the address of the BOSH Director. If the BOSH Director is public, BOSH-DIRECTOR-IP is a URL, such as `https://my-bosh.xxx.cf-app.com`. Otherwise, this is the internal IP `BOSH-DIRECTOR-IP` which you can retrieve as show in [Step 4: Retrieve BOSH Director Address](https://docs.pivotal.io/pivotalcf/2-5/customizing/backup-restore/backup-pcf-bbr.html#retrieve-address).</td>
      </tr>
      <tr>
        <td><code>PRIVATE-KEY-FILE</code></td>
        <td>This is the path to the private key file that you can create from `Bbr Ssh Credentials` as shown in [Download the BBR SSH Credentials](#bbr-ssh-creds).</td>
      </tr>
    </table>

    For example:

    <pre class="terminal">
    $ bbr director \
    --host 10.0.0.5 \
    --username bbr \
    --private-key-path private-key.pem
    pre-backup-check
    </pre>

1. If the pre-backup check command fails, perform the following actions:
    * Run the command again, adding the `--debug` flag to enable debug logs. For more information,
    see [BBR Logging](bbr-logging.html).
    * Make any correction suggested in the output and run the pre-backup check again. For example,
     the connection to the BOSH Director failed.

1. If the pre-backup check succeeds, run the BBR backup command from your jumpbox to back up the
PKS BOSH Director:

    ```
    bbr director \
    --host BOSH-DIRECTOR-IP \
    --username bbr \
    --private-key-path PRIVATE-KEY-FILE
    backup
    ```

    Replace the placeholder text using the information in the following table.
    <table>
      <tr>
        <th width="32%">Placeholder Text</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td><code>BOSH-DIRECTOR-IP</code></td>
        <td>This is the address of the BOSH Director. If the BOSH Director is public, BOSH-DIRECTOR-IP is a URL, such as `https://my-bosh.xxx.cf-app.com`. Otherwise, this is the internal IP `BOSH-DIRECTOR-IP` which you can retrieve as show in [Step 4: Retrieve BOSH Director Address](https://docs.pivotal.io/pivotalcf/2-5/customizing/backup-restore/backup-pcf-bbr.html#retrieve-address).</td>
      </tr>
      <tr>
        <td><code>PRIVATE-KEY-FILE</code></td>
        <td>This is the path to the private key file that you can create from `Bbr Ssh Credentials` as shown in [Download the BBR SSH Credentials](#bbr-ssh-creds).</td>
      </tr>
    </table>

    For example:

    <pre class="terminal">
    $ bbr director \
    --host 10.0.0.5 \
    --username bbr \
    --private-key-path private-key.pem
    backup
    </pre>

    <p class="note"><strong>Note</strong>: The BBR backup command can take a long time to complete.
    You can run it independently of the SSH session so that the process can continue running even
    if your connection to the jumpbox fails. The command above uses <code>nohup</code>, but you can
    run the command in a <code>screen</code> or <code>tmux</code> session instead.</p>

1. If the command completes successfully, follow the steps in [Manage Your Backup Artifact](#good-practices) below.

1. If the backup command fails, perform the following actions:
    * Run the command again, adding the `--debug` flag to enable debug logs. For more information,
    see [BBR Logging](bbr-logging.html).
    * Follow the steps in [Recover from a Failing Command](#recover-from-failing-command).

## <a id="recover-from-failing-command"></a> Recover from a Failing Command

If the backup fails, follow these steps:

1. Ensure that you set all the parameters in the backup command.
1. Ensure the BOSH Director credentials are valid.
1. Ensure that the jumpbox can reach the BOSH Director.
1. Consult [BBR Logging](bbr-logging.html).
1. If you see the error message `Directory /var/vcap/store/bbr-backup already exists on instance`,
   run the appropriate cleanup command. See [Clean up After a Failed Backup](#manual-clean) below.
1. If the backup artifact is corrupted, discard the failing artifacts and run the backup again.

## <a id='cancel-backup'></a> Cancel a Backup

Backups can take a long time.
If you need to cancel a backup, for example if you realize that the backup is going to fail or that
your developers need to push an app in a hurry, follow these steps:

1. Terminate the BBR process by pressing Ctrl-C and typing `yes` to confirm.
1. Because stopping a backup can leave the system in an unusable state and prevent additional
backups, follow the procedures in [Clean up After a Failed Backup](#manual-clean) below.

## <a id="manual-clean"></a> Clean up After a Failed Backup

If your backup process fails, it might leave the BBR backup directory on the instance, causing any
subsequent attempts to backup to fail.
In addition, BBR might not have run the post-backup scripts, leaving the instance in a locked state.

If the PKS BOSH Director backup failed, run the following command to use the BBR cleanup script to
clean up:

  ```
  bbr director \
  --host BOSH-DIRECTOR-IP \
  --username bbr \
  --private-key-path PRIVATE-KEY-FILE
  backup-cleanup
  ```

  Replace the placeholder text using the information in the following table.
  <table>
    <tr>
      <th width="32%">Placeholder Text</th>
      <th>Instructions</th>
    </tr>
    <tr>
      <td><code>BOSH-DIRECTOR-IP</code></td>
      <td>This is the address of the BOSH Director. If the BOSH Director is public, BOSH-DIRECTOR-IP is a URL, such as `https://my-bosh.xxx.cf-app.com`. Otherwise, this is the internal IP `BOSH-DIRECTOR-IP` which you can retrieve as show in [Step 4: Retrieve BOSH Director Address](https://docs.pivotal.io/pivotalcf/2-5/customizing/backup-restore/backup-pcf-bbr.html#retrieve-address).</td>
    </tr>
    <tr>
      <td><code>PRIVATE-KEY-FILE</code></td>
      <td>This is the path to the private key file that you can create from `Bbr Ssh Credentials` as shown in [Download the BBR SSH Credentials](#bbr-ssh-creds).</td>
    </tr>
  </table>

  For example:

  <pre class="terminal">
  $ bbr director \
  --host 10.0.0.5 \
  --username bbr \
  --private-key-path private-key.pem
  backup-cleanup
  </pre>

## <a id="good-practices"></a> Manage Your Backup Artifact

Keep your backup artifact safe by following these steps:

1. Move the backup artifact off the jumpbox to your storage space. BBR stores each backup in a
subdirectory named `DIRECTOR-IP-TIMESTAMP` within the current working directory. The backup created
by BBR consists of a directory with the backup artifacts and metadata files.

1. Compress and encrypt the backup artifacts when storing them.

1. Make redundant copies of your backup and store them in multiple locations. This minimizes the
risk of losing your backups in the event of a disaster.

1. Each time you redeploy <%= vars.product_short %>, test your backup artifact by following the procedures in
[Restoring the <%= vars.product_short %> BOSH Director](bbr-restore-director.html).
