---
title: Installing BOSH Backup and Restore
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install BOSH Backup and Restore (BBR).

To install BBR, you first validate your jumbox VM is a valid BOSH backup host, then copy the BBR executable to the jumpbox. 

After installing BBR, you can run `bbr` commands to back up and restore your <%= vars.product_short %>
deployment.

For more information on using BOSH Backup and Restore, see:  

* [Backing up <%= vars.product_short %>](bbr-backup.html)  
* [Restoring the <%= vars.product_short %> BOSH Director](bbr-restore-director.html)  
* [Restoring the <%= vars.product_short %> Control Plane](bbr-restore-control-plane.html)  
* [Restoring a <%= vars.product_short %> Cluster](bbr-restore-cluster.html)  

##<a id="prerequisites"></a> Prerequisite

Using BBR requires the following:  

* A jumpbox. You must have a jumpbox before you can install BBR to the jumpbox.  
* The correct version of BBR for your PKS installation.  

A jumpbox is a separate, hardened server on your network that provides a controlled means of accessing the other VMs on your network. 
See the [jumpbox-deployment](https://github.com/cloudfoundry/jumpbox-deployment) GitHub repository for an example jumpbox deployment.

To find the version of BBR you need to install, 
see the [<%= vars.product_short %> Release Notes](release-notes.html).

##<a id="jumpbox-setup"></a> Step 1: Configure Your Jumpbox

Configure your jumpbox to meet the following requirements:

* Your jumpbox must be able to communicate with the network that contains your <%= vars.product_short %> deployment. You
can use the Ops Manager VM as your jumpbox.
* Your jumpbox must have sufficient space for the backup.
* Your jumpbox must be in the same network as the deployed VMs because BBR connects to the VMs at their private IP addresses. BBR does not support SSH gateways.
* Your jumpbox should be a host with minimal network latency to the source VMs BBR will backup.

<p class="note"><strong>Note</strong>: BBR uses SSH to orchestrate the backup of your <%= vars.product_short %> instances using port 22 by default.</p>

## <a id='scp'></a>Step 2: Transfer BBR to Your Jumpbox

There are two options available for transfering BBR onto your jumpbox:

* Copy the `bbr` executable to a local disk then upload the executable to the jumpbox:
    1. Download the latest [BOSH Backup and Restore release](https://network.pivotal.io/products/p-bosh-backup-and-restore) from Pivotal Network.  
    1. To add executable permissions to the `bbr` binary file, run the following command:

        ```
        chmod a+x bbr
        ```
    1. To securely copy the `bbr` binary file to your jumpbox, run the following command:

        ```
        scp LOCAL-PATH-TO-BBR/bbr JUMPBOX-USER/JUMPBOX-ADDRESS
        ```

        Where:  
        * `LOCAL-PATH-TO-BBR` is  
        * `JUMPBOX-USER` is  
        * `JUMPBOX-ADDRESS` is  

* Use SSH and wget to directly download BBR onto the jumbpox host and perform the following:
    1. If your jumpbox has access to the internet, you can instead SSH into your jumpbox and use
    `wget` to download BBR from the Pivotal Network:

        ```
        ssh JUMPBOX-USER/JUMPBOX-ADDRESS -i YOUR-CERTIFICATE.pem
        wget BBR-API-DOWNLOAD-URL
        chmod a+x bbr
        ```

        Where:  
        * `LOCAL-PATH-TO-BBR` is  
        * `JUMPBOX-USER` is  
        * `JUMPBOX-ADDRESS` is 
        * `BBR-API-DOWNLOAD-URL` is the API Download URL for the BBR version you want to install.

        For example:
        <pre class="terminal">
        $ ssh JUMPBOX-USER/JUMPBOX-ADDRESS -i YOUR-CERTIFICATE.pem
        $ wget https://network.pivotal.io/api/v2/products/p-bosh-backup-and-restore/releases/358569/product_files/370032/download
        $ chmod a+x bbr
        </pre>
