---
title: Kubernetes Grid Integrated Edition Certificates
owner: TKGI
---

<strong><%= modified_date %></strong>

This topic describes <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) certificates.

## <a id="overview"></a>Overview of <%= vars.k8s_runtime_abbr %> Certificates

<%= vars.k8s_runtime_abbr %> uses Certificate Authority (CA) certificates, 
and the leaf certificates that they issue, 
for all communication between 
the <%= vars.k8s_runtime_abbr %> tile, the <%= vars.k8s_runtime_abbr %> control plane, 
<%= vars.k8s_runtime_abbr %> components, and
<%= vars.k8s_runtime_abbr %>-managed Kubernetes clusters.

### <a id="control"></a>Overview of <%= vars.k8s_runtime_abbr %> Control Plane Certificates

<%= vars.k8s_runtime_abbr %> control plane and tile certificates are configurable 
and non-configurable certificates:  

* Configurable certificates must be rotated.  
* Non-configurable certificates rotate automatically with each tile upgrade. 

All <%= vars.k8s_runtime_abbr %> control plane and tile certificates are stored in CredHub.  

For more information, see [Certificate Types](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/certificate-types.html)
in the Ops Manager documentation.


### <a id="overview"></a>Overview of Cluster Certificates

<%= vars.k8s_runtime_abbr %>-created Kubernetes clusters use 
shared and cluster-specific CA certificates, and the leaf-level certificates that they issue.  

#### <a id="overview-specific"></a>Cluster-Specific Certificates

Cluster-specific certificates are Kubernetes cluster certificates that 
have values and expiration dates unique to each cluster.

Cluster-specific certificates are generated for a new Kubernetes cluster 
by <%= vars.k8s_runtime_abbr %> when it creates the cluster. 
These cluster-specific certificates are managed by CredHub.

The following are the cluster-specific certificates:  

* `kubo_ca_2018` and `etcd_ca_2018`, used by clusters in all environments.
* `tls_nsx_t` and `tls_nsx_lb`, used only by clusters in NSX-T environments.


#### <a id="overview-shared"></a>Shared Cluster Certificates  

Shared cluster certificates are Kubernetes cluster certificates that are common to 
all <%= vars.k8s_runtime_abbr %>-deployed Kubernetes clusters.

Shared cluster certificates do not have unique values for each cluster.
Some of them are used by the <%= vars.k8s_runtime_abbr %> control plane
for communication between the <%= vars.k8s_runtime_abbr %> control plane and
the clusters.

