---
title: Tanzu Kubernetes Grid Integrated Edition Certificates
owner: TKGI
---

This topic summarizes <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) certificates
and how to rotate them.

## <a id="overview"></a>Overview of <%= vars.k8s_runtime_abbr %> Certificates

<%= vars.k8s_runtime_abbr %> secures all communication between <%= vars.k8s_runtime_abbr %> control plane components and <%= vars.k8s_runtime_abbr %>-managed Kubernetes clusters
with RSA Certificate Authority (CA) certificates and leaf certificates that they issue:

* **Non-configurable certificates** rotate automatically with selected <%= vars.k8s_runtime_abbr %> tile upgrades.
* **Configurable certificates** must be periodically checked for expiration dates and rotated.

All <%= vars.k8s_runtime_abbr %> control plane and tile certificates are stored in CredHub.  

For more information, see [Certificate Types](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/certificate-types.html)
in the Ops Manager documentation.

## <a id="rotate"></a>Rotating Certificates

<%= vars.k8s_runtime_abbr %> certificates fall into different types based on
where they are used, and how you check expirations and rotate them.

With NSX-T networking, <%= vars.k8s_runtime_abbr %> uses additional certs that you must register with the NSX Manager after rotation.

The following table lists these types and their check and rotation procedures:

<table id='rotate' border="1" class="nice" >
  <tr>
    <th>Used By</th>
    <th>Configurable?</th>
    <th>How to Rotate</th>
  </tr><tr>
    <td><%= vars.k8s_runtime_abbr %> Control Plane</td>
    <td>N*</td>
    <td><a href="./rotate-tile-certificates.html#control">Rotate TKGI Control Plane Certificates</a></td>
  </tr><tr>
    <td><%= vars.k8s_runtime_abbr %> Control Plane (NSX-T)</td>
    <td>Y</td>
    <td><a href="./nsxt-generate-pi-cert.html#certificates-nsx-pid-options">Options for Generating the Certificate and Key</a></td>
  </tr><tr>
    <td><%= vars.k8s_runtime_abbr %> Control Plane and Clusters, Shared</td>
    <td>N*</td>
    <td><a href="rotate-cluster-certificates.html#shared">Rotate Shared Cluster Certificates</a></td>
  </tr><tr>
    <td>Unique to Cluster</td>
    <td>Y</td>
    <td><a href="./rotate-cluster-certificates.html#unique">Rotate Cluster-Specific Certificates</a><br />
    <a href="rotate-cluster-certificates.html#unique-nsxt">Rotate Cluster-Specific NSX-T Certificates</a></td>
  </tr>
</table>

*Non-configurable certificates rotate with tile upgrade and do not ordinarily require manual rotation.


