---
title: Tanzu Kubernetes Grid Integrated Edition Certificates
owner: TKGI
---

This topic summarizes <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) certificates
and how to rotate them.

## <a id="overview"></a>Overview of <%= vars.k8s_runtime_abbr %> Certificates

<%= vars.k8s_runtime_abbr %> secures all communication between <%= vars.k8s_runtime_abbr %> control plane components and <%= vars.k8s_runtime_abbr %>-managed Kubernetes clusters
using Transport Layer Security (TLS) validated by RSA Certificate Authority (CA) certificates and leaf certificates that they issue:  

* **TKGI Control Plane Certificates**  

    TKGI Control Plane Certificates are the certificates used by the TKGI API server and TKGI DB server 
    to secure TKGI Control Plane component communication.  

    * **User-Configurable Certificates**  
    
        The user-configurable certificates used by TKGI are:  

        * The TKGI API Service certificate: TKGI uses the TKGI API Service certificate to secure access to the TKGI API endpoint.  
        * The NSX-T SuperUser certificate: TKGI uses the NSX-T SuperUser certificate to secure access to the NSX-T manager.  
        
        User-configurable certificates must be manually updated.  

* **TKGI Kubernetes Cluster Certificates**  

    TKGI Kubernetes Cluster certificates, used by Kubernetes clusters, 
    are unique to each Kubernetes cluster created by TKGI.  

* **BOSH Certificates used by TKGI**  

    The certificates used by TKGI also include some of the certificates managed by BOSH, such as the BOSH DNS certificate.  

For more information, see [Certificate Types](https://docs.pivotal.io/ops-manager/security/pcf-infrastructure/certificate-types.html)
in the Ops Manager documentation.

##<a id='cluster-ca'></a><%= vars.k8s_runtime_abbr %>-Provisioned Kubernetes Cluster Certificates

<%= vars.k8s_runtime_abbr %> supports a per-cluster CA for Kubernetes clusters. 
Kubernetes clusters provisioned by <%= vars.k8s_runtime_abbr %> no longer use a shared CA.  

When <%= vars.k8s_runtime_abbr %> provisions a Kubernetes cluster, the system generates 
CA certificates and leaf certificates that have values and 
expiration dates unique to that cluster.  

<%= vars.k8s_runtime_abbr %> manages the lifecycle of the per-cluster CA and the certificates it signs.  

There is no action required to use the new per-cluster CA.

### <a id="cluster-certs"></a>Kubernetes Cluster Certificates

A <%= vars.k8s_runtime_abbr %>-provisioned Kubernetes cluster includes CA certificates and their leaf certificates:  

<img src="images/cluster-certs.png">


The following CA and leaf certificates are used by all <%= vars.k8s_runtime_abbr %>-provisioned Kubernetes clusters:  

-  `kubo_ca_2018`:
  - `tls-kubelet-2018`
  - `tls-metrics-server-2018`
  - `tls-kubelet-client-2018`
  - `tls-kube-controller-manager-2018`

- `etcd_ca_2018`:
  - `tls-etcd-2018-2`
  - `tls-etcdctl-2018-2`
  - `tls-etcdctl-root-2018-2`  
  - `tls-etcdctl-flanneld-2018-2`  

- `kubo_master_ca_2021`
  - `tls-kubernetes-2018`
  - `tls-ncp-2018 (with NSX-T)`
  - `tls-nsx-kube-proxy-2018 (with NSX-T)`  
  
The following certificates are used for NSX-T only:  

- `tls-nsx-lb`  
- `tls-nsx-t`  

<br>
    The NSX-T only certificates must be registered with NSX Manager.  


## <a id="rotate"></a>Rotating Certificates

<%= vars.k8s_runtime_abbr %> certificates fall into different types based on
where they are used, and how you check expirations and rotate them.

With NSX-T networking, <%= vars.k8s_runtime_abbr %> uses additional certs that you must register with the NSX Manager after rotation.

The following table lists these types and their check and rotation procedures:

<table id='rotate' border="1" class="nice" >
  <tr>
    <th>Used By</th>
    <th>Configurable?</th>
    <th>How to Rotate</th>
  </tr><tr>
    <td><%= vars.k8s_runtime_abbr %> Control Plane</td>
    <td>N*</td>
    <td><a href="./rotate-tile-certificates.html#control">Rotate TKGI Control Plane Certificates</a></td>
  </tr><tr>
    <td><%= vars.k8s_runtime_abbr %> Control Plane (NSX-T)</td>
    <td>Y</td>
    <td><a href="./nsxt-generate-pi-cert.html#certificates-nsx-pid-rotate">Rotate the Principal Identity Certificate and Key</a> in <em>Generating and Registering the NSX Manager Superuser Principal Identity Certificate and Key</em></td>
  </tr><tr>
    <td>Kubernetes clusters provisioned by <%= vars.k8s_runtime_abbr %></td>
    <td>Y</td>
    <td><a href="./rotate-cluster-certificates.html#unique">Rotate Cluster Certificates</a><br />
    <a href="rotate-cluster-certificates.html#unique-nsxt">Rotate Cluster with NSX-T Certificates</a></td>
  </tr>
</table>

*Non-configurable certificates rotate with tile upgrade and do not ordinarily require manual rotation.


