---
title: Using Compute Profiles (vSphere)
owner: TKGI
---

This topic describes how to use compute profiles for Kubernetes clusters
provisioned with <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) on vSphere with NSX-T integration.

Compute profiles let you customize cluster resources parameters.

## <a id="how-created"></a> How Compute Profiles are Created

<%= vars.k8s_runtime_abbr %> cluster administrators can create and delete compute profiles, as described in the [Creating and Managing Compute Profiles with the CLI (vSphere)](./compute-profiles-manage.html) topic.

After an administrator creates a compute profile, cluster managers and read-only admins can create clusters with it or assign it to existing clusters.

## <a id="list-profiles"></a> List Compute Profiles

To list available compute profiles, run the following command:

```
tkgi compute-profiles
```

For example:

<pre class="terminal">
$ tkgi compute-profiles

Name                    Description
test-compute-profile-1  My test compute profile 1
test-compute-profile-2  My test compute profile 2
test-compute-profile-3  My test compute profile 3
</pre>

## <a id='create'></a> Create a Cluster with a Compute Profile

You can assign a compute profile to a Kubernetes cluster at the time of cluster creation.

To create an <%= vars.k8s_runtime_abbr %>-provisioned Kubernetes cluster with a compute profile, run the following command:

```
tkgi create-cluster CLUSTER-NAME --external-hostname HOSTNAME --plan PLAN-NAME --compute-profile COMPUTE-PROFILE-NAME
```

Where:

* `CLUSTER-NAME` is a unique name for your cluster.
* `HOSTNAME` is your external hostname used for accessing the Kubernetes API.
* `PLAN-NAME` is the name of the <%= vars.k8s_runtime_abbr %> plan you want to use for your cluster.
* `COMPUTE-PROFILE-NAME` is the name of the compute profile you want to use for your cluster.

For example:

<pre class="terminal">
tkgi create-cluster test -e test.tkgi.shep.api.com --compute-profile test-compute-profile -p "small"

TKGI Version:              1.9.0-build.11
Name:                     test
K8s Version:              1.18.5
Plan Name:                small
UUID:                     <UUID of deployment>1
Last Action:              CREATE
Last Action State:        in progress
Last Action Description:  Creating cluster
Kubernetes Master Host:   test.tkgi.shep.api.com
Kubernetes Master Port:   8443
Worker Nodes:             3
Kubernetes Master IP(s):  In Progress
Network Profile Name:
Kubernetes Profile Name:
Compute Profile Name:     test-compute-profile
Tags:
</pre>

## <a id="update-profile"></a> Assign a Compute Profile to an Existing Cluster
 
<%= vars.k8s_runtime_abbr %> supports changing the compute profile for an already created cluster.
You can use this procedure to:

- assign a compute profile to a cluster that does not have one, or
- change a cluster's existing profile to a new one

<p class="note"><strong>Note:</strong> You cannot change a cluster's compute profile to  to move its nodes to different Availability Zones.</p>

This is the procedure to change a cluster's compute profile:

1. Do one of the following
	- Choose a new compute profile for the cluster.
	See [List Compute Profiles](#list-profiles).
	- Have a <%= vars.k8s_runtime_abbr %> cluster administrator define and create a new compute profile as described in [Create a Compute Profile](./compute-profiles-manage.html#create) in _Creating and Managing Compute Profiles with the CLI (vSphere)_. 
  		- The name of the new compute profile must be unique and different from the previously assigned compute profile.

1. Run the following command to update the cluster with the new compute profile:

    ```
    tkgi update-cluster CLUSTER-NAME --compute-profile NEW-COMPUTE-PROFILE-NAME
    ```

    Where: 
    * `CLUSTER-NAME` is the name of the existing Kubernetes cluster 
    * `NEW-COMPUTE-PROFILE-NAME` is the name of the new compute profile you want to apply to the cluster.

	  For example:
		
	<pre class="terminal">
	tkgi update-cluster test --compute-profile new-compute-profile
  
	Update summary for cluster test:
	Compute Profile Name: new-compute-profile
	Are you sure you want to continue? (y/n): y
	Use 'tkgi cluster test' to monitor the state of your cluster
  </pre>

### <a id="compute-profile-validation"></a> Compute Profile Update Validation

There are strict validation rules for the `tkgi update-cluster --compute-profile` command:

- You cannot update a compute profile for a cluster that already has an associated profile created in <%= vars.k8s_runtime_abbr %> v1.8 or earlier.
- If a field in the original compute profile is empty, the system ignores the empty field even if the field is included in the new compute profile. 
- If a field in the existing compute profile conflicts with a field in the new compute profile, the system reports the conflict and fails the validation.
- If the field is empty in the new compute profile, then the system ignores the field even if the field is not empty in the original compute profile.

## <a id='use-cases'></a> Compute Profile Use Cases

Compute profiles let you customize NSX-T configuration parameters for clusters when you create them or afterward.
Use cases for compute profiles include:

<%= partial 'compute-profiles-uses' %>
