---
title: Configuring SAML as an Identity Provider for UAA
owner: PKS
---

Before you configure a SAML identity provider in the <%= vars.product_tile %> tile, you must configure your identity provider to designate <%= vars.product_short %> as a service provider.

Refer to the table below for information about industry-standard identity providers and how to integrate them with <%= vars.product_short %>:

<table>
  <tr>
    <th>Solution Name</th>
    <th>Integration Guide</th>
  </tr>

  <tr>
    <td><a href="https://www.okta.com/products/single-sign-on/">Okta Single Sign-On</a></td>
    <td><a href="./okta-sso-config.html">Configuring Okta as a SAML Identity Provider</a></td>
  </tr>
  
  <tr>  
    <td><a href="https://azure.microsoft.com/en-us/services/active-directory/">Azure Active Directory</a></td>
    <td><a href="./azure-ad-sso-config.html">Configuring Azure Active Directory as a SAML Identity Provider</a></td>
  </tr>
</table>

To integrate UAA with a SAML identity provider, configure <%= vars.product_short %>, by doing the following:

1. Under **UAA**, select **SAML Identity Provider**.

    ![SAML Fields 1](images/saml1.png)

1. For **Provider Name**, enter a unique name you create for the Identity Provider. This name can include only alphanumeric characters, +, &#95;, and -. You must not change this name after deployment because all external users use it to link to the provider.

1. For **Display Name**, enter a display name for your provider. This display name appears as a link on your Ops Manager login page, which you can access at `https://PKS-API:8443/login`.

    ![SAML provider display name](images/saml-display-name.png)

1. Retrieve the metadata from your identity provider and enter it into either the **Provider Metadata** or the **Provider Metadata URL** fields, depending on whether your identity provider exposes a metadata URL or not.
    You recorded your identity provider metadata when you configure your identity provider to designate <%= vars.product_short %> as a service provider.
    <br><br>Enter the your identity provider metadata by doing one of the following:
    * If your identity provider exposes a metadata URL, enter it in **Metadata URL**.
    * Download your identity provider metadata and paste this XML into **Provider Metadata**.

    <%= vars.recommended_by %> recommends that you use the Provider Metadata URL rather than Provider Metadata because the metadata can change.
    <p class='note'><strong>Note:</strong> You only need to select one of the above configurations. If you configure both, your Identity Provider defaults to the <strong>(OR) Provider Metadata URL</strong>.</p>

1. For **Name ID Format**, select the name identifier format for your SAML Identity Provider. This translates to `username` on <%= vars.product_short %>. The default is `Email Address`.

    ![SAML Fields 2](images/saml2.png)

1. For **First Name Attribute** and **Last Name Attribute**, enter the attribute names in your SAML database that correspond to the first and last names in each user record. This field is case sensitive.

1. For **Email Attribute**, enter the attribute name in your SAML assertion that corresponds to the email address in each user record, for example, `EmailID`. This field is case sensitive.

1. For **External Groups Attribute**, enter the attribute name in your SAML database for your user groups. This field is case sensitive.
To map the groups from the SAML assertion to admin roles in PKS, see [Grant <%= vars.product_short %> Access to an External LDAP Group](./manage-users.html#external-group) in _Managing Enterprise PKS Users with UAA_.

1. By default, all SAML Authentication Request from  <%= vars.product_short %> are signed. To change this, disable  **Sign Authentication Requests** and configure your Identity Provider to verify SAML authentication requests.

1. To validate the signature for the incoming SAML assertions, enable **Required Signed Assertions**
and configure your Identity Provider to send signed SAML assertions.

1. For **Signature Algorithm**, choose an algorithm from the dropdown to use for signed requests and assertions. The default value is `SHA256`.

1. Click **Save**.
