---
title: Configuring PKS API Access
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to configure access to the <%= vars.product_full %> API.
See [PKS API Authentication](pks-api-auth.html) for more information about how the PKS API and UAA interact with your <%= vars.product_short %> deployment.

##<a id='access'></a> Configure Access to the PKS API

1. Locate your Ops Manager root CA certificate.
 * If Ops Manager generated your certificate, refer to the [Retrieve the Ops Manager Root CA](https://docs.pivotal.io/pivotalcf/security/pcf-infrastructure/managing-certificates.html#root-certs) section of _Managing Certificates with the Ops Manager API_.
 * If you provided your own certificate, copy and paste the certificate you entered in the **PKS API** pane into a file.

1. Target your UAA server by running the following command:

    ```
    uaac target https://PKS-API:8443 --ca-cert ROOT-CA-FILENAME
    ```
    Where:
    * `PKS-API` is the fully qualified domain name (FQDN) you use to access the PKS API.
    You configured this URL in the PKS API section of _Installing <%= vars.product_short %>_ for your IaaS.
    For example, see [Installing <%= vars.product_short %> on vSphere](installing-pks-vsphere.html#pks-api).
    * `ROOT-CA-FILENAME` is the path for the certificate file you downloaded in a previous step.
    For example:
    <pre class="terminal">
    $ uaac target api.pks.example.com:8443 --ca-cert my-cert.cert
    </pre>
    Including `https://` in the PKS API URL is optional.

1. To request a token from the UAA server run the following command:

    ```
    uaac token client get admin -s UAA-ADMIN-SECRET
    ```
    Where `UAA-ADMIN-SECRET` is your UAA admin secret.
    Refer to **Ops Manager** > **<%= vars.product_tile %>** > **Credentials** > **Pks Uaa Management Admin Client** to retrieve your UAA admin secret.

1. Grant cluster access to new or existing users with UAA.
For more information on granting cluster access to users or creating users, see the [Grant <%= vars.product_short %> Access to an Individual User](manage-users.html#uaa-user)
section of _Managing <%= vars.product_short %> Admin Users with UAA_.
