---
title: Identity Management in the Management Console 
owner: TKGI
---

On vSphere, you can add individual users or user groups to <%= vars.product_short %> Management Console. You can assign roles to individual users or to groups. If you assign a role to a group, all of the users in that group have that role.

For information about the roles that you can assign, see [UAA Scopes for Tanzu Kubernetes Grid Integrated Edition Users](./uaa-scopes.html).

For information about the tasks that Cluster Managers can perform, see [Tanzu Kubernetes Grid Integrated Edition Architecture](./control-plane.html). The <%= vars.k8s_runtime_abbr %> Administrator role allows users to manage the <%= vars.product_short %> infrastructure. 

## <a id='identity-users'></a>Add Individual Users

The procedure to add individual users to <%= vars.product_short %> Management Console is as follows. 

<p class="note"><strong>Note</strong>: This release of <%= vars.product_short %> Management Console does not support assigning roles to individual LDAP or SAML users. To assign roles to LDAP or SAML users, use user groups.</p>

1. Go to the **Identity Management** view of the management console.
1. Select the **Users** tab.

    ![Add users](images/console/add-users.png)
    [View a larger version of this image](images/console/add-users.png)
1. Click **Add User**. 
1. Enter a user name and enter and verify a password to create a new user account. 

   The password that you set must meet the following criteria:
    
   * Minimum eight characters
   * Maximum 20 characters
   * Minimum one lowercase character
   * Minimum one numeric character
   * Minimum one special character
   * Minimum two alphabetic characters
   * Minimum one uppercase character
   * Minimum one numeric character
   * Maximum 3 identical adjacent characters     
      
    ![Add a new UAA user](images/console/new-user-uaa.png)
1. Assign a role to the user. 
   * `pks.clusters.manage`: Accounts with this scope can create and access their own clusters.
   * `pks.clusters.admin`: Accounts with this scope can create and access all clusters.
   * `pks.clusters.admin.read`: Accounts with this scope can access any information about all clusters except for cluster credentials.
1. Click **Save**.
1. If you do not assign a role to a user when you create or add the account, or to change a user's role, select the user in the **Users** tab, and select **Assign Role**.

## <a id='identity-groups'></a>Add User Groups

The procedure to add user groups to <%= vars.product_short %> Management Console is as follows. 

1. Go to the **Identity Management** view of the management console.
1. Select the **Groups** tab.

    ![Add users](images/console/add-groups.png)
    [View a larger version of this image](images/console/add-groups.png)
1. Click **Add Group**. 
1. Enter an existing LDAP or SAML user group. 
    * **LDAP**: Enter the distinguished name of an existing LDAP group under the configured group search base, for example `cn=admins,ou=engineering,dc=username,dc=local`.
    * **SAML**: Enter the name of your SAML identity provider group.
1. Assign a role to the group. 
   * `pks.clusters.manage`: Accounts with this scope can create and access their own clusters.
   * `pks.clusters.admin`: Accounts with this scope can create and access all clusters.
   * `pks.clusters.admin.read`: Accounts with this scope can access any information about all clusters except for cluster credentials.

    ![Add a new UAA user](images/console/new-group.png)
1. Click **Save**.

<p class="note"><strong>Note</strong>: You must assign a role to a group when you add it. You cannot assign, change, or revoke a group role after you have added the group.</p>

## <a id='remove-users'></a>Remove Individual Users

The procedure to remove individual users from <%= vars.product_short %> Management Console is as follows. 

1. Go to the **Identity Management** view of the management console.
1. Select the **Users** tab.
1. Select a user.
1. Click **Remove User**.

## <a id='remove-groups'></a>Remove User Groups

The procedure to remove individual users from <%= vars.product_short %> Management Console is as follows. 

1. Go to the **Identity Management** view of the management console.
1. Select the **Groups** tab.
1. Select a group.
1. Click **Remove Group**.

## <a id='next-steps'></a> Next Steps

- [Assign Resource Quotas to Users](console-resource-quotas.html)
- [Working with Network Profiles](console-network-profile.html)
- [Create Clusters in the Management Console](console-create-clusters.html)