---
title: Delete Your Tanzu Kubernetes Grid Integrated Edition Deployment
owner: TKGI
---

This topic describes how to use the <%= vars.product_full %> Management Console (<%= vars.k8s_runtime_abbr %> MC) to remove a <%= vars.k8s_runtime_abbr %> deployment.  


<br>
<br>
## <a id='overview'></a>Overview

If you no longer require a <%= vars.k8s_runtime_abbr %> deployment deployed by the <%= vars.k8s_runtime_abbr %> MC, you can use <%= vars.k8s_runtime_abbr %> MC to delete it. 
When <%= vars.k8s_runtime_abbr %> MC deletes a <%= vars.k8s_runtime_abbr %> deployment, it removes or cleans up deployment-related objects on the <%= vars.k8s_runtime_abbr %> MC VM and in the vSphere inventory.  

<p class="note"><strong>Note</strong>: If <%= vars.k8s_runtime_abbr %> MC fails to deploy <%= vars.k8s_runtime_abbr %> correctly, always use <%= vars.k8s_runtime_abbr %> MC to cleanly remove the failed deployment.</p>

To remove a <%= vars.k8s_runtime_abbr %> installation deployed by <%= vars.k8s_runtime_abbr %> MC: 

* [Remove the <%= vars.k8s_runtime_abbr %> MC Deployment](#remove-deployment)  


<br>
<br>
## <a id='remove-deployment'></a>Remove the <%= vars.k8s_runtime_abbr %> MC Deployment

To remove a <%= vars.k8s_runtime_abbr %> MC deployment:  

1. Use the <%= vars.k8s_runtime_abbr %> CLI to delete any existing clusters and nodes before deleting your <%= vars.k8s_runtime_abbr %> deployment.  
1. Open the <%= vars.k8s_runtime_abbr %> MC.  
1. Go to the **TKG Integrated Edition** view.  
1. Click the **Action** drop-down menu and select **Delete Tanzu Kubernetes Grid Integrated Edition Deployment**.  
1. Click **Delete** to confirm the deletion of the deployment.  
