---
title: Prerequisites for vSphere (Antrea and Flannel Networking)
owner: TKGI
---

This topic describes the configurations needed to deploy <%= vars.product_full %> Management Console (<%= vars.k8s_runtime_abbr %> MC) on vSphere with Antrea or Flannel container networking.  


<br>
<br>
## <a id='prerequisites'></a>Prepare for Deploying <%= vars.k8s_runtime_abbr %> MC on vSphere with Antrea or Flannel 

To deploy <%= vars.k8s_runtime_abbr %> MC on vSphere with Antrea or Flannel container networking:  

1. Select the option for <%= vars.k8s_runtime_abbr %> MC to provision an Antrea or Flannel CNI for you during <%= vars.k8s_runtime_abbr %> deployment on vSphere.  
1. Obtain the following IP addresses to use for deployment to vSphere without an NSX network:  

    * DNS server, subnet, subnet mask, and gateway of the network on which to deploy <%= vars.k8s_runtime_abbr %>.  
    * DNS server, subnet, subnet mask, and gateway of the vSphere without NSX service network.  
    * Subnet range and subnet mask for the Kubernetes pod and Kubernetes service networks.  
