---
title: Prerequisites for Tanzu Kubernetes Grid Integrated Edition Management Console Deployment
owner: TKGI
---

VMware <%= vars.product_short %> Management Console is provided as an OVA template that requires at a minimum the vSphere resources described in [Virtual Infrastructure Prerequisites](console-prereqs-vsphere.html).

For more information, see [When Should I Use <%= vars.product_short %> Management Console?](./vsphere-index.html#when-to-use-console)

## <a id='network-configurations'></a>Network Configurations

<%= vars.product_short %> Management Console provides 3 network configuration options for your <%= vars.product_short %> deployments. Each network configuration option has specific prerequisites. 

- **Bring your own topology**: Deploy <%= vars.product_short %> to an existing NSX-T Data Center network that you have fully configured yourself. See [Prerequisites for a Bring Your Own Topology Deployment to NSX-T Data Center](console-prereqs-nsxt-byot.html).
- **Automated NAT deployment**: Deploy <%= vars.product_short %> to an existing NSX-T Data Center network that you have not fully set up, that <%= vars.product_short %> Management Console helps to configure for you. See [Prerequisites for an Automated NAT Deployment to NSX-T Data Center](console-prereqs-nsxt-automatednat.html).
- **vSphere Without NSX-T**: Deploy <%= vars.product_short %> to vSphere without an NSX-T network that <%= vars.product_short %> Management Console provisions for you. See [Prerequisites for vSphere Without an NSX-T Network](console-prereqs-flannel.html).

For the list of firewall ports that must be open for an <%= vars.product_short %> Management Console deployment, see [Firewall Ports and Protocols Requirements for Tanzu Kubernetes Grid Integrated Edition Management Console](console-ports-protocols.html).

When your environment meets the prerequisites for vSphere and for your chosen type of networking, you can [Deploy the <%= vars.product_short %> Management Console](console-deploy-ova.html).
