---
title: Creating and Managing Network Profiles in the Management Console
owner: TKGI
---

You can add, view and remove network profiles using the <%= vars.product_short %> Management Console on vSphere.

## <a id='network-profile-using'></a>Using Network Profiles

Network profiles let you customize the NSX-T infrastructure networking and the runtime NCP networking for Kubernetes clusters provisioned by <%= vars.product_short %>. For example, using a network profile you can change the size of the control plane load balancer, add an additional subnet for nodes, and enable the use of a third party ingress controller. For a complete list of use cases, see [Network Profile Use Cases](./network-profiles.html#use-cases).

## <a id='network-profile-reqs'></a>Requirements for Network Profiles

Network profiles are supported in NSX mode only; there is no support for vSphere without NSX-T mode. In addition, only management console `root` and `pks.clusters.admin` users can create, view, and delete network profiles. Cluster managers can use a network profile when creating a cluster, either using the management console or the <%= vars.k8s_runtime_abbr %> CLI.

## <a id='network-profile-cluster-create'></a>Create Cluster with Network Profile

Use the <%= vars.product_short %> Management Console to create a cluster with an existing network profile.

1. Select **TKG Integrated Edition** > **Clusters**, and select **Create Cluster**.
1. Use the **Network Profile** drop-down menu to select the network profile to use.
1. Click **Show More** to view the profile.

    ![Create cluster with network profile](images/console/network-profile-create-cluster-with.png)
    [View a larger version of this image](images/console/network-profile-create-cluster-with.png)

## <a id='network-profile-define'></a>Define Network Profile

Use the <%= vars.product_short %> Management Console to define a network profile. 

<p class="note"><strong>NOTE:</strong> You must be at the console home page to view the <strong>Network Profiles</strong> tab.</p>

1. Select **Profiles** and select the **Network** tab.
1. Click **Create Profile**.
1. Enter a **Name** for the profile.
1. Enter a suitable **Description** for the profile.
1. Optionally you can set up Parameters for [Advanced Network](#advanced-network) or [Container Network](#container-network).
1. Configure the new profile as needed, or use the default values.
1. Click **Save**.

    ![Define network profile with advanced networks parameters](images/console/network-profile-advanced-network.png)
    [View a larger version of this image](images/console/network-profile-advanced-network.png)

    ![Define network profile with container network parameters](images/console/network-profile-container-network.png)
    [View a larger version of this image](images/console/network-profile-container-network.png)

## <a id='network-profile-delete'></a>Delete Network Profile

Use the <%= vars.product_short %> Management Console to delete network profile. 

<p class="note"><strong>NOTE:</strong> You cannot delete a network profile that is in use by a cluster.</p>

1. Select the **Network Profiles** tab.
1. Select the network profile to remove.
1. Click **Delete**.
1. Confirm deletion.

    ![Delete network profile](images/console/network-profile-delete.png)
    [View a larger version of this image](images/console/network-profile-delete.png)

## <a id='advanced-network'></a>Advanced Network Parameters

The table lists and describes the available network profile options for customizing NSX-T.

Profile Option 								               		| Description											
----------------------------------------------------------------|------------------------------------------------------------------------------
[Load Balancer Size](./network-profiles-lb-size.html)	   		| Size of the control plane load balancer: `Small`, `Medium`, `Large`.
[Pod IP Block IDs](./network-profiles-pods.html) 		   		| Array of Pod IP Block UUIDs defined in NSX-T.
[Pod Subnet Prefix](./network-profiles-pods.html#pod-prefix)	| Size of the Pods IP Block subnet.
[Pod Routability](./network-profiles-pods.html#routable-pods) 	| Make routable the custom Pods subnet: `Yes` or `No`. 
[Floating Pool IDs](./network-profiles-fip.html)          		| Array of floating IP pool UUIDs defined in NSX-T.
[T0 Router ID](./network-profiles-edge.html)	    	   		| Tenant Tier-0 Router UUID defined in NSX-T.
Failover Mode	                                 	   		    | Select **Preemptive** or **Non-preemptive**.
[Master VMs NSGroup IDs](./network-profiles-ns-groups.html)	| Namespace Group UUID as defined in NSX-T.
[Node IP Block IDs](./network-profiles-nodes.html)  	   		| Array of Node IP Block UUIDs defined in NSX-T.
[Node Routable](./network-profiles-nodes.html)  		   		| Make routable the custom Node subnet: `Yes` or `No`.
[Node Subnet Prefix](./network-profiles-nodes.html)  	   		| Size of the Node IP Block subnet.
[Nodes DNS](./network-profiles-nodes-dns.html)  		   		| Array of DNS server IP addresses for lookup of Kubernetes nodes and pods.
[DNS Lookup Mode](./network-profiles-dns.html)			   		| DNS lookup for the API LB (`API`) and ingress controller (`API_INGRESS`).
[Ingress Prefix](./network-profiles-ncp-ingress.html) 	   		| Ingress controller hostname prefix for DNS lookup. 
[Single Tier Topology](./network-profiles-shared-t1.html)  	| Use a single Tier-1 Router per cluster: `Yes` or `No`.
Infrastructure Networks											| Array of IP addresses and subnets for use with a [single tier topology](./network-profiles-shared-t1.html) in a [multi-T0 environment](./network-profiles-edge.html).
Custom Infrastructure Networks 						   			| Comma-separated array of custom IP addresses or network CIDRs to be used for Infrastructure Networks.

## <a id='container-network'></a>Container Networks Parameters

The table lists and describes the available network profile options for customizing NCP.

Profile Option 								              		| Description								
----------------------------------------------------------------|------------------------------------------------------------------------------
[Use NSX-T L4 Virtual Server for K8s Load Balancer](./network-profiles-ncp-lb.html) | Use NSX-T layer 4 virtual server for each Kubernetes service of type LoadBalancer: `Yes` or `No`.
[Use NSX-T L7 Virtual Server as the Ingress Controller for K8s Cluster](./network-profiles-ncp-ingress.html) | Use NSX-T layer 7 virtual server as the ingress controller for the Kubernetes cluster: `Yes` or `No`.
[Use Same Source IP for Calling Clients](./network-profiles-ncp-ingress.html) | Use the same source IP for calling clients: `Insert` or `Replace`.
[Ingress controller IP address](./network-profiles-ncp-ingress.html) | IP address to use for the ingress controller.
[NCP Log Level](./network-profiles-ncp-logerr.html) 			| Configure NCP log levels: `INFO`, `WARNING`, `DEBUG`, `ERROR`, `CRITICAL`.
[Log Dropped Firewall Traffic](./network-profiles-ncp-logerr.html) | Log dropped firewall traffic: `Yes` or `No`.
[Log Firewall Traffic](./network-profiles-ncp-logerr.html) | Select **All**, **None**, or **Deny**.
[Ingress Persistence Type](./network-profiles-ncp-ingress.html)	| Specify the ingress persistence type: `none`, `cookie`, `source_ip`.
[Persistence Timeout Interval in Seconds](./network-profiles-ncp-ingress.html) | Persistence timeout interval in seconds.
[Maximum Number of L4 Servers Per Cluster](./network-profiles-ncp-lb.html) | Limit the number of L4 virtual servers per cluster.
[L4 Persistence Type](./network-profiles-ncp-lb.html) 			| Connection stickiness based on `source_ip`.
[L4 Load Balancer Behavior](./network-profiles-ncp-lb.html)		| Customize the layer 4 load balancer behavior: `round_robin`, `least_connection`, `ip_hash`, `weighted_round_robin`.
[Top Section-id for Distributed Firewall Section](./network-profiles-ncp-dfw.html) | UUID of the top `section-id` for the distributed firewall (DFW) section as defined in NSX-T.
[Bottom Section-id for Distributed Firewall Section](./network-profiles-ncp-dfw.html) | UUID of the bottom `section-id` for the distributed firewall (DFW) section as defined in NSX-T.
[Lb Http Request Header Size](./network-profiles-ncp-lb.html) | The default maximum request header size is 10,240 characters.
[Lb Http Response Header Size](./network-profiles-ncp-lb.html) | The default maximum response header size is 10,240 characters.
[Lb Http Response Timeout](./network-profiles-ncp-lb.html) | Timeout in seconds.
[Connect Retry Timeout](./network-profiles-ncp-lb.html) | Timeout in seconds.


