---
title: Install Tanzu Kubernetes Grid Integrated Edition on vSphere with the Management Console
owner: TKGI
---

VMware <%= vars.product_short %> Management Console provides a unified installation experience for 
deploying <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) to vSphere. 


## <a id='overview'></a>Overview

The VMware <%= vars.product_short %> Management Console is easy to use. 
The <%= vars.k8s_runtime_abbr %> Management Console provides a graphical user interface that assists you with the configuration when deploying <%= vars.k8s_runtime_abbr %> to vSphere.  

The <%= vars.k8s_runtime_abbr %> Management Console automates installation of the following: 

- Configures networking for <%= vars.product_short %>
- Deploys Ops Manager
- Generates and registers SSL certificates
- Deploys BOSH Director
- Deploys Tanzu Kubernetes Grid Integrated Edition
- Deploys Harbor Registry

The <%= vars.k8s_runtime_abbr %> Management Console is provided as a virtual appliance that you deploy to vSphere by using an OVA template. 
If you are experienced with installing <%= vars.k8s_runtime_abbr %> on vSphere, 
the help and the tool tips in the installer UI should be enough to complete the process. 
If you are new to <%= vars.k8s_runtime_abbr %>, refer to the following documentation as needed to assist with the installation:

- [Prerequisites for <%= vars.product_short %> Management Console Deployment](console-ova-deployment-prereqs.html)
- [Deploy the <%= vars.product_short %> Management Console](console-deploy-ova.html)
- [Deploy <%= vars.product_short %> from the Management Console](console-deploy.html)

## <a id='decide-when-to-use-console'></a>Decide When to Use <%= vars.k8s_runtime_abbr %> Management Console

The <%= vars.k8s_runtime_abbr %> Management Console greatly simplifies the process of deploying <%= vars.product_short %>, 
but whether you should use the management console depends on your situation.

#### <a id='when-to-use-console'></a>When Should I Use <%= vars.product_short %> Management Console?

Use the <%= vars.k8s_runtime_abbr %> Management Console to greatly simplify deploying <%= vars.product_short %> to less complex environments. 

Users on vSphere who do not have a custom Ops Manager installation may prefer to install <%= vars.k8s_runtime_abbr %> using the <%= vars.k8s_runtime_abbr %> Management Console.

#### <a id='when-not-to-use-console'></a>When Should I Not Use <%= vars.product_short %> Management Console?

Users who already have Ops Manager installed for other uses, for example to run 
[<%= vars.app_runtime_full %>](https://docs.pivotal.io/application-service/overview/release-notes/runtime-rn.html), 
might prefer to install <%= vars.k8s_runtime_abbr %> using Ops Manager. 
Also, if you require more flexibility in configuring your <%= vars.k8s_runtime_abbr %> deployment, especially in complex NSX-T Data Center deployments, 
it might be more appropriate to install <%= vars.k8s_runtime_abbr %> using Ops Manager. 


Do not use the <%= vars.k8s_runtime_abbr %> Management Console if any the following conditions apply to your environment, they are not supported:  

- Deployments to a No-NAT topology with a vSphere Standard Switch or a vSphere Distributed Switch.
- [Multi-Foundation](.//nsxt-multi.html) deployments.  
<br>

Before using <%= vars.k8s_runtime_abbr %> Management Console to deploy <%= vars.k8s_runtime_abbr %>, consider the following factors:

- If you want to deploy <%= vars.k8s_runtime_abbr %> Management Console to a No-NAT topology with an NSX-T Data Center logical switch, you must perform a BYOT deployment.
- Deployments to a [Multi-Tier-0](./nsxt-multi-t0.html) topology are supported in BYOT deployments only and require additional configuration. For information about the additional configuration required, see [Tanzu Kubernetes Grid Integrated Edition Management Console Cannot Retrieve Cluster Data in a Multi-Tier0 Topology](console-troubleshooting.html#multi-T0-deployments) in *Troubleshooting Tanzu Kubernetes Grid Integrated Edition Management Console*.


For information about the supported topologies for a manual installation, see [NSX-T Deployment Topologies for <%= vars.k8s_runtime_abbr %>](./nsxt-topologies.html).


## <a id='use-console-for-day-two'></a>Use the <%= vars.k8s_runtime_abbr %> Management Console After Installing <%= vars.k8s_runtime_abbr %>

After you have deployed <%= vars.product_short %> on vSphere, you can use the <%= vars.k8s_runtime_abbr %> Management Console 
to deploy Kubernetes clusters and manage their lifecycle, and monitor and manage the operation of your <%= vars.product_short %> deployment. 
For information about how to use the <%= vars.k8s_runtime_abbr %> Management Console after deployment, see the following topics:

- [Create and Manage Clusters in the Management Console](console-create-and-manage-clusters.html)
- [Monitor and Manage <%= vars.product_short %> in the Management Console](console-monitor-manage.html)
- [Troubleshooting <%= vars.product_short %> Management Console](console-troubleshooting.html)



