---
title: Deploy Tanzu Kubernetes Grid Integrated Edition from the Management Console
owner: TKGI
---

You can deploy a new <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) instance on vSphere either by using the VMware <%= vars.product_short %> Management Portal configuration wizard to guide you through the configuration process, or by importing an existing YAML configuration file into the YAML editor.

- [Deploy Tanzu Kubernetes Grid Integrated Edition by Using the Configuration Wizard](console-deploy-wizard.html)
- [Deploy Tanzu Kubernetes Grid Integrated Edition by Importing a YAML Configuration File](console-deploy-yaml.html)

If you deploy  <%= vars.k8s_runtime_abbr %> with plans that use Windows worker nodes, further configuration is required. See <a href="console-windows-workers.html">Enable Plans with Windows Worker Nodes</a> for information about how to install a Windows Server stemcell and other necessary configuration actions that you must perform after you deploy <%= vars.product_short %>.

## <a id='ops-man'></a>Additional Ops Manager Configurations

The Management Console takes values entered into the configuration wizard and sets them in Ops Manager, an older component that underlies  <%= vars.k8s_runtime_abbr %> and has its own UI.  Because of this:

- The configuration wizard often makes using the Ops Manager UI unnecessary
- Values set in the configuration wizard override values set in Ops Manager

But there are configuration fields in Ops Manager that are not exposed by the configuration wizard,
which you can apply to your <%= vars.k8s_runtime_abbr %> deployment.
You can use the Ops Manager UI to configure the following,
and the management console will not override their values:

* **Health Monitor**
* **CredHub Encryption Provider**
* **Blobstore Location**
* **Database Location**

You configure all of these in the Ops Manager > **BOSH Director** tile > **Director Config** pane,
as described in [Step 3: Director Config Pane](https://docs.pivotal.io/ops-manager/vsphere/config.html#dir-config) in the _Ops Manager Documentation_.
