---
title: Troubleshooting Tanzu Kubernetes Grid Integrated Edition Management Console 
owner: TKGI
---

The following sections describe how to troubleshoot failures to deploy of the VMware <%= vars.product_short %> Management Console and of <%= vars.product_short %> instances from the management console.

For information about how to deploy the management console and install <%= vars.product_short %>, see [Install on vSphere with the Management Console](console-install-vsphere.html).

## <a id='ova-fails'></a> Deployment of the <%= vars.product_short %> Management Console Fails

**Problem**

<%= vars.product_short %> Management Console VM fails to deploy from the OVA template.

**Solution**

1. Use SSH to log in to the <%= vars.product_short %> Management Console VM as `root` user.
<br>Use the password that you specified when you  deployed the OVA.
1. Run the following command to obtain the server logs:

    ```
    journalctl -u tkgi-mgmt-server > server.log
    ```

1. If the logs do not provide the solution, delete the management console VM from vCenter Server and attempt to deploy it again.

## <a id='tkgi-deployment-fails'></a>Deployment of <%= vars.product_short %> from the Management Console Fails

**Problem**

<%= vars.product_short %> fails to deploy from the management console.

**Solution**

1. Follow the procedure in [Delete Your Tanzu Kubernetes Grid Integrated Edition Deployment](console-delete-deployment.html) to cleanly remove all <%= vars.product_short %> components from vSphere and to clean up related objects in the management console VM.
1. Attempt to deploy <%= vars.product_short %> again. 

## <a id='multi-T0-deployments'></a><%= vars.product_short %> Management Console Cannot Retrieve Cluster Data in a Multi-Tier0 Topology

**Problem**

In a deployment to a multiple-tier0 topology, <%= vars.product_short %> Management Console cannot display cluster information when you go to **TKG Integrated Edition** > **Clusters** and select a cluster. You see errors of the following type:

```
Failed to retrieve current K8s Cluster summary. cannot get cluster details: cannot get cluster namespaces: Get https://<address>:8443/api/v1/namespaces: dial tcp <address>:8443: i/o timeout
Failed to retrieve current K8s Cluster Volumes. cannot get namespaces of cluster 0116663b-f27b-4026-87e3-cddd01af41f2: Get https://<address>:8443/api/v1/namespaces: dial tcp <address>:8443: i/o timeout
```

**Cause**

In a single tier0 topology, <%= vars.product_short %> Management Console is deployed to the same infrastructure network as vSphere and NSX-T Data Center. In a multiple-tier0 topology, due to tenant isolation, the infrastructure network is not routable to tenant tier0 uplink networks. In a multiple-tier0 topology, data from the Kubernetes API is exposed by floating IP addresses on tenant tier0 routers. Consequently, the management console cannot retrieve cluster data from the Kubernetes API because it is not on the same network as the tenants.

**Solution**

Make sure that the <%= vars.product_short %> Management Console can connect to tenant floating IP addresses. 


1. Connect to the management console VM by using `ssh`.
1. Configure a route on the management console VM.
    For example, run the following command:   
    `route add -net <destination_subnet> gw <gateway_address>`
    - **Destination subnet**: The network CIDR of the tenant floating IP addresses.
    - **Gateway**: A VM that can reach the tenant floating IP addresses and the management console.

Because the gateway can reach both the management console and the tenant floating IP addresses, the management console can reach the tenants and retrieve cluster data from the Kubernetes API.

## <a id='log-insight'></a>Obtain the vRealize Log Insight Agent ID for <%= vars.product_short %> Management Console 

If you enabled integration with VMware vRealize Log Insight, <%= vars.product_short %> Management Console generates a unique vRealize Log Insight agent ID for the management console VM. You must provide this agent ID to vRealize Log Insight so that it can pull the appropriate logs from the management console.

You obtain the vRealize Log Insight agent ID as follows:

1. Use SSH to log in to the <%= vars.product_short %> Management Console VM as `root` user.
1. Run the following command to obtain the ID:

    ```
    grep LOGINSIGHT_ID /etc/vmware/environment | cut -d= -f2
    ```
	 The resulting ID will be similar to `59debec7-daba-4770-9d21-226ffd743843`.

1. Log in to the vRealize Log Insight Web user interface as administrator and add the agent ID to your list of agents.