---
title: Using the BOSH CLI 
owner: TKGI
---

After you deploy <%= vars.product_short %> from <%= vars.product_short %> Management Console on vSphere, you can use the BOSH CLI from both the management console VM and the Ops Manager VM.

## <a id='bosh-cli-appliance'></a>Using the BOSH CLI from the <%= vars.product_short %> Management Console VM

You can use the BOSH CLI from the <%= vars.product_short %> Management Console VM.

1. In <%= vars.product_short %> Management Console, go to the **Deployment Metadata** view.
1. Expand the row for **BOSH CLI invocation from console appliance**.
1. Click the clipboard icon at the end of the row to copy the BOSH CLI invocation information.
1. Connect to the management console VM by using SSH.  

    ```
    ssh ADDRESS
    ```
    Where `ADDRESS` is the management console VM address.  
1. Export the value that you copied from Deployment Metadata view to use BOSH CLI from the management console VM.  

    ```
    export BOSH-VALUE
    ```
    Where `BOSH-VALUE` is the BOSH CLI invocation value.  

## <a id='bosh-ssh'></a>Using BOSH SSH

The management console VM does not support the use of the `bosh ssh` command to connect to the BOSH VM from the management console VM. To connect to the BOSH VM by using `bosh ssh`, you must use the BOSH CLI from the Ops Manager VM.

1. In <%= vars.product_short %> Management Console, go to the **Deployment Metadata** view.
1. Expand the row for **BOSH CLI invocation from Ops Manager**.
1. Click the clipboard icon at the end of the row to copy the BOSH CLI invocation command.
1. Connect to the Ops Manager VM by using SSH.  
<br>
    For information about how to connect to the Ops Manager VM, see [Connect to Operations Manager with SSH](console-login-opsmanager.html#ops-manager-ssh).  
1.  Export the value that you copied from Deployment Metadata view to use BOSH CLI from Ops Manager.  

    ```
    export BOSH-VALUE
    ```
    Where `BOSH-VALUE` is the BOSH CLI invocation value.  
