---
title: Connect to Operations Manager
owner: TKGI
---

When you use <%= vars.product_short %> Management Console to deploy <%= vars.product_short %> on vSphere, it deploys Operations Manager. The **Deployment Metadata** view of the management console displays the credentials that you need to log in to the deployed Operations Manager instance.

## <a id='ops-manager-ssh'></a>Connect to Operations Manager with SSH

<%= vars.product_short %> Management Console generates an SSH private key to control SSH access to the Operations Manager VM when you deploy <%= vars.product_short %>.

1. Go to **Deployment Metadata** in the management console.
1. Click the clipboard icon at the end of the **Ops Manager VM SSH Private Key** row to copy its contents. 
1. Paste the contents of the SSH key into a text file, for example `~/tkgi_om.key`.
1. Go to the **Summary** tab of the **TKG Integrated Edition** view in the management console.
1. Copy the **Ops Manager IP Address**.
1. In a terminal run the following command to use SSH to connect to the Operations Manager VM:<pre>ssh -i ~/pm_om.key ubuntu@<i>ops_manager_endpoint_address</i></pre>

## <a id='ops-manager-ui'></a>Log In to the Operations Manager UI

<%= vars.product_short %> Management Console generates a random password for the Operations Manager admin account when you deploy <%= vars.product_short %>.

1. Go to **Deployment Metadata** in the management console.
1. Click the clipboard icon at the end of the **Ops Manager VM Password** row to copy the password.
1. Go to the **Summary** tab of the **TKG Integrated Edition** view in the management console.
1. Click the **Ops Manager IP Address** to open the Operations Manager UI.
1. Log in to Operations Manager with user name `admin` and the password that you copied from the Deployment Metadata view.