---
title: Creating a Windows Stemcell for vSphere Using Stembuild
owner: Windows
---

This topic describes how to use the tool Stembuild to create a Windows stemcell for BOSH,
for use by <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) on vSphere.

A [BOSH stemcell](https://bosh.io/stemcells) is a versioned operating system image.

You must create a BOSH stemcell for Windows before you can deploy Windows workers in Kubernetes clusters 
using <%= vars.product_short %> on vSphere.  

<p class="note"><strong>Note:</strong> Deployment packages for Windows clusters can fail to deploy after the January 2022 Microsoft Windows Security Patch. 
For more information, see 
<a href = "release-notes.html#1-12-0-stemcell-tar-support">Deployments Fail on <%= vars.k8s_runtime_abbr %> Windows Worker-based Kubernetes Clusters after the January 2022 Microsoft Windows Security Patch</a>
in <i>Release Notes</i>.
</p>

## <a id='stembuild-overview'></a> Overview of Stembuild

Stembuild is a binary that you use to build BOSH stemcells for Windows Server 2019.

Stembuild creates a BOSH stemcell from a base Windows image.
The Stembuild CLI has two commands, `construct` and `package`,
which you run against a Windows Server 2019 VM.
These commands are used to create a stemcell in [Construct and Package the BOSH Stemcell](#construct-package-stemcell) below.

## <a id='windows-stemcells'></a> Overview of Windows Stemcell Creation

To create a Windows stemcell for vSphere, you create a base Windows VM from a volume-licensed ISO and 
subsequently maintain that base template with all Windows-recommended security updates, 
but without the BOSH dependencies.

The Windows VM with security updates serves as the base for all future stemcells produced from clones of that base VM. 
This enables you to build new stemcells without having to run Windows updates from scratch each time. 
You can also use a "snapshot" feature to maintain an updated Windows image that does not contain the BOSH dependencies.

VMware recommends installing any available critical updates and
then rebuilding the stemcell from a clone of the original VM.

The BOSH stemcell that you create in this topic is based on Windows Server 2019.
If you already have a BOSH stemcell for Windows on vSphere, see [Monthly Stemcell Upgrades](#upgrade-stemcell) below.

For more information, see
[Best Practices for Stembuild for Tanzu Application Service & Tanzu Kubernetes Grid Integrated Edition]
(https://tanzu.vmware.com/content/practitioners/best-practices-for-stembuild-for-tanzu-application-service-tanzu-kubernetes-grid-integrated-edition)
in _VMware Tanzu Tech Tutorials_.

To construct, package and upload a BOSH Stemcell for Windows to <%= vars.k8s_runtime_abbr %>, complete the following:

1. [Prerequisites](#prerequisites)
1. [Create and Configure a Base VM for the BOSH Stemcell](#create-configure-base-vm)
1. [Construct and Package the BOSH Stemcell](#construct-package-stemcell)
1. [Update <%= vars.ops_manager %> With the Updated Stemcell](#update-stemcell)

## <a id='prerequisites'></a> Prerequisites

Before you create a BOSH Windows stemcell for <%= vars.product_short %> on vSphere, you must have:

* A vSphere environment. To ensure the VM hardware used by the stemcell is compatible
  with your deployment environment's ESXi/ESX host and vCenter Server versions, see
  [ESXi/ESX hosts and compatible virtual machine hardware versions list (2007240)]
  (https://kb.vmware.com/s/article/2007240) in the VMware Knowledge Base.

* An ISO for a Windows Server 2019 Server Core installation, build number: 17763,
  from [Microsoft Developer Network (MSDN)](https://msdn.microsoft.com/en-us) or
  [Microsoft Volume Licensing Service Center (VLSC)](https://www.microsoft.com/Licensing/servicecenter/default.aspx).
  The Windows Server 2019 ISO must be a clean, base ISO file.
  You can use an evaluation copy for testing, but VMware does not recommend an evaluation copy for production because the licensing expires.
  For more information, see the [Windows Server documentation](https://docs.microsoft.com/en-us/windows-server/get-started-19/get-started-19)
  or the [Microsoft Volume Licensing Service Center](https://www.microsoft.com/Licensing/servicecenter/default.aspx) website.
    <p class="note"><strong>Note:</strong> A clean ISO file has no custom scripts or tooling. For example, the ISO must have no logging or antivirus tools installed.</p>

* Download the following from [Stemcells (Windows)](https://network.pivotal.io/products/stemcells-windows-server) on <%= vars.product_network %>:  
    * A Windows stemcell
    * A `stembuild` command line interface (CLI) from a 2019.x release

    Refer to [Product Snapshot](release-notes.html#product-snapshot) in _Release Notes_ 
    for the compatible version of each to download.  
<br>
* Microsoft [Local Group Policy Object Utility (LGPO)](https://www.microsoft.com/en-us/download/details.aspx?id=55319) downloaded to the same folder as your `stembuild` CLI.

* The minimum vCenter user permissions required to use `stembuild` for vSphere stemcells, specifically:
    * `VirtualMachine.GuestOperations.Modify`
    * `VirtualMachine.GuestOperations.Execute`
    * `VirtualMachine.GuestOperations.Query`
    * `VirtualMachine.Config.AddRemoveDevice`
    * `VirtualMachine.Interact.SetCDMedia`
    * `VApp.Export`
    * `System.Anonymous`*
    * `System.Read`*
    * `System.View`*

Permissions marked with an `*` are generated upon creating a new user in vCenter and cannot be set within the vCenter UI.

## <a id='create-configure-base-vm'></a> Create and Configure a Base VM for the BOSH Stemcell

Before using Stembuild to create a stemcell, you need to create a Windows Server 2019 VM and update the VM with the latest Windows updates.

To do this, follow these procedures in the TAS for VMs [Windows] documentation, in order:

1. [Create a Base VM for the BOSH Stemcell](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#create-base-vm)
1. [Configure the Base VM](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#install-windows-updates)
1. [Clone the Base VM](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#clone-vm)

## <a id='construct-package-stemcell'></a> Construct and Package the BOSH Stemcell 

To create, configure, and package a BOSH Stemcell, follow these procedures, in order:

1. [Construct the BOSH Stemcell](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#construct-stemcell), in the TAS for VMs [Windows] documentation.
1. [Remove Hidden Devices](#remove-hidden-devised), below.
1. [Package the BOSH Stemcell](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#package-stemcell), in the TAS for VMs [Windows] documentation.

### <a id='remove-hidden-devised'></a> Remove Hidden Devices

To ensure your BOSH Windows stemcell can work properly, confirm the stemcell does not have any hidden devices:  

1. Open the vSphere Management console.  
1. Confirm a network adapter is not assigned to the target VM.  
1. Power on the target VM.
1. Log into the target VM.
1. Start PowerShell.
1. Confirm the VM has hidden devices:  

    ```
    Get-PnpDevice -Class net | ? Status -eq Unknown
    ```

1. If there are hidden devices, clean up those devices:

    ```
    $Devs = Get-PnpDevice -Class net | ? Status -eq Unknown
    ForEach ($Dev in $Devs) {
        Write-Host "Removing $($Dev.FriendlyName)" -ForegroundColor Cyan
        $RemoveKey = "HKLM:\SYSTEM\CurrentControlSet\Enum\$($Dev.InstanceId)"
        Get-Item $RemoveKey | Select-Object -ExpandProperty Property | %{ Remove-ItemProperty -Path $RemoveKey -Name $_ -Verbose }
    }
    ```

1. Power off the target VM.

<p class="note"><strong>Note:</strong> The <code>ovs-windows</code> job requires a VM 
  with a net-adapter named <code>Ethernet0</code>. 
  Remove hidden devices from the target VM to ensure the <code>Ethernet0</code> net-adapter name 
  is not taken before the <code>ovs-windows</code> job starts.
</p>

## <a id='update-stemcell'></a> Update <%= vars.ops_manager %> With the Updated Stemcell

To update <%= vars.ops_manager %> with the new BOSH Windows stemcell:

1. Open <%= vars.ops_manager %>.  

1. Navigate to the **Stemcell Library**.

1. Replace the existing stemcell in the <%= vars.ops_manager %> stemcell library with your new updated stemcell.  

1. Deploy the <%= vars.k8s_runtime_abbr %> tile.  


## <a id='upgrade-stemcell'></a> Monthly Stemcell Upgrades

Microsoft typically releases Windows updates with security patches on the second Tuesday of each month.

After each Microsoft Windows security update, you should update your BOSH stemcell by following these procedures, in order:

1. [Configure the Base VM](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#install-windows-updates) 
in the TAS for VMs [Windows] documentation.

1. [Construct and Package the BOSH Stemcell](#construct-package-stemcell), above.

1. [Update <%= vars.ops_manager %> With the Updated Stemcell](#update-stemcell), above.


## <a id='known-issues'></a> Known Issues

For known issues with stemcell creation, see 
[Known Issues](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#known-issues) 
in the TAS for VMs [Windows] documentation.  