---
title: Creating a Windows Stemcell for vSphere Using Stembuild
owner: Windows
---

This topic describes how to use the tool Stembuild to create a Windows stemcell for BOSH,
for use by <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) on vSphere.  

<br>
<br>
## <a id='stembuild-overview'></a> Overview of Stembuild

A [BOSH stemcell](https://bosh.io/stemcells) is a versioned operating system image.

You must create a BOSH stemcell for Windows before you can deploy Windows workers in Kubernetes clusters 
using <%= vars.product_short %> on vSphere.  

Stembuild is a binary that you use to build BOSH stemcells for Windows Server 2019.

Stembuild creates a BOSH stemcell from a base Windows image.
The Stembuild CLI has two commands, `construct` and `package`,
which you run against a Windows Server 2019 VM.
These commands are used to create a stemcell in [Construct and Package the BOSH Stemcell](#construct-package-stemcell) below.

<br>
<br>
## <a id='windows-stemcells'></a> Overview of Windows Stemcell Creation

To create a Windows stemcell for vSphere, you create a base Windows VM from a volume-licensed ISO and 
subsequently maintain that base template with all Windows-recommended security updates, 
but without the BOSH dependencies.

The Windows VM with security updates serves as the base for all future stemcells produced from clones of that base VM. 
This enables you to build new stemcells without having to run Windows updates from scratch each time. 
You can also use a "snapshot" feature to maintain an updated Windows image that does not contain the BOSH dependencies.

VMware recommends installing any available critical updates and
then rebuilding the stemcell from a clone of the original VM.

The BOSH stemcell that you create in this topic is based on Windows Server 2019.
If you already have a BOSH stemcell for Windows on vSphere, see [Monthly Stemcell Upgrades](#upgrade-stemcell) below.

For more information, see
[Best Practices for Stembuild for Tanzu Application Service & Tanzu Kubernetes Grid Integrated Edition](https://tanzu.vmware.com/content/practitioners/best-practices-for-stembuild-for-tanzu-application-service-tanzu-kubernetes-grid-integrated-edition)
in _VMware Tanzu Tech Tutorials_.

To construct, package and upload a BOSH Stemcell for Windows to <%= vars.k8s_runtime_abbr %>, complete the following:

1. [Prerequisites](#prerequisites)
1. [Create and Configure a Base VM for the BOSH Stemcell](#create-configure-base-vm)
1. [Construct and Package the BOSH Stemcell](#construct-package-stemcell)
1. [Update <%= vars.ops_manager %> With the Updated Stemcell](#update-stemcell)

<br>
<br>
## <a id='prerequisites'></a> Prerequisites

Before you create a BOSH Windows stemcell for <%= vars.product_short %> on vSphere, you must have:

* A vSphere environment. To ensure the VM hardware used by the stemcell is compatible
  with your deployment environment's ESXi/ESX host and vCenter Server versions, see
  [ESXi/ESX hosts and compatible virtual machine hardware versions list (2007240)](https://kb.vmware.com/s/article/2007240) in the VMware Knowledge Base.

* An ISO for a Windows Server 2019 Server Core installation, build number: 17763,
  from [Microsoft Developer Network (MSDN)](https://msdn.microsoft.com/en-us) or
  [Microsoft Volume Licensing Service Center (VLSC)](https://www.microsoft.com/Licensing/servicecenter/default.aspx).
  The Windows Server 2019 ISO must be a clean, base ISO file.
  You can use an evaluation copy for testing, but VMware does not recommend an evaluation copy for production because the licensing expires.
  For more information, see the [Windows Server documentation](https://docs.microsoft.com/en-us/windows-server/get-started-19/get-started-19)
  or the [Microsoft Volume Licensing Service Center](https://www.microsoft.com/Licensing/servicecenter/default.aspx) website.
    <p class="note"><strong>Note:</strong> A clean ISO file has no custom scripts or tooling. For example, the ISO must have no logging or antivirus tools installed.</p>

* Download the following from [Stemcells (Windows)](https://network.pivotal.io/products/stemcells-windows-server) on <%= vars.product_network %>:  
    * A Windows stemcell
    * A `stembuild` command line interface (CLI) from a 2019.x release

    Refer to [Product Snapshot](release-notes.html#product-snapshot) in _Release Notes_ 
    for the compatible version of each to download.  

* Microsoft [Local Group Policy Object Utility (LGPO)](https://www.microsoft.com/en-us/download/details.aspx?id=55319) downloaded to the same folder as your `stembuild` CLI.

* The minimum vCenter user permissions required to use `stembuild` for vSphere stemcells, specifically:
    * `VirtualMachine.GuestOperations.Modify`
    * `VirtualMachine.GuestOperations.Execute`
    * `VirtualMachine.GuestOperations.Query`
    * `VirtualMachine.Config.AddRemoveDevice`
    * `VirtualMachine.Interact.SetCDMedia`
    * `VApp.Export`
    * `System.Anonymous`*
    * `System.Read`*
    * `System.View`*

Permissions marked with an `*` are generated upon creating a new user in vCenter and cannot be set within the vCenter UI.

<br>
<br>
## <a id='create-configure-base-vm'></a> Create and Configure a Base VM for the BOSH Stemcell

Before using Stembuild to create a stemcell, you need to create a Windows Server 2019 VM and update the VM with the latest Windows updates.

<p class="note warning"><strong>Warning:</strong> <%= vars.recommended_by %> recommends that you build your stemcell with `kubernetes-csi-proxy` v1.1.3 or later to avoid the Kubernetes CVE: CVE-2023-3893. 
For more information, see 
[CVE-2023-3893: Insufficient input sanitization on kubernetes-csi-proxy leads to privilege escalation #119594](https://github.com/kubernetes/kubernetes/issues/119594) 
in the Kubernetes GitHub repository.</p>

To create and update a base Windows VM, follow these procedures in the TAS for VMs [Windows] documentation, in order:

1. [Create a Base VM for the BOSH Stemcell](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#create-base-vm)
1. [Configure the Base VM](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#install-windows-updates)
1. [Expose oVM.Guest.Net](#expose-guest-net) below
1. [Clone the Base VM](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#clone-vm)

<br>
### <a id='expose-guest-net'></a> Expose oVM.Guest.Net

You must ensure `oVM.Guest.Net` is exposed on your Windows base OS image to avoid the [oVM.Guest.Net Error on Windows Clusters](troubleshoot-issues.html#windows-guest-net) issue.  

To ensure `oVM.Guest.Net` is exposed:  

1. Verify that `oVM.Guest.Net` is already exposed:  

    1. Open a command line window in your Windows base OS environment.  
    1. Run `ipconfig`.  
    1. Review the return for any `vEthernet` Ethernet adapters.  
    1. If a `vEthernet` Ethernet adapter is present, 
        `oVM.Guest.Net` is not exposed in this environment, and you must expose it.  

1. To expose `oVM.Guest.Net`, create and configure a new `tools.conf` file:  

    1. Copy the tools configuration from `C:\ProgramData\VMware\VMware Tools\tools.conf.example` to `C:\ProgramData\VMware\VMware Tools\tools.conf`.  
    1. Edit the new copy of `tools.conf`.  
    1. Add the following to the configuration:  
    
        ```
        exclude-nics=""
        ```
    1. Save your changes.  

<% if vars.product_version == "COMMENTED"  %>
1. To restart the VMware Tools service:  

    1. Run the following:  
        ```
        net stop "VMware Tools"
        ```
    1. Run the following:  
        ```
        net start "VMware Tools"
        ```

1. Confirm `oVM.Guest.Net` contains a net array by using the CLI.  

1. To confirm the vSphere CCM node resource has successfully initialized, review the vSphere CCM log.  

    For example:  

    ```
    110616 search.go:210] Hostname: ..., UUID: ...
    110616 nodemanager.go:159] Discovered VM using normal UUID format
    110616 nodemanager.go:268] Adding Hostname: 06fa89ed-e1f8-40a1-b717-b2958e926f57
    110616 nodemanager.go:438] Adding Internal IP: 30.0.0.23
    110616 nodemanager.go:443] Adding External IP: 30.0.0.23
    110616 nodemanager.go:351] Hostname: ... UUID: ...
    110616 instances.go:77] instances.NodeAddressesByProviderID() FOUND with ...
    110616 node_controller.go:536] Adding node label from cloud provider: beta.kubernetes.io/instance-type=vsphere-vm.cpu-2.mem-3gb.os-win10server
    110616 node_controller.go:537] Adding node label from cloud provider: node.kubernetes.io/instance-type=vsphere-vm.cpu-2.mem-3gb.os-win10server
    110616 node_controller.go:548] Adding node label from cloud provider: failure-domain.beta.kubernetes.io/zone=zone-1
    110616 node_controller.go:549] Adding node label from cloud provider: topology.kubernetes.io/zone=zone-1
    110616 node_controller.go:559] Adding node label from cloud provider: failure-domain.beta.kubernetes.io/region=region-1
    110616 node_controller.go:560] Adding node label from cloud provider: topology.kubernetes.io/region=region-1
    110616 node_controller.go:496] Successfully initialized node ... with cloud provider
    ```

5. To validate the node:  
    * Review the node description.  
    * Verify both the internal and external IP addresses.  
    * Verify that the taint `"node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule"` is present.  
<% end %>

<br>
<br>
## <a id='construct-package-stemcell'></a> Construct and Package the BOSH Stemcell 

To create, configure, and package a BOSH Stemcell, follow these procedures, in order:

1. [Construct the BOSH Stemcell](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#construct-stemcell), in the TAS for VMs [Windows] documentation.
1. [Remove Hidden Devices](#remove-hidden-devised), below.
1. [Package the BOSH Stemcell](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#package-stemcell), in the TAS for VMs [Windows] documentation.


<br>
### <a id='remove-hidden-devised'></a> Remove Hidden Devices

To ensure your BOSH Windows stemcell can work properly, confirm the stemcell does not have any hidden devices:  

1. Open the vSphere Management console.  
1. Confirm a network adapter is not assigned to the target VM.  
1. Power on the target VM.
1. Log into the target VM.
1. Start PowerShell.
1. Confirm the VM has hidden devices:  

    ```
    Get-PnpDevice -Class net | ? Status -eq Unknown
    ```

1. If there are hidden devices, clean up those devices:

    ```
    $Devs = Get-PnpDevice -Class net | ? Status -eq Unknown
    ForEach ($Dev in $Devs) {
        Write-Host "Removing $($Dev.FriendlyName)" -ForegroundColor Cyan
        $RemoveKey = "HKLM:\SYSTEM\CurrentControlSet\Enum\$($Dev.InstanceId)"
        Get-Item $RemoveKey | Select-Object -ExpandProperty Property | %{ Remove-ItemProperty -Path $RemoveKey -Name $_ -Verbose }
    }
    ```

1. Power off the target VM.

<p class="note"><strong>Note:</strong> The <code>ovs-windows</code> job requires a VM 
  with a net-adapter named <code>Ethernet0</code>. 
  Remove hidden devices from the target VM to ensure the <code>Ethernet0</code> net-adapter name 
  is not taken before the <code>ovs-windows</code> job starts.
</p>

<br>
<br>
## <a id='update-stemcell'></a> Update <%= vars.ops_manager %> With the Updated Stemcell

To update <%= vars.ops_manager %> with the new BOSH Windows stemcell:

1. Open <%= vars.ops_manager %>.  

1. Navigate to the **Stemcell Library**.

1. Replace the existing stemcell in the <%= vars.ops_manager %> stemcell library with your new updated stemcell.  

1. Deploy the <%= vars.k8s_runtime_abbr %> tile.  


<br>
<br>
## <a id='upgrade-stemcell'></a> Monthly Stemcell Upgrades

Microsoft typically releases Windows updates with security patches on the second Tuesday of each month.

After each Microsoft Windows security update, update your BOSH stemcell by following these procedures, in order:

1. [Configure the Base VM](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#install-windows-updates) 
in the TAS for VMs [Windows] documentation.

1. [Construct and Package the BOSH Stemcell](#construct-package-stemcell), above.

1. [Update <%= vars.ops_manager %> With the Updated Stemcell](#update-stemcell), above.


<br>
<br>
## <a id='known-issues'></a> Known Issues

For known issues with stemcell creation, see 
[Known Issues](https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html#known-issues) 
in the TAS for VMs [Windows] documentation.  