---
title: Deleting Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topic explains how to delete the <%= vars.product_tile %> (<%= vars.k8s_runtime_abbr %>) tile.

## <a id="delete"></a>Delete the <%= vars.product_tile %> Tile

To delete the <%= vars.k8s_runtime_abbr %> tile, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the trash can icon on the <%= vars.k8s_runtime_abbr %> tile.

1. Click **Confirm**.

1. Click **Review Pending Changes**.

1. (Optional) To preserve clusters created by <%= vars.k8s_runtime_abbr %>, click **Errands** and deactivate the **Delete all clusters errand** checkbox under **Pre-Delete Errands**.
  - By default, the **Delete all clusters** errand is activated, which deletes all
  <%= vars.k8s_runtime_abbr %> clusters before Ops Manager deletes the <%= vars.k8s_runtime_abbr %> tile.


1. Click **Apply Changes**.
