---
title: Deleting Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topic describes how to delete the <%= vars.product_tile %> (<%= vars.k8s_runtime_abbr %>) tile from the <%= vars.ops_manager_full %> (<%= vars.ops_manager %>) Installation Dashboard.  

<p class='note'><strong>Note</strong>: 
If you used the <%= vars.product_full %> Management Console to deploy <%= vars.k8s_runtime_abbr %>, you must remove <%= vars.k8s_runtime_abbr %> from the <%= vars.k8s_runtime_abbr %> Management Console. For more information, see
<a href="console-delete-deployment.html">Delete Your Tanzu Kubernetes Grid Integrated Edition Deployment</a>.
</p>


<br>
<br>
## <a id='overview'></a>Overview

If you no longer require a <%= vars.k8s_runtime_abbr %> deployment, you can remove the <%= vars.k8s_runtime_abbr %> tile from <%= vars.ops_manager %>.  

To remove a <%= vars.k8s_runtime_abbr %> installation:  

1. Use the <%= vars.k8s_runtime_abbr %> CLI to delete any existing clusters and nodes before deleting your <%= vars.k8s_runtime_abbr %> deployment. 
For more information, see [Deleting Clusters](delete-cluster.html).  
1. [Delete the <%= vars.product_tile %> Tile](#delete).  

<br>
<br>
## <a id="delete"></a>Delete the <%= vars.product_tile %> Tile

To delete the <%= vars.k8s_runtime_abbr %> tile, perform the following steps:

1. Navigate to the VMware Tanzu Operations Manager (Ops Manager) Installation Dashboard.

1. Click the trash can icon on the <%= vars.k8s_runtime_abbr %> tile.

1. Click **Confirm**.

1. Click **Review Pending Changes**.

1. (Optional) To preserve clusters created by <%= vars.k8s_runtime_abbr %>, click **Errands** and deactivate the **Delete all clusters errand** check box under **Pre-Delete Errands**.
  - By default, the **Delete all clusters** errand is activated, which deletes all
  <%= vars.k8s_runtime_abbr %> clusters before Ops Manager deletes the <%= vars.k8s_runtime_abbr %> tile.


1. Click **Apply Changes**.
