---
title: Deleting Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topic explains how to delete the <%= vars.product_tile %> tile.

## <a id="delete"></a>Delete the <%= vars.product_tile %> Tile

To delete the <%= vars.product_tile %> tile, perform the following steps:

1. Navigate to the Ops Manager Installation Dashboard.

1. Click the trash can icon on the <%= vars.product_tile %> tile.

1. Click **Confirm**.

1. Click **Review Pending Changes**.

1. (Optional) By default, deleting the <%= vars.product_tile %> tile also deletes all the clusters
created by <%= vars.product_short %>. To preserve the clusters, click **Errands** and deselect the
**Delete all clusters** errand.

1. Click **Apply Changes**.
