---
title: Enabling the DenyEscalatingExec Admission Plugin
owner: TKGI
---

<%= vars.vmware_attribution %>

This section describes how and when to enable the DenyEscalatingExec admission controller for <%= vars.product_full %> clusters. 

##<a id='about-deny-esc-exe'></a> About the DenyEscalatingExec Admission Plugin

The DenyEscalatingExec admission controller denies the "exec" and "attach" commands to pods that run with escalated privileges and allow host access. This includes pods that run as privileged, have access to the host Interprocess Communication (IPC) namespace, and have access to the host PID namespace.

See [DenyEscalatingExec](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#denyescalatingexec) in the Kubernetes documentation for more information.

<p class="note"><strong>Note</strong>: The DenyEscalatingExec admission plugin is deprecated 
and is scheduled to be removed in a future Kubernetes release.</p>

##<a id='when-sec-context-deny'></a> When to Enable the DenyEscalatingExec Admission Plugin

To provide better security when privileged containers are enabled, 
enable the DenyEscalatingExec admission controller or use PodSecurityPolicy. 
Privileged containers are enabled when **Allow Privileged** is selected. 

Since the DenyEscalatingExec admission controller is being deprecated, 
the recommended approach is to use PodSecurityPolicy or a custom admission 
plugin that protects against the creation of overly privileged pods 
and that can be targeted at specific users or namespaces.

For more information, see [Pod Security Policy](./pod-security-policy.html).

<p class="note"><strong>Warning</strong>: If the DenyEscalatingExec admission plugin is enabled 
for a plan before upgrade, it remains enabled after upgrade.</p>

##<a id='impact-sec-context-deny'></a> Impact of Enabling the DenyEscalatingExec Admission Controller

By selecting the **DenyEscalatingExec** checkbox, 
you make Kubernetes clusters deployed with the associated plan more secure.

##<a id='enable-deny-esc-exe'></a> Enabling the DenyEscalatingExec Admission Plugin

To enable the DenyEscalatingExec admission plugin, do the following:

1. In the <%= vars.product_tile %> tile, select the desired **Plan**, such as **Plan 1**.
1. At the bottom of the configuration panel, select the **DenyEscalatingExec** option.
	<img src="images/psp-denyescexe.png" alt="Enabling SecurityContextDeny" width="325">
1. Click **Save**.
1. On the Installation Dashboard, click **Review Pending Changes**.
1. For <%= vars.product_short %>, verify that **Upgrade all clusters errand** is enabled.
1. Click **Apply Changes** to deploy clusters with the admission plugin enabled.

Alternatively, instead of enabling **Upgrade all clusters errand**,
you can upgrade individual Kubernetes clusters through the <%= vars.k8s_runtime_abbr %> Command Line Interface (<%= vars.k8s_runtime_abbr %> CLI).
For instructions on upgrading individual Kubernetes clusters, see [Upgrading Clusters](upgrade-clusters.html).
