---
title: Deploying and Exposing Windows Workloads (Beta)
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to deploy Windows-based workloads in <%= vars.product_full %>.

<p class="note warning"> <strong>IMPORTANT: </strong> Support for Windows-based Kubernetes clusters is in beta and works on only vSphere with Flannel. 
Please use the link at the bottom of this topic to provide feedback to the Windows product team.</p> 

## <a id='overview'></a>Overview

In <%= vars.product_short %>, you can deploy Windows-based workloads to Kubernetes clusters.  

To deploy a new Windows-based workload to a new pod, do the following:  

1. [Access Your Windows-Based Cluster](#access-cluster)  
1. [Configure a Pod Deployment Manifest](#configure-pod)  
1. [Deploy the Pod](#deploy-pod-steps)  
1. [Configure a Service Manifest](#configure-service)  
1. [Deploy the Service](#deploy-service-steps)  

## <a id='prerequisites'></a>Prerequisites

You can deploy Windows workloads to only Windows-based clusters. 
Before you can use Windows-based clusters, you must configure the <%= vars.product_tile %> tile. 
For instructions on configuring the <%= vars.product_tile %> tile, see [Configuring Windows Worker-Based Clusters (Beta)](windows-pks-beta.html). 

## <a id='access-cluster'></a>Access Your Windows-Based Cluster

Your command line must have access to your Windows-based cluster to deploy Windows VMs and workloads to the cluster.

1. To determine which of your existing clusters is Windows-based, use the following command:  

    ```
    pks clusters
    ```

    For example:
    <pre class='terminal'>
    $ pks clusters

    Name                Plan Name             UUID                                  Status     Action
    windows-k8s         Plan-11-Windows-Beta  881543kd-64fg-7826-hea6-3h7g1o04kh0e  succeeded  Create
    second-windows-k8s  Plan-11-Windows-Beta  951547dl-67kg-9631-bju8-7h9s3o98br0q  succeeded  Create
    </pre>

    Only clusters configured on Plans 11, 12, or 13 are Windows-based.

1. To access your Windows-based cluster, run the following command:

    ```
    pks get-credentials CLUSTER-NAME
    ```
    Where `CLUSTER-NAME` is the name of your Windows-based cluster.  
  </br>
    For example: 
    <pre class="terminal">$ pks get-credentials windows-k8s

    Fetching credentials for cluster windows-k8s.
    Context set for cluster windows-k8s.

    You can now switch between clusters by using:
    $kubectl config use-context &lt;cluster-name&gt;
    </pre>
    The `pks get-credentials` command creates a local `kubeconfig`, allowing you to manage the cluster from the command line. 
    For more information about the `pks get-credentials` command, see [Retrieving Cluster Credentials and Configuration](cluster-credentials.html). 

1. To verify you have established access to the correct cluster, run the following command:

    ```
    kubectl cluster-info
    ```

1. (Optional) To review the cluster's existing pods, run the following command:  

    ```
    kubectl get pods
    ```

## <a id='deploy-pod'></a> Deploy a Windows Worker Pod
 
A pod deployment manifest file configures the VMs deployed to a pod.

### <a id='configure-pod'></a> Configure a Pod Deployment Manifest

You must create a Windows worker deployment manifest before deploying your new Windows worker pod.  

1. To create a Windows worker deployment manifest, create a new YAML file containing the following:  

    ```
    ---
    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      labels:
          app: POD-NAME
      name: POD-NAME
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            app: POD-NAME
          name: POD-NAME
        spec:
          containers:
          - name: CONTAINER-NAME
            image: CONTAINER-FILE:latest
            env:
            - name: PORT
              value: "80"
            ports:
            - name: http
              containerPort: 80
          nodeSelector:
            kubernetes.io/os: windows
          tolerations:
          - key: "windows"
            operator: "Equal"
            value: "2019"
            effect: "NoSchedule"
    ```
    Where:  
    * `POD-NAME` is your pod's name.  
    * `CONTAINER-NAME` is your container's internal name.  
    * `CONTAINER-FILE` is your container's filename.  

    For example:  

    ```
    ---
    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      labels:
          app: win-webserver
      name: win-webserver
    spec:
      replicas: 1
      template:
        metadata:
          labels:
            app: win-webserver
          name: win-webserver
        spec:
          containers:
          - name: windowswebserver
            image: stefanscherer/webserver-windows:latest
            env:
            - name: PORT
              value: "80"
            ports:
            - name: http
              containerPort: 80
          nodeSelector:
            kubernetes.io/os: windows
          tolerations:
          - key: "windows"
            operator: "Equal"
            value: "2019"
            effect: "NoSchedule"
    ```    

### <a id='deploy-pod-steps'></a> Deploy the Pod

1. To deploy a new Windows worker pod, run the following command:

    ```
    kubectl apply -f POD-CONFIG-FILE
    ```

    Where `POD-CONFIG-FILE` is the filename of the Windows worker deployment manifest created above.  

1. To confirm the new pod's status, and the creation of new Windows worker nodes, run the following commands:

    ```
    kubectl get pods
    kubectl get nodes -o wide
    ```

    For example:  
    <pre class="terminal">
    $ kubectl apply -f first-k8s.yml
    deployment.extensions/win-webserver created

    $ kubectl get pods  -o wide
    NAME                             READY  STATUS   RESTARTS  AGE  IP            NODE                                  NOMINATED NODE   READINESS GATES
    win-webserver-795g866cd7-58oct   1/1    Running  0         88s  10.200.42.4   0983934a-6d69-8e5g-g3k1-98r8r56l345j  &lt;none&gt;           &lt;none&gt;         

    $ kubectl get nodes -o wide
    NAME                                    STATUS   ROLES    AGE    VERSION    INTERNAL-IP   EXTERNAL-IP   OS-IMAGE                          KERNEL-VERSION      CONTAINER-RUNTIME
    0983934a-6d69-8e5g-g3k1-98r8r56l345j    Ready    &lt;none&gt;   19d    v1.14.1    10.85.41.118  10.85.41.118  Windows Server 2019 Datacenter    10.0.17763.503      docker://18.9.0
    6d69934a-7d43-9g3g-h4d1-54r9r97l395j    Ready    &lt;none&gt;   19d    v1.14.1    10.85.41.115  10.85.41.115  Ubuntu 16.04.6 LTS                4.15.0-50-generic   docker://18.9.0
    7636d69a-2e75-5l0g-k6m1-76r3r37l729k    Ready    &lt;none&gt;   19d    v1.14.1    10.85.41.117  10.85.41.117  Windows Server 2019 Datacenter    10.0.17763.503      docker://18.9.0
    406d694a-9g96-2d3g-f3j1-32r1r44l342x    Ready    &lt;none&gt;   19d    v1.14.1    10.85.41.116  10.85.41.116  Windows Server 2019 Datacenter    10.0.17763.503      docker://18.9.0
    </pre>

    In the preceding example a new pod is created, and creation and status of the new pod and new nodes verified. 

## <a id='deploy-service'></a> Deploy a Service to a Windows Worker Pod
 
A service deployment manifest file configures your service, defining how your service will run and how it will be exposed.  

### <a id='configure-service'></a> Configure a Service Manifest
You must create a Windows service deployment manifest before deploying your Windows worker workload.

1. To create a Windows service deployment manifest, create a new YAML file containing the following:  
  
    ```
    ---
    apiVersion: v1
    kind: Service
    metadata:
      name: APP-NAME
      labels:
        app: APP-NAME
    spec:
      ports:
        # the port that this service should serve on
      - port: 80
        targetPort: 80
      selector:
        app: APP-NAME
      type: NodePort
    ```
    Where `APP-NAME` is your Windows service's name.  
<br>
    For example:  
  
    ```
    ---
    apiVersion: v1
    kind: Service
    metadata:
      name: win-webserver
      labels:
        app: win-webserver
    spec:
      ports:
        # the port that this service should serve on
      - port: 80
        targetPort: 80
      selector:
        app: win-webserver
      type: NodePort
  
    ```

### <a id='deploy-service-steps'></a> Deploy the Service

1. To expose the specified service on a NodePort, run the following command:  

    ```
    kubectl apply -f SERVICE-CONFIG-FILE
    ```

    Where `SERVICE-CONFIG-FILE` is the filename of your Windows service deployment manifest created above.  
<br>
    For example:  
    <pre class="terminal">
    $ kubectl get services
    NAME          TYPE          CLUSTER-IP      EXTERNAL-IP    PORT(S)    AGE
    kubernetes    ClusterIP     10.100.200.1    &lt;none&gt;         443/TCP    20d
    
    $ kubectl apply -f first-k8s-service.yml
    service/win-webserver created
    
    $ kubectl get services
    NAME          TYPE       CLUSTER-IP        EXTERNAL-IP  PORT(S)        AGE
    kubernetes    ClusterIP  10.100.200.1      &lt;none&gt;       443/TCP        20d
    win-webserver NodePort   10.100.200.221    &lt;none&gt;	      80:32073/TCP   5s
    
    $ curl 10.85.41.118:32073
    &lt;pre&gt;
	    &lt;a href="License.txt">License.txt&lt;/a&gt;
	    &lt;a href="ProgramData/">ProgramData/&lt;/a&gt;
	    &lt;a href="Users/">Users/&lt;/a&gt;
	    &lt;a href="WcSandboxState/">WcSandboxState/&lt;/a&gt;
	    &lt;a href="Windows/">Windows/&lt;/a&gt;
	    &lt;a href="var/">var/&lt;/a&gt;
	    &lt;a href="webserver.exe">webserver.exe&lt;/a&gt;
    &lt;/pre&gt;
    </pre>
    In the preceding example a new service is created, verified and validated.    

## <a id='feedback'></a>Feedback

We are actively looking for feedback on this beta feature. To submit feedback, send an email to pcf-windows@pivotal.io. 








