---
title: Diagnostic Tools
owner: Ops Manager
---

<strong><%= modified_date %></strong>

##<a id='pks-cli'></a>Verify PKS CLI Version

The PKS CLI interacts with your <%= vars.product_full %> deployment through the PKS API endpoint. You create, manage, and delete Kubernetes clusters on your <%= vars.product_short %> deployment by entering commands in the PKS CLI. The PKS CLI is under active development and commands may change between versions.

To determine the version of PKS CLI installed locally, run the following command:
  <pre>pks --version</pre>

  For example:
  <pre class="terminal">$ pks --version
PKS CLI version: 1.0.0-build.3</pre>


## <a id='pks-api'></a>SSH into the PKS VM

To SSH into the PKS VM using BOSH, follow the steps below:

<%= partial 'bosh-ssh' %>

## <a id='master-node'></a>SSH into the Kubernetes Cluster Master Node VM

To SSH into the master node VM for a PKS Kubernetes cluster using BOSH, follow the steps below:

<%= partial 'ssh-cluster-master-node' %>


##<a id='bosh-pks-map'></a>View Log Files

Log files contain error messages and other information you can use to diagnose issues with your <%= vars.product_short %> deployment. SSH into the PKS VM then follow the steps below to access <%= vars.product_short %> log files.


1. To act as super user on the PKS VM, run the following command:
  <pre>sudo su</pre>


1. To navigate to the PKS VM's `/var/vcap/sys/log` log file directory, run the following command:
  <pre>cd /var/vcap/sys/log</pre>

1. Examine the following files:
  * On the PKS master VM, examine the `kube-apiserver` log file.
  * On a PKS worker VM, examine the `kubelet` log file.
