---
title: Downloading Logs from VMs
owner: TKGI
---

This topic explains how to download logs from BOSH-deployed VMs in your
<%= vars.product_full %> environment using
the BOSH Command Line Interface (CLI).

## <a id="overview"></a>Overview

In <%= vars.product_short %>,
you can download logs from any BOSH-deployed VM,
such as the <%= vars.control_plane %> VM or Kubernetes cluster VMs.

You might need to download these logs
when troubleshooting or auditing your <%= vars.k8s_runtime_abbr %> environment.

## <a id="download-logs"></a>Download Logs

To download logs from a BOSH-deployed VM:

1. Gather credential and IP address information for your BOSH Director,
SSH into the Ops Manager VM,
and use the BOSH CLI to log in to the BOSH Director
from the Ops Manager VM. For more information,
see [Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/ops-manager/install/trouble-advanced.html).
1. After logging in to the BOSH Director,
list the names of your BOSH deployments by running:
    <pre>bosh -e ENVIRONMENT deployments</pre>

    Where `ENVIRONMENT` is your BOSH environment alias.
    For example:
    <pre class="terminal">$ bosh -e tkgi deployments</pre>
1. Identify the names of the VMs that you want to retrieve logs from
by listing the VMs in your target BOSH deployment:
    <pre>bosh -e ENVIRONMENT -d DEPLOYMENT vms</pre>

    Where:  

     * `ENVIRONMENT` is the BOSH environment alias.
     * `DEPLOYMENT` is your target BOSH deployment name.

    For example, the following command lists the VMs in a Kubernetes cluster:
    <pre class="terminal">$ bosh -e tkgi -d service-instance_ae681cd1-7ff4-4661-b12c-49a5b543f16f vms</pre>
    Kubernetes cluster deployment names begin with `service-instance_` and include
    a unique identifier.
1. Download logs from a VM:
    <pre>bosh -e ENVIRONMENT -d DEPLOYMENT logs VM-NAME</pre>

    For example:
	<pre class="terminal">$ bosh -e tkgi \ <br>
  -d service-instance_ae681cd1-7ff4-4661-b12c-49a5b543f16f \ <br>
  logs master/000a1111-222b-3333-4cc5-de66f7a8899b</pre>
	For more information about log files,
	see [View Log Files](diagnostic-tools.html#bosh-tkgi-map) in _Using BOSH Diagnostic Commands in <%= vars.product_short %>_.
