---
title: Creating a GCP Load Balancer for the TKGI API
owner: TKGI
---

This topic describes how to create a load balancer for the <%= vars.control_plane %> using Google Cloud Platform (GCP).

## <a id='overview'></a>Overview

Before you install <%= vars.product_full %>, you must configure an external TCP load balancer to access the <%= vars.control_plane %> from outside the network.
You can use any external TCP load balancer of your choice.

Refer to the procedures in this topic to create a load balancer using GCP.
If you choose to use a different load balancer, use the configuration in this topic as a guide.

<p class="note"><strong>Note</strong>: This procedure uses example commands which you should modify to represent the details of your <%= vars.product_short %> installation.</p>

To create a GCP load balancer for the <%= vars.control_plane %>, do the following:

1. [Create a Load Balancer](#create-lb)
1. [Create a Firewall Rule](#firewall-rule)
1. [Create a DNS Entry](#dns-entry)
1. [Install <%= vars.product_short %>](#install)

## <a id='create-lb'></a>Create a Load Balancer

To create a load balancer using GCP, perform the following steps:

1. In a browser, navigate to the [GCP console](https://console.cloud.google.com).

1. Navigate to **Network Services > Load balancing** and click **CREATE LOAD BALANCER**.

1. Under **TCP Load Balancing**, click **Start configuration**.

1. Under **Internet facing or internal only**, select **From Internet to my VMs**.

1. Under **Multiple regions or single region**, select **Single region only**.

1. Click **Continue**.

1. Name your load balancer. <%= vars.recommended_by %> recommends naming your load balancer `tkgi-api`.

1. Select **Backend configuration**.
   * Under **Region**, select the region where you deployed Ops Manager.
    * Under **Backends**, select **Select existing instances**. This will be automatically configured when updating the Resource Config section of the <%= vars.product_tile %> tile.
    * (Optional) Under **Backup pool**, select a backup pool. If you select a backup pool, set a **Failover ratio**.
    * (Optional) Under **Health check**, select whether or not you want to create a health check.
    * Under **Session affinity**, select a session affinity configuration.
   * (Optional) Select **Advanced configurations** to configure the **Connection draining timeout**.

1. Select **Frontend configuration**.
    * (Optional) Name your frontend.
    * (Optional) Click **Add a description** and provide a description.
   * Select **Create IP address** to reserve an IP address for the <%= vars.control_plane %> endpoint.
      1. Enter a name for your reserved IP address. For example, `tkgi-api-ip`. GCP assigns a static IP address that appears next to the name.
      1. (Optional) Enter a description.
      1. Click **Reserve**.
   * Under **Port**, enter `9021`. Your external load balancer forwards traffic to the <%= vars.control_plane %> VM using the UAA endpoint on port 8443 and the <%= vars.control_plane %> endpoint on port 9021.
   * Click **Done**.
   * Click **New Frontend IP and Port**.
      1. Enter a name for the frontend IP-port mapping, such as `tkgi-api-uaa`.
      1. (Optional) Add a description.
      1. Under **IP** select the same static IP address that GCP assigned in the previous step.
      1. Under **Port**, enter `8443`.
      1. Click **Done**.

1. Click **Review and finalize** to review your load balancer configuration.

1. Click **Create**.

## <a id='firewall-rule'></a>Create a Firewall Rule

To create a firewall rule that allows traffic between the load balancer and the <%= vars.control_plane %> VM, do the following:

1. From the GCP console, navigate to **VPC Network > Firewall rules** and click **CREATE FIREWALL RULE**.

1.  Configure the following:
   * Name your firewall rule.
   * (Optional) Provide a description for your firewall rule.
   * Under **Network**, select the VPC network you created in the [Create a GCP Network with Subnets](https://docs.pivotal.io/ops-manager/2-9/gcp/prepare-env-manual.html#create_network) step of _Preparing to Deploy Ops Manager on GCP Manually_.
   * Under **Priority**, enter a priority number between `0` and `65535`.
   * Under **Direction of traffic**, select **Ingress**.
   * Under **Action on match**, select **Allow**.
   * Under **Targets**, select **Specified target tags**.
   * Under **Target tags**, enter the load balancer name. 
     Specify the same load balancer name that you used for **Load Balancer**, for example `tkgi-api`.  
     <p class="note"><strong>Note</strong>: When deploying the <%= vars.control_plane %> VM, Ops Manager will tag the <%= vars.control_plane %> VM 
     with the specified load balancer and 
     this firewall rule will then be applied to the <%= vars.control_plane %> VM.
     </p>
   * Under **Source filter**, select **IP ranges**.
   * Under **Source IP ranges**, enter `0.0.0.0/0`.
   * Under **Protocols and ports**, select **Specified protocols and ports** and enter `tcp:8443,9021`.

1. Click **Create**.

## <a id='dns-entry'></a>Create a DNS Entry

To create a DNS entry in GCP for your <%= vars.control_plane %> domain, do the following:

1. From the GCP console, navigate to **Network Services > Cloud DNS**.

1. If you do not already have a DNS zone, click **Create zone**.
   * Provide a **Zone name** and a **DNS name**.
   * Specify whether the **DNSSEC** state of the zone is **Off**, **On**, or **Transfer**.
   * (Optional) Enter a **Description**.
   * Click **Create**.

1. Click **Add record set**.

1. Under **DNS Name**, enter a subdomain for the load balancer. For example, if
your domain is `example.com`, enter `api.tkgi` in this field to use `api.tkgi.example.com`
as your <%= vars.control_plane %> load balancer hostname.

1. Under **Resource Record Type**, select **A** to create a DNS address record.

1. Enter a value for **TTL** and select a **TTL Unit**.

1. Enter the static IP address that GCP assigned when you created the load balancer in [Create a Load Balancer](#create-lb).

1. Click **Create**.

## <a id='install'></a>Install <%= vars.product_short %>

Follow the instructions in [Installing <%= vars.product_short %> on GCP](installing-gcp.html) to deploy <%= vars.product_short %>.
