---
title: GCP Prerequisites and Resource Requirements
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the prerequisites and resource requirements for installing <%= vars.product_full %> on Google Cloud Platform (GCP).

##<a id='prerequisites'></a> Prerequisites

Before you install <%= vars.product_short %>, you must install one of the following:

* Ops Manager v2.4.2 or later
* Ops Manager v2.5.x

<p class="note"><strong>Note:</strong> You use Ops Manager to install and configure <%= vars.product_short %>. Each
version of Ops Manager supports multiple versions of <%= vars.product_short %>. To confirm that your Ops Manager version
supports the version of <%= vars.product_short %> that you install, see <a href="release-notes.html"><%= vars.product_short %> Release Notes</a>.</p>

You must also create service accounts for Kubernetes master and worker nodes
and create a load balancer to access the PKS API.

###<a id='ops-man'></a> Install and Configure Ops Manager

To install an Ops Manager version that is compatible with the <%= vars.product_short %> version you intend to use,
follow the instructions in the corresponding version of the Ops Manager documentation.

<p class="note"><strong>Note</strong>: The topics below provide the manual procedures for deploying Ops Manager on GCP, not the Terraform procedures. The manual procedures are the currently supported path for deploying Ops Manager on GCP for use with <%= vars.product_short %>.</p>

<table>
  <tr>
    <th>Version</th>
    <th></th>
  </tr>
  <tr>
    <td>Ops Manager v2.4</td>
    <td>
      <ul>
        <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/prepare-env-manual.html">Preparing to Deploy PCF on GCP</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/deploy-manual.html">Deploying BOSH and Ops Manager to GCP</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/config-manual.html">Configuring BOSH Director on GCP</a></li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Ops Manager v2.5</td>
    <td>
      <ul>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/prepare-env-manual.html">Preparing to Deploy PCF on GCP</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/deploy-manual.html">Deploying BOSH and Ops Manager to GCP</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/config-manual.html">Configuring BOSH Director on GCP</a></li>
      </ul>
    </td>
  </tr>
</table>

###<a id='k8s-accounts'></a> Create Service Accounts for Kubernetes

After you install and configure Ops Manager, you must create service accounts for Kubernetes master
and worker node VMs in your <%= vars.product_short %> deployment. To create the service accounts, follow the procedures
in [Creating Service Accounts in GCP for <%= vars.product_short %>](gcp-service-accounts.html).

###<a id='lb'></a> Create a Load Balancer for the PKS API

Before you install <%= vars.product_short %>, you must create an external TCP load balancer so that you can access the
PKS API from outside the network. This load balancer allows you to run `pks` commands from your
local workstation. You must create the load balancer before you install <%= vars.product_short %>, and then complete the
load balancer configuration after you install <%= vars.product_short %>.

To create a load balancer in GCP, follow the procedures in
[Creating a GCP Load Balancer for the PKS API](./gcp-api-load-balancer.html).

##<a id='resources'></a> Resource Requirements

Installing Ops Manager and <%= vars.product_short %> requires the following virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Storage</th>
  </tr>
  <tr>
    <td>Pivotal Container Service</td>
    <td>2</td>
    <td>8 GB</td>
    <td>16 GB ^&#x2A;</td>
  </tr>
  <tr>
    <td>Pivotal Ops Manager</td>
    <td>1</td>
    <td>8 GB</td>
    <td>160 GB</td>
  </tr>
  <tr>
    <td>BOSH Director</td>
    <td>2</td>
    <td>8 GB</td>
    <td>16 GB</td>
  </tr>
</table>

<%= partial '_increase_persistent_disk' %>

<h3> Kubernetes Cluster Resources </h3>

Each Kubernetes cluster provisioned through <%= vars.product_short %> deploys the VMs listed below. 

If you deploy more than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM Name</th>
    <th>Number</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>32 GB</td>
    <td>5 GB</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>32 GB</td>
    <td>50 GB</td>
  </tr>
</table>