---
title: Google Cloud Platform (GCP)
owner: PKS
iaas: GCP
---

This topic lists the procedures to follow to install <%= vars.product_full %> on Google Cloud Platform (GCP).

## Install <%= vars.product_short %> on GCP

To install <%= vars.product_short %> on GCP, follow the instructions below:

<ul>
  <li>
    <a href="gcp-requirements.html">Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="gcp-om-install-config.html">Installing and Configuring Ops Manager on GCP</a>
  </li>
  <li>
    <a href="gcp-service-accounts.html">Creating Service Accounts in GCP for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="gcp-api-load-balancer.html">Creating a GCP Load Balancer for the PKS API</a>
  </li>
  <li>
    <a href="installing-pks-gcp.html">Installing <%= vars.product_short %> on GCP</a>
  </li>
  <li>
    <a href="gcp-configure-pks-users.html">Setting Up <%= vars.product_short %> Admin Users on GCP</a>
  </li>
</ul>

## Install the PKS and Kubernetes CLIs

The PKS CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
