---
title: Installing and Configuring Ops Manager on GCP
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Ops Manager before deploying <%= vars.product_full %> on Google Cloud Platform (GCP).

## <a id='prerequisites'></a>Prerequisites

You use Ops Manager to install and configure <%= vars.product_short %>.
Before you install Ops Manager, review [GCP Prerequisites and Resource Requirements](gcp-requirements.html).

## <a id="install-om"></a>Install and Configure Ops Manager

Multiple versions of Ops Manager are compatible with each version of <%= vars.product_short %>.
To confirm that your Ops Manager version is compatible with the version of <%= vars.product_short %> that you want to install,
see the <a href="release-notes.html"><%= vars.product_short %> Release Notes</a>.

To install and configure Ops Manager, follow either the manual or Terraform instructions in the table below:

<table>
  <tr>
    <th>Version</th>
    <th>Manual Instructions</th>
    <th>Terraform Instructions</th>
  </tr>
  <tr>
    <td>Ops Manager 2.5</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/prepare-env-manual.html">Preparing to Deploy Ops Manager on GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/deploy-manual.html">Deploying Ops Manager on GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/config-manual.html">Configuring BOSH Director on GCP Manually</a></li>
      </ol>
    </td>
    <td>
    <ol>
      <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/prepare-env-terraform.html">Deploying Ops Manager on GCP Using Terraform</a></li>
      <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/config-terraform.html">Configuring BOSH Director on GCP Using Terraform</a></li>
    </ol>
  </td>
  </tr>
  <tr>
    <td>Ops Manager 2.6</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/gcp/prepare-env-manual.html">Preparing to Deploy PCF on GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/gcp/deploy-manual.html">Deploying BOSH and Ops Manager to GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/gcp/config-manual.html">Configuring BOSH Director on GCP Manually</a></li>
      </ol>
    </td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/gcp/prepare-env-terraform.html">Deploying Ops Manager on GCP Using Terraform</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/gcp/config-terraform.html">Configuring BOSH Director on GCP Using Terraform</a></li>
      </ol>
    </td>
  </tr>
</table>

## <a id="next-steps"></a>Next Installation Step

* If you installed Ops Manager manually,
proceed to [Creating Service Accounts in GCP for <%= vars.product_short %>](gcp-service-accounts.html).
* If you installed Ops Manager using Terraform,
proceed to [Installing <%= vars.product_short %> on GCP](installing-pks-gcp.html).
