---
title: GCP Prerequisites and Resource Requirements
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the prerequisites and resource requirements for installing <%= vars.product_full %> on Google Cloud Platform (GCP).

##<a id='prerequisites'></a> Prerequisites

Before you install <%= vars.product_short %>, you must install either Ops Manager v2.4.2 or later, or Ops Manager v2.5.x. See [Install and Configure Ops Manager](#ops-man).

You can install <%= vars.product_short %> on GCP manually or by using Terraform. If you are installing
<%= vars.product_short %> manually, before you install <%= vars.product_short %>, you must also do the following:

* Create service accounts for Kubernetes master and worker nodes. See [Create Service Accounts for Kubernetes](#k8s-accounts).
* Create a load balancer to access the PKS API. See [Create a Load Balancer for the PKS API](#lb).

<p class="note"><strong>Note:</strong> You use Ops Manager to install and configure <%= vars.product_short %>. Each
version of Ops Manager supports multiple versions of <%= vars.product_short %>. To confirm that your Ops Manager version
supports the version of <%= vars.product_short %> that you install, see <a href="release-notes.html"><%= vars.product_short %> Release Notes</a>.</p>

###<a id='ops-man'></a> Install and Configure Ops Manager

To install a compatible Ops Manager version, follow either the manual or Terraform instructions in the 
table below:

<table>
  <tr>
    <th>Version</th>
    <th>Manual Instructions</th>
    <th>Terraform Instructions</th>
  </tr>
  <tr>
    <td>Ops Manager 2.4</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/prepare-env-manual.html">Preparing to Deploy Ops Manager on GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/deploy-manual.html">Deploying Ops Manager on GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/config-manual.html">Configuring BOSH Director on GCP Manually</a></li>
      </ol>
    </td>
    <td>
    <ol>
      <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/prepare-env-terraform.html">Deploying Ops Manager on GCP Using Terraform</a></li>
      <li><a href="https://docs.pivotal.io/pcf/om/2-4/gcp/config-terraform.html">Configuring BOSH Director on GCP Using Terraform</a></li>
    </ol>
  </td>
  </tr>
  <tr>
    <td>Ops Manager 2.5</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/prepare-env-manual.html">Preparing to Deploy PCF on GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/deploy-manual.html">Deploying BOSH and Ops Manager to GCP Manually</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/config-manual.html">Configuring BOSH Director on GCP Manually</a></li>
      </ol>
    </td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/prepare-env-terraform.html">Deploying Ops Manager on GCP Using Terraform</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/gcp/config-terraform.html">Configuring BOSH Director on GCP Using Terraform</a></li>
      </ol>
    </td>
  </tr>
</table>

###<a id='k8s-accounts'></a> Create Service Accounts for Kubernetes

**If you are installing <%= vars.product_short %> manually:**
After you install and configure Ops Manager, you must create service accounts for Kubernetes master
and worker node VMs in your <%= vars.product_short %> deployment.
To create the service accounts, follow the procedures
in [Creating Service Accounts in GCP for <%= vars.product_short %>](gcp-service-accounts.html).

###<a id='lb'></a> Create a Load Balancer for the PKS API

**If you are installing <%= vars.product_short %> manually:**
You must create an external TCP load balancer before you install <%= vars.product_short %>.
This load balancer enables you to access the PKS API from outside the network
and run `pks` commands from your local workstation. 
To create a load balancer in GCP, do the procedures in
[Creating a GCP Load Balancer for the PKS API](./gcp-api-load-balancer.html).

After you install <%= vars.product_short %>, you must complete the load balancer configuration.
To complete the load balancer configuration,
do the procedure in [Create a Network Tag for the Firewall Rule](./gcp-api-load-balancer.html#tag).

##<a id='resources'></a> Resource Requirements

Installing Ops Manager and <%= vars.product_short %> requires the following virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>RAM</th>
    <th>Storage</th>
  </tr>
  <tr>
    <td>Pivotal Container Service</td>
    <td>2</td>
    <td>8 GB</td>
    <td>16 GB ^&#x2A;</td>
  </tr>
  <tr>
    <td>Pivotal Ops Manager</td>
    <td>1</td>
    <td>8 GB</td>
    <td>160 GB</td>
  </tr>
  <tr>
    <td>BOSH Director</td>
    <td>2</td>
    <td>8 GB</td>
    <td>16 GB</td>
  </tr>
</table>

<%= partial '_increase_persistent_disk' %>

<h3> Kubernetes Cluster Resources </h3>

Each Kubernetes cluster provisioned through <%= vars.product_short %> deploys the VMs listed below.

If you deploy more than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM Name</th>
    <th>Number</th>
    <th>CPU Cores</th>
    <th>RAM</th>
    <th>Ephemeral Disk</th>
    <th>Persistent Disk</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>32 GB</td>
    <td>5 GB</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1</td>
    <td>2</td>
    <td>4 GB</td>
    <td>32 GB</td>
    <td>50 GB</td>
  </tr>
</table>
