---
title: Google Cloud Platform (GCP)
owner: PKS
iaas: GCP
---

This topic lists the steps to follow when installing <%= vars.product_full %> on Google Cloud Platform (GCP).

<p class="note"><strong>Note</strong>: The topics below provide the manual procedures for deploying Ops Manager on GCP, not the Terraform procedures. The manual procedures are the currently supported path for deploying Ops Manager on GCP for use with <%= vars.product_short %>.</p>

See the following topics:

<ul>
  <li>
    <a href="./gcp-requirements.html">GCP Prerequisites and Resource Requirements</a>
  </li>
  <li>Deploying Ops Manager on GCP:</li>
    <ul>
      <li><a href="https://docs.pivotal.io/pcf/om/gcp/prepare-env-manual.html">Preparing GCP</a></li>
      <li><a href="https://docs.pivotal.io/pcf/om/gcp/deploy-manual.html">Deploying BOSH and Ops Manager to GCP</a></li>
      <li><a href="https://docs.pivotal.io/pcf/om/gcp/config-manual.html">Configuring BOSH Director on GCP</a></li>
    </ul>
  <li>
    <a href="./gcp-service-accounts.html">Creating Service Accounts in GCP for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./gcp-api-load-balancer.html">Creating a GCP Load Balancer for the PKS API</a>
  </li>
  <li>
    <a href="installing-pks-gcp.html">Installing <%= vars.product_short %> on GCP</a>
  </li>
</ul>

## Installing the PKS and Kubernetes CLIs

The PKS CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads. To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
