---
title: Getting Started with VMware Harbor Registry
owner: TKGI
---

This topic describes VMware Harbor Registry, an enterprise-class image registry
server that stores and distributes container images for <%= vars.product_full %>.

## <a id="overview"></a>Overview

Harbor allows you to store and manage container images for your <%= vars.product_short %>
deployment. Deploying an image registry alongside <%= vars.product_short %> improves
image transfer speed.

As an enterprise private registry, Harbor also offers enhanced performance and
improved security. By configuring Harbor with <%= vars.product_short %>, you can
apply enterprise features to your image registry, such as security, identity, and
management.

You can install Harbor alongside <%= vars.product_short %> on vSphere, Amazon
Web Services (AWS), Google Cloud Platform (GCP), and Microsoft Azure.

## <a id="installing"></a>Install Harbor

To install Harbor, do the following:

1. Install <%= vars.product_short %>. For more information, see the _Installing <%= vars.product_short %>_
topic for your cloud provider.
1. Install Harbor. For more information, see [Installing and Configuring VMware Harbor Registry](https://docs.pivotal.io/vmware-harbor/installing.html).

## <a id="using"></a>Use Harbor

Before you can push images to Harbor, you must do the following:

1. Configure authentication and role-based access control (RBAC) for Harbor.
For more information, see [Create Projects](https://goharbor.io/docs/1.10/working-with-projects/create-projects/) in the Harbor documentation.
1. Create a Harbor project that contains all repositories for your app. 
For more information, see [Create Projects](https://goharbor.io/docs/1.10/working-with-projects/create-projects/) in the Harbor documentation.

After you configure Harbor, you can do the following:

- Push or pull Docker images to your Harbor project using the Docker command-line
interface (CLI). For more information, see [Pulling and Pushing Images in the Docker Client]
(https://goharbor.io/docs/1.10/working-with-projects/working-with-images/pulling-pushing-images/) 
in the Harbor documentation.
- Manage Helm charts in your Harbor project using either the Harbor portal or the
Helm CLI. For more information, see [Managing Helm Charts]
(https://goharbor.io/docs/1.10/working-with-projects/working-with-images/managing-helm-charts/) 
in the Harbor documentation.
- Install Clair to enable vulnerability scanning for images stored in Harbor.
For more information, see [Step 8: Configure Container Vulnerability Scanning Using Clair]
(https://docs.pivotal.io/vmware-harbor/installing.html#configure_clair)
in _Installing and Configuring VMware Harbor Registry_.

For more information about managing images in Harbor, see the [Working with Images, Tags, and Helm Charts]
(https://goharbor.io/docs/1.10/working-with-projects/working-with-images/)
in the Harbor documentation.

## <a id="managing"></a>Manage Harbor

As a Harbor administrator, you can manage the following in the Harbor portal:

- **Authentication**: Select either local user authentication or configure
LDAP/Active Directory integration. If you select local user authentication,
you can enable or disable user self-registration.
- **Users and roles**: Manage privileges for Harbor users.
- **Email settings**: Configure a mail server for user password resets.
- **Project creation**: Specify which users can create projects.
- **Registry permissions**: Manage permissions for image registry access.
- **Endpoints**: Add and remove image registry endpoints.
- **Replication policies**: Add and remove rules for replication jobs.

For more information about managing Harbor as an administrator, see 
[Harbor Administration](https://goharbor.io/docs/1.10/administration/) in the Harbor documentation.
