---
title: VMware Harbor Registry
owner: PKS
---

This topic describes VMware Harbor Registry, an enterprise-class image registry
server that stores and distributes container images for <%= vars.product_full %>.

## <a id="overview"></a>Overview

Harbor allows you to store and manage container images for your <%= vars.product_short %>
deployment. Deploying an image registry alongside <%= vars.product_short %> improves
image transfer speed. As an enterprise private registry, Harbor also offers
enhanced performance and improved security.

You can apply enterprise features to your image registry, such as security, identity,
and management, by configuring Harbor with <%= vars.product_short %>.

<%# ## <a id="images"></a>Types of Images

What types of things = container images a PKS user can push to Harbor: images that are created for running end-user apps? any other types of images?

## <a id="pushing"></a>Pushing Images to Harbor

At what point after installing PKS can PKS users start pushing images to Harbor? That is, what are the prerequisites for pushing the first image to Harbor?

## <a id="installing"></a>Installing Harbor %>

[Integrating VMware Harbor Registry with <%= vars.product_short %>](https://docs.pivotal.io/partners/vmware-harbor/integrating-pks.html)
