---
title: Monitoring Enterprise PKS and PKS-Provisioned Clusters
owner: PKS
---

This topic lists <%= vars.product_full %> (<%= vars.product_short %>)
components and integrations you can use to capture logs and metrics about
<%= vars.product_short %> and <%= vars.k8s_runtime_abbr %>-provisioned
cluster VMs.

For information about monitoring Kubernetes workloads,
see [Monitoring Workers and Workloads](in-cluster-monitoring.html).

## <a id='overview'></a>Overview

To monitor <%= vars.product_short %> and
<%= vars.k8s_runtime_abbr %>-provisioned cluster VMs, you can enable one or
more of the following components and integrations in the
**<%= vars.product_tile %>** tile > **Host Monitoring**:

<table class="nice">
  <col width="35%">
  <col width="65">
  <tr>
    <th>Name</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Syslog</td>
    <td>See <a href="#syslog">Syslog</a> below.</td>
  </tr>
  <tr>
    <td>VMware vRealize Log Insight</td>
    <td>See <a href="#vrealize">vRealize Log Insight (vSphere Only)</a> below.</td>
  </tr>
  <tr>
    <td>Telegraf (metrics)</td>
    <td>See <a href="#telegraf">Telegraf</a> below.</td>
  </tr>
</table>

These components and
integrations are visible only to <%= vars.k8s_runtime_abbr %> admins.
They are not visible to cluster users, such as developers.

## <a id='logs'></a>Logs: Syslog and vRLI

You can configure Syslog or vRealize Log Insight (vRLI) to publish logs
from the <%= vars.k8s_runtime_abbr %> control plane
and <%= vars.k8s_runtime_abbr %>-provisioned cluster VMs.

You might need to inspect Syslog or vRLI logs when troubleshooting or
auditing your <%= vars.product_short %> environment.
For information about key
<%= vars.product_short %> events and the log entries they generate, see
[Auditing <%= vars.product_short %> Logs](monitor-audit-logs.html).

### <a id='syslog'></a>Syslog

Syslog sends log messages from all BOSH-deployed VMs in an
<%= vars.product_short %> environment to a syslog endpoint.
To configure Syslog,
see [Syslog](installing-pks-vsphere.html#host-syslog) in the
_Installing_ topic for your IaaS.

If you do not use Syslog, you can
retrieve logs from BOSH-deployed VMs by downloading them as described in
[Downloading Logs from VMs](download-logs.html).
However, retrieving these logs through Syslog is recommended.

### <a id='vrealize'></a>vRealize Log Insight (vSphere Only)

The vRLI integration for <%= vars.k8s_runtime_abbr %>
pulls logs from all BOSH jobs and
containers running in the cluster, including node logs from core Kubernetes and
BOSH processes, Kubernetes event logs, and pod `stdout` and `stderr`.

To configure the vRLI integration, see
[VMware vRealize Log Insight Integration](installing-pks-vsphere.html#vrealize-logs)
in the _Installing_ topic for vSphere with Flannel or vSphere with NSX-T.

For information about vRLI,
see [vRealize Log Insight](https://www.vmware.com/products/vrealize-log-insight.html).

## <a id='telegraf'></a>Metrics: Telegraf

Telegraf sends metrics from PKS API, master node, and worker
node VMs to a monitoring service, such as Wavefront or Datadog.

In the **<%= vars.product_tile %>** tile > **Host Monitoring**, you can
configure Telegraf to collect metrics
from one or more the following sources:

<table class="nice">
  <col width="30%">
  <col width="70%">
  <tr>
    <th>Source</th>
    <th>Includes metrics from…</th>
  </tr>
  <tr>
    <td>
      <strong>PKS API</strong>
    </td>
    <td>
      <ul>
        <li>Node Exporter (Prometheus)</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Master nodes</strong><br>
      (not visible to cluster users)
    </td>
    <td>
      <p>One or more of the following:</p>
      <ul>
        <li>Node Exporter (Prometheus)</li>
        <li>Kubernetes API server</li>
        <li>Kubernetes controller manager</li>
        <li>etcd</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <strong>Worker nodes</strong>
    </td>
    <td>
      <p>One or more of the following:</p>
      <ul>
        <li>Node Exporter (Prometheus)</li>
        <li>kubelet</li>
      </ul>
    </td>
  </tr>
</table>

To configure Telegraf, see
[Configuring Telegraf in <%= vars.product_short %>](monitor-etcd.html).

For more information about Node Exporter,
see [About Node Exporter](#node-exporter) below.

### <a name="node-exporter"></a>About Node Exporter

Node Exporter exports hardware and operating system metrics in Prometheus format.

In the **Host Monitoring** pane of the <%= vars.product_tile %>, you can
enable the Node Exporter BOSH job separately on master nodes, worker nodes,
and the <%= vars.control_plane %> VM.

Node Exporter exposes metrics on <em>localhost</em> only. For a list of
Node Exporter metrics, see the
[Node Exporter](https://github.com/prometheus/node_exporter#enabled-by-default)
GitHub repository.
