---
title: Monitoring Workers and Workloads
owner: PKS
---

This topic lists <%= vars.product_full %> components and integrations you can
use to capture logs and metrics about your Kubernetes worker nodes and
workloads.

For information about monitoring <%= vars.product_short %> and
<%= vars.k8s_runtime_abbr %>-provisioned cluster VMs, see
[Monitoring <%= vars.product_short %> and <%= vars.k8s_runtime_abbr %>-Provisioned Clusters](host-monitoring.html).

## <a id='overview'></a>Overview

To monitor Kubernetes worker nodes and workloads in your
<%= vars.product_short %> deployment, you can enable one or more of the
following components and integrations in the **<%= vars.product_tile %>** tile >
**In-Cluster Monitoring**:

<table class="nice">
  <col width="25%">
  <col width="25%">
  <col width="50">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Sink resources</td>
    <td><%= vars.k8s_runtime_abbr %> component</td>
    <td>See <a href="#sinks">Sink Resources</a> below.</td>
  </tr>
  <tr>
    <td>Wavefront</td>
    <td>Integration</td>
    <td>See <a href="#integrations">Supported Integrations</a> below.</td>
  </tr>
  <tr>
    <td>cAdvisor</td>
    <td>Integration</td>
    <td>See <a href="#integrations">Supported Integrations</a> below.</td>
  </tr>
</table>

When running on worker nodes, these components and integrations are visible to
both <%= vars.k8s_runtime_abbr %> admins and cluster users, such as developers.

To enable sink resources, Wavefront, or cAdvisor integration,
follow the instructions in _In-Cluster Monitoring_ for your IaaS:

* [Installing <%= vars.product_short %> on vSphere](installing-pks-vsphere.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on vSphere with NSX-T](installing-nsx-t.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on GCP](installing-pks-gcp.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on AWS](installing-pks-aws.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on Azure](installing-pks-azure.html#cluster-monitoring)

## <a id='sinks'></a> Sink Resources

In <%= vars.product_short %>, you can deploy log sinks and metric sinks to
monitor your Kubernetes worker nodes and workloads that are running on them.

To deploy a log or a metric sink:

1. Enable sink resources in the **<%= vars.product_tile %>** tile >
**In-Cluster Monitoring**.
You can enable both log and metric sink resources or only one of them.
1. (Optional) Enable Node Exporter on worker nodes by selecting the
**Enable node exporter on workers** checkbox.
1. Create sink resources. For instructions, see
[Creating and Managing Sink Resources](create-sinks.html).

For more information about sink resources, see:

* Conceptual information: [Sink Architecture in <%= vars.product_short %>](sink-architecture.html)
* Sink resource types, outputs, and identifying strings: [Monitoring Clusters with Log Sinks](monitor-sinks.html)

## <a id='integrations'></a> Supported Integrations

<%= vars.product_short %> supports the following integrations:

* **Wavefront**. For more information, see
[VMware Tanzu Kubernetes Grid Integration Details](https://docs.wavefront.com/integrations_tkgi.html)
in the Wavefront documentation.
  <p class="note"><strong>Note:</strong> You can also create a metric sink
  to send metrics to Wavefront.</p>
* **cAdvisor**. For more information, see
[cAdvisor](https://github.com/google/cadvisor) on GitHub and
[VMware vRealize Operations Management Pack for Container Monitoring](https://docs.vmware.com/en/Management-Packs-for-vRealize-Operations-Manager/1.4/container-monitoring/GUID-BD6B5510-4A16-412D-B5AD-43F74C300C91.html).
