---
title: Monitoring Linux Workers and Workloads
owner: PKS
---

This topic lists <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>)
components and integrations you can use to capture logs and metrics about your
Kubernetes worker nodes and workloads.

For information about monitoring <%= vars.k8s_runtime_abbr %> and
<%= vars.k8s_runtime_abbr %>-provisioned cluster VMs on Linux, see
[Monitoring <%= vars.k8s_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>-Provisioned Clusters](host-monitoring.html).

For information about logging and monitoring Kubernetes clusters, workers and workloads on Windows,
see:  

* [Monitoring Windows Worker Clusters and Workers](windows-monitoring.html)
* [Logging Windows Worker Clusters and Workers](windows-logging.html) 

## <a id='overview'></a>Overview

To monitor Kubernetes worker nodes and workloads in your
<%= vars.k8s_runtime_abbr %> deployment, you can enable one or more of the
following components and integrations in the **<%= vars.product_tile %>** tile >
**In-Cluster Monitoring**:

<table class="nice">
  <col width="25%">
  <col width="25%">
  <col width="50">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Sink resources</td>
    <td><%= vars.k8s_runtime_abbr %> component</td>
    <td><a href="#sinks">Sink Resources</a>, below.</td>
  </tr>
  <tr>
    <td>Wavefront</td>
    <td>External integration</td>
    <td><a href="https://docs.wavefront.com/tkgi.html">VMware Tanzu Kubernetes Grid Integrated Edition Integration</a> in the Wavefront documentation.<br /><br />
    Or send metrics to Wavefront with a <a href="create-sinks.html">metric sink</a>.</td>
  </tr>
  <tr>
    <td>vRealize Operations</td>
    <td>External integration, with cAdvisor</td>
    <td><a href="https://github.com/google/cadvisor">cAdvisor</a> on GitHub<br />
    <a href="https://docs.vmware.com/en/Management-Packs-for-vRealize-Operations-Manager/1.4/container-monitoring/GUID-BD6B5510-4A16-412D-B5AD-43F74C300C91.html">VMware vRealize Operations Management Pack for Container Monitoring</a></td>
  </tr>
</table>

When running on worker nodes, these components and integrations are visible to
both <%= vars.k8s_runtime_abbr %> admins and cluster users, such as developers.

To enable sink resources, Wavefront, or vRealize Operations integration,
follow the instructions in _In-Cluster Monitoring_ for your IaaS:

* [Installing <%= vars.product_short %> on vSphere](installing-vsphere.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on vSphere with NSX-T](installing-nsx-t.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on GCP](installing-gcp.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on AWS](installing-aws.html#cluster-monitoring)
* [Installing <%= vars.product_short %> on Azure](installing-azure.html#cluster-monitoring)

## <a id='sinks'></a> Sink Resources

In <%= vars.k8s_runtime_abbr %>, you can deploy log sinks and metric sinks to
monitor your Kubernetes worker nodes and workloads that are running on them.

To deploy a log or a metric sink:

1. Enable sink resources in the **<%= vars.product_tile %>** tile >
**In-Cluster Monitoring**.
You can enable both log and metric sink resources or only one of them.
1. (Optional) Enable Node Exporter on worker nodes by selecting the
**Enable node exporter on workers** checkbox.
1. Create sink resources. For instructions, see
[Creating and Managing Sink Resources](create-sinks.html).

For more information about sink resources, see:

* Conceptual information: [Sink Architecture in <%= vars.product_short %>](sink-architecture.html)
* Sink resource types, outputs, and identifying strings: [Monitoring Clusters with Log Sinks](monitor-sinks.html)
