---
title: Monitoring Workers and Workloads
owner: PKS
---

This topic lists <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>)
components and integrations you can
use to capture logs and metrics about your Kubernetes worker nodes and
workloads.

## <a id='overview'></a>Overview

To monitor Kubernetes worker nodes and workloads in your
<%= vars.k8s_runtime_abbr %> deployment, you can enable one or more of the
following components and integrations in the **<%= vars.product_tile %>** tile >
the **Logging** and **Monitoring** panes:

<table class="nice">
  <col width="25%">
  <col width="25%">
  <col width="50">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Sink resources</td>
    <td><%= vars.k8s_runtime_abbr %> component</td>
    <td>See <a href="#sinks">Sink Resources</a> below.</td>
  </tr>
  <tr>
    <td>Wavefront</td>
    <td>Integration</td>
    <td>See <a href="#integrations">Supported Integrations</a> below.</td>
  </tr>
  <tr>
    <td>cAdvisor</td>
    <td>Integration</td>
    <td>See <a href="#integrations">Supported Integrations</a> below.</td>
  </tr>
</table>

When running on worker nodes, these components and integrations are visible to
both <%= vars.k8s_runtime_abbr %> admins and cluster users such as developers.

To enable sink resources, Wavefront, or cAdvisor integration,
follow the instructions in _Logging_ and _Monitoring_ for your IaaS:

* [Installing <%= vars.product_short %> on vSphere](installing-pks-vsphere.html)
* [Installing <%= vars.product_short %> on vSphere with NSX-T](installing-nsx-t.html)
* [Installing <%= vars.product_short %> on GCP](installing-pks-gcp.html)
* [Installing <%= vars.product_short %> on AWS](installing-pks-aws.html)
* [Installing <%= vars.product_short %> on Azure](installing-pks-azure.html)

## <a id='sinks'></a> Sink Resources

In <%= vars.k8s_runtime_abbr %>, you can deploy log sinks and metric sinks to
monitor your Kubernetes worker nodes and workloads that are running on them.

To deploy a log or a metric sink:

1. Enable sink resources in the **<%= vars.product_tile %>** tile >
the **Logging** and **Monitoring** panes by selecting the
**Enable Log Sink Resources** and **Enable Metric Sink Resources** checkboxes.

    You can enable both log and metric sink resources or only one of them.
1. (Optional) Enable Node Exporter on worker nodes by selecting the
**Enable Node Exporter** checkbox in the **Monitoring** pane.
1. Create sink resources. For instructions, see
[Creating and Managing Sink Resources](create-sinks.html).

For more information about sink resources, see:

* Conceptual information: [Sink Architecture in <%= vars.product_short %>](sink-architecture.html)
* Sink resource types, outputs, and identifying strings: [Monitoring Clusters with Log Sinks](monitor-sinks.html)

## <a id='integrations'></a> Supported Integrations

<%= vars.k8s_runtime_abbr %> supports the following integrations:

* **Wavefront**. For more information, see
[VMware Tanzu Kubernetes Grid Integration Details](https://docs.wavefront.com/integrations_tkgi.html)
in the Wavefront documentation.
  <p class="note"><strong>Note:</strong> You can also create a metric sink
  to send metrics to Wavefront.</p>
* **cAdvisor**. For more information, see
[cAdvisor](https://github.com/google/cadvisor) on GitHub and
[VMware vRealize Operations Management Pack for Container Monitoring](https://docs.vmware.com/en/Management-Packs-for-vRealize-Operations-Manager/1.4/container-monitoring/GUID-BD6B5510-4A16-412D-B5AD-43F74C300C91.html).
