---
title: Enterprise Pivotal Container Service (Enterprise PKS)
owner: PKS
---

<%= vars.product_full %> enables operators to provision, operate, and manage enterprise-grade Kubernetes clusters using BOSH and Pivotal Ops Manager.

## <a id='overview'></a>Overview

<%= vars.product_short %> uses the [On-Demand Broker](https://docs.pivotal.io/svc-sdk/odb/index.html) to deploy [Cloud Foundry Container Runtime](https://docs-cfcr.cfapps.io/), a BOSH release that offers a uniform way to instantiate, deploy, and manage highly available Kubernetes clusters on a cloud platform using BOSH.

After operators install the <%= vars.product_tile %> tile on the Ops Manager Installation Dashboard, developers can provision Kubernetes clusters using the PKS Command Line Interface (PKS CLI), and run container-based workloads on the clusters with the Kubernetes CLI, [kubectl](installing-kubectl-cli.html).

<%= vars.product_short %> is available as part of [Pivotal Cloud Foundry](https://docs.pivotal.io) or as a stand-alone product.

##<a id='pks-kubernetes'></a> What <%= vars.product_short %> Adds to Kubernetes

The following table details the features that <%= vars.product_short %> adds to the Kubernetes platform.

<table>
  <tr>
    <th>Feature</th>
    <th>Included in K8s</th>
    <th>Included in <%= vars.product_short %></th>
  </tr>
  <tr>
    <td>Single tenant ingress</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Secure multi-tenant ingress</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Stateful sets of pods</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Multi-container pods</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Rolling upgrades to pods</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Rolling upgrades to cluster infrastructure</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Pod scaling and high availability</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Cluster provisioning and scaling</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Monitoring and recovery of cluster VMs and processes</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Persistent disks</td>
    <td align="center">&check;</td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Secure container registry</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
  <tr>
    <td>Embedded, hardened operating system</td>
    <td></td>
    <td align="center">&check;</td>
  </tr>
</table>

## <a id='features'></a>Features

<%= vars.product_short %> has the following features:

* **Kubernetes compatibility**: Constant compatibility with current stable release of Kubernetes

* **Production-ready**: Highly available from applications to infrastructure, with no single points of failure

* **BOSH advantages**: Built-in health checks, scaling, auto-healing and rolling upgrades

* **Fully automated operations**: Fully automated deploy, scale, patch, and upgrade experience

* **Multi-cloud**: Consistent operational experience across multiple clouds

* **GCP APIs access**: The Google Cloud Platform (GCP) Service Broker gives applications access to the Google Cloud APIs, and Google Container Engine (GKE) consistency enables the transfer of workloads from or to GCP

On vSphere, <%= vars.product_short %> supports deploying and running Kubernetes clusters in air-gapped environments.

##<a id='components'></a> <%= vars.product_short %> Components

The PKS control plane contains the following components:

* An [On-Demand Broker](https://docs.pivotal.io/svc-sdk/odb/) that deploys [Cloud Foundry Container Runtime](https://docs-cfcr.cfapps.io/) (CFCR), an open-source project that provides a solution for deploying and managing [Kubernetes](https://kubernetes.io/docs/home/) clusters using [BOSH](https://bosh.io/docs).
* A Service Adapter
* The PKS API

For more information about the PKS control plane, see [<%= vars.product_short %> Cluster Management](control-plane.html).

For a detailed list of components and supported versions by a particular <%= vars.product_short %> release, see the [<%= vars.product_short %> Release Notes](release-notes.html).

## <a id='concepts'></a><%= vars.product_short %> Concepts

For conceptual information about <%= vars.product_short %>, see [<%= vars.product_short %> Concepts](concepts.html).

##<a id='prerequisites'></a> <%= vars.product_short %> Prerequisites

For information about the resource requirements for installing <%= vars.product_short %>, see the topic that corresponds to your cloud provider:

* [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)
* [vSphere with NSX-T Version Requirements](vsphere-nsxt-requirements.html) and [Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T](vsphere-nsxt-rpd-mpd.html)
* [GCP Prerequisites and Resource Requirements](gcp-requirements.html)
* [AWS Prerequisites and Resource Requirements](aws-requirements.html)
* [Azure Prerequisites and Resource Requirements](azure-requirements.html)


##<a id='preparing'></a> Preparing to Install <%= vars.product_short %>

To install <%= vars.product_short %>, you must deploy Ops Manager. 
You use Ops Manager to install and configure <%= vars.product_short %>.

If you are installing <%= vars.product_short %> to vSphere, you can also configure integration with NSX-T and Harbor.

Consult the following table for compatibility information:

<table>
<tr>
<th>IaaS</th>
<th>Ops Manager <%= vars.ops_man_version_2_5_short %> or <%= vars.ops_man_version_2_6_short %> </th>
<th>NSX-T</th>
<th>Harbor</th>
</tr>
<tr>
<td>vSphere</td>
<td>Required</td>
<td>Available</td>
<td>Available</td>
</tr>
<tr>
<td>GCP</td>
<td>Required</td>
<td>Not Available</td>
<td>Available</td>
</tr>
<tr>
<td>AWS</td>
<td>Required</td>
<td>Not Available</td>
<td>Available</td>
</tr>
<tr>
<td>Azure</td>
<td>Required</td>
<td>Not Available</td>
<td>Available</td>
</tr>
</table>

For more information about compatibility and component versions, see the [<%= vars.product_short %> Release Notes](release-notes.html).

For information about preparing your environment before installing <%= vars.product_short %>, see the topic that corresponds to your cloud provider:

* [vSphere](vsphere-index.html)
* [vSphere with NSX-T Integration](vsphere-nsxt-index.html)
* [GCP](gcp-index.html)
* [AWS](aws-index.html)
* [Azure](azure-index.html)

## <a id='installing'></a>Installing <%= vars.product_short %>

For information about installing <%= vars.product_short %>, see _Installing <%= vars.product_short %>_ for your IaaS:

* [vSphere](installing-pks-vsphere.html)
* [vSphere with NSX-T Integration](installing-nsx-t.html)
* [Google Cloud Platform (GCP)](installing-pks-gcp.html)
* [Amazon Web Services (AWS)](installing-pks-aws.html)
* [Microsoft Azure (Azure)](installing-pks-azure.html)

## <a id='upgrading'></a>Upgrading <%= vars.product_short %>

For information about upgrading the <%= vars.product_tile %> tile and <%= vars.product_short %>-deployed Kubernetes clusters, see [Upgrading <%= vars.product_short %>](upgrading.html).

## <a id='managing-pks'></a>Managing <%= vars.product_short %>

For information about configuring authentication, creating users, and managing your <%= vars.product_short %> deployment, see [Managing <%= vars.product_short %>](managing.html).

## <a id='managing-clusters'></a>Managing Kubernetes Clusters and Workloads

For information about managing <%= vars.product_short %>-provisioned Kubernetes clusters and deploying workloads, see [Managing Kubernetes Clusters and Workloads](managing-clusters.html).

## <a id='backup'></a>Backing Up and Restoring <%= vars.product_short %>

For information about using BOSH Backup and Restore (BBR) to back up and restore <%= vars.product_short %>, see [Backing Up and Restoring <%= vars.product_short %>](backup-and-restore.html).

## <a id='security'></a><%= vars.product_short %> Security

For information about security in <%= vars.product_short %>, see [<%= vars.product_short %> Security](security.html).

## <a id='troubleshooting'></a>Diagnosing and Troubleshooting <%= vars.product_short %>

For information about diagnosing and troubleshooting issues installing or using <%= vars.product_short %>, see [Diagnosing and Troubleshooting <%= vars.product_short %>](troubleshoot.html).
