---
title: Installing Tanzu Kubernetes Grid Integrated Edition on vSphere (Antrea and Flannel Networking)
owner: TKGI
iaas: vSphere
---

This topic describes how to install and configure VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) 
on vSphere with Antrea or Flannel Networking as a VMware Tanzu Operations Manager (Ops Manager) tile.  

##<a id='prerequisites'></a>Prerequisites

Before performing the procedures in this topic, you must have deployed and configured Ops Manager.
For more information, see [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).

<%= partial 'prerequisites' %>


<br>
<br>
## <a id='overview'></a>Overview

To install and configure TKGI:  

1. [Install Tanzu Kubernetes Grid Integrated Edition](#install)  
1. [Configure Tanzu Kubernetes Grid Integrated Edition](#configure)  
1. [Apply Changes](#apply-changes)  



##<a id='install'></a> Step 1: Install Tanzu Kubernetes Grid Integrated Edition

<%= partial 'install' %>

##<a id='configure'></a> Step 2: Configure Tanzu Kubernetes Grid Integrated Edition

To configure TKGI:  

1. Click the orange **Tanzu Kubernetes Grid Integrated Edition** tile to start the configuration process.  

    ![TKGI tile on the Ops Manager installation dashboard](images/tkgi-tile-orange.png)

    <p class="note warning"><strong>WARNING</strong>: When you configure the Tanzu Kubernetes Grid Integrated Edition tile, do not use spaces in any field entries. This includes spaces between characters as well as
    leading and trailing spaces. If you use a space in any field entry, the deployment of Tanzu Kubernetes Grid Integrated Edition fails.</p>
1. [Assign AZs and Networks](#azs-networks)  
1. [TKGI API](#tkgi-api)  
1. [Plans](#plans)  
1. [Kubernetes Cloud Provider](#cloud-provider)  
1. [Networking](#networking)  
1. [UAA](#uaa)  
1. [(Optional) Host Monitoring](#syslog)  
1. [(Optional) In-Cluster Monitoring](#cluster-monitoring)  
1. [Tanzu Mission Control](#tmc)  
1. [VMware CEIP](#telemetry)  
1. [Storage](#storage-config)  
1. [Errands](#errands)  
1. [Resource Config](#resource-config)  

<br>
### <a id='azs-networks'></a> Assign AZs and Networks

<%= partial 'azs-networks' %>

<br>
### <a id='tkgi-api'></a> TKGI API

<%= partial 'api' %>

<br>
### <a id='plans'></a> Plans

<%= partial 'plans' %>

<br>
### <a id='cloud-provider'></a> Kubernetes Cloud Provider

<%= partial 'cloud-provider' %>

<br>
### <a id='networking'></a> Networking

<%= partial 'networking-vsphere' %>

<br>
### <a id='uaa'></a> UAA

<%= partial 'uaa' %>

<br>
### <a id='syslog'></a> (Optional) Host Monitoring

<%= partial 'host-monitoring' %>

<br>
### <a id='cluster-monitoring'></a> (Optional) In-Cluster Monitoring

<%= partial 'cluster-monitoring' %>

<br>
### <a id='tmc'></a> Tanzu Mission Control

<%= partial 'tmc' %>

<br>
### <a id='telemetry'></a> VMware CEIP

<%= partial 'usage-data' %>

<br>
### <a id='storage-config'></a> Storage

<%= partial 'storage-config' %>

<br>
### <a id='errands'></a> Errands

<%= partial 'errands' %>

<br>
### <a id='resource-config'></a> Resource Config

To modify the resource configuration of Tanzu Kubernetes Grid Integrated Edition, follow the steps below:

1. Select **Resource Config**.
1. <%= partial 'resource-config' %>
1. Under each job, leave **NSX CONFIGURATION** and **NSX-V CONFIGURATION** blank.

  <p class="note warning"><strong>Warning:</strong> To avoid workload downtime, use the resource configuration recommended in 
  <a href="understanding-upgrades.html">About Tanzu Kubernetes Grid Integrated Edition Upgrades</a> 
  and <a href="maintain-uptime.html">Maintaining Workload Uptime</a>.
  </p>

<br>
<br>
## <a id='apply-changes'></a> Step 3: Apply Changes

<%= partial 'apply-changes' %>

<br>
<br>
## <a id='next-install-step'></a> Next Installation Step

To configure the TKGI API load balancer, follow the instructions in [Configure TKGI API Load Balancer](vsphere-configure-api.html).
