---
title: Installing the TKGI CLI
owner: TKGI
---

This topic describes how to install the <%= vars.product_full %> Command Line Interface 
(<%= vars.k8s_runtime_abbr %> CLI).

<br>
<br>
## <a id="overview"></a>Overview

The [<%= vars.k8s_runtime_abbr %> CLI](cli/index.html) is a command-line tool 
to manage <%= vars.product_short %> provisioned Kubernetes clusters. 
Use the <%= vars.k8s_runtime_abbr %> CLI to create, manage, and delete Kubernetes clusters.  

For more information on the <%= vars.k8s_runtime_abbr %> CLI, see [<%= vars.k8s_runtime_abbr %> CLI](cli/index.html).  

To download and install the <%= vars.k8s_runtime_abbr %> CLI, complete the steps in [Install the <%= vars.k8s_runtime_abbr %> CLI](#install) below.  

<p class="note"><strong>Note:</strong> <%= vars.k8s_runtime_abbr %> CLI binaries are only provided for 64-bit architectures.</p>


<br>
<br>
## <a id="install"></a>Install the <%= vars.k8s_runtime_abbr %> CLI

To download and install the <%= vars.k8s_runtime_abbr %> CLI:  

1. Navigate to <a href="https://support.broadcom.com/">Broadcom Support</a> and log in.  
1. Click <strong><%= vars.product_tile %></strong>.  
1. Select your desired release version from the <strong>Releases</strong> dropdown.  
1. Click <strong><%= vars.k8s_runtime_abbr %> CLI</strong>.</li>
1. To download the <%= vars.k8s_runtime_abbr %> CLI for your operating system:  

    * **Mac OS X**: Click <strong><%= vars.k8s_runtime_abbr %> CLI - Mac</strong> to download the Mac OS X binary.  
    * **Linux**: Click <strong><%= vars.k8s_runtime_abbr %> CLI - Linux</strong> to download the Linux binary.  
    * **Windows**: Click <strong><%= vars.k8s_runtime_abbr %> CLI - Windows</strong> to download the Windows executable file.
1. To install the <%= vars.k8s_runtime_abbr %> CLI, follow the procedures for your operating system:  

    * [Mac OS X](#mac)  
    * [Linux](#linux)  
    * [Windows](#windows)  


<br>
### <a id='mac'></a> Mac OS X

To install the <%= vars.k8s_runtime_abbr %> CLI on Mac OS X:  

<ol><li>Rename the downloaded binary file to <code>tkgi</code>.</li>
<li>On the command line, run the following command to make the <%= vars.k8s_runtime_abbr %> CLI binary executable:
  <code>$ chmod +x tkgi</code></li>
<li>Move the binary file into your <code>PATH</code>.</li>
<li>Run <code>tkgi --version</code> to verify the version of your <%= vars.k8s_runtime_abbr %> CLI installed locally.</li>
</ol>

<br>
### <a id='linux'></a> Linux

To install the <%= vars.k8s_runtime_abbr %> CLI on Linux:  

<ol><li>Rename the downloaded binary file to <code>tkgi</code>.</li>
<li>On the command line, run the following command to make the <%= vars.k8s_runtime_abbr %> CLI binary executable:
  <code>$ chmod +x tkgi</code></li>
<li>Move the binary file into your <code>PATH</code>.</li>
<li>Run <code>tkgi --version</code> to verify the version of your <%= vars.k8s_runtime_abbr %> CLI installed locally.</li>
</ol>

<br>
### <a id='windows'></a> Windows

To install the <%= vars.k8s_runtime_abbr %> CLI on Microsoft Windows:  

<ol><li>Rename the downloaded binary file to <code>tkgi.exe</code>.</li>
<li>Move the binary file into your <code>PATH</code>.</li>
<li>Run <code>tkgi --version</code> to verify the version of your <%= vars.k8s_runtime_abbr %> CLI installed locally.</li>
</ol>
