---
title: Installing Tanzu Kubernetes Grid Integrated Edition on vSphere
owner: TKGI
iaas: vSphere
---

This topic describes how to install and configure <%= vars.product_full %> on vSphere with Flannel.  

##<a id='prerequisites'></a>Prerequisites

Before performing the procedures in this topic, you must have deployed and configured Ops Manager.
For more information, see [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).

<%= partial 'prerequisites' %>

##<a id='install'></a> Step 1: Install <%= vars.product_short %>

<%= partial 'install' %>

##<a id='configure'></a> Step 2: Configure <%= vars.product_short %>

Click the orange **<%= vars.product_tile %>** tile to start the configuration process.

![<%= vars.k8s_runtime_abbr %> tile on the Ops Manager installation dashboard](images/tkgi-tile-orange.png)

  <p class="note warning"><strong>WARNING</strong>: When you configure the <%= vars.product_tile %> tile, do not use spaces in any field entries. This includes spaces between characters as well as
  leading and trailing spaces. If you use a space in any field entry, the deployment of <%= vars.product_short %> fails.</p>

###<a id='azs-networks'></a> Assign AZs and Networks

<%= partial 'azs-networks' %>

###<a id='tkgi-api'></a> <%= vars.control_plane %>

<%= partial 'api' %>

###<a id='plans'></a> Plans

<%= partial 'plans' %>

###<a id='cloud-provider'></a> Kubernetes Cloud Provider

<%= partial 'cloud-provider' %>

###<a id='networking'></a> Networking

<%= partial 'networking-vsphere' %>

###<a id='uaa'></a> UAA

<%= partial 'uaa' %>

###<a id='syslog'></a> (Optional) Host Monitoring

<%= partial 'host-monitoring' %>

###<a id='cluster-monitoring'></a> (Optional) In-Cluster Monitoring

<%= partial 'cluster-monitoring' %>

###<a id='tmc'></a> Tanzu Mission Control (Experimental)

<%= partial 'tmc' %>

###<a id='telemetry'></a> CEIP and Telemetry

<%= partial 'usage-data' %>

###<a id='errands'></a> Errands

<%= partial 'errands' %>

###<a id='resource-config'></a> Resource Config

To modify the resource configuration of <%= vars.product_short %>, follow the steps below:

1. Select **Resource Config**.
1. <%= partial 'resource-config' %>
1. Under each job, leave **NSX-T CONFIGURATION** and **NSX-V CONFIGURATION** blank.

  <p class="note warning"><strong>Warning:</strong> To avoid workload downtime, use the resource configuration recommended in 
  <a href="understanding-upgrades.html">About <%= vars.product_short %> Upgrades</a> 
  and <a href="maintain-uptime.html">Maintaining Workload Uptime</a>.
  </p>

## <a id='apply-changes'></a> Step 3: Apply Changes

<%= partial 'apply-changes' %>

## <a id='next-install-step'></a> Next Installation Step

To configure the <%= vars.control_plane %> load balancer, follow the instructions in [Configure <%= vars.control_plane %> Load Balancer](vsphere-configure-api.html).
