---
title: Installing the TKGI CLI
owner: TKGI
---

This topic describes how to install the <%= vars.product_full %> Command Line Interface 
(<%= vars.k8s_runtime_abbr %> CLI).

For information on the <%= vars.k8s_runtime_abbr %> CLI, see [<%= vars.k8s_runtime_abbr %> CLI](cli/index.html).  

## <a id="install"></a>Install the <%= vars.k8s_runtime_abbr %> CLI

To install the <%= vars.k8s_runtime_abbr %> CLI, follow the procedures for your operating system to download the <%= vars.k8s_runtime_abbr %> CLI from [VMware Tanzu Network](https://network.pivotal.io/products/pivotal-container-service). Binaries are only provided for 64-bit architectures.

###<a id='mac'></a> Mac OS X
<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong><%= vars.product_tile %></strong>.</li>
<li>Select your desired release version from the <strong>Releases</strong> dropdown.
<li>Click <strong><%= vars.k8s_runtime_abbr %> CLI</strong>.</li>
<li>Click <strong><%= vars.k8s_runtime_abbr %> CLI - Mac</strong> to download the Mac OS X binary.</li>
<li>Rename the downloaded binary file to <code>tkgi</code>.</li>
<li>On the command line, run the following command to make the <%= vars.k8s_runtime_abbr %> CLI binary executable:
  <pre class="terminal">$ chmod +x tkgi</pre></li>
<li>Move the binary file into your <code>PATH</code>.</li>
<li>Run <code>tkgi --version</code> to verify the version of your <%= vars.k8s_runtime_abbr %> CLI installed locally.</li>
</ol>

###<a id='linux'></a> Linux
<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong><%= vars.product_tile %></strong>.</li>
<li>Select your desired release version from the <strong>Releases</strong> dropdown.
<li>Click <strong><%= vars.k8s_runtime_abbr %> CLI</strong>.</li>
<li>Click <strong><%= vars.k8s_runtime_abbr %> CLI - Linux</strong> to download the Linux binary.</li>
<li>Rename the downloaded binary file to <code>tkgi</code>.</li>
<li>On the command line, run the following command to make the <%= vars.k8s_runtime_abbr %> CLI binary executable:
  <pre class="terminal">$ chmod +x tkgi</pre></li>
<li>Move the binary file into your <code>PATH</code>.</li>
<li>Run <code>tkgi --version</code> to verify the version of your <%= vars.k8s_runtime_abbr %> CLI installed locally.</li>
</ol>

###<a id='windows'></a> Windows
<ol><li>Navigate to <a href="https://network.pivotal.io/">VMware Tanzu Network</a> and log in.</li>
<li>Click <strong><%= vars.product_tile %></strong>.</li>
<li>Select your desired release version from the <strong>Releases</strong> dropdown.
<li>Click <strong><%= vars.k8s_runtime_abbr %> CLI</strong>.</li>
<li>Click <strong><%= vars.k8s_runtime_abbr %> CLI - Windows</strong> to download the Windows executable file.</li>
<li>Rename the downloaded binary file to <code>tkgi.exe</code>.</li>
<li>Move the binary file into your <code>PATH</code>.</li>
<li>Run <code>tkgi --version</code> to verify the version of your <%= vars.k8s_runtime_abbr %> CLI installed locally.</li>
</ol>
