---
title: Installing Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topics below describe how to install and configure <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>).  


<br>
<br>
## <a id='overview'></a>Overview

You can install <%= vars.k8s_runtime_abbr %> manually as a <%= vars.ops_manager_full %> (<%= vars.ops_manager %>) tile or use the <%= vars.product_short %> Management Console which provides a graphical user interface to assist with 
configuring and deploying <%= vars.k8s_runtime_abbr %> to vSphere.  
 
To install and configure <%= vars.k8s_runtime_abbr %>:  

* [<%= vars.product_short %> Management Console (vSphere Only)](#install-mc)  
* [<%= vars.k8s_runtime_full %> on <%= vars.ops_manager %>](#install-manual)  

<br>
<br>
## <a id='install-mc'></a><%= vars.k8s_runtime_abbr %> Management Console (vSphere Only)

See the following documentation for the <%= vars.k8s_runtime_abbr %> Management Console, which is the recommended method for installing <%= vars.k8s_runtime_abbr %> on vSphere:

* [Install Tanzu Kubernetes Grid Integrated Edition on vSphere with the Management Console](./console-install-vsphere.html)

For more information, see [When Should I Use <%= vars.product_short %> Management Console?](./vsphere-index.html#when-to-use-console).

<br>
<br>
## <a id='install-manual'></a><%= vars.k8s_runtime_abbr %> on <%= vars.ops_manager %>

To manually install <%= vars.k8s_runtime_abbr %> on <%= vars.ops_manager %>:

<ul>
  <li>
    <a href="vsphere-flannel.html">vSphere (Antrea and Flannel Networking)</a>
  </li>
  <li>
    <a href="vsphere-nsxt-index.html">vSphere (NSX-T Networking)</a>
  </li>
  <li>
    <a href="gcp-index.html">Google Cloud Platform (Antrea and Flannel Networking)</a>
  </li>
  <li>
    <a href="aws-index.html">Amazon Web Services (Antrea and Flannel Networking)</a>
  </li>
  <li>
    <a href="azure-index.html">Azure (Antrea and Flannel Networking)</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> <%= vars.product_short %> supports air-gapped deployments on vSphere with Antrea or Flannel Networking or with NSX-T integration.</p>
