---
title: Installing Enterprise PKS on vSphere
owner: PKS
iaas: vSphere
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %> on vSphere with Flannel.  

##<a id='prerequisites'></a>Prerequisites

Before performing the procedures in this topic, you must have deployed and configured Ops Manager.
For more information, see [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).

<%= partial 'prerequisites' %>

##<a id='install'></a> Step 1: Install <%= vars.product_short %>

<%= partial 'install-pks' %>

##<a id='configure'></a> Step 2: Configure <%= vars.product_short %>

Click the orange **<%= vars.product_tile %>** tile to start the configuration process.

![PKS tile on the Ops Manager installation dashboard](images/pks-tile-orange.png)

  <p class="note warning"><strong>WARNING</strong>: When you configure the <%= vars.product_tile %> tile,
  do not use spaces in any field entries. This includes spaces between characters as well as
  leading and trailing spaces. If you use a space in any field entry, the deployment of <%= vars.product_short %> fails.</p>

###<a id='azs-networks'></a> Assign AZs and Networks

<%= partial 'azs-networks' %>

###<a id='pks-api'></a> PKS API

<%= partial 'pks-api' %>

###<a id='plans'></a> Plans

<%= partial 'plans' %>

###<a id='cloud-provider'></a> Kubernetes Cloud Provider

<%= partial 'cloud-provider' %>

###<a id='syslog'></a> (Optional) Logging

<%= partial 'logging' %>

###<a id='networking'></a> Networking

<%= partial 'networking-vsphere' %>

###<a id='uaa'></a> UAA

<%= partial 'uaa' %>

###<a id='monitoring'></a> (Optional) Monitoring

<%= partial 'monitoring' %>

###<a id='telemetry'></a> CEIP and Telemetry

<%= partial 'usage-data' %>

###<a id='errands'></a> Errands

<%= partial 'errands' %>

###<a id='resource-config'></a> (Optional) Resource Config


To modify the resource usage of <%= vars.product_short %> and specify your PKS API load balancer, follow the steps below:

1. Select **Resource Config**.
    ![Resource pane configuration](images/resources-vsphere.png)
1. (Optional) Edit other resources used by the **PKS API** job.
The **PKS API** job requires a VM with the following minimum
resources:  
  <table>
    <tr>
      <th>CPU</th>
      <th>Memory</th>
      <th>Disk</th>
    </tr>
    <tr>
      <td>2</td>
      <td>8&nbsp;GB</td>
      <td>29&nbsp;GB</td>
    </tr>
  </table>
    <p class="note"><strong>Note</strong>: The automatic <b>VM Type</b> value matches the minimum recommended size for the <b>Pivotal Container Service</b> job. If you experience timeouts or slowness when interacting with the PKS API, select a <strong>VM Type</strong> with greater CPU and memory resources.</p>
1. (Optional) In the **Load Balancers** column, enter the name of your PKS API load balancer.  
    <%= partial 'lb-resource-config' %>
1. (Optional) If you do not use a NAT instance, select **Internet Connected** to allow component instances direct access to the internet.  

## <a id='apply-changes'></a> Step 3: Apply Changes

<%= partial 'apply-changes' %>

## <a id='next-install-step'></a> Next Installation Step

To configure the PKS API load balancer, follow the instructions in [Configure PKS API Load Balancer](vsphere-configure-pks-api.html).
