---
title: Installing Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

## <%= vars.product_short %> Management Console (vSphere Only)

See the following documentation for the <%= vars.k8s_runtime %> Management Console, which is the recommended method for installing <%= vars.product_short %> on vSphere:

* [Install Tanzu Kubernetes Grid Integrated Edition on vSphere with the Management Console](./console-install-vsphere.html)

For more information, see [When Should I Use <%= vars.product_short %> Management Console?](./vsphere-index.html#when-to-use-console).

## <%= vars.k8s_runtime_full %> on <%= vars.platform_name %>

See the following documentation for how to manually install <%= vars.k8s_runtime_full %>, using Ops Manager, on <%= vars.platform_name %>:

<ul>
  <li>
    <a href="vsphere-flannel.html">vSphere with Flannel</a>
  </li>
  <li>
    <a href="vsphere-nsxt-index.html">vSphere with NSX-T</a>
  </li>
  <li>
    <a href="gcp-index.html">Google Cloud Platform</a>
  </li>
  <li>
    <a href="aws-index.html">Amazon Web Services</a>
  </li>
  <li>
    <a href="azure-index.html">Azure</a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> <%= vars.product_short %> supports air-gapped deployments on vSphere with or without NSX-T integration.</p>
