---
title: Installing the PKS CLI
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to install the <%= vars.product_full %> Command Line Interface (PKS CLI).

To install the PKS CLI, follow the procedures for your operating system to download the PKS CLI from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service). Binaries are only provided for 64-bit architectures.

##<a id='mac'></a> Mac OS X
<ol><li>Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.</li>
<li>Click <strong><%= vars.product_tile %></strong>.</li>
<li>Select your desired release version from the <strong>Releases</strong> dropdown.
<li>Click <strong>PKS CLI</strong>.</li>
<li>Click <strong>PKS CLI - Mac</strong> to download the Mac OS X binary.</li>
<li>Rename the downloaded binary file to <code>pks</code>.</li>
<li>On the command line, run the following command to make the PKS CLI binary executable:
  <pre class="terminal">$ chmod +x pks</pre></li>
<li>Move the binary file into your <code>PATH</code>.</li>
</ol>

##<a id='linux'></a> Linux
<ol><li>Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.</li>
<li>Click <strong><%= vars.product_tile %></strong>.</li>
<li>Select your desired release version from the <strong>Releases</strong> dropdown.
<li>Click <strong>PKS CLI</strong>.</li>
<li>Click <strong>PKS CLI - Linux</strong> to download the Linux binary.</li>
<li>Rename the downloaded binary file to <code>pks</code>.</li>
<li>On the command line, run the following command to make the PKS CLI binary executable:
  <pre class="terminal">$ chmod +x pks</pre></li>
<li>Move the binary file into your <code>PATH</code>.</li>
</ol>

##<a id='windows'></a> Windows
<ol><li>Navigate to <a href="https://network.pivotal.io/">Pivotal Network</a> and log in.</li>
<li>Click <strong><%= vars.product_tile %></strong>.</li>
<li>Select your desired release version from the <strong>Releases</strong> dropdown.
<li>Click <strong>PKS CLI</strong>.</li>
<li>Click <strong>PKS CLI - Windows</strong> to download the Windows executable file.</li>
<li>Rename the downloaded binary file to <code>pks.exe</code>.</li>
<li>Move the binary file into your <code>PATH</code>.</li>
</ol>
