---
title: Using Kubernetes Profiles
owner: TKGI
---

This topic describes how to create and use Kubernetes profiles 
for <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) provisioned Kubernetes clusters. 


<br>
<br>
## <a id="overview"></a> Overview

Kubernetes profiles enable <%= vars.k8s_runtime_abbr %> cluster administrators and cluster managers to customize Kubernetes component settings for their <%= vars.k8s_runtime_abbr %>-provisioned Kubernetes clusters.  

You can use a <%= vars.k8s_runtime_abbr %> Kubernetes profile to configure Kubernetes components, such as `kube-apiserver` on the control plane or the `kubelet` on each node. Uses for Kubernetes profiles include encrypting secrets in an etcd database, adding an OIDC provider, and using a `ResourceQuota` admission control plugin. For more information about supported configurations, see [<%= vars.k8s_runtime_abbr %> Kubernetes Profile Use Cases](#use-cases) below.  

To create a <%= vars.k8s_runtime_abbr %> Kubernetes profile:  

* [Create a <%= vars.k8s_runtime_abbr %> Kubernetes Profile](#create)  

To manage Kubernetes profiles:  

* [Manage <%= vars.k8s_runtime_abbr %> Kubernetes Profiles](#manage)  

To use a Kubernetes profile:  

* [Use a <%= vars.k8s_runtime_abbr %> Kubernetes Profile](#use-k8s-profiles)  

Only <%= vars.k8s_runtime_abbr %> cluster administrators and <%= vars.k8s_runtime_abbr %> cluster managers can work with Kubernetes profiles:  

* A cluster administrator defines a Kubernetes profile using a JSON configuration file and uses the <%= vars.k8s_runtime_abbr %> CLI to create the Kubernetes profile from the definition.  
* A cluster manager applies existing Kubernetes profiles to their clusters.  

For information about the permissions required to create or use a Kubernetes profile, see [Who Creates and Manages <%= vars.k8s_runtime_abbr %> Kubernetes Profiles](#who) below.  



<br>
### <a id="who"></a> Who Creates and Manages <%= vars.k8s_runtime_abbr %> Kubernetes Profiles

To create and use a Kubernetes profile, you must have the either the `pks.clusters.admin` or `pks.clusters.manage` role.  

If a user with the `pks.clusters.admin-read-only` role attempts to create a Kubernetes profile, they see the following error:

```
You do not have enough privileges to perform this action. Please contact the <%= vars.k8s_runtime_abbr %> administrator.
```


<br>
### <a id="alias"></a> "k8s" to "kubernetes" Alias in <%= vars.k8s_runtime_abbr %> CLI

In the <%= vars.k8s_runtime_abbr %> CLI, all commands that include `k8s-profile` are aliased to also use `kubernetes-profile`.
For example, the `tkgi k8s-profiles` and `tkgi kubernetes-profiles` commands are equivalent.

For brevity, this documentation uses the `k8s-` versions.

<br>
<br>
## <a id="create"></a> Create a <%= vars.k8s_runtime_abbr %> Kubernetes Profile

To create a <%= vars.k8s_runtime_abbr %> Kubernetes profile:

1. Create a JSON-formatted Kubernetes profile. For information on the supported Kubernetes profile format, see [<%= vars.k8s_runtime_abbr %> Kubernetes Profile Format](#format) below.

1. Use the <%= vars.k8s_runtime_abbr %> CLI to define the Kubernetes profile within <%= vars.k8s_runtime_abbr %>. For information on creating the Kubernetes profile, see [The `tkgi create-k8s-profile` Command](#run-create), below.

<br>
### <a id="format"></a> <%= vars.k8s_runtime_abbr %> Kubernetes Profile Format

To create a Kubernetes profile, you must first define the profile configuration using a JSON-formatted file that specifies Kubernetes parameters. For information on the supported configurations, see [<%= vars.k8s_runtime_abbr %> Kubernetes Profile Parameters](#params) below.

The basic structure of a Kubernetes profile:  

```
{  
    "name": "PROFILE-NAME",  
    "description": "PROFILE-DESCRIPTION",  
    "customizations": [  
        {  
            "component": "K8-COMPONENT-NAME",  
            "arguments": {  
                "KEY": "VALUE"  
            }  
        }  
    ],  
    "experimental_customizations": [  
        {  
            "component": "K8-COMPONENT-NAME",  
            "arguments": {  
                "KEY": "VALUE"  
            }  
        }  
    ]  
}  
```

Where:  

* `PROFILE-NAME` is your name for the Kubernetes profile.  
* `PROFILE-DESCRIPTION` is a short description of the profile.  
* `K8-COMPONENT-NAME` is the name of the Kubernetes component to customize. For example, `kube-apiserver` or `kubelet`.  
* `KEY` is a supported Kubernetes component parameter. For example, `service-node-port-range`, `maximum-dead-containers`, or `feature-gates`.  
* `VALUE` is a value for the parameter. For example, `APIListChunking=true,AttachVolumeLimit=false`.  



<br>
### <a id="params"></a> <%= vars.k8s_runtime_abbr %> Kubernetes Profile Parameters

The Kubernetes profile JSON can include the following parameters:

<table id='params' border="1" class="nice" >
  <tr>
    <th width="30%">Parameter</th>
    <th width="10%">Type</th>
    <th width="60%">Description</th>
  </tr><tr>
    <td><code>name</code><sup>&#42;</sup></td>
    <td>String</td>
    <td>Name of the Kubernetes profile.</td>
  </tr><tr>
    <td><code>description</code></td>
    <td>String</td>
    <td>Description of the Kubernetes profile.</td>
  </tr><tr>
    <td><code>customizations</code><sup>&#42;</sup></td>
    <td>Map</td>
    <td>A block that defines supported, validated<br>
		K8s options using the <code>component</code>, <code>arguments</code>,<br>
		and <code>file-arguments</code> parameters below.</td>
  </tr><tr>
    <td><code>experimental_<br>
		customizations</code></td>
    <td>Map</td>
    <td>A block that defines unsupported, unvalidated<br>
		K8s options using the <code>component</code>, <code>arguments</code>,<br>
		and <code>file-arguments</code> parameters below.</td>
  </tr><tr>
    <td><code>component</code><sup>&#42;</sup></td>
    <td>String</td>
    <td>The name of a K8s component, <br>
		e.g. <code>kubelet</code>, <code>kube-apiserver</code>.</td>
  </tr><tr>
    <td><code>arguments</code><sup>&#42;</sup></td>
    <td>Map</td>
    <td>Parameters for each component, as one or more Key:Value pairs.<br>Multiple values must be separated by commas, without spaces.</td>
  </tr><tr>
    <td><code>file-arguments</code><sup>&#42;</sup></td>
    <td>Map</td>
    <td>Parameters whose values are stored as files<br>
		on the local machine.</td>
  </tr>
</table>

<sup>&#42;</sup>Parameters marked with an `*` are mandatory.

<p class="note"><strong>Note:</strong> If you specify the same parameter in both <code>customizations</code> and <code>experimental_customizations</code>, the configuration in <code>customizations</code> takes precedence.</p>

<br>
### <a id="run-create"></a> The `tkgi create-k8s-profile` Command

After you have defined a Kubernetes profile configuration in a JSON file you can create the Kubernetes profile in <%= vars.k8s_runtime_abbr %>.  

You must be either a <%= vars.k8s_runtime_abbr %> cluster administrator or cluster manager to create a Kubernetes profile in <%= vars.k8s_runtime_abbr %>.  

To create a Kubernetes profile in <%= vars.k8s_runtime_abbr %>, run the following <%= vars.k8s_runtime_abbr %> CLI command:  

```
tkgi create-k8s-profile CONFIGURATION-FILE
``` 

Where `CONFIGURATION-FILE` is the path to a JSON configuration file
defining your Kubernetes profile. For information on the required JSON file format, see [Kubernetes Profile Format](#format) above.  

For example:

```console
cat profile3-docs.json  
{  
    "name": "my-profile3",  
    "description": "My profile description",  
    "customizations": [  
        {  
            "component": "kube-apiserver",  
            "arguments": {  
                "service-node-port-range": "30000-40000"  
            }  
        }  
    ],  
    "experimental_customizations": [  
        {  
            "component": "kubelet",  
            "arguments": {  
                "maximum-dead-containers": "1000",  
                "feature-gates": "APIListChunking=true,AttachVolumeLimit=false"  
            }  
        }  
    ]  
}  
user ~/workspace: ./tkgi create-k8s-profile k8s-profile3.json  
Kubernetes profile my-profile3 successfully created  
```

<br>
<br>
## <a id="manage"></a> Manage <%= vars.k8s_runtime_abbr %> Kubernetes Profiles

<%= vars.product_short %> cluster administrators and managers can perform the following operations on Kubernetes profiles and the clusters that use them:  

* [List <%= vars.k8s_runtime_abbr %> Kubernetes Profiles](#list)  
* [Delete a <%= vars.k8s_runtime_abbr %> Kubernetes Profile](#delete)  
* [View <%= vars.k8s_runtime_abbr %> Kubernetes Profile Details](#view)  


<br>
### <a id="list"></a> List <%= vars.k8s_runtime_abbr %> Kubernetes Profiles

To list available Kubernetes profiles, run the following command:

```
tkgi k8s-profiles
```

For example:

```console
$ tkgi k8s-profiles  
K8s-profile        Owner     Created Date  
Basic-k8s-profile  Alana     Tue, 05 Nov 2019 16:28:15 PST  
```

The command output differs by user role:  
- `pks.cluster.admin` see a list of Kubernetes profiles that all users created.  
- `pks.cluster.manage` see a list of only the Kubernetes profiles that they created.  

<br>
### <a id="delete"></a> Delete a <%= vars.k8s_runtime_abbr %> Kubernetes Profile

To delete a Kubernetes profile, run the following command:

```
tkgi delete-k8s-profile KUBERNETES-PROFILE-NAME
```

Where `KUBERNETES-PROFILE-NAME` is the name of the Kubernetes profile you want to delete.

For example:

```console
$ user ~/workspace: ./tkgi delete-k8s-profile my-profile3  
Are you sure you want to delete the Kubernetes profile my-profile3? (y/n): y  
Deletion of my-profile3 completed  
```

<p class="note"><strong>Note:</strong> You cannot delete a Kubernetes profile that is in use.
Before deleting a Kubernetes profile, you must disassociate it from all clusters or delete all clusters it is associated with.</p>

Both `pks.clusters.admin` and `pks.clusters.manage` users can
delete Kubernetes profiles. 
If a `pks.clusters.admin-read-only` user attempts to delete
a Kubernetes profile, they see the following error:

```
You do not have enough privileges to perform this action. Please contact the <%= vars.k8s_runtime_abbr %> administrator.
```

<br>
### <a id="view"></a> View <%= vars.k8s_runtime_abbr %> Kubernetes Profile Details

To view details of a <%= vars.k8s_runtime_abbr %> Kubernetes profile, run the following command:

```
tkgi k8s-profile KUBERNETES-PROFILE-NAME
```

Where `KUBERNETES-PROFILE-NAME` is the name of the Kubernetes profile you want to view.

For example:

```console
tkgi k8s-profile Basic-k8s-profile  
Name:                    Basic-k8s-profile  
Owner:                   Alana  
Created Date             Tue, 05 Nov 2019 16:28:15 PST  
Description:             Kubernetes profile for customer A  
….  
<KEY> :                  <VALUE>  
```

* Users with the `pks.cluster.admin` can view the details of any Kubernetes profile; users with the `pks.cluster.manage` role can view details of Kubernetes profiles that they created.
* Once you create or update a cluster with an encryption profile, you cannot assign any other Kubernetes profiles to that cluster.
Because decryption is not straightforward, applying another profile can have nondeterministic outcome.


<br>
<br>
## <a id='use-k8s-profiles'></a> Use a <%= vars.k8s_runtime_abbr %> Kubernetes Profile

Kubernetes profiles let you customize Kubernetes configuration parameters at the time of cluster creation. You can also assign a custom Kubernetes configuration to an existing cluster.  

For information on how to assign a Kubernetes Profile to a cluster:  

* [Create a <%= vars.k8s_runtime_abbr %> Cluster with a Kubernetes Profile](#new-cluster)  
* [Assign a Kubernetes Profile to an Existing <%= vars.k8s_runtime_abbr %> Cluster](#update)  

For information on the supported scenarios for using Kubernetes Profiles:  

* [Validated vs Experimental Customizations](#validated)  
* [Kubernetes Profile Use Cases](#use-cases)  
<% if vars.product_version == "COMMENTED"  %>
* [Admission Control: ResourceQuota](#admission-quota)  
* [Set Service Node Port Range](#port-range)  
* [Restrict Request Header Names](#request-allowed)  
* [Modify the Service Cluster IP Range](#extend-service-ip-range)  
<% end %>


<br>
### <a id='new-cluster'></a> Create a <%= vars.k8s_runtime_abbr %> Cluster with a Kubernetes Profile

You can assign a Kubernetes profile to a Kubernetes cluster at the time of cluster creation.

To create an <%= vars.product_short %>-provisioned Kubernetes cluster with a Kubernetes profile, run the following command:

```
tkgi create-cluster CLUSTER-NAME --external-hostname HOSTNAME --plan PLAN-NAME --kubernetes-profile KUBERNETES-PROFILE-NAME
```

Where:

* `CLUSTER-NAME` is a unique name for your cluster.
    <p class="note"><strong>Note</strong>: Use only lowercase characters when naming your cluster 
    if you manage your clusters with Tanzu Mission Control (TMC). Clusters with names that include an uppercase character cannot be attached to TMC.
    </p>
* `HOSTNAME` is your external hostname used for accessing the Kubernetes API.
* `PLAN-NAME` is the name of the <%= vars.product_short %> plan you want to use for your cluster.
* `KUBERNETES-PROFILE-NAME` is the name of the Kubernetes profile you want to use for your cluster.

<br>
### <a id="update"></a> Assign a Kubernetes Profile to an Existing <%= vars.k8s_runtime_abbr %> Cluster

<%= vars.k8s_runtime_abbr %> supports changing the Kubernetes profile for an already created cluster.
You can use this procedure to:

- assign a Kubernetes profile to a cluster that does not have one, or
- change a cluster's existing profile to a new one

<p class="note warning"><strong>WARNING</strong>: Update the Kubernetes profile only on a <%= vars.k8s_runtime_abbr %> cluster that has been upgraded to the current <%= vars.k8s_runtime_abbr %> version. For more information, see <a href="understanding-upgrades.html#control-plane-upgrades-supported-tasks">Tasks Supported Following a <%= vars.k8s_runtime_abbr %> Control Plane Upgrade</a> in <em>About <%= vars.product_short %> Upgrades</em>.
</p>

This is the procedure to change a cluster's Kubernetes profile:

1. Do one of the following
	- Choose a new Kubernetes profile for the cluster.
	See [List Kubernetes profiles](#list).
	- Define and create a new Kubernetes profile as described in [Create a Kubernetes Profile](#create). 
  		- The name of the new Kubernetes profile must be unique and different from the previously assigned Kubernetes profile.

1. If you are updating a cluster that uses a public cloud CSI driver, 
see [Limitations on Using a Public Cloud CSI Driver](release-notes.html#1-16-0-csi-driver-limits-public-cloud)
in _Release Notes_ for additional requirements.  

1. Run the following command to update the cluster with the new Kubernetes profile:  

    ```
    tkgi update-cluster CLUSTER-NAME --kubernetes-profile NEW-KUBERNETES-PROFILE-NAME
    ```

    Where:  

    * `CLUSTER-NAME` is the name of the existing Kubernetes cluster.  
    * `NEW-KUBERNETES-PROFILE-NAME` is the name of the new Kubernetes profile you want to apply to the cluster.  


<br>
### <a id="validated"></a> Validated vs Experimental Customizations

A Kubernetes profile configures settings for Kubernetes components in two JSON code blocks,  `customizations` and `experimental_customizations`.
See [Kubernetes Profile Format](#format) for details.
The code blocks differ as follows:

* `customizations` block:  
  - <%= vars.k8s_runtime_abbr %> checks the validity of configurations in this block.
	If you run `tkgi create-k8s-profile` on a profile with invalid configurations in `customizations`, the command returns an error.  
	- The <%= vars.k8s_runtime_abbr %> team supports clusters configured with tested, validated parameters in this block.  

* `experimental_customizations` block:  
    <p class="note warning"><strong>Warning:</strong> Experimental customizations are not validated or supported.</p>
  - <%= vars.k8s_runtime_abbr %> imposes no restrictions on the contents of this block.  
	- Configurations in this block are neither tested nor supported.  
  - If a customer wants to use an unsupported configuration, contact the <%= vars.k8s_runtime_abbr %> team with the parameters that they want tested, validated, and supported.  
  
<br>    
### <a id='use-cases'></a> <%= vars.k8s_runtime_abbr %> Kubernetes Profile Use Cases

Kubernetes profiles let you customize the Kubernetes configuration parameters on a cluster.  

Use cases for Kubernetes profiles include:

<%= partial 'k8s-profiles-uses' %>
