---
title: Managing Tanzu Kubernetes Grid Integrated Edition Users with UAA
owner: TKGI
---

This topic describes how to manage users in <%= vars.product_full %> 
with User Account and Authentication (UAA).

## <a id='overview'></a> Overview

UAA is the identity management service for <%= vars.product_short %>. 
<%= vars.product_short %> includes a UAA server, which is hosted on the <%= vars.control_plane %> VM.

To interact with the UAA server, you can use the UAA Command Line Interface (UAAC).
You can either run UAAC commands from the Ops Manager VM or install UAAC on your local workstation.

### <a id='tkgi-uaa-scope'></a> UAA Scopes for <%= vars.product_short %> Users

<%= partial 'uaa-scopes' %>

For more information about UAA scopes in <%= vars.product_short %>, see
[UAA Scopes](uaa-scopes.html#uaa-scopes).

##<a id='prerequisites'></a> Prerequisites

Before managing users for <%= vars.product_short %>, you must connect to the <%= vars.control_plane %> VM.
To connect to the <%= vars.control_plane %> VM, you need one of the following:

* SSH access to the Ops Manager VM
* A machine that can connect to your <%= vars.control_plane %> VM

For instructions on how to connect to the <%= vars.k8s_runtime_abbr %> control plane,
see [Connect to the <%= vars.control_plane %> VM](vsphere-configure-users.html#connect) for your IaaS.

##<a id='uaa-admin-login'></a> Log In as a UAA Admin

<%= partial 'uaa-admin-login' %>

##<a id='uaa-user'></a> Grant <%= vars.product_short %> Access to an Individual User

To create a new UAA user with <%= vars.product_short %> access, do the following:

1. If you are not logged in as the UAA admin, perform the steps in [Log In as a UAA Admin](#uaa-admin-login).

1. Create a new user by running the following command:

    ```
    uaac user add USERNAME --emails USER-EMAIL -p USER-PASSWORD
    ```

    For example:<pre class="terminal">$ uaac user add cody --emails cody&#64;example.com -p password</pre>
    
    <p class="note"><strong>Note:</strong> If your operator has configured <%= vars.product_short %> to use a SAML identity provider,
    you must add <code>--origin SAML-ORIGIN</code> to the above command.<code>SAML-ORIGIN</code> is the domain name for your SAML identity provider. To find <code>SAML-ORIGIN</code>, click on the <%= vars.k8s_runtime_abbr %> tile, select <strong>Settings</strong> > <strong>UAA</strong> > <strong>SAML</strong>, and locate the <code>Provider Name</code>. For information about configuring SAML,
    see <a href="configuring-saml.html">Connecting <%= vars.product_short %> to a SAML Identity Provider</a>.</p> 

1. Assign a <%= vars.k8s_runtime_abbr %> cluster scope to the new user by running the following command:

    ```
    uaac member add UAA-SCOPE USERNAME
    ```
    Where:
    * `UAA-SCOPE` is one of the UAA scopes described in [UAA Scopes for <%= vars.product_short %> Users](#tkgi-uaa-scope).
    * `USERNAME` is the user that you created in the previous step.

    For example:
    <pre class="terminal">$ uaac member add pks.clusters.admin cody</pre>

After you assign this scope, the user can create and manage Kubernetes clusters. For more information, see [Managing Kubernetes Clusters and Workloads](managing-clusters.html).

##<a id='external-group'></a> Grant <%= vars.product_short %> Access to an External Group

Connecting <%= vars.product_short %> to an external LDAP or SAML user store enables the UAA server to delegate authentication to existing enterprise user stores.

<p class='note'><strong>Note:</strong> When integrating UAA with an external identity provider, authentication within UAA becomes chained. UAA first attempts to authenticate with
user credentials against the UAA user store before the external identity provider. For more
information about integrating LDAP, see <a href="https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-LDAP.md#chained-authentication">Chained Authentication</a> in the <em>User Account and Authentication LDAP Integration</em> GitHub documentation.
</p>

For more information about the process used by the UAA server when it attempts to authenticate a
user through LDAP, see the [Configuring LDAP Integration with Pivotal Cloud Foundry](https://community.pivotal.io/s/article/Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry) Knowledge Base article.

To grant <%= vars.product_short %> access to an external identity provider group, do one the following procedures:

+ [Grant <%= vars.product_short %> Access to an External LDAP Group](#ldap)
+ [Grant <%= vars.product_short %> Access to an External SAML Group](#saml)

###<a id='ldap'></a> Grant <%= vars.product_short %> Access to an External LDAP Group

To grant <%= vars.product_short %> access to an external LDAP group, do the following:

1. If you are not logged in as the UAA admin, do the steps in [Log In as a UAA Admin](#uaa-admin-login).

1. Assign a <%= vars.k8s_runtime_abbr %> cluster scope to all users in an LDAP group by running the following command:

    ```
    uaac group map --name UAA-SCOPE GROUP-DISTINGUISHED-NAME
    ```
    Where:
    * `UAA-SCOPE` is one of the UAA scopes described in [UAA Scopes for <%= vars.product_short %> Users](#tkgi-uaa-scope).
    * `GROUP-DISTINGUISHED-NAME` is the LDAP Distinguished Name (DN) for the group.
    
    For example:
    <pre class="terminal">$ uaac group map --name pks.clusters.manage cn=operators,ou=groups,dc=example,dc=com</pre>
    
    For more information about LDAP DNs, see the [LDAP DNs and RDNs](https://ldap.com/ldap-dns-and-rdns/) in the LDAP documentation.

###<a id='saml'></a> Grant <%= vars.product_short %> Access to an External SAML Group

To grant <%= vars.product_short %> access to an external SAML group, do the following:

1. If you are not logged in as the UAA admin, do the steps in [Log In as a UAA Admin](#uaa-admin-login).

1. Assign a <%= vars.k8s_runtime_abbr %> cluster scope to all users in a SAML group by running the following command:

    ```
    uaac group map --name UAA-SCOPE SAML-GROUP --origin SAML-ORIGIN
    ```
    Where:
    * `UAA-SCOPE` is one of the UAA scopes described in [UAA Scopes for <%= vars.product_short %> Users](#tkgi-uaa-scope).
    * `SAML-GROUP` is name of your SAML identity provider group.
    * `SAML-ORIGIN` is the domain name for your SAML identity provider. To find `SAML-ORIGIN`, click on the <%= vars.k8s_runtime_abbr %> tile, select **Settings** > **UAA** > **SAML**, and locate the `Provider Name`.

    For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.manage tkgi-devs --origin my-sso.example.com
    </pre>

##<a id='uaa-client'></a>Grant <%= vars.product_short %> Access to a Client

To grant <%= vars.product_short %> access to a client for a script or service automation, do the following:

1. If you are not logged in as the UAA admin, perform the steps in [Log In as a UAA Admin](#uaa-admin-login).

1. Create a client with the desired scopes by running the following command:

    ```
    uaac client add CLIENT-NAME -s CLIENT-SECRET \
    --authorized_grant_types client_credentials \
    --authorities UAA-SCOPES
    ```
    Where:
    * `CLIENT-NAME` and `CLIENT-SECRET` are the client credentials.
    * `UAA-SCOPES` is one or more of the UAA scopes described in [UAA Scopes for <%= vars.product_short %> Users](#tkgi-uaa-scope), separated by a comma. For example:
    <pre class="terminal">
    $ uaac client add automated-client \
    -s randomly-generated-secret
    --authorized_grant_types client_credentials  \
    --authorities pks.clusters.admin,pks.clusters.manage
    </pre>
