---
title: Managing Enterprise PKS Admin Users with UAA
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to manage admin users in <%= vars.product_full %> 
with User Account and Authentication (UAA).

## <a id='overview'></a> Overview

UAA is the identity management service for Pivotal Cloud Foundry. 
<%= vars.product_short %> includes a UAA server, which is hosted on the PKS control plane VM.

To interact with the UAA server, you can use the UAA Command Line Interface (UAAC).
You can either run UAAC commands from the Ops Manager VM or install UAAC on your local workstation.

### <a id='pks-uaa-scope'></a> UAA Scopes for <%= vars.product_short %> Users

<%= partial 'pks-uaa-scopes' %>

## <a id='prerequisites'></a> Prerequisites

Before managing admin users for <%= vars.product_short %>, you must have one of the following:

* SSH access to the Ops Manager VM, or
* A machine that can connect to your PKS control plane VM.

For information on how to SSH into the Ops Manager VM for your IaaS, see 

##<a id='uaa-admin'> Log in as UAA Admin

<%= partial 'uaa-admin-login' %>

##<a id='uaa-user'></a> Grant <%= vars.product_short %> Access to An Individual User

To create a new UAA user with <%= vars.product_short %> access, do the following:

1. If you are not logged in as the UAA admin, follow the steps in [Log in as a UAA Admin](#uaa-admin-login).

1. To create a new user, run the following command:

    ```
    uaac user add USERNAME --emails USER-EMAIL -p USER-PASSWORD
    ```

    For example:
    <pre class="terminal">$ uaac user add cody --emails cody&#64;example.com -p password</pre>

1. To assign a PKS cluster scope to the new user, run the following command:

    ```
    uaac member add UAA-SCOPE USERNAME
    ```
    Where:
    * `UAA-SCOPE` is one of the UAA scopes defined in [Grant <%= vars.product_short %> Access](#pks-access).
    * `USERNAME` is the user that you created in the previous step.

    For example:
    <pre class="terminal">$ uaac member add pks.clusters.admin cody</pre>

After you assign this scope, the user can create and manage Kubernetes clusters. For more information, see [Managing Clusters](managing-clusters.html).

###<a id='external-group'></a> Grant <%= vars.product_short %> Access to an External LDAP Group

Connecting <%= vars.product_short %> to an LDAP external user store allows the User Account and Authentication (UAA) server to delegate authentication to existing enterprise user stores.

<p class='note'><strong>Note</strong>: When integrating with an external identity provider such as
LDAP, authentication within the UAA becomes chained. UAA first attempts to authenticate with a
user's credentials against the UAA user store before the external provider, LDAP. For more
information, see <a href="https://github.com/cloudfoundry/uaa/blob/master/docs/UAA-LDAP.md#chained-authentication">Chained Authentication</a> in the <em>User Account and Authentication LDAP Integration</em> GitHub documentation.
</p>

For more information about the process used by the UAA Server when it attempts to authenticate a
user through LDAP, see the [Configuring LDAP Integration with Pivotal Cloud Foundry](https://community.pivotal.io/s/article/Configuring-LDAP-Integration-with-Pivotal-Cloud-Foundry) Knowledge Base article.

To grant <%= vars.product_short %> access to an external LDAP group, perform the following steps:

1. Log in as the UAA admin using the procedure in [Log in as a UAA Admin](#uaa-admin-login).

1. To assign the `pks.clusters.manage` scope to all users in an LDAP group, run the following command:

    ```
    uaac group map --name pks.clusters.manage GROUP-DISTINGUISHED-NAME
    ```
    Where `GROUP-DISTINGUISHED-NAME` is the LDAP Distinguished Name (DN) for the group. For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.manage cn=operators,ou=groups,dc=example,dc=com
    </pre>
    For more information about LDAP DNs, see the [LDAP DNs and RDNs](https://ldap.com/ldap-dns-and-rdns/) in the LDAP documentation.

1. (Optional) To assign the `pks.clusters.admin` scope to all users in an LDAP group, run the following command:

    ```
    uaac group map --name pks.clusters.admin GROUP-DISTINGUISHED-NAME
    ```
    Where `GROUP-DISTINGUISHED-NAME` is the LDAP DN for the group. For example:
    <pre class="terminal">
    $ uaac group map --name pks.clusters.admin cn=operators,ou=groups,dc=example,dc=com
    </pre>

###<a id='uaa-client'></a>Grant <%= vars.product_short %> Access to a Client

To grant <%= vars.product_short %> access to a client for a script or service automation, perform the following steps:

1. Log in as the UAA admin using the procedure [Log in as a UAA Admin](#uaa-admin-login).

1. Run the following command to create a client with the desired scopes:

    ```
    uaac client add CLIENT-NAME -s CLIENT-SECRET \
    --authorized_grant_types client_credentials \
    --authorities UAA-SCOPES
    ```
    Where:
    * `CLIENT-NAME` and `CLIENT-SECRET` are the client credentials.
    * `UAA-SCOPES` is one or more of the UAA scopes defined in [Grant <%= vars.product_short %> Access](#pks-access), separated by a comma. For example:
    <pre class="terminal">
    $ uaac client add automated-client \
    -s randomly-generated-secret
    --authorized_grant_types client_credentials  \
    --authorities pks.clusters.admin,pks.clusters.manage
    </pre>