---
title: Managing Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This section describes how to manage <%= vars.product_full %>. 

See the following topics:

<ul>
  <li>
    <a href="console-monitor-manage.html">Monitor and Manage <%= vars.product_short %> in the Management Console</a>
  </li>
  <li>
    <a href="users-index.html">Managing <%= vars.product_short %> Users</a>
  </li>
  <li>
    <a href="resources-index.html">Managing Kubernetes Cluster Options</a>
  </li>
  <li>
    <a href="password-management.html">Adding Infrastructure Password Changes to the <%= vars.product_short %> Tile</a>
  </li>
  <li>
    <a href="rotate-tile-certificates.html">Rotating <%= vars.product_short %> Control Plane Certificates</a>
  </li>
  <li>
    <a href="shutdown-startup.html">Shutting Down and Restarting <%= vars.product_short %></a>
  </li>
  <li>
    <a href="delete.html">Deleting <%= vars.product_short %></a>
  </li>
</ul>
  
