---
title: Managing Kubernetes Clusters and Workloads
owner: PKS
---

This section describes how to manage <%= vars.product_full %>-provisioned Kubernetes clusters and workloads.

See the following topics:

<ul>
  <li>Managing Kubernetes Clusters in <%= vars.product_short %>
    <ul>
      <li>
        <a href="login.html">Logging in to <%= vars.product_short %></a>
      </li>
      <li>
        <a href="create-cluster.html">Creating Clusters</a>
      </li>
      <li>
        <a href="view-cluster-list.html">Viewing Cluster Lists</a>
      </li>
      <li>
        <a href="view-cluster-details.html">Viewing Cluster Details</a>
      </li>
      <li>
        <a href="view-cluster-plans.html">Viewing Cluster Plans</a>
      </li>
      <li>
        <a href="scale-clusters.html">Scaling Existing Clusters</a>
      </li>
      <li>
        <a href="upgrade-clusters.html">Upgrading Clusters</a>
      </li>
      <li>
        <a href="delete-cluster.html">Deleting Clusters</a>
      </li>
    </ul>
  </li>
  <li>Supporting Clusters
    <ul>
      <li>
        <a href="cluster-credentials.html">Retrieving Cluster Credentials and Configuration</a>
      </li>
      <li>
        <a href="manage-cluster-permissions.html">Managing Cluster Access and Permissions</a>
      </li>
      <li>
        <a href="admission-plugins.html">Enabling, Disabling, and Using Admission Plugins for <%= vars.product_short %> Clusters</a>
      </li>
      <li>
        <a href="configure-ingress.html">Configuring Ingress Routing</a>
      </li>      
      <li>
        <a href="harbor.html">Getting Started with VMware Harbor Registry</a>
      </li>
      <li>
        <a href="vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>
      </li>
      <li>
        <a href="volumes.html">Configuring and Using Dynamic PersistentVolumes</a>
      </li>
    </ul>
  </li>
  <li>Deploying Workloads
    <ul>
      <li>
        <a href="deploy-workloads.html">Deploying and Exposing Basic Linux Workloads</a>
      </li>
      <li>
        <a href="deploy-windows-workloads-beta.html">Deploying and Exposing Basic Windows Workloads (Beta)</a>
      </li>
      <li>
        <a href="custom-workloads.html">Adding Custom Linux Workloads</a>
      </li>
      <li>
        <a href="helm.html">Using Helm with <%= vars.product_short %></a>
      </li>
    </ul>
  </li>
</ul>
