---
title: Managing Enterprise PKS
owner: PKS
---

This section describes how to manage <%= vars.product_full %>. See the following topics:

<ul>
  <li>Managing <%= vars.product_short %> Users:
    <ul>
      <li>
        <a href="okta-sso-config.html">Configuring Okta as a SAML Identity Provider</a>
      </li>
      <li>
        <a href="azure-ad-sso-config.html">Configuring Azure Active Directory as a SAML Identity Provider</a>
      </li>
      <li>
        <a href="manage-users.html">Managing <%= vars.product_short %> Admin Users with UAA</a>
      </li>
    </ul>
  </li>
  <li>Managing Kubernetes Cluster Resources:
    <ul>
      <li>
        <a href="create-config-cluster-lb.html">Load Balancing</a>
      </li>
      <li>CPU and Memory</li>
      <li>
        <a href="network-profiles-index.html">Network Profiles (NSX-T Only)</a>
      </li>
      <li>
        <a href="managing-clusters-vsphere.html">Compute Profiles and Host Groups (vSphere Only)</a>
      </li>
    </ul> 
  <li>
    <a href="password-management.html">Adding Infrastructure Password Changes to the <%= vars.product_short %> Tile</a>
  </li>
  <li>
    <a href="shutdown-startup.html">Shutting Down and Restarting <%= vars.product_short %></a>
  </li>
  <li>
    <a href="delete.html">Deleting <%= vars.product_short %></a>
  </li>
</ul>
  
