---
title: Managing Kubernetes Clusters and Workloads
owner: PKS
---

This section describes how to manage <%= vars.product_full %>-provisioned Kubernetes clusters and workloads.

See the following topics:

<ul>
  <li>Managing Clusters in <%= vars.product_short %>:
    <ul>
      <li>
        <a href="login.html">Logging in to <%= vars.product_short %></a>
      </li>
      <li>
        <a href="create-cluster.html">Creating Clusters</a>
      </li>
      <li>
        <a href="view-cluster-list.html">Viewing Cluster Lists</a>
      </li>
      <li>
        <a href="view-cluster-details.html">Viewing Cluster Details</a>
      </li>
      <li>
        <a href="view-cluster-plans.html">Viewing Cluster Plans</a>
      </li>
      <li>
        <a href="scale-clusters.html">Scaling Existing Clusters</a>
      </li>
      <li>
        <a href="upgrade-clusters.html">Upgrading Clusters</a>
      </li>
      <li>
        <a href="delete-cluster.html">Deleting Clusters</a>
      </li>
    </ul>
  </li>
  <li>Supporting Clusters:
    <ul>
      <li>
        <a href="cluster-credentials.html">Retrieving Cluster Credentials and Configuration</a>
      </li>
      <li>
        <a href="manage-cluster-permissions.html">Managing Cluster Access and Permissions</a>
      </li>
      <li>
        <a href="admission-plugins.html">Enabling, Disabling, and Using Admission Plugins for <%= vars.product_short %> Clusters</a>
      </li>      
      <li>
        <a href="harbor.html">Getting Started with VMware Harbor Registry</a>
      </li>
      <li>
        <a href="docker-custom-ca-certs.html">Configuring <%= vars.product_short %> Clusters with Private Docker Registry CA Certificates</a>
      </li>
      <li>
        <a href="vsphere-persistent-storage.html">PersistentVolume Storage Options on vSphere</a>
      </li>
      <li>
        <a href="volumes.html">Configuring and Using Dynamic PersistentVolumes</a>
      </li>
    </ul>
    <p class="note"><strong>Note:</strong> <%= vars.product_short %> does not currently support the Kubernetes Service Catalog and the GCP Service Broker.</p>
  </li>
  <li>Deploying Workloads:
    <ul>
      <li>
        <a href="deploy-workloads.html">Deploying and Exposing Basic Linux Workloads</a>
      </li>
      <li>
        <a href="deploy-windows-workloads-beta.html">Deploying and Exposing Basic Windows Workloads (Beta)</a>
      </li>
      <li>
        <a href="custom-workloads.html">Adding Custom Linux Workloads</a>
      </li>
      <li>
        <a href="helm.html">Using Helm with <%= vars.product_short %></a>
      </li>
    </ul>
  </li>
  <li class="has_submenu">
    <a href="create-config-cluster-lb.html">Load Balancing and Ingress</a>
    <ul>
      <li>
        <a href="gcp-cluster-load-balancer.html">Creating and Configuring a GCP Load Balancer for <%= vars.product_short %> Clusters</a>
      </li>
      <li>
        <a href="aws-cluster-load-balancer.html">Creating and Configuring an AWS Load Balancer for <%= vars.product_short %> Clusters</a>
      </li>
      <li>
        <a href="azure-cluster-load-balancer.html">Creating and Configuring an Azure Load Balancer for <%= vars.product_short %> Clusters</a>
      </li>
      <li>
        <a href="configure-ingress.html">Configuring Ingress Routing</a>
      </li>
    </ul>
  </li>
  <li class="has_submenu">
    <a href="nsxt-ingress.html">Load Balancing and Ingress with NSX-T</a>
    <ul>
      <li>
        <a href="nsxt-ingress-monitor.html">Monitoring Ingress Resources</a>
      </li>
      <li>
        <a href="nsxt-health.html">Viewing and Troubleshooting the Health Status of Cluster Network Objects</a>
      </li>
      <li>
        <a href="nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>
      </li>      
      <li>
        <a href="network-profiles-lb-size.html">Defining a Network Profile for Load Balancer Sizing</a>
      </li>
      <li>
        <a href="nsxt-ingress-scale.html">Scaling the HTTP/S Layer 7 Ingress Load Balancers Using the LoadBalancer CRD</a>
      </li>
      <li>
        <a href="network-profiles-ncp-lb.html">Defining Network Profiles for the TCP Layer 4 Load Balancer</a>
      </li>
      <li>
        <a href="network-profiles-ncp-ingress.html">Defining Network Profile for the HTTP/S Layer 7 Ingress Controller</a>
      </li>
      <li>
        <a href="nsxt-ingress-rewrite-url.html">Using Ingress URL Rewrite</a>
      </li>
    </ul>
  </li>
</ul>
