---
title: Migrating the Management Plane API to Policy API - Overview
owner: TKGI
---


This topic provides an overview of the issues to consider before migrating <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) from the Management Plane API to Policy API.  
 
To migrate a <%= vars.k8s_runtime_abbr %> from Management Plane API to Policy API, 
see [Migrating the Management Plane API to Policy API](mp2p-migration.html).  


<br>
## <a id="overview"></a> Overview

The Management Plane API to Policy API (MP2P) Migration feature 
switches environments using the Management Plane API <%= vars.k8s_runtime_abbr %> to the Policy API.  

<p class="note"><strong>Note:</strong> 
<%= vars.k8s_runtime_abbr %> supports Management Plane API to Policy API Migration only.
You cannot return <%= vars.k8s_runtime_abbr %> to the Management Plane API 
after starting <%= vars.k8s_runtime_abbr %> MP2P Migration.
</p> 

<br>
### <a id="features"></a> Management Plane API to Policy API Migration Features

<%= vars.k8s_runtime_abbr %> Management Plane API to Policy API Migration provides 
the following advantages over manual migration:  

* Designed to be self-service.  

* Reduces a complex manual workflow to a few procedures:  
    * Automates most NSX Manager and TKGI CLI configuration steps.  
    * Migrates cluster NSX resources to Policy API objects without disrupting NSX data path by automating NCP MP2P functions.  
    * Synchronizes all cluster deployment NSX resources to Policy IDs, 
    including Network Profile configurations and BOSH deployment properties.  
    * Designed to be a self-service feature for <%= vars.k8s_runtime_abbr %> admins in most environments.  

* Migrates clusters one by one, limiting the impact to the cluster being migrated.  

    * Only the cluster being migrated experiences a period of downtime, other clusters continue to operate.  
    
* Supports migrating common topologies.  


For more information, see:  

* [Supported Configurations](#features-supported-configs)  
* [Concerns and Limitations](#concerns)  
<% if vars.product_version == "COMMENTED"  %>
* [MP2P Migration FAQs concerns](#faqs)  
<% end %>

<br>
<br>
## <a id="features-supported-configs"></a> Supported Configurations

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following:  
 
* [Supported Topologies](#features-supported-topology)  
* [Supported Cluster Configurations](#features-configuration-migration)  

<br>
### <a id="features-supported-topology"></a> Supported Topologies

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following topologies:  

* Tier-0 Router Mode:  
    * Active-active mode.
    * Active-standby mode.
    * Tier-0 Active-active mode.  
    
* Tier-0 Router Topology:  
    * Single Tier-0 topologies:  
        * NAT topology.
        * No-NAT topology.
        * Hybrid topology.
    * Multi Tier-0 topology.  
    
* Tier-1 Router Topology:  
    * For supported topologies, 
    see [Shared and Dedicated Tier-1 Router Topologies](network-profiles-shared-t1.html).  
    
    
If your <%= vars.k8s_runtime_abbr %> environment uses a customized topology, 
contact the VMware Support team before initiating MP2P Migration.  


<br>
### <a id="features-configuration-migration"></a> Supported Cluster Configurations

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following cluster configurations:  

<table>
	<tr>
		<th>Object</th>
		<th>Initial State</th>
		<th>Migrated State</th>
	</tr>
	<tr>
		<td>Shared networking Resource</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	</tr>
	<tr>
		<td>Cluster node networking resources</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	<tr>
		<td>Cluster pod networking resources</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	</tr>
	<tr>
		<td>Network Profile</td>
		<td>Admin-created network profile
			<br><%= image_tag("images/mp2p-migration-concepts-01.png", :alt => "Cluster network profile configuration before MP2P migration.") %></td>
		<td>Migrated, renamed network profile
			<br><%= image_tag("images/mp2p-migration-concepts-02.png", :alt => "Cluster network profile configuration after MP2P migration.") %></td>
	</tr>
	<tr>
		<td>BOSH Deployment Properties</td>
		<td>MP Object IDs</td>
		<td>Policy Object IDs</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>


<br>
<br>
## <a id="concerns"></a> Concerns and Limitations  

Before initiating <%= vars.k8s_runtime_abbr %> MP2P, consider the following limitations:  

* [Operational Limitations](#concerns-limitations)  
* [Other Considerations](#concerns-considerations)  

<p class="note"><strong>Note:</strong> 
To reduce the possibility of unexpected issues, 
<%= vars.recommended_by %> recommends that you minimize the duration of your MP2P Migration mix-mode maintenance window
by promoting all clusters as soon as possible.
</p> 


<br>
### <a id="concerns-limitations"></a> Operational Limitations  

Review the following and resolve concerns before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* [Before MP2P Migration](#concerns-limitations-before)  
* [During MP2P Migration](#concerns-limitations-during)  
* [During Cluster Promotion to Policy API](#concerns-limitations-during-cluster)  

<br>
#### <a id="concerns-limitations-before"></a> Before MP2P Migration**

Consider the following before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* Evaluate the complexity of your <%= vars.k8s_runtime_abbr %> environment. 
PSO assistance might be required to migrate some complex environments.  

* Migrate clusters serially. Do not attempt to migrate multiple clusters in parallel. 
    NSX does not support multiple simultaneous MP2P Migration requests.  
* **If your NSX Manager cluster uses VIP, you must configure a source IP persistence profile for your load balancer or use a source IP LB algorithm while migrating the TKGI foundation.**  
**This limitation needs engineering clarification.**  


<br>
#### <a id="concerns-limitations-during"></a> During MP2P Migration**

During your MP2P Migration mix-mode maintenance window:  

* You cannot roll back your <%= vars.k8s_runtime_abbr %> environment to the Management Plane API.  
* You cannot rotate NSXT certificates.  
* You can manage all other clusters.  
* You can manage workloads on all other clusters.  

Migrate your entire <%= vars.k8s_runtime_abbr %> environment to the Policy API as quickly as possible. 
Do not assume you can run <%= vars.k8s_runtime_abbr %> as a Management Plane/Policy API mixed environment 
for an extended period of time.  

    
<p class="note warning"><strong>Warning:</strong> 
Do not upgrade NSX or <%= vars.k8s_runtime_abbr %>  while your environment is in MP2P Migration mixed-mode.
</p> 


<br>
#### <a id="concerns-limitations-during-cluster"></a> During Cluster Promotion to Policy API**  

* Promote your clusters the Policy API serially.  

* During promotion to Policy API the cluster being migrated:  

    * Cannot be operated.  
    * Cannot be modified using the TKGI CLI.  
    * Cluster workloads cannot be added/created, updated or deleted.  
    * Existing workloads on the cluster being promoted will have some application downtime.  
    
* Cluster promotion duration is approximately the length of NSX resource migration and the time needed to update the cluster. 
Updating the cluster includes rolling updates out to all worker nodes. 
The cluster should automatically recover after promotion completes.  

* Existing workloads on clusters that are not currently migrating run as usual.  


<br>
### <a id="concerns-considerations"></a> Other Considerations

Additional considerations:  

* <%= vars.k8s_runtime_abbr %> Management Console no longer supports <%= vars.k8s_runtime_abbr %> after <%= vars.k8s_runtime_abbr %> MP2P Migration.  
* Do not entirely migrate NSX to Policy API until after <%= vars.k8s_runtime_abbr %> MP2P Migration to Policy API has completed.  


<% if vars.product_version == "COMMENTED"  %>
<br>
<br>
## <a id="faqs"></a> MP2P Migration FAQs 

Frequently asked MP2P Migration questions:

* [What is BOSH Policy API migration mode?](#faqs-what-is)  
* [How to configure BOSH Policy API migration mode?](#faqs-how-to-configure)  
* [Why migrate one cluster first?](#faqs-why-one)  

<br>
### <a id="faqs-what-is"></a>What is BOSH Policy API Migration Mode?  

By default, BOSH is configured for clusters using the Management Plane API and not for supporting clusters using Policy API. 
To promote clusters to the Policy API, your environment must support both your clusters that continue to use the Management Plane API 
and those you have promoted to Policy API. To support both, activate BOSH Policy API Migration Mode.  


During whole migration process, the migrated policy clusters and not migrated MP clusters can still be used. 
You can CRUD the clusters and also the workloads on clusters.

To support this MIXing status on nodes lifecycle, BOSH exposes Policy API migration mode during this period. 

TKGI doesn't expose additional migration mode. 
TKGI can just magically handle this MIXing status with internal additional coding support.



<br>
### <a id="faqs-how-to-configure"></a>How to configure BOSH Policy API Migration Mode?

<% if vars.product_version == "v1.15"  %>
Use 
<% else %>
If you use Ops Manager v3.0 or later, you have the option to activate BOSH Policy API Migration Mode directly on the Ops Manager UI. 
Otherwise, use
<% end %>
the Ops Manager CLI to activate BOSH Policy API migration mode.  


<br>
### <a id="faqs-why-one"></a>Why migrate one cluster first?

Each cluster migration will migrate shared resources (tier0, floating ippool, pod ipblock, node ipblock).
To continue step2 of updating TKGI, we need the shared resources migrated to Policy first. So we need at least 1 cluster migrated then we can update TKGI.  

<% end %>