---
title: Migrating the Management Plane API to Policy API - Overview
owner: TKGI
---


This topic describes how to migrate <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) from the Management Plane API to Policy API.  


## <a id="overview"></a> Overview

The Management Plane API to Policy API migration feature (MP2P) 
switches existing <%= vars.k8s_runtime_abbr %> environments using the Management Plane API to the Policy API.  


### <a id="features"></a> Management Plane API to Policy API Migration Features

<%= vars.k8s_runtime_abbr %> Management Plane API to Policy API Migration provides 
the following advantages over manual migration:  

* Migrates clusters by automating NCP MP2P functions.  
* Reduces a complex manual workflow to a few procedures.  
* Supports migrating common topologies.  


<%= vars.k8s_runtime_abbr %> MP2P migration features the following:  

* Migrates cluster NSX resources to Policy objects without disrupting the NSX data path.  

* Synchronizes all cluster deployment NSX resources to Policy IDs, including:  

    * Cluster BOSH deployment properties.  
    * Cluster Network Profile properties.  

* Designed to be self-service:  

    * Automates most NSX Manager and TKGI CLI configuration steps.  

* Migrates clusters one by one, limiting the impact to the cluster being migrated.  

    * Only the cluster being migrated experiences a period of downtime, other clusters continue to operate.  


For more information, see:  

* [Supported Configurations](#features-supported-configs).  
* [Concerns and Limitations](#concerns).  
* [MP2P Migration FAQs concerns](#faqs).  


<p class="note"><strong>Note:</strong> 
<%= vars.k8s_runtime_abbr %> supports Management Plane API to Policy API Migration only.
you cannot return <%= vars.k8s_runtime_abbr %> to the Management Plane API 
after starting <%= vars.k8s_runtime_abbr %> MP2P migration.
</p> 


## <a id="features-supported-configs"></a> Supported Configurations

<%= vars.k8s_runtime_abbr %> Management Plane API to Policy API Migration supports the following configurations:  
 
* [Supported Migration Topologies](#features-supported-topology).  
* [Supported Cluster Configurations](#features-configuration-migration).  


### <a id="features-supported-topology"></a> Supported Migration Topologies

NCP MP2P can infer the shared resources for the following topologies:  

* Single Tier-0 Topology:  
    * Tier-0 AS mode, including shared and dedicated Tier-1 cluster configurations.  
    * Tier-0 AA mode.  
    
* Multi Tier-0 topology:  
    * Tier-0 AA mode.  
    
* No-NAT with Virtual Switch (VSS/VDS) topology.  


### <a id="features-configuration-migration"></a> Supported Cluster Configurations
<table>
	<tr>
		<th>Object</th>
		<th>Initial State</th>
		<th>Migrated State</th>
	</tr>
	<tr>
		<td>Shared networking Resource</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	</tr>
	<tr>
		<td>Cluster node networking resources</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	<tr>
		<td>Cluster pod networking resources</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	</tr>
	<tr>
		<td>Network Profile</td>
		<td>Admin-created network profile
			<br><%= image_tag("images/mp2p-migration-concepts-01.png", :alt => "Cluster network profile configuration before MP2P migration.") %></td>
		<td>Migrated, renamed network profile
			<br><%= image_tag("images/mp2p-migration-concepts-02.png", :alt => "Cluster network profile configuration after MP2P migration.") %></td>
	</tr>
	<tr>
		<td>BOSH Deployment Properties</td>
		<td>MP Object IDs</td>
		<td>Policy Object IDs</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>




## <a id="concerns"></a> Concerns and Limitations  

Before initiating <%= vars.k8s_runtime_abbr %> MP2P, consider the following limitations:  

* [Concerns](#concerns-concerns).  
* [Operational Limitations](#concerns-limitations).  
* [Other Considerations](#concerns-considerations).  


### <a id="concerns-concerns"></a> Concerns

Resolve the following concerns before initiating <%= vars.k8s_runtime_abbr %> MP2P migration:

* Evaluate the complexity of your <%= vars.k8s_runtime_abbr %> environment. Some complex environments might required PSO assistance with migration.
* Clusters are migrated serially. During migration, the cluster being migrated experiences some downtime. Other clusters are unaffected.  
* After starting MP2P migration, you cannot roll back your <%= vars.k8s_runtime_abbr %> environment to the Management Plane API.
* Migrate your entire <%= vars.k8s_runtime_abbr %> environment to the Policy API as quickly as possible. 
Do not assume you can run <%= vars.k8s_runtime_abbr %> as a Management Plane/Policy API mixed environment for an extended period of time.  


### <a id="concerns-limitations"></a> Operational Limitations  

* Migrate clusters serially. Do not attempt to migrate multiple clusters in parallel. 
    NSX does not support multiple simultaneous migration requests.  
- NSX Manager cluster with VIP, customer needs to configure source IP persistence profile for LB or use source IP LB algorithm during TKGI foundation migration

**During Migration**

For the cluster under migration:
- You cannot operate cluster
- You cannot create/update/delete new workloads and existing workloads
- Your existing workloads will have some application downtime (expecting the time of rolling update all worker nodes when updating the cluster) but should be recovered after migration
- It takes time approximate to the time on NSX resources migration (depending on scale) and the time to update this cluster

While the environment consists of not-migrated MP clusters and migrated Policy API clusters:
- You can still CRUD clusters (Of course, it requires bosh Policy API migration mode configured at the beginning steps)
- You can still CRUD workloads
- Your existing workloads run as usual

VMware recommends that you reduce the possibility of issues by migrating all clusters as soon as possible and minimize the migration mix-mode maintenance window.

### <a id="concerns-considerations"></a> Other Considerations

- Lose TKGIMC support after TKGI foundation migration
- NSXT cert rotation not support during TKGI foundation migration
- "Admin" DFW rules, NSX administrator intervenes
- Migration on cluster with Shared NSGroup for control plane VMs not support at first release https://docs.pivotal.io/tkgi/1-13/network-profiles-ns-groups.html 
- BOSH configuration for Policy API migration mode: CLI/API way only at first release, but will have UI in later releases 
- Entire NSXT can be converted to Policy after TKGI migrated to Policy



## <a id="faqs"></a> MP2P Migration FAQs 

**What is BOSH Policy API migration mode???**  

During whole migration process, the migrated policy clusters and not migrated MP clusters can still be used. 
You can CRUD the clusters and also the workloads on clusters.

To support this MIXing status on nodes lifecycle, BOSH exposes Policy API migration mode during this period. 

TKGI doesn't expose additional migration mode. 
TKGI can just magically handle this MIXing status with internal additional coding support.



**How to configure BOSH Policy API migration mode???**  

Opsman 3.0 will have UI dropdown to choose to configure BOSH tile.

Before that, we can use Ops Manager CLI to configure it (documentation).



**Why migrate one cluster first?**  

Each cluster migration will migrate shared resources (tier0, floating ippool, pod ipblock, node ipblock).
To continue step2 of updating TKGI, we need the shared resources migrated to Policy first. So we need at least 1 cluster migrated then we can update TKGI.  

