---
title: Migrating the NSX Management Plane API to NSX Policy API - Overview
owner: TKGI
---


This topic provides an overview of migrating <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) 
from the NSXManagement Plane API to NSX Policy API.  
 
To migrate a <%= vars.k8s_runtime_abbr %> from NSX Management Plane API to NSX Policy API, 
see [Migrating the NSX Management Plane API to NSX Policy API](mp2p-migration.html).  

<p class="note warning"><strong>Warning:</strong>
    The NSX Policy API feature is available at 50% of NSX Management Plane API scale, while using NSX-T v3.2.1 or later. 
    For detailed scale numbers, see 
    [NSX-T Data Center 3.2.1 Configuration Limits](https://configmax.esp.vmware.com/guest?vmwareproduct=VMware%20NSX&release=NSX-T%20Data%20Center%203.2.1&categories=31-50).
</p>


<br>
## <a id="overview"></a> Overview

The NSX Management Plane API has been deprecated. 
<%= vars.recommended_by %> recommends that you instead use the NSX Policy API. 
For more information about the deprecation of the NSX Management Plane API, see
[Deprecation announcement for NSX Manager APIs and NSX Advanced UIs](https://docs.vmware.com/en/VMware-NSX/3.2/rn/vmware-nsxt-data-center-32-release-notes/index.html#feature--api-deprecations-and-behavior-changes-deprecation-announcement-for-nsx-manager-apis-and-nsx-advanced-uis) 
in _VMware NSX-T Data Center 3.2 Release Notes_.  


The NSX Management Plane API to NSX Policy API (MP2P) Migration feature 
switches <%= vars.k8s_runtime_abbr %> environments using the NSX Management Plane API to the NSX Policy API.  

<p class="note"><strong>Note:</strong> 
<%= vars.k8s_runtime_abbr %> supports NSX Management Plane API to NSX Policy API Migration only.
You cannot return <%= vars.k8s_runtime_abbr %> to the NSX Management Plane API 
after starting <%= vars.k8s_runtime_abbr %> MP2P Migration.
</p> 

<br>
### <a id="features"></a> NSX Management Plane API to NSX Policy API Migration Features

<%= vars.k8s_runtime_abbr %> NSX Management Plane API to NSX Policy API Migration provides 
the following advantages over manual migration:  

* Supports <%= vars.k8s_runtime_abbr %> MP2P Migration in most environments.  

* Reduces a complex manual workflow to a few procedures:  
    
    * Automates most NSX Manager and TKGI configuration steps.  
    * Migrates cluster NSX resources to NSX Policy API objects without disrupting NSX data path.  
    * Migrates all cluster deployment NSX resources to Policy IDs, 
    including Network Profile configurations and BOSH deployment properties.  

* Reduces the impact on the workloads in your environment:  

    * By promoting clusters to NSX Policy API one by one, 
    the MP2P Migration procedure affects only the cluster being promoted. 
    Other clusters continue to operate as usual.  

* Supports migrating common topologies.  


For more information, see:  

* [<%= vars.k8s_runtime_abbr %> MP2P Migration Configurations](#features-configs)  
* [<%= vars.k8s_runtime_abbr %> MP2P Migration Operational Limitations](#concerns-limitations)  
<% if vars.product_version == "COMMENTED"  %>
* [MP2P Migration FAQs concerns](#faqs)  
<% end %>


<br>
<br>
## <a id="features-configs"></a> <%= vars.k8s_runtime_abbr %> MP2P Migration Configurations

Before initiating <%= vars.k8s_runtime_abbr %> MP2P, consider the following supported and unsupported configurations:  

* [Supported Configurations](#features-supported-configs)  
* [Unsupported Configurations](#concerns-unsupported)  

<br>
### <a id="features-supported-configs"></a> Supported Configurations

<%= vars.k8s_runtime_abbr %> MP2P Migration supports migrating <%= vars.k8s_runtime_abbr %> in only NSX environments dedicated to <%= vars.k8s_runtime_abbr %>. 
Do not start <%= vars.k8s_runtime_abbr %> MP2P Migration if <%= vars.k8s_runtime_abbr %> shares your NSX environment 
with other products, for example, Tanzu Application Service or VMware Aria Automation.

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following topologies:  

* All deployment topologies defined in [NSX-T Deployment Topologies for <%= vars.k8s_runtime_abbr %>](nsxt-topologies.html).  
* All Tier-1 Router topologies defined in [Shared and Dedicated Tier-1 Router Topologies](network-profiles-shared-t1.html).  
* All Multi-Tier-0 topologies defined in [Isolating Tenants](nsxt-multi-t0.html).  
    
    
Contact VMware Support before initiating MP2P Migration 
if your <%= vars.k8s_runtime_abbr %> environment uses a customized topology 
or is a multi-foundation deployment of <%= vars.k8s_runtime_abbr %>.  


<br>
### <a id="features-unsupported-configs"></a> Unsupported Configurations 

The following are not supported by <%= vars.k8s_runtime_abbr %> MP2P Migration or <%= vars.k8s_runtime_abbr %> using the NSX Policy API:  

* <%= vars.k8s_runtime_abbr %> MP2P Migration does not support 
clusters configured with NSGroups, including [Bootstrap Security Group](network-profiles-ns-groups.html) 
and [BOSH VM Extensions](bosh-vm-extensions.html) NSGroup configurations.  

* The <%= vars.k8s_runtime_abbr %> Management Console can not be used to manage <%= vars.k8s_runtime_abbr %> 
after <%= vars.k8s_runtime_abbr %> MP2P Migration.  



<br>
<br>
## <a id="concerns-limitations"></a> <%= vars.k8s_runtime_abbr %> MP2P Migration Operational Limitations  

Review the following and resolve concerns before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* [Before MP2P Migration](#concerns-limitations-before)  
* [During MP2P Migration](#concerns-limitations-during)  
* [During Cluster Promotion to NSX Policy API](#concerns-limitations-during-cluster)  

<p class="note"><strong>Note:</strong> 
To reduce the possibility of unexpected issues, 
<%= vars.recommended_by %> recommends that you minimize the duration of your MP2P Migration mix-mode maintenance window
by promoting all clusters as soon as possible.
</p> 

<br>
### <a id="concerns-limitations-before"></a> Before MP2P Migration

Consider the following before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* Evaluate the complexity of your <%= vars.k8s_runtime_abbr %> environment. 
PSO assistance might be required to migrate some complex environments.  
* You cannot rotate cluster certificates during <%= vars.k8s_runtime_abbr %> MP2P Migration. 
Verify your cluster cluster certificates, including the NSX-T certificate, are valid for the entire duration of your <%= vars.k8s_runtime_abbr %> MP2P Migration before starting MP2P Migration.  
* When planning your <%= vars.k8s_runtime_abbr %> MP2P Migration, include redefining DFW rules in your cluster promotion procedure. 
For more information, see 
[Dealing with DFW Sections Created by NSX Admin](https://docs-staging.vmware.com/en/VMware-NSX-Container-Plugin/4.0/ncp-kubernetes/GUID-42003875-1127-45F2-BC26-A201B5E5245B.html).  



<br>
### <a id="concerns-limitations-during"></a> During MP2P Migration

During your MP2P Migration mixed-mode maintenance window:  

* You cannot roll back your <%= vars.k8s_runtime_abbr %> environment to the NSX Management Plane API.  
* Migrate clusters serially. Do not attempt to migrate multiple clusters in parallel. 
    NSX does not support multiple simultaneous MP2P Migration requests.  

<%= vars.recommended_by %> recommends that you migrate your entire <%= vars.k8s_runtime_abbr %> environment to NSX Policy API as quickly as possible 
to avoid the extra complexity of an NSX Management Plane/Policy API mixed-mode environment.  

    
<p class="note warning"><strong>Warning:</strong> 
Do not upgrade NSX or <%= vars.k8s_runtime_abbr %>  while your environment is in MP2P Migration mixed-mode.
</p> 


<br>
#### <a id="concerns-limitations-dfw"></a> DFW Migration  

MP2P Migration adds new high priority NSX Policy API sections to existing DFW rules. 
The new DFW sections are of higher priority than existing DFW rules added for Management Plane API, 
including any existing top firewall rules.

The DFW migration procedure described in [Migrating the NSX Management Plane API to NSX Policy API](mp2p-migration.html) 
documents the recommended two-step MP2P firewall migration procedure for typical DFW firewall configurations:  

* Re-create the top firewall rules before promoting clusters.
* Re-create the bottom firewall rules immediately after promoting clusters.  

Adhering to the recommended DFW migration sequence is critical to maintaining security and cluster workload network connectivity. 
If a <%= vars.k8s_runtime_abbr %> cluster is:   

* Promoted before existing Management Plane API top firewall rules 
have been recreated in the Policy API section: Cluster network policies will be enforced before the top firewall rules.  
* Promoted after existing Management Plane API bottom firewall rules 
have been recreated in the Policy API section: The top firewall rules will be enforced before Kubernetes network policies and might override them.  

An example result of failing to migrate DFW rules correctly is clusters with access to CIDRs that had been intended to be globally blocked.  

<p class="note warning"><strong>Warning</strong>: 
If you do not configure your DFW Rules correctly, cluster workloads will lose network connectivity.
</p>


For information about migrating DFW rules for specific edge case configurations, see
[Dealing with DFW Sections Created by NSX Admin](https://docs-staging.vmware.com/en/VMware-NSX-Container-Plugin/4.0/ncp-kubernetes/GUID-42003875-1127-45F2-BC26-A201B5E5245B.html) 
in the VMware NSX Container Plugin documentation.  

  
<br>
### <a id="concerns-limitations-during-cluster"></a> During Cluster Promotion to NSX Policy API

Cluster promotion to NSX Policy API:  

* Updates the cluster and migrates NSX resources.  
<% if vars.product_version == "COMMENTED"  %>
* Takes about the same amount of time to complete as `tkgi update-cluster` takes for the cluster being promoted.  
<% end %>

Promote your clusters to the NSX Policy API serially only while the MP2P Migration mixed-mode maintenance window is active. 
If a cluster promotion fails, the only affected cluster is the one being promoted.  

While promoting a cluster to NSX Policy API, the clusters that are not actively being promoted:  

* Can be managed as usual.  
* Workloads on these clusters continue to run as usual and can be managed as usual.  


<% if vars.product_version == "COMMENTED"  %>
<br>
### <a id="concerns-considerations"></a> Other Considerations

In addition to the [<%= vars.k8s_runtime_abbr %> MP2P Migration Operational Limitations](#concerns-limitations) above, 
consider the following before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* Your <%= vars.k8s_runtime_abbr %> Management Console will not support <%= vars.k8s_runtime_abbr %> 
after <%= vars.k8s_runtime_abbr %> MP2P Migration.  
* Migrate remaining NSX object to NSX Policy API only after <%= vars.k8s_runtime_abbr %> MP2P Migration to NSX Policy API has completed.  



<br>
<br>
## <a id="faqs"></a> MP2P Migration FAQs 

Frequently asked MP2P Migration questions:

* [What is BOSH Policy API migration mode?](#faqs-what-is)  
* [How to configure BOSH Policy API migration mode?](#faqs-how-to-configure)  
* [Why migrate one cluster first?](#faqs-why-one)  

<br>
### <a id="faqs-what-is"></a>What is BOSH Policy API Migration Mode?  

By default, BOSH is configured for clusters using the NSX Management Plane API and not for supporting clusters using NSX Policy API. 
To promote clusters to the NSX Policy API, your environment must support both your clusters that continue to use the NSX Management Plane API 
and those you have promoted to NSX Policy API. To support both, activate BOSH Policy API Migration Mode.  


During whole migration process, the migrated policy clusters and not migrated MP clusters can still be used. 
You can CRUD the clusters and also the workloads on clusters.

To support this MIXing status on nodes lifecycle, BOSH exposes NSX Policy API migration mode during this period. 

TKGI doesn't expose additional migration mode. 
TKGI can just magically handle this MIXing status with internal additional coding support.



<br>
### <a id="faqs-how-to-configure"></a>How to configure BOSH Policy API Migration Mode?

<   % if vars.product_version == "v1.15"  %   >
Use 
<   % else %   >
If you use Ops Manager v3.0 or later, you have the option to activate BOSH Policy API Migration Mode directly on the Ops Manager UI. 
Otherwise, use
<   % end %   >
the Ops Manager CLI to activate BOSH Policy API migration mode.  


<br>
### <a id="faqs-why-one"></a>Why migrate one cluster first?

Each cluster migration will migrate shared resources (tier0, floating ippool, pod ipblock, node ipblock).
To continue step2 of updating TKGI, we need the shared resources migrated to Policy first. So we need at least 1 cluster migrated then we can update TKGI.  

<% end %>