---
title: Migrating the Management Plane API to Policy API
owner: TKGI
---

This topic describes how to migrate <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) from  Management Plane API to Policy API.  

For an overview of MP2P Migration, 
see [Migrating the Management Plane API to Policy API - Overview](mp2p-migration-concepts.html).  


## <a id="overview"></a> Overview

The Management Plane API to Policy API (MP2P) Migration feature 
switches environments using the Management Plane API <%= vars.k8s_runtime_abbr %> to the Policy API.  

<%= vars.recommended_by %> recommends that your MP2P Migration adheres to the following
Prepare -> Migrate -> Clean Up workflow:  
  
<table>
    <tr>
        <th></th>
        <th>Procedure</th>
        <th>Description</th>
        <th>Concerns</th>
    </tr>
    <tr>
        <th rowspan=3>Prepare</th>
        <td><strong>Backup</strong></td>
        <td>Backup BOSH Director config.</td>
        <td></td>
    </tr> 
    <tr>
        <td><strong>Enable Migration</strong></td>
        <td>Configure your environment for MP2P Migration: 
            <%= vars.k8s_runtime_abbr %>, NSX, BOSH.
        </td>
        <td>New clusters will use Policy API.</td>
    </tr>
    <tr>
        <td><strong>Set Up Policy API Objects</strong></td>
        <td>To create and configure Policy API objects:
            <ul>
                <li>Create and promote a single test cluster.</li>
                <li>Configure the <%= vars.k8s_runtime_abbr %> tile with the IDs for the created Policy API objects.</li>
                <li>Manually migrate "Admin" DFW rules to Policy API.</li>
            </ul>
        </td>
        <td>Migrates shared resources, including Tier-0, FIP block, Pod IP block, and Node IP block to Policy API.</td>
    </tr>
<% if vars.product_version == "COMMENTED"  %>
    <tr>
        <td>New Step</td>
        <td>New Step description:
            <ul>
                <li>Part 1.</li>
                <li>Part 2.</li>
                <li>Part 3.</li>
            </ul>
        </td>
        <td>New Step Info.</td>
    </tr>
<% end %>
    <tr>
        <th colspan=4>&nbsp;</th>
    </tr>
    <tr>
        <th rowspan=2>Migrate</th>
        <td><strong>Migrate a Cluster</strong></td>
        <td>Steps:
            <ul>
                <li>Backup your cluster's critical workloads.</li>
                <li>Use <code>tkgi promote-cluster-to-policy</code> to promote the cluster.</li>
                <li>Verify the migration of the cluster.</li>
            </ul>
        </td>
        <td>The promoted cluster's workloads experience downtime while the cluster is promoted.</td>
    </tr>
    <tr>
        <td><strong>Migrate All Production Clusters</strong></td>
        <td>Repeat the <strong>Migrate a Cluster</strong> procedure above for each production cluster.</td>
        <td>Notes:
            <ul>
                <li>Promote clusters serially, only one at a time.</li>
                <li>Always verify the migration of your cluster before migrating another cluster.</li>
            </ul>
        </td>
    <tr>
        <th colspan=4>&nbsp;</th>
    </tr>
    <tr>
        <th rowspan=3>Cleanup</th>
        <td><strong>Promote Remaining NSX Objects</strong></td>
        <td>
            Use the NSX Promoter to convert the NSX Objects that are configured outside of <%= vars.k8s_runtime_abbr %>.
        </td>
        <td>Notes: 
            <ul>
                <li>The NSX Promoter updates all objects in the environment to Policy API.</li>
                <li>Use to promote the Deployment Router, and IP blocks, etc.</li>
                <li>Use with caution if <%= vars.k8s_runtime_abbr %> shares NSX with other products.</li>
            </ul>
        </td>
    </tr>
    <tr>
        <td><strong>Deactivate BOSH Migration Mode</strong></td>
        <td>Deactivate BOSH migration mode to support Policy API clusters only.</td>
        <td></td>
    </tr>
    <tr>
        <td><strong>Verification and Cleanup</strong></td>
        <td>Verify the migration and clean up any unnecessary MP objects</td>
        <td></td>
    </tr>
</table>

<p class="note"><strong>Note:</strong> 
<%= vars.k8s_runtime_abbr %> MP2P Migration uses NSX Promoter, the NSX migration service.  
</p> 


To complete an MP2P Migration in your <%= vars.k8s_runtime_abbr %> environment:

1. Before migrating your <%= vars.k8s_runtime_abbr %> environment to Policy API, review the warnings and considerations in 
[Migrating the Management Plane API to Policy API - Overview](mp2p-migration-concepts.html).  
1. Confirm your environment meets the [Prerequisites](#prerequisites).  
1. [Prepare for MP2P Migration](#migration-prep).  
1. [Migrate <%= vars.k8s_runtime_abbr %> Clusters from the Management Plane API to Policy API](#migration-steps).  
1. [Post-Migration Cleanup](#migration-cleanup).  

<p class="note warning"><strong>Warning:</strong> 
Do not upgrade NSX or <%= vars.k8s_runtime_abbr %>  while your environment is in MP2P Migration mixed-mode.
</p> 

<br>
### <a id="prerequisites"></a> Prerequisites

Before migrating <%= vars.k8s_runtime_abbr %> from  Management Plane API to Policy API, 
verify your <%= vars.k8s_runtime_abbr %> environment meets the following requirements:  

* <%= vars.k8s_runtime_abbr %> Version Requirements:  
    * <%= vars.k8s_runtime_abbr %> Tile and CLI: v1.15.1 or later.  
    * <%= vars.k8s_runtime_abbr %> clusters: v1.15.1 or later.  

* Environment Version Requirements:  
    * NSX: v4.0.1.1 or later.  
    * NSX environment is a dedicated TKGI environment. 
    For example, an environment without a TAS or other installations in production.  
    * Ops Manager CLI: v2.10.45 or later.  

* Cluster Requirements:  

    * MP2P Migration does not currently support clusters with an NSGroup for control plane VMs. 
    For more information about NSGroups, see [Configure Bootstrap NSGroups](network-profiles-ns-groups.html).  

* Other Requirements:  

    * Administrator access to NSX, Ops Manager, BOSH, and TKGI.  
    * For more information about <%= vars.k8s_runtime_abbr %> MP2P Migration limitations, see 
    [Concerns and Limitations](mp2p-migration-concepts.html#concerns), 
    [Operational Limitations](mp2p-migration-concepts.html#concerns-limitations) 
    <% if vars.product_version == "COMMENTED"  %>
    , and [MP2P Migration FAQs](mp2p-migration-concepts.html#faqs) 
    <% end %>
    in _Migrating the Management Plane API to Policy API - Overview_.  
    
     
<br>
<br>
## <a id="migration-prep"></a> Prepare for MP2P Migration

To prepare your <%= vars.k8s_runtime_abbr %> environment for MP2P Migration:  

* [Backup](#migration-prep-backup)  
* [Enable Migration](#migration-prep-enable)  
* [Set Up Policy API Objects](#migration-prep-setup-api-objects)  
* [Configure Ops Manager and <%= vars.k8s_runtime_abbr %> for Policy API](#migration-steps-configure-opsman)

<br>
### <a id="migration-prep-backup"></a> Backup

To prepare for MP2P Migration:  

1. To backup your BOSH Director configuration for Management Plane API:  

    ```
    om -t https://OPSMAN-API -u USERNAME -p PASSWORD -k staged-director-config --no-redact > before_mp2p_bosh.yml 
    ```  

    Where:  
    
    * `OPSMAN-API` is the IP address for the Ops Manager API.  
    * `USERNAME` is the account to use to run Ops Manager API commands.  
    * `PASSWORD` is the password for the account.  


<p class="note"><strong>Note</strong>: Retain the exported back up for use at the end of <%= vars.k8s_runtime_abbr %> MP2P Migration.  
</p>
<% if vars.product_version == "COMMENTED"  %>
1. Back up the <%= vars.k8s_runtime_abbr %> environment, including workloads on all clusters. 
For more information, see [Backing Up and Restoring Tanzu Kubernetes Grid Integrated Edition](backup-and-restore.html).  
1. Back up NSX.  
<% end %>

   
<br>
### <a id="migration-prep-enable"></a> Enable Migration

You must enable support for MP2P Migration in NSX before promoting clusters to Policy API using the NSX Promoter. 
Additionally, Ops Manager and BOSH must be configured to support a mixed environment of Management Plane API and Policy API clusters 
before promoting clusters.  

<p class="note"><strong>Note</strong>: After activating Policy API, 
    existing backups created while using Management Plane API cannot be used to restore your environment or your clusters.
</p>

<br>
To prepare <%= vars.k8s_runtime_abbr %> for MP2P Migration:  

1. Disable the <%= vars.k8s_runtime_abbr %> Upgrade All Clusters errand.  


<br>
To prepare NSX for MP2P Migration:  

1. To activate the NSX Migration Coordinator Service on all NSX managers:  

    1. Run the following:  
    
        ```
        kubo@jumper:~$ ssh admin@nsxmanager.pks.vmware.local
        ```
        
    1. At the `nsxmanager>` prompt, run the following:  
    
        ```
        nsxmanager> start service migration-coordinator
        ```

1. If your NSX Manager cluster is configured with VIP, configure the Source IP Persistence Profile for LB or 
use a Source IP LB algorithm during TKGI foundation migration. 
All migration requests should be made on a single NSX Manager.  


<% if vars.product_version == "COMMENTED"  %>
1. Manually enable **NSX Promoter** in NSX:  

    1. Open the NSX UI
    1. Open **System** > **General Settings**.
    1. Under **Manager to Policy Object Promotion**, select **Start Objects Promotion**.
    Warning: NSX promoter will migrate all MP objects on NSX to Policy. 
    If your NSX is also consumed by other products besides <%= vars.k8s_runtime_abbr %>, please evaluate if you want to migrate all.
1. (Optional) If needed, create "admin" DFW rules.  
<% end %>


<br>
To prepare Ops Manager and BOSH for MP2P Migration:   

1. Select a virtual machine that is able to reach Ops Manager, 
and can run the OMCLI, BOSH CLI, and yq.  

1. To export the BOSH client environment:

    ```
    export BOSH_CLIENT=ops_manager 
    BOSH_CLIENT_SECRET=EKoiTmr3qq1LfpBncF4vAyxZWUSpqbX- 
    BOSH_CA_CERT=/var/tempest/workspaces/default/root_ca_certificate 
    BOSH_ENVIRONMENT=88.0.0.3 bosh 
    ```
    
1. To activate BOSH Migration Mode:  

    ```
    ./bosh_migration_mode enable OPSMAN-API USERNAME PASSWORD 
    ```
    
    Where:  

    * `OPSMAN-API` is the IP address for the Ops Manager API.  
    * `USERNAME` is the account to use to run Ops Manager API commands.  
    * `PASSWORD` is the password for the account.  


<br>
To activate <%= vars.k8s_runtime_abbr %> Policy API mode:  

1. Open the <%= vars.k8s_runtime_abbr %> tile.  

1. Go to xxxxxxxx.  

1. Select **Policy API mode**.  

1. Select **Apply**.  
 


<% if vars.product_version == "COMMENTED"  %>
1. Deactivate BOSH Resurrection:  

    * Ops Manager v3.0 and later:  
    
        1. Open the Ops Manager UI.  
        1. Deactivate BOSH Resurrection.  
        
    * Ops Manager v2.10.45 and later:  
<% end %>



<br>
### <a id="migration-prep-create-api-objects"></a> Create Policy API Objects

To migrate Management Plane API shared network resources to Policy API objects:  

1. Create a simple test cluster.  
1. Migrate the cluster to the Policy API:  

    ```
    pks promote-cluster-to-policy CLUSTER-NAME
    ```
    
    Where `CLUSTER-NAME` is the name of the promoted cluster.  
    
    
1. Verify successful cluster migration to the Policy API:  

    ```
    pks cluster CLUSTER-NAME
    ```
    
    Where `CLUSTER-NAME` is the name of the promoted cluster.  
    
    
To collect the newly created Resource Policy IDs:  

1. Retrieve the existing Management Plane API IDs:  

    1. Open the <%= vars.k8s_runtime_abbr %> tile.  
    1. Go to xxxxxxxx.  
    1. Retain the following Management Plane API IDs:  
    
        * **Pods IP Block ID**
        * **Nodes IP Block ID**
        * **T0 Router ID**
        * **Floating IP Pool ID**  

1. Retrieve the newe Resource Policy IDs:  

    1. Open the NSX Manager.  
    1. Go to xxxxxxxx.  
    1. Enter one of the Management Plane API IDs retrieved in the last step into the search bar and search.  
    1. Retrieve the corresponding Resource Policy ID From the **ID** field. 
    Note that the indicated **Creation Time** should match the time when you promoted your test cluster.  
    1. Retrieve and retain the Resource Policy ID for each Management Plane API ID you collected in the last step.  
    

<br>
### <a id="migration-steps-configure-opsman"></a> Configure the Environment for Policy API

To reconfigure your C<%= vars.k8s_runtime_abbr %> environment for Policy API:  

* Configure Ops Manager
* Configure <%= vars.k8s_runtime_abbr %>
* Configure Admin DFW Rules


**Configure Ops Manager**  

To configure the <%= vars.k8s_runtime_abbr %> tile with the policy object IDs created by test cluster migration:  

<% if vars.product_version == "v1.15" %>
1. To update Ops Manager to Policy API mode:  

    1. SSH to the Ops Manager host.  
    1. Fill in Policy API properties using the Ops Manager CLI:
    
        ```
        
        ```  

<% else %>
1. To update Ops Manager to Policy API mode:  

    * Ops Manager v3.0 and later:  
    
        1. Open the Ops Manager UI.  
        1. Select **Use NSX-T Policy API**.  
        1. (OPS MAN SAVE STEP?)  
        
    * Ops Manager v2.10.45 and later:  
    
        1. Fill in Policy API properties using the Ops Manager CLI.  
<% end %>    



**Configure <%= vars.k8s_runtime_abbr %>**  

1. To reconfigure <%= vars.k8s_runtime_abbr %> with Resource Policy IDs:  

    1. Open the <%= vars.k8s_runtime_abbr %> tile.  
    1. Go to xxxxxxxx.  
    1. Replace the Management Plane API IDs with the retained Resource Policy IDs:  
    
        * **Pods IP Block ID**
        * **Nodes IP Block ID**
        * **T0 Router ID**
        * **Floating IP Pool ID**  
        
    1. Select **Apply**.  
    
<p class="note"><strong>Note:</strong> 
After configuring Ops Manager and the <%= vars.k8s_runtime_abbr %> tile, newly created cluster use the Policy API.
</p>  
    
    
<% if vars.product_version == "COMMENTED" %>
**<%= vars.k8s_runtime_abbr %> Tile**  

To configure the <%= vars.k8s_runtime_abbr %> tile with the policy object IDs created by test cluster migration:  

1. Open the <%= vars.k8s_runtime_abbr %> tile to XXXX > XXXX.  
1. Update <%= vars.k8s_runtime_abbr %> tile to Policy API mode:  

    1. Fill in the <%= vars.k8s_runtime_abbr %> tile UI with Policy ID.  
    1. Select **Policy Mode**.  
    1. Select **Apply Changes**.  

<% end %>  


<br>
<br>
## <a id="migration-steps"></a> Migrate <%= vars.k8s_runtime_abbr %> Clusters from the Management Plane API to Policy API

To migrate <%= vars.k8s_runtime_abbr %> to Policy API, serially promote all of your <%= vars.k8s_runtime_abbr %> clusters individually.  

For more information on cluster limitations while promoting a cluster, 
see [During Cluster Promotion to Policy API](mp2p-migration-concepts.html#concerns-limitations) 
in _Migrating the Management Plane API to Policy API - Overview_.  

<p class="note"><strong>Note:</strong> 
Do not intentionally run <%= vars.k8s_runtime_abbr %> in mixed mode for an extended period of time. 
Promote all <%= vars.k8s_runtime_abbr %> clusters to Policy API as quickly as possible.
</p>  

To migrate an individual cluster:  

1. Promote the cluster using the <%= vars.k8s_runtime_abbr %> CLI:  

    ```
    tkgi promote-cluster-to-policy CLUSTER-NAME
    ```
    
    Where `CLUSTER-NAME` is the name of the promoted cluster.  
    
    <p class="note"><strong>Note:</strong> 
    Do not attempt to promote an additional <%= vars.k8s_runtime_abbr %> cluster to Policy API 
    before completing the promotion of the current clusters.
    </p>  


1. (Optional) To migrate the cluster's "Admin" DFW rules to Policy API:  

    1. For each DFW rule, complete the steps in 
    [Dealing with DFW Sections Created by NSX Admin](https://docs-staging.vmware.com/en/VMware-NSX-Container-Plugin/4.0/ncp-kubernetes/GUID-42003875-1127-45F2-BC26-A201B5E5245B.html).  


1. Validate successful migration to Policy API topology for the cluster before upgrading subsequent clusters:  

    ```
    tkgi cluster CLUSTER-NAME
    ```
    
    Where `CLUSTER-NAME` is the name of the promoted cluster.  

<p class="note"><strong>Note:</strong> 
Do not attempt to promote an additional <%= vars.k8s_runtime_abbr %> cluster to Policy API 
before completing the promotion of the current clusters.
</p>  


<br>
<br>
## <a id="migration-cleanup"></a> Post-Migration Cleanup  

After all <%= vars.k8s_runtime_abbr %> clusters have been promoted to Policy API, 
remaining NSX resources must be promoted 
and the <%= vars.k8s_runtime_abbr %> configurations for Management Plane objects should be removed.  

To clean up after promoting all clusters:  

1. Remove Management Plane API-related configurations:  

    1. Remove the original Management Plane object configured Network Profiles.  
    1. If you haven't already done so, remove the TOP and BOTTOM firewall sections for all clusters.  
    
        * For each DFW rule, complete the steps in 
        [Dealing with DFW Sections Created by NSX Admin](https://docs-staging.vmware.com/en/VMware-NSX-Container-Plugin/4.0/ncp-kubernetes/GUID-42003875-1127-45F2-BC26-A201B5E5245B.html).  

1.  Use the NSX Promoter to promote the remaining NSX resources:  

    * Deployment network and router (only 1.15.1 release) 
    * NSX resources in <%= vars.k8s_runtime_abbr %> tile **Resource Config**  
    * NSX resources in cluster `vm_extension` configurations
    * Custom infra level resources. For example, NAT, IP allocations, subnet allocations, 
    and the load balancers that you have created.  

    For information about the NSX Promoter, see 
    [Promote Manager Objects to Policy Objects](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.2/administration/GUID-3B619DC3-CB6B-4121-810E-B2DD46A49B0B.html).  

1. Migrate BOSH to Policy API mode:  

    * If you have retained the BOSH Director configuration backup:  
    
        ```
        sed -i 's/nsx_t_use_policy_api: false/nsx_t_use_policy_api: true/' before_mp2p_bosh.yml  
        om -t https://OPSMAN-API -u USERNAME -p PASSWORD -k configure-director --config before_mp2p_bosh.yml 
        om -t https://OPSMAN-API -u USERNAME -p PASSWORD -k pending-changes  
        om -t https://OPSMAN-API -u USERNAME -p PASSWORD -k apply-changes -sdp 
        ```
        
        Where:  
        
        * `OPSMAN-API` is the IP address for the Ops Manager API.  
        * `USERNAME` is the account to use to run Ops Manager API commands.  
        * `PASSWORD` is the password for the account.  
    
    
    * If you have not retained the BOSH Director configuration backup:  
    
        ```
        ./bosh_migration_mode disable OPSMAN-API USERNAME PASSWORD
        ```  

        Where:  
        
        * `OPSMAN-API` is the IP address for the Ops Manager API.  
        * `USERNAME` is the account to use to run Ops Manager API commands.  
        * `PASSWORD` is the password for the account.  


<br>
<br>
## <a id="troubleshooting"></a> Troubleshooting

debug/workaround/temporary failure
- re-run `pks promote-cluster`
- If running `promote-cluster` does not fix the cluster, create a new cluster and restore workloads to it

```
kubo@jumper:~$ pks promote-cluster c1

You are about to promote cluster c1 to NSX Policy. Are you sure you want to continue? (y/n): y

Error: The cluster c1 is from previous installation, please upgrade cluster before current operation

kubo@jumper:~$ pks upgrade-cluster c2

You are about to upgrade k8s10-group.
Warning: The runtime will switch to containerd unless you have set the "lock_container_runtime" flag
Warning: This operation may be long running and may block further operations on the cluster(s) until complete

Continue? (y/n):y
Error: c2 cannot be upgraded before promoting to Policy successfully when it fails at MIGRATE_CLUSTER.  
Please re-run 'tkgi promote-cluster-to-policy' to promote cluster successfully first.
```