---
title: Migrating the Management Plane API to Policy API
owner: TKGI
---

This topic describes how to migrate <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) from  Management Plane API to Policy API.  


## <a id="overview"></a> Overview

The Management Plane API to Policy API migration feature (MP2P) 
changes <%= vars.k8s_runtime_abbr %> environments from the Management Plane API to the Policy API.  


To complete an MP2P migration in your <%= vars.k8s_runtime_abbr %> environment:

1. [Prepare for MP2P Migration](#migration-prep).  
1. [Migrate <%= vars.k8s_runtime_abbr %> from the Management Plane API to Policy API](#migration-steps).  
1. [Post-Migration Cleanup](#migration-cleanup).  

PREPARE

Enable support for mixed MP and Policy clusters in BOSH.

```
```
To make new clusters use Policy API, activate Policy API mode on the TKGI Tile UI:

To migrate the shared network resources to policy objects:

Create a test cluster.

Promote the test cluster. Run:

```
tkgi promote-cluster CLUSTER-NAME
```

To configure the TKGI tile with the policy object IDs created by test cluster migration:
```
```



### <a id="migration"></a> Migration Workflow

<table>
    <tr>
        <th></th>
        <th>Step</th>
        <th>Description</th>
        <th>Concerns</th>
    </tr>
    <tr>
        <th rowspan=3>Prepare</th>
        <td>Backup</td>
        <td>Backup clusters and NSX</td>
        <td></td>
    </tr>
    <tr>
        <td>Enable Policy API and Migration</td>
        <td>Enable NSX Promoter.
            <br>Configure BOSH migration mode to support mixed MP and Policy API clusters.
            <br>Configure TKGI to Policy API mode – new clusters will use policy API</td>
        <td></td>
    </tr>
    <tr>
        <td>Create Policy API Objects</td>
        <td>Create and promote a single test cluster. 
            Migrates shared resources, including Tier-0, FIP block, Pod IP block, and node IP block to Policy API.
            <br>Configure the TKGI tile with the IDs for the created Policy API objects.
        </td>
        <td></td>
    </tr>
    <tr>
        <th colspan=4>&nbsp;</th>
    </tr>
    <tr>
        <th>Migrate</th>
        <td>Migrate All Production Clusters</td>
        <td>Promote clusters serially, only one at a time.</td>
        <td>A cluster's workloads experience downtime as its promoted.
            <br>Verify the migration of each cluster before migrating the next cluster.
        </td>
    </tr>
    <tr>
        <th colspan=4>&nbsp;</th>
    </tr>
    <tr>
        <th rowspan=3>Cleanup</th>
        <td>Promote Remaining NSX Objects</td>
        <td>
            Run NSX Promoter to convert the NSX Objects that are configured outside of TKGI. 
            For example, the Deployment Router, and IP blocks.
        </td>
        <td>Note: The NSX Promoter updates all objects in the environment to Policy API. 
        Use with caution if TKGI shares NSX with other products.</td>
    </tr>
    <tr>
        <td>Deactivate BOSH Migration Mode</td>
        <td>Deactivate BOSH migration mode to support Policy API clusters only.</td>
        <td></td>
    </tr>
    <tr>
        <td>Verification and cleanup</td>
        <td>Verify the migration and clean up any unnecessary MP objects</td>
        <td></td>
    </tr>
</table>


## <a id="prerequisites"></a> Prerequisites



Version Requirements:  

- NSX: v4.0.1  
- Ops Manager: v3.0  
- <%= vars.k8s_runtime_abbr %> Tile: v1.15.1 or later  
- <%= vars.k8s_runtime_abbr %> clusters: v1.15.1 or later  

For more information about MP2P migration requirements and limitations, see 
[Concerns and Limitations](#concerns), [Operational Limitations](#concerns-limitations), and [Migration FAQs](#faqs) 
in _Migrating the Management Plane API to Policy API - Overview_.  
     

## <a id="migration-prep"></a> Prepare for MP2P Migration

<%= vars.k8s_runtime_abbr %> MP2P Migration uses NSX Promoter, the NSX migration service.  

To prepare for MP2P Migration using the NSX Promoter:  

1. Back up the <%= vars.k8s_runtime_abbr %> environment, including:  

    1. Workloads on all clusters.  
    1. NSX.  
    
1. Manually enable **NSX Promoter** in NSX:  

    1. Open the NSX UI
    1. Open **System** > **General Settings**.
    1. Under **Manager to Policy Object Promotion**, select **Start Objects Promotion**.
    Warning: NSX promoter will migrate all MP objects on NSX to Policy. 
    If your NSX is also consumed by other products besides TKGI, please evaluate if you want to migrate all.
1. (Optional) If needed, create "admin" DFW rules.  

1. Deactivate BOSH Resurrection:  

    * In Ops Manager v3.0 and later:  
    
        1. Open the Ops Manager UI.  
        1. Deactivate BOSH Resurrection.  
        
    * In Ops Manager v2.10.XXXX and later:  



### <a id="migration-steps-create-objects"></a> Create Policy API Object

1. Create a simple test cluster.  
1. Migrate the cluster to the Policy API:  

    ```
    pks promote-cluster-to-policy CLUSTER-NAME
    ```
    
1. Verify successful cluster migration to the Policy API:  

    ```
    pks cluster CLUSTER-NAME
    ```

1. Retrieve the Resource Policy ID:  

    * Retrieve the Resource Policy ID from NSX UI:  
    
    * Retrieve the Resource Policy ID with NSX API:  


### <a id="migration-steps-configure-opsman"></a> Configure Ops Manger and TKGI for Policy API

To configure Ops Manger and TKGI so that newly created cluster use the Policy API:  

1. Open the Ops Manager UI to XXXX > XXXX.  
1. Update Ops Manager to Policy API mode:  

    * In Ops Manager v3.0 and later:  
    
        1. Open the Ops Manager UI.  
        1. Select **Use NSX-T Policy API**.  
        1. (OPS MAN SAVE STEP?)  
        
    * In Ops Manager v2.10.XXXX and later:  
    
        1. Fill in Policy API properties using the Ops Manager CLI.  
    
1. Open the TKGI Tile UI to XXXX > XXXX.
1. Update TKGI tile to Policy API mode:  
    1. Fill in TKGI tile UI with Policy ID.  
    1. Select **Policy Mode**.  
    1. Select **Apply Changes**.  

## <a id="migration-steps"></a> Migrate <%= vars.k8s_runtime_abbr %> from the Management Plane API to Policy API

1. Migrate your clusters serially:  

    1. To migrate an individual cluster:  

        ```
        pks promote-cluster-to-policy CLUSTER-NAME
        pks cluster CLUSTER-NAME
        ```

    1. Validate successful migration to Policy API topology for the cluster before upgrading subsequent clusters.  


Note: Failure domain is ONE cluster!


## <a id="migration-cleanup"></a> Post-Migration Cleanup  

1. Manual cleanup:
    1. Remove original MP Network Profiles.
    1. Remove TOP/BOTTOM firewall sections if customers didn't delete them before using NSX promotion
1.  Use NSX promoter to promote leftover NSX resources

Warning: Do not intentionally run TKGI in mixed mode for long.


## <a id="troubleshooting"></a> Troubleshooting

debug/workaround/temporary failure
- re-run `pks promote-cluster`
- If running `promote-cluster` does not fix the cluster, create a new cluster and restore workloads to it

```
kubo@jumper:~$ pks promote-cluster c1​

You are about to promote cluster c1 to NSX Policy. Are you sure you want to continue? (y/n): y​

Error: The cluster c1 is from previous installation, please upgrade cluster before current operation​

kubo@jumper:~$ pks upgrade-cluster c2

You are about to upgrade k8s10-group.
Warning: The runtime will switch to containerd unless you have set the "lock_container_runtime" flag​
Warning: This operation may be long running and may block further operations on the cluster(s) until complete​

Continue? (y/n):y
Error: c2 cannot be upgraded before promoting to Policy successfully when it fails at MIGRATE_CLUSTER.  Please re-run 'tkgi promote-cluster-to-policy' ​

to promote cluster successfully first
```