---
title: Migrating the Management Plane API to Policy API - Overview
owner: TKGI
---


This topic provides an overview of the issues to consider before migrating <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) from the Management Plane API to Policy API.  
 

<br>
## <a id="overview"></a> Overview

The Management Plane API to Policy API migration feature (MP2P) 
switches <%= vars.k8s_runtime_abbr %> environments using the Management Plane API to the Policy API.  

<p class="note"><strong>Note:</strong> 
<%= vars.k8s_runtime_abbr %> supports Management Plane API to Policy API Migration only.
you cannot return <%= vars.k8s_runtime_abbr %> to the Management Plane API 
after starting <%= vars.k8s_runtime_abbr %> MP2P Migration.
</p> 

<br>
### <a id="features"></a> Management Plane API to Policy API Migration Features

<%= vars.k8s_runtime_abbr %> Management Plane API to Policy API Migration provides 
the following advantages over manual migration:  

* Migrates clusters by automating NCP MP2P functions.  
* Reduces a complex manual workflow to a few procedures.  
* Supports migrating common topologies.  


<%= vars.k8s_runtime_abbr %> MP2P Migration features the following:  

* Migrates cluster NSX resources to Policy objects without disrupting the NSX data path.  

* Synchronizes all cluster deployment NSX resources to Policy IDs, including:  

    * Cluster BOSH deployment properties.  
    * Cluster Network Profile properties.  

* Designed to be self-service:  

    * Automates most NSX Manager and TKGI CLI configuration steps.  

* Migrates clusters one by one, limiting the impact to the cluster being migrated.  

    * Only the cluster being migrated experiences a period of downtime, other clusters continue to operate.  


For more information, see:  

* [Supported Configurations](#features-supported-configs)  
* [Concerns and Limitations](#concerns)  
* [MP2P Migration FAQs concerns](#faqs)  


<br>
<br>
## <a id="features-supported-configs"></a> Supported Configurations

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following:  
 
* [Supported Topologies](#features-supported-topology)  
* [Supported Cluster Configurations](#features-configuration-migration)  

<br>
### <a id="features-supported-topology"></a> Supported Topologies

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following topologies:  

* Single Tier-0 Topology:  
    * Tier-0 AS mode, including shared and dedicated Tier-1 cluster configurations.  
    * Tier-0 AA mode.  
    
* Multi Tier-0 topology:  
    * Tier-0 AA mode.  
    
* No-NAT with Virtual Switch (VSS/VDS) topology.  


NCP MP2P can infer the shared resources for all of the preceding topologies.  


<br>
### <a id="features-configuration-migration"></a> Supported Cluster Configurations

<%= vars.k8s_runtime_abbr %> MP2P Migration supports the following cluster configurations:  

<table>
	<tr>
		<th>Object</th>
		<th>Initial State</th>
		<th>Migrated State</th>
	</tr>
	<tr>
		<td>Shared networking Resource</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	</tr>
	<tr>
		<td>Cluster node networking resources</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	<tr>
		<td>Cluster pod networking resources</td>
		<td>MP on NSX</td>
		<td>Policy on NSX</td>
	</tr>
	<tr>
		<td>Network Profile</td>
		<td>Admin-created network profile
			<br><%= image_tag("images/mp2p-migration-concepts-01.png", :alt => "Cluster network profile configuration before MP2P migration.") %></td>
		<td>Migrated, renamed network profile
			<br><%= image_tag("images/mp2p-migration-concepts-02.png", :alt => "Cluster network profile configuration after MP2P migration.") %></td>
	</tr>
	<tr>
		<td>BOSH Deployment Properties</td>
		<td>MP Object IDs</td>
		<td>Policy Object IDs</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>


<br>
<br>
## <a id="concerns"></a> Concerns and Limitations  

Before initiating <%= vars.k8s_runtime_abbr %> MP2P, consider the following limitations:  

* [Concerns](#concerns-concerns)  
* [Operational Limitations](#concerns-limitations)  
* [Other Considerations](#concerns-considerations)  

<br>
### <a id="concerns-concerns"></a> Concerns

Resolve the following concerns before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* Evaluate the complexity of your <%= vars.k8s_runtime_abbr %> environment. Some complex environments might required PSO assistance with migration.
* Clusters are migrated serially. During migration, the cluster being migrated experiences some downtime. Other clusters are unaffected.  
* After starting MP2P Migration, you cannot roll back your <%= vars.k8s_runtime_abbr %> environment to the Management Plane API.
* Migrate your entire <%= vars.k8s_runtime_abbr %> environment to the Policy API as quickly as possible. 
Do not assume you can run <%= vars.k8s_runtime_abbr %> as a Management Plane/Policy API mixed environment for an extended period of time.  

<br>
### <a id="concerns-limitations"></a> Operational Limitations  

**Before MP2P Migration**

Consider the following before initiating <%= vars.k8s_runtime_abbr %> MP2P Migration:  

* Migrate clusters serially. Do not attempt to migrate multiple clusters in parallel. 
    NSX does not support multiple simultaneous MP2P Migration requests.  
* **If your NSX Manager cluster uses VIP, you must configure a source IP persistence profile for your load balancer or use a source IP LB algorithm while migrating the TKGI foundation.**  
**This limitation needs engineering clarification.**

**During MP2P Migration**

During promotion to Policy API:  

* On the cluster being migrated:  

    * Cannot be operated.  
    * Cannot be modified using the TKGI CLI.  
    * Cluster workloads cannot be added/created, updated or deleted.  
    * Existing workloads on the cluster being migrating will have some application downtime.  

* Existing workloads on clusters that are not currently migrating run as usual.  
* You can CRUD clusters.  
* You can CRUD workloads.  
    
Cluster promotion duration is approximately the length of NSX resource migration and the time needed to update the cluster. 
Updating the cluster includes rolling updates out to all worker nodes. The cluster should automatically recover after promotion completes.


<p class="note"><strong>Note:</strong> 
To reduce the possibility of unexpected issues, 
<%= vars.recommended_by %> recommends that you minimize the duration of your MP2P Migration mix-mode maintenance window
by promoting all clusters as soon as possible.
</p> 

<br>
### <a id="concerns-considerations"></a> Other Considerations

* <%= vars.k8s_runtime_abbr %> Management Console no longer supports <%= vars.k8s_runtime_abbr %> after TKGI MP2P Migration.  
* You cannot rotate NSXT certificates during TKGI MP2P Migration.  
- "Admin" DFW rules, NSX administrator intervenes
- Migration on cluster with Shared NSGroup for control plane VMs not support at first release https://docs.pivotal.io/tkgi/1-13/network-profiles-ns-groups.html 
- BOSH configuration for Policy API migration mode: CLI/API way only at first release, but will have UI in later releases 
- Entire NSXT can be converted to Policy after TKGI migrated to Policy

<br>
<br>
## <a id="faqs"></a> MP2P Migration FAQs 

Frequently asked MP2P Migration questions:

* What is BOSH Policy API migration mode???
* How to configure BOSH Policy API migration mode???
* Why migrate one cluster first?

<br>
### <a id="faqs-what-is"></a>What is BOSH Policy API Migration Mode?  

During whole migration process, the migrated policy clusters and not migrated MP clusters can still be used. 
You can CRUD the clusters and also the workloads on clusters.

To support this MIXing status on nodes lifecycle, BOSH exposes Policy API migration mode during this period. 

TKGI doesn't expose additional migration mode. 
TKGI can just magically handle this MIXing status with internal additional coding support.



<br>
### <a id="faqs-how-to-configure"></a>How to configure BOSH Policy API migration mode?

Opsman 3.0 will have UI dropdown to choose to configure BOSH tile.

Before that, we can use Ops Manager CLI to configure it (documentation).



<br>
### <a id="faqs-why-one"></a>Why migrate one cluster first?

Each cluster migration will migrate shared resources (tier0, floating ippool, pod ipblock, node ipblock).
To continue step2 of updating TKGI, we need the shared resources migrated to Policy first. So we need at least 1 cluster migrated then we can update TKGI.  

