---
title: Using Network Profiles (NSX-T Only)
owner: TKGI
---

This topic describes how <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) cluster managers
can manage and use network profiles with Kubernetes clusters provisioned by <%= vars.k8s_runtime_abbr %> on vSphere with NSX&#8209;T integration.

Network profiles let you customize NSX-T configuration parameters.

## <a id='prerequisites'></a> Prerequisite

<%= vars.k8s_runtime_abbr %> supports network profiles on <%= vars.k8s_runtime_abbr %> on vSphere with NSX&#8209;T only.  

To work with <%= vars.k8s_runtime_abbr %> network profiles you must be either a cluster manager or cluster administrator:

* To create or delete a network profile, you must be a cluster administrator: `pks.clusters.admin`.

* To use a network profile, you must be a cluster manager: `pks.clusters.manage` or a cluster administrator: `pks.clusters.admin`.


## <a id="overview"></a> Overview

You can use network profiles to customize your <%= vars.k8s_runtime_abbr %> Kubernetes clusters on vSphere with NSX&#8209;T. 
For information on when to use network profiles, see [Network Profile Use Cases](#use-cases) below.  

<%= vars.k8s_runtime_abbr %> cluster managers can apply network profiles to clusters:

To list the available network profiles:

* [List Network Profiles](#list-profiles)


To apply a network profile to a cluster:

* [List Network Profiles](#list-profiles)
* [Create a Cluster with a Network Profile](#create-new)
* [Assign a Network Profile to an Existing Cluster](#assign-profile)
* [Update an Existing Network Profile](#update-profile)

<%= vars.k8s_runtime_abbr %> cluster administrators can create and manage network profiles. 
To create or manage network profiles see the following in [Creating and Managing Network Profiles](./network-profiles-define.html):

* [Create a Network Profile](network-profiles-define.html#create)
* [Update an Existing Network Profile](network-profiles-define.html#change-pod-ips)
* [Delete a Network Profile](network-profiles-define.html#delete)


## <a id="list-profiles"></a> List Network Profiles

To list available network profiles:  

1. Run the following command:  

    ```
    tkgi network-profiles
    ```

    For example:

    <pre class="terminal">
    $ tkgi network-profiles

    Name                Description 
    lb-profile-medium   Network profile for medium size NSX-T load balancer
    small-routable-pod  Network profile with small load balancer and two routable pod networks
    </pre>

## <a id='create-new'></a> Create a Cluster with a Network Profile

You can assign a network profile to a <%= vars.k8s_runtime_abbr %>-provisioned Kubernetes cluster at the time of cluster creation.

To create a Kubernetes cluster with a network profile:

1. If you do not have a network profile with the desired configuration, 
have a <%= vars.k8s_runtime_abbr %> cluster administrator define and create a new network profile. 
For more information, see [Create a Network Profile](./network-profiles.html#create-profile) in _Creating and Managing Network Profiles_. 
1. Choose a network profile for the cluster.
    See [List Network Profiles](#list-profiles).  
1. To create the cluster, run the following command:

    ```
    tkgi create-cluster CLUSTER-NAME --external-hostname HOSTNAME --plan PLAN-NAME --network-profile NETWORK-PROFILE-NAME
    ```

    Where:  
    * `CLUSTER-NAME` is a unique name for your cluster.  
        <p class="note"><strong>Note</strong>: Use only lowercase characters when naming your cluster 
        if you manage your clusters with Tanzu Mission Control (TMC). Clusters with names that include an uppercase character cannot be attached to TMC.
        </p>
    * `HOSTNAME` is your external hostname used for accessing the Kubernetes API.  
    * `PLAN-NAME` is the name of the <%= vars.k8s_runtime_abbr %> plan you want to use for your cluster.  
    * `NETWORK-PROFILE-NAME` is the name of the network profile you want to use for your cluster.  

## <a id="assign-profile"></a> Assign a Network Profile to an Existing Cluster
 
<%= vars.k8s_runtime_abbr %> supports assigning a network profile to an existing cluster.  

To assign a network profile to a cluster that does not have a network profile already applied:  

1. If you do not have a network profile with the desired configuration, 
have a <%= vars.k8s_runtime_abbr %> cluster administrator define and create a new network profile. 
For more information, see [Create a Network Profile](./network-profiles.html#create-profile) in _Creating and Managing Network Profiles_. 
1. Choose a network profile for the cluster.
    See [List Network Profiles](#list-profiles).  
1. To apply the network profile to the cluster, run the following command:

    ```
    tkgi update-cluster CLUSTER-NAME --network-profile NEW-NETWORK-PROFILE-NAME
    ```

    Where:  
    * `CLUSTER-NAME` is the name of the existing Kubernetes cluster.  
    * `NEW-NETWORK-PROFILE-NAME` is the name of the new network profile you want to apply to the cluster.  

<p class="note"><strong>Note</strong>: When you when you use <code>tkg update-cluster</code> to update an existing cluster, the attached network-profile must consist of only updatable settings.</p>

## <a id="update-profile"></a> Update an Existing Network Profile

The use cases for updating an existing network profile are limited to adding to or changing the order of Pod IP Blocks on your existing cluster. 
For more information, see [Customizing Pod Networks](./network-profiles-pods.html).

Only <%= vars.k8s_runtime_abbr %> cluster administrators can modify an existing network profile. 
For information on updating an existing network profile, see 
[Update an Existing Network Profile](./network-profiles-define.html#change-pod-ips) 
in _Creating and Deleting Network Profiles_.

## <a id='use-cases'></a> Network Profile Use Cases

Network profiles let you customize configuration parameters for 
Kubernetes clusters provisioned by <%= vars.k8s_runtime_abbr %> on vSphere with NSX&#8209;T.  

You can apply a network profile to a Kubernetes cluster for the following scenarios:

<%= partial 'network-profiles-uses' %>
