---
title: Customize Floating IP Pools
owner: TKGI
---

This topic describes how to define network profiles for custom floating IP pools.

## <a id='floating-ip'></a> Create a Custom Floating IP Pool

To deploy <%= vars.product_short %> to vSphere with NSX-T, you must define a Floating IP Pool in NSX Manager. IP addresses from the Floating IP Pool are used for SNAT IP addresses whenever a Namespace is created (NAT mode). In addition, IP addresses from the Floating IP Pool are assigned to load balancers automatically provisioned by NSX-T, including the load balancer fronting the <%= vars.control_plane %> server and load balancers for pod ingress. For more information, see the [Plan Network CIDRs](nsxt-prepare-env.html#plan-cidrs) section of _Planning, Preparing, and Configuring NSX-T for <%= vars.product_short %>_.

You can define a network profile that specifies a custom floating IP pool to use instead of the default pool specified in the <%= vars.product_tile %> tile.  

<p class="note"><strong>Note</strong>: <%= vars.k8s_runtime_abbr %> allocates IP Addresses from the start of the floating IP pool range. 
    To avoid conflicts with internal <%= vars.k8s_runtime_abbr %> functions, always use IP addresses from the end of the floating IP pool.
</p>

To define a custom floating IP pool, follow the steps below:

1. Create a floating IP pool using NSX Manager prior to provisioning a Kubernetes cluster using <%= vars.product_short %>. For more information, see [Create IP Pool](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.admin.doc/GUID-8639F737-1D75-4177-9D31-5F20551DEE8E.html) in the NSX-T documentation.
1. Ensure routing to your external Tier-0 Router allows traffic to the new custom Floating IP subnet.
1. Define a network profile with a `fip_pool_ids` array containing the UUIDs for the floating IP pools that you defined. 
If you want to include the default floating IP pool, 
also add the UUID of the default floating IP pool to the `fip_pool_ids` array.  
<br>
    The following example defines a custom floating IP pool:

    ```
    {
        "name": "np-custom-fip",
        "description": "Network Profile for Custom Floating IP Pool",
        "parameters": {
            "fip_pool_ids": [
                "e50e8f6e-1a7a-45dc-ad49-3a607baa7fa0",
      		  	"ebe78a74-a5d5-4dde-ba76-9cf4067eee55"
        	]
        }
    }
    ```
    The example above uses two floating IP pools.
    With this configuration, if the first pool of IP addresses, `e50e8f6e-1a7a-45dc-ad49-3a607baa7fa0`, is exhausted,
    the system will use the IP addresses in the next IP pool that is listed,
    `ebe78a74-a5d5-4dde-ba76-9cf4067eee55`.

<p class="note"><strong>Note:</strong> If you are using multiple Floating IP Pools within the same Tier-0 router, the Floating IP Pools cannot overlap. Overlapping Floating IP Pools are allowed across Tier-0 routers, but not within the same Tier-0 router.</p>

## <a id='floating-ip-modify'></a> Modify a Floating IP Pool

You can modify the floating IP pool of an existing cluster. 
For more information, see [fip_pool_ids](network-profiles-define.html#parameter-fip-pool-ids) in _Creating and Managing Network Profiles_.