---
title: Defining a Network Profile for Load Balancer Sizing
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to size a load balancer using a network profile.

### <a id='lb-size'></a> Load Balancer Sizing

When you deploy a Kubernetes cluster using <%= vars.product_short %> on NSX-T, an NSX-T load balancer is automatically provisioned. By default the size of this load balancer is small. Using a network profile, you can customize the size of the load balancer.
For more information, see [Load Balancers in <%= vars.product_short %> Deployments on vSphere with NSX‑T](about-lb.html#with-nsx-t).

NSX-T load balancers run on edge nodes. There are various form factors for edge nodes. <%= vars.product_short %> supports the large edge VM and the bare metal edge. The large VM edge node must run on Intel processors. The large load balancer requires a bare metal edge node. For more information about edge nodes, see [Scaling Load Balancer Resources](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.admin.doc/GUID-19B12230-8BF4-4AF7-9EB7-3701B0A0A439.html) in the NSX-T documentation.

The NSX-T load balancer is a logical load balancer that handles a number of functions using virtual servers and pools. For more information, see [Supported Load Balancer Features](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.admin.doc/GUID-91F2D574-F469-481A-AA39-CD6DBC9682CA.html) in the NSX-T documentation.

The following virtual servers are required for <%= vars.product_short %>:

- 1 TCP layer 4 virtual server for each Kubernetes service of `type:LoadBalancer`
- 2 HTTP and HTTPS layer 7 global virtual servers for Kubernetes ingress resources
- 1 global virtual server for the PKS API

The following network profile, `np-lb-med`, defines a medium load balancer:

```
{
	"name": "np-lb-med",
	"description": "Network profile for medium NSX-T load balancer",
	"parameters": {
		"lb_size": "medium"
	}
}
```

The following network profile, `np-lb-large`, defines a large load balancer:

```
{
	"name": "np-lb-large",
 	"description": "Network profile for large NSX-T load balancer",
	"parameters": {
		"lb_size": "large"
	 }
}
```

<p class="note"><strong>Note</strong>: The large load balancer requires a bare metal NSX Edge Node.</p>
