---
title: Creating VMware NSX Objects for Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

Installing <%= vars.product_full %> on vSphere with NSX-T requires the creation of NSX IP blocks for Kubernetes node and pod networks, as well as a Floating IP Pool from which you can assign routable IP addresses to cluster resources. 

Create separate NSX-T IP Blocks for the [node networks](./nsxt-prepare-env.html#nodes-ip-block) 
and the [pod networks](./nsxt-prepare-env.html#pods-ip-block). 
The subnets for both nodes and pods should have a size of 256 (/16). 
For more information, see [Plan IP Blocks](./nsxt-prepare-env.html#plan-ip-blocks) 
and [Reserved IP Blocks](./nsxt-prepare-env.html#reserved-ip-blocks). 
For more information about NSX-T IP Blocks, see [Advanced IP Address Management](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/administration/GUID-A1254321-0C17-4458-BCA9-53FBEFCE98C3.html) 
in the _VMware NSX-T Data Center_ documentation.  

 * **NODE-IP-BLOCK** is used by <%= vars.product_short %> to assign address space to Kubernetes control plane and worker nodes when new clusters are deployed or a cluster increases its scale.
 * **POD-IP-BLOCK** is used by the NSX-T Container Plug-in (NCP) to assign address space to Kubernetes pods through the Container Networking Interface (CNI).

In addition, create a Floating IP Pool from which to assign routable IP addresses to components. This network provides your load balancing address space for each Kubernetes cluster created by <%= vars.product_short %>. The network also provides IP addresses for Kubernetes API access and Kubernetes exposed services. For example, `10.172.2.0/24` provides 256 usable IPs. This network is used when creating the virtual IP pools, or when the services are deployed. You enter this network in the **Floating IP Pool ID** field in the **Networking** pane of the <%= vars.product_tile %> tile.

Complete the following instructions to create the required NSX-T network objects. 

##<a id='create-nodes-ipb'></a> Create the Nodes IP Block

1. In NSX-T Manager, go to **Advanced Networking & Security** > **Networking > IPAM**.

1. Add a new IP Block for Kubernetes Nodes.
   For example:
   * **Name**: NODES-IP-BLOCK
   * **CIDR**: 192.168.0.0/16
  <img src="images/nsxt/nsxt-data-center-installation/nsx-objects/nodes-ip-block-NAT.png">

1. Verify creation of the Nodes IP Block.
  <img src="images/nsxt/nsx-objects/create-pod-ipb-02.png">

1. Record the UUID of the Nodes IP Block object. You use this UUID when you install <%= vars.product_short %> with NSX-T.
  <img src="images/nsxt/nsx-objects/create-node-ipb-04.png">

##<a id='create-pods-ipb'></a> Create the Pods IP Block

1. In NSX-T Manager, go to **Advanced Networking & Security** > **Networking > IPAM**.

1. Add a new IP Block for Pods. For example:
   * **Name**: TKGI-PODS-IP-BLOCK
   * **CIDR**: 172.16.0.0/16
  <img src="images/nsxt/nsx-objects/create-pod-ipb-02.png">

1. Verify creation of the Pods IP Block.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-objects/ipam-blocks.png">

1. Record the UUID of the Pods IP Block object. You use this UUID when you install <%= vars.product_short %> with NSX-T.
  <img src="images/nsxt/nsx-objects/create-pod-ipb-04.png">

##<a id='create-float-ipp'></a> Create Floating IP Pool

1. In NSX-T Manager, go to **Advanced Networking & Security** > **Inventory > Groups > IP Pool**.
  <img src="images/nsxt/nsx-objects/create-float-ipp-01.png">

1. Add a new Floating IP Pool. For example:
   * **Name**: TKGI-FLOATING-IP-POOL
   * **IP Ranges**: 10.40.14.10 - 10.40.14.253
   * **Gateway**: 10.40.14.254
   * **CIDR**: 10.40.14.0/24
  <img src="images/nsxt/nsx-objects/create-float-ipp-02.png">

1. Verify creation of the Floating IP Pool.
  <img src="images/nsxt/nsx-objects/create-float-ipp-03.png">

1. Get the UUID of the Floating IP Pool object. You use this UUID when you install <%= vars.product_short %> with NSX-T.
  <img src="images/nsxt/nsx-objects/create-float-ipp-04.png">

##<a id='next'></a> Next Step

After you complete this procedure, follow the instructions in <a href="./installing-nsx-t.html">Installing <%= vars.product_short %> on vSphere with NSX-T</a>.
