---
title: Deploying NSX-T v2.4 for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

To deploy NSX-T for <%= vars.product_full %>, complete the following set of procedures, in the order presented.

<p class="note"><strong>Note:</strong> The instructions provided in this topic are based on NSX-T v2.4. If you are using NSX-T v2.3.1, refer to [these instructions](./nsxt-deploy.html).</p>

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./vsphere-nsxt-requirements.html">vSphere with NSX-T Version Requirements</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T</a>
  </li>
  <li>
    <a href="./nsxt-topologies.html">NSX-T Deployment Topologies for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-env.html">Preparing to Deploy <%= vars.product_short %> with NSX-T on vSphere</a>
  </li>
</ul>

##<a id='install-nsxt-24'></a>

Complete the steps to install NSX-T v2.4 for use with Enterprise PKS.

<p class="note"><strong>Note:</strong> NSX-T v2.4 implements a new Policy API and a new NSX Manager user interface (UI) based on the Policy API. Enterprise PKS does not support the Policy API and Policy-based UI. Enterprise PKS supports the NSX Management API, which is exposed via the "Advanced Networking" tab of the of the NSX Manager UI. When installing and configuring NSX-T v2.4 for use with Enterprise PKS, use the "Advanced Networking" tab to create any required networking objects.</p>

1. [Prepare for Installing NSX-T 2.4](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-EC9633E5-3CF1-433B-B7B5-FC9BBB3EE8F0.html).
1. [Install NSX Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-A65FE3DD-C4F1-47EC-B952-DEDF1A3DD0CF.html#GUID-A65FE3DD-C4F1-47EC-B952-DEDF1A3DD0CF).
1. [Deploy Additional NSX Manager Nodes to Form a Management Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-11417AA2-5EBC-49C7-8A86-EB94604261A6.html).
1. [Assign a Virtual IP Address and Certificate to the NSX-T Manager Cluster](https://docs.vmware.com/en/VMware-Validated-Design/5.0.1/com.vmware.vvd.sddc-nsxt-domain-deploy.doc/GUID-B7019BCE-4FA1-40BB-8DC2-EE47967A47F1.html?hWord=N4IghgNiBcIGoEkAKIC+Q).
1. [Install At Least One Pair of NSX Edge Nodes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-AECC66D0-C968-4EF2-9CAD-7772B0245BF6.html).
	<p class="note"><strong>Warning:</strong> For Enterprise PKS you must install a large size VM form factor or the bare metal Edge Node. This enables <%= vars.product_short %> to deploy Kubernetes clusters correctly.</p>
1. [Create an NSX Edge Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-898099FC-4ED2-4553-809D-B81B494B67E7.html).
1. [Join NSX Edge Nodes with the Management Plane](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-11BB4CF9-BC1D-4A76-A32A-AD4C98CBF25B.html).
1. [Enable Repository Service on NSX Manager](./nsxt-deploy.html#enable-repo). Repeat this step for each NSX Manager.
1. [Create an IP Pool for Tunnel Endpoint IP Addresses](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html).
1. [Create Overlay and VLAN Transport Zones](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-F739DC79-4358-49F4-9C58-812475F33A66.html).
1. [Create an Uplink Profile](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-50FDFDFB-F660-4269-9503-39AE2BBA95B4.html).
1. [Create Edge Transport Nodes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-53295329-F02F-44D7-A6E0-2E3A9FAE6CF9.html).
1. [Create a Tier-0 Logical Router](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/administration/GUID-7891E6E7-606D-4F79-8AB7-BC01898F9FE7.html).
1. [Configure Edge Nodes for HA](./nsxt-deploy.html#create-edge-ha).
1. [Prepare ESXi Hosts as Transport Nodes for NSX-T](./nsxt-deploy.html#prepare-esxi).

##<a id='next'></a> Next Step

After you complete this procedure, follow the instructions in <a href="./nsxt-prepare-mgmt-plane.html">Creating the PKS Management Plane</a>.

<p class="note"><strong>Note:</strong> Since you have generated the NSX Management Plane Certificate and Private Key as part of the installation process described above, skip that step in the workflow [Generating and Registering the NSX Manager Certificate for Enterprise PKS](./generate-nsx-ca-cert.html), but complete all other steps as [described](./vsphere-nsxt-index.html).</p>
