---
title: Install NSX Edge Nodes for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for installing NSX Edge Node VMs on vSphere for use with Enterprise PKS.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-install-config-steps.html).

##<a id='edge-nodes-about'></a> About Deploying NSX-T Edge Nodes for Enterprise PKS

NSX Edge Nodes provide the bridge between the virtual network environment implemented using NSX-T and the physical network. Edge Nodes for <%= vars.product_short %> run load balancers for PKS API traffic, Kubernetes pod load balancer services, and pod ingress controllers. See [Load Balancers in Enterprise PKS](./about-lb.html) for more information.

<%= vars.product_short %> supports the NSX Edge Node large VM form factor (8 vCPU, 32 GB of RAM, 200 GB of disk space) and the bare metal Edge Node. The Edge Node VM can only be deployed on Intel-based ESXi hosts. See [NSX Edge VM System Requirements](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-22F87CA8-01A9-4F2E-B7DB-9350CA60EA4E.html) in the NSX-T Data Center documentation. 

For high-availability Edge Nodes are deployed as pairs within an Edge Cluster. The minimum number of Edge Nodes per Edge Cluster is 2; the maximum is 10. In NAT mode, <%= vars.product_short %> supports active/standby Edge Node failover. In standby mode, the standby load balancer is not available for use while the active load balancer is engaged. If No NAT mode is used, active/active can be used. 

The default size of the load balancer deployed by NSX-T for a Kubernetes cluster is small. The size of the load balancer can be customized using <a href="./network-profiles-define.html">Network Profiles</a>. 

In NSX-T a load balancer is deployed on the Edge Nodes as a virtual server. The following virtual servers are required for <%= vars.product_short %>:

- 1 TCP layer 4 virtual server for each Kubernetes service of type:LoadBalancer
- 2 layer 7 global virtual servers for Kubernetes pod ingress resources (HTTP and HTTPS)
- 1 global virtual server for the PKS API

To determine the maximum number of load balancers per Edge Cluster, multiply the maximum number of load balancers for the Edge Node type by the number of Edge Nodes and divide by 2. For example, with 10 Large VM Edge Nodes in an Edge Cluster, you can have up to 200 small load balancer instances (40 x 10/2), or up to 20 medium LB instances (4 x 10/2). See [Scaling Load Balancer Resources](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/administration/GUID-19B12230-8BF4-4AF7-9EB7-3701B0A0A439.html) in the NSX-T Data Center documentation for more information.

<p class="note"><strong>Note:</strong> Because of the load balancer requirements for <%= vars.product_short %>, you cannot use the small or medium Edge Node VM sine since these form factors do not support a sufficient number of virtual servers. You must install a large size Edge Node VM or the bare metal Edge Node for <%= vars.product_short %>.</p>

##<a id='edge-node-install'></a> Install a NSX Edge Node Large VM Using the vSphere Client

The NSX Edge Node VM is provided as an OVA file named the **NSX Edge VM** that you import into your vSphere environment and configure.

Complete the following steps to install an NSX Edge Node Large VM using the vSphere Client. To install an NSX Edge Node VM using the ovftool CLI, see the [NSX-T Data Center documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-BF5EC490-CB5D-4FA9-AEC8-BB1A85E55B01.html)

<p class="note"><strong>Note</strong>: Repeat the deployment and verification process for each NSX Edge Node you intend to use for <%= vars.product_short %>.</p>

1. Locate the NSX-T Data Center OVA file and download it to your local machine, for example `nsx-edge-VERSION.ova`.

1. Log in to vCenter using the vSphere Client.

1. In the vSphere Client, select the **Resource Pool** where you want to install NSX-T Data Center.

1. Right-click and select **Deploy OVF Template** to start the installation wizard.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-01.png">

1. At the **Select an OVF template** screen:
  - Select the **Local file** option
  - Click **Choose Files**
  - Navigate to where you downloaded the OVA file and select it
  - Click **Next**
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-02.png">

1. At the **Select a name and folder** screen:
  - Enter a name for the NSX Edge VM, such as `nsx-edge-1`
  - Select the **Datacenter** for the VM deployment
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-03.png">

1. At the **Select a compute resource** screen:
  - Select the **infra** resource pool where the NSX Edge VM will be deployed
  - Click **Next**
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-25.png">

1. At the **Review details** screen, verify the OVF template details and click **Next**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-05.png">

1. At the **Configuration** screen, select the **Large** size VM and click **Next**.
  <p class="note"><strong>Warning:</strong> You must select the large size Edge Node VM. See <a href="./nsxt-install-edge-node-install.html#edge-nodes-about">About Deploying NSX-T Edge Nodes for Enterprise PKS</a>.</p>
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-06.png">

1. At the **Select storage** screen:
  - Select the **vsanDatastore** if you are using vSAN, or a dedicated datastore if you are not using vSAN
  - Click **Next**
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-28.png">

1. At the **Select networks** screen, select the **Destination Network** for each of the Source Networks. Be sure to connect the vNICs of the NSX Edge VM to an appropriate PortGroup for your environment.
  * **Network 0**: For management purposes. Connect the first Edge interface to your environment's PortGroup/VLAN where your Edge Management IP can route and communicate with the NSX Manager.
  * **Network 1**: For TEP (Tunnel End Point). Connect the second Edge interface to your environment's PortGroup/VLAN where your GENEVE VTEPs can route and communicate with each other. Your **VTEP CIDR** should be routable to this PortGroup.
  * **Network 2**: For uplink connectivity to external physical router. Connect the third Edge interface to your environment's PortGroup/VLAN where your T0 uplink interface is located.
  * **Network 3**: Unused (select any port group)
  * Click **Next** 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-29.png">

1. At the **Customize Template** screen, configure the following settings:
  * **System Root User Password** (must comply with [password strength restrictions](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-FA0ABBBD-34D8-4DA9-882D-085E7E0D269E.html))
  * **CLI "admin" User Password** (must comply with password strength restrictions)
  * **CLI "audit" User Password** (must comply with password strength restrictions)
  * **Hostname**: for the NSX Edge VM, such as `nsx-edge-1`
  * **Default IPv4 Gateway**: The default gateway for the NSX Manager VM
  * **Management Network IPv4 Address**: The IPv4 address for the first network interface
  * **Management Network Netmask**: The netmask for the first interface
  * **DNS Server List**: One or more DNS servers (space-separated if multiple)
  * **NTP Server List**: One or more NTP servers (space-separated if multiple)
  * **Enable SSH**: Select Enable SSH (by default this option is disabled for security reasons)
  * **Allow root SSH logins**: Enable this option to (by default this option is disabled for security reasons)
  * Click **Next** 
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-08.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-09.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-30.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-31.png">

1. At the **Ready to complete** screen:
  * Verify that the OVF template specification is accurate
  * Click **Finish** to begin the installation. The installation will approximately 10 minutes to complete

1. Use the **Recent Tasks** panel at the bottom of the vCenter screen to view the progress of the OVA deployment.

1. Repeat this process for `nsx-edge-2`, and for each additional NSX Edge Node you intend to use for <%= vars.product_short %>.</p>
  <img src="images/nsxt/nsxt-data-center-installation/nsx-edge-installation/nsx-edge-install-24.png">

##<a id='edge-node-verify'></a> Verify NSX Edge Node VM Installation

See [Verify NSX VM Deployment for Enterprise PKS](./nsxt-install-verify-vm-deployment.html).

##<a id='next'></a> Next Step

See [Join Each NSX Edge Node with the Management Plane](./nsxt-install-edge-node-join.html).

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.
