---
title: Prepare ESXi Hosts as NSX-T Transport Nodes
owner: TKGI-NSXT
---

This topic provides instructions for preparing ESXi hosts as NSX transport nodes.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='prep-esxi-about'></a>About ESXi Host Preparation

In NSX-T Data Center, a Transport Node allows nodes to exchange traffic for virtual networks. ESXi hosts dedicated to the <%= vars.product_short %> Compute Cluster must be prepared as transport nodes. 

For each ESXi host in the NSX-T Fabric to be used for <%= vars.product_short %>-provisioned Kubernetes clusters, create an associated transport node. For example, if you have three ESXi hosts in the vCenter Cluster reserved for <%= vars.product_short %> use, create three transport nodes. Add the Overlay Transport Zone to each ESXi Host Transport Node.

These instructions assume that for each participating ESXi host, the ESXi hypervisor is installed and the `vmk0` is configured. In addition, each ESXi host must have at least one free nic/vmnic for use with NSX-T Host Transport Nodes that is not in use by other vSwitches on the ESXi host. Make sure the `vmnic1` (second physical interface) of the ESXi host is not used. NSX-T will take ownership of it, and opaque NSX vSwitch will use it as uplink. 

<p class="note"><strong>Note</strong>: The Transport Nodes must be placed on free host NICs not already used by other vSwitches on the ESXi host. Use the <code>VTEPS</code> IP pool that allows ESXi hosts to route and communicate with each other, as well as other Edge Transport Nodes.</p>

##<a id='prep-esxi-configure'></a> Create Host Transport Nodes

Complete the following operation for each ESXi host to be used by the <%= vars.k8s_runtime_abbr %> Compute Cluster:

1. In NSX-T Manager, go to **System** > **Fabric** > **Nodes** > **Host Transport Nodes**.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_54.png">

1. For the **Managed by** field, select **VMware vCenter Server App** from the dropdown menu.
<p class="note"><strong>Note</strong>: This assumes that you configured <a href="./nsxt-2-5-installation-add-manager-nodes.html">vCenter as the Compute Manager</a>.</p>

1. Expand the Cluster icon so the ESXi hosts are displayed.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_54.png">

1. Select the ESXi compute host and click **Configure NSX**.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_55.png">

1. At the **Host Details** screen, click **Next** to configure the ESXi host as a transport node.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_57.png">

1. Configure the ESXi host as follows:
  * **Transport Zone**: TZ-Overlay
  * **N-VDS Name**: `N-VDS-OVERLAY`
  * **NIOC Profile**: `nsx-default-noic-hostswitch-profile`
  * **Uplink Profile**: `nsx-default-uplink-hostswitch-profile`
  * **LLDP Profile**: LLDP [Send Packet Disabled]
  * **IP Assignment**: `Use IP Pool`
  * **IP POOL**: `TEP-IP-POOL`
  * **Physical NICs**: `vmnic1` and `uplink-1`
  * **PNIC only Migration**: No
  <img src="images/nsxt/nsxt-25/nsx-edge-250_58.png">
  <img src="images/nsxt/nsxt-25/nsx-edge-250_59.png">

1. Click **Finish** to create the ESXi Transport Node.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_60.png">

1. Repeat the process for each ESXi host in the vSphere Cluster dedicated for <%= vars.product_short %>.

##<a id='prep-esxi-verify'></a> Verify ESXi Host Preparation for <%= vars.product_short %>

1. In NSX Manager, go to **System** > **Fabric** > **Nodes** > **Host Transport Nodes**.

1. For the **Managed by** field, select **VMware vCenter Server App** from the dropdown menu.

1. Verify that the **Node Status** is **Success** for the ESXi host.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_60.png">

1. Select the information icon for the EXSi host in the **Node Status** column. Verify that **Tunnel Status** is **Up**.

1. Verify that the NSX TEP vmk is created on ESXi host and TEP to TEP communication (with Edge TN for instance) works.

		[root@ESXi-1:~] esxcfg-vmknic -l
		[root@ESXi-1:~] vmkping ++netstack=vxlan <IP of the vmk10 interface> -d -s 1500

##<a id='next'></a> Next Step

[Verify NSX-T v2.5 Installation](./nsxt-2-5-installation-verify-env.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T Data Center v2.5 for <%= vars.product_short %></a>.
