---
title: Deploying NSX-T v2.4 for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

To deploy NSX-T for <%= vars.product_full %>, complete the following set of procedures, in the order presented.

<p class="note"><strong>Note:</strong> The instructions provided in this topic are for NSX-T v2.4. If you are using NSX-T v2.3.1, see <a href="./nsxt-deploy.html">Deploying NSX-T v2.3.1 for Enterprise PKS</a>.</p>

##<a id='nsxt-24-prereqs'></a> Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./vsphere-nsxt-requirements.html">vSphere with NSX-T Version Requirements</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T</a>
  </li>
  <li>
    <a href="./nsxt-topologies.html">NSX-T Deployment Topologies for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-env.html">Preparing to Deploy <%= vars.product_short %> with NSX-T on vSphere</a>
  </li>
</ul>

##<a id='ui-nsxt-24'></a> NSX-T v2.4 Management Interfaces

This section describes the NSX-T v2.4 management interface options, differences, use cases, and recommendations.

<p class="note"><strong>Note:</strong> NSX-T v2.4 implements a new Policy API and a new NSX Manager user interface (UI) based on the Policy API. Enterprise PKS does not support the Policy API or Policy-based UI. Enterprise PKS supports the NSX Management API, which is exposed via the "Advanced Networking" tab of the of the NSX Manager UI. When installing and configuring NSX-T v2.4 for use with Enterprise PKS, use the "Advanced Networking" tab to create any required networking objects.</p>

###<a id='ui-nsxt-24-options'></a> Interface Options

With NSX-T 2.4 you have two options to interact with NSX Manager:

1. Simplified UI/API
  - New declarative interface introduced in NSX-T 2.4 that uses the new Declarative API/Data Model (Policy API).
  - The NSX-T Container Plugin (NCP) that is embedded in the Enterprise PKS tile does not support the Policy API at this time.
  - You cannot use the Simplified UI/API to manage NSX-T for use with Enterprise PKS upgrades and new installations.

1. Advanced UI/API 
  - Legacy imperative interface based on the NSX Management API.
  - Provides the NSX-T v2.3 user interface to address Enterprise PKS installation and upgrade use cases. Currently NCP only supports the Management API.
  - The Advanced UI/API will be deprecated over time; all features and use cases will eventually be transfered to the Simplified UI/API.

As shown in the picture below, for all Enterprise PKS workloads, use the **Advanced Networking and Security** tab to create, read, update, and delete required network objects. For NSX-T host perparation and configuration, such as deploying NSX Managers and Edge Nodes, use the **System** tab. Do not use the "Simplified UI" for Enterprise PKS objects.

  <img src="images/nsxt/nsxt-24-ui.png" alt="NSX-T v2.4 User Interface" width="725">

<p class="note"><strong>Note:</strong> The NSX-T Container Plugin (NCP) that is embedded in the Enterprise PKS tile does not currently support the Policy API. Make sure you use the **Advanced Networking and Security** tab of the of the NSX Manager UI when configuring NSX-T for use with Enterprise PKS.</p>

###<a id='ui-nsxt-24-upgrade'></a> Upgrading to PKS v1.4 and NSX-T v2.4

In the case of upgrade from NSX-T v2.3 to v2.4, the existing NSX-T v2.3 configuration is copied to NSX-T v2.4 under the **Advanced Networking and Security** tab. The network objects required by PKS can only be managed from this user interface. In other words, this configuration will not be shown in the Simplified UI. When you upgrade to NSX-T v2.4, the Simplified UI will show a  information banner that indicates the objects are available in the "Advanced Networking" tab.

For instructions on upgrading NSX-T from v2.3 to v2.4 for Enterprise PKS, see <a href="./upgrade-pks-nsxt.html">Upgrading Enterprise PKS with NSX-T</a>.

##<a id='install-nsxt-24'></a> Installing PKS v1.4 with NSX-T v2.4

To perform a new installation of NSX-T v2.4 with Enterprise PKS v1.4, complete the steps.

1. [Prepare for Installing NSX-T 2.4](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-EC9633E5-3CF1-433B-B7B5-FC9BBB3EE8F0.html).
1. [Install NSX Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-A65FE3DD-C4F1-47EC-B952-DEDF1A3DD0CF.html#GUID-A65FE3DD-C4F1-47EC-B952-DEDF1A3DD0CF) using the **System** tab.
1. [Deploy Additional NSX Manager Nodes to Form a Management Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-11417AA2-5EBC-49C7-8A86-EB94604261A6.html) using the **System** tab.
1. [Assign a Virtual IP Address and Certificate to the NSX-T Manager Cluster](https://docs.vmware.com/en/VMware-Validated-Design/5.0.1/com.vmware.vvd.sddc-nsxt-domain-deploy.doc/GUID-B7019BCE-4FA1-40BB-8DC2-EE47967A47F1.html?hWord=N4IghgNiBcIGoEkAKIC+Q) using the **System** tab.
1. [Install One or More Pairs of NSX Edge Nodes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-AECC66D0-C968-4EF2-9CAD-7772B0245BF6.html) using the **System** tab.
	<p class="note"><strong>Warning:</strong> For Enterprise PKS you must install a large size VM form factor or the bare metal Edge Node. See <a href="./nsxt-prepare-env.html#nsx-edges">Deploy NSX Edge Nodes</a> for more information.</p>
1. [Create an NSX Edge Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-898099FC-4ED2-4553-809D-B81B494B67E7.html) using the **System** tab.
1. [Join NSX Edge Nodes with the Management Plane](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-11BB4CF9-BC1D-4A76-A32A-AD4C98CBF25B.html) using the **System** tab.
1. [Enable Repository Service on NSX Manager](./nsxt-deploy.html#enable-repo). Repeat this step for each NSX Manager.
1. [Create an IP Pool for Tunnel Endpoint IP Addresses](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html) using the **System** tab.
1. [Create Overlay and VLAN Transport Zones](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-F739DC79-4358-49F4-9C58-812475F33A66.html) using the **System** tab.
1. [Create an Uplink Profile](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-50FDFDFB-F660-4269-9503-39AE2BBA95B4.html) using the **System** tab.
1. [Create Edge Transport Nodes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-53295329-F02F-44D7-A6E0-2E3A9FAE6CF9.html) using the **System** tab. 
1. [Configure Edge Nodes for HA](./nsxt-deploy.html#create-edge-ha) using the **System** tab.
1. [Prepare ESXi Hosts as Transport Nodes for NSX-T](./nsxt-deploy.html#prepare-esxi) using the **System** tab.
1. [Create a Tier-0 Logical Router](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/administration/GUID-7891E6E7-606D-4F79-8AB7-BC01898F9FE7.html) using the **Advanced Networking and Security** tab in NSX Manager.
1. [Create the Enterprise PKS Management Plane](./nsxt-prepare-mgmt-plane.html) using the **Advanced Networking and Security** tab in NSX Manager.
1. [Create the PKS Compute Plane](./nsxt-prepare-compute-plane.html) using the **Advanced Networking and Security** tab in NSX Manager.
1. [Deploy Ops Manager 2.4.3+](./vsphere-nsxt-om-deploy.html).
1. [Generate and Register the NSX Manager Cluster Certificate](./generate-nsx-ca-cert-24.html) (if you have not already done so). 
1. [Configure BOSH Director with NSX-T for Enterprise PKS](./vsphere-nsxt-om-config.html). 
1. [Generate and Register the NSX Manager Superuser Principal Identity Certificate and Key](./generate-nsx-pi-cert.html).
1. [Create NSX-T Objects for Enterprise PKS](nsxt-create-objects.html) using the **System** tab in NSX Manager.
1. [Install Enterprise PKS on vSphere with NSX-T v2.4](./installing-nsx-t.html).

