---
title: Create Transport Zones
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for creating transport zones for use with Enterprise PKS.

##<a id='tep-about'></a>About Transport Zones

A transport zone is a logical construct in NSX-T that controls which hosts a logical switch can reach. It can span one or more host clusters. Transport zones dictate which hosts and, therefore, which VMs can participate in the use of a particular network. 

A Transport Zone defines a collection of hosts that can communicate with each other across a physical network infrastructure. This communication happens over one or more interfaces defined as Virtual Tunnel Endpoints (VTEPs).

The transport nodes are the hosts running the local control plane daemons and forwarding engines implementing the NSX-T Data Center data plane. The transport nodes consists of a NSX-T Data Center Virtual Distributed Switch (N-VDS), which is responsible for switching packets according to the configuration of available network services.

A host can serve as a transport node if it contains at least one NSX managed virtual distributed switch (N-VDS, previously known as hostswitch). When you create a host transport node and then add the node to a transport zone, NSX-T Data Center installs an N-VDS on the host. For each transport zone that the host belongs to, a separate N-VDS is installed. The N-VDS is used for attaching VMs to NSX-T Data Center logical switches and for creating NSX-T Data Center logical router uplinks and downlinks. 


##<a id='create-tz-overlay'></a>Create Overlay Transport Zone 

Create an [NSX Overlay Transport Zone](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.install.doc/GUID-AC4A0159-DF37-47F6-A333-33C7945570D1.html) (TZ-Overlay) for <%= vars.product_short %> Control Plane services and Kubernetes Cluster deployment overlay networks. For instructions, see [Create Overlay TZ](nsxt-deploy.html#create-tz-overlay).

Create an Overlay Transport Zone (`TZ-Overlay`) for PKS control plane services and Kubernetes clusters associated with associated with VDS `hostswitch1`.

To create TZ-Overlay, complete this procedure: [Create Transport Zones](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.install.doc/GUID-F739DC79-4358-49F4-9C58-812475F33A66.html).

When creating the TZ-Overlay for <%= vars.product_short %>, refer to the following example:

  <img src="images/nsxt/nsx-misc/tz-overlay-01.png">

To verify TZ-Overlay creation:

1. In NSX Manager select **Fabric > Transport Zones**.

1. Verify that you see the TZ-Overlay transport zone you created:

  <img src="images/nsxt/nsx-misc/tz-overlay-02.png">

##<a id='create-tz-vlan'></a>Step 9: Create VLAN Transport Zone 

##<a id='nsx-vlan'></a> Step 10: Create VLAN Transport Zone

Create an [NSX VLAN Transport Zone](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.install.doc/GUID-AC4A0159-DF37-47F6-A333-33C7945570D1.html) (TZ-VLAN) for NSX Edge uplinks (ingress/egress) for <%= vars.product_short %>-managed Kubernetes clusters. For instructions, see [Create VLAN TZ](nsxt-deploy.html#create-tz-vlan).

Create the VLAN Transport Zone (`TZ-VLAN`) for NSX Edge Node uplinks (ingress/egress) for <%= vars.product_short %> Kubernetes clusters associated with VDS `hostswitch2`.

To create TZ-VLAN, complete this procedure: [Create Transport Zones](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.3/com.vmware.nsxt.install.doc/GUID-F739DC79-4358-49F4-9C58-812475F33A66.html).

When creating the TZ-VLAN for <%= vars.product_short %>, refer to the following example:

  <img src="images/nsxt/nsx-misc/tz-vlan-01.png">

To verify TZ-VLAN creation:

1. In NSX Manager select **Fabric > Transport Zones**.

1. Verify that you see the TZ-VLAN transport zone:

  <img src="images/nsxt/nsx-misc/tz-vlan-02.png">