---
title: Installing and Configuring NSX-T Data Center for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides the workflow for installing and configuring NSX-T Data Center for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-install-tasks'></a> Workflow for Installing and Configuring NSX-T Data Center 

To perform a new installation of NSX-T Data Center for <%= vars.product_full %>, complete the following steps in the order presented.

1. [Complete the prerequisites for installing NSX-T for <%= vars.product_short %>](./nsxt-install-prereqs.html).

1. [Install the NSX Manager Unified Appliance for Enterprise PKS](./nsxt-install-nsx-manager.html) using the OVA template file.

1. [Deploy Two Additional NSX Manager Nodes and Form an NSX Management Cluster](./nsxt-install-nsx-mgmt-cluster.html).

1. [Configure a Virtual IP Address for the NSX-T Management Cluster](./nsxt-install-mgmt-vip.html).
  <p class="note"><strong>Note:</strong> Configure a VIP to provide high availability (HA) for the NSX-T Management Cluster.</p>

1. [Install One or More Pair of NSX Edge Nodes](./nsxt-install-edge-node-install.html) using the OVA template file.
  <p class="note"><strong>Note:</strong> You must install a large size Edge Node VM or the bare metal Edge Node for <%= vars.product_short %>.</p>

1. [Join Each Edge Node with the NSX-T Management Plane](./nsxt-install-edge-node-join.html).

1. [Enable the Repository Service on Each NSX-T Manager Node](./nsxt-install-enable-vib.html).

1. [Create an IP Pool for Tunnel Endpoint IP Addresses](./nsxt-install-create-tep.html).

1. [Create Overlay and VLAN Transport Zones](./nsxt-install-create-tzs.html).

1. [Create Edge Node Uplink Profile](./nsxt-install-create-uplink-profile.html).

1. [Create Edge Transport Nodes](./nsxt-install-create-tns.html).

1. [Create an Edge Cluster](./nsxt-install-create-edge-cluster.html).

1. [Create a Tier-0 Logical Router](./nsxt-install-create-t0.html).
  <p class="note"><strong>Note:</strong> If you are using NAT-mode, you must configure the T0 router in Active-Standby mode.</p>

1. [Configure Edge Node High Availability (HA)](./nsxt-install-configure-edge-ha.html).

1. [Configure ESXi Hosts as Transport Nodes](./nsxt-install-prep-esxi-hosts.html).

1. (Optional) [Update the NSX-T Admin Password Interval](./nsxt-install-update-password.html).
  <p class="note"><strong>Note:</strong> By default the NSX-T admin password expires in 90 days.</p>

1. (Optional) [Provision a Load Balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html).
  <p class="note"><strong>Note:</strong> To scale, provision an NSX-T load balancer in place of the NSX-T Management Cluster VIP.</p>

1. (Reference) [Verify NSX VM Deployment for Enterprise PKS ](./nsxt-install-verify-vm-deployment.html).
  <p class="note"><strong>Note:</strong> Refer to this topic to verify the installation of the NSX-T Manager and Edge Node VMs.</p>
