---
title: NSX-T Deployment Topologies for Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topic describes supported topologies for deploying <%= vars.product_full %> with NSX-T.

##<a id='topology-nat'></a> NAT Topology

The following figure shows a Network Address Translation (NAT) deployment:

![NAT Topology](images/vsphere/nsxt-topology-nat.png)

[View a larger version of this image.](images/vsphere/nsxt-topology-nat.png)

This topology has the following characteristics:

* <%= vars.k8s_runtime_abbr %> Management Plane (Ops Manager, BOSH Director, and <%= vars.product_short %> VMs such as the <%= vars.control_plane %> and <%= vars.control_plane_db %> VMs) components are all located on a logical switch that has undergone Network Address Translation on a T0.
* Kubernetes cluster master and worker nodes are located on a logical switch
that has undergone Network Address Translation on a T0. This requires DNAT rules to allow access to Kubernetes APIs.

## <a id='topology-no-nat'></a> No-NAT Topology

A No-NAT topology uses a routable IP subnet for the <%= vars.k8s_runtime_abbr %> Management network and for Kubernetes nodes.

There are two flavors of No-NAT topology: No-NAT with Virtual Switch or No-NAT with Logical Switch.

###<a id='topology-no-nat-virtual-switch'></a> No-NAT with Virtual Switch (VSS/VDS) Topology

The following figure shows a No-NAT with Virtual Switch (VSS/VDS) deployment:

![No-NAT Topology with Virtual Switch](images/vsphere/nsxt-topology-no-nat-virtual-switch.png)

[View a larger version of this image.](images/vsphere/nsxt-topology-no-nat-virtual-switch.png)

This topology has the following characteristics:

* <%= vars.k8s_runtime_abbr %> Management Plane (Ops Manager, BOSH Director, and <%= vars.product_short %> VMs such as the <%= vars.control_plane %> and <%= vars.control_plane_db %> VMs) components are using corporate routable IP addresses.
* Kubernetes cluster master and worker nodes are using corporate routable IP addresses.
* The <%= vars.k8s_runtime_abbr %> Management Plane is deployed outside of the NSX-T network and the Kubernetes clusters are deployed and managed within the NSX-T network. Since BOSH needs routable access to the Kubernetes Nodes to monitor and manage them, the Kubernetes Nodes need routable access.

###<a id='topology-no-nat-logical-switch'></a> No-NAT with Logical Switch (NSX-T) Topology

The following figure shows a No-NAT with Logical Switch (NSX-T) deployment:

![No-NAT Topology with Logical Switch](images/vsphere/nsxt-topology-no-nat-logical-switch.png)

[View a larger version of this image.](images/vsphere/nsxt-topology-no-nat-logical-switch.png)

This topology has the following characteristics:

* <%= vars.k8s_runtime_abbr %> Management Plane (Ops Manager, BOSH Director, and <%= vars.product_short %> VMs such as the <%= vars.control_plane %> and <%= vars.control_plane_db %> VMs) components are using corporate routable IP addresses.
* Kubernetes cluster master and worker nodes are using corporate routable IP addresses.
* The <%= vars.k8s_runtime_abbr %> Management Plane is deployed inside of the NSX-T network. Both the <%= vars.k8s_runtime_abbr %> Management Plane components (VMs) and the Kubernetes Nodes use corporate routable IP addresses.

## <a id='topology-hybrid'></a> Hybrid Topology

With a hybrid topology, the <%= vars.k8s_runtime_abbr %> Management Network is on a routable subnet, while the Kubernetes Nodes Network uses a non-routable subnet (NAT mode is checked in the <%= vars.k8s_runtime_abbr %> tile).

The following figure shows a hybrid topology deployment:

![Hybrid Topology](images/vsphere/nsxt-topology-hybrid.png)

[View a larger version of this image.](images/vsphere/nsxt-topology-hybrid.png)

This topology has the following characteristics:

* <%= vars.k8s_runtime_abbr %> Management Plane (Ops Manager, BOSH Director, and <%= vars.product_short %> VMs such as the <%= vars.control_plane %> and <%= vars.control_plane_db %> VMs) components are using corporate routable IP addresses.
* Kubernetes cluster master and worker nodes are located on a logical switch that has undergone Network Address Translation on a T0. This requires DNAT rules to allow access to Kubernetes APIs.

## <a id='stretched'></a> vSAN Stretched Cluster Topologies

A vSAN stretched cluster topology runs across two sites to support highly resilient workloads. vSAN stretched cluster topologies include:

* Topology 1: Dedicated vSphere clusters
* Topology 2: Fully collapsed vSphere clusters

For more information about vSAN stretched cluster topologies for <%= vars.product_short %>,
see [Solution Guide for Enabling Highly Resilient Kubernetes Workloads Using vSAN Stretched Clusters](https://d1fto35gcfffzn.cloudfront.net/VMware-Enterprise-PKS-Using-vSAN-Stretched-Clusters-to-Enable-Resilient-Kubernetes-Workloads.pdf).
