---
title: Provisioning NSX-T v2.4 Load Balancer to Front the NSX Management Cluster in Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic describes how to deploy a load balancer for the NSX-T Management Cluster for <%= vars.product_short %>.

<p class="note"><strong>Note:</strong> The instructions provided in this topic are for NSX-T v2.4.</p>

##<a id='about'></a> About the NSX Management Cluster

NSX-T v2.4 introduces a converged management and control plane that is referred to as the **NSX-T Managment Cluster**. The new deployment model delivers high hvailability of the NSX Manager UI and API, reduces the likelihood of operation failures of NSX-T, and provides API and UI clients with multiple endpoints or single VIP for high availability.

In addition to high availability, the NSX Management Cluster allows for increased processing capability and fair distribution of API load among multiple instances of management nodes. To make use of such capability, the NSX Management Cluster can be fronted by a load balancer that distributes the load among the node members of the management cluster.

The diagram below shows the NSX Management Cluster using a virtual IP and a load balancer fronting the management nodes.

  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-01.png" alt="NSX Managment Cluster with Load Balancer" width="725">

Using a NSX Management Cluster with VIP gives you high-availability. The VIP attaches to one of the NSX Manager hosts. If that host goes down, the VIP attaches to another NSX Manager host in the management cluster. Using a load balancer is for high-scale, multi-cluster environments where you need additional capacity. With a load balancer, the load is fairly distributed across all hosts in the management cluster, giving you three times the capacity.

###<a id='interactions'></a> Component Interaction with the NSX Management Cluster

Various components in an <%= vars.product_short %> deployment interact with the NSX Management Cluster.

PKS Control Plane components:

- Ops Manager
- BOSH CPI (Cloud Provider Interface)
- NSX-T OSB Proxy

Kubernetes Cluster components:

- BOSH jobs running on Kubernetes master nodes to prepare and update Kubernetes clusters
- NSX-T Container Plugin (NCP)

The interaction of the PKS Control Plane components and the BOSH jobs with the NSX-T Management Cluster is sporadic. However, the NCP component may demand a high level of scalability for the NSX-T API processing capability of the NSX Management Cluster, and NCP is vital to the networking needs of each Kubernetes cluster. When a high number of Kubernetes clusters are subjected to concurrent activities, such as Pod and Service lifecycle operations, multiple NCP instances may tax the system and push NSX-T API processing to its limits.

###<a id='provisioning'></a> Load Balancer Provisioning for the NSX Management Cluster

While using a VIP to access the NSX-T Manager provides high-availability, it does not balance the load. To avoid overloading a single NSX-T Manager, as may be the case when HA VIP addressing is used, an NSX-T load balancer can be provisioned to allow NCP and other components orchestrated by PKS to distribute load efficiently among NSX Management Cluster nodes.

The standard NSX-T topology for <%= vars.product_short %>--Tier-0 Router, Managment Cluster with Nodes, Edge Cluster with Nodes--can be enhanced to include a load balancer for the management layer. A virtual server is configured on the load balancer, and a virtual IP address is associated with the virtual server. This VIP can be used as the entry-point for PKS- and NCP-related API requests on the NSX-T Control Plane. The virtual server includes a member pool where all NSX-T Management Cluster nodes belong. Additionally, health monitoring is enabled for the member pool to quickly and efficiently address potential node failures detected among the NSX-T Management Cluster.

The new Load Balancer, deployed within the NSX-T environment, intercepts requests to the NSX-T Management Cluster. The virtual server selects one of the NSX-T Manager nodes to handle the request, rewrite the destination IP address to reflect the selection, and SNAT-translate the packet to a new Virtual IP Address.

The diagram below depicts a standard NSX-T topology for <%= vars.product_short %> with a Tier-1 Router and load balancer for the NSX Management Cluster.

  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-02.png" alt="NSX Managment Cluster with Load Balancer" width="725">

##<a id='prereqs'></a> Prerequisites for Provisioning a Load Balancer for the NSX-T Management Cluster

Before you provision a load balancer for the NSX-T Management Cluster, ensure that your environment is configured as follows: 

- NSX-T 2.4 is installed and configured for servicing an Enterprise PKS environment. See <a href="./nsxt-deploy-24.html#install-nsxt-24">Installing PKS v1.4 with NSX-T v2.4</a>.
- Transport zone, transport node, Edge Cluster, Edge Node connectivity, and Tier-0 Router are deployed and operational with proper static routes or BGP. See <a href="./nsxt-deploy-24.html#install-nsxt-24">Installing PKS v1.4 with NSX-T v2.4</a>.
- Enough Edge Cluster resources to deploy a new small-size load balancer VM. 
- A dedicated IP Address is available to be used as VIP and SNAT IP address for the new load balancer. The IP address needs to be globally routable from networks external to NSX-T. This IP address can be carved out from the standard IP Pool required by PKS.
- A NSX-T Management Cluster with 3 nodes is provisioned with HA VIP (NSX-T Manager VIP). See <a href="./nsxt-deploy-24.html#install-nsxt-24">Installing PKS v1.4 with NSX-T v2.4</a>.
- A new NSX-T Manager CA certificate has been generated using the HA VIP address. Make sure the CA cert generated includes the pre-allocated IP Address mentioned above as part of the alt_names section of the certificate configuration (see image below). See <a href="./generate-nsx-ca-cert-24.html">Generating and Registering the NSX Manager Cluster Certificate for Enterprise PKS (NSX-T v2.4)</a>.
- The new certificate is registered with NSX-T using the Cluster Certificate API. See <a href="./generate-nsx-ca-cert-24.html">Generating and Registering the NSX Manager Cluster Certificate for Enterprise PKS (NSX-T v2.4)</a>.

##<a id='provision'> Provision the NSX-T Load Balancer for the Management Cluster

To provision the load balancer for the NSX-T Management Cluster, complete the following steps.

###<a id='s1'> Step 1: Log in to NSX-T Manager.

1. Log in to NSX-T Manager.
<p class="note"><strong>Note</strong>: You can connect to any NSX-T Manager node in the management cluster to provision the load balancer.</p>
1. Select the **Advanced Networking & Security** tab.
<p class="note"><strong>Note</strong>: You must use the <strong>Advanced Networking and Security</strong> tab in NSX-T Manager to create, read, update, and delete all NSX-T networking objects used for Enterprise PKS.</p>

###<a id='s2'> Step 2: Add and configure a logical switch.

Add and configure a new logical switch for the load balancer.

- Select **Switching**.
- Click **Add**.
- Configure the logical switch:
  - Name: Enter a name for the logical switch, such as **LS-NSX-T-EXTERNAL-LB**.
  - Transport Zone: Select the overlay transport zone, such as **TZ-OVerlay**.
- Click **Add**.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-05.png" alt="Add New Logical Switch" width="525">

###<a id='s3'> Step 3: Add and configure a Tier-1 Router.

Configure a new Tier-1 Router in Active/StandBy mode. Create the Tier-1 Router on the same Edge Cluster where the Tier-0 Router that provides external connectivity to vCenter and NSX Manager is located.

- Select **Routers**.
- Click **Add** > **Tier-1 Router**.
- Configure the new Tier-1 Router and click *Add*.
  - Name: **T1-NSX-T-EXTERNAL-LB**, for example.
  - Tier-0 Router: Connect the Tier-1 Router to the Tier-0 Router, for example **Shared-T0**.
  - Edge Cluster: Select the same Edge Cluster where the Tier-0 Router is located, such as **edgecluster1**.
  - Edge Cluster members: **edge-TN1** and **edge-TN2**, for example.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-06.png" alt="Add Tier-1 Router" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-07.png" alt="Configure Tier-1 Router" width="725">

###<a id='s4'> Step 4: Configure route advertisement.

Configure Route Advertisement for the Tier-1 Router.

- Select the Tier-1 Router.
- Select the **Routing** tab.
- Select **Route Advertisement** > **Edit**.
- Enable Route Advertisement for all load balancer VIP routes for the Tier-1 Router:
  - Status: enabled
  - Advertise all LB VIP routes: yes
  - Advertise all LB SNAT IP routes: yes
  - Click **Save**

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-08.png" alt="Advertise Routes" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-09.png" alt="Advertise Routes" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-10.png" alt="Advertise Routes" width="525">

###<a id='s5'> Step 5: Verify logical switch and router configuration.

Verify successful creation and configuration of the logical switch and router.

- Select the Tier-1 Router.
- Select the **Configuration** tab.
- At this point the T1 should have a single linked port connecting the Tier-1 Router to the Tier-0 Router.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-11.png" alt="Verify Logical Switch and Router" width="525">

###<a id='s6'> Step 6: Add and configure a load balancer.

Create a new small-size Load Balancer and attach it to the Tier1 router previously created.

<p class="note"><strong>Note</strong>: The small-size VM is suitable for the NSX Management Cluster load balancer. Make sure you have enough Edge Cluster resources to provision the load balancer.</p>

- Select **Load Balancers**.
- Click **Add**.
- Select the Small load balancer and name it.
- Click OK.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-12.png" alt="Add Load Balancer" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-13.png" alt="Configure Load Balancer" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-14.png" alt="Confirm Load Balancer" width="525">

###<a id='s7'> Step 7: Attach the load balancer to the router.

Attach the load balancer to the Tier-1 Router previously created.

- Select the load balancer you just provisioned.
- Select the **Overview** tab.
- Select **Attachment** > **Edit**.
- Tier-1 Logical Router: Enter the name of the Tier-1 router you configured, for example `T1-NSX-T-EXTERNAL-LB`.
- Click **OK**.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-15.png" alt="Attach Load Balancer 1" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-16.png" alt="Attach Load Balancer 2" width="525">

###<a id='s8'> Step 8: Add and configure a virtual server for the load balancer.

- Select **Load Balancers** > **Virtual Servers**.
- Click **Add**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-17.png" alt="Add Virtual Server" width="525">
  
Configure General Properties for the Virtual Server.

- Name: VS-NSX-T-EXTERNAL-LB
- Appliaiton Types: Layer 4 TCP
- Application Profile: default-tcp-lb-app-profile
- Access Log: Disabled
- Click **Next**

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-18.png" alt="Virtual Server General Properties" width="525">

Configure Virtual Server Identifiers.

- IP Address: Etner an IP address from the floating pool, such as `10.40.14.250`.
- Port: 443
- Click **Next**
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-19.png" alt="Virtual Server Identifiers" width="525">

Configure Virtual Server Pool.

- Click **Create a New Server Pool**.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-20.png" alt="Add Server Pool" width="525">

Configure General Properites for the Server Pool:

- Name the server pool, for example `NSX-T-MGRS-SRV-POOL`
- Load Balancing Algorithm: ROUND_ROBIN
- Click **Next**
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-21.png" alt="Server Pool General Properties" width="525">

Configure SNAT Translation for the Server Pool:

- Translation Mode: IP List
- IP address: Enter the NSX-T Virtual Switch IP (VIP) address here, for example `10.40.14.250`.
- Click **Next**.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-22.png" alt="Server Pool SNAT Translation" width="525">  

Configure Pool Members for the Server Pool:

- Membership Type: Static.
- Add all 3 NSX Managers as members, each with port 443.
- Click **Next**.

<img src="images/nsxt/mgmt-cluster/mgmt-cluster-23.png" alt="Server Pool Members" width="525">  

Configure Health Monitors:
- We will create the Health Monitors separately.
- Click **Finish.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-24.png" alt="Health Monitors" width="525">  

Back at the Server Pool screen, click **Next**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-25.png" alt="Server Pool" width="525">  

Configure Load Balancing Profiles:
- Persistence Profile: source IP: default-source-ip-lb-persistence-profile
- Click Finish.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-26.png" alt="Load Balancing Persistence Profile" width="525">
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-27.png" alt="Load Balancing Persistence Profile" width="525"> 

###<a id='s9'> Step 9: Attach the virtual server to the load balancer.

Attach the virtual switch to the NSX-T load balancer.

- Click on the Virtual Server and then select Load Balancers tab.
- Click **Attach**.
- Load Balancer: Specificy the load balancer to attach, such as `NSX-T-EXTERNAL-LB`.
- Click OK.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-28.png" alt="Attach Load Balancer 1" width="525">  
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-29.png" alt="Attach Load Balancer 2" width="525">  
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-30.png" alt="Attach Load Balancer 2" width="525">  

###<a id='s10'> Step 10: Verify the load balancer.

Once the load balancer is configured, you should be able to do the following:

- Ping the NSX-T load balancer VIP address from your local machine.
- Access the NSX-T load balancer VIP address, for example `https://10.40.14.250`.

<p class="note"><strong>Note:</strong> Because you selected the `default-source-ip-lb-persistence-profile`, the URL redirects to the same NSX-T Manager. Persistence is done on the source IP.</p>

###<a id='s11'> Step 11: Create a new Active Health Monitor (HM).

Create a new Active Health Monitor (HM) for NSX Management Cluster members. Configure the new Active Health Monitor with the Health Check protocol `LbHttpsHeathMonitor`. To do this:

- Select **Load Balancers** > **Server Pools**.
- Select the server pool previously created (for example, **NSX-T-MGRS-SRV-POOL**). 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-31.png" alt="Select Server Pool" width="525">  
- Select the **Overview** tab
- Click **Health Monitor** > **Edit**
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-32.png" alt="Health Monitor Edit" width="525">  
- Click **Create a new active monitor**
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-33.png" alt="New Active HM" width="525">  

Configure Monitor Properties:

- Name: NSX-T-Mgr-Health-Monitor
- Health Check Protocol: LbHttpsMonitor
- Monitoring Port: 443
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-34.png" alt="Monitor Properties" width="525">  

Configure Health Check Parameters. Configure the new Active HM with specific HTTP request fields as follows:

- SSL Protocols: Select the TLS_v2 and v2 prootocols.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-35.png" alt="SSL Protocols" width="525">  
- SSL Ciphers: Select **Balanced** (recommended)

HTTP Request Configuration:

- HTTP Method: GET
- HTTP Request URL: /api/v1/reverse-proxy/node/health
- HTTP Request Version: HTTP_VERION_1_1
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-36.png" alt="HTTP Request Configuration" width="525"> 

HTTP Request Headers:

- Authorization: `Basic YWRtaW46Vk13YXJlMSE=`, which is base64 encoded. 
- Content-Type: application/json
- Accept: application/json
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-37.png" alt="HTTP Request Headers" width="525"> 

<p class="note"><strong>Note:</strong> In the example, `YWRtaW46Vk13YXJlMSE=` is the base64-encoded value of the NSX-T administrator credentials, expressed in the form 'admin-user:password'. You can use the free online service <https://www.base64encode.org/> to base64 encode your values.</p>

HTTP Response Configuration:

- HTTP Response Code: 200.
- Click Finish.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-38.png" alt="Health Check Parameters" width="525"> 

Lastly, back at the Health Monitors screen, specify the Active Health Monitor you just created:
- Active Health Monitor: NSX-T-Mgr-Health-Monitor.
- Click Finish.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-39.png" alt="Health Check Parameters" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-40.png" alt="Health Check Parameters" width="525"> 

###<a id='s12'> Step 12: Create SNAT Rule.

If your Enterprise PKS deployment uses NAT mode, make sure Health Monitoring traffic is correctly SNAT-translated when leaving the NSX-T topology. Add a specific SNAT rule that intercepts HM traffic generated by the load balancer and translates this to a globally-routable IP Address allocated using the same principle of the load balancer VIP. The following screenshot illustrates an example of SNAT rule added to the Tier0 Router to enable HM SNAT translation. In the example, `100.64.128.0/31` is the subnet for the Load Balancer Tier-1 uplink interface.

To do this you need to retrieve the IP of the T1 uplink (Tier-1 Router that connected the NSX-T LB instance). In the example below, the T1 uplink IP is `100.64.112.37/31`.
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-44.png" alt="Retrieve IP of the T1 Uplink" width="525"> 

Create the following SNAT rule on the Tier-0 Router:

- Priority: 2000
- Action: SNAT
- Source IP: 100.64.112.36/31
- Destination IP: 10.40.206.0/25
- Translated IP: 10.40.14.251
- Click **Save**
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-45.png" alt="SNAT rule for Health Monitor HTTP traffic, added to Tier0 router" width="525"> 

- Verify configuration of the SNAT rule and server pool health:
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-46.png" alt="Verify SNAT" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-47.png" alt="Verify SNAT" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-48.png" alt="Verify SNAT" width="525"> 

###<a id='s13'> Step 13: Verify that traffic is load balanced.

Verify the load balancer and that traffic is load balanced.

- Confirm that the status of the Logical Switch for the load balancer is Up.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-49.png" alt="Verify LS" width="525"> 
- Confirm that the status of the Virtual Server for the load balancer is Up.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-50.png" alt="Verify VS" width="525"> 
- Confirm that the status of the Server Pool is Up.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-51.png" alt="Verify LS" width="525">   
- Open an HTTPS session using multiple browser clients and confirm that traffic is load-balanced across different NSX-T Managers:
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-54.png" alt="Verify LS" width="525"> 

You can use the NSX API to validate that secure HTTP requests against the new VIP address are associated with the load balancer’s Virtual Server. Relying on the SuperUser Principal Identity created as part of PKS provisioning steps, you can cURL the NSX Management Cluster using the standard HA-VIP address or the newly-provisioned virtual server VIP. For example:

Before load balancer provisioning is completed:

```
curl -k -X GET "https://192.168.6.210/api/v1/trust-management/principal-identities" --cert $(pwd)/pks-nsx-t-superuser.crt --key $(pwd)/pks-nsx-t-superuser.key
```

After load balancer provisioning is completed:

```
curl -k -X GET "https://91.0.0.1/api/v1/trust-management/principal-identities" --cert $(pwd)/pks-nsx-t-superuser.crt --key $(pwd)/pks-nsx-t-superuser.key
```

Key behavioral differences among the two API calls is the fact that the call toward the Virtual Server VIP will effectively Load Balance requests among the NSX-T Server Pool members. On the other hand, the call made toward the HA VIP address would ALWAYS select the same member (the Active Member) of the NSX Management Cluster.

Residual configuration step would be to change PKS Tile configuration for NSX-Manager IP Address to use the newly-provisioned Virtual IP Address. This configuration will enable any component internal to PKS (NCP, NSX OSB Proxy, BOSH CPI, etc…)  to use the new Load Balancer functionality.

##<a id='gen-cert'> Generate a NSX-T Manager CA Certificate

Generate a new NSX-T Manager CA certificate using the external NSX-T LB VS IP.

###<a id='g1'> Step 1: Create the Certificate Signing Request (CSF) file named `nsx-crt.cnf`.

Using the VIP as the `commonName`:

```
[ req ]
default_bits = 2048
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no
[ req_distinguished_name ]
countryName = US
stateOrProvinceName = California
localityName = CA
organizationName = NSX
commonName = 10.40.14.250
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = 10.40.14.250
```

Or, using an FQDN:

```
[ req ]
default_bits = 2048
distinguished_name = req_distinguished_name
x509_extensions = v3_req
prompt = no
[ req_distinguished_name ]
countryName = US
stateOrProvinceName = California
localityName = CA
organizationName = NSX
commonName = 192.168.111.150
[ v3_req ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = 192.168.160.100
DNS.2 = *.pks.vmware.local
IP.1  = 192.168.160.100
```

###<a id='g2'> Step 2: Generate the certificate and private key.

For example:

```
export NSX_MANAGER_IP_ADDRESS=10.40.14.250
export NSX_MANAGER_COMMONNAME=10.40.14.250
```

```
openssl req -newkey rsa:2048 -x509 -nodes -keyout nsx.key -new -out nsx.crt -subj /CN=$NSX_MANAGER_COMMONNAME -reqexts SAN -extensions SAN -config <(cat ./nsx-cert.cnf <(printf "[SAN]\nsubjectAltName=DNS:$NSX_MANAGER_COMMONNAME,IP:$NSX_MANAGER_IP_ADDRESS")) -sha256 -days 365
```

###<a id='g3'> Step 3: Add the certificate to each of the NSX-T Manager nodes.

Add the certificate to each of the 3 NSX-T Managers. Once this is done, the same certificate is then replicated to the other NSX-T manager instances.

- Go to one of the NSX Managers in the NSX-T Managment Cluster.
- Select **System** > **Certificate**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-55.png" alt="System > Certificate" width="525"> 
- Select **Import** > **Import Certificate**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-56.png" alt="Import Certificate" width="525"> 
- Name: Enter a name for the certificate.
- Certificate Contents: Copy/paste the certitificate contents to this field.
- Priviate Key: Copy the private key to this field.
- Click **Save**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-57.png" alt="Import Certificate" width="525"> 

###<a id='g4'> Step 4: Register the certificate with NSX-T Manager appliances.

Run the following set of command for **each** NSX-T manager instance. The CERTIFICATE_ID should be the same for all 3 NSX-T Manager instances. For example:

```
export NSX_MANAGER_IP_ADDRESS=10.40.206.2
export CERTIFICATE_ID="ea65ee14-d7d3-49c3-b656-ee0864282654"
```

```
curl --insecure -u admin:'VMware1!' -X POST "https://$NSX_MANAGER_IP_ADDRESS/api/v1/node/services/http?action=apply_certificate&certificate_id=$CERTIFICATE_ID"
```

###<a id='g5'> Step 5: Verify that the certificate is being used.

- Proceed to the site and enter username/password.
- Double check the new cert is used by the site.
- Check using SSH on the NSX-T mgr node: `nsx-manager-1> get certificate api`.
- Access NSX-T Manager using the NSX-T load balancer VIP (for example, `10.40.14.250`).
- Verify that this node is using the correct certificate.

## Update the NSX-T Manager Certificate for PKS and BOSH

1. Log in to Ops Manager.
1. Edit the BOSH Tile.
1. Select the **vCenter config** tab.
1. Update the following fields:
- NSX Address: Update with the load balancer VIP 
- NSX CA Cert: Update with the newly generated certificate
1. Click **Save**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-58.png" alt="Update BOSH" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-59.png" alt="Save BOSH Edits" width="525"> 
1. Edit the PKS tile.
1. Select the **Networking** tab.
1. Update the following fields:
- NSX Manager hostname: Update with the load balancer VIP 
- NSX Manager CA cert: Update with the newly generated certificate
1. Click **Save**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-60.png" alt="Updat PKS Tile" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-61.png" alt="Save PKS Tile edits" width="525"> 
1. At the **Installation Dashboard**, click **Review Pending Changes**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-62.png" alt="Review Changes" width="525">
1. Verify that the **Update all clusters errand** is enabled for Enterprise PKS. 
1. Click **Apply Changes**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-63.png" alt="Apply Changes" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-65.png" alt="Changes Applied" width="525"> 



