---
title: Prerequisites for Installing NSX-T for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides the prerequisites for installing NSX-T Data Center for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-24-prereqs'></a> Prerequisites for Installing NSX-T for <%= vars.product_short %>

Before you install NSX-T for <%= vars.product_short %>, complete the following prerequisite tasks:

1. Read the <%= vars.product_short %> Release Notes for the supported versions of NSX-T Data Center.

1. Read the NSX-T Data Center Release Notes for the NSX-T version you are installing.

1. Familiarize yourself with the NSX-T installation documentation for the version of NSX-T you are installing: 

	- <a href="https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-EC9633E5-3CF1-433B-B7B5-FC9BBB3EE8F0.html">NSX-T v2.4.x</a> or 
	- NSX-T v2.5.x

1. Read the [vSphere with NSX-T Requirements](./vsphere-nsxt-requirements.html) in the <%= vars.product_short %> documentation.

1. Read the [Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T](./vsphere-nsxt-rpd-mpd.html) in the <%= vars.product_short %> documentation.

1. Read the [NSX-T Deployment Topologies for <%= vars.product_short %>](./nsxt-topologies.html) in the <%= vars.product_short %> documentation.

##<a id='next'></a> Next Step

[Install the NSX Manager Unified Appliance for Enterprise PKS](./nsxt-install-nsx-manager.html) using the OVA template file.

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.

