---
title: Generating and Registering the NSX Manager Certificate for Enterprise PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to generate and register the NSX Manager certificate authority (CA) certificate in preparation for installing <%= vars.product_full %> on vSphere with NSX-T.

<p class="note"><strong>Note</strong>: These instructions are specific to NSX-T v2.4.1.</p>

##<a id='prereqs'></a>Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./vsphere-nsxt-index-prepare.html">Preparing to Install <%= vars.product_short %> on vSphere with NSX-T Data Center</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>
  </li>
  <li>
    <a href="./nsxt-prepare-compute-plane.html">Create <%= vars.product_short %> Compute Plane</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-om-deploy.html">Deploying Ops Manager with NSX-T for <%= vars.product_short %></a>
  </li>
</ul>

##<a id='nsx-mgr-cert-about'></a> About the NSX-T Root CA Certificate

The NSX Manager certificate is used to authenticate PKS with NSX Manager. You create an IP-based, self-signed certificate and register it with the NSX Manager. During <%= vars.product_short %> installation on vSphere with NSX-T, both the BOSH Director tile and the PKS tile expect the NSX Manager CA certificate.
<img src="images/nsxt/nsx-ca-cert-bosh.png" alt="NSX-T Root CA certificate configuration in BOSH tile" width="575">
<img src="images/nsxt/nsx-ca-cert.png" alt="NSX-T Root CA certificate configuration in PKS tile" width="575">

For configuration information, see the [Networking](installing-nsx-t.html#networking) section of _Installing <%= vars.product_short %> on vSphere with NSX-T_.

By default, the NSX Manager includes a self-signed API certificate with its hostname as the subject and issuer. Ops Manager requires strict certificate validation and expects the subject and issuer of the self-signed certificate to be either the IP address or fully qualified domain name (FQDN) of the NSX Manager. As a result, you need to regenerate the self-signed certificate using the FQDN of the NSX Manager in the subject and issuer field and then register the certificate with the NSX Manager using the NSX API.

The **Disable SSL certificate verification** option lets you disable validation of the NSX Manager CA certificate. Select this option for testing purposes only.

<p class="note"><strong>Note</strong>: The <strong>NSX Manager CA Cert</strong> field and the <strong>Disable SSL certificate verification</strong> option are intended to be mutually exclusive. If you disable SSL certificate verification, leave the CA certificate field blank. If you enter a certificate in the <strong>NSX Manager CA Cert</strong> field, do not disable SSL certificate verification. If you populate the certificate field and disable certificate validation, insecure mode takes precedence.</p>

##<a id="vip"></a> Generate and Register the NSX-T Root CA Certificate using the VIP

This section describes how to generate and register the NSX-T root CA certificate using the management cluster VIP.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-01b.png" alt="NSX-T Root CA Cert Configuration Using VIP" width="575">

###<a id="vip1"></a> Step 1: Configure a VIP for the NSX-T Management Cluster

The NSX-T Management Cluster comprises three NSX-T Manager Nodes. To support a single access point for the NSX Manager API, [Assign a Virtual IP Address to the NSX-T Management Cluster](./nsxt-install-mgmt-vip.html). The IP address used for the VIP, as well as an optional FQDN (Fully Qualified Domain Name), is used to configure the NSX-T Management Cluster certificate.

###<a id="vip2"></a> Step 2: Define the CSR for the VIP

Below is an example Certificate Signing Request (CSR) named `nsx-cert.cnf`. In this example, the IP address `10.40.206.5` is the VIP address and `vip.my.domain` is its FQDN. Substitute this IP address and FQDN with your mangement cluster VIP details, then copy this file to a Linux-based VM.

```
[ req ]
default_bits = 2048
default_md = sha256
prompt = no
distinguished_name = req_distinguished_name
x509_extensions = SAN

[ req_distinguished_name ]
countryName = US
stateOrProvinceName = California
localityName = CA
organizationName = NSX
commonName = vip.my.domain

[ SAN ]
subjectAltName = DNS:vip.my.domain,IP:10.40.206.5
```

<p class="note"><strong>Note</strong>: This certificate will be registered in the NSX-T managers as a Cluster CA cert (not a Node CA cert). This is why the FQDN and IP address are those of the VIP.</p>

###<a id='vip3'></a> Step 3: Generate the VIP Certificate and Private Key

Generate the certificate (`nsx.crt`) and the private key (`nsx.key`) using the above CSR by running the following command:

```
openssl req -newkey rsa -nodes -days 365 -x509 -config nsx-cert.cnf -keyout nsx.key -out nsx.crt
```

Verify the certificate using the command `openssl x509 -in nsx.crt -text -noout`.

###<a id='vip4'></a> Step 4: Import the VIP Certificate to NSX Manager

Complete the following steps to import the certificate to the NSX Manager:

1. Log in to the NSX Manager UI using the VIP address.

1. Navigate to **System > Certificates**.

1. Click **Import > Import Certificate**.
  <img src="images/nsxt/import-cert.png" alt="Import the NSX Manager CA certificate to the NSX Manager" width="475">
    <p class="note"><strong>Note</strong>: Make sure you select <strong>Import Certificate</strong> and not <strong>Import CA Certificate</strong>.</p>

1. In the *Import Certificate* screen, enter a unique **Name** for the certificate, such as `NSX-VIP-CERT`.
  <p class="note"><strong>Note</strong>: The name for the certificate must be unique. The default NSX Manager CA certificate is typically named <code>NSX-API-CERT</code>.</p>

1. For the *Certificate Contents* field, browse to and select the `nsx.crt` certificate you generated previously, or copy/paste its contents.

1. For the *Private Key* field, browse to and select the `nsx.key` private key you generated previously, or copy/past its contents.

1.  Verify that the *Service Certificate* option  is set to "No" (off) because you are using the certificate with NSX Manager appliance nodes.

1. Click **Import**.
  <img src="images/nsxt/import-cert-24-2.png" alt="Import the NSX Manager CA certificate to the NSX Manager" width="475"> 

1. To verify, log in to each individual NSX Manager node and check that the certificate is replicated to all NSX-T Manager instances (in the **System > Certificates** screen).

###<a id='vip5'></a> Step 5: Register the VIP Certificate Using the Cluster Certificate API

Once you have imported the VIP certificate, register it with the NSX Management cluster using a cURL command against the Cluster Certificate API.

1. Retrieve the UUID of the certificate from the NSX Manager UI where you imported the certificate (in the **System > Certificates** screen).
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-66.png" alt="Retrieve the UUID" width="475"> 

1. Create environment variables for the VIP address and the certificate ID.

  In this example, `10.40.206.5` is the VIP address and `63bb6646-052c-49df-b603-64d7e5bdb5bf` is the certificate UUID.

  ```
  export NSX_MANAGER_IP_ADDRESS=10.40.206.5
  export CERTIFICATE_ID="63bb6646-052c-49df-b603-64d7e5bdb5bf"
  ```

1. Register the NSX-T Manager CA cert using a cURL request to the Cluster Certificate API.

  Substitute `PASSWORD` with the password for NSX Manager.

  ```
  curl --insecure -u admin:'PASSWORD' -X POST "https://$NSX_MANAGER_IP_ADDRESS/api/v1/cluster/api-certificate?action=set_cluster_certificate&certificate_id=$CERTIFICATE_ID"
  ```

1. Verify that the reply from the APU request is the certificate UUID.

  ```
  {

    "certificate_id": "63bb6646-052c-49df-b603-64d7e5bdb5bf"
  }
  ```

###<a id='vip6'></a> Step 6: Verify the VIP Certificate

The certificate will be registered with the NSX Manager that the VIP address is associated with. 

1. To verify, using a browser go to the VIP address of the NSX Manager. Login and check that the new cert is used by the site (accessed using the VIP address).
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-67.png" alt="Retrieve the UUID" width="475"> 

1. To further verify, SSH to each NSX Manager host and run the following two commands. All certificates returned should be the same.

  ```
  get certificate api
  get certificate cluster
  ```

###<a id='vip7'></a> Step 7: Add the VIP Certificate to BOSH and PKS Tiles

The last step is to [Add or Update the Certificate for the BOSH and PKS tiles](./nsxt-generate-ca-cert.html#add-cert-pks). 

##<a id="lb"></a> Generate and Register the NSX-T Root CA Certificate using the Load Balancer IP

This section describes how to generate and register the NSX-T root CA certificate using the load balancer IP.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-01.png" alt="NSX-T Root CA Cert Configuration Using LB IP" width="575">

###<a id="lb1"></a> Step 1: Configure a Load Balancer for the NSX Management Cluster

The NSX-T Management Cluster comprises three NSX-T Manager Nodes. If you need to scale, [Provision a Load Balancer for the NSX-T Management Cluster](./nsxt-install-mgmt-lb.html). The IP address used for the load balancer is used to configure the NSX-T Management Cluster certificate.  

###<a id="lb2"></a> Step 2: Define a CSR Using the Load Balancer IP

Below is an example Certificate Signing Request (CSR) named `nsx-cert.cnf` for a load balancer in front of the management cluster. The `commonName` and the `subjectAltName` (SAN) are the IP address of the load balancer (`10.40.14.250`).

```
[ req ]
default_bits = 2048
distinguished_name = req_distinguished_name
req_extensions = req_ext
prompt = no
[ req_distinguished_name ]
countryName = US
stateOrProvinceName = California
localityName = CA
organizationName = NSX
commonName = 10.40.14.250
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = 10.40.14.250
```

###<a id='lb3'></a> Step 3: Generate the NSX Root CA Certificate and Private Key Using the Load Balancer IP

To generate the certificate (`nsx.crt`) and private key (`nsx.key`) using the above CSR, run the following commands:

```
export NSX_MANAGER_IP_ADDRESS=10.40.14.250
export NSX_MANAGER_COMMONNAME=10.40.14.250
```

```
openssl req -newkey rsa:2048 -x509 -nodes \
> -keyout nsx.key -new -out nsx.crt -subj /CN=$NSX_MANAGER_COMMONNAME \
> -reqexts SAN -extensions SAN -config <(cat ./nsx-cert.cnf \
>  <(printf "[SAN]\nsubjectAltName=DNS:$NSX_MANAGER_COMMONNAME,IP:$NSX_MANAGER_IP_ADDRESS")) -sha256 -days 365
```

Verify the certificate using the command `# openssl x509 -in nsx.crt -text -noout`.

###<a id='lb4'></a> Step 4: Import the CA Certificate to All Three NSX Managers

Complete the following steps to import the certificate to the NSX Manager:

1. Log in to the NSX Manager UI using the VIP address.

1. Navigate to **System > Certificates**.

1. Click **Import > Import Certificate**.
  <img src="images/nsxt/import-cert.png" alt="Import the NSX Manager CA certificate to the NSX Manager" width="475">
    <p class="note"><strong>Note</strong>: Make sure you select <strong>Import Certificate</strong> and not <strong>Import CA Certificate</strong>.</p>

1. In the *Import Certificate* screen, enter a unique **Name** for the certificate, such as `NSX-VIP-CERT`.
  <p class="note"><strong>Note</strong>: The name for the certificate must be unique. The default NSX Manager CA certificate is typically named <code>NSX-API-CERT</code>.</p>

1. For the *Certificate Contents* field, browse to and select the `nsx.crt` certificate you generated previously, or copy/paste its contents.

1. For the *Private Key* field, browse to and select the `nsx.key` private key you generated previously, or copy/past its contents.

1.  Verify that the *Service Certificate* option  is set to "No" (off) because you are using the certificate with NSX Manager appliance nodes.

1. Click **Import**.
  <img src="images/nsxt/import-cert-24-2.png" alt="Import the NSX Manager CA certificate to the NSX Manager" width="475"> 

1. To verify, log in to each individual NSX Manager node and check that the certificate is replicated to all NSX-T Manager instances (in the **System > Certificates** screen).

###<a id='lb5'></a> Step 5: Register the Load Balancer Certificate with All Three NSX-T Manager Appliances

Once you have imported the load balancer certificate, register it with all three NSX Managers using a cURL command against the NSX API.

1. Retrieve the UUID of the certificate from the NSX Manager UI where you imported the certificate (in the **System > Certificates** screen).
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-66.png" alt="Retrieve the UUID" width="475"> 

1. Create environment variables for the VIP address and the certificate ID.

  In this example, there are three NSX Manager nodes, `10.40.206.1`, `10.40.206.2` and `10.40.206.3`, where `10.40.206.1` is the IP address of NSX Manager 1 and `63bb6646-052c-49df-b603-64d7e5bdb5bf` is the certificate UUID.

  ```
  export NSX_MANAGER_IP_ADDRESS=10.40.206.1
  export CERTIFICATE_ID="63bb6646-052c-49df-b603-64d7e5bdb5bf"
  ```

1. Register the NSX-T Manager CA cert using a cURL request to the NSX API.

  Substitute `PASSWORD` with the password for NSX Manager.

  ```
  # curl --insecure -u admin:'PASSWORD' -X POST "https://$NSX_MANAGER_IP_ADDRESS/api/v1/node/services/http?action=apply_certificate&certificate_id=$CERTIFICATE_ID"

  ```

1. Verify that the reply from the APU request is the certificate UUID.

  ```
  {

    "certificate_id": "63bb6646-052c-49df-b603-64d7e5bdb5bf"
  }
  ```

1. Repeat this same process for the other two NSX Manager nodes.

  Repeat the same commands for the other NSX-T Manager instances (`10.40.206.3` and `10.40.206.4`, for example). The `CERTIFICATE_ID` should be the same for all three NSX-T Manager nodes, but the `NSX_MANAGER_IP_ADDRESS` will be different.

###<a id='lb6'></a> Step 6: Verify the Load Balancer Certificate

1. Log in to each NSX Manager node and verify that the new certificate is used by the site. 
  The **Common Name** of the certificate should be the IP address of the load balancer.
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-68.png" alt="Load Balancer Certificate" width="475"> 

1. To further verify, SSH to each NSX Manager host and run the following commands. All certificates returned should be the same.

  ```
  get certificate cluster
  ```

1. Access the NSX-T Manager using the NSX-T Load Balancer IP address (`10.40.14.250`, for example).
  The load balancer should be using the new certificate.
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-69.png" alt="Load Balancer Certificate" width="475"> 

###<a id='lb7'></a> Step 7: Add the VIP Certificate to BOSH and PKS Tiles

The last step is to [Add or Update the Certificate for the BOSH and PKS tiles](./nsxt-generate-ca-cert.html#add-cert-pks). 

##<a id='add-cert-pks'></a> Add or Update the Certificate for the BOSH and PKS Tiles

During <%= vars.product_short %> installation on vSphere with NSX-T, both the BOSH Director tile and the PKS tile expect the NSX Manager CA certificate.
<img src="images/nsxt/nsx-ca-cert-bosh.png" alt="NSX-T Root CA certificate configuration in BOSH tile" width="575">
<img src="images/nsxt/nsx-ca-cert.png" alt="NSX-T Root CA certificate configuration in PKS tile" width="575">

###<a id='update-bosh-tile'></a> Update the NSX-T Manager IP and Certificate for BOSH

1. Log in to Ops Manager.
1. Edit the BOSH Tile.
1. Select the **vCenter config** tab.
1. Update the following fields:
  - NSX Address: Update with the load balancer VIP 
  - NSX CA Cert: Update with the newly generated certificate
1. Click **Save**.
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-58.png" alt="Update BOSH" width="525"> 
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-59.png" alt="Save BOSH Edits" width="525"> 

###<a id='update-pks-tile'></a> Update the NSX-T Manager IP and Certificate for PKS

1. Log in to Ops Manager.
1. Edit the PKS tile.
1. Select the **Networking** tab.
1. Update the following fields:
  - NSX Manager hostname: Update with the load balancer VIP 
  - NSX Manager CA cert: Update with the newly generated certificate
1. Click **Save**.
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-60.png" alt="Update PKS Tile" width="525"> 
<img src="images/nsxt/mgmt-cluster/mgmt-cluster-61.png" alt="Save PKS Tile edits" width="525"> 

###<a id='deploy-pks'></a> Deploy Enterprise PKS

If this is an upgrade, to update the certificate IP address, deploy Enterprise PKS with the **Upgrade all clusters errand** selected. This will allow NCP configurations on all Kubernetes clusters to be updated with the NSX-T Management Cluster VIP, instead of the individual NSX-T Manager node as set before the upgrade.

1. At the Ops Manager **Installation Dashboard**, click **Review Pending Changes**.
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-62.png" alt="Review Changes" width="525">
1. Verify that the **Update all clusters errand** is enabled for Enterprise PKS. 
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-63.png" alt="Apply Changes" width="525"> 
1. Click **Apply Changes**.
  <img src="images/nsxt/mgmt-cluster/mgmt-cluster-65.png" alt="Changes Applied" width="525"> 

##<a id='next'></a> Next Step

<a href="./vsphere-nsxt-om-config.html">Configure BOSH Director with NSX-T for <%= vars.product_short %></a>.
