---
title: Creating the PKS Compute Plane
owner: PKS
---

<strong><%= modified_date %></strong>

This section provides instructions for preparing the vSphere and NSX-T infrastructure for the PKS Compute Plane where Kubernetes clusters run. 

##<a id='prerequisites'></a>Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./vsphere-nsxt-index-prepare.html">Preparing to Install <%= vars.product_short %> on vSphere with NSX-T Data Center</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>
  </li>
</ul>

##<a id='control-plane-about'></a>About the PKS Control Plane

Installing <%= vars.product_full %> on vSphere with NSX-T requires the creation of vSphere resource pools that map to BOSH availability zones where Kubernetes VMs will run, as well as NSX IP blocks for Kubernetes node and pod networks, and a Floating IP Pool from which you can assign routable IP addresses to cluster resources. 

Create separate NSX-T [IP Blocks](https://docs.vmware.com/en/VMware-NSX-T/2.4/com.vmware.nsxt.admin.doc/GUID-46C7B20D-4BE4-400E-AF39-1ADFE945DE38.html) for the [node networks](./nsxt-prepare-env.html#nodes-ip-block) and the [pod networks](./nsxt-prepare-env.html#pods-ip-block). The subnets for both nodes and pods should have a size of 256 (/16). For more information, see [Plan IP Blocks](./nsxt-prepare-env.html#plan-ip-blocks) and [Reserved IP Blocks](./nsxt-prepare-env.html#reserved-ip-blocks). 

 * **NODE-IP-BLOCK** is used by <%= vars.product_short %> to assign address space to Kubernetes master and worker nodes when new clusters are deployed or a cluster increases its scale.
 * **POD-IP-BLOCK** is used by the NSX-T Container Plug-in (NCP) to assign address space to Kubernetes pods through the Container Networking Interface (CNI).

In addition, create a Floating IP Pool from which to assign routable IP addresses to components. This network provides your load balancing address space for each Kubernetes cluster created by <%= vars.product_short %>. The network also provides IP addresses for Kubernetes API access and Kubernetes exposed services. For example, `10.172.2.0/24` provides 256 usable IPs. This network is used when creating the virtual IP pools, or when the services are deployed. You enter this network in the **Floating IP Pool ID** field in the **Networking** pane of the <%= vars.product_tile %> tile.

##<a id='create-rp'></a>Step 1: Create vSphere Resource Pools for Kubernetes Cluster Nodes

###<a id='create-rp'></a>Step 1: Create vSphere Resource Pool for AZ-1

1. Log in to vCenter for your vSphere environment.
1. Select **Compute Cluster > New Resource Pool**.
  <img src="images/nsxt/compute-plane/create-compute-plane-01.png">
1. Name the resource pool, such as `RP-PKS-AZ-1`.
  <img src="images/nsxt/compute-plane/create-compute-plane-02.png">
1. Click **OK** and verify resource pool creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-03.png">

###<a id='create-rp'></a>Step 2: Create vSphere Resource Pool for AZ-N

1. Log in to vCenter for your vSphere environment.
1. Select **Compute Cluster > New Resource Pool**.
  <img src="images/nsxt/compute-plane/create-compute-plane-01.png">
1. Name the resource pool, such as `RP-PKS-AZ-2`.
  <img src="images/nsxt/compute-plane/create-compute-plane-02.png">
1. Click **OK** and verify resource pool creation:
  <img src="images/nsxt/compute-plane/create-compute-plane-03.png">

##<a id='create-nsxt-objects'></a> Create NSX-T Objects for Kubernetes Nodes and Pods

Complete the following instructions to create the required NSX-T network objects. 

###<a id='create-nodes-ip-block'></a> Create the Nodes IP Block

1. In NSX Manager, go to **Advanced Networking & Security** > **Networking > IPAM**.

1. Add a new IP Block for Kubernetes Nodes.
   For example:
   * **Name**: NODES-IP-BLOCK
   * **CIDR**: 192.168.0.0/16
  <img src="images/nsxt/nsxt-data-center-installation/nsx-objects/nodes-ip-block-NAT.png">

1. Verify creation of the Nodes IP Block.
  <img src="images/nsxt/nsx-objects/create-pod-ipb-02.png">

1. Record the UUID of the Nodes IP Block object. You use this UUID when you install <%= vars.product_short %> with NSX-T.
  <img src="images/nsxt/nsx-objects/create-node-ipb-04.png">

###<a id='create-pods-ip-block'></a> Create the Pods IP Block

1. In NSX Manager, go to **Advanced Networking & Security** > **Networking > IPAM**.

1. Add a new IP Block for Pods. For example:
   * **Name**: PKS-PODS-IP-BLOCK
   * **CIDR**: 172.16.0.0/16
  <img src="images/nsxt/nsx-objects/create-pod-ipb-02.png">

1. Verify creation of the Pods IP Block.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-objects/ipam-blocks.png">

1. Record the UUID of the Pods IP Block object. You use this UUID when you install <%= vars.product_short %> with NSX-T.
  <img src="images/nsxt/nsx-objects/create-pod-ipb-04.png">

###<a id='create-fip-pool'></a> Create a Floating IP Pool

1. In NSX Manager, go to **Advanced Networking & Security** > **Inventory > Groups > IP Pool**.
  <img src="images/nsxt/nsx-objects/create-float-ipp-01.png">

1. Add a new Floating IP Pool. For example:
   * **Name**: PKS-FLOATING-IP-POOL
   * **IP Ranges**: 10.40.14.10 - 10.40.14.253
   * **Gateway**: 10.40.14.254
   * **CIDR**: 10.40.14.0/24
  <img src="images/nsxt/nsx-objects/create-float-ipp-02.png">

1. Verify creation of the Nodes IP Block.
  <img src="images/nsxt/nsx-objects/create-float-ipp-03.png">

1. Get the UUID of the Floating IP Pool object. You use this UUID when you install <%= vars.product_short %> with NSX-T.
  <img src="images/nsxt/nsx-objects/create-float-ipp-04.png">  

##<a id='next'></a> Next Step

After you complete this procedure, follow the instructions in <a href="./vsphere-nsxt-om-deploy.html">Deploying Ops Manager with NSX-T for <%= vars.product_short %></a>.
