---
title: Install the NSX Manager Unified Appliance for Enterprise PKS
owner: PKS-NSXT
---

This topic provides instructions for installing the NSX Manager VM on vSphere for use with <%= vars.product_full %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed the [Prerequisites for Installing NSX-T for <%= vars.product_short %>](./nsxt-2-5-installation-steps.html#nsxt-install-prereqs).

##<a id='nsx-mgr-about'></a> About the NSX Manager Appliance

The NSX-T Manager VM is provided as an OVA file named the **NSX Unified Appliance** that you import into your vSphere environment and configure. 

For more information, see [Install the NSX Manager Unified Appliance](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/installation/GUID-FA0ABBBD-34D8-4DA9-882D-085E7E0D269E.html) in the NSX-T Data Center documentation. See also [NSX Manager VM System Requirements](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/installation/GUID-AECA2EE0-90FC-48C4-8EDB-66517ACFE415.html).

##<a id='nsx-mgr-install'></a> Install and Configure the NSX Manager Appliance

Complete the following procedure to deploy the NSX Manager appliance:

1. Download the NSX Manager v2.5.0 OVA file to your local machine.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_00.png">

1. Log in to vCenter using the vSphere Client.

1. Create a **Resource Pool** for NSX-T infrastructure, such as `infra`.

1. In the vSphere Client, select the **Resource Pool** where you want to install NSX-T Data Center.

1. Right-click and select **Deploy OVF Template** to start the installation wizard.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_01.png">

1. At the **Select an OVF template** screen:
  - Select the **Local file** option
  - Click **Choose Files** 
  - Navigate to where you downloaded the OVA file and select it
  - Click **Next**
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_02.png">

1. At the **Select a name and folder** screen:
  - Enter a name for the NSX Manager VM, such as `nsx-manager-1`
  - Select the **Datacenter** for the VM deployment
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_03.png">

1. At the **Select a compute resource** screen:
  - Select the **Resource Pool** where the NSX Manager VM will be deployed
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_04.png">

1. At the **Review details** screen:
  - Verify the OVF template details
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_05.png">

1. At the **Configuration** screen:
  - Select either the **Medium** size VM or the **Large** size VM
  - Click **Next**    
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_06.png">

1. At the **Select storage** screen:
  - Select the **vsanDatastore** if you are using vSAN, or a dedicated datastore if you are not
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_07.png">

1. At the **Select networks** screen:
  - Select **Destination Network** for the NSX Manager VM
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_09.png">

1. On the **Customize Template** screen, configure the following settings:
  - **System Root User Password**: This password must comply with password strength restrictions.
  - **CLI "admin" User Password**: This password must comply with password strength restrictions.
  - **CLI "audit" User Password**: This password must comply with password strength restrictions.
  - **Hostname**: Enter the hostname for the NSX Manager VM, such as `nsx-manager-1`.
  - **Default IPv4 Gateway**: Enter the default gateway IPv4 address for the NSX Manager VM.
  - **Management Network IPv4 Address**: Enter the IPv4 address for the first network interface.
  - **Management Network Netmask**: Enter the netmask for the first network interface.
  - **DNS Server List**: Enter one or more DNS servers (space-separated if multiple).
  - **NTP Server List**: Enter one or more NTP servers (space-separated if multiple).
  - **Enable SSH**: Select **Enable SSH**. By default, this setting is disabled for security reasons.
  - **Allow root SSH logins**: Enable **Allow root SSH logins**. By default, this setting is disabled for security reasons.
  - Click **Next**    
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_10.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_11.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_12.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_13.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_14.png">

1. At the **Ready to complete** screen:
  - Verify that the OVF template specification is accurate
  - Click **Finish** to begin the installation. It will taker approximately 10 minutes to complete.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_15.png">

1. Expand the **Recent Tasks** panel at the bottom of the vCenter screen to view the progress of the OVA deployment.

##<a id='nsx-mgr-verify'></a> Verify NSX-T Manager Installation

1. From your browser, log in with admin privileges to the NSX Manager user interface at `https://<nsx-manager-ip-address>`.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_17.png">

1. Read and accept the EULA terms.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_18.png">

1. Select whether to join the VMware's Customer Experience Improvement Program (CEIP) and click **Save**.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_19.png">

1. Notice at the **Welcome to NSX-T** screen, you are alerted that 1 NSX Manager Node is installed, and a "3 node cluster is recommended." Before you can [add additional NSX-T Manager nodes](./nsxt-2-5-installation-add-manager-nodes.html), you must [add a Compute Manager](./nsxt-2-5-installation-compute-manager.html).
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-250_20.png">

1. Navigate to the **Advanced Networking & Security** tab. This is the tab to use for creating and working with NSX-T objects for PKS.
  <p class="note"><strong>Note:</strong> For <%= vars.product_short %>, you must use the **Advanced Networking and Security** tab to create, read, update, and delete required network objects. For NSX-T host preparation and configuration, such as deploying NSX-T Managers and Edge Nodes, use the **System** tab. <%= vars.product_short %> does not support the **Simplified UI/API** tab.</p>

##<a id='next'></a> Next Step

[Add Compute Manager](./nsxt-2-5-installation-compute-manager.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T v2.5 for <%= vars.product_short %></a>.

