---
title: Install the NSX Manager Unified Appliance for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for installing the NSX Manager VM on vSphere for use with <%= vars.product_short %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed the [Prerequisites for Installing NSX-T for <%= vars.product_short %>](./nsxt-install-prereqs.html).

##<a id='nsx-mgr-about'></a> About the NSX Manager Appliance

The NSX-T Manager VM is provided as an OVA file named the **NSX Unified Appliance** that you import into your vSphere environment and configure. 

For more information, see [Install the NSX Manager Unified Appliance](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-FA0ABBBD-34D8-4DA9-882D-085E7E0D269E.html) in the NSX-T Data Center documentation. See also [NSX Manager VM System Requirements](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-AECA2EE0-90FC-48C4-8EDB-66517ACFE415.html).

##<a id='nsx-mgr-about'></a> About the NSX Manager UI

The NSX-T Manager provides the user interface and API for NSX-T Data Center. There are two options to interact with NSX-T Manager:

1. Simplified UI/API
  - Declarative interface that uses the Declarative API/Data Model (Policy API).
  - The NSX-T Container Plugin (NCP) that is embedded in the Enterprise PKS tile does not support the Policy API.
  - You cannot use the Simplified UI/API to manage NSX-T for use with Enterprise PKS upgrades and new installations.

1. Advanced UI/API 
  - Legacy imperative interface based on the NSX Management API.
  - Provides the user interface to address Enterprise PKS installation and upgrade use cases. Currently NCP only supports the Management API.
  - Will be deprecated over time; all features and use cases will eventually be transfered to the Simplified UI/API.

<%= vars.product_short %> does not support the **Simplified UI/API**. For <%= vars.product_short %>, you must use the **Advanced Networking and Security** tab to create, read, update, and delete required network objects. For NSX-T host preparation and configuration, such as deploying NSX-T Managers and Edge Nodes, use the **System** tab. 

  <img src="images/nsxt/nsxt-24-ui.png" alt="NSX-T v2.4 User Interface" width="725">

##<a id='nsx-mgr-install'></a> Install and Configure the NSX Manager Appliance

Complete the following procedure to deploy the NSX Manager appliance.

1. Locate the NSX-T Data Center OVA file (`nsx-unified-appliance-VERSION.ova`) on the VMware download portal and download it to your local machine.

1. Log in to vCenter using the vSphere Client.

1. Create a **Resource Pool** for NSX-T infrastructure, such as `infra`.

1. In the vSphere Client, select the **Resource Pool** where you want to install NSX-T Data Center.

1. Right-click and select **Deploy OVF Template** to start the installation wizard.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-00.png">

1. At the **Select an OVF template** screen:
  - Select the **Local file** option
  - Click **Choose Files** 
  - Navigate to where you downloaded the OVA file and select it
  - Click **Next**
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-01.png">

1. At the **Select a name and folder** screen:
  - Enter a name for the NSX Manager VM, such as `nsx-manager-1`
  - Select the **Datacenter** for the VM deployment
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-02.png">

1. At the **Select a compute resource** screen:
  - Select the **Resource Pool** where the NSX Manager VM will be deployed
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-03.png">

1. At the **Review details** screen:
  - Verify the OVF template details
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-04.png">

1. At the **Configuration** screen:
  - Select either the **Medium** size VM or the **Large** size VM
  - Click **Next**    
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-05.png">

1. At the **Select storage** screen:
  - Select the **vsanDatastore** if you are using vSAN, or a dedicated datastore if you are not
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-06.png">

1. At the **Select networks** screen:
  - Select **Destination Network** for the NSX Manager VM
  - Click **Next**  
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-07.png">

1. At the **Customize Template** screen, configure the following settings:
  - **System Root User Password** (must comply with password strength restrictions)
  - **CLI "admin" User Password** (must comply with password strength restrictions)
  - **CLI "audit" User Password** (must comply with password strength restrictions)
  - **Hostname**: Enter the hostname for the NSX Manager VM, such as `nsx-manager-1`
  - **Default IPv4 Gateway**: Enter the default gateway IPv4 address for the NSX Manager VM
  - **Management Network IPv4 Address**: Enter the IPv4 address for the first network interface
  - **Management Network Netmask**: Enter the netmask for the first network interface
  - **DNS Server List**: Enter one or more DNS servers (space-separated if multiple)
  - **NTP Server List**: One or more NTP servers (space-separated if multiple)
  - **Enable SSH**: Select Enable SSH (by default this option is disabled for security reasons)
  - **Allow root SSH logins**: Enable this option (by default this option is disabled for security reasons)
  - Click **Next**    
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-08.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-09.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-10.png">
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-11.png">

1. At the **Ready to complete** screen:
  - Verify that the OVF template specification is accurate
  - Click **Finish** to begin the installation. It will taker approximately 10 minutes to complete.
  <img src="images/nsxt/nsxt-data-center-installation/nsx-manager-installation/nsx-manager-install-13.png">

1. Expand the **Recent Tasks** panel at the bottom of the vCenter screen to view the progress of the OVA deployment

##<a id='nsx-mgr-verify'></a> Verify NSX-T Manager Installation

See [Verify NSX-T VM Deployment for Enterprise PKS](./nsxt-install-verify-vm-deployment.html).

##<a id='next'></a> Next Step

See [Deploy Two Additional NSX Manager Nodes and Form an NSX-T Management Cluster](./nsxt-install-nsx-mgmt-cluster.html).

##<a id='home'></a> Installation Instructions

See <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.

