---
title: Installing and Configuring NSX-T for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for installing NSX-T Data Center for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-install-home'></a> Instructions for Installing and Configuring NSX-T for <%= vars.product_short %>

To perform a new installation of NSX-T for Enterprise PKS, complete the following steps in the order presented.

1. [Complete the prerequisites for installing NSX-T for <%= vars.product_short %>](./nsxt-install-prereqs).

1. [Install the NSX Manager Unified Appliance for Enterprise PKS](./nsxt-install-nsx-manager) using the OVA template file.

1. [Deploy Two Additional NSX Manager Nodes and Form an NSX Management Cluster](./nsxt-install-nsx-mgmt-cluster).

1. [Install One or More Pair of NSX Edge Nodes](./nsxt-install-edge-node-install) using the OVA template file.
  <p class="note"><strong>Warning:</strong> You must install a large size VM or the bare metal Edge Node for <%= vars.product_short %>.</p>

1. [Join Each NSX Edge Node with the Management Plane](./nsxt-install-edge-node-join).

1. [Enable Repository Service on Eeach NSX Manager](./nsxt-install-enable-vib).

1. [Create an IP Pool for Tunnel Endpoint IP Addresses](./nsxt-install-create-tep).

1. [Create Overlay and VLAN Transport Zones](./nsxt-install-create-tzs).

1. [Create Edge Node Uplink Profile](./nsxt-install-create-uplink-profile).

1. [Configure Edge Nodes as NSX Transport Nodes](./nsxt-install-create-tns).

1. [Create Edge Cluster](./nsxt-install-create-edge-cluster).

1. [Create Tier-0 Logical Router](./nsxt-install-create-t0).

1. [Configure Edge Node HA](./nsxt-install-configure-edge-ha).

1. [Configure ESXi Hosts as NSX Transport Nodes](./nsxt-install-prep-esxi-hosts)

1. [Configure a Virtual IP Address and Cluster Certificate for the NSX-T Management Cluster](./nsxt-mgmt-vip.html) or [Provision a Load Balancer for the NSX-T Management Cluster](./nsxt-mgmt-lb.html).
  <p class="note"><strong>Note:</strong> To achieve high-availability (HA), configure a Cluster VIP for the NSX-T Management Cluster. To scale, provision a load balancer for the NSX-T Management Cluster.</p>

1. [Update the NSX-T Admin Password Interval](./nsxt-install-update-password).

