---
title: Installing NSX-T v2.4.1 and Enterprise PKS v1.4.1
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides instructions for installing NSX-T v2.4 for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-24-prereqs'></a> Prerequisites

Before you begin this procedure, ensure that you have successfully completed all preceding steps for installing <%= vars.product_short %> on vSphere with NSX-T, including:

<ul>
  <li>
    <a href="./vsphere-nsxt-requirements.html">vSphere with NSX-T Version Requirements</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T</a>
  </li>
  <li>
    <a href="./nsxt-topologies.html">NSX-T Deployment Topologies for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-env.html">Preparing to Deploy <%= vars.product_short %> with NSX-T on vSphere</a>
  </li>
  <li>
    <a href="./nsxt-deploy-24.html">Considerations for Deploying NSX-T v2.4 for <%= vars.product_short %> on vSphere</a>
  </li>
</ul>

##<a id='nsxt-24-install'></a> Installing NSX-T v2.4

To perform a new installation of NSX-T v2.4 with Enterprise PKS v1.4, complete the steps.

1. [Prepare for Installing NSX-T v2.4](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-EC9633E5-3CF1-433B-B7B5-FC9BBB3EE8F0.html).
1. [Install the NSX Manager Unified Appliance](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-FA0ABBBD-34D8-4DA9-882D-085E7E0D269E.html) using the OVA file, for example: `nsx-unified-appliance-2.4.1.0.0.13716579.ova`.
1. [Log In to the Newly Created NSX Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-BF9FF9E2-47BD-466F-BDD2-8FF5145412E5.html).
1. [Add a Compute Manager](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-D225CAFC-04D4-44A7-9A09-7C365AAFCA0E.html).
1. [Deploy Two Additional NSX Manager Nodes to Form a NSX Management Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-B89F5831-62E4-4841-BFE2-3F06542D5BF5.html) Using the NSX Manager UI.
1. [Configure a Virtual IP Address and Cluster Certificate for the NSX v2.4 Management Cluster](./nsxt-mgmt-vip.html). Alternatively, [Provision a Load Balancer for the NSX-T v2.4 Management Cluster](./nsxt-mgmt-lb.html).
	<p class="note"><strong>Note:</strong> If you need to scale, provision a load balancer for the NSX-T Management Cluster. If you do not require scalability, can configure a Cluster VIP to achieve HA for the NSX-T Management Cluster.</p>
	<p class="note"><strong>Note:</strong> To provision a load balancer, you will first need to deploy and configure NSX-T Edge Nodes.</p>
1. [Install One or More Pairs of NSX Edge Nodes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-AECC66D0-C968-4EF2-9CAD-7772B0245BF6.html) using the OVA file, for example: `nsx-edge-2.4.1.0.0.13716583.ova`.
	<p class="note"><strong>Warning:</strong> For Enterprise PKS you must install a large size VM form factor or the bare metal Edge Node. See <a href="./nsxt-prepare-env.html#nsx-edges">Deploy NSX Edge Nodes</a> for more information.</p>
1. [Join Each NSX Edge Node with the Management Plane](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-11BB4CF9-BC1D-4A76-A32A-AD4C98CBF25B.html).
1. [Enable Repository Service on NSX Manager](./nsxt-deploy.html#enable-repo). Repeat this step for each NSX Manager.
1. [Create an IP Pool for Tunnel Endpoint IP Addresses](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-E7F7322D-D09B-481A-BD56-F1270D7C9692.html).
1. [Create Overlay and VLAN Transport Zones](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-F739DC79-4358-49F4-9C58-812475F33A66.html).
1. [Create an Uplink Profile](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-50FDFDFB-F660-4269-9503-39AE2BBA95B4.html).
1. [Create Edge Transport Nodes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-53295329-F02F-44D7-A6E0-2E3A9FAE6CF9.html). 
1. [Create an NSX Edge Cluster](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/installation/GUID-898099FC-4ED2-4553-809D-B81B494B67E7.html).
1. [Configure Edge Nodes for HA](./nsxt-deploy.html#create-edge-ha).
1. [Prepare ESXi Hosts as Transport Nodes for NSX-T](./nsxt-deploy.html#prepare-esxi).

##<a id='nsxt-24-install'></a> Installing Enteprise PKS 1.4.1 on NSX-T 2.4.1

To perform a new installation of Enterprise PKS v1.4.1 on NSX-T v2.4.1, complete the steps.

1. [Create a Tier-0 Logical Router](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.4/administration/GUID-7891E6E7-606D-4F79-8AB7-BC01898F9FE7.html) using the **Advanced Networking and Security** tab in NSX Manager.
1. [Create the Enterprise PKS Management Plane](./nsxt-prepare-mgmt-plane.html) using the **Advanced Networking and Security** tab in NSX Manager.
1. [Create the PKS Compute Plane](./nsxt-prepare-compute-plane.html) using the **Advanced Networking and Security** tab in NSX Manager.
1. [Deploy Ops Manager 2.4.3+](./vsphere-nsxt-om-deploy.html).
1. [Generate and Register the NSX Manager Cluster Certificate](./generate-nsx-ca-cert-24.html) (if you have not already done so). 
1. [Configure BOSH Director with NSX-T for Enterprise PKS](./vsphere-nsxt-om-config.html). 
1. [Generate and Register the NSX Manager Superuser Principal Identity Certificate and Key](./generate-nsx-pi-cert.html).
1. [Create NSX-T Objects for Enterprise PKS](nsxt-create-objects.html) using the **System** tab in NSX Manager.
1. [Install Enterprise PKS on vSphere with NSX-T v2.4](./installing-nsx-t.html).
