---
title: Considerations for Using the NSX-T Policy API with (<%= vars.k8s_runtime_abbr %>)
owner: TKGI
topic: nsx-t-policy
---

This topic provides considerations for using the NSX-T Policy API with <%= vars.product_short %>.

##<a id='overview'></a>Announcing Support for the Policy API

The NSX-T Policy API is the next generation API for integrating with the NSX-T networking and security framework. 

Starting with <%= vars.k8s_runtime_abbr %> v1.12, you can use the NSX-T Policy API in place of the NSX-T Management API to deploy <%= vars.product_short %>.

## <a id='nsxt-policy-intall'></a>NSX-T Topology and Installation Considerations

To use the NSX-T Policy API, there are no changes required in the preparation of NSX-T: all network topologies are supported.

There are no changes required to the installation of NSX-T. See [Installing and Configuring NSX-T Data Center v3 for Tanzu Kubernetes Grid Integrated Edition](./nsxt-3-0-install.html).

## <a id='nsxt-policy-config'></a>BOSH and TKGI Tile Configuration Considerations

To use the NSX-T Policy API, you must configure the required NSX-T infrastructure objects using the NSX-T Policy API or UI. Specifically, you must configure the the Pods IP Block ID, Nodes IP Block ID, T0 Router ID, Floating IP Pool ID fields need to be Policy object ID.

In addition, when you configure the BOSH Director tile for <%= vars.product_short %>, you must enable the option vCenter Config > NSX-T Networking > **Use NSX-T Policy API**. See [Configure NSX-T Networking](./vsphere-nsxt-om-config.html#vcenter-config).

Also, when you configure the TKGI tile in Ops Manager, you must enabled Settings > Networking > NSX-T > **Policy API mode**. See [Configure TKIG Networking](./installing-nsx-t.html#networking).

## <a id='nsxt-policy-mgmt-console'></a>Management Console Considerations

If you are using the TKGI Managment Console, you need to select the Policy API in the TKGI configuration section.

## <a id='nsxt-policy-runtime'></a>Runtime Considerations

There are no specific runtime considerations for using the Policy API if you have properly configured TKGI to use the Policy API.

