---
title: Deploying NSX Edge Nodes for Enterprise PKS
owner: PKS-NSXT
---

This topic provides instructions for installing NSX Edge Node VMs on vSphere for use with <%= vars.product_full %>.

##<a id='prereqs'></a> Prerequisites

Make sure you have completed [all preceding NSX-T installation tasks](./nsxt-2-5-installation-steps.html).

##<a id='edge-nodes-about'></a> About Deploying NSX-T Edge Nodes for <%= vars.product_short %>

NSX Edge Nodes provide the bridge between the virtual network environment implemented using NSX-T and the physical network. Edge Nodes for <%= vars.product_short %> run load balancers for PKS API traffic, Kubernetes load balancer services, and ingress controllers. See [Load Balancers in Enterprise PKS](./about-lb.html) for more information.

In NSX-T, a load balancer is deployed on the Edge Nodes as a virtual server. The following virtual servers are required for <%= vars.product_short %>:

- 1 TCP Layer 4 virtual server for each Kubernetes service of type:`LoadBalancer`
- 2 Layer 7 global virtual servers for Kubernetes pod ingress resources (HTTP and HTTPS)
- 1 global virtual server for the PKS API

<%= vars.product_short %> supports the `medium` and `large` VM Edge Node form factor, as well as the bare metal Edge Node. The default size of the load balancer deployed by NSX-T for a Kubernetes cluster is `small`. The size of the load balancer can be customized using <a href="./network-profiles-define.html">Network Profiles</a>. 

See [Scaling Load Balancer Resources](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/2.5/administration/GUID-19B12230-8BF4-4AF7-9EB7-3701B0A0A439.html) in the NSX-T Data Center documentation for more information.

##<a id='edge-node1-install'></a> Deploy Edge Node 1 

To deploy Edge Node 1 VM using the NSX-T Manager interface:

1. From your browser, log in with admin privileges to NSX Manager at `https://NSX-MANAGER-IP-ADDRESS`.

1. In NSX Manager, go to **System** > **Fabric** > **Nodes** > **Edge Transport Nodes**.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_40.png">

1. Click **Add Edge VM**.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_41.png">

1. Configure the Edge VM as follows:
  - **Name**: `edge-node-1`
  - **FQDN**: `edge-node-1`
  - **Form Factor**: **Medium**
  <img src="images/nsxt/nsxt-25/nsx-edge-250_41.png">

1. Configure **Credentials** as follows:
  - **Enable SSH Login**: Yes
  - **Enable Root SSH Login**: Yes
  - **Passwords**: Enter a password
  <img src="images/nsxt/nsxt-25/nsx-edge-250_42.png">

1. Configure the deployment as follows:
  - **Compute Manager**: vCenter
  - **Cluster**: EDGE-Cluster
  - **Datastore**: VSAN Datastore
  <img src="images/nsxt/nsxt-25/nsx-edge-250_43.png">

1. Configure the node settings as follows:
  - **Management IP**: 10.40.206.6/25
  - **Default GW**: 10.40.206.125
  - **Management Interface**: CNA-INFRA
  - **DNS Server**: 10.17.131.1
  - **NTP Server**: 10.113.60.176
  <img src="images/nsxt/nsxt-25/nsx-edge-250_44.png">

1. Configure NSX as follows:
  - **Transport Zone**: TZ_OVERLAY and TZ_VLAN
  - **Edge Switch Name**: N-VDS-OVERLAY
  - **Uplink Profile**: nsx-edge-single-nic-uplink-profile
  - **IP Assignment**: Use IP Pool
  - **IP Pool**: TEP-IP-POOL
  - **DPDK Fastpath Interfaces**: uplink-1 / NSX-EDGE-VTEP-PG
  <img src="images/nsxt/nsxt-25/nsx-edge-250_45.png">

1. Click **Add N-VDS** and configure a second VDS for the Edge Node:
  - **Edge Switch Name**: N-VDS-VLAN
  - **Uplink Profile**: nsx-edge-single-nic-uplink-profile
  - **DPDK Fastpath Interfaces**: uplink-1 / NSX-EDGE-UPLINK
  <img src="images/nsxt/nsxt-25/nsx-edge-250_46.png">

1. Click **Finish** to begin the installation.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_47.png">

##<a id='edge-node-verify'></a> Verify NSX Edge Node 1 Installation

1. In vCenter, use the **Recent Tasks** panel at the bottom of the page to verify that you see the Edge Node 1 VM being deployed.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_48.png">

1. Once the process completes, you should see the Edge Node 1 deployed successfully in NSX Manager.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_49.png">

##<a id='edge-node2-install'></a> Deploy Edge Node 2 

1. Repeat this process for `nsx-edge-2` and for each additional NSX Edge Node you intend to use for <%= vars.product_short %>.

1. Once done, you should be able to see both Edge Nodes in NSX Manager.
  <img src="images/nsxt/nsxt-25/nsx-edge-250_50.png">

##<a id='next'></a> Next Step

[Create Edge Cluster](./nsxt-2-5-installation-create-edge-cluster.html).

##<a id='home'></a> Installation Instructions Home

See <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T Data Center v2.5 for <%= vars.product_short %></a>.
