---
title: Prerequisites for Installing NSX-T for Enterprise PKS
owner: PKS-NSXT
---

<strong><%= modified_date %></strong>

This topic provides the prerequisites for installing NSX-T Data Center for use with <%= vars.product_full %> on vSphere.

##<a id='nsxt-24-prereqs'></a> Prerequisites for Installing NSX-T for <%= vars.product_short %>

Before you install NSX-T for <%= vars.product_short %>, complete the following prerequisites:

1. Read the [<%= vars.product_short %> Release Notes](./release-notes.html) for the supported versions of NSX-T Data Center.

1. Read the [NSX-T Data Center Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/index.html) for the NSX-T version you are installing.

1. Review the [NSX-T installation documentation](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/index.html) for the version of NSX-T you are installing. 

1. Read the topics in [Preparing to Install <%= vars.product_short %> on vSphere with NSX-T Data Center](./vsphere-nsxt-index-prepare.html) in the <%= vars.product_short %> documentation.

##<a id='next'></a> Next Step

[Install the NSX Manager Unified Appliance for Enterprise PKS](./nsxt-install-nsx-manager.html) using the OVA template file.

##<a id='home'></a> NSX-T Installation Instructions Home

<a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>.

