---
title: Configuring Okta as a SAML Identity Provider
owner: Identity
---

This topic explains how to configure single sign-on (SSO) between Okta and <%= vars.product_full %>.

## <a id='prerequisites'></a> Prerequisites

To configure Okta to designate <%= vars.product_short %> as a service provider,
you must have the following:

+ An Okta Single-Sign On admin account
+ An app with SAML 2.0 enabled in Okta

## <a id='configure-saml'></a> Configure SAML in Okta

To configure Okta as a SAML identity provider for  <%= vars.product_short %>, do
	the following:

1. Log in to Okta as an admin.

1. Navigate to your app and click **Sign On**.

1. Under **Settings**, click **Edit**, and select **SAML 2.0**.

    <img src="images/saml_radio_button.png">

1. Click the **General** tab.

1. Under **SAML Settings**, click the **Edit** button followed by the **Next** button.

    <img src="images/okta_saml_config.png">

1. Configure the fields as follows:

	<table class=nice>
		<tr>
				<th>Field</th>
				<th>Instructions</th>
		</tr>

		<tr>
			<td><strong>Single sign on URL</strong></td>
			<td>Enter <code>https<span>:</span>//PKS-API:8443/saml/SSO/alias/PKS-API<span>:</span>8443</code>.
				<br>For example:
				<code>https<span>:</span>//api.pks.example.com<span>:</span>8443/saml/SSO/alias/api.pks.example.com<span>:</span>8443</code></td>
		</tr>

		<tr>
			<td><strong>Use this for Recipient URL and Destination URL</strong></td>
			<td>Ensure this checkbox is enabled.</td>
		</tr>

		<tr>
			<td><strong>Audience URI (SP Entity ID)</strong></td>
			<td>Enter <code>PKS-API:8443</code>.<br>
				For example: <code>api.pks.example.com<span>:</span>8443</code></td>
		</tr>

		<tr>
			<td><strong>Name ID format</strong></td>
			<td>Select a name identifier format.
				By default, <%= vars.product_short %> uses <code>EmailAddress</code>.</td>
		</tr>

		<tr>
			<td><strong>Attribute Statements</strong></td>
			<td>Enter any attribute statements that you want to map to users in the ID token.<br>
				In <%= vars.product_short %> you can define first name, last name, and email attributes.
			</td>
		</tr>

		<tr>
			<td><strong>Group Attribute Statements</strong></td>
			<td>Enter any group attribute statements that you want to map to users in the ID token.
				In Okta, these are groups that users belong to.
				You can use filters to define which groups are passed to <%= vars.product_short %>.
			</td>
		</tr>

	</table>

	<p class="note"><strong>Note:</strong> Pivotal recommends using the default
		settings for the fields that are not referenced in the above table.</p>

1. Click the **Next** button followed by the **Finish** button.

1. (Optional) If you want to enable multi-factor authentication (MFA), you can add a SSO policy rule to your app.
		To enable MFA, do the procedure in [Add Sign On policies for applications](https://help.okta.com/en/prod/Content/Topics/Security/App_Based_Signon.htm) in the Okta documentation. 


1. Click **Identity Provider metadata** to download the metadata,
or copy and save the link address of the **Identity Provider metadata**.

	<img src="images/id_provider_metadata.png">

1. Use the Okta metadata you retrieved in the above step to configure SAML in the <%= vars.product_tile %> tile.
See
[Connecting <%= vars.product_short %> to a SAML Identity Provider](configuring-saml.html).
