---
title: Adding Infrastructure Password Changes to the Tanzu Kubernetes Grid Integrated Edition Tile
owner: TKGI
---

This topic describes how to manage <%= vars.product_full %> after changing a BOSH Director 
or <%= vars.product_short %> service account password.  

## <a id='vcenter-pw-change'></a> Manage Your Service Account Passwords
When you installed <%= vars.product_short %> you created two service accounts:  

* **BOSH/Ops Manager Service Account**: This service account is configured in the BOSH Director tile.  
* **Master Node Service Account**: This service account is configured in the <%= vars.product_short %> tile.  

You must update a tile's copy of a service account password after changing the password on your network.

### <a id='configure-passowrds'></a> Step 1: Update Your Service Account Passwords

To update BOSH Director with a new **BOSH/Ops Manager Service Account** password, perform the following steps:  

1. Access the **Installation Dashboard** in Ops Manager.  
1. Select the BOSH Director tile.  
1. Select your IaaS' **Config** tab.  
1. Click **Change**, the link beneath the IaaS **Password** field, to modify the password.  
    <img src="images/vsphere/pw-change-bosh-vc.png" alt="vCenter Password Update in BOSH">
1. Enter the new service account password.  
1. Click **Save** to save the new password to the BOSH Director tile.  

To update <%= vars.product_short %> with a new **Master Node Service Account** password, perform the following steps:  

1. Access the **Installation Dashboard** in Ops Manager.  
1. Select the <%= vars.product_short %> tile.  
1. Select the **Kubernetes Cloud Provider** tab.  
1. Click **Change**, the link beneath your IaaS' **Master Credentials** field, to modify the password.  
    <img src="images/vsphere/pw-change-pks-vc.png" alt="vCenter Password Update in <%= vars.k8s_runtime_abbr %>">
1. Enter the new control plane node service account password.  
1. Click **Save** to save the new password to the <%= vars.product_short %> tile.  

### <a id='deploy-tkgi'></a> Step 2: Deploy Your New Service Account Passwords

After updating an Ops Manager tile's service account password you must also deploy the new password. 

To deploy a new password to BOSH Director and <%= vars.product_short %>, perform the following steps:  

1. Access the **Installation Dashboard** in Ops Manager.
1. Click **Review Pending Changes**.
1. In the **Errands** section for <%= vars.product_short %>, select **Update all clusters errand**. 
1. Click **Apply Changes** to update the <%= vars.product_short %> installation with the new password(s).

<p class="note"><strong>Note</strong>: The <strong>Update all clusters errand</strong> must be enabled 
to update the Kubernetes cloud provider password stored in Kubernetes clusters.</p>

## <a id='nsx-pw-change'></a> Manage Your NSX Manager Password (vSphere and vSphere with NSX-T only)

If you are on vSphere or vSphere with NSX-T only, you also configured the **NSX Manager Account** and password 
when you installed <%= vars.product_short %>. This service account is configured in the BOSH Director tile.  

After changing the password on your network, you must also update the BOSH Director tile's copy of the **NSX Manager Account** password.

To update the BOSH Director with the new NSX Manager password, perform the following steps:  

1. Access the **Installation Dashboard** in Ops Manager.
1. Select the BOSH Director tile.
1. Select the **vCenter Config** tab.
1. Click **Change**, the link beneath the **NSX Username** field, to modify the password.
<img src="images/vsphere/pw-change-bosh-nsx.png" alt="NSX Manager Password Update in BOSH">
1. Enter the new password.
1. Click **Save** to save the changes to the BOSH Director tile. 
1. On the Ops Manager **Installation Dashboard**, select **Review Pending Changes**.
1. Click **Apply Changes**.
