---
title: Pod Security Admission in TKGI
owner: TKGI
---

<%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) supports the built-in Pod Security Admission (PSA) in Kubernetes. PSA is the Kubernetes-recommended way to
implement security standards.

**Note**: The support for Kubernetes Pod Security Policy (PSP) has been removed in Kubernetes v1.25. 

For more information on Pod Security Admission, see [Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) 
in the Kubernetes documentation.

In <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>), PSA security permissions are controlled at the level of system namespaces. A user who has privileges to manage the TKGI namespaces can control the security permissions.
The following table describes the required PSA level for various TKGI System namespaces:

<table>
  <tr>
    <th><%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) System Namespace</th>
    <th>PSA Level</th>
  </tr>
  <tr>
    <td>kube-system</td>
    <td>Privileged</td>
  </tr>
  <tr>
    <td>nsx-system</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>pks-system</td>
    <td>Privileged</td>
  </tr>
  <tr>
    <td>pks-system-host-monitoring</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>vmware-system-csi</td>
    <td>Baseline</td>
  </tr>
</table>

For more information on implementing Pod Security Standards with namespace labels, see [Enforce Pod Security Standards with Namespace Labels](https://kubernetes.io/docs/tasks/configure-pod-/enforce-standards-namespace-labels) in the Kubernetes documentation.

## Migrate from PSP to PSA Controller

To migrate from PSP to PSA Controller, see [Migrate from PodSecurityPolicy to the Built-In PodSecurity Admission Controller](https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp) in Kubernetes documentation.
