---
title: Pod Security Admission in Tanzu Kubernetes Grid Integrated Edition
owner: TKGI
---

This topic describes how to use Kubernetes Pod Security Admission (PSA) with <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>).  

**Note**: Support for Kubernetes Pod Security Policy (PSP) has been removed in Kubernetes v1.25.  

##<a id='psa-about'></a> About Pod Security Admission

PSA is the Kubernetes-recommended way to implement security standards. <%= vars.k8s_runtime_abbr %> supports the built-in PSA in Kubernetes. 
PSA is enabled in <%= vars.k8s_runtime_abbr %>, by default.  

For more information on PSA, see [Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) 
in the Kubernetes documentation.  

##<a id='psa-interaction'></a> Pod Security Admission and <%= vars.k8s_runtime_abbr %>

PSA security permissions are controlled at the level of system namespaces. Any account with privileges to manage <%= vars.k8s_runtime_abbr %> 
namespaces can control PSA. 

The following table describes the required PSA level for <%= vars.k8s_runtime_abbr %> System namespaces:  

<table>
  <tr>
    <th><%= vars.k8s_runtime_abbr %> System Namespace</th>
    <th>PSA Level</th>
  </tr>
  <tr>
    <td>kube-system</td>
    <td>Privileged</td>
  </tr>
  <tr>
    <td>nsx-system</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>pks-system</td>
    <td>Privileged</td>
  </tr>
  <tr>
    <td>pks-system-host-monitoring</td>
    <td>Restricted</td>
  </tr>
  <tr>
    <td>vmware-system-csi</td>
    <td>Baseline</td>
  </tr>
</table>

For more information on implementing Pod Security Standards with namespace labels, see [Enforce Pod Security Standards with Namespace Labels](https://kubernetes.io/docs/tasks/configure-pod-/enforce-standards-namespace-labels) in the Kubernetes documentation.  

##<a id='psa-migration'></a> Migrate from PSP to PSA Controller

To migrate from PSP to PSA Controller, see [Migrate from PodSecurityPolicy to the Built-In PodSecurity Admission Controller](https://kubernetes.io/docs/tasks/configure-pod-container/migrate-from-psp) in the Kubernetes documentation.
