---
title: Enabling and Configuring Pod Security Admission
owner: TKGI
---

This topic describes how to enable and use Pod Security Admission (PSA) in <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>).

<p class="note"><strong>Note</strong>: Kubernetes Pod Security Policy (PSP) support has been deprecated 
  and PSP support will be entirely removed in Kubernetes v1.25. 
Kubernetes v1.23 and v1.24 provide beta support for Pod Security Admission. 
For more information, see <a href = "https://kubernetes.io/docs/concepts/security/pod-security-admission/">Pod Security Admission</a> and 
<a href="https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-namespace-labels/">Enforce Pod Security Standards with Namespace Labels</a>
in the Kubernetes documentation.  
</p>

##<a id='psa-about'></a> About Pod Security Admission

##<a id='psa-default'></a> Default Pod Security Admission in <%= vars.k8s_runtime_abbr %>

##<a id='psp-enable'></a> Enabling Pod Security Admission in <%= vars.k8s_runtime_abbr %>

###<a id='psa-new-installs'></a> New Installations of <%= vars.k8s_runtime_abbr %>: PSA is Not Enabled for Any Plan


###<a id='psa-upgrades'></a> Upgrade of <%= vars.k8s_runtime_abbr %>: PSA Must Be Enabled per Plan

###<a id='psa-enable-workflow'></a> Workflow for Enabling PSA

##<a id='psa-config'></a> Configuring the pks-restricted PSA for Developers to Use with <%= vars.k8s_runtime_abbr %>


###<a id='psa-define'></a> Step 1: Define the PSA


###<a id='psa-role'></a> Step 2: Create the Role

###<a id='psa-binding'></a> Step 3: Create the Role Binding

##<a id='psa-admin'></a> Administering PSA, Roles, and RoleBindings


<% if vars.product_version_raw == "1.16" or vars.product_version_raw == "1.15" or vars.product_version_raw == "1.15" or vars.product_version_raw == "1.13"  %>
##<a id='psa-migration'></a> Switching <%= vars.k8s_runtime_abbr %> from PSP to PSA

Before upgrading to <%= vars.k8s_runtime_abbr %> v1.16 you should validate and switch your <%= vars.k8s_runtime_abbr %> environment from PSP to PSA.

To switch <%= vars.k8s_runtime_abbr %> from PSP to PSA:  

1. something 

1. something

1. nothing



<% end %>




##<a id='psa-troubleshooting'></a> Troubleshooting PSA Configuration

This section provides some troubleshooting tips for working with PodSecurityAdmission.

###<a id='psa-troubleshooting-admission-order'></a> Verify Admission Order



###<a id='psa-troubleshooting-use-permits'></a> Verify Use Permission Grants



##<a id='psa-demo-files'></a> PSA Files and Demo