---
title: Firewall Ports and Protocols Requirements for vSphere With NSX-T
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the firewall ports and protocols requirements for using Pivotal Container Service (PKS) on vSphere with NSX-T integration.

In environments with strict inter-network access control policies, firewalls often require conduits to pass communication between system components on a different network or allow interfacing with external systems such as with enterprise applications or the public Internet. 

For PKS, we recommend that you disable security policies that filter traffic between the networks
supporting the system. When that is not an option, refer to the following table, which identifies
the flows between system components in a typical PKS deployment.

<p class="note"><strong>Note</strong>: You must set the communication path in your firewall settings to accomodate how you elect to control what groups have access to deploy and scale PKS-deployed Kubernetes clusters in your organization. In this case, mirror the settings on the lines below for the Operator –> PKS API server.</p>

| Source Component | Destination Component | Destination Protocol | Destination Port | Service |
| --- | --- | --- | --- | --- |
| Application User | NSX-T Load Balancers | TCP/UDP | varies | varies |
| Application User | NSX-T Ingress Controllers | TCP/UDP | varies | varies |
| Cloud Foundry BOSH Director | Domain Name Server | UDP | 53 | dns |
| Cloud Foundry BOSH Director | vCenter Server | TCP | 443 | https |
| Cloud Foundry BOSH Director | vSphere ESXI Mgmt. vmknic | TCP | 443 | https |
| Compilation Job VMs | Domain Name Server | UDP | 53 | dns |
| Developer | Harbor Private Image Registry | TCP | 4443 | notary |
| Developer | Harbor Private Image Registry | TCP | 443 | https |
| Developer | Harbor Private Image Registry | TCP | 80 | http |
| Developer | K8s Cluster Master/Etcd Nodes | TCP | 8443 | uaa auth |
| Developer | NSX-T Load Balancers | TCP/UDP | varies | varies |
| Developer | NSX-T Ingress Controllers | TCP/UDP | varies | varies |
| Domain Name Server | vCenter Server | UDP | 1433 | ms-sql-server |
| Harbor Private Image Registry | Domain Name Server | UDP | 53 | dns |
| Harbor Private Image Registry | Public CVE Source Database | TCP | 443 | https |
| Harbor Private Image Registry | Public CVE Source Database | TCP | 80 | http |
| K8s Cluster Master/Etcd Nodes | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server |
| K8s Cluster Master/Etcd Nodes | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore |
| K8s Cluster Master/Etcd Nodes | Domain Name Server | UDP | 53 | dns |
| K8s Cluster Master/Etcd Nodes | NSX Manager Server | TCP | 443 | https |
| K8s Cluster Master/Etcd Nodes | vCenter Server | TCP | 443 | https |
| K8s Cluster Worker Nodes | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server |
| K8s Cluster Worker Nodes | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore |
| K8s Cluster Worker Nodes | Domain Name Server | UDP | 53 | dns |
| K8s Cluster Worker Nodes | Harbor Private Image Registry | TCP | 8853 | bosh dns health |
| K8s Cluster Worker Nodes | Harbor Private Image Registry | TCP | 443 | https |
| K8s Cluster Worker Nodes | NSX Manager Server | TCP | 443 | https |
| K8s Cluster Worker Nodes | vCenter Server | TCP | 443 | https |
| NSX Controllers | Network Time Server | UDP | 123 | ntp |
| NSX Manager Server | SFTP Backup Server | TCP | 22 | ssh |
| Operator | Harbor Private Image Registry | TCP | 443 | https |
| Operator | Harbor Private Image Registry | TCP | 80 | http |
| Operator | NSX-T Load Balancers | TCP/UDP | varies | varies |
| Operator | NSX Manager Server | TCP | 443 | https |
| Operator | PCF Operations Manager | TCP | 22 | ssh |
| Operator | PCF Operations Manager | TCP | 443 | https |
| Operator | PCF Operations Manager | TCP | 80 | http |
| Operator | PKS API Server | TCP | 8443 | uaa auth |
| Operator | PKS API Server | TCP | 9021 | pks api server |
| Operator | PKS API Server | TCP | 389 | LDAP Server |
| Operator | vCenter Server | TCP | 443 | https |
| Operator | vCenter Server | TCP | 80 | http |
| Operator | vSphere ESXI Mgmt. vmknic | TCP | 22 | ssh |
| PCF Operations Manager | Domain Name Server | UDP | 53 | dns |
| PCF Operations Manager | K8s Cluster Worker Nodes | TCP | 22 | ssh |
| PCF Operations Manager | Network Time Server | UDP | 123 | ntp |
| PCF Operations Manager | vCenter Server | TCP | 443 | https |
| PCF Operations Manager | vSphere ESXI Mgmt. vmknic | TCP | 443 | https |
| PKS API Server | Domain Name Server | UDP | 53 | dns |
| PKS API Server | K8s Cluster Master/Etcd Nodes | TCP | 8443 | uaa auth |
| PKS API Server | NSX Manager Server | TCP | 443 | https |
| PKS API Server | vCenter Server | TCP | 443 | https |
| vCenter Server | Domain Name Server | UDP | 53 | dns |
| vCenter Server | Network Time Server | UDP | 123 | ntp |
| vCenter Server | vSphere ESXI Mgmt. vmknic | TCP | 8080 | vsanvp |
| vCenter Server | vSphere ESXI Mgmt. vmknic | TCP | 9080 | io filter storage |
| vCenter Server | vSphere ESXI Mgmt. vmknic | TCP | 443 | https |
| vCenter Server | vSphere ESXI Mgmt. vmknic | TCP | 902 | ideafarm-door |

You have the option to expose containerized applications, running in a Kubernetes cluster, for
external consumption through various ports and methods.

You can enable external access to applications by way of NSX and non-NSX load balancers and
ingress. Enabling access to applications through standard Kubernetes load-balancers and ingress
controller types allow for specific port and protocol designations, while the NAT function offered
through NSX-T will allow external addresses and ports to be automatically mapped and resolved to
internal/local addresses and ports.

For information on ports and protocol requirements for vSphere Without NSX-T 
see [Firewall Ports and Protocols Requirements for vSphere Without NSX-T](ports-protocols-wo-nsx-t.html)

## <a id="users"></a> <%= vars.product_short %> Ports and Protocols

### <a id="users"></a> <%= vars.product_short %> Users Ports and Protocols
| Source Component | Destination Component | Destination Protocol | Destination Port | Service |
| --- | --- | --- | --- | --- |
| Admin/Operator Console | All System Components | TCP | 22 | ssh |
| Admin/Operator Console | All System Components | TCP | 80 | http |
| Admin/Operator Console | All System Components | TCP | 443 | https |
| Admin/Operator Console | Cloud Foundry BOSH Director | TCP | 25555 | bosh director rest api |
| Admin/Operator Console | NSX-T API VIP | TCP | 443 | https |
| Admin/Operator Console | Pivotal Cloud Foundry Operations Manager | TCP | 22 | ssh |
| Admin/Operator Console | Pivotal Cloud Foundry Operations Manager | TCP | 443 | https |
| Admin/Operator Console | PKS Controller | TCP | 9021 | pks api server |
| Admin/Operator Console | vCenter Server | TCP | 443 | https |
| Admin/Operator Console | vCenter Server | TCP | 5480 | vami |
| Admin/Operator Console | vSphere ESXI Hosts Mgmt. vmknic | TCP | 902 | ideafarm-door |
| Admin/Operator and Developer Consoles | Harbor Private Image Registry | TCP | 80 | http |
| Admin/Operator and Developer Consoles | Harbor Private Image Registry | TCP | 443 | https |
| Admin/Operator and Developer Consoles | Harbor Private Image Registry | TCP | 4443 | notary |
| Admin/Operator and Developer Consoles | Kubernetes App Load-Balancer Svc | TCP/UDP | Varies | varies with apps |
| Admin/Operator and Developer Consoles | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca |
| Admin/Operator and Developer Consoles | Kubernetes Cluster Ingress Controller | TCP | 80 | http |
| Admin/Operator and Developer Consoles | Kubernetes Cluster Ingress Controller | TCP | 443 | https |
| Admin/Operator and Developer Consoles | Kubernetes Cluster Worker Node | TCP/UDP | 30000-32767 | kubernetes nodeport |
| Admin/Operator and Developer Consoles | PKS Controller | TCP | 8443 | httpsca |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes App Load-Balancer Svc | TCP/UDP | Varies | varies with apps |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes Cluster Ingress Controller | TCP | 80 | http |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes Cluster Ingress Controller | TCP | 443 | https |
| All User Consoles (Operator, Developer, Consumer) | Kubernetes Cluster Worker Node | TCP/UDP | 30000-32767 | kubernetes nodeport |

<p class="note"><strong>Note</strong>: The <code>type:NodePort</code> Service type is not supported for <%= vars.product_short %> deployments on vSphere with NSX-T. 
 Only <code>type:LoadBalancer</code> and Services associated with Ingress rules are supported on vSphere with NSX-T.</p>

### <a id="core"></a> <%= vars.product_short %> Core Ports and Protocols
| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| All System Components | Corporate Domain Name Server | TCP/UDP | 53 | dns| 
| All System Components | Network Time Server | UDP | 123 | ntp| 
| All System Components | vRealize LogInsight | TCP/UDP | 514/1514 | syslog/tls syslog| 
| All System Control Plane Components | AD/LDAP Directory Server | TCP/UDP | 389/636 | ldap/ldaps| 
| Pivotal Cloud Foundry Operations Manager | Admin/Operator Console | TCP | 22 | ssh| 
| Pivotal Cloud Foundry Operations Manager | Cloud Foundry BOSH Director | TCP | 6868 | bosh agent http| 
| Pivotal Cloud Foundry Operations Manager | Cloud Foundry BOSH Director | TCP | 8443 | httpsca| 
| Pivotal Cloud Foundry Operations Manager | Cloud Foundry BOSH Director | TCP | 8844 | credhub| 
| Pivotal Cloud Foundry Operations Manager | Cloud Foundry BOSH Director | TCP | 25555 | bosh director rest api| 
| Pivotal Cloud Foundry Operations Manager | Harbor Private Image Registry | TCP | 22 | ssh| 
| Pivotal Cloud Foundry Operations Manager | Kubernetes Cluster Master/Etcd Node | TCP | 22 | ssh| 
| Pivotal Cloud Foundry Operations Manager | Kubernetes Cluster Worker Node | TCP | 22 | ssh| 
| Pivotal Cloud Foundry Operations Manager | NSX-T API VIP | TCP | 443 | https| 
| Pivotal Cloud Foundry Operations Manager | NSX-T Manager/Controller Node | TCP | 22 | ssh| 
| Pivotal Cloud Foundry Operations Manager | NSX-T Manager/Controller Node | TCP | 443 | https| 
| Pivotal Cloud Foundry Operations Manager | PKS Controller | TCP | 22 | ssh| 
| Pivotal Cloud Foundry Operations Manager | PKS Controller | TCP | 8443 | httpsca| 
| Pivotal Cloud Foundry Operations Manager | vCenter Server | TCP | 443 | https| 
| Pivotal Cloud Foundry Operations Manager | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https| 
| Cloud Foundry BOSH Director | NSX-T API VIP | TCP | 443 | https| 
| Cloud Foundry BOSH Director | vCenter Server | TCP | 443 | https| 
| Cloud Foundry BOSH Director | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https| 
| BOSH Compilation Job VM | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server| 
| BOSH Compilation Job VM | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore| 
| BOSH Compilation Job VM | Cloud Foundry BOSH Director | TCP | 25923 | health monitor daemon| 
| BOSH Compilation Job VM | Harbor Private Image Registry | TCP | 443 | https| 
| BOSH Compilation Job VM | Harbor Private Image Registry | TCP | 8853 | bosh dns health| 
| PKS Controller | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server| 
| PKS Controller | Cloud Foundry BOSH Director | TCP | 8443 | httpsca| 
| PKS Controller | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore| 
| PKS Controller | Cloud Foundry BOSH Director | TCP | 25555 | bosh director rest api| 
| PKS Controller | Cloud Foundry BOSH Director | TCP | 25923 | health monitor daemon| 
| PKS Controller | Kubernetes Cluster Master/Etcd Node | TCP | 8443 | httpsca| 
| PKS Controller | NSX-T API VIP | TCP | 443 | https| 
| PKS Controller | vCenter Server | TCP | 443 | https| 
| Harbor Private Image Registry | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server| 
| Harbor Private Image Registry | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore| 
| Harbor Private Image Registry | Cloud Foundry BOSH Director | TCP | 25923 | health monitor daemon| 
| Harbor Private Image Registry | IP NAS Storage Array | TCP | 111 | nfs rpc portmapper| 
| Harbor Private Image Registry | IP NAS Storage Array | TCP | 2049 | nfs| 
| Harbor Private Image Registry | Public CVE Source Database | TCP | 443 | https| 
| kube-system pod/telemetry-agent | PKS Controller | TCP | 24224 | fluentd out_forward| 
| Kubernetes Cluster Ingress Controller | NSX-T API VIP | TCP | 443 | https| 
| Kubernetes Cluster Ingress Controller | vCenter Server | TCP | 443 | https| 
| Kubernetes Cluster Master/Etcd Node | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server| 
| Kubernetes Cluster Master/Etcd Node | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore| 
| Kubernetes Cluster Master/Etcd Node | Cloud Foundry BOSH Director | TCP | 25923 | health monitor daemon| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Master/Etcd Node | TCP | 2379 | etcd clent| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Master/Etcd Node | TCP | 2380 | etcd server| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Master/Etcd Node | TCP | 8443 | httpsca| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Master/Etcd Node | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Worker Node | TCP | 4194 | cadvisor| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Worker Node | TCP | 10250 | kubelet api| 
| Kubernetes Cluster Master/Etcd Node | Kubernetes Cluster Worker Node | TCP | 31194 | cadvisor| 
| Kubernetes Cluster Master/Etcd Node | NSX-T API VIP | TCP | 443 | https| 
| Kubernetes Cluster Master/Etcd Node | PKS Controller | TCP | 8443 | httpsca| 
| Kubernetes Cluster Master/Etcd Node | PKS Controller | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Master/Etcd Node | vCenter Server | TCP | 443 | https| 
| Kubernetes Cluster Worker Node | Cloud Foundry BOSH Director | TCP | 4222 | bosh nats server| 
| Kubernetes Cluster Worker Node | Cloud Foundry BOSH Director | TCP | 25250 | bosh blobstore| 
| Kubernetes Cluster Worker Node | Cloud Foundry BOSH Director | TCP | 25923 | health monitor daemon| 
| Kubernetes Cluster Worker Node | Harbor Private Image Registry | TCP | 443 | https| 
| Kubernetes Cluster Worker Node | Harbor Private Image Registry | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Worker Node | IP NAS Storage Array | TCP | 111 | nfs rpc portmapper| 
| Kubernetes Cluster Worker Node | IP NAS Storage Array | TCP | 2049 | nfs| 
| Kubernetes Cluster Worker Node | Kubernetes Cluster Master/Etcd Node | TCP | 8443 | httpsca| 
| Kubernetes Cluster Worker Node | Kubernetes Cluster Master/Etcd Node | TCP | 8853 | bosh dns health| 
| Kubernetes Cluster Worker Node | Kubernetes Cluster Master/Etcd Node | TCP | 10250 | kubelet api| 
| pks-system pod/cert-generator | PKS Controller | TCP | 24224 | fluentd out_forward| 
| pks-system pod/fluent-bit | PKS Controller | TCP | 24224 | fluentd out_forward| 



## <a id="users"></a> VMWare Ports and Protocols

### <a id="virtual-infra"></a> VMWare Virtual Infrastructure Ports and Protocols 
| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| vCenter Server | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
| vCenter Server | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https| 
| vCenter Server | vSphere ESXI Hosts Mgmt. vmknic | TCP | 8080 | http alt| 
| vCenter Server | vSphere ESXI Hosts Mgmt. vmknic | TCP | 9080 | io filter storage| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 443 | https| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 1235 | netcpa| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 5671 | amqp traffic| 
| vSphere ESXI Hosts Mgmt. vmknic | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
| vSphere ESXI Hosts Mgmt. vmknic | vCenter Server | UDP | 902 | ideafarm-door| 
| vSphere ESXI Hosts Mgmt. vmknic | vCenter Server | TCP | 9084 | update manager| 
| vSphere ESXI Hosts Mgmt. vmknic | vSphere ESXI Hosts Mgmt. vmknic | TCP | 8182 | vsphere ha| 
| vSphere ESXI Hosts Mgmt. vmknic | vSphere ESXI Hosts Mgmt. vmknic | UDP | 8182 | vsphere ha| 
| vSphere ESXI Hosts vMotion vmknic | vSphere ESXI Hosts vMotion vmknic | TCP | 8000 | vmotion| 
| vSphere ESXI Hosts IP Storage vmknic | IP NAS Storage Array | TCP | 111 | nfs rpc portmapper| 
| vSphere ESXI Hosts IP Storage vmknic | IP NAS Storage Array | TCP | 2049 | nfs| 
| vSphere ESXI Hosts IP Storage vmknic | IP NAS Storage Array | TCP | 3260 | iscsi| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | TCP | 2233 | vsan transport| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | UDP | 12321 | unicast agent| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | UDP | 12345 | vsan cluster svc| 
| vSphere ESXI Hosts vSAN vmknic | vSphere ESXI Hosts vSAN vmknic | UDP | 23451 | vsan cluster svc| 
| vSphere ESXI Hosts TEP vmknic | vSphere ESXI Hosts TEP vmknic | UDP | 3784 | bfd| 
| vSphere ESXI Hosts TEP vmknic | vSphere ESXI Hosts TEP vmknic | UDP | 3785 | bfd| 
| vSphere ESXI Hosts TEP vmknic | vSphere ESXI Hosts TEP vmknic | UDP | 6081 | geneve| 
| vSphere ESXI Hosts TEP vmknic | NSX-T Edge TEP vNIC | UDP | 3784 | bfd| 
| vSphere ESXI Hosts TEP vmknic | NSX-T Edge TEP vNIC | UDP | 3785 | bfd| 
| vSphere ESXI Hosts TEP vmknic | NSX-T Edge TEP vNIC | UDP | 6081 | geneve| 
| NSX-T Manager/Controller Node | NSX-T API VIP | TCP | 443 | https| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 443 | https| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 5671 | amqp traffic| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
| NSX-T Manager/Controller Node | NSX-T Manager/Controller Node | TCP | 9000 | loginsight ingestion api| 
| NSX-T Manager/Controller Node | Traceroute Destination | UDP | 33434-33523 | traceroute| 
| NSX-T Manager/Controller Node | vCenter Server | TCP | 80 | http| 
| NSX-T Manager/Controller Node | vCenter Server | TCP | 443 | https| 
| NSX-T Manager/Controller Node | vSphere ESXI Hosts Mgmt. vmknic | TCP | 443 | https| 
| NSX-T Edge Management | NSX-T Edge Management | TCP | 1167 | DHCP backend| 
| NSX-T Edge Management | NSX-T Edge Management | TCP | 2480 | Nestdb| 
| NSX-T Edge Management | NSX-T Edge Management | UDP | 3784 | bfd| 
| NSX-T Edge Management | NSX-T Edge Management | UDP | 50263 | high-availability| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 443 | https| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 1235 | netcpa| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 5671 | amqp traffic| 
| NSX-T Edge Management | NSX-T Manager/Controller Node | TCP | 8080 | http alt| 
| NSX-T Edge Management | Traceroute Destination | UDP | 33434-33523 | traceroute| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 3784 | bfd| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 3785 | bfd| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 6081 | geneve| 
| NSX-T Edge TEP vNIC | NSX-T Edge TEP vNIC | UDP | 50263 | high-availability| 
| NSX-T Edge TEP vNIC | vSphere ESXI Hosts TEP vmknic | UDP | 3784 | bfd| 
| NSX-T Edge TEP vNIC | vSphere ESXI Hosts TEP vmknic | UDP | 3785 | bfd| 
| NSX-T Edge TEP vNIC | vSphere ESXI Hosts TEP vmknic | UDP | 6081 | geneve| 
| NSX-T Edge Tier-0 Uplink IP(s) / HA VIP | Physical Network Router | TCP | 179 | bgp| 
| Physical Network Router | NSX-T Edge Tier-0 Uplink IP(s) / HA VIP | TCP | 179 | bgp| 

### <a id="optional-integration"></a> VMWare Optional Integration Ports and Protocols
| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| Admin/Operator Console | vRealize Operations Manager | TCP | 443 | https| 
| vRealize Operations Manager | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca| 
| vRealize Operations Manager | NSX-T API VIP | TCP | 443 | https| 
| vRealize Operations Manager | PKS Controller | TCP | 8443 | httpsca| 
| vRealize Operations Manager | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca| 
| Admin/Operator Console | vRealize LogInsight | TCP | 443 | https| 
| Kubernetes Cluster Ingress Controller | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Kubernetes Cluster Master/Etcd Node | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Kubernetes Cluster Master/Etcd Node | vRealize LogInsight | TCP | 9543 | ingestion api -tls| 
| Kubernetes Cluster Worker Node | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Kubernetes Cluster Worker Node | vRealize LogInsight | TCP | 9543 | ingestion api -tls| 
| NSX-T Manager/Controller Node | vRealize LogInsight | TCP | 9000 | ingestion api| 
| PKS Controller | vRealize LogInsight | TCP | 9000 | ingestion api| 
| Admin/Operator and Developer Consoles | Wavefront SaaS APM | TCP | 443 | https| 
| kube-system pod/wavefront-proxy | Wavefront SaaS APM | TCP | 443 | https| 
| kube-system pod/wavefront-proxy | Wavefront SaaS APM | TCP | 8443 | httpsca| 
| pks-system pod/wavefront-collector | PKS Controller | TCP | 24224 | fluentd out_forward| 
| Admin/Operator Console | vRealize Network Insight Platform | TCP | 443 | https| 
| Admin/Operator Console | vRealize Network Insight Proxy | TCP | 22 | ssh| 
| vRealize Network Insight Proxy | Kubernetes Cluster API Server -LB VIP | TCP | 8443 | httpsca| 
| vRealize Network Insight Proxy | NSX-T API VIP | TCP | 22 | ssh| 
| vRealize Network Insight Proxy | NSX-T API VIP | TCP | 443 | https| 
| vRealize Network Insight Proxy | PKS Controller | TCP | 8443 | httpsca| 
| vRealize Network Insight Proxy | PKS Controller | TCP | 9021 | pks api server|
