---
title: Firewall Ports and Protocols Requirements (Antrea and Flannel Networking)
owner: TKGI
netenv: antrea
---

This topic describes the firewall ports and protocols requirements for using <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>)
with Antrea and Flannel container networking.  

If you are using <%= vars.k8s_runtime_abbr %> on vSphere, see one of the follow topics instead:

* [Firewall Ports and Protocols Requirements for vSphere with NSX-T](ports-protocols-nsx-t.html)
* [Firewall Ports and Protocols Requirements for vSphere (Antrea and Flannel Networking)](ports-protocols-wo-nsx-t.html)

<br>
<br>
## <a id="overview"></a> Overview

Apps frequently require the ability to pass internal communication between system components on 
different networks.  

Firewalls and Kubernetes Pod Security Policy are used to filter traffic and limit access in environments with strict 
inter-network access control policies and your apps require one or more conduits through a secured environment's firewalls. 

<%= vars.recommended_by %> recommends that 
rather than using a Kubernetes Pod Security Policy to filter traffic between networks and 
<%= vars.k8s_runtime_abbr %> system components and clusters that you instead 
enable access to apps through standard Kubernetes load-balancers and ingress controller types. 
This enables you to designate specific ports and protocols as a firewall conduit.    

Consult the following tables when configuring port settings to install or upgrade <%= vars.k8s_runtime_abbr %> 
or configure a Kubernetes cluster:

* [<%= vars.k8s_runtime_abbr %> Cluster Pod and Workload Networking Ports and Protocols](#pods-workloads)  
* [<%= vars.k8s_runtime_abbr %> Users Ports and Protocols](#users)  
* [<%= vars.k8s_runtime_abbr %> Core Ports and Protocols](#core)  
* [Antrea Networking Ports and Protocols](#antrea)  

<p class="note"><strong>Note</strong>: To control which groups access deploying and scaling 
your organization's <%= vars.product_short %>-deployed Kubernetes clusters, configure your firewall settings 
as described on the Operator –> <%= vars.control_plane %> server lines below.</p>

<%= partial 'ports-protocols' %>
