---
title: Firewall Ports and Protocols Requirements
owner: TKGI
netenv: antrea
---

This topic describes the firewall ports and protocols requirements for using <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>)
with Antrea.  

If you are using <%= vars.k8s_runtime_abbr %> on vSphere, see one of the follow topics instead:

* [Firewall Ports and Protocols Requirements for vSphere with NSX-T](ports-protocols-nsx-t.html)
* [Firewall Ports and Protocols Requirements for vSphere without NSX-T](ports-protocols-wo-nsx-t.html)


## <a id="overview"></a> Overview


Firewalls and Kubernetes Pod Security Policy are used to filter traffic and limit access in environments with strict 
inter-network access control policies. 

Apps frequently require the ability to pass internal communication between system components on 
different networks and require one or more conduits through the environment's firewalls. 

For <%= vars.k8s_runtime_abbr %>, <%= vars.recommended_by %> recommends that you enable access to apps 
through standard Kubernetes load-balancers and ingress controller types, 
rather than using security policies to filter traffic between the networks supporting the system. 
This enables you to designate specific ports and protocols as a firewall conduit.    

Consult the following tables when configuring port settings to install or upgrade <%= vars.k8s_runtime_abbr %> 
or configure a Kubernetes cluster:

* [<%= vars.k8s_runtime_abbr %> Users Ports and Protocols](#users)  
* [<%= vars.k8s_runtime_abbr %> Core Ports and Protocols](#core)  
* [Antrea Networking Ports and Protocols](#antrea)  


You can optionally disable security policies that filter traffic between
the networks supporting the system rather than opening individual ports.


<p class="note"><strong>Note</strong>: To control which groups access deploying and scaling 
your organization's <%= vars.product_short %>-deployed Kubernetes clusters, configure your firewall settings 
as described on the Operator –> <%= vars.control_plane %> server lines below.</p>

<%= partial 'ports-protocols' %>

## <a id="networking"></a> Networking Ports and Protocols

The following tables list ports and protocols required for network communication. 

### <a id="antrea"></a> Antrea Networking Ports and Protocols

The following tables list ports and protocols required for network communication in Antrea environments. 

| Source Component | Destination Component | Destination Protocol | Destination Port | Service| 
| --- | --- | --- | --- | --- |
| Worker Node VMs | Worker Node VMs | UDP | 6081 | Geneve | 
| Master Node VMs | Master Node VMs | TCP | 8091 | TCP| 

<p class="note"><strong>Note</strong>: Port 6081 must be open on all of the worker node VMs and 
  port 8091 must be open on all master node VMs in the clusters you create in an Antrea networking environment.</p>
  
For more information, see [Network Requirements](https://github.com/antrea-io/antrea/blob/main/docs/network-requirements.md#network-requirements) 
in the Antrea GitHub repository.  