---
title: Firewall Ports and Protocols Requirements for vSphere with NSX-T
owner: TKGI
netenv: nsxt
---

This topic describes the firewall ports and protocols requirements for using <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>)
on vSphere with NSX-T integration.  

If you are not using <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T, see one of the follow topics instead:

* [Firewall Ports and Protocols Requirements for vSphere (Antrea and Flannel Networking)](ports-protocols-wo-nsx-t.html)  
* [Firewall Ports and Protocols Requirements (Antrea and Flannel Networking)](ports-protocols-antrea.html)  

<br>
<br>
## <a id="overview"></a> Overview

Apps frequently require the ability to pass internal communication between system components on 
different networks.  

Firewalls and Kubernetes Pod Security Policy are used to filter traffic and limit access in environments with strict 
inter-network access control policies and your apps require one or more conduits through a secured environment's firewalls. 

<%= vars.recommended_by %> recommends that 
rather than using a Kubernetes Pod Security Policy to filter traffic between networks and 
<%= vars.k8s_runtime_abbr %> system components and clusters that you instead use one of the following methods:  

* Enable access to apps through standard Kubernetes load-balancers and ingress
controller types. This enables you to designate specific ports and protocols as a firewall conduit.  
* Enable access using the NSX-T load balancer and ingress. This enables you to configure external addresses and ports 
that are automatically mapped and resolved to internal/local addresses and ports.

For more information about vSphere with NSX-T port and protocol requirements, see 
[VMware Ports and Protocols](https://ports.vmware.com/home/vSphere+NSX-Data-Center-for-vSphere+NSX-T-Data-Center)
on the VMware site.  

Consult the following tables when configuring port settings to install or upgrade <%= vars.k8s_runtime_abbr %> 
or configure a Kubernetes cluster:

* [<%= vars.k8s_runtime_abbr %> Cluster Pod and Workload Networking Ports and Protocols](#pods-workloads)  
* [<%= vars.k8s_runtime_abbr %> Users Ports and Protocols](#users)  
* [<%= vars.k8s_runtime_abbr %> Core Ports and Protocols](#core)  
* [VMware Virtual Infrastructure Ports and Protocols](#virtual-infra)  
* [VMware Optional Integration Ports and Protocols](#optional-integration)  

<p class="note"><strong>Note</strong>: To control which groups access deploying and scaling 
your organization's <%= vars.product_short %>-deployed Kubernetes clusters, configure your firewall settings 
as described on the Operator –> <%= vars.control_plane %> server lines below.</p>

<%= partial 'ports-protocols' %>
<%= partial 'ports-protocols-sphere' %>
