---
title: Firewall Ports and Protocols Requirements for vSphere without NSX-T
owner: PKS
nsxt: false
---

<div class="quick-links">
    <ul>
        <li><a href="#enterprise"><%= vars.product_short %> Ports and Protocols</a></li>
        	<ul>
        		<li><a href="#users"><%= vars.product_short %> Users Ports and Protocols</a></li>
        		<li><a href="#core"><%= vars.product_short %> Core Ports and Protocols</a></li>
        	</ul>

        <li><a href="#vmware">VMWare Ports and Protocols</a></li>
        	<ul>
        		<li><a href="#virtual-infra">VMWare Virtual Infrastructure Ports and Protocols </a></li>
        		<li><a href="#optional-integration">VMWare Optional Integration Ports and Protocols</a></li>
        	</ul>
    </ul>
</div>

<strong><%= modified_date %></strong>

<%= partial 'ports-protocols-sphere' %>
