---
title: Using Proxies with Enterprise PKS on AWS
owner: PKS
topic: proxies-aws
---

This topic describes how to use proxies with <%= vars.product_full %> on AWS.

##<a id='overview'></a>Overview

If your environment includes HTTP proxies, you can configure <%= vars.product_short %> 
on AWS to use these proxies so that <%= vars.product_short %>-deployed Kubernetes 
master and worker nodes access public Internet services and other internal services through a proxy.  

In addition, <%= vars.product_short %> proxy settings apply to the PKS API instance.
When an <%= vars.product_short %> operator creates a Kubernetes cluster, 
the PKS API instance VM behind a proxy is able to manage AWS components on the standard network.  

You can also proxy outgoing HTTP/HTTPS traffic from Ops Manager and the BOSH Director so that all 
<%= vars.product_short %> components use the same proxy service.

The following diagram illustrates the network architecture:  
<br>
    <img src="images/pks-proxy-arch-global.png" alt="PKS Proxy Architecture">
    <%#= original graphic is here https://docs.google.com/presentation/d/1p2JE9iP-2Qz6tScmsyMucbaxKWYetMpG4eFhSPXgeZA/edit#slide=id.g73f170d055_1_27 %>

## <a id='pks-nsxt-proxy'></a>Enable PKS API and Kubernetes Proxy

To configure a global HTTP proxy for all outgoing HTTP/HTTPS traffic from the Kubernetes cluster nodes and the PKS API server, perform the following steps:

1. Navigate to Ops Manager and log in.

1. Click the **<%= vars.product_tile %>** tile.

1. Click **Networking**.
1. Under **HTTP/HTTPS Proxy**, select **Enabled** to configure an <%= vars.product_short %> global proxy 
for all outgoing HTTP and HTTPS traffic from your Kubernetes clusters.  
<%= partial 'global-proxy' %>
1. To save your changes to the PKS tile, click **Save**.  
1. Proceed with any remaining <%= vars.product_tile %> tile configurations and deploy <%= vars.product_short %>. 
See <a href="./installing-pks-aws.html">Installing <%= vars.product_short %> on AWS</a>.

## <a id='pks-nsxt-proxy'></a>Enable PKS API and Kubernetes Proxy

To configure a global HTTP proxy for all outgoing HTTP/HTTPS traffic from the Kubernetes 
cluster nodes and the PKS API server, perform the following steps:  


## <a id='pks-om-bosh-proxy'></a>Enable Ops Manager and BOSH Proxy

<%= partial 'proxy-ops-man' %>