---
title: Using Proxies with Enterprise PKS on NSX-T
owner: PKS
---

This topic describes how to use proxies with <%= vars.product_full %> with NSX-T.

##<a id='overview'></a>Overview

If your environment includes HTTP proxies, you can configure <%= vars.product_short %> with NSX-T to use these proxies so that <%= vars.product_short %>-deployed Kubernetes master and worker nodes access public Internet services and other internal services through a proxy.

In addition, <%= vars.product_short %> proxy settings apply to the PKS API instance.
When an <%= vars.product_short %> operator creates a Kubernetes cluster, the PKS API instance VM behind a proxy is able to manage NSX-T objects on the standard network.

You can also proxy outgoing HTTP/HTTPS traffic from Ops Manager and the BOSH Director so that all <%= vars.product_short %> components use the same proxy service.

The following diagram illustrates the network architecture:

<img src="images/pks-proxy-arch.png" alt="PKS Proxy Architecture" width="325">

## <a id='pks-nsxt-proxy'></a>Enable PKS API and Kubernetes Proxy

To configure a global HTTP proxy for all outgoing HTTP/HTTPS traffic from the Kubernetes cluster nodes and the PKS API server, perform the following steps:

1. Navigate to Ops Manager and log in.

1. Click the **<%= vars.product_tile %>** tile.

1. Click **Networking**.

	<img src="images/networking-https-proxy.png" alt="PKS-NSX-T Proxy Settings" width="325">

1. Under **HTTP/HTTPS proxy**, select **Enabled**. When this option is enabled, you can proxy HTTP traffic, HTTPS traffic, or both.

1. To proxy outgoing HTTP traffic, under **HTTP Proxy URL**, enter the HTTP URL of your proxy endpoint. For example, `http://myproxy.com:80`.

1. If the proxy for outgoing HTTP traffic uses basic authentication, enter the user name and password in the **HTTP Proxy Credentials** fields.

1. To proxy outgoing HTTPS traffic, under **HTTPS Proxy URL**, enter the HTTP URL of your proxy endpoint. For example, `http://myproxy.com:80`.
  <p class="note"><strong>Note</strong>: Using an HTTPS connection to the proxy server is not supported. HTTP and HTTPS proxy options can only be configured with an HTTP connection to the proxy server. You cannot populate either of the proxy URL fields with an HTTPS URL. The proxy host and port can be different for HTTP and HTTPS traffic, but the proxy protocol must be HTTP.</p>

1. If the proxy for outgoing HTTPS traffic uses basic authentication, enter the user name and password in the **HTTPS Proxy Credentials** fields.

1. Under **No Proxy**, enter the comma-separated list of IP addresses that must bypass the proxy to allow for internal <%= vars.product_short %> communication.
	<br><br>
	In addition to `127.0.0.1` and `localhost`, you must include your deployment network CIDR, your node network IP block, and your pod network IP block CIDR:

	```
	127.0.0.1,localhost,
	DEPLOYMENT-NETWORK-CIDR,
	NODE-NETWORK-IP-BLOCK-CIDR,
	POD-NETWORK-IP-BLOCK-CIDR
	```

	You can enter FQDNs in the **No Proxy** field. For example:
    - `registry-1.docker.io`
    - `auth.docker.io`
    - `production.cloudflare.docker.com`
    - `gcr.io`
    - `storage.googleapis.com`

    If you are upgrading and have an existing proxy configuration for reaching a Docker registry or other external services, add the following IP addresses to the **No Proxy** field to prevent the <%= vars.product_short %> to IaaS traffic from going through the proxy: NSX Manager, vCenter Server, and all ESXi hosts.
    <br><br>
    If a component is communicating with <%= vars.product_short %> or Harbor using a hostname instead of an IP address, you will need to add the corresponding FQDN to the **No Proxy** list. For example:

    ```
	127.0.0.1,localhost,
	DEPLOYMENT-NETWORK-CIDR,
	NODE-NETWORK-IP-BLOCK-CIDR,
	POD-NETWORK-IP-BLOCK-CIDR,
	PKS-API-FQDN,HARBOR-API-FQDN
	```

    <p class="note"><strong>Note</strong>: By default, the <code>.internal</code>, <code>10.100.0.0/8</code>, and <code>10.200.0.0/8</code> IP address ranges are not proxied. This allows internal <%= vars.product_short %> communication.</p>

1. Save the changes to the <%= vars.product_tile %> tile.

1. Proceed with any remaining <%= vars.product_tile %> tile configurations and deploy <%= vars.product_short %>. See <a href="./installing-nsx-t.html">Installing <%= vars.product_short %> on vSphere with NSX-T</a>.

## <a id='pks-om-bosh-proxy'></a>Enable Ops Manager and BOSH Proxy

To enable an HTTP proxy for outgoing HTTP/HTTPS traffic from Ops Manager and the BOSH Director, perform the following steps:

1. Navigate to Ops Manager and log in.

1. Select **User Name > Settings** in the upper right.

1. Click **Proxy Settings**.

	<img src="images/pks-proxy-config.png" alt="PKS Proxy Settings" width="325">

1. Under **HTTP Proxy**, enter the FQDN or IP address of the HTTP proxy endpoint. For example, `http://myproxy.com:80`.

1. Under **HTTPS Proxy**, enter the FQDN or IP address of the HTTPS proxy endpoint. For example, `http://myproxy.com:80`.
  <p class="note"><strong>Note</strong>: Using an HTTPS connection to the proxy server is not supported. Ops Manager and BOSH HTTP and HTTPS proxy options can be only configured with an HTTP connection to the proxy.</p>

1. Under **No Proxy**, include the hosts that must bypass the proxy. This is required.
	<br><br>
	In addition to `127.0.0.1` and `localhost`, include the BOSH Director IP and the PKS VM IP.
	The BOSH Director IP is typically the first IP address in the deployment network CIDR,
	and the PKS VM IP is the second IP address in the deployment network CIDR. In addition, be sure to include the Ops Manager IP address in the **No Proxy** field as well.

	```
	127.0.0.1,localhost,BOSH-DIRECTOR-IP,PKS-VM-IP,OPS-MANAGER-IP
	```

	<p class="note"><strong>Note</strong>: Ops Manager does not allow the use of a CIDR range in the <strong>No Proxy</strong> field. You must specify each individual IP address to bypass the proxy.<br><br>
	The <strong>No Proxy</strong> field does not accept wildcard domain notation, such as <code>*.docker.io</code> and <code>*.docker.com</code>. You must specify the exact IP or FQDN to bypass the proxy, such as <code>registry-1.docker.io</code>.</p>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes**.

1. Click **Apply Changes** to deploy Ops Manager and the BOSH Director with the updated proxy settings.
