---
title: Using Proxies with Tanzu Kubernetes Grid Integrated Edition on AWS
owner: TKGI
topic: proxies-aws
---

This topic describes how HTTP/HTTPS proxies work in <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) on AWS,
and how to set proxies globally.

To configure proxy settings specifically for individual <%= vars.k8s_runtime_abbr %> clusters, see [Configure Cluster Proxies](proxies-cluster.html).


##<a id='overview'></a>Overview

If your environment includes HTTP proxies, you can configure <%= vars.product_short %> 
on AWS to use these proxies so that <%= vars.product_short %>-deployed Kubernetes 
master and worker nodes access public Internet services and other internal services through a proxy.  

In addition, <%= vars.product_short %> proxy settings apply to the <%= vars.control_plane %> instance.
When an <%= vars.product_short %> operator creates a Kubernetes cluster, 
the <%= vars.control_plane %> VM behind a proxy is able to manage AWS components on the standard network.

You can also proxy outgoing HTTP/HTTPS traffic from Ops Manager and the BOSH Director so that all 
<%= vars.product_short %> components use the same proxy service.

The following diagram illustrates the network architecture:  
<br>
    <img src="images/proxy-arch-global.png" alt="<%= vars.k8s_runtime_abbr %> Proxy Architecture">
    <%#= Image source: https://docs.google.com/presentation/d/1p2JE9iP-2Qz6tScmsyMucbaxKWYetMpG4eFhSPXgeZA/edit#slide=id.g8067ceefc5_1_0 %>

## <a id='tkgi-nsxt-proxy'></a>Enable <%= vars.control_plane %> and Kubernetes Proxy

To configure a global HTTP proxy for all outgoing HTTP/HTTPS traffic from the Kubernetes cluster nodes and the <%= vars.control_plane %> server, perform the following steps:

1. Navigate to Ops Manager and log in.

1. Click the **<%= vars.product_tile %>** tile.

1. Click **Networking**.
1. Under **HTTP/HTTPS Proxy**, select **Enabled** to configure an <%= vars.product_short %> global proxy 
for all outgoing HTTP and HTTPS traffic from your Kubernetes clusters.  
<%= partial 'global-proxy' %>
1. To save your changes to the <%= vars.k8s_runtime_abbr %> tile, click **Save**.  
1. Proceed with any remaining <%= vars.product_tile %> tile configurations and deploy <%= vars.product_short %>. 
See <a href="./installing-aws.html">Installing <%= vars.product_short %> on AWS</a>.

## <a id='tkgi-om-bosh-proxy'></a>Enable Ops Manager and BOSH Proxy

<%= partial 'proxy-ops-man' %>
