---
title: Release Notes
owner: TKGI
topictype: releasenotes
---

This topic contains release notes for <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) v1.12.

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to <%= vars.product_short %> v1.12,
review the <a href="#1-12-0-breaking-changes">Breaking Changes</a> below.
</p>

## <a id="1-12-2"></a><%= vars.k8s_runtime_abbr %> v1.12.2

**Release Date**: December 9, 2021

### <a id='1-12-2-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.12.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 9, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v0.13.3</td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td>v0.39.1</td>
    </tr>
    <tr>
        <td>Containerd for Linux</td>
        <td>v1.4.11&#42;</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.8.0+vmware.9&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.3.0</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>Linux: v20.10.9&#42;<br>Windows: v20.10.7</td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.13</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.4.0&#42;</td>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.21.6&#42;</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><a href="https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/VMware-NSX-T-Data-Center-312-Release-Notes.html">v3.1.2.5&#42;</a></td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.39.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.27&#42;</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=VELERO-162">v1.6.2</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.3.1</td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td>Wavefront Collector: v1.6.0<br>Wavefront Proxy: v10.7</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/1009274"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644,&row=0,">VMware Product Interoperability Matrices&#42;&#42;</a>.</td></td>
        <%# All versions link: https://interopmatrix.vmware.com/Interoperability?col=644,&row=0,  #%>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.42&#42; and later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/1009274"><%= vars.product_network %></a>.</td>
    </tr>
</table>

<a id="1-12-2-component-updates"></a>&#42; Components marked with an asterisk have been updated.  
&#42;&#42; To use Policy API features, you must use NSX-T v3.1.3.

### <a id="1-12-2-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.12.2 are from <%= vars.k8s_runtime_abbr %> v1.12.0, v1.12.1, and from
<%= vars.k8s_runtime_abbr %> v1.11.6 and earlier <%= vars.k8s_runtime_abbr %> v1.11 patches.

### <a id="1-12-2-bug-fixes"></a>Resolved Issues

<%#
< %= vars.k8s_runtime_abbr % > v1.12.2 has the following features and enhancements:  

* Supports ignoring certificate verification in containerd runtime clusters by configuring the `insecure_registries` parameter.  

#%>
<%= vars.k8s_runtime_abbr %> v1.12.2 has the following resolved issues:  

* **[Security Fix]** Component bumps fix the following CVEs: 
    * containerd [CVE-2021-41103](https://nvd.nist.gov/vuln/detail/CVE-2021-41103): Unprivileged Linux users can traverse directory contents and execute programs.
    
* NCP component bump fixes the following NCP Known Issues:  

  * [Issue 2871314: After TKGI upgrade from 1.11.x to 1.12.x (prior to 1.12.2), the Ingress certificates for the NSX load balancer are deleted](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html#RNA_13010).  
  * [Issue 2871321: After TKGI upgrade from 1.11.x to 1.12.x (prior to 1.12.2), if the CRD LoadBalancer is using L7 cookie persistence, it will lose the IP Address](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html#RNA_13011).  
* Fixes [`tkgi clusters` Returns the Incorrect Number of Worker Instances](#1-12-0-incorrect-worker-count).  
* Fixes [<%= vars.k8s_runtime_abbr %> Does Not Support Updating Dedicated Tier 1 Clusters](#1-12-0-cannot-update-dedicated-tier1).  
* Fixes infrequent occurrences of error: kubectl: unbound variable while creating multiple clusters simultaneously.  

<%#

* Component bumps fix the following CVEs:

  * Kubernetes [CVE-2021-25741](https://nvd.nist.gov/vuln/detail/CVE-2021-25741):
  Subpath volume mounts can access files and directories outside of the volume.
* Fixes [Worker Nodes Are Occasionally Not Added to an Azure Back-End Pool](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-2-backend-pool-error).
* Fixes [The Node Exporter is Not Upgraded during a Cluster Upgrade](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-3-node-exporeter-not-upgraded).
#%>

<%#
    * Fixes [BOSH Director Logs the Error "Duplicate vm extension name"](https://docs.pivotal.io/tkgi/1-10/release-notes.html#1-10-0-errors-after-reinstall).
    * Fixed [`tkgi clusters` Returns the Incorrect Number of Worker Instances](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-3-incorrect-worker-count). 
#%>


### <a id="1-12-2-deprecations"></a><a id="1-12-2-upcoming-deprecations"></a> Deprecations

For information about upcoming deprecations, see [Upcoming Deprecations](#1-12-0-upcoming-deprecations) in the
<%= vars.k8s_runtime_abbr %> v1.12.0 Release Notes below.

###<a id='1-12-2-known-issues'></a>Known Issues

Except where noted, the known issues in <%= vars.product_short %> v1.12.0
are also in <%= vars.product_short %> v1.12.2.
See the <%= vars.k8s_runtime_abbr %> v1.12.0 [Known Issues](#1-12-0-known-issues) below.


For Known Issues in NCP v3.1.2.5, see 
[NSX Container Plugin 3.1.2 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html).  


<hr>

## <a id="management-console-1-12-2"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.12.2

**Release Date**: December 9, 2021

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.
</p>

### <a id="management-console-1-12-2-snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.12.2</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>December 9, 2021</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.12.2</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.22&#42;</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.21.6&#42;</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.4.0&#42;</td>
    </tr>
        <tr>
        <td>Linux stemcell</td>
        <td>v621.176&#42;</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.42&#42; and later</td>
    </tr>
</table>
<a id="management-console-1-12-2-component-updates"></a>&#42; Components marked with an asterisk have been updated.

### <a id='management-console-1-12-2-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.12.2 are from
<%= vars.k8s_runtime_abbr %> MC v1.12.1 and <%= vars.k8s_runtime_abbr %> MC v1.11.5 and earlier <%= vars.k8s_runtime_abbr %> MC v1.11 patches.

### <a id="management-console-1-12-2-features"></a>Features and Resolved Issues

<%#This release of the < %= vars.k8s_runtime_abbr % > Management Console includes no new features or resolved issues. #%>
<%= vars.k8s_runtime_abbr %> Management Console v1.12.2 has the following resolved issues:

* Fixes [<%= vars.k8s_runtime_abbr %> MC Does Not Support Single-Edge Node Configurations in Automated NAT Mode](#management-console-1-12-0-single-edge-node-auto-nat-mode).


### <a id="management-console-1-12-2-deprecations"></a> Deprecations

For information about upcoming deprecations, see [Deprecations](#management-console-1-12-0-deprecations) in the
<%= vars.k8s_runtime_abbr %> MC v1.12.0 Release Notes below.

### <a id="management-console-1-12-2-known-issues"></a> Known Issues

Except where noted, the known issues in <%= vars.product_short %> Management Console v1.12.0
are also in <%= vars.product_short %> Management Console v1.12.2.
See the <%= vars.k8s_runtime_abbr %> MC v1.12.0 [Known Issues](#management-console-1-12-0-known-issues) below.

<hr>

## <a id="1-12-1"></a><%= vars.k8s_runtime_abbr %> v1.12.1

**Release Date**: November 30, 2021

### <a id='1-12-1-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.12.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 30, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v0.13.3</td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td>v0.39.1</td>
    </tr> 
    <tr>
        <td>Containerd for Linux</td>
        <td>v1.4.6</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.8.0+vmware.8&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td><a href="https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.3/rn/vmware-vsphere-container-storage-plugin-23-release-notes/index.html">v2.3.0</a></td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>Linux: v20.10.7<br>Windows: v20.10.7</td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.13</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.3.2&#42;</td>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.21.5&#42;</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><a href="https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html">v3.1.2.3</a></td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.39.0&#42;</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.26&#42;</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=VELERO-162">v1.6.2</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.3.1</td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td>Wavefront Collector: v1.6.0<br>Wavefront Proxy: v10.7</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/980227"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644,6205&row=0,">VMware Product Interoperability Matrices&#42;&#42;</a>.</td></td>
        <%# All versions link: https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=true&isHideTechSupported=true&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644&row=0, #%>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.37 or later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/980227"><%= vars.product_network %></a>.</td>
    </tr>
</table>

<a id="1-12-1-component-updates"></a>&#42; Components marked with an asterisk have been updated.  
&#42;&#42; To use Policy API features, you must use NSX-T v3.1.3.

### <a id="1-12-1-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.12.1 are from <%= vars.k8s_runtime_abbr %> v1.12.0 and
<%= vars.k8s_runtime_abbr %> v1.11.4 and earlier <%= vars.k8s_runtime_abbr %> v1.11 patches.

### <a id="1-12-1-bug-fixes"></a>Resolved Issues
<%= vars.k8s_runtime_abbr %> v1.12.1 has the following resolved issues:

* Component bumps fix the following CVEs:  

  * Kubernetes [CVE-2021-25741](https://nvd.nist.gov/vuln/detail/CVE-2021-25741): 
  Subpath volume mounts can access files and directories outside of the volume.  
* Fixes [Worker Nodes Are Occasionally Not Added to an Azure Back-End Pool](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-2-backend-pool-error).  
* Fixes [The Node Exporter is Not Upgraded during a Cluster Upgrade](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-3-node-exporeter-not-upgraded).  
* Fixes [Some Kubernetes Logs Are Not Forwarded after Upgrading](#1-12-0-logs-not-forwarded).  
* Fixes [The <%= vars.k8s_runtime_abbr %> CLI is Unable to Run Simultaneous Commands](#1-12-0-blocking-simultaneous-commands).  

<%#
    * Fixes [BOSH Director Logs the Error "Duplicate vm extension name"](https://docs.pivotal.io/tkgi/1-10/release-notes.html#1-10-0-errors-after-reinstall).
    * Fixed [`tkgi clusters` Returns the Incorrect Number of Worker Instances](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-3-incorrect-worker-count). 
#%>


### <a id="1-12-1-deprecations"></a><a id="1-12-1-upcoming-deprecations"></a> Deprecations

For information about upcoming deprecations, see [Upcoming Deprecations](#1-12-0-upcoming-deprecations) in the 
<%= vars.k8s_runtime_abbr %> v1.12.0 Release Notes below.

###<a id='1-12-1-known-issues'></a>Known Issues

Except where noted, the known issues in <%= vars.product_short %> v1.12.0 
are also in <%= vars.product_short %> v1.12.1. 
See the <%= vars.k8s_runtime_abbr %> v1.12.0 [Known Issues](#1-12-0-known-issues) below.  

For Known Issues in NCP v3.1.2.3, see 
[NSX Container Plugin 3.1.2 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html).  

<hr>

## <a id="management-console-1-12-1"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.12.1

**Release Date**: October 26, 2021

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.
</p>

### <a id="management-console-1-12-1-snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.12.1</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>October 26, 2021</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.12.1</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.19</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.21.5&#42;</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.3.2&#42;</td>
    </tr>
        <tr>
        <td>Linux stemcell</td>
        <td>v621.160&#42;</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.37 and later</td>
    </tr>
</table>
<a id="management-console-1-12-1-component-updates"></a>&#42; Components marked with an asterisk have been updated.

### <a id='management-console-1-12-1-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.12.1 are from 
<%= vars.k8s_runtime_abbr %> MC v1.12.0 and <%= vars.k8s_runtime_abbr %> MC v1.11.5 and earlier <%= vars.k8s_runtime_abbr %> MC v1.11 patches.  

### <a id="management-console-1-12-1-features"></a>Features and Resolved Issues

This release of the <%= vars.k8s_runtime_abbr %> Management Console includes no new features or resolved issues.

### <a id="management-console-1-12-1-deprecations"></a> Deprecations

For information about upcoming deprecations, see [Deprecations](#management-console-1-12-0-deprecations) in the 
<%= vars.k8s_runtime_abbr %> MC v1.12.0 Release Notes below.

### <a id="management-console-1-12-1-known-issues"></a> Known Issues

Except where noted, the known issues in <%= vars.product_short %> Management Console v1.12.0 
are also in <%= vars.product_short %> Management Console v1.12.1. 
See the <%= vars.k8s_runtime_abbr %> MC v1.12.0 [Known Issues](#management-console-1-12-0-known-issues) below.

<hr>

## <a id="1-12-0"></a><%= vars.k8s_runtime_abbr %> v1.12.0

**Release Date**: September 09, 2021

### <a id='1-12-0-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.12.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 9, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v0.13.3&#42;</td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td>v0.39.1&#42;</td>
    </tr>
    <tr>
        <td>Containerd for Linux</td>
        <td>v1.4.6&#42;</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.8.0+vmware.6&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td><a href="https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.3/rn/vmware-vsphere-container-storage-plugin-23-release-notes/index.html">v2.3.0&#42;</a></td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>Linux: v20.10.7&#42;<br>Windows: v20.10.7&#42;</td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.13</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.3.1&#42;</td>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.21.3&#42;</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><a href="https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html">v3.1.2.3&#42;</a></td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.37.0&#42;</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.25&#42;</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=VELERO-162">v1.6.2&#42;</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.3.1&#42;</td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td>Wavefront Collector: v1.6.0&#42;<br>Wavefront Proxy: v10.7&#42;</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/950934"><%= vars.product_network %>&#42;&#42;</a>.</td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644,5681&row=0,">VMware Product Interoperability Matrices&#42;&#42;&#42;</a>.</td></td>
        <%# All versions link: https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=true&isHideTechSupported=true&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644&row=0, #%>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.37 or later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/950934"><%= vars.product_network %></a>.</td>
    </tr>
</table>

<a id="1-12-0-component-updates"></a>&#42; Components marked with an asterisk have been updated.  
&#42;&#42; To use PodSecurityPolicy features, you must use Ops Manager v2.10.17 or later. 
Do not use <%= vars.k8s_runtime_abbr %> with Ops Manager v2.10.17 with vSphere CPIv2. 
For more information, see [v2.10.17](https://docs.pivotal.io/ops-manager/2-10/release-notes.html#2-10-17) in _Ops Manager v2.10 Release Notes_.  
&#42;&#42;&#42; To use Policy API features, you must use NSX-T v3.1.3.

### <a id="1-12-0-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.12.0 are from <%= vars.k8s_runtime_abbr %> v1.11.3 
and earlier <%= vars.k8s_runtime_abbr %> v1.11 patches.


### <a id="1-12-0-breaking-changes"></a>Breaking Changes

<%= vars.k8s_runtime_abbr %> v1.12.0 has the following breaking changes:

* Fluent Bit has been upgraded to Fluent Bit v1.5.7:  

    * Previous versions of <%= vars.k8s_runtime_abbr %> have used Fluent Bit v1.3.4. 
    For information on the differences between the Fluent Bit v1.3.4 and v1.5.7 releases, see 
    [Upgrade Notes](https://docs.fluentbit.io/manual/installation/upgrade-notes) in the Fluent Bit documentation.  

    * By default, Fluent Bit v1.5.7 limits the size of Kubernetes log metadata to 32&nbsp;KB. 
    For more information, see [Some Kubernetes Logs Are Not Forwarded after Upgrading](#1-12-0-logs-not-forwarded) in the <%= vars.k8s_runtime_abbr %> v1.12.0 Known Issues below.


### <a id="1-12-0-features"></a>Features

<%= vars.k8s_runtime_abbr %> v1.12.0 has the following features and enhancements:  

#### <a id="1-12-0-policy-api"></a>Supports NSX-T Policy API

(Beta) Supports NSX-T Policy API for new installations. 
See [Considerations for Using the NSX-T Policy API with TKGI](./nsxt-policy-api-considerations.html) and 
[Networking](./installing-nsx-t.html#networking) in _Installing Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T_.  

<p class="note warning"><strong>Warning:</strong>
    Support for the NSX-T Policy API is currently in beta and is intended for evaluation and test purposes only. 
    Do not use this feature in a production environment.
</p>

#### <a id="1-12-0-cert-rotation"></a>Supports Cluster Cert Rotation Using the CLI

Supports Kubernetes cluster certificate rotation using the TKGI CLI. See [Rotate Kubernetes Cluster Certificates](./rotate-cluster-certificates.html).

#### <a id="1-12-0-peristent-redirect-uris"></a>Supports Persistent Redirect URIs

Supports assigning persistent UAA `cluster_client` `redirect_uri` URIs to clusters 
on the <%= vars.k8s_runtime_abbr %> tile. 
UAA redirect URIs configured on the <%= vars.k8s_runtime_abbr %> tile persist through cluster updates and <%= vars.k8s_runtime_abbr %> upgrades. 
For more information on configuring persistent UAA redirect URIs, 
see [UAA](installing-aws.html#uaa) in _Installing <%= vars.k8s_runtime_abbr %>_.


#### <a id="1-12-0-containerd-runtime"></a>Supports Clusters That Use the containerd Runtime

Supports creating and managing clusters that use the containerd runtime. 
Newly created clusters use the containerd runtime by default. 
You can optionally create clusters that use a docker runtime. 
For more information, see [Creating Clusters](create-cluster.html).  

<p class="note"><strong>Note:</strong> You cannot manually change the container runtime for existing clusters. 
    <%= vars.k8s_runtime_abbr %> does not automatically update existing clusters to use the containerd runtime.
</p>

#### <a id="1-12-0-ssl-profiles"></a>Configure Clusters to Use NSX-T Client-Side ssl Profiles

Supports using Network Profiles to configure a cluster to use an NSX-T client-side ssl profile. 
For information about using a Network Profile to configure a cluster to use an NSX-T client-side ssl profile, 
see [Network Profile Parameters](network-profiles-define.html#params) or [Confirm the Network Profile Property Supports Updates](network-profiles-define.html#supports-updates) 
in _Creating and Deleting Network Profiles (NSX-T Only)_.

#### <a id="1-12-0-tcp-multiplexing"></a>Configure Clusters to Use NSX-T Load Balancer TCP Multiplexing

Supports using Network Profiles to configure a cluster to use NSX-T load balancer TCP multiplexing 
and to limit the number of allowed TCP multiplexing connections. 
For information about using a Network Profile to configure a cluster to use NSX-T load balancer TCP multiplexing, 
see [Network Profile Parameters](network-profiles-define.html#params) or [Confirm the Network Profile Property Supports Updates](network-profiles-define.html#supports-updates) 
in _Creating and Deleting Network Profiles (NSX-T Only)_.

#### <a id="1-12-0-migrate-to-csi"></a>Migrate from VCP to the Automatically Installed vSphere CSI Driver

Supports migrating an existing Linux cluster from VCP to the automatically installed vSphere CSI Driver. 
For more information about migrating existing clusters to the vSphere CSI Driver, 
see [Migrate from VCP to the Automatically Installed vSphere CSI Driver](vsphere-cns.html#migrate-to-csi) in 
_Deploying and Managing Cloud Native Storage (CNS) on vSphere_.  

#### <a id="1-12-0-saml-enhancement"></a>SAML IdP Enhancements

Includes the following SAML IdP enhancements:  

* Supports users directly authenticating with the configured external identity provider.  
* Supports automatically bypassing the scope approval screen 
for the `tkgi get-credentials` CLI command and when logging in to the TKGI CLI.  

#### <a id="1-12-0-custom-cert-syslog"></a>Supports Securing Log Forwarding with a Custom CA Certificate

Supports optionally securing `syslog` `ClusterLogSink` and `LogSink` log forwarding with a custom CA certificate. 
For more information, see [Create a Syslog ClusterLogSink or LogSink Resource](create-sinks.html#syslog).  

#### <a id="1-12-0-enhancements"></a>Additional Features
<%= vars.k8s_runtime_abbr %> v1.12.0 includes the following additional features:  

* Supports configuring the MetricSink telegraf interval setting. 
For more information, see [Create a ClusterMetricSink or MetricSink Resource](create-sinks.html#telegraf-plugins) in _Creating and Managing Sink Resources_.  
* Supports NetApp Trident without manually sharing the root filesystem on each worker node. For more information about Trident, 
see [Trident for Kubernetes](https://netapp-trident.readthedocs.io/en/stable-v21.07/kubernetes/index.html) 
in the NetApp documentation.  
* Supports using logsink to forward logs with TLS enabled in addition to the existing support for forwarding logs with TLS disabled.  


### <a id="1-12-0-bug-fixes"></a>Resolved Issues
<%= vars.k8s_runtime_abbr %> v1.12.0 has the following resolved issues:

* Fixes [Tags Applied Using tkgi cli Commands Are Removed during `tkgi update-cluster`](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-tags-lost-during-update).  
* Fixes [Unexplained Errors After Interrupting a Log Stream When Using Antrea Networking](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-antrea-logging-interupt).  
* Fixes [Kubernetes Pods on NSX-T Become Stuck in a Creating State](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-2-hyperbus-error).  
* Fixes [You Cannot Use vRealize Log Insight to Monitor NCP](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-ncp-not-in-vrli).  
<%#PKS-4317 * Fixes [Creating Two Windows Clusters at the Same Time Fails](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-1-creating-two-windows-clusters-fails).  #%>
* Fixes [CA Certificates Initially Created by Ops Manager v1.8.3 and Earlier Are Not Supported](https://docs.pivotal.io/tkgi/1-11/release-notes.html#ops-man-1-x-certificates).  
<%#PKS-906  #%>* Fixes [Fluent Bit ClusterLogSink Returns 'TCP Connection Failed' While CEIP Telemetry Services Are Disabled](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-fluentbit-clusterlogsink).  
<%#PKS-4427 #%>* Fixes ["drain-cluster-windows" Errand Does Not Exist](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-2-drain-cluster-windows-errand-does-not-exist).  
<%#PKS-4413 #%>* Fixes ['Invalid Gateway for Network' Error after Updating a Cluster with Both nodes_dns And IP Subnet Range Parameters](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-invalid-gateway-from-subnet-range).  
<%# PKS-412 * Fixes [The < %= vars.control_plane % > FQDN Must Not Include Trailing Whitespace](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-whitespace-pksapi). #%> 
* Fixes [Cluster Fails to Restart](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-ncp-port-protocol-limit).  
* Fixes [Wavefront Collector is Duplicated or Not Collecting from <%= vars.k8s_runtime_abbr %> Namespaces](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-dual-wavefront-collectors).  
* Fixes [The <%= vars.control_plane %> VM fluentd.stdout.log Grows While vRealize Log Insight is Disabled](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-fluentd-log-overflow).  
* Fixes [Windows Workloads With Attached Dynamic PVs Must Be Removed before Deleting a Cluster](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-windows-dynamic-pvs).  
* Fixes [Nodes with More Than 30 Stateful Pods Are in a NotReady State](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-runc-node-notready).  
* Fixes [Telegraf Agent Unable to Read From localhost Port 8080](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-telegraf-8080).  
* Fixes [SAML Authentication Requests Are Always Signed](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-all-saml-are-signed).  
* Fixes [Node Hostnames Are Not Resolved for BYO DNS in Azure Environments](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-azure-hostnames-not-resolved).  
* The `observability-manager` ClusterRole and the `metric-controller` ClusterRole 
now use the `observability-manager` and `metric-controller` PodSecurityPolicy (PSP) instead of using the `pks-priviledged` PSP. 
<%# PKS-1118 #%>* Supports CA certificates containing `subject` and `issuer` fields.  

### <a id="1-12-0-deprecations"></a> Deprecations

The following <%= vars.k8s_runtime_abbr %> features have been deprecated or removed from <%= vars.k8s_runtime_abbr %> v1.12:

* Support for `DenyEscalatingExec` has been removed from Kubernetes v1.21 and can no longer be configured in the <%= vars.k8s_runtime_abbr %> tile. 
For more information, 
see [DenyEscalatingExec](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#denyescalatingexec) 
in the Kubernetes documentation.  

#### <a id="1-12-0-upcoming-deprecations"></a> Upcoming Deprecations

The following <%= vars.k8s_runtime_abbr %> features will be deprecated or removed in future versions of <%= vars.k8s_runtime_abbr %>:

* **Flannel Support**: Support for the Flannel Container Networking Interface (CNI) is deprecated.
VMware recommends that you upgrade your Flannel CNI-configured clusters to the Antrea CNI.
For more information about Flannel CNI deprecation, see
[About Upgrading from the Flannel CNI to the Antrea CNI](understanding-upgrades.html#cni)
in _About Tanzu Kubernetes Grid Integrated Edition Upgrades_.

* **Docker Support**: kubelet support for Docker images has been deprecated and Docker support will
be entirely removed in Kubernetes v1.24. <%= vars.k8s_runtime_abbr %> v1.12 and later support containerd images.  

* **VCP Support**: VCP support has been deprecated and support will be entirely removed in a
future <%= vars.k8s_runtime_abbr %> version. 

* **Manual vSphere CSI Driver Installation Support**: Support for manually installing the vSphere CSI Driver 
will be deprecated in <%= vars.k8s_runtime_abbr %> v1.13 and support entirely removed in a
future <%= vars.k8s_runtime_abbr %> version. 
For information on automatic vSphere CSI Driver installation, see 
[Deploying and Managing Cloud Native Storage (CNS) on vSphere](vsphere-cns.html).  

<%#
* **Management API**: Management API will be deprecated and later replaced with Policy API in future <%= vars.k8s_runtime_abbr %
> versions. VMware does not recommend that you use Management API
in future <%= vars.k8s_runtime_abbr %
> versions.  
#%>

###<a id='1-12-0-known-issues'></a>Known Issues

<%= vars.k8s_runtime_abbr %> v1.12.0 has the following known issues.  

For Known Issues in NCP v3.1.2.3, see 
[NSX Container Plugin 3.1.2 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html).  

<p class="note warning"><strong>Warning:</strong> Do not use <%= vars.k8s_runtime_abbr %> with Ops Manager v2.10.17 with vSphere CPIv2. For more information, see 
<a href="https://docs.pivotal.io/ops-manager/2-10/release-notes.html#2-10-17">v2.10.17</a> 
in <i>Ops Manager v2.10 Release Notes</i>. 
</p>

<hr>
#### <a id="1-12-0-renamed-ops-man"></a> TKGI MC Unable to Manage TKGI after Restoring the TKGI Control Plane from Backup

**Symptom**

After you restore Ops Manager and the <%= vars.control_plane %> VM from backup, <%= vars.k8s_runtime_abbr %> functions normally, 
but your <%= vars.k8s_runtime_abbr %> MC tabs include the following error: “…product ‘pivotal-container service’ is not deployed…”. 

**Explanation**

<%= vars.k8s_runtime_abbr %> MC is associated with an Ops Manager with a specific name. 
If you rename Ops Manager with a new name while restoring, 
your <%= vars.k8s_runtime_abbr %> MC will not recognize the restored Ops Manager and cannot manage it.  

<hr>
#### <a id="1-12-0-hyperbus-error"></a> Kubernetes Pods on NSX-T Become Stuck in a Creating State 

**Symptom**

The pods in your <%= vars.k8s_runtime_abbr %> Kubernetes clusters on NSX-T become stuck in a creating state. 
The connections between nsx-node-agent and hyperbus repeatedly close, 
log `Couldn't connect to 'tcp://...' (error: 111-Connection refused)`, and have a status of `COMMUNICATION_ERROR`.  

**Explanation**

For information and workaround steps for this Known Issue, see 
[Issue 2795268: Connection between nsx-node-agent and hyperbus flips and Kubernetes pod is stuck at creating state](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html#RNA_11559) 
in _NSX Container Plugin 3.1.2 Release Notes_ in the VMware documentation. 

<hr>

#### <a id="1-12-0-nsxt-302-310"></a> Pods Stop After Upgrading From NSX-T v3.0.2 to v3.1.0 on vSphere 7.0 and 7.0.1

**Symptom**

Your TKGI-provisioned Pods stop after upgrading from NSX-T v3.0.2 to NSX-T v3.1.0 on vSphere 7.0 and 7.0.1.

**Explanation**

For information, see [Issue 2603550: Some VMs are vMotioned and lose network connectivity during UA nodes upgrade]
(https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/VMware-NSX-T-Data-Center-311-Release-Notes.html#2603550) in the _VMware NSX-T Data Center 3.1.1 Release Notes_.

**Workaround**

To avoid the loss of network connectivity during UA node upgrade, ensure DRS is set to manual mode during your upgrade from NSX-T v3.0.2 to v3.1.0.

If you upgraded to NSX-T v3.1.0 with DRS in automation mode, run the following on the affected Pods' master VMs to restore Pod connectivity:

```
monit restart ncp
```

For more information about upgrading NSX-T v3.0.2 to NSX-T v3.1.0, see [Upgrade NSX-T Data Center to v3.0 or v3.1](upgrade-nsxt.html#upgrade-nsxt).  

<hr>
#### <a id="1-12-0-azure-apply-changes"></a> Error: Could Not Execute "Apply-Changes" in Azure Environment

**Symptom**

After clicking **Apply Changes** on the <%= vars.k8s_runtime_abbr %> tile in an Azure environment, you experience
an error '_...could not execute "apply-changes"..._' with either of the following descriptions:

* _{"errors":{"base":["undefined method 'location' for nil:NilClass"]}}_
* _FailedError.new("Resource Groups in region '#{location}' do not support Availability Zones"))_

For example:

```
INFO | 2020-09-21 03:46:49 +0000 | Vessel::Workflows::Installer#run | Install product (apply changes)
2020/09/21 03:47:02 could not execute "apply-changes": installation failed to trigger: request failed: unexpected response from /api/v0/installations:
HTTP/1.1 500 Internal Server Error
Transfer-Encoding: chunked
Cache-Control: no-cache, no-store
Connection: keep-alive
Content-Type: application/json; charset=utf-8
Date: Mon, 21 Sep 2020 17:51:50 GMT
Expires: Fri, 01 Jan 1990 00:00:00 GMT
Pragma: no-cache
Referrer-Policy: strict-origin-when-cross-origin
Server: Ops Manager
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
X-Download-Options: noopen
X-Frame-Options: SAMEORIGIN
X-Permitted-Cross-Domain-Policies: none
X-Request-Id: f5fc99c1-21a7-45c3-7f39
X-Runtime: 9.905591
X-Xss-Protection: 1; mode=block

44
{"errors":{"base":["undefined method `location' for nil:NilClass"]}}
0
```

**Explanation**

The Azure CPI endpoint used by Ops Manager has been changed and
your installed version of Ops Manager is not compatible with the new endpoint.

**Workaround**

Run the following Ops Manager CLI command:

```
om --skip-ssl-validation --username USERNAME --password PASSWORD --target https://OPSMAN-API curl --silent --path /api/v0/staged/director/verifiers/install_time/IaasConfigurationVerifier -x PUT -d '{ "enabled": false }'
```

Where:

* `USERNAME` is the account to use to run Ops Manager API commands.
* `PASSWORD` is the password for the account.
* `OPSMAN-API` is the IP address for the Ops Manager API

For more information, see [Error 'undefined method location' is received when running Apply Change on Azure]
(https://community.pivotal.io/s/article/undefined-method-location-when-running-Apply-Change-on-Azure?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>
#### <a id="1-12-0-vrops-windows-clusters"></a> VMware vRealize Operations Does Not Support Windows Worker-Based Kubernetes Clusters

VMware vRealize Operations (vROPs) does not support Windows worker-based Kubernetes clusters and cannot be used to
manage <%= vars.k8s_runtime_abbr %>-provisioned Windows workers.

<hr>
#### <a id="1-12-0-wavefront-no-win"></a><%= vars.k8s_runtime_abbr %> Wavefront Requires Manual Installation for Windows Workers

To monitor Windows-based worker node clusters with a Wavefront collector and proxy, you must first install Wavefront on the clusters manually, using Helm.
For instructions, see the [Wavefront](windows-monitoring.html#wavefront) section of the _Monitoring Windows Worker Clusters and Nodes_ topic.

<hr>
#### <a id="1-12-0-ping"></a>Pinging Windows Worker Kubernetes Clusters Does Not Work

<%= vars.k8s_runtime_abbr %>-provisioned Windows worker-based Kubernetes clusters inherit a Kubernetes limitation that prevents
outbound ICMP communication from workers.
As a result, pinging Windows workers does not work.

For information about this limitation, see [Limitations > Networking](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#networking-1)
in the _Windows in Kubernetes_ documentation.

<hr>
#### <a id="1-12-0-windows-velero-limitations"></a> Velero Does Not Support Backing Up Stateful Windows Workloads

You can use Velero to back up stateless <%= vars.k8s_runtime_abbr %>-provisioned Windows workers only.
You cannot use Velero to back up stateful Windows applications.
For more information, see [Velero on Windows](https://velero.io/docs/v1.6/basic-install/#velero-on-windows) in
_Basic Install_ in the Velero documentation.

<hr>
#### <a id="1-12-0-tmc-on-gcp"></a>Tanzu Mission Control Integration Not Supported on GCP

<%= vars.k8s_runtime_abbr %> on Google Cloud Platform (GCP) does not support
Tanzu Mission Control (TMC) integration, which is configured in
the **<%= vars.product_tile %>** tile > the **Tanzu Mission Control** pane.

If you intend to run <%= vars.k8s_runtime_abbr %> on GCP,
skip this pane when configuring the <%= vars.product_tile %> tile.

<hr>
#### <a id="1-12-0-tmc-restic"></a>TMC Data Protection Feature Requires Privileged <%= vars.k8s_runtime_abbr %> Containers
TMC Data Protection feature supports privileged <%= vars.k8s_runtime_abbr %> containers only.
For more information, see [Plans](installing-vsphere.html#plans) in the _Installing TKGI_ topic for your IaaS.

<hr>
#### <a id="1-12-0-profile-no-win-gmsa"></a>Windows Worker Kubernetes Clusters with Group Managed Service Account Do Not Support Compute Profiles 

Windows worker-based Kubernetes clusters integrated with group Managed Service Account (gMSA) cannot be managed using compute profiles.  

<hr>
#### <a id="1-12-0-profile-no-win-flannel"></a> Windows Worker Kubernetes Clusters on Flannel Do Not Support Compute Profiles

On vSphere with NSX-T networking you can use compute profiles with both Linux and Windows worker&#8209;based Kubernetes clusters.
On vSphere with Flannel networking, you can apply compute profiles only to Linux clusters.

<hr>
#### <a id="1-12-0-profile-resize-down"></a>TKGI CLI Does Not Prevent Reducing the Control Plane Node Count

TKGI CLI does not prevent accidentally reducing a cluster's control plane node count using a compute profile.

<p class="note warning"><strong>Warning:</strong>
    Reducing a cluster's control plane node count can destroy the cluster.
    Do not scale out or scale in existing master nodes by reconfiguring the TKGI tile or by using a compute profile.
    Reducing a cluster's number of control plane nodes may remove a master node and cause the cluster to become inactive.
</p>

<hr>
#### <a id="1-12-0-in-windows-notready-nodes"></a> Windows Cluster Nodes Not Deleted After VM Deleted

**Symptom**

After you delete a VM using the management console of your infrastructure provider, you notice a Windows worker node
that had been on that VM is now in a `notReady` state.

**Solution**

1. To identify the leftover node:

    ```
    kubectl get no -o wide
    ```
1. Locate nodes on the returned list that are in a `notReady` state and have the same IP address as another node in the list.
1. To manually delete a `notReady` node:

    ```
    kubectl delete node NODE-NAME
    ```
    Where `NODE-NAME` is the name of the node in the `notReady` state.

<hr>
#### <a id="1-12-0-oidc-response-header"></a>502 Bad Gateway After OIDC Login

**Symptom**

You experience a "502 Bad Gateway" error from the NSX load balancer after you log in to OIDC.

**Explanation**

A large response header has exceeded your NSX-T load balancer maximum
response header size. The default maximum response header size is 10,240 characters and should
be resized to 50,000.

**Workaround**

If you experience this issue, manually reconfigure your NSX-T `request_header_size`
and `response_header_size` to 50,000 characters.
For information about configuring NSX-T default header sizes,
see [OIDC Response Header Overflow](https://community.pivotal.io/s/article/OIDC-Response-Header-overflow) in the Knowledge Base.

<hr>
#### <a id="1-12-0-windows-proxy"></a> Difficulty Changing Proxy for Windows Workers

You must configure a global proxy in the <%= vars.product_tile %> tile > **Networking** pane before you create any Windows workers that use the proxy.

You cannot change the proxy configuration for Windows workers in an existing cluster.

<hr>
#### <a id="1-12-0-http-proxy-password"></a> Character Limitations in HTTP Proxy Password

For vSphere with NSX-T, the HTTP Proxy password field does not support the following special characters: `&` or `;`.

<hr>
#### <a id="1-12-0-harbor-storage-config"></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```

**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

<hr>
#### <a id="1-12-0-resizing-worker-nodes"></a> Ingress Controller Statefulset Fails to Start After Resizing Worker Nodes

**Symptom**  

Permissions are removed from your cluster’s files and processes after resizing the persistent disk 
during a cluster upgrade. The ingress controller statefulset fails to start.

**Explanation**  

When resizing a persistent disk, Bosh migrates the data from the old disk to the new disk but 
does not copy the files’ extended attributes.

**Workaround**  

To resolve the problem, complete the steps in 
[Ingress controller statefulset fails to start after resize of worker nodes with permission denied]
(https://community.pivotal.io/s/article/5000e00001nCJxT1603094435795?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>
#### <a id="1-12-0-security-group"></a>Azure Default Security Group Is Not Automatically Assigned to Cluster VMs

**Symptom**

You experience issues when configuring a load balancer for a multi-master Kubernetes cluster or creating a service of type `LoadBalancer`.
Additionally, in the Azure portal, the **VM** > **Networking** page does not display
any inbound and outbound traffic rules for your cluster VMs.

**Explanation**

As part of configuring the <%= vars.product_tile %> tile for Azure, you enter **Default Security Group** in the **Kubernetes Cloud Provider** pane.
When you create a Kubernetes cluster, <%= vars.product_short %> automatically assigns this security group to each VM in the cluster.
However, on Azure the automatic assignment may not occur.

As a result, your inbound and outbound traffic rules defined in the security group are not applied to the cluster VMs.

**Workaround**

If you experience this issue, manually assign the default security group to each VM NIC in your cluster.

<hr>
#### <a id="1-12-0-uuid-length"></a> One Plan ID Longer than Other Plan IDs

**Symptom**

One of your plan IDs is one character longer than your other plan IDs.

**Explanation**

In <%= vars.k8s_runtime_abbr %>, each plan has a unique plan ID.
A plan ID is normally a UUID consisting of 32 alphanumeric characters and 4 hyphens.
However, the **Plan 4** ID consists of 33 alphanumeric characters and 4 hyphens.

**Solution**

You can safely configure and use **Plan 4**.
The length of the **Plan 4** ID does not affect the functionality of **Plan 4** clusters.

If you require all plan IDs to have identical length, do not activate or use **Plan 4**.

<hr>
#### <a id="1-12-0-db-down-after-vm-stopped"></a> Database Cluster Stops After a Database Instance is Stopped

**Symptom**

After you stop one instance in a multiple-instance database cluster, the cluster stops,
or communication between the remaining databases times out, and the entire cluster becomes unreachable.

The following might be in your UAA log:

```
WSREP has not yet prepared node for application use
```

**Explanation**

The database cluster is unable to recover automatically because a member is no longer available to reconcile quorum. 

<hr>
#### <a id="1-12-0-velero-vsphere-pvs"></a> Velero Back Up Fails for vSphere PVs Attached to Clusters on Kubernetes v1.20 and Later

**Symptom**  

Backing up vSphere persistent volumes using Velero fails and your Velero backup log includes the following error:

```
rpc error: code = Unknown desc = Failed during IsObjectBlocked check: Could not translate selfLink to CRD name
```

**Explanation** 

This is a known issue when backing up clusters on Kubernetes v1.20 and later using the 
Velero Plugin for vSphere v1.1.0 or earlier.  

**Workaround**  

To resolve the problem, complete the steps in 
[Velero backups of vSphere persistent volumes fail on Kubernetes clusters version 1.20 or higher (83314)](https://kb.vmware.com/s/article/83314) 
in the VMware Tanzu Knowledge Base.   

<hr>
#### <a id="1-12-0-creating-two-windows-clusters-fails"></a> Creating Two Windows Clusters at the Same Time Fails

**Symptom**

The first time that you try to create two Windows clusters at the same time, the creation of one of
the clusters fails. If you run `pks cluster CLUSTER-NAME` to examine the last action taken on the
cluster, you see the following:

<pre class="terminal">
Last Action: Create
Last Action State: failed
Last Action Description: Instance provisioning failed: There was a problem completing your request.
. . .
operation: create, error-message: Failed to acquire lock
. . .
locking task id is 111, description: 'create deployment'
</pre>

**Explanation**

This is a known issue that occurs the first time that you create two Windows clusters concurrently.

**Workaround**

Recreate the failed cluster. This issue only occurs the first time that you create two Windows
clusters concurrently.  


<hr>
#### <a id="1-12-0-delete-cluster-not-stopped"></a> Deleted Clusters are Listed in Cluster Lists

**Symptom**

After running `tkgi delete-cluster` and cluster deletion has completed, 
the deleted cluster continues to be listed when running `tkgi clusters`.

**Workaround**

You must manually remove the deleted cluster using a customized version of the ncp_cleanup script. 
For more information, see 
[Deleting a Tanzu Kubernetes Grid Integrated Edition cluster with "tkgi delete-cluster" stuck "in progress" status](https://community.pivotal.io/s/article/pks-delete-cluster-in-progress-after-the-cluster-has-been-deleted?language=en_US) 
in the VMware Tanzu Knowledge Base.


<hr>
#### <a id="1-12-0-create-cluster-ip-already-allocated"></a> Creating a New Cluster Fails With the Error 'IP Is Already Allocated'

**Symptom**

Creating a new cluster fails while using the Antrea CNI. The coreDNS add-on errand logs an error similar to the following:

```
The Service \"kube-dns\" is invalid: spec.clusterIPs: Invalid value: []string{\"10.100.200.2\"}: failed to allocated ip:10.100.200.2 with error:provided IP is already allocated\n"
```

**Workaround**

Delete the failed cluster and run `tkgi create-cluster` again.

<hr>
#### <a id="1-12-0-errors-after-reinstall"></a> BOSH Director Logs the Error 'Duplicate vm extension name'

**Symptom**

After you uninstall <%= vars.k8s_runtime_abbr %>, then reinstall <%= vars.k8s_runtime_abbr %> in the same environment, 
BOSH Director logs errors similar to the following:  

```
.../gems/bosh-director-0.0.0/lib/bosh/director/deployment_plan/cloud_manifest_parser.rb:120:in `parse_vm_extensions': Duplicate vm extension name 'disk_enable_uuid' (Bosh::Director::DeploymentDuplicateVmExtensionName)
```

**Explanation**

The `pivotal-container-service` cloud-config was not removed when you uninstalled the <%= vars.k8s_runtime_abbr %> tile, 
and it remained active.
When you reinstalled the <%= vars.k8s_runtime_abbr %> tile, an additional `pivotal-container-service` cloud-config was created, 
causing the metrics_server to fall into a crash-loop state.  

**Workaround**

You must manually remove the `pivotal-container-service` cloud-config after removing your <%= vars.k8s_runtime_abbr %> deployment, 
including after removing the <%= vars.k8s_runtime_abbr %> tile from Ops Manager.  

For more information, see ["Duplicate vm extension name" 
error when metrics_server runs on Director VM in Tanzu Kubernetes Grid Integrated Edition]
(https://community.pivotal.io/s/article/5000e00001oHXvP1631027033087?language=en_US) 
in the VMware Tanzu Community Knowledge Base.


<hr>
#### <a id="1-12-0-whitespace-pksapi"></a> The <%= vars.control_plane %> FQDN Must Not Include Trailing Whitespace

**Symptom**

Your <%= vars.k8s_runtime_abbr %> logs include the following error:

```
'uaa'. Errors are:- Error filling in template 'uaa.yml.erb' (line 59: Client redirect-uri is invalid: uaa.clients.pks_cli.redirect-uri Client redirect-uri is invalid: uaa.clients.pks_cluster_client.redirect-uri)
```

**Explanation**

The <%= vars.control_plane %> fully-qualified domain name (FQDN) for your cluster contains leading or trailing whitespace.

**Workaround**

Do not include whitespace in the <%= vars.k8s_runtime_abbr %> tile **API Hostname (FQDN)** field.


<hr>
<%# #### <a id="1-12-0-all-saml-are-signed"></a> SAML Authentication Requests Are Always Signed

This issue is fixed in [< %= vars.k8s_runtime_abbr % > v1.12.0](#1-12-0-bug-fixes).  

**Symptom**

After you disable the SAML Identity Provider **Sign Authentication Requests** setting on the < %= vars.product_tile % > tile, 
SAML IdP authentication requests continue to be signed.   

<hr>#%>

#### <a id="1-12-0-logs-not-forwarded"></a> Some Kubernetes Logs Are Not Forwarded after Upgrading

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.12.1](#1-12-1-bug-fixes).

**Symptom**

After you upgrade <%= vars.k8s_runtime_abbr %> to v1.12.0, some Kubernetes logs are no longer forwarded by Fluent Bit.

**Explanation**

In <%= vars.k8s_runtime_abbr %> v1.12.0, Fluent Bit has been upgraded from v1.3.4 to v1.5.7. 
In Fluent Bit v1.5.7, the default Kubernetes annotation buffer size is 32&nbsp;KB, limiting the size of Kubernetes log metadata to 32&nbsp;KB by default. 
The Kubernetes log metadata in your environment exceeds this limit, and the log entries have been discarded.  

**Workaround**

To reduce the length of the Kubernetes metadata applied to your log entries, 
reduce the total size of the Kubernetes annotation environment variables you have defined in your environment. 


<hr>

#### <a id="1-12-0-blocking-simultaneous-commands"></a> The <%= vars.k8s_runtime_abbr %> CLI is Unable to Run Simultaneous Commands

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.12.1](#1-12-1-bug-fixes).  

**Symptom**

Your automated tasks occasionally attempt to run simultaneously, blocking some of the tasks.  

**Workaround**

In <%= vars.k8s_runtime_abbr %> v1.12.1 and later, increase the length of the <%= vars.k8s_runtime_abbr %> CLI timeout. 
For more information about the <%= vars.k8s_runtime_abbr %> timeout, see [tkgi login](cli/index.html#login) 
in the <%= vars.k8s_runtime_abbr %> CLI documentation.


<hr>
#### <a id="1-12-0-cannot-update-dedicated-tier1"></a> <%= vars.k8s_runtime_abbr %> Does Not Support Updating Dedicated Tier 1 Clusters

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.12.2](#1-12-2-bug-fixes).

<%= vars.k8s_runtime_abbr %> does not support updating dedicated Tier 1 clusters. 
You can use a Network Profile to create a dedicated Tier 1 cluster, but you cannot use `tkgi update-cluster` to update the cluster afterward.

<hr>

#### <a id="1-12-0-cvds-with-nvds"></a> <%= vars.k8s_runtime_abbr %> Does Not Support CVDS / NVDS Mixed Environments

<%= vars.k8s_runtime_abbr %> does not support environments where there are multiple matching networks, such as a mixed CVDS/NVDS environment.

**Symptom**

<%= vars.k8s_runtime_abbr %> logs errors similar to the following in an environment with multiple matching networks:

```
LastOperationstatus='failed', description='Instance provisioning failed: 
There was a problem completing your request. Please contact your operations team providing the following information: 
service: p.pks, service-instance-guid: ..., broker-request-id: ..., task-id: ..., operation: create, 
error-message: Unknown CPI error 'Unknown' with message 'undefined method `mob' for #&lt;VimSdk::Vim::OpaqueNetwork:' in create_vm' CPI method
```

**Explanation**

<%= vars.k8s_runtime_abbr %> cannot identify which of the matching networks you intend to use and has selected the wrong network.

<hr>

#### <a id="1-12-0-incorrect-worker-count"></a> `tkgi clusters` Returns the Incorrect Number of Worker Instances

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.12.2](#1-12-2-bug-fixes).

**Symptom**

The `tkgi clusters --json` command returns an incorrect `kubernetes_worker_instances` worker instance count 
for clusters configured using a Compute Profile.  

<hr>

#### <a id="1-12-0-objects-not-deleted-with-cluster"></a> The Tier-1 Gateway and Static Routes for the LoadBalancer CRD Are Not Deleted While Deleting Policy API-Based Clusters 

**Symptom**

After successfully deleting a Policy API-based cluster with LoadBalancer CRDs, you notice that the 
cluster's Tier-1 gateway, static routes for the LoadBalancer CRD, and some <%= vars.k8s_runtime_abbr %> NSX-T resources were not deleted, 
and the following error has been logged:    

```
Found errors in the request. Please refer to the related errors for details.

[Routing] Removal of edge cluster from Tier1 logical router is not allowed as multicast is enabled on it.
```

**Workaround**

To work around this issue:  

* If the cluster has not been deleted:
    1. Delete all of the cluster's LoadBalancer CRDs before deleting the cluster.
<%#
* If the cluster has already been deleted: 
    1. Upgrade TKGI to TKGI v1.12.3 or later.  
    1. Login to your PKS VM.  
    1. Back up `ncp_cleanup`:  
    
        ```
        cp /var/vcap/jobs/pks-nsx-t-osb-proxy/bin/ncp_cleanup   /var/vcap/jobs/pks-nsx-t-osb-proxy/bin/ncp_cleanup.bak
        ```
    1. Open ` /var/vcap/jobs/pks-nsx-t-osb-proxy/bin/ncp_cleanup` for editing.
    1. Modify `ncp_cleanup` so that `pks` is `true`.  
<br>
        For example:  
        
        ```
        --insecure='false' \
        --cluster "$k8s_cluster_name" \
        --t0-router-id="$t0_router_id" \
        --pks=true \
        --read-only=false \
        --force=$force_delete
        ```
    1. Run `ncp_cleanup`:  
    
        ```
        /var/vcap/jobs/pks-nsx-t-osb-proxy/bin/ncp_cleanup CLUSTER-ID
        ```
        
        Where `CLUSTER-ID` is the cluster's UUID.  
<br>
    1. Restore `ncp_cleanup` to its original state:  
    
        ```
        cp /var/vcap/jobs/pks-nsx-t-osb-proxy/bin/ncp_cleanup.bak   /var/vcap/jobs/pks-nsx-t-osb-proxy/bin/ncp_cleanup
        ```
#%>
<hr>



## <a id="management-console-1-12-0"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.12.0

**Release Date**: September 9, 2021

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.
</p>

### <a id="management-console-1-12-0-snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.12.0</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>September 9, 2021</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.12.0</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.16&#42;</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.21.3&#42;</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.3.1&#42;</td>
    </tr>
        <tr>
        <td>Linux stemcell</td>
        <td>v621.141&#42;</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.37 and later&#42;</td>
    </tr>
</table>
<a id="management-console-1-12-0-component-updates"></a>&#42; Components marked with an asterisk have been updated.

### <a id='management-console-1-12-0-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.12.0 
are from <%= vars.k8s_runtime_abbr %> MC v1.11.3 
and earlier <%= vars.k8s_runtime_abbr %> MC v1.11 patches.  

### <a id="management-console-1-12-0-features"></a>Features and Resolved Issues

This release of the <%= vars.k8s_runtime_abbr %> Management Console includes no new features or resolved issues.  

### <a id="management-console-1-12-0-deprecations"></a> Deprecations

The following <%= vars.k8s_runtime_abbr %> features have been deprecated or removed from <%= vars.k8s_runtime_abbr %> Management Console v1.12:

* Support for `DenyEscalatingExec` has been removed from Kubernetes v1.21 and can no longer be configured in the <%= vars.k8s_runtime_abbr %> Management Console. 
For more information, 
see [DenyEscalatingExec](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#denyescalatingexec) 
in the Kubernetes documentation.  


### <a id="management-console-1-12-0-known-issues"></a> Known Issues

The <%= vars.product_short %> Management Console v1.12.0 has the following known issues:


<hr>
#### <a id="management-console-1-12-0-vrli-https"></a> vRealize Log Insight Integration Does Not Support HTTPS Connections

**Symptom**

The <%= vars.product_short %> Management Console integration to vRealize Log Insight does not support connections to the HTTPS port on the vRealize Log Insight server.

**Workaround**

1. Use SSH to log in to the <%= vars.product_short %> Management Console appliance VM.
1. Open the file `/lib/systemd/system/pks-loginsight.service` in a text editor.
1. Add `-e LOG_SERVER_ENABLE_SSL_VERIFY=false`.
1. Set `-e LOG_SERVER_USE_SSL=true`.

    The resulting file should look like the following example:

    ```
    ExecStart=/bin/docker run --privileged --restart=always --network=pks
    -v /var/log/journal:/var/log/journal
    --name=pks-loginsight
    -e TYPE=gear2-vm
    -e LOG_SERVER_HOST=${LOGINSIGHT_HOST}
    -e LOG_SERVER_PORT=${LOGINSIGHT_PORT}
    -e LOG_SERVER_ENABLE_SSL_VERIFY=false
    -e LOG_SERVER_USE_SSL=true
    -e LOG_SERVER_AGENT_ID=${LOGINSIGHT_ID}
    pksoctopus/vrli-journald:v07092019
    ```

1. Save the file and run `systemctl daemon-reload`.
1. To restart the vRealize Log Insight service, run `systemctl restart pks-loginsight.service`.

<%= vars.product_short %> Management Console can now send logs to the HTTPS port on the vRealize Log Insight server.

<hr>
#### <a id="management-console-1-12-0-vsphere-ha"></a> vSphere HA causes Management Console ovfenv Data Corruption

**Symptom**

If you enable vSphere HA on a cluster, if the TKGI Management Console appliance VM is running on a host in that cluster, and if the host reboots, vSphere HA recreates a new TKGI Management Console appliance VM on another host in the cluster. Due to an issue with vSphere HA, the `ovfenv` data for the newly created appliance VM is corrupted and the new appliance VM does not boot up with the correct network configuration.

**Workaround**

- In the vSphere Client, right-click the appliance VM and select **Power** > **Shut Down Guest OS**.
- Right-click the appliance again and select Edit Settings.
- Select **VM Options** and click **OK**.
- Verify under Recent Tasks that a `Reconfigure virtual machine` task has run on the appliance VM.
- Power on the appliance VM.

<hr>
#### <a id="management-console-1-12-0-k8s-profile"></a> Base64 encoded file arguments are not decoded in Kubernetes profiles

**Symptom**

Some file arguments in Kubernetes profiles are base64 encoded. When the management console displays the Kubernetes profile,
some file arguments are not decoded.

**Workaround**

Run `echo "$content" | base64 --decode`

<hr>
#### <a id="management-console-1-12-0-network-profile"></a> Network profiles not immediately selectable

**Symptom**

If you create network profiles and then try to apply them in the Create Cluster page, the new profiles
are not available for selection.

**Workaround**

Log out of the management console and log back in again.

<hr>
#### <a id="management-console-1-12-0-cluster-summary"></a> Real-Time IP information not displayed for network profiles

**Symptom**

In the cluster summary page, only default IP pool, pod IP block, node IP block values are displayed,
rather than the real-time values from the associated network profile.

**Workaround**

None

<hr>
#### <a id="management-console-1-12-0-harbor-storage-config"></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```

**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

<hr>
#### <a id="management-console-1-12-0-re-import-windows-stemcell"></a> Windows Stemcells Must be Re-Imported After Upgrading Ops Manager

**Symptom**

After upgrading Ops Manager, your Management Console does not recognize a Windows stemcell imported when using the prior version of Ops Manager.

**Workaround**

If your Management Console does not recognize a Windows stemcell after upgrading Ops Manager:

1. Re-import your previously imported Windows stemcell.  
2. **Apply Changes** to <%= vars.k8s_runtime_abbr %> MC.  

<hr>
#### <a id="management-console-1-12-0-cluster-group-name"></a> Your New Clusters Are Not Shown In Tanzu Mission Control

**Symptom**

After you create a cluster, Tanzu Mission Control does not include the cluster in cluster lists. 
You have a "_Resource not found_" error similar to the following in your BOSH logs:

```
Cluster Name in TMC: cluster-1
Cluster Name Prefix: tkgi-my-prefix-
Group Name in TMC: my-prefix-clusters
Cluster Description in TMC: VMware Enterprise PKS Attaching cluster ''tkgi-my-prefix-cluster-1'' to TMC 
Fetching token successful 
request POST:/v1alpha1/clusters, 
response 404 Not Found:{"error":"Resource not found - clustergroup(my-prefix-clusters) 
org id(d859dc9f-g622-426d-8c91-939a9f13dea9)",
"code":5,"message":"Resource not found - clustergroup(my-prefix-clusters)
```

**Explanation**

The cluster group you assign a cluster to must be defined in Tanzu Mission Control 
before you assign your cluster to the cluster group in the <%= vars.k8s_runtime_abbr %> Management Console.

**Workaround**  

To resolve the problem, complete the steps in 
[Attaching a Tanzu Kubernetes Grid Integrated (TKGI) cluster to Tanzu Mission Control (TMC) fails with "Resource not found - clustergroup(cluster-group-name)"](https://community.pivotal.io/s/article/tkgi-tmc-attach-fail) 
in the VMware Tanzu Knowledge Base.   

<hr>

#### <a id="management-console-1-12-0-single-edge-node-auto-nat-mode"></a> <%= vars.k8s_runtime_abbr %> MC Does Not Support Single-Edge Node Configurations in Automated NAT Mode


This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.12.2](#1-12-2-bug-fixes).

**Symptom**

The <%= vars.k8s_runtime_abbr %> Configuration view within <%= vars.k8s_runtime_abbr %> MC displays the following error:

```
Fail to configure NSX for TKGI: Traceback (most recent call last): File"scripts/nsx_automoaror.py", line 182, 
in &lt;module&gt; edgee_tzs |= extra_edge2_tzs TpeError: unsupported operand type(s) for |=:'dict' and 'dict'
```

<hr>


