---
title: Release Notes
owner: TKGI
topictype: releasenotes
---


This topic contains release notes for <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) <%= vars.product_version %>.  

## <a id="1-15-1"></a><%= vars.k8s_runtime_abbr %> <%= vars.product_version %>.1

**Release Date**: November 17, 2022


### <a id="1-15-1-snapshot"></a><a id="product-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th colspan=2>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://network.pivotal.io/products/pivotal-container-service/">v1.15.1</a></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>November 17, 2022</td>
    </tr>
    <tr>
        <th>Component</th>
        <th colspan=2>Version</th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v1.5.0</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Container-Networking-with-Antrea/1.5.0/rn/vmware-container-networking-with-antrea-150-release-notes/index.html">Release Notes</a></td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td colspan=2>v0.39.1</td>
    </tr>
    <tr>
        <td>Containerd for Linux</td>
        <td colspan=2>v1.6.6</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td colspan=2>v1.8.6+vmware.9</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.6.0</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.6/rn/vmware-vsphere-container-storage-plugin-26-release-notes/index.html">Release Notes</a></td>
    </tr>
    <tr>
        <td>Docker</td>
        <td colspan=2>Linux: v20.10.9<br>Windows: v20.10.9</td>
    </tr>
    <tr>
        <td>etcd</td>
        <td colspan=2>v3.5.4</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1128636">v2.5.3</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v253-8">Release Notes</a></td>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.24.3</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#changelog-since-v1239">Release Notes</a></td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td colspan=2>v0.6.1</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v4.0.0.0</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-NSX-Container-Plugin/4.0.0/rn/vmware-nsx-container-plugin-400-release-notes/index.html">Release Notes</a></td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td colspan=2>v0.44.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td colspan=2>v74.5.48</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=VELERO-181">v1.8.1</a></td>
        <td style="text-align: center;"><a href="https://github.com/vmware-tanzu/velero/releases/tag/v1.8.1">Release Notes</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.4 and v4.3.1</td>
        <td style="text-align: center;">Release Notes: 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/4.4/rn/VMware-Cloud-Foundation-44-Release-Notes.html">v4.4</a>, 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/4.3.1/rn/VMware-Cloud-Foundation-431-Release-Notes.html">v4.3.1</a>
        </td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td colspan=2>Wavefront Collector: v1.11.0<br>Wavefront Proxy: v11.3</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th colspan=2>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service/"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>VMware NSX</td>
        <td rowspan=2 colspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
        <%# All versions link: https://interopmatrix.vmware.com/Interoperability?col=644&row=0, #%>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td colspan=2>v2019.51 or later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service/"><%= vars.product_network %></a>.</td>
    </tr>
</table>

<a id="1-15-1-component-updates"></a>&#42;  Components marked with an asterisk have been updated.  
&#42;&#42; VCF v4.4 is supported but has not been tested with <%= vars.k8s_runtime_abbr %> v1.15.1.  
&#42;&#42;&#42; To use Policy API features, you must use NSX-T v3.1.3 or later.  



### <a id="1-15-1-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.15.1 are from 
<%= vars.k8s_runtime_abbr %> v1.15.0, and 
<%= vars.k8s_runtime_abbr %> v1.14.3 and earlier <%= vars.k8s_runtime_abbr %> v1.14 patches.  




### <a id="1-15-1-features"></a> Features and Enhancements

<%= vars.k8s_runtime_abbr %> v1.15.1 has the following features:  




<% if vars.product_version == "COMMENTED"  %>
#### <a id="1-15-1-csi-on-public-clouds"></a>Supports Public Cloud CSI Drivers

<%= vars.k8s_runtime_abbr %> v1.15.1 supports the AWS, Azure, and Google Cloud CSI Drivers.  

For more information on using a public cloud CSI Driver with <%= vars.k8s_runtime_abbr %> Kubernetes clusters, 
see [Limitations on Using a Public Cloud CSI Driver](#1-15-1-csi-driver-limits) below.  
<% end %>



### <a id="1-15-1-bug-fixes"></a>Resolved Issues

<%= vars.k8s_runtime_abbr %> v1.15.1 has the following resolved issues:  

<% if vars.product_version == "COMMENTED"  %>
<%#
* Fixes [](#1-14-0-).      
* Fixes the following CVEs:  
  *  [CVE-2021-](https://nvd.nist.gov/vuln/detail/CVE-2021-).  
* Component bumps fix the following CVEs:  
    *  [CVE-2021-](https://nvd.nist.gov/vuln/detail/CVE-2021-): .  
    #%>
<% end %>

###<a id="1-15-1-known-issues"></a>Known Issues

Except where noted, the known issues in <%= vars.product_short %> v1.15.0
are also in <%= vars.product_short %> v1.15.1.
See the <%= vars.k8s_runtime_abbr %> v1.15.0 [Known Issues](#1-15-0-known-issues) below.  

For Known Issues in NCP v3.2.1, see 
[VMware NSX Container Plugin 3.2.1.1 Release Notes](https://docs.vmware.com/en/VMware-NSX-Container-Plugin/3.2.1.1/rn/vmware-nsx-container-plugin-3211-release-notes/index.html).  



<hr>


## <a id="management-console-1-15-1"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.15.1

**Release Date**: November 17, 2022

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.
</p>

### <a id="management-console-1-15-1-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Element</th>
        <th colspan=2>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://customerconnect.vmware.com/downloads/info/slug/infrastructure_operations_management/vmware_tanzu_kubernetes_grid_integrated_edition/1_15">v1.15.1</td>
            <% if vars.product_version == "COMMENTED"  %>
            https://customerconnect.vmware.com/downloads/details?downloadGroup=TKGIMC-1130&productId=1231
            <% end %>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>November 17, 2022</td>
    </tr>
    <tr>
        <td>Installed <%= vars.k8s_runtime_abbr %> version</td>
        <td colspan=2><a href="#1-15-1">v1.15.1</a></td>
    </tr>
    <tr>
        <td>Installed Ops Manager version</td>
        <td>v2.10.46</td>
        <td style="text-align: center;"><a href="https://docs.pivotal.io/ops-manager/2-10/release-notes.html#2-10-46">Release Notes</a></td>
    </tr>
    <tr>
        <th>Component</th>
        <th colspan=2>Version</th>
    </tr>
    <tr>
        <td>Installed Kubernetes version</td>
        <td>v1.24.3</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#changelog-since-v1239">Release Notes</a></td>
    </tr>
    <tr>
        <td>Installed Harbor Registry version</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1128636">v2.5.3</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v253-8">Release Notes</a></td>
    </tr>
    <tr>
        <td>Linux stemcell</td>
        <td colspan=2>v621.265</td>
    </tr>
</table>

<a id="management-console-1-15-1-component-updates"></a>&#42; Components marked with an asterisk have been updated.

### <a id="management-console-1-15-1-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.15.1 are from 
<%= vars.k8s_runtime_abbr %> MC v1.15.0, and 
<%= vars.k8s_runtime_abbr %> MC v1.14.3 and earlier <%= vars.k8s_runtime_abbr %> v1.14 patches.  

### <a id="management-console-1-15-1-features"></a>Features and Resolved Issues

< %= vars.k8s_runtime_abbr % > Management Console v1.15.1 has the following resolved issues:  


<% if vars.product_version == "COMMENTED"  %>
<%#
This release of the <  %= vars.product_short %  > Management Console includes no new features or resolved issues.      
This release of the TKGI Management Console includes no new features or resolved issues.
< %= vars.k8s_runtime_abbr % > Management Console v1.15.1 has the following features and enhancements:
< %= vars.k8s_runtime_abbr % > Management Console v1.15.1 has the following resolved issues:  
* Fixes [](#management-console-1-13-0-).  
 #%>
<% end %>



### <a id="management-console-1-15-1-known-issues"></a> Known Issues

The <%= vars.product_short %> Management Console v1.15.1 has the following known issues:  

Except where noted, the known issues in <%= vars.product_short %> Management Console v1.15.0 
are also in <%= vars.product_short %> Management Console v1.15.1. 
See the <%= vars.k8s_runtime_abbr %> Management Console v1.15.0 [Known Issues](#management-console-1-15-0-known-issues) below.  

<hr>


## <a id="1-15-0"></a><%= vars.k8s_runtime_abbr %> <%= vars.product_version %>.0

**Release Date**: September 20, 2022


### <a id="1-15-0-snapshot"></a><a id="product-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th colspan=2>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1162514">v1.15.0</a></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>September 20, 2022</td>
    </tr>
    <tr>
        <th>Component</th>
        <th colspan=2>Version</th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v1.5.0&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Container-Networking-with-Antrea/1.5.0/rn/vmware-container-networking-with-antrea-150-release-notes/index.html">Release Notes</a></td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td colspan=2>v0.39.1</td>
    </tr>
    <tr>
        <td>Containerd for Linux</td>
        <td colspan=2>v1.6.6&#42;</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td colspan=2>v1.8.6+vmware.9&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.6.0&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.6/rn/vmware-vsphere-container-storage-plugin-26-release-notes/index.html">Release Notes</a></td>
    </tr>
    <tr>
        <td>Docker</td>
        <td colspan=2>Linux: v20.10.9<br>Windows: v20.10.9</td>
    </tr>
    <tr>
        <td>etcd</td>
        <td colspan=2>v3.5.4</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1128636">v2.5.3</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v253-8">Release Notes</a></td>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.24.3&#42;</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#changelog-since-v1239">Release Notes</a></td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td colspan=2>v0.6.1&#42;</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v4.0.0.0&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-NSX-Container-Plugin/4.0.0/rn/vmware-nsx-container-plugin-400-release-notes/index.html">Release Notes</a></td>
        <% if vars.product_version == "COMMENTED"  %>
        <td colspan=2>v4.0.0.0&#42;</td>
        <% end %>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td colspan=2>v0.44.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td colspan=2>v74.5.48</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=VELERO-181">v1.8.1</a></td>
        <td style="text-align: center;"><a href="https://github.com/vmware-tanzu/velero/releases/tag/v1.8.1">Release Notes</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.4 and v4.3.1</td>
        <td style="text-align: center;">Release Notes: 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/4.4/rn/VMware-Cloud-Foundation-44-Release-Notes.html">v4.4</a>, 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/4.3.1/rn/VMware-Cloud-Foundation-431-Release-Notes.html">v4.3.1</a>
        </td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td colspan=2>Wavefront Collector: v1.11.0&#42;<br>Wavefront Proxy: v11.3&#42;</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th colspan=2>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/1162514"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>VMware NSX</td>
        <td rowspan=2 colspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644&row=0,">VMware Product Interoperability Matrices&#42;&#42;&#42;</a>.</td></td>
        <%# All versions link: https://interopmatrix.vmware.com/Interoperability?col=644&row=0, #%>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td colspan=2>v2019.51 or later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/1162514"><%= vars.product_network %></a>.</td>
    </tr>
</table>

<a id="1-15-0-component-updates"></a> &#42; Components marked with an asterisk have been updated.  
&#42;&#42; VCF v4.4 is supported but has not been tested with <%= vars.k8s_runtime_abbr %> v1.15.0.  
&#42;&#42;&#42; To use Policy API features, you must use NSX-T v3.1.3 or later.  



### <a id="1-15-0-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.15.0 are from 
<%= vars.k8s_runtime_abbr %> v1.14.2 and earlier <%= vars.k8s_runtime_abbr %> v1.14 patches.  


### <a id="1-15-0-breaking-changes"></a>Breaking Changes

<%= vars.k8s_runtime_abbr %> v1.15.0 has the following breaking changes:

* Upgrades Kubernetes to v1.24:  

    * Removes support for Dockershim.   
<br> 
        Kubernetes support for the Docker container runtime has been entirely removed. 
        <%= vars.k8s_runtime_abbr %> v1.15 supports the containerd container runtime. 
        All existing <%= vars.k8s_runtime_abbr %> Kubernetes clusters using the Docker container runtime 
        are switched to the containerd container runtime during the upgrade to <%= vars.k8s_runtime_abbr %> v1.15.  

        <p class="note warning"><strong>Warning</strong>: During the <%= vars.k8s_runtime_abbr %> v1.15 upgrade, 
            cluster workloads on clusters that switch from using the Docker container runtime to containerd will experience downtime.  
            <br>
            Cluster workloads do not experience downtime when <code>tkgi update-cluster</code> is used to switch container runtimes.
            To avoid workload downtime, <%= vars.recommended_by %> recommends that you 
            switch your Docker container runtime clusters to containerd before upgrading to <%= vars.k8s_runtime_abbr %> v1.15. 
            For more information, 
            see <a href="#1-15-0-coredns-downtime">Cluster Workloads Experience Downtime While Upgrading and Switching Container Runtimes</a> below.
        </p>  
     
        The tkgi cli `create-cluster` and `update-cluster` commands 
        no longer support the `runtime` and `lock_container_runtime` flags in configuration files.  
        
    
    * On public clouds, support for in-tree storage volumes has been removed.  
<br> 
        Migration from public cloud in-tree storage volumes to the CSI driver is required.  
        
        If your TKGI environment is on a public cloud, you must install the required CSI driver on your clusters 
        before upgrading to <%= vars.k8s_runtime_abbr %> v1.15.0. 
        For more information on migrating in-tree storage volumes to the CSI driver, 
        see [Install the Public Cloud CSI Driver Before Upgrading](checklist.html#install-csi-driver-public-cloud) 
        in _Upgrade Preparation Checklist for Tanzu Kubernetes Grid Integrated Edition_.  
        
        For information on using a public cloud CSI Driver with <%= vars.k8s_runtime_abbr %> Kubernetes clusters, 
        see [Limitations on Using a Public Cloud CSI Driver](#1-15-0-csi-driver-limits) below.  
        
    For more information about Kubernetes v1.24, see 
    [Kubernetes Removals and Deprecations In 1.24](https://kubernetes.io/blog/2022/04/07/upcoming-changes-in-kubernetes-1-24/) 
    in the Kubernetes documentation.  


* fluent-bit `sink-resources` requires a CA certificate with a SAN field:

    * The custom CA certificate used to secure fluent-bit log forwarding connections must include a `SAN` field. 
    If the certificate does not include a `SAN` field, 
    fluent-bit will not send logs and will record the following fluent-bit Pod log error:  

    ```
    build tls conn err: x509: certificate relies on legacy Common Name field, use SANs instead
    ```


For additional breaking changes, see [Deprecations](#1-15-0-deprecations) below.  



### <a id="1-15-0-features"></a> Features and Enhancements

<%= vars.k8s_runtime_abbr %> v1.15.0 has the following features:  

#### <a id="1-15-0-features-security"></a>Security Features

Passes additional CIS Kubernetes Benchmarks:  

* **1.3.7**: Controller Mgr: Ensure that the `--bind-address` argument is set to `127.0.0.1`.  
* **1.4.2**: Scheduler: Ensure that the `--bind-address` argument is set to `127.0.0.1`.  

For more information, see [CIS Kubernetes Benchmarks](./security.html#benchmarks).  


#### <a id="1-15-0-features-kubernetes-profiles"></a>Kubernetes Profiles Enhancements

Supports the following Kubernetes Profiles enhancements:  

**Supports Changing the Service Cluster IP Range**  

Kubernetes Profiles configuration now supports changing the service cluster IP range using `customizations`. 
For more information, see [Modify the Service Cluster IP Range](k8s-profiles.html#extend-service-ip-range) in _Using Kubernetes Profiles_.  


#### <a id="1-15-0-features-network-profiles"></a>Network Profiles Enhancements

Supports the following Network Profiles enhancements:  

**Supports Configuring Additional NCP Parameters**

Network Profiles configuration now supports configuring the NCP `nsx_v3.l4_lb_auto_scaling` parameter. 
For more information, see [cni_configurations Extensions Parameters](network-profiles-define.html#cni-extensions) 
in _Creating and Managing Network Profiles_.  


#### <a id="1-15-0-tenant-isolation"></a>Tenant Isolation Enhancements

Supports isolating tenants using VRF Tier-0 gateways. For more information, 
see [Using a VRF Tier-0 Gateway Configuration for Tenant Isolation](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.15/tkgi/GUID-nsxt-multi-t0.html#about-vrf-gateway-isolation)
in _Isolating Tenants_.  


<% if vars.product_version == "COMMENTED"  %>
#### <a id="1-15-0-csi-on-public-clouds"></a>Supports Public Cloud CSI Drivers

<%= vars.k8s_runtime_abbr %> v1.15.0 supports the AWS, Azure, and Google Cloud CSI Drivers.  

For more information on using a public cloud CSI Driver with <%= vars.k8s_runtime_abbr %> Kubernetes clusters, 
see [Limitations on Using a Public Cloud CSI Driver](#1-15-0-csi-driver-limits) below.  
<% end %>

#### <a id="1-15-0-telegraf-enhancements"></a>Supports Reporting Additional Metrics 

Supports the following telegraf metrics reporting enhancements:

* Supports configuring telegraf to export output using the `metric_version=1` format instead of the default `metric_version=2` format.  
* Supports reporting Kubernetes Scheduler Metrics.  
* Supports reporting telegraf agent process metrics.  

For more information, 
see [Configure Telegraf in the Tile](monitor-etcd.html#connect) 
in _Configuring Telegraf in TKGI_. 
For more information on Telegraf output formats, 
see [Example Output](https://github.com/influxdata/telegraf/blob/v1.20.3/plugins/inputs/prometheus/README.md#example-output) 
in the Telegraf GitHub documentation.  


#### <a id="1-15-0-enhancements"></a>Additional Features

<%= vars.k8s_runtime_abbr %> v1.15.0 includes the following additional features:

* Supports VMware NSX v4.0.0.1.  
* Supports disabling load balancer SNAT for workloads in a single-tier Policy API topology. 
For more information, see [Deploy Workloads on vSphere with NSX-T
](deploy-workloads.html#external-lb-nsxt) 
in _Deploying and Exposing Basic Linux Workloads_.  
* Improves `create-cluster`, `update-cluster`, and `delete-cluster` performance at scale on NSX for vSphere.  


### <a id="1-15-0-bug-fixes"></a>Resolved Issues

<%= vars.k8s_runtime_abbr %> v1.15.0 has the following resolved issues:

* **[Security Fix]** Fixes the following CVEs:  
  * Open SSL vulnerabilities: 
      * Fixes: [CVE-2022-0778](https://nvd.nist.gov/vuln/detail/CVE-2022-0778), 
  [CVE-2022-1292](https://nvd.nist.gov/vuln/detail/CVE-2022-1292), 
  [CVE-2022-1343](https://nvd.nist.gov/vuln/detail/CVE-2022-1343), 
  [CVE-2022-1434](https://nvd.nist.gov/vuln/detail/CVE-2022-1434), 
  [CVE-2022-1473](https://nvd.nist.gov/vuln/detail/CVE-2022-1473), 
  and [CVE-2022-2068](https://nvd.nist.gov/vuln/detail/CVE-2022-2068).  
  * TKGI API: 
      * Fixes: Diffie-Hellman <= 1024 bits vulnerability [CVE-2015-4000](https://nvd.nist.gov/vuln/detail/CVE-2015-4000).  

* **[Security Fix]** Component bumps fix the following:  
    * Upgrades golang to v1.17.9:  
        * Fixes [CVE-2022-23772](https://nvd.nist.gov/vuln/detail/CVE-2022-23772), [CVE-2022-23773](https://nvd.nist.gov/vuln/detail/CVE-2022-23773), 
        [CVE-2022-23806](https://nvd.nist.gov/vuln/detail/CVE-2022-23806), [CVE-2022-24921](https://nvd.nist.gov/vuln/detail/CVE-2022-24921), 
        and [CVE-2022-27191](https://nvd.nist.gov/vuln/detail/CVE-2022-27191).  
    * Upgrades JDK to v11.0.15:  
        * Fixes numerous moderate security issues. For more information, 
        see [Oracle Java SE Risk Matrix](https://www.oracle.com/security-alerts/cpuoct2020.html#AppendixJAVA) 
        in the _Oracle Critical Patch Update_ documentation.  
      
<% if vars.product_version == "COMMENTED"  %>
* **[Security Fix]** Component bumps fix the following:  
    * Harbor:  
        * Fixes [Harbor <2.52 includes multiple failures to validate user permission](https://github.com/goharbor/cve-notification/security/advisories).  
<% end %>
* Fixes [The Docker Image Remains after Switching to the Containerd Container Runtime](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-docker-image-not-removed).
* Fixes [Healthwatch Unable to Scrape Kube Scheduler Metrics](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-healthwatch-metrics).  
* Fixes [Custom BOSH vm_extensions Configuration Settings Applied Inconsistently to Cluster VMs](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-vm-extensions-toggle).
* Fixes [Automatic vSphere CSI Driver Integration Ignores Proxy Configuration](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-csi-proxy-issue).
* Fixes [Windows Pause Image Not Pulled from Private Harbor Registry](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-pause-image-not-pulled).
* Fixes [VMDKs Are Deleted during Migration from In-Tree Storage to CSI](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-vmdks-deleted-during-migration).
* Fixes [Upgrade of Windows cluster that has containerd as the container runtime can fail](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-1-windows-cluster-upgrade).
* Fixes [Kubernetes Services Cannot Be Accessed from a Windows Pod in Some Windows Clusters](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-windows-cluster-ncp-issue).
* Fixes [Some Windows Pods Become Unreachable](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-2-windows-cluster-ncp-issue-2).  
* Fixes [vROPs cAdvisor Daemonset Is Not Running after Upgrading <%= vars.k8s_runtime_abbr %>](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-vrops-not-running).  
* Fixes [The vsphere-csi-webhook Is Missing after Upgrading a Cluster](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-1-webhook-missing).  
<% if vars.product_version == "COMMENTED"  %>
* Fixes [Switching Your Default CNI to Antrea is Not Supported](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.14/tkgi/GUID-release-notes.html#1-14-0-antrea-switch-disabled).
* Fixes [Docker Commands No Longer Work on Worker VMs](#1-14-0-docker-commands-disabled).
<% end %>
<% if vars.product_version == "COMMENTED"  %>
<%#
* Fixes [](#1-14-0-).      
* Fixes the following CVEs:  
  *  [CVE-2021-](https://nvd.nist.gov/vuln/detail/CVE-2021-).  
* Component bumps fix the following CVEs:  
    *  [CVE-2021-](https://nvd.nist.gov/vuln/detail/CVE-2021-): .  
    #%>
<% end %>


### <a id="1-15-0-deprecations"></a><a id="1-15-0-upcoming-deprecations"></a> Deprecations


The following <%= vars.k8s_runtime_abbr %> features have been deprecated or removed from <%= vars.k8s_runtime_abbr %> v1.15:  

* **Docker Support**: Kubernetes support for the Docker container runtime has been entirely removed in Kubernetes v1.24. 
<%= vars.k8s_runtime_abbr %> v1.15 supports the containerd container runtime.  

* **The `log_dropped_traffic` CNI Configuration parameter**: In <%= vars.k8s_runtime_abbr %> v1.15.0 and later, 
    the `log_dropped_traffic` CNI Configuration parameter is ignored.  

    To configure logging in a Network Profile, modify the `log_firewall_traffic` parameter. For more information, 
    see `log_settings` in the [`cni_configurations` Parameters](network-profiles-define.html#cni-params) section in _Creating and Managing Network Profiles_.  
    
* **Pod Security Policy Support**: Kubernetes Pod Security Policy (PSP) support has been deprecated and PSP support will be entirely removed in Kubernetes v1.25.
Kubernetes v1.23 and v1.24 provide beta support for Pod Security Admission.
For more information, see [Pod Security Admission](https://kubernetes.io/docs/concepts/security/pod-security-admission/) and
[Enforce Pod Security Standards with Namespace Labels](https://kubernetes.io/docs/tasks/configure-pod-container/enforce-standards-namespace-labels/)
in the Kubernetes documentation.  
<%#* **Management API**: Management API will be deprecated and later replaced with Policy API in future <%= vars.k8s_runtime_abbr %  \n   > versions. VMware does not recommend that you use Management API  \n   in future <%= vars.k8s_runtime_abbr %  \n   > versions. #%>
<%#* Support for `` has been removed and can no longer be configured in the < %= vars.k8s_runtime_abbr % > tile.  \n     \n   #### <a id="1-14-0-upcoming-deprecations"></a> Upcoming Deprecations  \n     \n   The following < %= vars.k8s_runtime_abbr % > features will be deprecated or removed in future versions of < %= vars.k8s_runtime_abbr % >:   \n   #%>

* **Flannel Support**: Support for the Flannel Container Networking Interface (CNI) is deprecated.
<%= vars.recommended_by %> recommends that you upgrade your Flannel CNI-configured clusters to the Antrea CNI.
For more information about Flannel CNI deprecation, see
[About Upgrading from the Flannel CNI to the Antrea CNI](understanding-upgrades.html#cni)
in _About Tanzu Kubernetes Grid Integrated Edition Upgrades_.  

* **VCP Volume Support**: VCP volume support has been deprecated and will be entirely removed in a future Kubernetes version. 
For information on how to manually migrate VCP volumes on existing <%= vars.k8s_runtime_abbr %> clusters from VCP
to the automatically installed vSphere CSI Driver, see
[Migrate from VCP to the vSphere CSI Driver](vsphere-cns.html#migrate-to-csi) 
in _Deploying and Managing Cloud Native Storage (CNS) on vSphere_.  


###<a id="1-15-0-known-issues"></a>Known Issues

<%= vars.k8s_runtime_abbr %> v1.15.0 has the following known issues.  
<% if vars.product_version == "COMMENTED"  %>
Except where noted, the known issues in <%= vars.product_short %> v1.15.0
are also in <%= vars.product_short %> v1.15.1.
See the <%= vars.k8s_runtime_abbr %> v1.15.0 [Known Issues](#1-15-0-known-issues) below.  

For Known Issues in NCP v3.2.1, see 
[VMware NSX Container Plugin 3.2.1.1 Release Notes](https://docs.vmware.com/en/VMware-NSX-Container-Plugin/3.2.1.1/rn/vmware-nsx-container-plugin-3211-release-notes/index.html).  
<% end %>



<hr>

#### <a id="1-15-0-renamed-ops-man"></a> TKGI MC Unable to Manage TKGI after Restoring the TKGI Control Plane from Backup

**Symptom**

After you restore Ops Manager and the <%= vars.control_plane %> VM from backup,
<%= vars.k8s_runtime_abbr %> functions normally, but your <%= vars.k8s_runtime_abbr %> MC tabs
include the following error: "...product 'pivotal-container service' is not deployed...".

**Explanation**

<%= vars.k8s_runtime_abbr %> MC is associated with an Ops Manager with a specific name.
If you rename Ops Manager with a new name while restoring, your <%= vars.k8s_runtime_abbr %> MC
will not recognize the restored Ops Manager and cannot manage it.

<hr>

#### <a id="1-15-0-hyperbus-error"></a> Kubernetes Pods on NSX-T Become Stuck in a Creating State

**Symptom**

The pods in your <%= vars.k8s_runtime_abbr %> Kubernetes clusters on NSX-T become stuck in a
creating state.
The connections between nsx-node-agent and hyperbus repeatedly close, log
`Couldn't connect to 'tcp://...' (error: 111-Connection refused)`, and have a status of
`COMMUNICATION_ERROR`.

**Explanation**

For information and workaround steps for this Known Issue, see
[Issue 2795268: Connection between nsx-node-agent and hyperbus flips and Kubernetes pod is stuck at creating state](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.1/rn/NSX-Container-Plugin-312-Release-Notes.html#RNA_11559)
in _NSX Container Plugin 3.1.2 Release Notes_ in the VMware documentation.

<hr>

#### <a id="1-15-0-azure-apply-changes"></a> Error: Could Not Execute "Apply-Changes" in Azure Environment

**Symptom**

After clicking **Apply Changes** on the <%= vars.k8s_runtime_abbr %> tile in an Azure environment,
you experience an error '_...could not execute "apply-changes"..._' with either of the following descriptions:

* _{"errors":{"base":["undefined method 'location' for nil:NilClass"]}}_
* _FailedError.new("Resource Groups in region '#{location}' do not support Availability Zones"))_

For example:

```
INFO | 2020-09-21 03:46:49 +0000 | Vessel::Workflows::Installer#run | Install product (apply changes)
2020/09/21 03:47:02 could not execute "apply-changes": installation failed to trigger: request failed: unexpected response from /api/v0/installations:
HTTP/1.1 500 Internal Server Error
Transfer-Encoding: chunked
Cache-Control: no-cache, no-store
Connection: keep-alive
Content-Type: application/json; charset=utf-8
Date: Mon, 21 Sep 2020 17:51:50 GMT
Expires: Fri, 01 Jan 1990 00:00:00 GMT
Pragma: no-cache
Referrer-Policy: strict-origin-when-cross-origin
Server: Ops Manager
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
X-Download-Options: noopen
X-Frame-Options: SAMEORIGIN
X-Permitted-Cross-Domain-Policies: none
X-Request-Id: f5fc99c1-21a7-45c3-7f39
X-Runtime: 9.905591
X-Xss-Protection: 1; mode=block

44
{"errors":{"base":["undefined method `location' for nil:NilClass"]}}
0
```

**Explanation**

The Azure CPI endpoint used by Ops Manager has been changed and
your installed version of Ops Manager is not compatible with the new endpoint.

**Workaround**

Run the following Ops Manager CLI command:

```
om --skip-ssl-validation --username USERNAME --password PASSWORD --target https://OPSMAN-API curl --silent --path /api/v0/staged/director/verifiers/install_time/IaasConfigurationVerifier -x PUT -d '{ "enabled": false }'
```

Where:

* `USERNAME` is the account to use to run Ops Manager API commands.
* `PASSWORD` is the password for the account.
* `OPSMAN-API` is the IP address for the Ops Manager API

For more information, see
[Error 'undefined method location' is received when running Apply Change on Azure](https://community.pivotal.io/s/article/undefined-method-location-when-running-Apply-Change-on-Azure?language=en_US) in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-15-0-vrops-windows-clusters"></a> VMware vRealize Operations Does Not Support Windows Worker-Based Kubernetes Clusters

VMware vRealize Operations (vROPs) does not support Windows worker-based Kubernetes clusters and
cannot be used to manage <%= vars.k8s_runtime_abbr %>-provisioned Windows workers.

<hr>

#### <a id="1-15-0-wavefront-no-win"></a><%= vars.k8s_runtime_abbr %> Wavefront Requires Manual Installation for Windows Workers

To monitor Windows-based worker node clusters with a Wavefront collector and proxy, you must first install Wavefront on the clusters manually, using Helm.
For instructions, see the [Wavefront](windows-monitoring.html#wavefront) section of the
_Monitoring Windows Worker Clusters and Nodes_ topic.

<hr>
#### <a id="1-15-0-ping"></a>Pinging Windows Worker Kubernetes Clusters Does Not Work

<%= vars.k8s_runtime_abbr %>-provisioned Windows worker-based Kubernetes clusters inherit a Kubernetes limitation that prevents outbound ICMP communication from workers.
As a result, pinging Windows workers does not work.

For information about this limitation, see [Limitations > Networking](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#networking-1) in the _Windows in Kubernetes_ documentation.

<hr>

#### <a id="1-15-0-windows-velero-limitations"></a> Velero Does Not Support Backing Up Stateful Windows Workloads

You can use Velero to back up stateless <%= vars.k8s_runtime_abbr %>-provisioned Windows workers only.
You cannot use Velero to back up stateful Windows applications.
For more information, see [Velero on Windows](https://velero.io/docs/v1.6/basic-install/#velero-on-windows) in
_Basic Install_ in the Velero documentation.

<hr>

#### <a id="1-15-0-tmc-on-gcp"></a>Tanzu Mission Control Integration Not Supported on GCP

<%= vars.k8s_runtime_abbr %> on Google Cloud Platform (GCP) does not support
Tanzu Mission Control (TMC) integration, which is configured in
the **<%= vars.product_tile %>** tile > the **Tanzu Mission Control** pane.

If you intend to run <%= vars.k8s_runtime_abbr %> on GCP,
skip this pane when configuring the <%= vars.product_tile %> tile.

<hr>

#### <a id="1-15-0-tmc-restic"></a>TMC Data Protection Feature Requires Privileged <%= vars.k8s_runtime_abbr %> Containers

TMC Data Protection feature supports privileged <%= vars.k8s_runtime_abbr %> containers only.
For more information, see [Plans](installing-vsphere.html#plans) in the _Installing TKGI_ topic for your IaaS.

<hr>

#### <a id="1-15-0-profile-no-win-gmsa"></a>Windows Worker Kubernetes Clusters with Group Managed Service Account Do Not Support Compute Profiles

Windows worker-based Kubernetes clusters integrated with group Managed Service Account (gMSA) cannot be managed using compute profiles.

<hr>

#### <a id="1-15-0-profile-no-win-flannel"></a> Windows Worker Kubernetes Clusters on Flannel Do Not Support Compute Profiles

On vSphere with NSX-T networking you can use compute profiles with both Linux and Windows worker&#8209;based Kubernetes clusters.
On vSphere with Flannel networking, you can apply compute profiles only to Linux clusters.

<hr>

#### <a id="1-15-0-profile-resize-down"></a>TKGI CLI Does Not Prevent Reducing the Control Plane Node Count

TKGI CLI does not prevent accidentally reducing a cluster's control plane node count using a compute profile.

<p class="note warning"><strong>Warning:</strong>
    Reducing a cluster's control plane node count can destroy the cluster.
    Do not scale out or scale in existing control plane nodes by reconfiguring the TKGI tile or by using a compute profile.
    Reducing a cluster's number of control plane nodes may remove a control plane node and cause the cluster to become inactive.
</p>

<hr>

#### <a id="1-15-0-in-windows-notready-nodes"></a> Windows Cluster Nodes Not Deleted After VM Deleted

**Symptom**

After you delete a VM using the management console of your infrastructure provider, you notice a Windows worker node
that had been on that VM is now in a `notReady` state.

**Solution**

1. To identify the leftover node:

    ```
    kubectl get no -o wide
    ```
1. Locate nodes on the returned list that are in a `notReady` state and have the same IP address as another node in the list.
1. To manually delete a `notReady` node:

    ```
    kubectl delete node NODE-NAME
    ```
    Where `NODE-NAME` is the name of the node in the `notReady` state.

<hr>

#### <a id="1-15-0-oidc-response-header"></a>502 Bad Gateway After OIDC Login

**Symptom**

You experience a "502 Bad Gateway" error from the NSX load balancer after you log in to OIDC.

**Explanation**

A large response header has exceeded your NSX-T load balancer maximum
response header size. The default maximum response header size is 10,240 characters and should
be resized to 50,000.

**Workaround**

If you experience this issue, manually reconfigure your NSX-T `request_header_size`
and `response_header_size` to 50,000 characters.
For information about configuring NSX-T default header sizes,
see [OIDC Response Header Overflow](https://community.pivotal.io/s/article/OIDC-Response-Header-overflow) in the Knowledge Base.

<hr>

#### <a id="1-15-0-windows-proxy"></a> Difficulty Changing Proxy for Windows Workers

You must configure a global proxy in the <%= vars.product_tile %> tile > **Networking** pane before you create any Windows workers that use the proxy.

You cannot change the proxy configuration for Windows workers in an existing cluster.

<hr>

#### <a id="1-15-0-http-proxy-password"></a> Character Limitations in HTTP Proxy Password

For vSphere with NSX-T, the HTTP Proxy password field does not support the following special characters: `&` or `;`.

<hr>

#### <a id="1-15-0-harbor-storage-config"></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```

**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

<hr>

#### <a id="1-15-0-resizing-worker-nodes"></a> Ingress Controller Statefulset Fails to Start After Resizing Worker Nodes

**Symptom**

Permissions are removed from your cluster's files and processes after resizing the persistent disk
during a cluster upgrade. The ingress controller statefulset fails to start.

**Explanation**

When resizing a persistent disk, Bosh migrates the data from the old disk to the new disk but
does not copy the files' extended attributes.

**Workaround**

To resolve the problem, complete the steps in
[Ingress controller statefulset fails to start after resize of worker nodes with permission denied]
(https://community.pivotal.io/s/article/5000e00001nCJxT1603094435795?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-15-0-security-group"></a>Azure Default Security Group Is Not Automatically Assigned to Cluster VMs

**Symptom**

You experience issues when configuring a load balancer for a multi-control plane node Kubernetes cluster or creating a service of type `LoadBalancer`.
Additionally, in the Azure portal, the **VM** > **Networking** page does not display
any inbound and outbound traffic rules for your cluster VMs.

**Explanation**

As part of configuring the <%= vars.product_tile %> tile for Azure, you enter **Default Security Group** in the **Kubernetes Cloud Provider** pane.
When you create a Kubernetes cluster, <%= vars.product_short %> automatically assigns this security group to each VM in the cluster.
However, on Azure the automatic assignment may not occur.

As a result, your inbound and outbound traffic rules defined in the security group are not applied to the cluster VMs.

**Workaround**

If you experience this issue, manually assign the default security group to each VM NIC in your cluster.

<hr>

#### <a id="1-15-0-uuid-length"></a> One Plan ID Longer than Other Plan IDs

**Symptom**

One of your plan IDs is one character longer than your other plan IDs.

**Explanation**

In <%= vars.k8s_runtime_abbr %>, each plan has a unique plan ID.
A plan ID is normally a UUID consisting of 32 alphanumeric characters and 4 hyphens.
However, the **Plan 4** ID consists of 33 alphanumeric characters and 4 hyphens.

**Solution**

You can safely configure and use **Plan 4**.
The length of the **Plan 4** ID does not affect the functionality of **Plan 4** clusters.

If you require all plan IDs to have identical length, do not activate or use **Plan 4**.

<hr>

#### <a id="1-15-0-db-down-after-vm-stopped"></a> Database Cluster Stops After a Database Instance is Stopped

**Symptom**

After you stop one instance in a multiple-instance database cluster, the cluster stops,
or communication between the remaining databases times out, and the entire cluster becomes unreachable.

The following might be in your UAA log:

```
WSREP has not yet prepared node for application use
```

**Explanation**

The database cluster is unable to recover automatically because a member is no longer available to reconcile quorum.

<hr>

#### <a id="1-15-0-velero-vsphere-pvs"></a> Velero Back Up Fails for vSphere PVs Attached to Clusters on Kubernetes v1.20 and Later

**Symptom**

Backing up vSphere persistent volumes using Velero fails and your Velero backup log includes the following error:

```
rpc error: code = Unknown desc = Failed during IsObjectBlocked check: Could not translate selfLink to CRD name
```

**Explanation**

This is a known issue when backing up clusters on Kubernetes v1.20 and later using the
Velero Plugin for vSphere v1.1.0 or earlier.

**Workaround**

To resolve the problem, complete the steps in
[Velero backups of vSphere persistent volumes fail on Kubernetes clusters version 1.20 or higher (83314)](https://kb.vmware.com/s/article/83314)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-15-0-creating-two-windows-clusters-fails"></a> Creating Two Windows Clusters at the Same Time Fails

**Symptom**

The first time that you try to create two Windows clusters at the same time, the creation of one of
the clusters fails. If you run `pks cluster CLUSTER-NAME` to examine the last action taken on the
cluster, you see the following:

<pre class="terminal">
Last Action: Create
Last Action State: failed
Last Action Description: Instance provisioning failed: There was a problem completing your request.
. . .
operation: create, error-message: Failed to acquire lock
. . .
locking task id is 111, description: 'create deployment'
</pre>

**Explanation**

This is a known issue that occurs the first time that you create two Windows clusters concurrently.

**Workaround**

Recreate the failed cluster. This issue only occurs the first time that you create two Windows
clusters concurrently.


<hr>

#### <a id="1-15-0-delete-cluster-not-stopped"></a> Deleted Clusters are Listed in Cluster Lists

**Symptom**

After running `tkgi delete-cluster` and cluster deletion has completed,
the deleted cluster continues to be listed when running `tkgi clusters`.

**Workaround**

You must manually remove the deleted cluster using a customized version of the ncp_cleanup script.
For more information, see
[Deleting a Tanzu Kubernetes Grid Integrated Edition cluster with "tkgi delete-cluster" stuck "in progress" status](https://community.pivotal.io/s/article/pks-delete-cluster-in-progress-after-the-cluster-has-been-deleted?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-15-0-errors-after-reinstall"></a> BOSH Director Logs the Error 'Duplicate vm extension name'

**Symptom**

After you uninstall <%= vars.k8s_runtime_abbr %>, then reinstall <%= vars.k8s_runtime_abbr %> in the same environment,
BOSH Director logs errors similar to the following:

```
.../gems/bosh-director-0.0.0/lib/bosh/director/deployment_plan/cloud_manifest_parser.rb:120:in `parse_vm_extensions': Duplicate vm extension name 'disk_enable_uuid' (Bosh::Director::DeploymentDuplicateVmExtensionName)
```

**Explanation**

The `pivotal-container-service` cloud-config was not removed when you uninstalled the <%= vars.k8s_runtime_abbr %> tile,
and it remained active.
When you reinstalled the <%= vars.k8s_runtime_abbr %> tile, an additional `pivotal-container-service` cloud-config was created,
causing the metrics_server to fall into a crash-loop state.

**Workaround**

You must manually remove the `pivotal-container-service` cloud-config after removing your <%= vars.k8s_runtime_abbr %> deployment,
including after removing the <%= vars.k8s_runtime_abbr %> tile from Ops Manager.

For more information, see ["Duplicate vm extension name" error when metrics_server runs on Director VM in Tanzu Kubernetes Grid Integrated Edition](https://community.pivotal.io/s/article/5000e00001oHXvP1631027033087?language=en_US)
in the VMware Tanzu Community Knowledge Base.

<hr>

#### <a id="1-15-0-whitespace-pksapi"></a> The <%= vars.control_plane %> FQDN Must Not Include Trailing Whitespace

**Symptom**

Your <%= vars.k8s_runtime_abbr %> logs include the following error:

```
'uaa'. Errors are:- Error filling in template 'uaa.yml.erb' (line 59: Client redirect-uri is invalid: uaa.clients.pks_cli.redirect-uri Client redirect-uri is invalid: uaa.clients.pks_cluster_client.redirect-uri)
```

**Explanation**

The <%= vars.control_plane %> fully-qualified domain name (FQDN) for your cluster contains leading or trailing whitespace.

**Workaround**

Do not include whitespace in the <%= vars.k8s_runtime_abbr %> tile **API Hostname (FQDN)** field.

<hr>

#### <a id="1-15-0-cannot-backup-with-tmc"></a> TMC Cluster Data Protection Backup Fails After Upgrading <%= vars.k8s_runtime_abbr %>

The TMC Cluster Data Protection Backup fails in <%= vars.k8s_runtime_abbr %> environments upgraded from an earlier version.

**Symptom**

The TMC Cluster Data Protection Backup fails to back up your existing clusters and logs the following error:

```
error executing custom action (groupResource=customresourcedefinitions.apiextensions.k8s.io, namespace=, name=ncpconfigs.nsx.vmware.com): rpc error: code = Unknown desc = error fetching v1beta1 version of ncpconfigs.nsx.vmware.com: the server could not find the requested resource
```

**Explanation**

Kubernetes v1.22 disallows the `spec.preserveUnknownFields: true` configuration in your existing clusters and the creation of a v1 CustomResourceDefinitions configuration fails.

<hr>

#### <a id="1-15-0-cannot-restore-with-tmc"></a> TMC Cluster Data Protection Restore Fails When Using Antrea CNI

The TMC Cluster Data Protection Restore operation can fail when restoring multiple Antea resources.

**Symptom**

The TMC Cluster Data Protection Restore fails and logs errors that requests to restore the `admission webhook` have been denied.

**Explanation**

Velero has encountered a race condition while operating a resource.
For more information, see
[Allow customizing restore order for Kubernetes controllers and their managed resources](https://github.com/vmware-tanzu/velero/issues/4045)
in the Velero GitHub repository.

<hr>

#### <a id="1-15-0-cvds-with-nvds"></a> <%= vars.k8s_runtime_abbr %> Does Not Support CVDS / NVDS Mixed Environments

<%= vars.k8s_runtime_abbr %> does not support environments where there are multiple matching networks, such as a mixed CVDS/NVDS environment.

**Symptom**

<%= vars.k8s_runtime_abbr %> logs errors similar to the following in an environment with multiple matching networks:

```
LastOperationstatus='failed', description='Instance provisioning failed:
There was a problem completing your request. Please contact your operations team providing the following information:
service: p.pks, service-instance-guid: ..., broker-request-id: ..., task-id: ..., operation: create,
error-message: Unknown CPI error 'Unknown' with message 'undefined method `mob' for <VimSdk::Vim::OpaqueNetwork:' in create_vm' CPI method
```

**Explanation**

<%= vars.k8s_runtime_abbr %> cannot identify which of the matching networks you intend to use and has selected the wrong network.

<hr>

#### <a id="1-15-0-ovsdb-server-failure"></a> Occasionally update-cluster Does Not Complete for Windows Workers

Occasionally, `tkgi update-cluster` hangs while updating a Windows worker node instance and the BOSH task cannot finish and exits.

**Symptom**

The `ovsdb-server` service has stopped but other processes report that it is running.

**Explanation**

The `ovsdb-server.pid` file uses the pid for a process that is not the ovsdb-server.

To confirm that this is the root cause for `tkgi update-cluster` to hang:

* To verify the `ovsdb-server` service has actually stopped, run the PowerShell `Get-services` command on the Windows worker node.
* To verify that other processes report the `ovsdb-server` service is still running:
<br>
    1. Review the ovsdb-server `job-service-wrapper.err.log` log file.
<br>
        The `job-service-wrapper.err.log` log file is located at:

        ```
        C:\var\vcap\sys\log\openvswitch-windows\ovsdb-server\job-service-wrapper.err.log
        ```
    1. Confirm that after the flushing processes, the log includes an error similar to the following:

        ```
        Pid-Guard : ovsdb-server is already runing, please stop it first
        At C:\var\vcap\jobs\openvswitch-windows\bin\ovsdb-server_ctl.ps1:30 char:5
        +     Pid-Guard $PIDFILE "ovsdb-server"
        +     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            + CategoryInfo          : NotSpecified: ( [Write-Error], WriteErrorException
            + FullyQualifiedErrorId : Microsoft.PowerShell.Commands.WriteErrorException,Pid-Guard
        ```
* To verify the root cause:
<br>
    1. Run the following PowerShell commands on the Windows worker node:

        ```
        $RUN_DIR = "C:\var\vcap\sys\run\openvswitch-windows"
        $PIDFILE = "$RUN_DIR\ovsdb-server.pid"
        $pid1 = Get-Content $PidFile -First 1
        echo $pid1
        $rst = Get-Process -Id $pid1 -ErrorAction SilentlyContinue
        echo $rst
        ```
    1. Confirm the returned `ProcessName` is not `ovsdb-server`.

**Workaround**

To resolve this issue for a single Windows worker:

1. SSH to the affected worker node.
1. Run the following:

    ```
    rm C:\var\vcap\sys\run\openvswitch-windows\ovsdb-server.pid
    ```
1. Wait for the `ovsdb-server` process to start.
1. Confirm the dependent services also start.


<hr>

#### <a id="1-15-0-harbor-241"></a> Harbor Private Projects Are Inaccessible after Upgrading to <%= vars.k8s_runtime_abbr %> v1.13.0

If LDAP is enabled, Harbor private projects are inaccessible after upgrading to <%= vars.k8s_runtime_abbr %> v1.13.0.
For more information, see [Private projects become inaccessible after upgrading Harbor for TKGI to v2.4.x with LDAP feature enabled](https://community.pivotal.io/s/article/After-upgrading-Harbor-tile-to-v2-4-x-with-LDAP-feature-enabled-private-projects-turn-unaccessible?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-15-0-stemcell-tar-support"></a> Deployments Fail on <%= vars.k8s_runtime_abbr %> Windows Worker-based Kubernetes Clusters after the January 2022 Microsoft Windows Security Patch

Microsoft changed Microsoft Windows' support for tar file commands in the January 2022 Microsoft Windows security patch.

Packaging scripts that use tar commands for Windows worker-based Kubernetes Cluster deployments
can fail after the Microsoft tar command patch update has been applied.

The BOSH agent used by vSphere stemcells built by stembuild v2019.43 and earlier use tar commands that are no longer supported
and will fail if the Microsoft Windows security patch has been applied.


**Workaround**

Stembuild v2019.44 and later include a version of the BOSH agent that does not use unsupported tar commands.

If you use vSphere stemcells, use Stembuild 2019.44 or later to avoid the BOSH agent tar error.


<hr>


#### <a id="1-15-0-fip-ip-reuse"></a> <%= vars.k8s_runtime_abbr %> Reallocates Network Profile-Allocated FIP Pool Addresses

**Symptom**

The pre-start script for `tkgi create-cluster` fails and logs floating IP pool allocation errors in the `pre-start.stderr.log` similar to the following:

```
level=error msg="operation failed with [POST /pools/ip-pools/{pool-id}][409] allocateOrReleaseFromIpPoolConflict  &{RelatedAPIError:{Details: ErrorCode:5141 ErrorData:<nil> ErrorMessage:Requested IP Address ... is already allocated. ModuleName:id-allocation service} RelatedErrors:[]}\n"

level=warning msg="failed to allocate FIP from (pool: ...: [POST /pools/ip-pools/{pool-id}][409] allocateOrReleaseFromIpPoolConflict  &{RelatedAPIError:{Details: ErrorCode:5141 ErrorData:<nil> ErrorMessage:Requested IP Address ... is already allocated. ModuleName:id-allocation service} RelatedErrors:[]}\n"

Error: an error occurred during FIP allocation
```

**Explanation**

<%= vars.k8s_runtime_abbr %> administrators can allocate floating IP pool IP Addresses in a Network Profile configuration.
The <%= vars.k8s_runtime_abbr %> control plane allocates IP Addresses from the floating IP pool without accounting for the IPs allocated using Network Profiles.

**Workaround**

<%= vars.k8s_runtime_abbr %> allocates IP addresses starting from the beginning of a floating IP pool range.
When configuring a Network Profile, allocate IP Addresses starting at the end of the floating IP pool range instead of those at the beginning.

<hr>
<% if vars.product_version == "v1.15"  %>

#### <a id="1-15-0-coredns-downtime"></a> Cluster Workloads Experience Downtime While Upgrading and Switching Container Runtimes

The workloads on a cluster will experience a period of downtime if the cluster runtime is automatically switched from Docker to containerd 
during a <%= vars.k8s_runtime_abbr %> upgrade.  

**Explanation**  

By default, clusters are switched from the Docker container runtime to containerd while upgrading <%= vars.k8s_runtime_abbr %> to a newer <%= vars.k8s_runtime_abbr %> version.  

If a <%= vars.k8s_runtime_abbr %> upgrade switches a cluster container runtime, the workloads on that cluster will experience a period of downtime.  

Administrators have the option to switch container runtimes manually before upgrading <%= vars.k8s_runtime_abbr %>. 
Administrators can also tag a cluster to not switch container runtimes automatically during a <%= vars.k8s_runtime_abbr %> upgrade.  

**Workaround**

To avoid workload downtime, manually switch the cluster's container runtime to containerd before upgrading to <%= vars.k8s_runtime_abbr %> v1.14
or configure the cluster so that the <%= vars.k8s_runtime_abbr %> upgrade does not switch the cluster's container runtime.  

If you must allow the container runtime switch to occur during a <%= vars.k8s_runtime_abbr %> upgrade, 
avoid workload downtime by completing the following steps before upgrading to <%= vars.k8s_runtime_abbr %> v1.14:  

1. Pull down the coreDNS image used in your <%= vars.k8s_runtime_abbr %> v1.13 Kubernetes clusters.  

    * If you are upgrading <%= vars.k8s_runtime_abbr %> from v1.13.2 through v1.13.6 to <%= vars.k8s_runtime_abbr %> v1.14.0 and later:  
    
        ```
        docker pull projects.registry.vmware.com/tkg/coredns:v1.8.4_vmware.7
        ```  
        
    * If you are upgrading from <%= vars.k8s_runtime_abbr %> v1.13.0 or v1.13.1 to <%= vars.k8s_runtime_abbr %> v1.14.0 and later:  
    
        1. SSH to one of the worker nodes.  
        1. Use the following `alias docker` command:  
        
            ```
            alias docker="/var/vcap/packages/docker/bin/docker --host unix:///var/vcap/sys/run/docker/docker.sock"
            ```
            
        1. Export the coreDNS image using [`docker save`](https://docs.docker.com/engine/reference/commandline/save/).  
            
1. Upload the coreDNS image to your custom image registry.  
1. Modify the coreDNS deployment to use the uploaded image. 
Repeat this step for all of the <%= vars.k8s_runtime_abbr %> Kubernetes clusters with workloads that should remain up during the upgrade.  
1. Upgrade <%= vars.k8s_runtime_abbr %> from v1.13 to <%= vars.k8s_runtime_abbr %> v1.14.  

    During worker upgrades the coreDNS image in the custom image registry is available, avoiding coreDNS downtime. 
    After upgrading a cluster, the workers use the coreDNS version installed by the <%= vars.k8s_runtime_abbr %> upgrade.  


<hr>
<% end %>  


#### <a id="1-15-0-fluentd-multiline"></a> Fluent Bit Does Not Merge Containerd Runtime Cluster Multi-Line Entries

The Fluent Bit Docker, CRI, Go, Java, and Python multi-line parser does not merge containerd runtime cluster log entries
belonging to the same context into a single log entry.

<hr>


#### <a id="1-15-0-fip-ip-reuse"></a> <%= vars.k8s_runtime_abbr %> Reallocates Network Profile-Allocated FIP Pool Addresses

**Symptom**

The pre-start script for `tkgi create-cluster` fails and logs floating IP pool allocation errors in the `pre-start.stderr.log` similar to the following:

```
level=error msg="operation failed with [POST /pools/ip-pools/{pool-id}][409] allocateOrReleaseFromIpPoolConflict  &{RelatedAPIError:{Details: ErrorCode:5141 ErrorData:<nil> ErrorMessage:Requested IP Address ... is already allocated. ModuleName:id-allocation service} RelatedErrors:[]}\n"

level=warning msg="failed to allocate FIP from (pool: ...: [POST /pools/ip-pools/{pool-id}][409] allocateOrReleaseFromIpPoolConflict  &{RelatedAPIError:{Details: ErrorCode:5141 ErrorData:<nil> ErrorMessage:Requested IP Address ... is already allocated. ModuleName:id-allocation service} RelatedErrors:[]}\n"

Error: an error occurred during FIP allocation
```

**Explanation**

<%= vars.k8s_runtime_abbr %> administrators can allocate floating IP pool IP Addresses in a Network Profile configuration.
The <%= vars.k8s_runtime_abbr %> control plane allocates IP Addresses from the floating IP pool without accounting for the IPs allocated using Network Profiles.

**Workaround**

<%= vars.k8s_runtime_abbr %> allocates IP addresses starting from the beginning of a floating IP pool range.
When configuring a Network Profile, allocate IP Addresses starting at the end of the floating IP pool range instead of those at the beginning.


<hr>


#### <a id="1-15-0-antrea-switch-disabled"></a> Switching Your Default CNI to Antrea is Not Supported

<%# This issue is fixed in [< %= vars.k8s_runtime_abbr % > v1.15.1](#1-15-1-bug-fixes). #%>

You cannot switch your default CNI from Flannel to Antrea during <%= vars.k8s_runtime_abbr %> upgrade 
if <%= vars.k8s_runtime_abbr %> is running on Ops Manager v2.10.40 or later.  


<hr>

###<a id="1-15-0-csi-driver-limits"></a>Limitations on Using a Public Cloud CSI Driver

If you enable a public cloud CSI Driver on a <%= vars.k8s_runtime_abbr %> cluster, 
you must take additional steps before deletingupgrading, or updating the cluster.  


**Deleting a Cluster on a Public Cloud**

When deleting a cluster that uses a public cloud CSI Driver:  

1. Manually delete the workload PVCs and PVs before deleting the cluster.  
1. Delete the cluster. 
For  more information on deleting clusters, see [Deleting Clusters](delete-cluster.html).  


**Upgrading a Cluster on a Public Cloud**

When upgrading a cluster that uses a public cloud CSI Driver:  

* No preparation steps are needed when upgrading a multi-worker node cluster.  
* To prepare a single-worker node cluster for upgrading:  

    1. Resize the cluster to two or more worker nodes before upgrading the cluster. 
    For more information, see [Scaling Existing Clusters](scale-clusters.html).  
    1. Upgrade the cluster. 
    For  more information on upgrading clusters, see [Upgrading Clusters](upgrade-clusters.html).  

**Updating a Cluster on a Public Cloud**

When updating a cluster that uses a public cloud CSI Driver:  

* No preparation step are needed when updating a multi-worker node cluster.  
* To prepare a single-worker node cluster for updating:  

    1. Resize the cluster to two or more worker nodes before updating the cluster. 
    For more information, see [Scaling Existing Clusters](scale-clusters.html).  
    1. Update the cluster.  

<hr>

#### <a id="1-15-0-upgrade-windows-failure"></a> Windows Worker Nodes Are Unresponsive after Update-Cluster and Upgrade-Cluster

While updating or upgrading a Windows Worker cluster that uses the containerd container runtime, some of the cluster's nodes can become unresponsive. 
During the cluster update or upgrade, the node drain step for the cluster's nodes can time out and not finish.  

**Symptom**

While updating or upgrading a Windows Worker cluster, the drain step for some nodes hangs for an extended period, and the nodes enter an `unresponsive agent` state. 
The update or upgrade process eventually logs the error `Error: Timed out sending 'get_task' to instance` for the `executing drain` step.  


<hr>

#### <a id="1-15-0-large-docker-timeout"></a> Timeout While Switching Container Runtimes If the Docker Directory Is Too Large 

Switching a cluster's container runtime from Docker to containerd can timeout and fail 
if the Docker directory contains many files.  

**Description**

A timeout occurs during the `remove Docker` step while switching a cluster's container runtime 
from Docker to containerd if the Docker directory contains too many files to delete within 
the 180-second timeout interval.  

**Workaround**

To work around this issue:  

1. Manually remove the `/var/vcap/store/docker` directory.  
1. Re-start the process that stopped due to the time out.  

<hr>


#### <a id="1-15-0-pv-not-attached-to-new-node"></a> Persistent Volumes Fail to Detach from Nodes

If a Pod is recreated in a new instance node, the persistent volume might remain attached to the old node.  

**Symptom**  

A persistent volume remains attached to an old node, and attachment errors similar to the following are logged:  

```
Warning FailedMount... kubelet Unable to attach or mount volumes: unmounted volumes=..., unattached volumes=...: timed out waiting for the condition
Warning FailedMount... kubelet Unable to attach or mount volumes: unmounted volumes=..., unattached volumes=...: timed out waiting for the condition
Warning FailedAttachVolume... attachdetach-controller AttachVolume.Attach failed for volume...: 
rpc error: code = Internal desc = failed to attach disk:... with node:... err failed to attach cns volume:... to node vm:.... 
fault: "(*types.LocalizedMethodFault)(0xc000c88d80)({\n DynamicData: (types.DynamicData)
``` 

For more information, 
see [Persistent volume fails to be detached from a node](https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/2.5/rn/vmware-vsphere-container-storage-plugin-25-release-notes/index.html#known-issues) 
in _VMware vSphere Container Storage Plug-in 2.5 Release Notes_.  


<hr>


#### <a id="1-15-0-crashloopbackoff-after-containerd"></a> Pods on Clusters Using the containerd-Runtime Enter a CrashLoopBackOff State

<% if vars.product_version == "COMMENTED"  %>    
This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.15.1](#1-15-1-bug-fixes).  
<% end %>

Pods in a cluster that has been switched from the Docker container runtime to containerd might enter a CrashLoopBackOff state. 
If the container runtime switch is part of a cluster upgrade, the upgrade halts.  

**Symptom**

The Pods that have entered the CrashLoopBackOff state log the following:

```
Warning FailedCreatePodSandBox... Failed to create pod sandbox: rpc error: code = 
Unknown desc = failed to create containerd task: failed to start shim: 
write /var/vcap/sys/run/containerd/io.containerd.runtime.v2.task/.../config.json: 
no space left on device: unknown
```

The `/var/vcap/data/sys/run` directory on the instance node with Pods that have entered the CrashLoopBackOff state is full.  



<hr>


## <a id="management-console-1-15-0"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.15.0

**Release Date**: September 20, 2022

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.
</p>

### <a id="management-console-1-15-0-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Element</th>
        <th colspan=2>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://customerconnect.vmware.com/downloads/info/slug/infrastructure_operations_management/vmware_tanzu_kubernetes_grid_integrated_edition/1_15">v1.15.0</td>
            <% if vars.product_version == "COMMENTED"  %>
            https://customerconnect.vmware.com/downloads/details?downloadGroup=TKGIMC-1130&productId=1231
            <% end %>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>September 20, 2022</td>
    </tr>
    <tr>
        <td>Installed <%= vars.k8s_runtime_abbr %> version</td>
        <td colspan=2><a href="#1-15-0">v1.15.0</a></td>
    </tr>
    <tr>
        <td>Installed Ops Manager version</td>
        <td>v2.10.46&#42;</td>
        <td style="text-align: center;"><a href="https://docs.pivotal.io/ops-manager/2-10/release-notes.html#2-10-46">Release Notes</a></td>
    </tr>
    <tr>
        <th>Component</th>
        <th colspan=2>Version</th>
    </tr>
    <tr>
        <td>Installed Kubernetes version</td>
        <td>v1.24.3</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.23.md#changelog-since-v1239">Release Notes</a></td>
    </tr>
    <tr>
        <td>Installed Harbor Registry version</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1128636">v2.5.3&#42;</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v253-8">Release Notes</a></td>
    </tr>
    <tr>
        <td>Linux stemcell</td>
        <td colspan=2>v621.265&#42;</td>
    </tr>
</table>

<a id="management-console-1-15-0-component-updates"></a>&#42; Components marked with an asterisk have been updated.

### <a id="management-console-1-15-0-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.15.0 are from
<%= vars.k8s_runtime_abbr %> MC v1.14.2 and earlier <%= vars.k8s_runtime_abbr %> v1.14 patches.  

### <a id="management-console-1-15-0-features"></a>Features and Resolved Issues

<%= vars.k8s_runtime_abbr %> Management Console v1.15.0 has the following features:  

* <%= vars.k8s_runtime_abbr %> MC OS has been upgraded to Photon OS 4.0. 
For more information about Photon OS 4.0, 
see [What is New in Photon OS 4](https://vmware.github.io/photon/docs/whats-new/) in the Project Photon OS documentation.  

<% if vars.product_version == "COMMENTED"  %>
<%#
This release of the <  %= vars.product_short %  > Management Console includes no new features or resolved issues.      
This release of the TKGI Management Console includes no new features or resolved issues.
< %= vars.k8s_runtime_abbr % > Management Console v1.15.0 has the following features and enhancements:
< %= vars.k8s_runtime_abbr % > Management Console v1.15.0 has the following resolved issues:  
* Fixes [](#management-console-1-13-0-).  
 #%>
<% end %>

 
### <a id="management-console-1-15-0-deprecations"></a> Deprecations

The following <%= vars.k8s_runtime_abbr %> features have been deprecated 
or removed from <%= vars.k8s_runtime_abbr %> Management Console v1.15:

### <a id="management-console-1-15-0-known-issues"></a> Known Issues

The <%= vars.product_short %> Management Console v1.15.0 has the following known issues:

<hr>

#### <a id="management-console-1-15-0-vrli-https"></a> vRealize Log Insight Integration Does Not Support HTTPS Connections

**Symptom**

The <%= vars.product_short %> Management Console integration to vRealize Log Insight does not support connections to the HTTPS port on the vRealize Log Insight server.

**Workaround**

1. Use SSH to log in to the <%= vars.product_short %> Management Console appliance VM.
1. Open the file `/lib/systemd/system/pks-loginsight.service` in a text editor.
1. Add `-e LOG_SERVER_ENABLE_SSL_VERIFY=false`.
1. Set `-e LOG_SERVER_USE_SSL=true`.

    The resulting file should look like the following example:

    ```
    ExecStart=/bin/docker run --privileged --restart=always --network=pks
    -v /var/log/journal:/var/log/journal
    --name=pks-loginsight
    -e TYPE=gear2-vm
    -e LOG_SERVER_HOST=${LOGINSIGHT_HOST}
    -e LOG_SERVER_PORT=${LOGINSIGHT_PORT}
    -e LOG_SERVER_ENABLE_SSL_VERIFY=false
    -e LOG_SERVER_USE_SSL=true
    -e LOG_SERVER_AGENT_ID=${LOGINSIGHT_ID}
    pksoctopus/vrli-journald:v07092019
    ```

1. Save the file and run `systemctl daemon-reload`.
1. To restart the vRealize Log Insight service, run `systemctl restart pks-loginsight.service`.

<%= vars.product_short %> Management Console can now send logs to the HTTPS port on the vRealize Log Insight server.

<hr>

#### <a id="management-console-1-15-0-vsphere-ha"></a> vSphere HA causes Management Console ovfenv Data Corruption

**Symptom**

If you enable vSphere HA on a cluster, if the TKGI Management Console appliance VM is running on a
host in that cluster, and if the host reboots, vSphere HA recreates a new TKGI Management Console
appliance VM on another host in the cluster. Due to an issue with vSphere HA, the `ovfenv` data for
the newly created appliance VM is corrupted and the new appliance VM does not boot up with the
correct network configuration.

**Workaround**

1. In the vSphere Client, right-click the appliance VM and select **Power** > **Shut Down Guest OS**.
1. Right-click the appliance again and select Edit Settings.
1. Select **VM Options** and click **OK**.
1. Verify under Recent Tasks that a `Reconfigure virtual machine` task has run on the appliance VM.
1. Power on the appliance VM.

<hr>

#### <a id="management-console-1-15-0-k8s-profile"></a> Base64 encoded file arguments are not decoded in Kubernetes profiles

**Symptom**

Some file arguments in Kubernetes profiles are base64 encoded. When the management console displays
the Kubernetes profile, some file arguments are not decoded.

**Workaround**

Run `echo "$content" | base64 --decode`

<hr>

#### <a id="management-console-1-15-0-network-profile"></a> Network profiles not immediately selectable

**Symptom**

If you create network profiles and then try to apply them in the Create Cluster page, the new
profiles are not available for selection.

**Workaround**

Log out of the management console and log back in again.

<hr>

#### <a id="management-console-1-15-0-cluster-summary"></a> Real-Time IP information not displayed for network profiles

**Symptom**

In the cluster summary page, only default IP pool, pod IP block, node IP block values are displayed,
rather than the real-time values from the associated network profile.

**Workaround**

None

<hr>
#### <a id="management-console-1-15-0-harbor-storage-config"></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```

**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

<hr>

#### <a id="management-console-1-15-0-re-import-windows-stemcell"></a> Windows Stemcells Must be Re-Imported After Upgrading Ops Manager

**Symptom**

After upgrading Ops Manager, your Management Console does not recognize a Windows stemcell imported
when using the prior version of Ops Manager.

**Workaround**

If your Management Console does not recognize a Windows stemcell after upgrading Ops Manager:

1. Re-import your previously imported Windows stemcell.
2. **Apply Changes** to <%= vars.k8s_runtime_abbr %> MC.

<hr>

#### <a id="management-console-1-15-0-cluster-group-name"></a> Your New Clusters Are Not Shown In Tanzu Mission Control

**Symptom**

After you create a cluster, Tanzu Mission Control does not include the cluster in cluster lists.
You have a "_Resource not found_" error similar to the following in your BOSH logs:

```
Cluster Name in TMC: cluster-1
Cluster Name Prefix: tkgi-my-prefix-
Group Name in TMC: my-prefix-clusters
Cluster Description in TMC: VMware Enterprise PKS Attaching cluster ''tkgi-my-prefix-cluster-1'' to TMC
Fetching token successful
request POST:/v1alpha1/clusters,
response 404 Not Found:{"error":"Resource not found - clustergroup(my-prefix-clusters)
org id(d859dc9f-g622-426d-8c91-939a9f13dea9)",
"code":5,"message":"Resource not found - clustergroup(my-prefix-clusters)
```

**Explanation**

The cluster group you assign a cluster to must be defined in Tanzu Mission Control
before you assign your cluster to the cluster group in the <%= vars.k8s_runtime_abbr %> Management Console.

**Workaround**

To resolve the problem, complete the steps in
[Attaching a Tanzu Kubernetes Grid Integrated (TKGI) cluster to Tanzu Mission Control (TMC) fails with "Resource not found - clustergroup(cluster-group-name)"](https://community.pivotal.io/s/article/tkgi-tmc-attach-fail)
in the VMware Tanzu Knowledge Base.

<hr>
