---
title: Release Notes
owner: PKS
topictype: releasenotes
---

This topic contains release notes for <%= vars.product_full %> v1.7.0.

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to <%= vars.product_short %> v1.7.0,
review the <a href="#1-7-0-breaking-changes">Breaking Changes</a> below.
</p>

## <a id="1.7.0"></a> v1.7.0

**Release Date**:

### <a id="1-7-0-features"></a>Features

This section describes new features and changes in this release.

#### <a id="pks-core"></a> PKS Control Plane and API

<%= vars.product_short %> v1.7.0 updates include:

#### <a id="bosh-lifecycle"></a> Kubernetes Control Plane

<%= vars.product_short %> v1.7.0 updates include:

#### <a id="logging-monitoring"></a> PKS Monitoring and Logging

<%= vars.product_short %> v1.7.0 updates include:

####<a id="windows-features"></a> Windows on PKS

<%= vars.product_short %> v1.7.0 updates include:

####<a id="nsx-t-features"></a> PKS with NSX-T Networking

<%= vars.product_short %> v1.7.0 updates include:

#### <a id="telemetry"></a> Customer Experience Improvement Program

<%= vars.product_short %> v1.7.0 updates include:

#### <a id="component-updates"></a>Component Updates

<%= vars.product_short %> v1.7.0 updates include:

####<a id="bug-fixes"></a> Bug Fixes

<%= vars.product_short %> v1.7.0 includes the following bug fixes:

* Adds a fix that enables users to run the `pks get-kubeconfig` command during single- and multi-master cluster updates.
Additionally, you can now run the `pks get-credentials` command during multi-master cluster upgrades.
