---
title: Enterprise PKS Release Notes
owner: PKS
topictype: releasenotes
---

<strong><%= modified_date %></strong>

This topic contains release notes for <%= vars.product_full %> v1.6.0.

## <a id='1-6-0'></a>v1.6.0

**Release Date**: November 14, 2019

### <a id='1-6-0-features'></a>Features

New features and changes in this release:

* Adds a new UAA scope, `pks.clusters.audit_readonly`, for <%= vars.product_short %> users.
For more information about UAA scopes,
see [UAA Scopes for <%= vars.product_short %> Users](uaa-scopes.html) and [Managing <%= vars.product_short %> Users with UAA](manage-users.html).
* Adds support for Fluent Bit output plugins to `ClusterLogSink` and `LogSink` resources.
For information about configuring Fluent Bit output plugins, see [Create a ClusterLogSink or LogSink Resource with a Fluent Bit Output Plugin](create-sinks.html#fluentbit-output-plugin)
in _Creating Sink Resources_.
* Updates the **Worker VM Max in Flight** default value from `1` to `5`.
This accelerates cluster creation by provisioning up to five new nodes simultaneously.
The updated default value is applied only to new <%= vars.product_short %> installations and is not applied to upgrades.
For more information about **Worker VM Max in Flight**, see [PKS API](installing-pks-vsphere.html#pks-api) in the _Installing <%= vars.product_short %>_ topic for your IaaS.
* Enables operators to limit the total number of clusters a user can provision in <%= vars.product_short %>.
For more information about quotas, see [Managing Resource Usage with Quotas](resource-usage.html) and [Viewing Usage Quotas](resource-review.html).
* Removes the `pks create-sink`, `pks sinks`, and `pks delete-sink` PKS CLI commands.
You can use `kubectl apply -f MY-SINK.yml`, `kubectl get clusterlogsinks`, and `kubectl delete clusterlogsink YOUR-SINK` instead.

### <a id='1-6-0-snapshot'></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 14, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions <sup>&#42;</sup> </td>
        <td><%= vars.ops_man_version_2_5 %> or <%= vars.ops_man_version_2_6 %></td>
    </tr>
    <tr>
        <td>Xenial stemcell version</td>
        <td>v315.81</td>
    </tr>
    <tr>
        <td>Windows stemcell version</td>
        <td>v2019.7</td>
    </tr>
    <tr>
        <td>Kubernetes version</td>
        <td>v1.14.5</td>
    </tr>
    <tr>
        <td>On-Demand Broker version</td>
        <td>v0.29.0</td>
    </tr>
    <tr>
        <td>NSX-T versions</td>
        <td>v2.4.0.1, v2.4.1, v2.4.2 (<a href="./release-notes.html#nsxt-242">see below</a>), v2.5.0</td>
    </tr>
    <tr>
        <td>NCP version</td>
        <td>v2.5.0</td>
    </tr>
    <tr>
        <td>Docker version</td>
        <td>v18.09.8</td>
    </tr>
    <tr>
        <td>Backup and Restore SDK version</td>
        <td>v1.17.0</td>
    </tr>
   </tr>
</table>

### <a id='1-6-0-console-snapshot'></a>VMware Enterprise PKS Management Console Product Snapshot

<p class="note"><strong>Note</strong>: The Management Console BETA provides an opinionated installation of <%= vars.product_short %>. The supported versions list may differ from or be more limited than what is generally supported by <%= vars.product_short %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v0.9 - This feature is a beta component and is intended for evaluation and test purposes only.</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>August 22, 2019</td>
    </tr>
    <tr>
      <td>Installed Enterprise PKS version</td>
      <td>v1.6.0</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.6.5</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.14.5</td>
    </tr>
    <tr>
      <td>Supported NSX-T versions</td>
      <td>v2.4.1, v2.4.2 (<a href="./release-notes.html#nsxt-242">see below</a>)</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v1.8.1</td>
    </tr>
</table>


### <a id='vsphere-reqs'></a> vSphere Version Requirements

For <%= vars.product_short %> installations on vSphere or on vSphere with NSX-T Data Center, refer to the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Product Interoperability Matrices</a>.</p>

### <a id='1-6-0-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.6.0 are from <%= vars.product_short %> v1.5.0 and later.  

### <a id='1-6-0-breaking-changes'></a>Breaking Changes

<%= vars.product_short %> v1.6.0 has the following breaking changes:

#### <a id='item-001'></a> Item 001

### <a id='1-6-0-known-issues'></a> Known Issues

<%= vars.product_short %> v1.6.0 has the following known issues:

#### <a id='item-002'></a> Item 002

### <a id='1-6-0-known-issues-management-console'></a> Enterprise PKS Management Console Known Issues

The following known issues are specific to the <%= vars.product_short %> Management Console v0.9.0 appliance and user interface.

#### <a id='item-003'></a> Item 003
