---
title: Enterprise PKS Release Notes
owner: PKS
topictype: releasenotes
---

This topic contains release notes for <%= vars.product_full %> v1.5.x.

## <a id="1-5-2"></a>v1.5.2

**Release Date**: TBD

### <a id="1-5-2-features"></a>Features

New features and changes in this release:

* **[Security Fix]** Bumps UAA to v73.4.16.
* **[Security Fix]** Bumps syslog to v11.5.0.
* **[Bug Fix]** Resolves a known issue where cluster creation fails when using Availability Sets on Azure.
* **[Bug Fix]** Resolves a known issue where persistent volume creation fails on vSphere if an AZ defined in Ops Manager does not specify a resource pool.
* **[Bug Fix]** Improves upgrades of Windows worker-based clusters by gracefully removing `dockerd.exe`.

### <a id="1-5-2-snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.5.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions <sup>&#42;</sup> </td>
        <td>v2.7.x, <%= vars.ops_man_version_2_6 %>, or <%= vars.ops_man_version_2_5 %></td>
    </tr>
    <tr>
        <td>Xenial stemcell version</td>
        <td></td>
    </tr>
    <tr>
        <td>Windows stemcell version</td>
        <td></td>
    </tr>
    <tr>
        <td>Kubernetes version</td>
        <td></td>
    </tr>
    <tr>
        <td>On-Demand Broker version</td>
        <td></td>
    </tr>
    <tr>
        <td>NSX-T versions</td>
        <td></td>
    </tr>
    <tr>
        <td>NCP version</td>
        <td></td>
    </tr>
    <tr>
        <td>Docker version</td>
        <td></td>
    </tr>
    <tr>
        <td>Backup and Restore SDK version</td>
        <td></td>
    </tr>
    <tr>
        <td>UAA version</td>
        <td>73.4.16</td>
    </tr>
   </tr>
</table>

### <a id="1-5-2-console-snapshot"></a>VMware Enterprise PKS Management Console Product Snapshot

### <a id='1-5-2-vsphere-reqs'></a>vSphere Version Requirements

For <%= vars.product_short %> installations on vSphere or on vSphere with NSX-T Data Center, refer to the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Product Interoperability Matrices</a>.</p>

### <a id="1-5-2-upgrade"></a>Upgrade Path

### <a id="1-5-2-breaking-changes"></a>Breaking Changes

### <a id="1-5-2-known-issues"></a>Known Issues

## <a id="1-5-1"></a>v1.5.1

**Release Date**: October 10, 2019

### <a id="1-5-1-features"></a>Features

New features and changes in this release:

* **[Feature Improvement]** Cluster administrators can use a shared Tier-1 topology in a Multi-Tier-0 environment. 
  For more information, see [Defining Network Profiles for Shared Tier-1 Router](./network-profiles-shared-t1.html)
  **Note:** This feature requires NSX-T Data Center v2.5.
* **[Security Fix]** Bumps Kubernetes to v1.14.6.  
* **[Security Fix]** Bumps UAA to v73.4.8 to address privilege escalation vulnerabilities and other bug fixes. 
* **[Security Fix]** Upgrades system to Golang v1.12.9 to address several security issue with the Golang net/http package that can result in a DoS against any process with an HTTP or HTTPS listener, specifically:
  * [CVE-2015-5739](https://nvd.nist.gov/vuln/detail/CVE-2015-5739) 'Content Length' treated as valid header. 
  * [CVE-2015-5740](https://nvd.nist.gov/vuln/detail/CVE-2015-5740) Double content-length headers does not return 400 error. 
  * [CVE-2015-5741](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2015-5741) Additional hardening, not sending Content-Length with Transfer-Encoding, Closing connections.
* **[Bug Fix]** Fixed missing CA certificates that affected metric sinks.
* **[Bug Fix]** When Syslog endpoint is enabled through the PKS tile -> Logging -> Enable Syslog for PKS, the logs at the destination are truncated. This release resolves this issue.
* **[Bug Fix]** Fixed PKS API calls failing with "no enum constant" after successful upgrade.
* **[Bug Fix]** Added capability to maintain PKS API consistency and compatibility for both \v1 and \v1beta endpoints. 
* **[Bug Fix]** Improved the error message if the `pks resize` or `pks upgrade-cluster` operations fail.
* **[Bug Fix]** When a user submits a request to /v1beta1/clusters/CLUSTER-NAME with an array of insecure_registries, validation fails with "At least one of update parameters have to be specified." This release resolves the issue so that the request is accepted successfully with a "202" HTTP response.
* **[Bug Fix]** Fixed the error `"pre-start scripts failed. Failed Jobs: pks-nsx-t-prepare-master-vm"` due to pagination unhandled by logical switch search.

### <a id="1-5-1-snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.5.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 10, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions <sup>&#42;</sup> </td>
        <td>v2.7.x, <%= vars.ops_man_version_2_6 %>, or <%= vars.ops_man_version_2_5 %></td>
    </tr>
    <tr>
        <td>Xenial stemcell version</td>
        <td>v315.81</td>
    </tr>
    <tr>
        <td>Windows stemcell version</td>
        <td>v2019.7</td>
    </tr>
    <tr>
        <td>Kubernetes version</td>
        <td>v1.14.6</td>
    </tr>
    <tr>
        <td>On-Demand Broker version</td>
        <td>v0.29.0</td>
    </tr>
    <tr>
        <td>NSX-T versions</td>
        <td>v2.5.0 (<a href="#1-5-1-nsxt-2-5-0">see below</a>), v2.4.2 (<a href="#1-5-1-nsxt-2-4-2">see below</a>), v2.4.1, or v2.4.0.1</td>
    </tr>
    <tr>
        <td>NCP version</td>
        <td>v2.5.0</td>
    </tr>
    <tr>
        <td>Docker version</td>
        <td>v18.09.8</td>
    </tr>
    <tr>
        <td>Backup and Restore SDK version</td>
        <td>v1.17.0</td>
    </tr>
    <tr>
        <td>UAA version</td>
        <td>73.4.8</td>
    </tr>
   </tr>
</table>

<sup>&#42;</sup> If you want to use Windows workers in <%= vars.product_short %> v1.5,
you must install Ops Manager <%= vars.ops_man_version_2_6 %>. <%= vars.product_short %> does not support
this feature on Ops Manager v2.5. For more information about Ops Manager <%= vars.ops_man_version_2_6 %>,
see [PCF Ops Manager v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html).

### <a id="1-5-1-console-1-0-0-snapshot"></a>VMware Enterprise PKS Management Console Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated installation of <%= vars.product_short %>.
The supported versions may differ from or be more limited than what is generally supported by <%= vars.product_short %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
    	<td><%= vars.product_short %> Management Console version</td>
        <td>v1.0.0</td>
    </tr>
    <tr>
    	<td>Release date</td>
    	<td>October 16, 2019</td>
    </tr>
    <tr>
    	<td>Installed Enterprise PKS version</td>
    	<td>v1.5.1</td>
    </tr>
    <tr>
    	<td>Installed Ops Manager version</td>
    	<td>v2.6.11</td>
    </tr>
    <tr>
    	<td>Installed Kubernetes version</td>
        <td>v1.14.6</td>
    </tr>
    <tr>
    	<td>Supported NSX-T versions</td>
    	<td>v2.5.0 (<a href="#1-5-1-nsxt-2-5-0">see below</a>), v2.4.2 (<a href="#1-5-1-nsxt-2-4-2">see below</a>), or v2.4.1</td>
    </tr>
    <tr>
    	<td>Installed Harbor Registry version</td>
    	<td>v1.8.3</td>
    </tr>
</table>

### <a id='1-5-1-vsphere-reqs'></a> vSphere Version Requirements

For <%= vars.product_short %> installations on vSphere or on vSphere with NSX-T Data Center, refer to the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Product Interoperability Matrices</a>.</p>

### <a id="1-5-1-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.5.1 are from <%= vars.product_short %> v1.4.0 and later.

**Exception:** If you are running <%= vars.product_short %> v1.4.0 with NSX-T v2.3.x, follow the steps below:

1. Upgrade to PKS v1.4.1.
1. Upgrade to NSX-T v2.4.1.
1. Upgrade to PKS v1.5.1.

For more information, see [Upgrading <%= vars.product_short %>](upgrade-pks.html) and [Upgrading <%= vars.product_short %> with NSX-T](upgrade-pks-nsxt.html).

### <a id="1-5-1-breaking-changes"></a>Breaking Changes

For information about breaking changes in <%= vars.product_short %> v1.5.x,
see the following:

* [Breaking Changes in <%= vars.product_short %> v1.5.0](#1-5-0-breaking-changes)

### <a id="1-5-1-known-issues"></a> Known Issues

Enterprise PKS v1.5.1 has the following known issues, which also apply to v1.5.0:

* [Your Kubernetes API Server CA Certificate Is Only a One-Year Certificate](#1-5-0-tls-kube-cert)  
* [Cluster Upgrade Does Not Upgrade Kubernetes Version on Windows Workers](#1-5-0-win-k8s-version) 

### <a id="1-5-1-console-1-0-0-known-issues"></a> Enterprise PKS Management Console Known Issues

The following known issues are specific to the <%= vars.product_short %> Management Console v1.0.0 appliance and user interface.

#### <a id="1-5-1-console-1-0-0-floating-ip-range"></a>Cannot modify floating IP range for Automated NAT Deployment

**Symptom**

In the **PKS Configuration** > **Wizard** view of <%= vars.product_short %> Management Console, you cannot modify the **Usable range of floating IPs** values if you initially deployed <%= vars.product_short %> with the NSX-T Data Center (Automated NAT Deployment) option.

**Explanation**

You can only set the **Usable range of floating IPs** values during an initial deployment of <%= vars.product_short %> from <%= vars.product_short %> Management Console. If you attempt to modify these values in either the wizard or the YAML editor, the management console throws an error when you generate the configuration.

#### <a id="1-5-1-console-1-0-0-delete"></a>Cannot Delete <%= vars.product_short %> Deployment from Management Console

**Symptom**

In the **Enterprise PKS** view of <%= vars.product_short %> Management Console, you cannot use the **Delete Enterprise PKS Deployment** option even after you have removed all clusters. 

**Explanation**

The option to delete the deployment is only activated in the management console a short period after the clusters are deleted.

**Workaround**

After removing clusters, wait for a few minutes before attempting to use the **Delete Enterprise PKS Deployment** option again. 

#### <a id="1-5-1-console-1-0-0-vli-port"></a>Configuring <%= vars.product_short %> Management Console Integration with VMware vRealize Log Insight

**Symptom**

Enterprise PKS Management Console appliance sends logs to VMware vRealize Log Insight over HTTP, not HTTPS.

**Explanation**

When you deploy the Enterprise PKS Management Console appliance from the OVA, if you require log forwarding to vRealize Log Insight, you must provide the port on the vRealize Log Insight server on which it listens for HTTP traffic. Do not provide the HTTPS port.

**Workaround**

Set the vRealize Log Insight port to the HTTP port. This is typically 9000.

#### <a id="1-5-1-console-1-0-0-pks-cli"></a>Run `pks` Commands against the PKS API Server

**Explanation**

The PKS CLI is available in the <%= vars.product_short %> Management Console appliance. 

**Workaround**

To be able to run `pks` commands against the PKS API Server, you must first log to PKS using the following command syntax `pks login -a fqdn_of_pks ...`.

To do this, you must ensure either of the following:

 * The FQDN configured for the PKS Server is resolvable by the DNS server configured for the Enterprise PKS Management Console appliance, or
 * An entry that maps the Floating IP assigned to the PKS Server to the FQDN exists on /etc/hosts in the appliance. For example: `192.168.160.102 api.pks.local`.  


## <a id="1-5-0"></a>v1.5.0

**Release Date**: August 20, 2019

### <a id="1-5-0-features"></a>Features

New features and changes in this release:

* Cluster administrators can use the `pks cluster CLUSTER-NAME --details` command to view details about an individual cluster,
including Kubernetes nodes and NSX-T network details. For more information, see [Viewing Cluster Details](./view-cluster-details.html).
* <%= vars.product_short %> v1.5.0 adds the following network profiles:
  * Cluster administrators can define a network profile to use a single, shared Tier-1 router per Kubernetes cluster.
  For more information, see [Defining Network Profiles for Shared Tier-1 Router](./network-profiles-shared-t1.html). 
  **Note:** This feature requires NSX-T Data Center v2.5.
  * Cluster administrators can define a network profile to use a third-party load balancer for Kubernetes services of type `LoadBalancer`.
  For more information, see [Defining Network Profiles for the Layer 4 Load Balancer](./network-profiles-ncp-lb.html).
  * Cluster administrators can define a network profile to use a third-party ingress controller for pod ingress traffic.
  For more information, see [Defining Network Profile for the HTTP/S Ingress Controller](./network-profiles-ncp-ingress.html).
  * Cluster administrators can define a network profile to configure section markers for explicit distributed firewall rule placement.
  For more information, see [Defining Network Profile for Distributed Firewall Section Marking](./network-profiles-ncp-dfw.html).
  * Cluster administrators can define a network profile to configure NCP logging.
  For more information, see [Defining Network Profiles for NCP Logging](./network-profiles-ncp-logerr.html).
  * Cluster administrators can define a network profile to configure DNS lookup of the IP addresses for the Kubernetes API load balancer and ingress controller.
  For more information, see [Defining Network Profile for DNS Lookup of Pre-Provisioned IP Addresses](./network-profiles-dns.html).
* Cluster administrators can provision Windows worker-based Kubernetes clusters on vSphere with Flannel.
Windows worker-based clusters in <%= vars.product_short %> v1.5.0 do not support NSX-T integration.
For more information, see [Configuring Windows Worker-Based Clusters (Beta)](windows-pks-beta.html)
and [Deploying and Exposing Windows Workloads (Beta)](deploy-windows-workloads-beta.html).
* Operators can set the lifetime for the refresh and access tokens for Kubernetes clusters.
You can configure the token lifetimes to meet your organization's security and compliance needs.
For information about configuring the access and refresh token for your Kubernetes clusters,
see the [UAA](./installing-pks-vsphere.html#uaa) section in the _Installing_ topic for your IaaS.
* Operators can configure prefixes for OpenID Connect (OIDC) users
and groups to avoid name conflicts with existing Kubernetes system users.
Pivotal recommends adding prefixes to ensure OIDC users and groups
do not gain unintended privileges on clusters. For information about configuring OIDC prefixes,
see the [Configure OpenID Connect](./installing-pks-vsphere.html#configure-oidc) section
in the _Installing_ topic for your IaaS.
* Operators can configure an external SAML identity provider for user authentication and authorization.
For information about configuring an external SAML identity provider,
see the [Configure SAML as an Identity Provider](./installing-pks-vsphere.html#configure-saml)
section in the _Installing_ topic for your IaaS.
* Operators can upgrade Kubernetes clusters separately from the <%= vars.product_tile %> tile.
For information about upgrading Kubernetes clusters, see [Upgrading Clusters](./upgrade-clusters.html).
* Operators can configure the Telegraf agent to send master/etcd node metrics
to a third-party monitoring service. For more information,
see [Monitoring Master/etcd Node VMs](./monitor-etcd.html).
* Operators can configure the default node drain behavior.
You can use this feature to resolve hanging or failed cluster upgrades.
For more information about configuring node drain behavior,
see [Worker Node Hangs Indefinitely](./troubleshoot-issues.html#upgrade-drain-hangs) in _Troubleshooting_
and [Configure Node Drain Behavior](./checklist.html#configure-node-drain)
in Upgrade Preparation Checklist for <%= vars.product_short %> v1.5.
* App developers can create metric sinks for namespaces within a Kubernetes cluster.
For more information, see [Creating Sink Resources](create-sinks.html).
* VMware's Customer Experience Improvement Program (CEIP) and the Pivotal Telemetry Program (Telemetry)
are now enabled in <%= vars.product_short %> by default.
This includes both new installations and upgrades.
For information about configuring CEIP and Telemetry in the <%= vars.product_tile %> tile,
see the [CEIP and Telemetry](./installing-pks-vsphere.html#telemetry) section in the _Installing_ topic for your IaaS.
* Adds a beta release of VMware <%= vars.product_short %> Management Console
that provides a graphical interface for deploying and managing <%= vars.product_short %> on vSphere.
For more information, see [Using the <%= vars.product_short %> Management Console](./console/console-index.html).

### <a id="1-5-0-snapshot"></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.5.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 20, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions <sup>&#42;</sup> </td>
        <td>v2.7.x, <%= vars.ops_man_version_2_6 %>, or <%= vars.ops_man_version_2_5 %></td>
    </tr>
    <tr>
        <td>Xenial stemcell version</td>
        <td>v315.81</td>
    </tr>
    <tr>
        <td>Windows stemcell version</td>
        <td>v2019.7</td>
    </tr>
    <tr>
        <td>Kubernetes version</td>
        <td>v1.14.5</td>
    </tr>
    <tr>
        <td>On-Demand Broker version</td>
        <td>v0.29.0</td>
    </tr>
    <tr>
        <td>NSX-T versions</td>
        <td>v2.5.0 (<a href="#1-5-0-nsxt-2-5-0">see below</a>), v2.4.2 (<a href="#1-5-0-nsxt-2-4-2">see below</a>), v2.4.1, or v2.4.0.1</td>
    </tr>
    <tr>
        <td>NCP version</td>
        <td>v2.5.0</td>
    </tr>
    <tr>
        <td>Docker version</td>
        <td>v18.09.8</td>
    </tr>
    <tr>
        <td>Backup and Restore SDK version</td>
        <td>v1.17.0</td>
    </tr>
    <tr>
        <td>UAA version</td>
        <td>v71.2</td>
    </tr>
   </tr>
</table>

<sup>&#42;</sup> If you want to use Windows workers in <%= vars.product_short %> v1.5,
you must install Ops Manager <%= vars.ops_man_version_2_6 %>. <%= vars.product_short %> does not support
this feature on Ops Manager v2.5. For more information about Ops Manager <%= vars.ops_man_version_2_6 %>,
see [PCF Ops Manager v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html).

### <a id="1-5-0-console-0-9-console-snapshot"></a>VMware Enterprise PKS Management Console Product Snapshot

<p class="note"><strong>Note</strong>: The Management Console BETA provides an opinionated installation of <%= vars.product_short %>.
The supported versions may differ from or be more limited than what is generally supported by <%= vars.product_short %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
    	<td>Version</td>
        <td>v0.9. This feature is a beta component and is intended for evaluation and test purposes only.</td>
    </tr>
    <tr>
    	<td>Release date</td>
    	<td>August 22, 2019</td>
    </tr>
    <tr>
    	<td>Installed Enterprise PKS version</td>
    	<td>v1.5.0</td>
    </tr>
    <tr>
    	<td>Installed Ops Manager version</td>
    	<td>v2.6.5</td>
    </tr>
    <tr>
    	<td>Installed Kubernetes version</td>
        <td>v1.14.5</td>
    </tr>
    <tr>
    	<td>Supported NSX-T versions</td>
    	<td>v2.4.2 (<a href="#1-5-0-nsxt-2-4-2">see below</a>) or v2.4.1</td>
    </tr>
    <tr>
    	<td>Installed Harbor Registry version</td>
    	<td>v1.8.1</td>
    </tr>
</table>

### <a id='1-5-0-vsphere-reqs'></a> vSphere Version Requirements

For <%= vars.product_short %> installations on vSphere or on vSphere with NSX-T Data Center, refer to the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Product Interoperability Matrices</a>.</p>

### <a id="1-5-0-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.5.0 are from <%= vars.product_short %> v1.4.0 and later.

**Exception:** If you are running <%= vars.product_short %> v1.4.0 with NSX-T v2.3.x, follow the steps below:

1. Upgrade to PKS v1.4.1.
1. Upgrade to NSX-T v2.4.1.
1. Upgrade to PKS v1.5.0.

For more information, see [Upgrading <%= vars.product_short %>](upgrade-pks.html) and [Upgrading <%= vars.product_short %> with NSX-T](upgrade-pks-nsxt.html).

### <a id="1-5-0-breaking-changes"></a>Breaking Changes

<%= vars.product_short %> v1.5.0 has the following breaking changes:

#### <a id='1-5-0-volume-data-loss'></a> Persistent Volume Data Loss with Worker Reboot

With old versions of Ops Manager, PKS worker nodes with persistent disk volumes may get stuck in a startup state and lose data when they are rebooted manually from the dashboard or automatically by vSphere HA.

This issue is fixed in the following Ops Manager versions:

- v2.7.6+
- v2.6.16+
- v2.5.24+

For all PKS installations that host workers using persistent volumes, Pivotal recommends upgrading to one of the Ops Manager versions above.

#### <a id='1-5-0-nsxt-2-5-0'></a> Announcing Support for NSX-T v2.5.0 with a Known Issue and KB Article

<%= vars.product_short %> v1.5 supports NSX-T v2.5. Before upgrading to NSX-T v2.5, note the following:

* In some cases, a few hosts may fail to upgrade from NSX-T v2.4.1 to v2.5.0. This is a known issue.
For more information, see the [Failed to install software on host error during upgrade NSX-T from 2.4.x to 2.5.0 (74674)](https://kb.vmware.com/s/article/74674) KB article.
* Review known issues related to NSX-T v2.5 in [NSX-T Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/index.html).

#### <a id='1-5-0-nsxt-2-4-2'></a> Announcing Support for NSX-T v2.4.2 with a Known Issue and Workaround

<%= vars.product_short %> v1.5 supports NSX-T v2.4.2. However, there is a known issue with NSX-T v2.4.2 that can affect new and upgraded 
installations of <%= vars.product_short %> v1.5 that use a [NAT topology](./nsxt-topologies.html#topology-nat). 

For NSX-T v2.4.2, the PKS Management Plane must be deployed on a Tier-1 distributed router (DR).
If the PKS Management Plane is deployed on a Tier-1 service router (SR), the router needs to be converted.
To convert an SR to a DR, refer to the [East-West traffic between workloads behind different T1 is impacted, when NAT is configured on T0 (71363)](https://kb.vmware.com/s/article/71363) KB article.

This issue is addressed in NSX-T v2.5 so that it does not matter if the Tier-1 Router is a DR or an SR.

#### <a id='1-5-0-oidc'></a> New OIDC Prefixes Break Existing Cluster Role Bindings

In <%= vars.product_short %> v1.5, operators can configure prefixes for OIDC usernames and groups.
If you add OIDC prefixes you must manually change any existing role bindings that bind to a username or group.
If you do not change your role bindings, developers cannot access Kubernetes clusters.
For information about creating a role binding, see [Managing Cluster Access and Permissions](./manage-cluster-permissions.html).

#### <a id='1-5-0-sink-api-changes'></a> New API Group Name for Sink Resources

The `apps.pivotal.io` API group name for sink resources is no longer supported.
The new API group name is `pksapi.io`.

When creating a sink resource,
your sink resource YAML definition must start with `apiVersion: pksapi.io/v1beta1`.
All existing sinks are migrated automatically.

For more information about defining and managing sink resources, see [Creating Sink Resources](create-sinks.html).

#### <a id='1-5-0-log-sink-changes'></a> Log Sink Changes

<%= vars.product_short %> v1.5.0 adds the following log sink changes:

* The `ClusterSink` log sink resource has been renamed to `ClusterLogSink` and the `Sink` log sink resource has been renamed to `LogSink`.

    * When you create a log sink resource with YAML, you must use one of the new names in your sink resource YAML definition. For example, specify `kind: ClusterLogSink` to define a cluster log sink. All existing sinks are migrated automatically.

    * When managing your log sink resources through kubectl, you must use the new log sink resource names.
    For example, if you want to delete a cluster log sink, run `kubectl delete clusterlogsink` instead of `kubectl delete clustersink`.

* Log transport now requires a secure connection. When creating a `ClusterLogSink` or `LogSink` resource,
you must include `enable_tls: true` in your sink resource YAML definition.
All existing sinks are migrated automatically.

For more information about defining and managing sink resources, see [Creating Sink Resources](create-sinks.html).

#### <a id='1-5-0-sink-cli-deprecation'></a> Deprecation of Sink Commands in the PKS CLI

The following <%= vars.product_short %> Command Line Interface (PKS CLI) commands are deprecated
and will be removed in a future release:

* `pks create-sink`
* `pks sinks`
* `pks delete-sink`

You can use the following Kubernetes CLI commands instead:

* `kubectl apply -f YOUR-SINK.yml`
* `kubectl get clusterlogsinks`
* `kubectl delete clusterlogsink YOUR-SINK`

For more information about defining and managing sink resources,
see [Creating Sink Resources](create-sinks.html).

### <a id="1-5-0-known-issues"></a> Known Issues

<%= vars.product_short %> v1.5.0 has the following known issues:

#### <a id='1-5-0-tls-kube-cert'></a> Your Kubernetes API Server CA Certificate Expires Unless You Regenerate It

**Symptom**

Your Kubernetes API server's `tls-kubernetes-2018` certificate is a one-year certificate
instead of a four-year certificate.

**Explanation**

When you upgraded from PKS v1.2.7 to PKS v1.3.1, the upgrade process extended the lifespan of all PKS CA certificates to four years, except for the Kubernetes API server's `tls-kubernetes-2018` certificate.  The `tls-kubernetes-2018` certificate remained a one-year certificate.

Unless you regenerate the `tls-kubernetes-2018` certificate it retains its one-year lifespan, even through subsequent <%= vars.product_short %> upgrades.

**Workaround**

If you have not already done so, you should replace the Kubernetes API server's one-year `tls-kubernetes-2018` certificate before it expires.
For information about generating and applying a new four-year `tls-kubernetes-2018` certificate, see
[How to regenerate tls-kubernetes-2018 certificate when it is not regenerated in the upgrade to PKS v1.3.x]
(https://community.pivotal.io/s/article/How-to-regenerate-tls-kubernetes-2018-certificate-when-it-was-not-regenerated-in-the-upgrade-to-PKS-v1-3-x) in the Pivotal Knowledge Base.

#### <a id="1-5-0-win-k8s-version"></a> Cluster Upgrade Does Not Upgrade Kubernetes Version on Windows Workers

When PKS clusters are upgraded, Windows worker nodes in the cluster do not upgrade their Kubernetes version.  The master and Linux worker nodes in the cluster do upgrade their Kubernetes version as expected.

When the Kubernetes version of a Windows worker does not exactly match the version of the master node, the cluster still functions. [`kube-apiserver`](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/) has no restriction on lagging patch bumps.

PKS clusters upgrade manually with the `pks upgrade-cluster` command, or automatically with PKS upgrades when the **Upgrade all clusters** errand is set to **Default (On)** in the PKS tile **Errands** pane.

#### <a id='1-5-0-ncp-flapping'></a> NCP Flapping is Observed When Resizing the Number of Worker Nodes in Large Clusters 

When resizing the number of worker nodes in a large cluster, for example, from 250 nodes to 500 nodes, NCP may fail to esablish a connection, resulting in flapping behavior. The `ncp-stdout.log` shows repeated error messages similar to the following: "NewConnectionError: Failed to establish a new connection: No address found."

To fix this issue, upgrade to Ops Man 2.6.7 or later with bosh-dns version 1.12.0.

#### <a id='1-5-0-nsxt-ls-nested-esxi'></a> NSX-T v2.4.x Logical Switch Is Not Synced to Nested ESXi Host and vCenter

When provisioning a Kubernetes cluster using <%= vars.product_short %> on vSphere with NSX-T, NCP creates a logical switch for Kubernetes nodes (the Node Network). Although a logical switch may be successfully created and visible in the NSX Manager web interface, the logical switch may not exist in vSphere (vCenter) when nested ESXi hosts are used, resulting in an error.

If the logical switch does not exist in vSphere, when PKS tries to create the Kubernetes master and worker node VMs on that logical switch, BOSH reports an error similar to the following: 

```
Error: Unknown CPI error 'Unknown' with message 'Unable to find network 'pks-500bebbd-a41d-425b-bff7-f7415f8a2fz9'. Verify that the portgroup exists.' in 'create_vm' CPI method (CPI request ID: 'cpi-662509')
```

The recommended fix to address this issue is to upgrade to from NSX-T v2.4 to NSX-T v2.5.

If it is not possible to upgrade, invoke the NSX-T Management API and perform a PUT operation on each logical switch object that is in this intermediate state. For more information, refer to the [Update Logical Switch](https://vdc-download.vmware.com/vmwb-repository/dcr-public/13f467b7-c10c-4ca6-9a02-271f02947e8e/5c714f6b-b0a1-4a08-8e32-b7ddaf59ebda/nsxt_24_api.html#Methods.UpdateLogicalSwitch) section of the NSX-T Data Center REST API documentation.

NOTE: The use of nested ESXi hosts is not supported for production environments of <%= vars.product_short %>.

#### <a id='1-5-0-azure-availability-sets'></a> Azure Availability Sets Not Supported 

<p class="note"><strong>Note:</strong> This issue is resolved in <%= vars.product_short %> v1.5.2.</p>

For new Enterprise PKS 1.5.x installations on Azure using Ops Manager v2.5.x or v2.6.x, enabling the **Availability Sets** mode at the **BOSH Director** > **Azure Config** results in the kubelet failing to start on provisioning of a Kubernetes cluster. 

When installing Enterprise PKS on Azure, choose the **Availability Zones** option. For configuration details, see [Azure Config Page](https://docs.pivotal.io/platform/ops-manager/2-6/azure/config-terraform.html#azure-config) in _Configuring BOSH Director on Azure Using Terraform_.

#### <a id='1-5-0-ingress-allocation'></a> Duplicate IP address conflict can occur 

When a network profile is used to provision a Kubernetes cluster and perform a [DNS lookup of the ingress controller IP address](./network-profiles-dns.html), NCP allocates the IP address from the floating IP pool, but in NSX-T the IP address is not marked as allocated. As a result, NCP can re-allocate the IP same address for another purpose in which case a duplicate IP conflict will occur.

This known issue does not affect allocation of the IP address for the Kubernetes API server load balancer.

#### <a id='1-5-0-password-not-supported'></a> Passwords Not Supported for Ops Manager VM on vSphere

Starting in Ops Manager v2.6, you can SSH into the Ops Manager VM in a vSphere deployment only with a private SSH key.
You cannot SSH into the Ops Manager VM with a password.

To avoid upgrade failure and errors when authenticating, add a public key to the **Customize Template** screen of the OVF template for the Ops Manager VM.
Then, use the private key to SSH into the Ops Manager VM.

<p class="note warning"><strong>Warning:</strong> You cannot upgrade to Ops Manager v2.6 successfully without adding a public key. If you do not add a key, Ops Manager shuts down automatically because it cannot find a key and may enter a reboot loop.</p>

For more information about adding a public key to the OVF template, see [Deploy Ops Manager](https://docs.pivotal.io/platform/ops-manager/2-6/vsphere/deploy.html#deploy) in _Deploying Ops Manager on vSphere_.

#### <a id="1-5-0-security-group"></a>Azure Default Security Group Is Not Automatically Assigned to Cluster VMs

**Symptom**

You experience issues when configuring a load balancer for a multi-master Kubernetes cluster or creating a service of type `LoadBalancer`.
Additionally, in the Azure portal, the **VM** > **Networking** page does not display
any inbound and outbound traffic rules for your cluster VMs.

**Explanation**

As part of configuring the <%= vars.product_tile %> tile for Azure, you enter **Default Security Group** in the **Kubernetes Cloud Provider** pane.
When you create a Kubernetes cluster, <%= vars.product_short %> automatically assigns this security group to each VM in the cluster.
However, on Azure the automatic assignment may not occur.

As a result, your inbound and outbound traffic rules defined in the security group are not applied to the cluster VMs.

**Workaround**

If you experience this issue, manually assign the default security group to each VM NIC in your cluster.

#### <a id='1-5-0-cluster-creation-fails'></a>Cluster Creation Fails When First AZ Runs Out of Resources

**Symptom**

If the first availability zone (AZ) used by a plan with multiple AZs runs out of
resources, cluster creation fails with an error like the following:

<pre class="terminal">
L Error: CPI error 'Bosh::Clouds::CloudError' with message 'No valid placement found for requested memory: 4096
</pre>

**Explanation**

BOSH creates VMs for your <%= vars.product_short %> deployment using a round-robin
algorithm, creating the first VM in the first AZ that your plan uses.
If the AZ runs out of resources, cluster creation fails because BOSH cannot create
the cluster VM.

For example, if you have three AZs and you
create two clusters with four worker VMs each, BOSH deploys VMs in the
following AZs:

<table>
  <tr>
    <th></th>
    <th>AZ1</th>
    <th>AZ2</th>
    <th>AZ3</th>
  </tr>
  <tr>
    <th>Cluster 1</th>
    <td>Worker VM 1</td>
    <td>Worker VM 2</td>
    <td>Worker VM 3</td>
  </tr>
  <tr>
    <td></td>
    <td>Worker VM 4</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>Cluster 2</th>
    <td>Worker VM 1</td>
    <td>Worker VM 2</td>
    <td>Worker VM 3</td>
  </tr>
  <tr>
    <td></td>
    <td>Worker VM 4</td>
    <td></td>
    <td></td>
</table>

In this scenario, AZ1 has twice as many VMs as AZ2 or AZ3.

#### <a id='1-5-0-volume-fails'></a>vSphere AZ Without Resource Pool Causes Volume Failure and Pod Downtime on Upgrade

<p class="note"><strong>Note:</strong> This issue is resolved in <%= vars.product_short %> v1.5.2.</p>

On vSphere, if an availability zone (AZ) that PKS uses is configured without a resource pool, then its cluster workers lose access to their persistent volumes during upgrade to PKS v1.5.
This volume mount failure renders the volumes unavailable, along with any pods that use them.

Availability zones are configured with clusters and optional resource pools in the **BOSH Director for vSphere** tile > **Create Availability Zones** pane.

For more information and how to resolve the issue, see the Knowledge Base article [Persistent volume creation fails with error "Failed to get the folder reference" when AZs are configured with no resource pool](https://community.pivotal.io/s/article/failed-to-get-the-folder-reference?t=1574275365796).

#### <a id='1-5-0-azure-worker-node'></a>Azure Worker Node Communication Fails after Upgrade

**Symptom**

Outbound communication from a worker node VM fails after upgrading <%= vars.product_short %>.

**Explanation**

<%= vars.product_short %> uses Azure Availability Sets to improve the uptime of workloads and worker nodes in the event of Azure platform failures. Worker node
VMs are distributed evenly across Availability Sets.

Azure Standard SKU Load Balancers are recommended for the Kubernetes control plane and Kubernetes ingress and egress. This load balancer type provides an IP address for outbound communication using SNAT.

During an upgrade, when BOSH rebuilds a given worker instance in an Availability Set,
Azure can time out while re-attaching the worker node network interface to the
back-end pool of the Standard SKU Load Balancer.

For more information, see [Outbound connections in Azure](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-outbound-connections) in the Azure documentation.

**Workaround**

You can manually re-attach the worker instance to the back-end pool of the Azure Standard SKU Load Balancer in your Azure console.

#### <a id='1-5-0-timeout'></a> Error During Individual Cluster Upgrades

**Symptom**

While submitting a large number of cluster upgrade requests using the `pks upgrade-cluster` command, some of your Kubernetes clusters are marked as failed.

**Explanation**

BOSH upgrades Kubernetes clusters in parallel with a limit of up to four concurrent cluster upgrades by default.
If you schedule more than four cluster upgrades,
<%= vars.product_short %> queues the upgrades and waits for BOSH to finish the last upgrade.
When BOSH finishes the last upgrade, it starts working on the next upgrade request.

If you submit too many cluster upgrades to BOSH, an error may occur,
where some of your clusters are marked as `FAILED` because BOSH can start the upgrade only within the specified timeout.
The timeout is set to 168 hours by default.
However, BOSH does not remove the task from the queue or stop working on the upgrade if it has been picked up.

**Solution**

If you expect that upgrading all of your Kubernetes clusters takes more than 168 hours,
do not use a script that submits upgrade requests for all of your clusters at once.
For information about upgrading Kubernetes clusters provisioned by <%= vars.product_short %>,
see [Upgrading Clusters](./upgrade-clusters.html).

#### <a id="1-5-0-kubectl-azs"></a> Kubectl CLI Commands Do Not Work after Changing an Existing Plan to a Different AZ

**Symptom**

After you update the AZ of an existing plan, kubectl CLI commands do not work for your clusters associated with the plan.

**Explanation**

This issue occurs in IaaS environments that do not support attaching a disk across multiple AZs.

When the plan of an existing cluster changes to a different AZ,
BOSH migrates the cluster by creating VMs for the cluster in the new AZ and
removing your cluster VMs from the original AZ.

On an IaaS that does not support attaching VM disks across AZs,
the disks BOSH attaches to the new VMs do not have the original content.

**Workaround**

If you cannot run kubectl CLI commands after reconfiguring the AZ of an existing cluster, contact Support for assistance.

#### <a id='1-5-0-telemetry-settings'></a> Internal Server Error When Saving Telemetry Settings

**Symptom**

When saving the **Telemetry** configuration pane in the <%= vars.product_tile %> tile, you receive an `HTTP 500 Internal Server Error`.

**Explanation**

When using Ops Manager v2.5, you may receive an `HTTP 500 Internal Server Error` if you attempt to
save Telemetry preferences without configuring all of the required settings in the pane.

**Solution**

In your browser, return to the **Telemetry** pane.
Configure all of the required settings and click **Save**.

#### <a id='1-5-0-uuid-length'></a> One Plan ID Longer than Other Plan IDs

**Symptom**

One of your plan IDs is one character longer than your other plan IDs.

**Explanation**

In <%= vars.product_short %>, each plan has a unique plan ID.
A plan ID is normally a UUID consisting of 32 alphanumeric characters and 4 hyphens.
However, the **Plan 4** ID consists of 33 alphanumeric characters and 4 hyphens.

**Solution**

You can safely configure and use **Plan 4**.
The length of the **Plan 4** ID does not affect the functionality of **Plan 4** clusters.

If you require all plan IDs to have identical length, do not activate or use **Plan 4**.

#### <a id="1-5-0-metric-sinks"></a><%= vars.product_short %> Metric Sinks Fail to Use Secure Connections

**Symptom**

When you attempt to use `MetricSink` or `ClusterMetricSink` over a secure connection, the TLS handshake is rejected by Telegraf.

**Explanation**

This is due to missing CA certificates in the Telegraf container images included in the tile version.
A patch is being worked on. Until this patch is published, users are not able to send metrics through secure connections.

#### <a id="1-5-0-internetless-env"></a><%= vars.product_short %> Windows Worker-based Clusters Cannot be Deployed in Internet-less Environments

**Explanation**

Kubernetes Kubelet deploys a pause container during a Kubernetes pod deployment.

To support Kubelet deployment of Linux pods, the <%= vars.product_short %> tile includes a packaged Linux pause image. Microsoft does not allow Windows container images to be distributed in this way, and only Microsoft can distribute a Windows container base image.

To support deployment of a Windows worker-based pod, Kubelet fetches a Windows container image from a Docker registry.

Docker registries are not accessible from within an internet-less environment and
therefore Windows worker-based clusters are not supported in internet-less environments.

#### <a id="1-5-0-pks-resize"></a>PKS Resize Returns the Error: 'The service broker has been updated'

**Symptom**

When you attempt to resize a kubernetes cluster using the `pks resize` command, the command returns the error: "_The service broker has been updated_".

**Explanation**

After upgrading the <%= vars.product_tile %> tile, all existing <%= vars.product_short %>-provisioned kubernetes clusters 
must be upgraded before you can resize clusters.

**Solution**

For instructions on upgrading kubernetes clusters, see 
[Running 'pks resize cluster-name' returns an error following PKS tile upgrade, stating that 'The service broker has been updated']
(https://community.pivotal.io/s/article/Running-pks-resize-cluster-name-returns-error-on-cluster-name-following-PKS-tile-upgrade) 
in the Pivotal Support Knowledge Base.  

#### <a id="1-5-0-ldap-verifier"></a> Saving UAA Tab Settings Fails With Error: 'InvalidURIError bad URI'

**Symptom**

When you save your UAA tab with **LDAP Server** selected and multiple LDAP servers specified, 
you receive the error: `URI::InvalidURIError bad URI(is not URI?):LDAP URLs`.

**Explanation** 

When you are using Ops Manager 2.7 and configure the UAA tab with multiple LDAP servers your settings will fail to validate.

**Workaround**

For instructions on resolving this issue, see 
[UAA authentication tab in PKS 1.6 fails to save with error “URI::InvalidURIError bad URI(is not URI?):LDAP URLs” (76495)]
(https://kb.vmware.com/s/article/76495) in the Pivotal Support Knowledge Base.

### <a id="1-5-0-management-console-0-9-known-issues"></a> Enterprise PKS Management Console Known Issues

The following known issues are specific to the <%= vars.product_short %> Management Console v0.9.0 appliance and user interface.

#### <a id="1-5-0-console-0-9-notifications"></a><%= vars.product_short %> Management Console Notifications Persist

**Symptom**

In the **Enterprise PKS** view of <%= vars.product_short %> Management Console, error notifications sometimes persist in memory on the  **Clusters** and **Nodes** pages after you clear those notifications.

**Explanation**

After clicking the **X** button to clear a notification it is removed, but when you navigate back to those pages the notification might show again.

**Workaround**

Use shift+refresh to reload the page.

#### <a id="1-5-0-console-0-9-delete-deployment"></a>Cannot Delete <%= vars.product_short %> Deployment from Management Console

**Symptom**

In the **Enterprise PKS** view of <%= vars.product_short %> Management Console, you cannot use the **Delete Enterprise PKS Deployment** option even after you have removed all clusters.

**Explanation**

The option to delete the deployment is only activated in the management console a short period after the clusters are deleted.

**Workaround**

After removing clusters, wait for a few minutes before attempting to use the **Delete Enterprise PKS Deployment** option again.

#### <a id="1-5-0-console-0-9-vli-port"></a>Configuring <%= vars.product_short %> Management Console Integration with VMware vRealize Log Insight

**Symptom**

Enterprise PKS Management Console appliance sends logs to VMware vRealize Log Insight over HTTP, not HTTPS.

**Explanation**

When you deploy the Enterprise PKS Management Console appliance from the OVA, if you require log forwarding to vRealize Log Insight, you must provide the port on the vRealize Log Insight server on which it listens for HTTP traffic. Do not provide the HTTPS port.

**Workaround**

Set the vRealize Log Insight port to the HTTP port. This is typically port `9000`.

#### <a id="1-5-0-console-0-9-nsxt-flannel-error"></a>Deploying <%= vars.product_short %> to an Unprepared NSX-T Data Center Environment Results in Flannel Error

**Symptom**

When using the management console to deploy <%= vars.product_short %> in **NSX-T Data Center (Not prepared for PKS)** mode, if an error occurs during the network configuration, the message `Unable to set flannel environment` is displayed in the deployment progress page.

**Explanation**

The network configuration has failed, but the error message is incorrect.

**Workaround**

To see the correct reason for the failure, see the server logs. For instructions about how to obtain the server logs, see [Troubleshooting Enterprise PKS Management Console](./console/console-troubleshooting.html).

#### <a id="1-5-0-console-0-9-bosh-cli"></a>Using BOSH CLI from Operations Manager VM

**Symptom**

The BOSH CLI client bash command that you obtain from the **Deployment Metadata** view does not work when logged in to the Operations Manager VM.

**Explanation**

The BOSH CLI client bash command from the **Deployment Metadata** view is intended to be used from within the <%= vars.product_short %> Management Console appliance.

**Workaround**

To use the BOSH CLI from within the Operations Manager VM, see [Connect to Operations Manager](./console/console-login-opsmanager.html).

From the Ops Manager VM, use the BOSH CLI client bash command from the **Deployment Metadata** page, with the following modifications:

  * Remove the clause `BOSH_ALL_PROXY=xxx`
  * Replace the `BOSH_CA_CERT` section with `BOSH_CA_CERT=/var/tempest/workspaces/default/root_ca_certificate` 

#### <a id="1-5-0-console-0-9-pks-cli"></a>Run `pks` Commands against the PKS API Server

**Explanation**

The PKS CLI is available in the <%= vars.product_short %> Management Console appliance. 

**Workaround**

To be able to run `pks` commands against the PKS API Server, you must first log to PKS using the following command syntax `pks login -a fqdn_of_pks ...`.

To do this, you must ensure either of the following:

  * The FQDN configured for the PKS Server is resolvable by the DNS server configured for the Enterprise PKS Management Console appliance, or
  * An entry that maps the Floating IP assigned to the PKS Server to the FQDN exists on /etc/hosts in the appliance. For example: `192.168.160.102 api.pks.local`.  
