---
title: Release Notes
owner: TKGI
topictype: releasenotes
---

This topic contains release notes for <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) v1.9.

## <a id="1-9-5"></a><%= vars.k8s_runtime_abbr %> v1.9.5

**Release Date**: April 7, 2021

### <a id='1-9-5-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.9.5</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 7, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.18.16</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.6.7+vmware.8</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>
            Linux: v19.03.14<br>
            Windows: v19.03.14
        </td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.3</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v3.0.2.4</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.30.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.20</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>v2.10.8 or later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/860887"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.31 or later</td>
    </tr>
    <%#
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.18.0</td>
    </tr>
    %>
    <tr>
        <td>vSphere</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=false&isHideTechSupported=false&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644,5555&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
    </tr>
    <tr>
        <td>NSX-T<sup>&#42;</sup></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.1<br>v4.0</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.0<br>v1.0.2</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.1.3</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://my.vmware.com/en/group/vmware/downloads/details?downloadGroup=VELERO-142&productId=1113&rPId=58884">v1.4.2</a></td>
    </tr>
</table>
<sup>&#42;</sup> <%= vars.recommended_by %> recommends NSX-T v3.0.1.1 (v3.0.1 EP1) or later,
or  NSX-T v2.5.2 or later for NSX-T integration.

### <a id='1-9-5-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.9.5 are from <%= vars.product_short %> v1.8.0 and later.

### <a id="1-9-5-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.9.5.

* Bumps Kubernetes to v1.18.16.
* Bumps NCP to v3.0.2.4.
* Bumps Docker to v19.03.14.
* Bumps Harbor to v2.1.3.
* **[Bug Fix]** Fixes [Certain Linux Nodes Are Unable to Complete the Drain Process during a TKGI Upgrade](#bosh-stop-doesnt-drain).  
* **[Bug Fix]** Fixes [Pods are Stuck in the Init State and Return the `DeadlineExceeded` RPC Error](#rpc-deadline-exceeded).  
* **[Bug Fix]** Fixes [The TKGI CLI Resize and Update Cluster Commands Remove the Network Profile CNI Configuration from a Cluster](#1-9-0-do-notuse-resize-cluster).  
* **[Bug Fix]** Fixes [<%= vars.k8s_runtime_abbr %> CLI `get-credentials` Returns an “od-broker" Error](#1-9-2-od-broker).  
* **[Bug Fix]** Fixes [FQDNs in <%= vars.k8s_runtime_abbr %> API Commands Cannot Contain Uppercase Letters](#1-9-0-uppercase-bosh-dns).  
* **[Enhancement]** <%= vars.k8s_runtime_abbr %> v1.9.5 returns an error if a network profile configuration changes a parameter that does not support 
modification.  

<%#
* **[Enhancement]** 
* **[Bug Fix]** 
%>
   
###<a id='1-9-5-known-issues'></a>Known Issues

Except where noted, the known issues in Tanzu Kubernetes Grid Integrated Edition v1.9.4
are also in Tanzu Kubernetes Grid Integrated Edition v1.9.5.
See [Known Issues](#1-9-4-known-issues) in Tanzu Kubernetes Grid Integrated Edition v1.9.4 below.

#### <a id='1-9-5-drain-dynamic-pvs'></a> Workloads Using Dynamic PVs Must be Removed Before Deleting a Cluster

**Symptom**  

Your `tkgi delete-cluster` operation hangs while draining a worker VM containing a Pod bound to one or more dynamic persistent volumes.  

**Workaround** 

Before deleting the cluster, remove all workloads.

If you have already attempted to delete a cluster and your workloads with dynamic PVs have stopped, 
remove the dynamic PVs attached to the worker VMs in your cluster. 
For information about removing dynamic PVs from a worker VM, see 
[Workloads using dynamic PersistentVolumes (PVs) must be removed before deleting a cluster]
(https://kb.vmware.com/s/article/83403?lang=en_US&queryTerm=000083403) in the Knowledge Base.  

## <a id="1-9-4"></a><%= vars.k8s_runtime_abbr %> v1.9.4

**Release Date**: February 3, 2021

### <a id='1-9-4-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.9.4</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>February 3, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.18.14</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.6.7+vmware.7</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>
            Linux: v19.03.13<br>
            Windows: v19.03.13
        </td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.3</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v3.0.2.3</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.30.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.20</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>v2.10.4 or later<br>v2.9.15 or later<br>
            Windows worker support on vSphere with NSX-T requires v2.10.4 or later
        </td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/819928"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.29 or later</td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=false&isHideTechSupported=false&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644,5383&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
    </tr>
    <tr>
        <td>NSX-T<sup>&#42;</sup></td>
    </tr>
    <%#
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.18.0</td>
    </tr>
    %>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.1<br>v4.0</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.0<br>v1.0.2</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.1.1</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://my.vmware.com/en/group/vmware/downloads/details?downloadGroup=VELERO-142&productId=1113&rPId=58884">v1.4.2</a></td>
    </tr>
</table>
<sup>&#42;</sup> <%= vars.recommended_by %> recommends NSX-T v3.0.1.1 (v3.0.1 EP1) or later,
or  NSX-T v2.5.2 or later for NSX-T integration.

### <a id='1-9-4-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.9.4 are from <%= vars.product_short %> v1.8.0 and later.

### <a id="1-9-4-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.9.4.

* **[Enhancement]** Reduced the possibility of <%= vars.k8s_runtime_abbr %> CLI `get-credentials` returning the error "_od-broker is processing a request for the same instance... please try again later_" during periods of intermittent latency.
* **[Bug Fix]** Fixes [<%= vars.k8s_runtime_abbr %> Upgrade or Install Fails with Error "x509: certificate relies on legacy Common Name field"](#1-9-0-failed-upgrade).
* **[Bug Fix]** Fixes [Resizing a Compute Profile Node Pool Size May Resize Other Node Pool Sizes](#1-9-0-node-pool-resizes-all).
* **[Bug Fix]** Fixes [Network Profile Required with Compute Profile](#1-9-0-az-network-profile).  
<%#
* **[Bug Fix]** Fixes [You Cannot Change a Master Node's AZ](#1-9-0-compute-profile-az-master).  
%>
* **[Bug Fix]** The VMware vRealize Log Insight Integration (VRLI) **Rate limiting** feature has been restored. 
For information about configuring VRLI rate limiting, see 
[Host Monitoring](installing-nsx-t.html#syslog) in Installing <%= vars.product_short %> on vSphere with NSX-T.

   
###<a id='1-9-4-known-issues'></a>Known Issues

Except where noted, the known issues in Tanzu Kubernetes Grid Integrated Edition v1.9.3
are also in Tanzu Kubernetes Grid Integrated Edition v1.9.4.
See [Known Issues](#1-9-3-known-issues) in Tanzu Kubernetes Grid Integrated Edition v1.9.3 below.

## <a id="1-9-3"></a><%= vars.k8s_runtime_abbr %> v1.9.3

**Release Date**: January 8, 2021

### <a id='1-9-3-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.9.3</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>January 8, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.18.14</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.6.7+vmware.7</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>
            Linux: v19.03.13<br>
            Windows: v19.03.13
        </td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.5</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v3.0.2.3</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.30.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.20</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>v2.10.4 or later<br>v2.9.14 or later<br>
            Windows worker support on vSphere with NSX-T requires v2.10.4 or later
        </td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/802556"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.28 or later</td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=false&isHideTechSupported=false&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644,5349&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
    </tr>
    <tr>
        <td>NSX-T<sup>&#42;</sup></td>
    </tr>
    <%#
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.18.0</td>
    </tr>
    %>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>Do not use <%= vars.k8s_runtime_abbr %> v1.9.3 with VCF. See 
            <a href="#1-9-0-failed-upgrade"><%= vars.k8s_runtime_abbr %> Upgrade or Install Fails with Error "x509: certificate relies on legacy Common Name field"</a>.</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.0<br>v1.0.2</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.1.1</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://my.vmware.com/en/group/vmware/downloads/details?downloadGroup=VELERO-142&productId=1113&rPId=58884">v1.4.2</a></td>
    </tr>
</table>
<sup>&#42;</sup> <%= vars.recommended_by %> recommends NSX-T v3.0.1.1 (v3.0.1 EP1) or later,
or  NSX-T v2.5.2 or later for NSX-T integration.

### <a id='1-9-3-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.9.3 are from <%= vars.product_short %> v1.8.0 and later.

### <a id="1-9-3-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.9.3.

* Bumps Kubernetes to v1.18.14.
* Bumps Xenial stemcell to v621.95.
* **[Bug Fix]** Fixes [Your <%= vars.k8s_runtime_abbr %> Cluster Fails to Start After Changing Your Worker Node's Compute Profile AZ]
(#1-9-2-compute-profile-az-worker).
* **[Bug Fix]** Fixes [Worker Node Kubelet Unable to Communicate with Master Node Kubernetes API after the cni0 Interface Changes Mac Address](#1-9-0-cni0-mac-address)

###<a id='1-9-3-known-issues'></a>Known Issues

Except where noted, the known issues in Tanzu Kubernetes Grid Integrated Edition v1.9.2
are also in Tanzu Kubernetes Grid Integrated Edition v1.9.3.
See [Known Issues](#1-9-2-known-issues) in Tanzu Kubernetes Grid Integrated Edition v1.9.2 below.


## <a id="1-9-2"></a><%= vars.k8s_runtime_abbr %> v1.9.2

**Release Date**: December 15, 2020

### <a id='1-9-2-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.9.2</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>December 15, 2020</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.18.12</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.6.7+vmware.6</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>
            Linux: v19.03.5<br>
            Windows: v19.03.12
        </td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.5</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v3.0.2.3</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.30.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.20</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>v2.10.2 or later<br>v2.9.13 or later<br>
            Windows worker support on vSphere with NSX-T requires v2.10.2 or later
        </td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/792441"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.28 or later</td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=false&isHideTechSupported=false&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644,5184&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
    </tr>
    <tr>
        <td>NSX-T<sup>&#42;</sup></td>
    </tr>
    <%#
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.18.0</td>
    </tr>
    %>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>Do not use <%= vars.k8s_runtime_abbr %> v1.9.2 with VCF. See 
            <a href="#1-9-0-failed-upgrade"><%= vars.k8s_runtime_abbr %> Upgrade or Install Fails with Error "x509: certificate relies on legacy Common Name field"</a>.</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.0<br>v1.0.2</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.1.1</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://my.vmware.com/en/group/vmware/downloads/details?downloadGroup=VELERO-142&productId=1113&rPId=58884">v1.4.2</a></td>
    </tr>
</table>
<sup>&#42;</sup> <%= vars.recommended_by %> recommends NSX-T v3.0.1.1 (v3.0.1 EP1) or later,
or  NSX-T v2.5.2 or later for NSX-T integration.

### <a id='1-9-2-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.9.2 are from <%= vars.product_short %> v1.8.0 and later.

### <a id="1-9-2-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.9.2.

* Bumps Kubernetes to v1.18.12.
* Bumps Xenial stemcell to v621.93.
* Bumps Windows stemcell to v2019.28.
* Bumps NCP to v3.0.2.3.
* **[Bug Fix]** Fixes [Existing <%= vars.k8s_runtime_abbr %> Clusters No Longer Automatically Attach to TMC](#1-9-0-tmc-api).
* **[Bug Fix]** Fixes [You Cannot Upgrade Clusters Configured with a <%= vars.k8s_runtime_abbr %>  v1.9 Compute Profile](#1-9-0-profile-1-9-upgrade).
* **[Bug Fix]** When you update AZ settings for a cluster's worker nodes by modifying its plan, TKGI no longer fails to apply the updated AZ settings to the nodes.
* **[Bug Fix]** Improves compute profile functionality for clusters with Windows-based worker nodes on vSphere with NSX-T networking.
See [Windows Cluster Creation Fails for Certain Compute Profile Configurations](#1-9-0-in-windows-cluster-compute).
* **[Bug Fix]** When resizing a cluster, TKGI now restarts worker nodes one at a time.
* **[Bug Fix]** Fixes [Cluster Creation Fails With Error 'Too Many Open Files'](#1-9-0-too-many-open-files).
* **[Bug Fix]** Fixes [Cluster Creation Fails During the 'Creating Load Balancer' Step](#1-9-0-401-403).  
* **[Bug Fix]** Fixes [Compute Profile Dropped From Clusters During BOSH Upgrade](#1-9-0-profile-bosh-upgrade).  

###<a id='1-9-2-known-issues'></a>Known Issues

Except where noted, the known issues in Tanzu Kubernetes Grid Integrated Edition v1.9.0
are also in Tanzu Kubernetes Grid Integrated Edition v1.9.2.
See [Known Issues](#1-9-0-known-issues) in Tanzu Kubernetes Grid Integrated Edition v1.9.0 below.

<%= vars.k8s_runtime_abbr %> v1.9.2 has the following known issues:

#### <a id='1-9-2-compute-profile-az-worker'></a> Your <%= vars.k8s_runtime_abbr %> Cluster Fails to Start After Changing Your Worker Node's Compute Profile AZ

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.3](#1-9-3-features).

**Symptom**

The worker nodes in your <%= vars.k8s_runtime_abbr %> cluster fail to start after you modify the AZ in the node's compute profile. 
For example, you may have modified the compute profile AZ for the existing <%= vars.k8s_runtime_abbr %> cluster, or 
attached a compute profile configured with an AZ to the existing <%= vars.k8s_runtime_abbr %> cluster.  

**Explanation**

In <%= vars.k8s_runtime_abbr %> v1.9.2, the AZ for existing worker nodes cannot be changed by modifying their cluster's compute profile.

See also [You Cannot Change a Master Node's AZ](#1-9-0-compute-profile-az-master).

**Workaround**  

Change the AZ for worker nodes in an existing cluster by modifying the cluster's plan.

#### <a id='1-9-2-od-broker'></a> <%= vars.k8s_runtime_abbr %> CLI `get-credentials` Returns an “od-broker" Error

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.5](#1-9-5-features).  
The probability of encountering this issue has been reduced in [<%= vars.k8s_runtime_abbr %> v1.9.4](#1-9-4-features).  

**Symptom**

The <%= vars.k8s_runtime_abbr %> CLI `get-credentials` occasionally returns the error "_od-broker is processing a request for the same instance... please try again later_" during periods of intermittent latency.

#### <a id="rpc-deadline-exceeded"></a>Pods are Stuck in the Init State and Return the `DeadlineExceeded` RPC Error

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.5](#1-9-5-features).  

**Symptom**

You might experience one or more of the following when upgrading to <%= vars.k8s_runtime_abbr %> v1.9.2, v1.9.3 or v1.9.4:  

* You are unable to delete Pods.  
* Your Pods are stuck in the Init state.
* `kubelet describe pod` returns the following:

    ```
    Failed to create pod sandbox: rpc error: code = DeadlineExceeded desc = context deadline exceeded
    ```
* Your `kubelet.stderr.log` log includes either of the following errors:

    ```
    Failed to stop sandbox
    ```
    or

    ```
    CNI failed to retrieve network namespace path: cannot find network namespace for the terminated container
    ```  

<br>
**Explanation**

A node agent has hung because it was unable to obtain a lock while querying data from cache.  

**Workaround**

To remove this issue, restart the `nsx-node-agent` process:

1. Follow [Retrieve Your Cluster Deployment Names](./bbr-restore.html#cluster-deployment-name) to retrieve the deployment name of your workload cluster.

1. Use `bosh ssh` to access the cluster:

    ```
    bosh ssh -d DEPLOYMENT-NAME worker
    ```
    Where `DEPLOYMENT-NAME` is the workload cluster deployment.

1. Restart `nsx-node-agent` on the cluster's worker node VMs:

    ```
    sudo -i
    monit restart nsx-node-agent
    ```

1. Confirm the `nsx-node-agent` status:

    ```
    watch monit summary
    ```

1. Wait for nsx-node-agent to restart.

## <a id="1-9-1"></a><%= vars.k8s_runtime_abbr %> v1.9.1

**Release Date**: November 4, 2020

### <a id='1-9-1-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.9.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 4, 2020</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.18.8</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.6.7+vmware.3</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>
            Linux: v19.03.5<br>
            Windows: v19.03.11
        </td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.3</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v3.0.2.2</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.30.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.20</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>v2.10.2 or later<br>v2.9.12 or later<br>
            Windows worker support on vSphere with NSX-T requires v2.10.2 or later
        </td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/768537"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.24 or later</td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=false&isHideTechSupported=false&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644,5121&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
    </tr>
    <tr>
        <td>NSX-T<sup>&#42;</sup></td>
    </tr>
    <%#
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.18.0</td>
    </tr>
    %>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>Do not use <%= vars.k8s_runtime_abbr %> v1.9.1 with VCF. See 
            <a href="#1-9-0-failed-upgrade"><%= vars.k8s_runtime_abbr %> Upgrade or Install Fails with Error "x509: certificate relies on legacy Common Name field"</a>.</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.0<br>v1.0.2</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.1.0<br>v2.0.3<br>v1.10.3</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://my.vmware.com/en/group/vmware/downloads/details?downloadGroup=VELERO-142&productId=1113&rPId=58884">v1.4.2</a></td>
    </tr>
</table>
<sup>&#42;</sup> <%= vars.recommended_by %> recommends NSX-T v3.0.1.1 (v3.0.1 EP1) or later,
or  NSX-T v2.5.2 or later for NSX-T integration.

### <a id='1-9-1-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.9.1 are from <%= vars.product_short %> v1.8.0 and later.

### <a id="1-9-1-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.9.1.

* Bumps Xenial stemcell to v621.90.
* Bumps NCP to v3.0.2.2.
* Bumps PXC to v0.30.0.
* Bumps UAA to v74.5.20.

* **[Issue Fix]** Fix for [Kubernetes Clusters With Xenial Stemcell v621.85 and Later Fail
After Upgrading <%= vars.k8s_runtime_abbr %> on vSphere With NSX-T
to <%= vars.k8s_runtime_abbr %> v1.9](#1-9-0-stemcell-compat-2).
* **[Issue Fix]** Fix for [In-Cluster DNS Lookup Fails in Windows Clusters](#1-9-0-in-cluster-dns-lookup).
* **[Issue Fix]** Fix for [Windows Nodes With Workloads and an emptyDir Volume are Unable to Drain](#1-9-0-emptydir-volume).

###<a id='1-9-1-known-issues'></a>Known Issues

Except where noted, the known issues in Tanzu Kubernetes Grid Integrated Edition v1.9.0
are also in Tanzu Kubernetes Grid Integrated Edition v1.9.1.
See [Known Issues](#1-9-0-known-issues) in Tanzu Kubernetes Grid Integrated Edition v1.9.0 below.

## <a id="1.9.0"></a><%= vars.k8s_runtime_abbr %> v1.9.0

**Release Date**: September 29, 2020

### <a id='1-9-0-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.9.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 29, 2020</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.18.8</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.6.7+vmware.3</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>
            Linux: v19.03.5<br>
            Windows: v19.03.11
        </td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.4.3</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.3.6</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v3.0.2.1</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.28.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.18</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>v2.10.1 or later<br>v2.9.9 or later<br>
            Windows worker support on vSphere with NSX-T requires v2.10.1 or later
        </td>
    </tr>
    <tr>
        <td>Xenial stemcells<sup>&#42;</sup></td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service#/releases/748622"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.24 or later</td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=false&isHideTechSupported=false&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644,4652&row=0,">VMware Product Interoperability Matrices</a>.</td></td>
    </tr>
    <tr>
        <td>NSX-T<sup>&#42;</sup></td>
    </tr>
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.18.0</td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>Do not use <%= vars.k8s_runtime_abbr %> v1.9.0 with VCF. See 
            <a href="#1-9-0-failed-upgrade"><%= vars.k8s_runtime_abbr %> Upgrade or Install Fails with Error "x509: certificate relies on legacy Common Name field"</a>.</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.0<br>v1.0.2</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.1<br>v2.0.1<br>v1.10.3</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://my.vmware.com/en/group/vmware/downloads/details?downloadGroup=VELERO-142&productId=1113&rPId=58884">v1.4.2</a></td>
    </tr>
</table>
<sup>&#42;</sup> See [Kubernetes Clusters With Xenial Stemcell v621.85 and Later Fail
After Upgrading <%= vars.k8s_runtime_abbr %> on vSphere With NSX-T
to <%= vars.k8s_runtime_abbr %> v1.9](#1-9-0-stemcell-compat-2).

<sup>&#42;&#42;</sup> <%= vars.recommended_by %> recommends NSX-T v3.0.1.1 (v3.0.1 EP1) or later,
or  NSX-T v2.5.2 or later for NSX-T integration.


<p class="note"><strong>Note</strong>: <%= vars.product_short %> does not support the NSX-T Limited Edition (LE). For more information, refer to the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&644=4652&0=">VMware Inteoperatiblity Matrix</a> for <%= vars.k8s_runtime_abbr %>.</p>

### <a id='1-9-0-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.9.0 are from <%= vars.product_short %> v1.8.0 and later.

### <a id="1-9-0-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.9.0.

* **[Security Fix]** Forces all TLS communications with the <%= vars.control_plane_db %> instances to use TLSv1.2+.

#### <a id="1-9-0-windows"></a>Windows Workers on NSX-T

<%= vars.k8s_runtime_abbr %> v1.9.0 supports clusters with Windows-based worker nodes on vSphere with NSX-T networking only.
<%= vars.k8s_runtime_abbr %> v1.9.0 continues to support Windows workloads on vSphere with Flannel networking as a beta feature.

#### <a id="1-9-0-certs"></a>Cluster Certificate Rotation Support

For secure communication, <%= vars.k8s_runtime_abbr %> clusters use TLS certificates created unique for each cluster.
<%= vars.k8s_runtime_abbr %> v1.9.0 integrates with the [CredHub Maestro](https://docs.pivotal.io/ops-manager/security/pcf-infrastructure/getting-started-with-maestro-cli.html) CLI to enable expiry checks and rotation for these cluster-specific certificates, including additional certificates that clusters use with NSX-T networking.

See [Rotating Cluster Certificates](./rotate-cluster-certificates.html) for how to check and rotate cluster-specific certificates,
and [<%= vars.k8s_runtime_abbr %> Certificates](./certificate-concepts.html) for managing all certificates used by <%= vars.k8s_runtime_abbr %>.

#### <a id="1-9-0-certs-local-bundle"></a>PKS CLI Supports Certificates Trusted by the Local System

The PKS CLI now trusts the certificates in a system CA store, such as the MacOS keychain.
If you have a local system CA, you no longer need to specify the `--skip-ssl-validation` or `--ca-cert` command line arguments when logging in to the PKS CLI.

#### <a id="1-9-0-compute-profiles"></a>Compute Profile CLI Support and Improvements (vSphere)

Compute profiles let developers customize cluster topology, node sizing, and other compute resource options, overriding configurations that a cluster inherits from its plan.

<%= vars.k8s_runtime_abbr %> v1.9.0 redesigns and improves compute profile functionality, and adds TKG CLI options for creating, managing, and using compute profiles.

With NSX-T networking you can use compute profiles with Linux- and Windows-worker clusters.
With Flannel networking you can only apply compute profiles to Linux clusters.

For more information, see [Creating and Managing Compute Profiles with the CLI (vSphere)](./compute-profiles-manage.html).

#### <a id="1-9-0-velero"></a>Velero Support and Bundling for Backup and Restore

<%= vars.k8s_runtime_abbr %> v1.9.0 includes support for [Velero](https://velero.io/docs), an open source community standard tool for backing up and restoring Kubernetes workloads, including stateless and stateful using persistent volumes.
Velero is the preferred backup solution for workloads running on <%= vars.k8s_runtime_abbr %> clusters,
and is downloadable from your <%= vars.k8s_runtime_abbr %> downloads page on https://my.vmware.com.

For more information, see [Backing Up and Restoring <%= vars.product_short %>](backup-and-restore.html).

#### <a id="1-9-0-resizable-pv"></a>Resizable Persistent Volume Support on vSphere 7.0

<%= vars.k8s_runtime_abbr %> supports creating resizable persistent volumes on clusters created on
vSphere 7.0 with CNS v2.0.

For more information, see [Cloud Native Storage (CNS) on vSphere](./vsphere-cns.html).

#### <a id="1-9-0-tagging"></a>Tagging Support on AWS and GCP

<%= vars.k8s_runtime_abbr %> supports tagging from the CLI on Amazon Web Services (AWS) and Google Cloud Platform (GCP).
This enables the `--tags` option to `tkgi create-cluster` and other commands on all infrastructures.

For more information, see [Tagging Clusters](./tag-clusters.html).

#### <a id="1-9-0-telegraf"></a>New Telegraf Configuration Fields

<%= vars.k8s_runtime_abbr %> supports modifying the Telegraf Agent configuration.
For more information, see [Configure Telegraf in the Tile](monitor-etcd.html#connect)
in _Configuring Telegraf in <%= vars.k8s_runtime_abbr %>_.

#### <a id="1-9-0-telemetry"></a>Telemetry Changes

* **Telemetry Enhanced Participation Level Change**:
The <%= vars.k8s_runtime_abbr %> Customer Experience Improvement Program (CEIP) and Telemetry Program has been streamlined to bring the Enhanced participation level closer to the Standard participation level.
For descriptions of the participation levels, see [Telemetry](./telemetry.html).

* **Telemetry Database Removal**:
The legacy Telemetry DB has been removed from the <%= vars.control_plane_db %>.

#### <a id="1-9-0-component-updates"></a>Component Updates

The following components have been updated:

* Bumps Kubernetes to v1.18.8+vmware.1.
* Bumps CoreDNS to v1.6.7+vmware.3.
* Bumps NCP to v3.0.2.1.

###<a id='1-9-0-known-issues'></a>Known Issues

<%= vars.k8s_runtime_abbr %> v1.9.0 has the following known issues:

#### <a id='1-9-0-stemcell-compat-2'></a> Kubernetes Clusters With Xenial Stemcell v621.85 and Later Fail After Upgrading <%= vars.k8s_runtime_abbr %> on vSphere With NSX-T to <%= vars.k8s_runtime_abbr %> v1.9

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.1](#1-9-1-features).

**Symptom**

After you upgrade to <%= vars.k8s_runtime_abbr %> on vSphere with NSX-T v1.9.0 and later,
<%= vars.k8s_runtime_abbr %>-provisioned Kubernetes clusters with Xenial Stemcell v621.85 and later fail to start.
The cluster start failure log includes the following:

```
Error: Action Failed get_task: Task ... result: Compiling package openvswitch:
Running packaging script: Running packaging script: Command exited with 2;
```

Xenial Stemcell v621.85 is installed by default when installing Ops Manager v2.8.15.

**Workaround**

If you experience this issue, manually revert the stemcell to an earlier compatible version.
For information about reverting stemcells,
see [How to revert a stemcell in TKGI to prevent OVS compilation issues]
(https://pvtl.force.com/s/article/How-to-revert-stemcell-from-621-76-to-621-75-for-TKGI-1-8-0-to-prevent-ovs-compilation-issues?language=en_US)
in the Knowledge Base.

#### <a id="1.9.0-azure-apply-changes"></a> Error: Could Not Execute "Apply-Changes" in Azure Environment

**Symptom**

After clicking **Apply Changes** on the <%= vars.k8s_runtime_abbr %> tile in an Azure environment, you experience
an error '_...could not execute "apply-changes"..._' with either of the following descriptions:

* _{"errors":{"base":["undefined method 'location' for nil:NilClass"]}}_
* _FailedError.new("Resource Groups in region '#{location}' do not support Availability Zones"))_

For example:

```
INFO | 2020-09-21 03:46:49 +0000 | Vessel::Workflows::Installer#run | Install product (apply changes)
2020/09/21 03:47:02 could not execute "apply-changes": installation failed to trigger: request failed: unexpected response from /api/v0/installations:
HTTP/1.1 500 Internal Server Error
Transfer-Encoding: chunked
Cache-Control: no-cache, no-store
Connection: keep-alive
Content-Type: application/json; charset=utf-8
Date: Mon, 21 Sep 2020 17:51:50 GMT
Expires: Fri, 01 Jan 1990 00:00:00 GMT
Pragma: no-cache
Referrer-Policy: strict-origin-when-cross-origin
Server: Ops Manager
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
X-Download-Options: noopen
X-Frame-Options: SAMEORIGIN
X-Permitted-Cross-Domain-Policies: none
X-Request-Id: f5fc99c1-21a7-45c3-7f39
X-Runtime: 9.905591
X-Xss-Protection: 1; mode=block

44
{"errors":{"base":["undefined method `location' for nil:NilClass"]}}
0
```


**Explanation**

The Azure CPI endpoint used by Ops Manager has been changed and
your installed version of Ops Manager is not compatible with the new endpoint.

**Workaround**

Run the following Ops Manager CLI command:

```
om --skip-ssl-validation --username USERNAME --password PASSWORD --target https://OPSMAN-API curl --silent --path /api/v0/staged/director/verifiers/install_time/IaasConfigurationVerifier -x PUT -d '{ "enabled": false }'
```

Where:

* `USERNAME` is the account to use to run Ops Manager API commands.
* `PASSWORD` is the password for the account.
* `OPSMAN-API` is the IP address for the Ops Manager API


For more information, see [Error 'undefined method location' is received when running Apply Change on Azure]
(https://community.pivotal.io/s/article/undefined-method-location-when-running-Apply-Change-on-Azure?language=en_US)
in the VMware Tanzu Knowledge Base.

#### <a id="1.9.0-vrops-windows-clusters"></a> VMware vRealize Operations Does Not Support Windows Worker-Based Kubernetes Clusters

VMware vRealize Operations (vROPs) does not support Windows worker-based Kubernetes clusters and cannot be used to
manage <%= vars.k8s_runtime_abbr %>-provisioned Windows workers.


#### <a id='1-9-0-wavefront-no-windows'></a><%= vars.k8s_runtime_abbr %> Wavefront Requires Manual Installation for Windows Workers

To monitor Windows-based worker node clusters with a Wavefront collector and proxy, you must first install Wavefront on the clusters manually, using Helm.
For instructions, see the [Wavefront](windows-monitoring.html#wavefront) section of the _Monitoring Windows Worker Clusters and Nodes_ topic.

#### <a id='1-9-0-ping'></a>Pinging Windows Workers Does Not Work

<%= vars.k8s_runtime_abbr %>-provisioned Windows workers inherit a Kubernetes limitation that prevents
outbound ICMP communication from workers.
As a result, pinging Windows workers does not work.

For information about this limitation, see [Limitations > Networking](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#networking-1)
in the _Windows in Kubernetes_ documentation.

#### <a id="1.9.0-windows-velero-limitations"></a> Velero Does Not Support Backing Up Stateful Windows Workloads

You can use Velero to backup stateless <%= vars.k8s_runtime_abbr %>-provisioned Windows workers.
Velero can back up stateless Windows workloads only, and cannot be used to backup stateful Windows applications.
For more information, see [Velero on Windows](https://velero.io/docs/v1.4/basic-install/#velero-on-windows) in
_Basic Install_ in the Velero documentation.

#### <a id="1-9-0-tmc-on-gcp"></a>Tanzu Mission Control Integration Not Supported on GCP

<%= vars.k8s_runtime_abbr %> on Google Cloud Platform (GCP) does not support
Tanzu Mission Control (TMC) integration, which is configured in
the **<%= vars.product_tile %>** tile > the **Tanzu Mission Control (Experimental)** pane.

If you intend to run <%= vars.k8s_runtime_abbr %> v1.9 on GCP,
skip this pane when configuring the <%= vars.product_tile %> tile.

#### <a id='1-9-0-tmc-restic'></a>TMC Data Protection Feature Requires Privileged <%= vars.k8s_runtime_abbr %> Containers
TMC Data Protection feature supports privileged <%= vars.k8s_runtime_abbr %> containers only.
For more information, see [Plans](installing-vsphere.html#plans) in the _Installing TKGI_ topic for your IaaS.

#### <a id='1-9-0-tmc-api'></a>Existing <%= vars.k8s_runtime_abbr %> Clusters No Longer Automatically Attach to TMC

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.2](#1-9-2-features).

**Symptom**

Previously, your <%= vars.k8s_runtime_abbr %> clusters had attached to TMC automatically.
Now, existing <%= vars.k8s_runtime_abbr %> clusters no longer automatically attach to TMC.

**Explanation**

The TMC API has been updated and is incompatible with the API calls from existing <%= vars.k8s_runtime_abbr %> clusters.

**Workaround**

Manually attach your existing <%= vars.k8s_runtime_abbr %> clusters to TMC. For more information, see
[Attach an Existing Cluster](https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/tanzumc-getstart/GUID-F0162E40-8D47-45D7-9EA1-83B64B380F5C.html)
in the VMware Tanzu Mission Control Product Documentation.


#### <a id="1-9-0-profile-1-9-upgrade"></a>You Cannot Upgrade Clusters Configured with a <%= vars.k8s_runtime_abbr %> v1.9 Compute Profile

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.2](#1-9-2-features).

**Symptom**

`tkgi upgrade-cluster` does not upgrade clusters configured with a <%= vars.k8s_runtime_abbr %> v1.9 compute profile.

#### <a id="1-9-0-profile-no-windows-flannel"></a> Windows-Worker Clusters on Flannel Do Not Support Compute Profiles

On vSphere with NSX-T networking you can use compute profiles with both Linux and Windows&#8209;worker clusters.
On vSphere with Flannel networking, you can apply compute profiles only to Linux clusters.

#### <a id="1-9-0-old-profile-no-cli"></a><%= vars.k8s_runtime_abbr %> v1.9 Does Not Support Managing Pre-<%= vars.k8s_runtime_abbr %> v1.9 Compute Profiles

Compute profiles created in <%= vars.k8s_runtime_abbr %> v1.8 and earlier have a different format
from v1.9 compute profiles, as described in [Compute Profile CLI Support and Improvements (vSphere)](#1-9-0-compute-profiles).

<%= vars.k8s_runtime_abbr %> v1.9 does not support resizing, updating, upgrading, or
managing compute profiles using `tkgi` CLI compute profile commands,
on a cluster that has a compute profile created in <%= vars.k8s_runtime_abbr %> v1.8 and earlier.

#### <a id="1-9-0-profile-resize-down"></a>TKGI CLI Does Not Prevent Reducing the Control Plane Node Count

TKGI CLI does not prevent accidentally reducing a cluster's control plane node count using a compute profile.

<p class="note warning"><strong>Warning:</strong>
    Reducing a cluster's control plane node count can destroy the cluster.
    Do not scale out or scale in existing master nodes by reconfiguring the TKGI tile or by using a compute profile.
    Reducing a cluster's number of control plane nodes may remove a master node and cause the cluster to become inactive.
</p>

#### <a id="1-9-0-emptydir-volume"></a>Windows Nodes With Workloads and an emptyDir Volume are Unable to Drain

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.1](#1-9-1-features).

Node draining will fail when scaling down a Windows cluster with a deployed Windows workload and an emptyDir volume.

**Solution**

Run `kubectl drain NODENAME --delete-local-data`, then restart the cluster scale down.

#### <a id="1-9-0-in-cluster-dns-lookup"></a>In-Cluster DNS Lookup Fails in Windows Clusters

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.1](#1-9-1-features).

**Symptom**

DNS lookup fails for Windows Pods that do not use a fully qualified domain name (FQDN)
to look up services and Pods within its namespace or cluster.

**Explanation**

DNS lookup fails because a Primary DNS suffix has not been configured on the Windows Pod.
A Windows Pod configured without a Primary DNS suffix must use a fully qualified domain name (FQDN)
to look up addresses within its namespace and cluster.

**Solution**

To configure a Primary DNS suffix for your Windows Pods,
use a hook to dynamically inject a Primary DNS setting into your Windows Pods.
For more information see [In-Cluster DNS lookup requires a Fully Qualified Domain Name (FQDN) in Windows Clusters]
(https://community.pivotal.io/s/article/In-Cluster-DNS-Lookup-Requires-a-Fully-Qualified-Domain-Name-in-Windows-Clusters)
in the VMware Tanzu Community Knowledge Base.




#### <a id="1-9-0-in-windows-cluster-compute"></a> Windows Cluster Creation Fails for Certain Compute Profile Configurations

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.2](#1-9-2-features).

Windows cluster creation does not support using a compute profile with two or more worker instance groups.

#### <a id="1-9-0-in-windows-notready-nodes"></a> Windows Cluster Nodes Not Deleted After VM Deleted

**Symptom**

After you delete a VM using the management console of your infrastructure provider, you notice a Windows worker node
that had been on that VM is now in a `notReady` state.

**Solution**

1. To identify the leftover node:

    ```
    kubectl get no -o wide
    ```
1. Locate nodes on the returned list that are in a `notReady` state and have the same IP address as another node in the list.
1. To manually delete a `notReady` node:

    ```
    kubectl delete node NODE-NAME
    ```
    Where `NODE-NAME` is the name of the node in the `notReady` state.

#### <a id="1-9-0-oidc-response-header"></a>502 Bad Gateway After OIDC Login

**Symptom**

You experience a "502 Bad Gateway" error from the NSX load balancer after you log in to OIDC.

**Explanation**

A large response header has exceeded your NSX-T load balancer maximum
response header size. The default maximum response header size is 10,240 characters and should
be resized to 50,000.

**Workaround**

If you experience this issue, manually reconfigure your NSX-T `request_header_size`
and `response_header_size` to 50,000 characters.
For information about configuring NSX-T default header sizes,
see [OIDC Response Header Overflow](https://community.pivotal.io/s/article/OIDC-Response-Header-overflow) in the Knowledge Base.


#### <a id='1-9-0-eight-cores-error'></a> NSX-T Pre-Check Errand Fails Due to Edge Node Configuration

**Symptom**

You have configured your NSX-T Edge Node VM as `medium` size,
and the NSX-T Pre-Check Errand fails with the following error:
"_ERROR: NSX-T Precheck failed due to Edge Node ... no of cpu cores is less than 8_".

**Explanation**

The NSX-T Pre-Check Errand is erroneously returning the "_cpu cores is less than 8_" error.

**Solution**

You can safely configure your NSX-T Edge Node VMs as `medium` size and ignore the error.

#### <a id='1-9-0-windows-proxy'></a> Difficulty Changing Proxy for Windows Workers

You must configure a global proxy in the <%= vars.product_tile %> tile > **Networking** pane before you create any Windows workers that use the proxy.

You cannot change the proxy configuration for Windows workers in an existing cluster.

#### <a id='1-9-0-http-proxy-password'></a> Character Limitations in HTTP Proxy Password

For vSphere with NSX-T, the HTTP Proxy password field does not support the following special characters: `&` or `;`.

#### <a id='1-9-0-harbor-storage-config'></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```


**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

#### <a id='1-9-0-too-many-open-files'></a> Cluster Creation Fails With Error 'Too Many Open Files'

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.2](#1-9-2-features).

**Symptom**

Under certain situations, `tkgi create-cluster` fails with the error `too many open files`:

<pre class="terminal">
$  tkgi create-cluster ... --external-hostname ... --plan small --num-nodes 1

Error: Status: 500; ErrorMessage: <nil>;
Description: Currently unable to create service instance, please try again later - error-message: Fetching info:
Performing request GET 'https://192.168.1.1:25555/info':
Performing GET request: Requesting token via client credentials grant:
Performing request POST 'https://192.168.1.1:8443/oauth/token':
Performing POST request: Retry: Post https://192.168.1.1:8443/oauth/token: dial tcp 192.168.1.1:8443:
socket: too many open files; ResponseError: < nil >
</pre>

The `tkgi create-cluster` command fails with the `too many open files` error
during periods of high latency between the BOSH or <%= vars.control_plane %> servers
and the remainder of the network.

#### <a id='1-9-0-401-403'></a> Cluster Creation Fails During the 'Creating Load Balancer' Step

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.2](#1-9-2-features).

**Symptom**

Under certain situations, cluster creation occasionally fails with error codes 401 and 403 
during the `Creating Load Balancer` instance provisioning step:

```
"Failed to get node properties" pks-networking=networkManager Error: [GET /node][403] 
readNodePropertiesForbidden  &{RelatedAPIError:{Details: ErrorCode:401 ErrorData:<nil> 
ErrorMessage:Not authorized. ModuleName:common-services} RelatedErrors:[]}
```

#### <a id='1-9-0-compute-profile-az-master'></a> You Cannot Change a Master Node's AZ
<%#
This issue is fixed in [<%= vars.k8s_runtime_abbr 
% > v1.9.4](#1-9-4-features).
%>

**Symptom**

Your existing master nodes return the error:
"_instance group 'master' must specify availability zone that matches availability zones of network_" after you 
modify the node's existing compute profile AZ or after attaching a compute profile configured with an AZ.  

**Explanation**

<%= vars.k8s_runtime_abbr %> does not support changing an existing master node's AZ, 
either by modifying its cluster plan, modifying its cluster's attached compute profile, or attaching a new compute profile configured with an AZ.

#### <a id='1-9-0-cni0-mac-address'></a> Worker Node Kubelet Unable to Communicate with Master Node Kubernetes API after the cni0 Interface Changes Mac Address

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.3](#1-9-3-features).

**Symptom**

On Flannel networks, worker node CNI0 interfaces may intermittently change MAC address, 
causing the worker nodes' kubelet to become unable to communicate with the master node Kubernetes API.

**Explanation**

A CNI bridge adopts the lowest MAC address of the attached veths. 
Adding a new container with a veth with a lower MAC address than any of the currently existing AC addresses 
results in changing the MAC address of cbr0, and the deletion of all of the existing connection 
tracking entries for the old MAC address. 
On Flannel networks this results in transient interruption of network traffic with the Pod.

**Workaround**

Complete the steps in [Tanzu Kubernetes Grid Integrated (TKGI) / PKS Disable Docker Bridge]
(https://github.com/svrc/tkgi-disable-docker-bridge) in GitHub.

#### <a id='1-9-0-uuid-length'></a> One Plan ID Longer than Other Plan IDs

**Symptom**

One of your plan IDs is one character longer than your other plan IDs.

**Explanation**

In <%= vars.k8s_runtime_abbr %>, each plan has a unique plan ID.
A plan ID is normally a UUID consisting of 32 alphanumeric characters and 4 hyphens.
However, the **Plan 4** ID consists of 33 alphanumeric characters and 4 hyphens.

**Solution**

You can safely configure and use **Plan 4**.
The length of the **Plan 4** ID does not affect the functionality of **Plan 4** clusters.

If you require all plan IDs to have identical length, do not activate or use **Plan 4**.


#### <a id='1-9-0-failed-upgrade'></a> <%= vars.k8s_runtime_abbr %> Upgrade or Install Fails with Error "x509: certificate relies on legacy Common Name field" 

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.4](#1-9-4-features).

**Symptom**

Installing or upgrading <%= vars.k8s_runtime_abbr %> fails with the error:  

```
x509: certificate relies on legacy Common Name field, use SANs or temporarily enable Common Name matching with GODEBUG=x509ignoreCN=0
```

**Explanation**

Your NSX-T Root CA Certificate was generated without a Subject Alternate Name (SAN) and does not work with TKGI. 
For example, if you use VCF, you see this error because VCF generates only NSX-T Root CA Certificates without a SAN. 

<%#
I'm leaving this here in case we decide the instructions in this KB article can be used rather than the steps documented within documentation: 
 - [replace nsx ca cert](https://confluence.eng.vmware.com/display/PKS/replace+nsx+ca+cert)

**Solution**

To complete your installation or upgrade, create a certificate that includes a SAN. 
For information, see [Generate and Register the NSX-T Management SSL Certificate and Private Key](https://docs.pivotal.io/tkgi/1-9/nsxt-3-0-install.html#nsxt30-mgmt-ssl) 
in _Installing and Configuring NSX-T Data Center v3.0 for Tanzu Kubernetes Grid Integrated Edition_. 

%>

#### <a id='1-9-0-node-pool-resizes-all'></a> Resizing a Compute Profile Node Pool Size May Resize Other Node Pool Sizes

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.4](#1-9-4-features).

**Symptom**

If you resize one compute profile node pool in a compute profile containing multiple node pools, the other node pools in the profile may resize.  

**Workaround**

Resize all of the node pools in a compute profile when resizing a single node pool in a compute profile containing multiple node pools.   


#### <a id='1-9-0-resizing-worker-nodes'></a> Ingress Controller Statefulset Fails to Start After Resizing Worker Nodes

**Symptom**  

Permissions are removed from your cluster’s files and processes after resizing the persistent disk 
during a cluster upgrade. The ingress controller statefulset fails to start.

**Explanation**  

When resizing a persistent disk, Bosh migrates the data from the old disk to the new disk but 
does not copy the files’ extended attributes.

**Workaround**  

To resolve the problem, complete the steps in 
[Ingress controller statefulset fails to start after resize of worker nodes with permission denied]
(https://community.pivotal.io/s/article/5000e00001nCJxT1603094435795?language=en_US)
in the VMware Tanzu Knowledge Base.


#### <a id='1-9-0-az-network-profile'></a> Network Profile Required with Compute Profile

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.4](#1-9-4-features).

**Symptom**  

When you create a cluster with a compute profile configured with an AZ setting, 
you must also configure the cluster with a network profile.


#### <a id='1-9-0-k8s-race-condition'></a> Kubernetes Worker Nodes Run Out of Space 

**Symptom**

Your Kubernetes worker nodes slowly run out of disk space, 
and your logs indicate Kubernetes has been attempting to access 
a directory that does not exist instead of an actual existing location:  

```
Failed to create existing container: ...: failed to identify the read-write layer ID for container "...". 
- open .../mount-id: no such file or directory
```

**Explanation**

cAdvisor has defaulted to default path settings due to a race condition between kubelet and Docker.


#### <a id="security-group"></a>Azure Default Security Group Is Not Automatically Assigned to Cluster VMs

**Symptom**

You experience issues when configuring a load balancer for a multi-master Kubernetes cluster or creating a service of type `LoadBalancer`.
Additionally, in the Azure portal, the **VM** > **Networking** page does not display
any inbound and outbound traffic rules for your cluster VMs.

**Explanation**

As part of configuring the <%= vars.product_tile %> tile for Azure, you enter **Default Security Group** in the **Kubernetes Cloud Provider** pane.
When you create a Kubernetes cluster, <%= vars.product_short %> automatically assigns this security group to each VM in the cluster.
However, on Azure the automatic assignment may not occur.

As a result, your inbound and outbound traffic rules defined in the security group are not applied to the cluster VMs.

**Workaround**

If you experience this issue, manually assign the default security group to each VM NIC in your cluster.


#### <a id='1-9-0-uppercase-bosh-dns'></a> FQDNs in <%= vars.k8s_runtime_abbr %> API Commands Cannot Contain Uppercase Letters

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.5](#1-9-5-features).

**Symptom**

<%= vars.k8s_runtime_abbr %> CLI commands fail with error:

```
Error: An error occurred in the PKS API when processing
```

**Explanation**

BOSH DNS, which <%= vars.k8s_runtime_abbr %> uses for its internal DNS, does not support uppercase letters in FQDNs.

**Workaround**

Use only lowercase letters in FQDNs that you assign to your <%= vars.control_plane %> VM in <%= vars.k8s_runtime_abbr %>. 


<%#
<%= vars.control_plane %     > logs include errors like:

```
Caused by: java.net.UnknownHostException: fqdn.example.com: Name or service not known
        at java.base/java.net.Inet4AddressImpl.lookupAllHostAddr(Native Method) ~[na:na]
        at java.base/java.net.InetAddress$PlatformNameService.lookupAllHostAddr(InetAddress.java:929) ~[na:na]
```

The fully-qualified domain names (FQDNs) that you use for vCenter or the <%= vars.control_plane %       > VM contain uppercase letters.

Running `nslookup` from your <%= vars.control_plane %       > VM succeeds with the FQDN with uppercase letters, but fails when you convert them to lowercase.

**Explanation**

BOSH DNS, which <%= vars.k8s_runtime_abbr %     > uses for its internal DNS, does not support uppercase letters in FQDNs.

**Workaround**

Use only lowercase letters in FQDNs that you assign to your vCenter or <%= vars.control_plane %     > VM in <%= vars.k8s_runtime_abbr %     >.  

#%>

#### <a id='1-9-0-whitespace-pksapi'></a> The <%= vars.control_plane %> FQDN Must Not Include Trailing Whitespace

**Symptom**

Your <%= vars.k8s_runtime_abbr %> logs include the following error:

```
'uaa'. Errors are:- Error filling in template 'uaa.yml.erb' (line 59: Client redirect-uri is invalid: uaa.clients.pks_cli.redirect-uri Client redirect-uri is invalid: uaa.clients.pks_cluster_client.redirect-uri)
```

**Explanation**

The <%= vars.control_plane %> fully-qualified domain name (FQDN) for your cluster contains leading or trailing whitespace.  

**Workaround**

Do not include whitespace in the <%= vars.k8s_runtime_abbr %> tile **API Hostname (FQDN)** field.  


#### <a id="bosh-stop-doesnt-drain"></a>Certain Linux Nodes Are Unable to Complete the Drain Process during a TKGI Upgrade

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.5](#1-9-5-features).

**Symptom**

You may experience one or more of the following:  

* Your cluster upgrades are interrupted when upgrading the second node of a three-node Pod.  
* Pod eviction fails when either `bosh stop` or `tkgi upgrade-cluster` initiates kubectl drain.

<br>
**Explanation**

Ovs drain has finished, removing Pod networking before kubelet has completely drained the Pod. 
Draining a worker node has triggered the removal of a container interface on the node, 
blocking all network traffic from the Pod.

#### <a id='1-9-0-do-notuse-resize-cluster'></a> The <%= vars.k8s_runtime_abbr %> CLI Resize and Update Cluster Commands Remove the Network Profile CNI Configuration from a Cluster

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.5](#1-9-5-features).

**Symptom**

In <%= vars.k8s_runtime_abbr %> v1.9.4 or earlier, the network profile CNI configuration is dropped 
when updating the cluster using the `tkgi resize` or `tkgi update-cluster` CLI commands.  

**Solution**

To restore a CNI network profile configuration:  

1. Upgrade <%= vars.k8s_runtime_abbr %> to v1.9.5 or later.  
1. Upgrade your <%= vars.k8s_runtime_abbr %>-provisioned cluster to <%= vars.k8s_runtime_abbr %> v1.9.5 or later.  
1. To restore the network profile CNI configuration to your cluster, modify the cluster using either of the following:
    * The <%= vars.k8s_runtime_abbr %> CLI `resize` command:  

        ```
        tkgi resize CLUSTER-NAME
        ```
        Where `CLUSTER-NAME` is the name of your cluster.  
<br>
    * The <%= vars.k8s_runtime_abbr %> CLI `update-cluster` command:  

        ```
        tkgi update-cluster CLUSTER-NAME --network-profile PROFILE-NAME
        ```
        Where:  
        * `CLUSTER-NAME` is the name of your cluster.
        * `PROFILE-NAME` is the name of the network profile previously applied to the cluster. 



### <a id='1-9-0-import-single-cert'></a> The <%= vars.control_plane %> Does Not Import the Current <%= vars.k8s_runtime_abbr %> CA Certificates 

**Symptom**

After rotating your <%= vars.k8s_runtime_abbr %> CA certificates, you notice the following:

* When using the <%= vars.control_plane %>, SSL authentication returns the following error and fails:  

    ```
    None of the TrustManagers trust this certificate chain executing POST https://100.104.252.16:8443/oauth/token
    ```
* The keystore file at `/var/vcap/jobs/pks-api/config/cacerts.jks`, contains only a single, stale certificate.

<br>
**Explanation** 

The keystore file used by the <%= vars.control_plane %> has not been updated with current CA certificates.  

#### <a id='1-9-0-windows-dynamic-pvs'></a> Windows Workloads With Attached Dynamic PVs Must Be Removed before Deleting a Cluster

**Symptom**  

Your `tkgi delete-cluster` operation hangs while draining a Windows worker VM 
containing a Pod bound to one or more dynamic persistent volumes (PVs).  

**Workaround** 

Before deleting your Windows cluster, remove all workloads.  


#### <a id="1-9-0-profile-bosh-upgrade"></a>Compute Profile Dropped From Clusters During BOSH Upgrade

This issue is fixed in [<%= vars.k8s_runtime_abbr %> v1.9.2](#1-9-2-features).

If a cluster created using a compute profile is upgraded using `tkgi upgrade-cluster`,
the cluster's compute profile is dropped.  


#### <a id='1-9-0-fluentbit-clusterlogsink'></a> ClusterLogSink Fails While CEIP Telemetry Services Are Disabled

**Symptom**  

ClusterLogSink logs the error "_no upstream connections available_" and fails after you disable CEIP Telemetry services:

```
[2020/10/14 10:38:50] [error] [io] TCP connection failed: telemetry.pks.internal:24224 (Connection timed out)
[2020/10/14 10:38:50] [error] [out_fw] no upstream connections available
[2020/10/14 10:41:08] [error] [io] TCP connection failed: telemetry.pks.internal:24224 (Connection timed out)
[2020/10/14 10:41:08] [error] [out_fw] no upstream connections available
[2020/10/14 10:43:51] [error] [io] TCP connection failed: telemetry.pks.internal:24224 (Connection timed out)
[2020/10/14 10:43:51] [error] [out_fw] no upstream connections available
[2020/10/14 10:43:51] [ warn] [engine] Task cannot be retried: task_id=0 thread_id=2 output=forward.0
```

**Explanation** 

Fluent Bit always attempts to connect to the Telemetry Server during ClusterLogSink, and
the connection attempt fails while CEIP Telemetry services are disabled.  



## <a id="management-console-1.9.5"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.9.5

**Release Date**: April 7, 2021

### <a id="management-console-1.9.5-features"></a>Features

<%= vars.product_short %> Management Console v1.9.5 update includes:

<%#
* **[Bug Fix]** 
%>

### <a id="management-console-1.9.5-snapshot"></a>Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.9.5</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>April 7, 2021</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.9.5</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.8</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.18.16</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.1.3</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.31 or later</td>
    </tr>
</table>

### <a id='management-console-1-9-5-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.9.5 is from
<%= vars.product_short %> v1.8.0 and later.

### <a id="management-console-1.9.5-known-issues"></a> Known Issues

Except where noted, the Tanzu Kubernetes Grid Integrated Edition Management Console v1.9.5 has the same known issues as [v1.9.4](#management-console-1.9.4-known-issues).

## <a id="management-console-1.9.4"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.9.4

**Release Date**: February 3, 2021

### <a id="management-console-1.9.4-features"></a>Features

<%= vars.product_short %> Management Console v1.9.4 update includes:

* **[Bug Fix]** Fixes enabled **Compute Profile** option on non-vSphere with NSX-T networks.
* **[Bug Fix]** Fixes [Access Cluster Not Displaying Content After Initial Page Load](#management-console-1-9-2-access-cluster).
* **[Bug Fix]** Fixes [TKGI Management Console regenerates certificates if the NSX Manager admin password changes](#1-9-1-nsxt-cert).
* **[Bug Fix]** Fixes [Management Console Page Unresponsive](#management-console-1.9.0-upgrade-stuck).

### <a id="management-console-1.9.4-snapshot"></a>Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.9.4</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>February 3, 2021</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.9.4</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.6</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.18.14</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.1.3</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.29 or later</td>
    </tr>
</table>

### <a id='management-console-1-9-4-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.9.4 is from
<%= vars.product_short %> v1.8.0 and later.

### <a id="management-console-1.9.4-known-issues"></a> Known Issues

Except where noted, the Tanzu Kubernetes Grid Integrated Edition Management Console v1.9.4 has the same known issues as [v1.9.3](#management-console-1.9.3-known-issues).

## <a id="management-console-1.9.3"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.9.3

**Release Date**: January 8, 2021

### <a id="management-console-1.9.3-features"></a>Features

<%= vars.product_short %> Management Console v1.9.3 is a compatibility release with no new features.

### <a id="management-console-1.9.3-snapshot"></a>Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.9.3</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>January 8, 2021</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.9.3</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.4</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.18.14</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.1.2</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.28 or later</td>
    </tr>
</table>

### <a id='management-console-1-9-3-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.9.3 is from
<%= vars.product_short %> v1.8.0 and later.

### <a id="management-console-1.9.3-known-issues"></a> Known Issues

The Tanzu Kubernetes Grid Integrated Edition Management Console v1.9.3 has the same known issues as [v1.9.2](#management-console-1.9.2-known-issues).


## <a id="management-console-1.9.2"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.9.2

**Release Date**: December 15, 2020

### <a id="management-console-1.9.2-features"></a>Features

<%= vars.product_short %> Management Console v1.9.2 is a compatibility release with no new features.

### <a id="management-console-1.9.2-snapshot"></a>Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.9.2</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>December 15, 2020</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.9.2</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.2</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.18.12</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.1.1</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.28 or later</td>
    </tr>
</table>

### <a id='management-console-1-9-2-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.9.2 is from
<%= vars.product_short %> v1.8.0 and later.

### <a id="management-console-1.9.2-known-issues"></a> Known Issues

Except where noted, the Tanzu Kubernetes Grid Integrated Edition Management Console v1.9.2 has the same known issues as [v1.9.1](#management-console-1.9.1-known-issues).

#### <a id='management-console-1-9-2-access-cluster'></a> Access Cluster Not Displaying Content After Initial Page Load 

This issue is fixed in [<%= vars.k8s_runtime_abbr %> Management Console v1.9.4](#management-console-1.9.4-features).

**Symptom**

If you open the <%= vars.k8s_runtime_abbr %> Management Console and immediately open **Cluster Summary** and **Access Cluster**, 
the page does not update with content.  

**Workaround**

After encountering this problem, close the window and reselect **Access Cluster**.


## <a id="management-console-1.9.1"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.9.1

**Release Date**: November 4, 2020

### <a id="management-console-1.9.1-features"></a>Features

<%= vars.product_short %> Management Console v1.9.1 is a compatibility release with no new features.

### <a id="management-console-1.9.1-snapshot"></a>Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.9.1</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>November 4, 2020</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.9.1</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.2</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.18.8</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.1.0</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.24 or later</td>
    </tr>
</table>

### <a id='management-console-1-9-1-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.9.1 is from
<%= vars.product_short %> v1.8.0 and later.

### <a id="management-console-1.9.1-known-issues"></a> Known Issues

The <%= vars.product_short %> Management Console v1.9.1 has the following known issues:

#### <a id='1-9-1-nsxt-cert'></a> TKGI Management Console regenerates certificates if the NSX Manager admin password changes

This issue is fixed in [<%= vars.k8s_runtime_abbr %> Management Console v1.9.4](#management-console-1.9.4-features).

**Symptom**

If the admin password for NSX Manager changes and you update it in the TKGI Management Console, the certificates for NSX-T Data Center and Harbor are regenerated. This causes the NCP process on the master node VM to fail for all existing clusters.

**Workaround**

Upgrade the affected clusters.

#### <a id='1-9-1-stemcell-compat-3'></a> Windows Plans are Inactive and Windows Clusters are Missing After Upgrading <%= vars.product_short %> Management Console to 1.9.1

**Symptom**

After you upgrade <%= vars.product_short %> Management Console to v1.9.1,
existing Windows plans are inactive and Windows-based Kubernetes
clusters are no longer listed in the <%= vars.product_short %> Management Console.

**Workaround**

To resolve this issue:

- Open Ops Manager.
- Upload your Windows Stemcell.
- Open the <%= vars.product_short %> Management Console.
- Apply Changes.

The Windows plans are now activated and the Windows clusters are now listed in <%= vars.product_short %> Management Console.

Except where noted, the known issues in <%= vars.product_short %> Management Console v1.9.0
are also in <%= vars.product_short %> Management Console v1.9.1.
See [Known Issues](#management-console-1.9.0-known-issues) in <%= vars.product_short %> Management Console v1.9.0 below.


## <a id="management-console-1.9.0"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.9.0

**Release Date**: September 29, 2020

### <a id="management-console-1.9.0-features"></a>Features

<%= vars.product_short %> Management Console v1.9.0 updates include:

- Support for vSphere 7
- Support for NSX-T 3.0, including running NSX-T on a virtual distributed switch.
- [Support for Windows worker nodes on NSX-T networking](console-deploy-wizard.html#plans)
- [Configure compute profiles in the management console](console-compute-profile.html)
- [Upgrade clusters in the management console](console-create-clusters.html#upgrade-clusters)
- **[Bug Fix]** Fixes [Network Profiles Are Not Present on the <%= vars.k8s_runtime_abbr %> Management Console UI](https://docs.pivotal.io/tkgi/1-8/release-notes.html#management-console-1-8-0-cvds-network-profiles).


### <a id="management-console-1.9.0-snapshot"></a>Product Snapshot

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v1.9.0</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>September 29, 2020</td>
    </tr>
    <tr>
      <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
      <td>v1.9.0</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.10.1</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.18.8+vmware.1</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v2.0.2</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.24 or later</td>
    </tr>
</table>

### <a id='management-console-1-9-0-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.9.0 is from
<%= vars.product_short %> v1.8.0 and later.

### <a id="management-console-1.9.0-known-issues"></a> Known Issues

The <%= vars.product_short %> Management Console v1.9.0 has the following known issues:

#### <a id="management-console-1.9.0-vrli-https"></a> vRealize Log Insight Integration Does Not Support HTTPS Connections

**Symptom**

The <%= vars.product_short %> Management Console integration to vRealize Log Insight does not support connections to the HTTPS port on the vRealize Log Insight server.

**Workaround**

1. Use SSH to log in to the <%= vars.product_short %> Management Console appliance VM.
1. Open the file `/lib/systemd/system/pks-loginsight.service` in a text editor.
1. Add `-e LOG_SERVER_ENABLE_SSL_VERIFY=false`.
1. Set `-e LOG_SERVER_USE_SSL=true`.

    The resulting file should look like the following example:

    ```
    ExecStart=/bin/docker run --privileged --restart=always --network=pks
    -v /var/log/journal:/var/log/journal
    --name=pks-loginsight
    -e TYPE=gear2-vm
    -e LOG_SERVER_HOST=${LOGINSIGHT_HOST}
    -e LOG_SERVER_PORT=${LOGINSIGHT_PORT}
    -e LOG_SERVER_ENABLE_SSL_VERIFY=false
    -e LOG_SERVER_USE_SSL=true
    -e LOG_SERVER_AGENT_ID=${LOGINSIGHT_ID}
    pksoctopus/vrli-journald:v07092019
    ```

1. Save the file and run `systemctl daemon-reload`.
1. To restart the vRealize Log Insight service, run `systemctl restart pks-loginsight.service`.

<%= vars.product_short %> Management Console can now send logs to the HTTPS port on the vRealize Log Insight server.

#### <a id="management-console-1.9.0-vsphere-ha"></a> vSphere HA causes Management Console ovfenv Data Corruption

**Symptom**

If you enable vSphere HA on a cluster, if the TKGI Management Console appliance VM is running on a host in that cluster, and if the host reboots, vSphere HA recreates a new TKGI Management Console appliance VM on another host in the cluster. Due to an issue with vSphere HA, the `ovfenv` data for the newly created appliance VM is corrupted and the new appliance VM does not boot up with the correct network configuration.

**Workaround**

- In the vSphere Client, right-click the appliance VM and select **Power** > **Shut Down Guest OS**.
- Right-click the appliance again and select Edit Settings.
- Select **VM Options** and click **OK**.
- Verify under Recent Tasks that a `Reconfigure virtual machine` task has run on the appliance VM.
- Power on the appliance VM.

#### <a id="management-console-1.9.0-k8s-profile"></a> Base64 encoded file arguments are not decoded in Kubernetes profiles

**Symptom**

Some file arguments in Kubernetes profiles are base64 encoded. When the management console displays the Kubernetes profile,
some file arguments are not decoded.

**Workaround**

Run `echo "$content" | base64 --decode`

#### <a id="management-console-1.9.0-network-profile"></a> Network profiles not immediately selectable

**Symptom**

If you create network profiles and then try to apply them in the Create Cluster page, the new profiles
are not available for selection.

**Workaround**

Log out of the management console and log back in again.

#### <a id="management-console-1.9.0-cluster-summary"></a> Real-Time IP information not displayed for network profiles

**Symptom**

In the cluster summary page, only default IP pool, pod IP block, node IP block values are displayed,
rather than the real-time values from the associated network profile.

**Workaround**

None

#### <a id='management-console-1-9-0-harbor-storage-config'></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```


**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

#### <a id="management-console-1.9.0-upgrade-stuck"></a> Management Console Page Unresponsive

This bug is fixed in [v1.9.4](#management-console-1.9.4-features).


The Management Console upgrade page is unresponsive with numerous errors when upgrading from 1.8 to 1.9.


#### <a id='management-console-1-9-0-re-import-windows-stemcell'></a> Windows Stemcells Must be Re-Imported After Upgrading Ops Manager

**Symptom**

After upgrading Ops Manager, your Management Console does not recognize a Windows stemcell imported when using the prior version of Ops Manager.

**Workaround**

If your Management Console does not recognize a Windows stemcell after upgrading Ops Manager:

1. Re-import your previously imported Windows stemcell.  
2. **Apply Changes** to <%= vars.k8s_runtime_abbr %> MC.  


#### <a id='management-console-1-9-0-addons-spec'></a> Management Console Deletes Custom Workload Configurations

**Symptom**

Your Management Console deletes the custom workload configurations that you have added to a 
Plan **Add-ons - Use with caution** field.
