---
title: Release Notes
owner: PKS
topictype: releasenotes
---

This topic contains release notes for <%= vars.product_full %> v1.7.

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to <%= vars.product_short %> v1.7,
review the <a href="#1-7-0-breaking-changes">Breaking Changes</a> below.
</p>

## <a id="1.7.0"></a>v1.7.0

**Release Date**: April 2, 2020

### <a id='1-7-0-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.7.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 2, 2020</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.16.7</td>
    </tr>
    <tr>
        <td>On-Demand Broker</td>
        <td>v0.38.0</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v2.5.1</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.10</td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.22.0</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>v18.09.9</td>
    <tr>
        <td>etcd</td>
        <td>v3.3.17</td>
    </tr>
        <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    <tr>
        <td>Ops Manager</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service"><%= vars.product_network %></a></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td>See <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Product Interoperability Matrices</a></td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td>v2.5.1, v2.5.0, v2.4.3</td>
    </tr>
        <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service"><%= vars.product_network %></a></td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.15 and later</td>
    </tr>
    <tr>
        <td>Backup and Restore SDK</td>
        <td>v1.17.0</td>
    </tr>
</table>

### <a id='1-7-0-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.7.0 are from <%= vars.product_short %> v1.6.0 and later.

### <a id="1-7-0-features"></a>Features

This section describes new features and changes in <%= vars.product_full %> v1.7.0.

#### <a id="1-7-0-pks-core"></a>PKS Control Plane and API

* Introduces _Kubernetes profiles_ that customize Kubernetes component settings for <%= vars.k8s_runtime_abbr %>-provisioned clusters.
Kubernetes profiles can include validated configurations supported by the PKS team and unvalidated configurations for evaluation only.
For more information, see [Using Kubernetes Profiles](./k8s-profiles.html).
* Supports [VMware Tanzu Service Mesh by VMware NSX (Beta)](./nsxt-service-mesh.html).
* Uses TLS v1.2+ with strong ciphers for all internal components except for the `metrics-server` (see [Known Issues](#1-7-0-metrics-server)).
* Supports resizing and updating Kubernetes clusters that
have not been upgraded from the previously installed <%= vars.product_short %> version.
* Splits the <%= vars.k8s_runtime_abbr %> control plane into separate <%= vars.control_plane %> and <%= vars.control_plane_db %> VMs.
* Increases to 65,535 the maximum allowed number of open files for the Docker process on worker nodes.
* Removes the **Server SSL Cert AltName** field from under the **<%= vars.product_tile %>** tile > **UAA** > **LDAP Server**.
<%= vars.product_short %> no longer uses this field.

#### <a id="1-7-0-bosh-lifecycle"></a>Kubernetes Control Plane

* For security, PKS v1.7 does not include the Kubernetes Dashboard Web UI because it uses [weak TLS ciphers](https://github.com/kubernetes/dashboard/issues/3058).
Clusters created with PKS v1.7 do not have Dashboard installed on creation.
  - You can install Dashboard on new clusters by following the [Deploying the Dashboard UI](https://kubernetes.io/docs/tasks/access-application-cluster/web-ui-dashboard/#deploying-the-dashboard-ui) instructions in the Kubernetes documentation.
  - Clusters upgraded from PKS v1.6 to v1.7 have leftover, cached dashboard objects.
      - The service of these cached Dashboard objects may degrade over time, as resize or upgrade operations rebuild node VMs.
      - To remove the leftover Dashboard objects from a cluster, run
`kubectl delete service,deployment,configmap,rolebinding,role,serviceaccount -l k8s-app=kubernetes-dashboard -n kube-system`

* The bump to Kubernetes v1.16 removes some API version definitions in favor of newer, more stable elements.
See [Deprecated APIs Removed In 1.16: Here’s What You Need To Know] (https://kubernetes.io/blog/2019/07/18/api-deprecations-in-1-16/) in the _Kubernetes Blog_.
Kubernetes recommends that you:
  - Update the following to reference the newer API definitions:
      - Custom integrations and controllers
      - Third-party tools such as ingress controllers and continuous delivery systems
  - <%= vars.recommended_by %> recommends that customers selectively upgrade Kubernetes 1.15.x clusters before upgrading a fleet of clusters.
  See [Upgrade a Single Cluster](./upgrade-clusters.html#upgrade-cluster) for how to upgrade clusters selectively.

* Replaces the [proxy](https://coredns.io/plugins/proxy/) plugin with the [forward](https://coredns.io/plugins/forward/) plugin for CoreDNS,
as recommended in upstream Kubernetes.
For more information, see [CoreDNS-1.4.0 Release](https://coredns.io/2019/03/03/coredns-1.4.0-release/) in the CoreDNS documentation.

#### <a id="1-7-0-logging-monitoring"></a>PKS Monitoring and Logging

* Adds new metrics that <%= vars.product_short %> can send to your monitoring service:
  - Node Exporter metrics from the <%= vars.control_plane %> VM and worker nodes in Prometheus format
  - Metrics from the Kubernetes controller manager and Kubernetes API server on master nodes  

    For configuration instructions, see [Telegraf](installing-pks-vsphere.html#telegraf) in the _Installing_ topic for your IaaS.

* Deprecates the billing database.
The billing database is scheduled to be removed in <%= vars.product_short %> v1.9.
You can use Telemetry instead of the billing database.
For more information about the billing database and Telemetry, see [Viewing Usage Data](view-usage-data.html#billing-db)
and [Telemetry](telemetry.html).
If you are impacted by this deprecation,
please reach out to <a href="mailto:pks-telemetry@groups.vmware.com">pks-telemetry@groups.vmware.com</a>.

####<a id="1-7-0-windows-features"></a>Windows on PKS

* Makes HTTP and HTTPS proxy available on Windows nodes, to support downloading Windows Docker images through a proxy.
  - You must configure a global proxy in the <%= vars.product_short %> tile > **Networking** pane before you create any Windows workers that use the proxy.

* When upgrading Windows clusters, <%= vars.product_short %> upgrades Windows workers with the latest Windows stemcell.

* Enables Windows pods to access DNS services from `kube-dns` (CoreDNS).

* Windows pods can now consume the same pod CIDR as Linux pods.

* Windows pods can now egress to applications or workloads outside of the pod’s IP subnet.

####<a id="1-7-0-nsx-t-features"></a>PKS with NSX-T Networking

* Changes the default topology for newly-created clusters to Shared Tier-1 Router topology, from Dedicated Tier-1 Router topology.
  - This change does not affect the topology of previously-existing clusters, which continue to run during and after upgrade to v1.7.
  - You cannot change the topology of an existing cluster from Dedicated Tier-1 to Shared Tier-1.
  - See [Network Profile for Dedicated Tier-1 Topology](./network-profiles-shared-t1.html#dedicated-t1-profile) for how to use a network profile to override the default and create new Dedicated Tier-1 Router clusters.


* Supports backup and restore of the PKS control plane, Kubernetes clusters, and stateless workloads networked with vSphere NSX-T.

#### <a id="1-7-0-telemetry"></a>Customer Experience Improvement Program (CEIP) and Telemetry

* Adds proxy support for Telemetry.
You can configure your <%= vars.product_short %> proxy settings in the **<%= vars.product_tile %>** tile > **Networking**.

#### <a id="1-7-0-component-updates"></a>Component Updates

* Bumps Kubernetes to v1.16.7.
* Bumps NCP to v2.5.1.
* Bumps UAA to v74.5.10.

####<a id="1-7-0-bug-fixes"></a>Bug Fixes

<%= vars.product_short %> v1.7.0 includes the following bug fixes:

* Improves the behavior of the `pks get-kubeconfig` and `pks get-credentials` commands during cluster updates and upgrades.
You can now run the `pks get-kubeconfig` command during single- and multi-master cluster updates.
Additionally, you can run the `pks get-credentials` command during multi-master cluster upgrades.

* When upgrading Windows clusters, <%= vars.product_short %> upgrades the Windows stemcell and Kubernetes version on Windows worker nodes.
See [Windows on PKS](#1-7-0-windows-features) for more information.

### <a id='1-7-0-breaking-changes'></a>Breaking Changes

<%= vars.product_short %> v1.7.0 has the following breaking changes:

#### <a id='1-7-0-dashboard'></a> Removal of the Dashboard UI

Clusters created with PKS v1.7 do not have Dashboard installed on creation.
For more information, see the [Kubernetes Control Plane](#1-7-0-bosh-lifecycle) section.

#### <a id='1-7-0-api'></a> Removal of API Version Definitions in Kubernetes v1.16

The bump to Kubernetes v1.16 removes some API version definitions in favor of newer, more stable definitions.
This change may break some integrations, controllers, and pipelines.
For more information, see the [Kubernetes Control Plane](#1-7-0-bosh-lifecycle) section.

#### <a id='1-7-0-db-migration'></a><%= vars.product_short %> Database Migration

This release migrates the the <%= vars.product_short %> control plane database from the PKS API VM to a new instance group, PKS Database.

<%= vars.product_short %> performs the database migration as part of your <%= vars.product_short %> upgrade to v1.7.
During the upgrade, the <%= vars.product_short %> control plane and the PKS CLI will be unavailable.
Your Kubernetes workloads remain accessible throughout the upgrade.

To upgrade to <%= vars.product_short %> v1.7,
follow the instructions in [Upgrading Enterprise PKS](upgrade-pks.html) or [Upgrading Enterprise PKS with NSX-T](upgrade-pks-nsxt.html).

These topics contain important preparation and upgrade configuration steps
you must follow before and during your upgrade to v1.7.

<p class="note warning"><strong>Warning:</strong> If your <%= vars.product_short %>
environment was originally created on <%= vars.product_short %> v1.2 or earlier,
you must complete the procedures in the
<a href="https://community.pivotal.io/s/article/environments-created-before-PKS-13-upgrading-to-PKS-1-7-fails">For
environments created before VMware Enterprise PKS 1.3, upgrading to PKS 1.7
fails during data migration when running clone-db errand</a> KB article before upgrading to <%= vars.product_short %> v1.7.</p>

###<a id='1-7-0-known-issues'></a>Known Issues

<%= vars.product_short %> v1.7.0 has the following known issues:

#### <a id="1-7-0-oidc-response-header"></a>502 Bad Gateway After OIDC Login  

**Symptom**  

You experience a "502 Bad Gateway" error from the NSX load balancer after you log in to OIDC.  

**Explanation**  

A large response header has exceeded your NSX-T load balancer maximum 
response header size. The default maximum response header size is 10,240 characters and should 
be resized to 50,000.  

**Workaround**  

If you experience this issue, manually reconfigure your NSX-T `request_header_size` 
and `response_header_size` to 50,000 characters. 
For information about configuring NSX-T default header sizes, 
see [OIDC Response Header Overflow](https://community.pivotal.io/s/article/OIDC-Response-Header-overflow) in the Knowledge Base.  

#### <a id='1-7-0-uuid-length'></a> One Plan ID Longer than Other Plan IDs  

**Symptom**  

One of your plan IDs is one character longer than your other plan IDs.  

**Explanation**  

In <%= vars.product_short %>, each plan has a unique plan ID. 
A plan ID is normally a UUID consisting of 32 alphanumeric characters and 4 hyphens. 
However, the **Plan 4** ID consists of 33 alphanumeric characters and 4 hyphens.  

**Solution**  

You can safely configure and use **Plan 4**. 
The length of the **Plan 4** ID does not affect the functionality of **Plan 4** clusters.  

If you require all plan IDs to have identical length, do not activate or use **Plan 4**.  

#### <a id='1-7-0-eight-cores-error'></a> NSX-T Pre-Check Errand Fails Due to Edge Node Configuration  

**Symptom**  

You have configured your NSX-T Edge Node VM as `medium` size, 
and the NSX-T Pre-Check Errand fails with the following error: 
"_ERROR: NSX-T Precheck failed due to Edge Node ... no of cpu cores is less than 8_". 

**Explanation**  

The NSX-T Pre-Check Errand is erroneously returning the "_cpu cores is less than 8_" error.

**Solution**  

You can safely configure your NSX-T Edge Node VMs as `medium` size and ignore the error. 

#### <a id='1-7-0-windows-proxy'></a> Difficulty Changing Proxy for Windows Workers

You must configure a global proxy in the <%= vars.product_tile %> tile > **Networking** pane before you create any Windows workers that use the proxy.

You cannot change the proxy configuration for Windows workers in an existing cluster.

#### <a id='1-7-0-metrics-server'></a> Metrics Server uses Weak Ciphers

The `metrics-server` component communicates over TLS v1.2 with weak ciphers.
All other <%= vars.product_short %> components use TLS v1.2 with strong ciphers.
