---
title: Release Notes
owner: TKGI
topictype: releasenotes
---


This topic contains release notes for <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) <%= vars.product_version %>.  


<br>
### <a id="1-18-2-bug-fixes"></a>Resolved Issues

<%= vars.k8s_runtime_abbr %> v1.18.2 resolves the following issues:

* Fixes [Error Scaling Clusters when Compute Profile Lacks Node Pool](#1-18-0-no-pool)

<br>
## <a id="1-18-1"></a><%= vars.k8s_runtime_abbr %> <%= vars.product_version %>.1

<br>
**Release Date**: December 19, 2023

<br>
### <a id="1-18-1-snapshot"></a><a id="product-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th colspan=3><h4>Release Details</h4></th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1427893" target="_blank">v1.18.1</a></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>December 19, 2023</td>
    </tr>
    <tr>
        <th colspan=3><h4>Internal Component Versions</h4></th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v1.8.0</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Container-Networking-with-Antrea/1.8.0/rn/vmware-container-networking-with-antrea-180-release-notes/index.html" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td colspan=2>v0.47.2</td>
    </tr>
    <tr>
        <td>Cloud Providers</td>
        <td>AWS: v1.27.1<br>vSphere: v1.27.0</td>
        <td style="text-align: center;">Release Notes:
          <br><a href="https://github.com/kubernetes/cloud-provider-aws/releases/tag/v1.27.1">AWS</a>
          <br><a href="https://github.com/kubernetes/cloud-provider-vsphere/releases/tag/v1.27.0">vSphere</a>
        </td>
    </tr>
    <tr>
        <td>Containerd</td>
        <td colspan=2>Linux: v1.6.24&#42;<br>Windows: v1.6.24&#42;</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td colspan=2>v1.10.1+vmware.12&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v3.1.1&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/3.0/rn/vmware-vsphere-container-storage-plugin-30-release-notes/index.html#vSphere%20Container%20Storage%20Plug-in%203.1.x-What's%20New" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>etcd</td>
        <td colspan=2>v3.5.9</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1409761" target="_blank">v2.9.1&#42;</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v291-0" target="_blank">Release Notes</a></td> 
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.27.8&#42;</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.27.md#v1278" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td colspan=2>v0.6.4</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v4.1.2.0</td>
        <td style="text-align: center;">
        <a href="https://docs.vmware.com/en/VMware-NSX-Container-Plugin/4.1.2/rn/vmware-nsx-container-plugin-412-release-notes/index.html" target="_blank">Release Notes</a>
        </td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)
        <br>(in BOSH&nbsp;pxc-release)</td>
        <td>v8.0.34-26
        <br>pxc-release: v1.0.20&#42;</td>
        <td style="text-align: center;">Release Notes:
        <br><a href="https://docs.percona.com/percona-xtradb-cluster/8.0/release-notes/8.0.34-26.html">PXC</a>
        <br><a href="https://github.com/cloudfoundry/pxc-release/releases/tag/v1.0.20">pxc-release</a>
        </td>
    </tr>
    <tr>
        <td>UAA</td>
        <td colspan=2>v74.5.95&#42;</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=<%= vars.velero_version_vcc_link %>" target="_blank"><%= vars.velero_version %>&#42;</a></td>
        <td style="text-align: center;"><a href="https://github.com/vmware-tanzu/velero/releases/tag/<%= vars.velero_version %>" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td colspan=2>Wavefront Collector: v1.13.0<br>Wavefront Proxy: v12.4</td>
    </tr>
    <tr>
        <th colspan=3><h4>Stemcell Compatibility</h4></th>
    </tr>
    <tr>
        <td>Ubuntu Jammy stemcells</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1427893" target="_blank"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td colspan=2>v2019.65 or later</td>
    </tr>
    <tr>
        <th colspan=3><h4>Interoperability</h4></th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1427893" target="_blank"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>VMware Aria Operations Management Pack for Kubernetes</td>
        <td>v2.0</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Aria-Operations-for-Integrations/services/rn/vmware-aria-operations-for-integrations-release-notes/index.html#August%2010,%202023" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v5.0, v4.5.2</td>
        <td style="text-align: center;">Release Notes: 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/5.0/rn/vmware-cloud-foundation-50-release-notes/index.html" target="_blank">v5.0</a>, 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/4.5.2/rn/vmware-cloud-foundation-452-release-notes/index.html" target="_blank">v4.5.2</a>
        </td>
    </tr>
    <tr>
        <td>VMware NSX</td>
        <td rowspan=2 colspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644&row=0," target="_blank">VMware Product Interoperability Matrices</a>&#42;&#42;&#42;.</td>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
</table>

<a id="1-18-1-component-updates"></a> &#42; Components marked with an asterisk have been updated.  
&#42;&#42; VCF v5.0 and VCF v4.5.2 are supported but have not been tested with <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>.  
&#42;&#42;&#42; Migration from NSX Management Plane API to NSX Policy API requires VMware NSX v4.0.1.1 or later. NSX v4.0.1.1 supports only 50% of NSX Management Plane API 
scale. To use Policy API at 100% of Management Plane API scale, you require NSX v4.1.1.

<br>
### <a id="1-18-1-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.18.1 are from 
<%= vars.k8s_runtime_abbr %> v1.18.0, and TKGI v1.17.2 and earlier TKGI v1.17 patches.

<br>
### <a id="1-18-1-breaking-changes"></a>Breaking Changes

<%= vars.k8s_runtime_abbr %> v1.18.1 does not include any new breaking changes.

<br>
### <a id="1-18-1-features"></a><a id="1-18-1-enhancements"></a> Features and Enhancements

<%= vars.k8s_runtime_abbr %> v1.18.1 does not include any new features or enhancements.

<br>
### <a id="1-18-1-bug-fixes"></a>Resolved Issues

<%= vars.k8s_runtime_abbr %> v1.18.1 resolves the following issues:  

* Component bumps fix the following:
    * Upgrades CSI Driver for vSphere to v3.1.1:
        * Fixes [The object 'vim.VirtualMachine:vm-988369' has already been deleted or has not been completely created" #2495](https://github.com/kubernetes-sigs/vsphere-csi-driver/issues/2495)
        * Includes [Prevent node cache update during attach and detach](https://github.com/kubernetes-sigs/vsphere-csi-driver/pull/2597).

* Fixes [Error: Cloud Controller Manager Fails to Start](#1-18-0-cloud-controller).

<br>
###<a id="1-18-1-known-issues"></a>Known Issues

Except where noted, the known issues in <%= vars.k8s_runtime_abbr %> v1.18.0 are also in <%= vars.k8s_runtime_abbr %> v1.18.1.
For more information, see [TKGI v1.18.0 Known Issues](#1-18-0-known-issues) below.

TKGI v1.18.1 does not include any new known issues.

<p class="note warning"><strong> Important:</strong> To address CVE-2024-21626 by patching <%= vars.k8s_runtime_abbr %> with a runc upgrade, see [High-Severity CVE-2024-21626 in runc 1.1.11 and earlier](#1-18-0-cve-2024-21626) below.

<br>
### <a id="1-18-1-deprecations"></a> Deprecations

No <%= vars.k8s_runtime_abbr %> features have been deprecated 
or removed from <%= vars.k8s_runtime_abbr %> v1.18.

<hr>

<br>
## <a id="management-console-1-18-1"></a> <%= vars.k8s_runtime_abbr %> Management Console <%= vars.product_version %>.1

**Release Date**: December 19, 2023

<%= vars.product_short %> Management Console provides an opinionated installation of <%= vars.k8s_runtime_abbr %>.  

<br>
### <a id="management-console-1-18-1-snapshot"></a>Product Snapshot  

<p class="note"><strong>Note</strong>: The component versions supported by <%= vars.k8s_runtime_abbr %> Management Console might differ from or be more limited than
    the versions supported by <%= vars.k8s_runtime_abbr %>.
</p>

<table class="nice">
    <tr>
        <th>Element</th>
        <th colspan=2>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://customerconnect.vmware.com/downloads/info/slug/infrastructure_operations_management/vmware_tanzu_kubernetes_grid_integrated_edition/1_18" target="_blank">v1.18.1</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>December 19, 2023</td>
    </tr>
    <tr>
        <td>Installed <%= vars.k8s_runtime_abbr %> version</td>
        <td colspan=2>v1.18.1</td>
    </tr>
    <tr>
        <td>Installed Ops Manager version</td>
        <td>v3.0.19&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/release-notes.html#3-0-19" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <th>Component</th>
        <th colspan=2>Version</th>
    </tr>
    <tr>
        <td>Installed Kubernetes version</td>
        <td>v1.27.8&#42;</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.27.md#v1278" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>Installed Harbor Registry version</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1371285" target="_blank">v2.9.1&#42;</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v290-1">Release Notes</a></td>
    </tr>
    <tr>
        <td>Ubuntu Jammy stemcell</td>
        <td>v1.318&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/Stemcells-for-VMware-Tanzu/services/release-notes/stemcells.html#jammy-1-318" target="_blank">Release Notes</a></td>
    </tr>
</table>

<a id="management-console-1-18-1-component-updates"></a> &#42; Components marked with an asterisk have been updated.

<br>
### <a id="management-console-1-18-1-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.18.1 are from <%= vars.k8s_runtime_abbr %> v1.18.0, and TKGI v1.17.2 and earlier TKGI v1.17 patches.

<br>
### <a id="management-console-1-18-1-features"></a>Features and Resolved Issues

<%= vars.k8s_runtime_abbr %> Management Console v1.18.1 does not include any new features or enhancements.

<br>
### <a id="management-console-1-18-1-known-issues"></a> Known Issues

Except where noted, the known issues in <%= vars.k8s_runtime_abbr %> Management Console v1.18.0 are also in <%= vars.k8s_runtime_abbr %> Management Console v1.18.1.
For more information, see [TKGI Management Console v1.18.0 Known Issues](#management-console-1-18-0-known-issues) below.

TKGI v1.18.1 does not include any new known issues.

<br>
### <a id="management-console-1-18-1-deprecations"></a> Deprecations

No <%= vars.k8s_runtime_abbr %> features have been deprecated 
or removed from <%= vars.k8s_runtime_abbr %> Management Console v1.18.

<hr>

<br>
## <a id="1-18-0"></a><%= vars.k8s_runtime_abbr %> <%= vars.product_version %>.0

<br>
**Release Date**: November 02, 2023

<br>
### <a id="1-18-0-snapshot"></a><a id="product-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th colspan=3><h4>Release Details</h4></th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1398531" target="_blank">v1.18.0</a></td>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>November 02, 2023</td>
    </tr>
    <tr>
        <th colspan=3><h4>Internal Component Versions</h4></th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v1.8.0&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Container-Networking-with-Antrea/1.8.0/rn/vmware-container-networking-with-antrea-180-release-notes/index.html" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td colspan=2>v0.47.2&#42;</td>
    </tr>
    <tr>
        <td>Cloud Providers</td>
        <td>AWS: v1.27.1&#42;<br>vSphere: v1.27.0&#42;</td>
        <td style="text-align: center;">Release Notes:
          <br><a href="https://github.com/kubernetes/cloud-provider-aws/releases/tag/v1.27.1">AWS</a>
          <br><a href="https://github.com/kubernetes/cloud-provider-vsphere/releases/tag/v1.27.0">vSphere</a>
        </td>
    </tr>
    <tr>
        <td>Containerd</td>
        <td colspan=2>Linux: v1.6.18<br>Windows: v1.6.18</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td colspan=2>v1.10.1+vmware.7&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v3.0.2</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-vSphere-Container-Storage-Plug-in/3.0/rn/vmware-vsphere-container-storage-plugin-30-release-notes/index.html#vSphere%20Container%20Storage%20Plug-in%203.0.x-What's%20New" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>etcd</td>
        <td colspan=2>v3.5.9</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1371285" target="_blank">v2.9.0&#42;</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v290-0" target="_blank">Release Notes</a></td> 
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.27.5&#42;</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.27.md#changelog-since-v1274" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td colspan=2>v0.6.4&#42;</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td>v4.1.2.0&#42;</td>
        <td style="text-align: center;">
        <a href="https://docs.vmware.com/en/VMware-NSX-Container-Plugin/4.1.2/rn/vmware-nsx-container-plugin-412-release-notes/index.html" target="_blank">Release Notes</a>
        </td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)
        <br>(in BOSH&nbsp;pxc-release)</td>
        <td>v8.0.33-25&#42;
        <br>pxc-release: v1.0.18&#42;</td>
        <td style="text-align: center;">Release Notes:
        <br><a href="https://docs.percona.com/percona-xtradb-cluster/8.0/release-notes/8.0.33-25.html">PXC</a>
        <br><a href="https://github.com/cloudfoundry/pxc-release/releases/tag/v1.0.18">pxc-release</a>
        </td>
    </tr>
    <tr>
        <td>UAA</td>
        <td colspan=2>v74.5.90&#42;</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=<%= vars.velero_version_vcc_link %>" target="_blank"><%= vars.velero_version %>&#42;</a></td>
        <td style="text-align: center;"><a href="https://github.com/vmware-tanzu/velero/releases/tag/<%= vars.velero_version %>" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td colspan=2>Wavefront Collector: v1.13.0<br>Wavefront Proxy: v12.4</td>
    </tr>
    <tr>
        <th colspan=3><h4>Stemcell Compatibility</h4></th>
    </tr>
    <tr>
        <td>Ubuntu Jammy stemcells</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1398531" target="_blank"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td colspan=2>v2019.65 or later&#42;</td>
    </tr>
    <tr>
        <th colspan=3><h4>Interoperability</h4></th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td colspan=2>See <a href="https://network.pivotal.io/products/pivotal-container-service#/releases/1398531" target="_blank"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>VMware Aria Operations Management Pack for Kubernetes</td>
        <td>v2.0</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Aria-Operations-for-Integrations/services/rn/vmware-aria-operations-for-integrations-release-notes/index.html#August%2010,%202023" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v5.0&#42;&#42;, v4.5.2&#42;&#42;</td>
        <td style="text-align: center;">Release Notes: 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/5.0/rn/vmware-cloud-foundation-50-release-notes/index.html" target="_blank">v5.0</a>, 
            <a href="https://docs.vmware.com/en/VMware-Cloud-Foundation/4.5.2/rn/vmware-cloud-foundation-452-release-notes/index.html" target="_blank">v4.5.2</a>
        </td>
    </tr>
    <tr>
        <td>VMware NSX</td>
        <td rowspan=2 colspan=2>See <a href="https://interopmatrix.vmware.com/Interoperability?col=644&row=0," target="_blank">VMware Product Interoperability Matrices</a>&#42;&#42;&#42;.</td>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
</table>

<a id="1-18-0-component-updates"></a> &#42; Components marked with an asterisk have been updated.  
&#42;&#42; VCF v5.0 and VCF v4.5.2 are supported but have not been tested with <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>.  
&#42;&#42;&#42; Migration from NSX Management Plane API to NSX Policy API requires VMware NSX v4.0.1.1 or later. NSX v4.0.1.1 supports only 50% of NSX Management Plane API 
scale. To use Policy API at 100% of Management Plane API scale, you require NSX v4.1.1.

<br>
### <a id="1-18-0-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.18.0 are from 
<%= vars.k8s_runtime_abbr %> v1.17.1 and v1.17.0.  


<br>
### <a id="1-18-0-breaking-changes"></a>Breaking Changes

<%= vars.k8s_runtime_abbr %> v1.18.0 includes the following breaking changes:  

* **SecurityContextDeny Admission Controller Support Has Been Removed**: 
Support for SecurityContextDeny admission controller has been removed in <%= vars.k8s_runtime_abbr %> v1.18. 
You must deactivate SecurityContextDeny in all active Plans before upgrading to <%= vars.k8s_runtime_abbr %> v1.18.  

    The SecurityContextDeny admission controller has been deprecated, and the Kubernetes community recommends the controller not be used. 
    For more information, see [Deactivate the SecurityContextDeny Admission Controller](checklist.html#securitycontextdeny) in _Upgrade Preparation Checklist for <%= vars.k8s_runtime_abbr %>_.  

    Pod security admission (PSA) is the preferred method for providing a more secure Kubernetes environment. 
    For more information about PSA, see [Pod Security Admission in <%= vars.k8s_runtime_abbr %>](pod-security-admission.html).  

* **Telegraf has been upgraded for host monitoring**: 
Telegraf has been upgraded to Telegraf v1.28.1 for host monitoring.  

    Previous <%= vars.k8s_runtime_abbr %> versions have used Telegraf v1.20.3 for host monitoring. 
    For information on the differences between the Telegraf v1.20.3 and v1.28.1 releases, 
    see [Telegraf v1.28.1](https://docs.influxdata.com/telegraf/v1.28/about_the_project/release-notes-changelog/) 
    and [Telegraf v1.24.0 Breaking Change](https://docs.influxdata.com/telegraf/v1/release-notes-changelog/#v1240-2022-09-12) in the Telegraf Release Notes documentation.  
<% if vars.product_version == "COMMENTED"  %>
    <p class="note"><strong>Note:</strong> Cluster monitoring continues to use Telegraf v1.13.2.
    </p>
<% end %>

* **The Out-of-Tree Kubernetes AWS Cloud Provider Requires Additional Permissions**: 
In AWS environments, <%= vars.k8s_runtime_abbr %> v1.18 integrates the out-of-tree AWS cloud provider for Kubernetes. 
The Kubernetes AWS out-of-tree cloud provider requires a different AWS configuration than was required by the in-tree Kubernetes AWS cloud provider used by previous <%= vars.k8s_runtime_abbr %> versions. 
Basic cloud provider functions will fail in <%= vars.k8s_runtime_abbr %> v1.18 if the AWS out-of-tree cloud provider requirements are not met. 
For more information, see 
[AWS Permissions Errors When Using the Out-of-Tree Kubernetes AWS Cloud Provider](troubleshoot-issues.html#aws-cpi-permissions) 
in _General Troubleshooting_.  


* **Windows Stemcells Must Be Updated to Expose Ethernet Adapter Information**: 
By default, Windows worker node VM Ethernet adapter information is not exposed on <%= vars.k8s_runtime_abbr %> Windows clusters. When creating BOSH Windows stemcells for <%= vars.k8s_runtime_abbr %> v1.18, you must configure your base Windows OS image to expose Ethernet adapter information. 
For more information, see [Expose Ethernet Adapter Information on Worker Node VMs](https://docs-staging.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.18/tkgi/GUID-create-vsphere-stemcell.html#expose-guest-net) in the revised _Creating a Windows Stemcell for vSphere Using Stembuild_ procedure.  


<br>
### <a id="1-18-0-features"></a><a id="1-18-0-enhancements"></a> Features and Enhancements

<%= vars.k8s_runtime_abbr %> v1.18.0 includes the following features:  

* Supports configuring the maximum number of persistent volumes attached to a cluster node on vSphere. 
For information on how to configure the maximum number of persistent volumes, see 
[Customize the Maximum Number of Persistent Volumes](vsphere-cns.html#customize-max-persistent-volumes) 
in _Deploying and Managing Cloud Native Storage (CNS) on vSphere_.  
  
* Supports DNS-based service discovery for Linux worker nodes. 
<%= vars.k8s_runtime_abbr %> lets you configure a `worker.cfcr.internal` 
 DNS entry for <%= vars.k8s_runtime_abbr %>-provisioned Linux worker nodes. 
 For more information on integrating with Prometheus DNS-based service discovery, 
 see [Monitoring Components and Integrations](in-cluster-monitoring.html#integrations) 
 in _Monitoring Linux Workers and Workloads_.  

<%= vars.k8s_runtime_abbr %> v1.18.0 includes the following enhancements:  

* Supports the following vSphere CSI driver features:
  * Offline volume expansion (Block volumes only)
  * Online volume expansion (Block volumes only)
  * Raw block volume support  

* Integrates the vSphere and AWS out-of-tree cloud providers for Kubernetes. <%= vars.k8s_runtime_abbr %> continues to use the Azure and GCP in-tree cloud providers.  

<% if vars.product_version == "COMMENTED"  %>
* Validates the CNS data centers configured in a CSI driver configuration. 
All names listed in the `csi_datacenters` property of a CSI driver configuration 
must be valid vCenter data center names for the driver configuration to be applied to a cluster. 
For more information about configuring CNS data centers, see 
[Configure CNS Data Centers](vsphere-cns.html#cns-datacenters) 
in _Deploying and Managing Cloud Native Storage (CNS) on vSphere_.  
<% end %>


 

<br>
### <a id="1-18-0-bug-fixes"></a>Resolved Issues

<%= vars.k8s_runtime_abbr %> v1.18.0 resolves the following issues:  
        
<% if vars.product_version == "COMMENTED"  %>
* Fixes [](#1-17-0-).  
* Component bumps fix the following:  
    * Upgrades  to:  
        * Fixes [](#1-17-0-).  
<% end %>
* **[Security Fix]** Component bumps fix the following:  
    * Upgrades components to increase security and reduce vulnerabilities: 
      * Upgrades BOSH Backup and Restore (BBR) to [v1.18.87](https://bosh.io/releases/github.com/cloudfoundry-incubator/backup-and-restore-sdk-release?all=1#v1.18.87), BOSH Process Manager (BPM) to [v1.2.5](https://bosh.io/releases/github.com/cloudfoundry/bpm-release?all=1#v1.2.5), golang to [v1.20.7](https://github.com/golang/go/issues?q=milestone%3AGo1.20.7+label%3ACherryPickApproved), Percona XtraDB Cluster (PXC) to [v1.0.15](https://github.com/cloudfoundry/pxc-release/releases/tag/v1.0.15), Spring Boot to [v2.5.15](https://github.com/spring-projects/spring-boot/milestone/262?closed=1), syslog to [v12.1.7](https://github.com/cloudfoundry/syslog-release/releases/tag/v12.1.7), User Account and Authentication (UAA) to [v74.5.84](https://github.com/cloudfoundry/uaa-release/releases/tag/v74.5.84).   
* Fixes [Cluster Might Fail to Send the `cluster_name` Tag to Logging after Cluster Upgrade](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.17/tkgi/GUID-release-notes.html#1-17-0-missing-cluster-name-tag).  
* Fixes [<%= vars.k8s_runtime_abbr %> Does Not Support the Antrea Egress Feature on AWS](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.17/tkgi/GUID-release-notes.html#1-17-0-antrea-engress).  
    <p class='note'><strong>Note:</strong> You must grant the AWS Worker Instance Profile 
    additional AWS Identity and Access Management (IAM) permissions before using 
    the Antrea Egress feature with worker nodes on AWS. For more information, see 
    <a href="troubleshoot-issues.html#antrea-egress-aws">Prepare AWS Worker Instance Profile Permissions</a>
    in <em>General Troubleshooting</em>.
    </p>
* Fixes [Cluster Update Operations Fail Due to Duplicate Tag Keys](https://docs.vmware.com/en/VMware-Tanzu-Kubernetes-Grid-Integrated-Edition/1.17/tkgi/GUID-release-notes.html#1-17-0-duplicate-cluster-tag). 

<br>
### <a id="1-18-0-deprecations"></a><a id="1-18-0-upcoming-deprecations"></a> Deprecations

The following <%= vars.k8s_runtime_abbr %> features have been deprecated or removed from <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>:  

*  **Google Cloud Platform**: Support for the Google Cloud Platform (GCP) is deprecated. 
Support for GCP will be entirely removed in <%= vars.k8s_runtime_abbr %> v1.19.  

* **Flannel Support**: Support for the Flannel Container Networking Interface (CNI) is deprecated. 
Support for Flannel will be entirely removed in <%= vars.k8s_runtime_abbr %> v1.19. 
<%= vars.recommended_by %> recommends that you switch your Flannel CNI-configured clusters to the Antrea CNI.
For more information about Flannel CNI deprecation, see
[About Switching from the Flannel CNI to the Antrea CNI](understanding-upgrades.html#cni)
in _About Tanzu Kubernetes Grid Integrated Edition Upgrades_.  

<br>
###<a id="1-18-0-known-issues"></a>Known Issues

<%= vars.k8s_runtime_abbr %> v1.18.0 has the following known issues:  

<hr>

#### <a id="1-18-0-cve-2024-21626"></a>High-Severity CVE-2024-21626 in runc 1.1.11 and earlier

To address [CVE-2024-21626](https://www.cve.org/CVERecord?id=CVE-2024-21626), which [impacts runc v1.1.11 and earlier](https://github.com/opencontainers/runc/security/advisories/GHSA-xr7r-f8xq-vfvv), follow [Instructions to address CVE-2024-21626 for TKGI](https://kb.vmware.com/s/article/96500) in the VMware Knowledge Base.

<hr>

#### <a id="1-18-0-csi-driver-limits-vsphere"></a>Limitations on Using the VMware vSphere CSI Driver

The VMware vSphere CSI Driver supports a limited set of VMware vSphere features. 
Before enabling the vSphere CSI Driver on a <%= vars.k8s_runtime_abbr %> cluster, 
confirm the cluster and storage configuration are supported by the driver. 
For more information, see [Unsupported Features and Limitations](#unsupported-features) 
in _Deploying and Managing Cloud Native Storage (CNS) on vSphere_.  

<hr>

#### <a id="1-18-0-csi-driver-limits-public-cloud"></a>Limitations on Using a Public Cloud CSI Driver

<%= vars.k8s_runtime_abbr %> supports using a public cloud CSI Driver on a <%= vars.k8s_runtime_abbr %>-provisioned cluster.  

<a id="1-18-0-csi-driver-limits-public-cloud-installing"></a>**Installing a Public Cloud CSI Driver on a <%= vars.k8s_runtime_abbr %> Cluster**

If you plan to use a public cloud CSI Driver on a <%= vars.k8s_runtime_abbr %>-provisioned cluster, 
<%= vars.recommended_by %> recommends you take additional steps before installing the CSI Driver:  

* For most public clouds, <%= vars.recommended_by %> recommends you follow the CSI Driver installation procedure recommended by the public cloud provider.  

* For installing the Azure CSI Driver on a <%= vars.k8s_runtime_abbr %> cluster, <%= vars.recommended_by %> recommends you follow the procedure in the [How to install Azure file/disk CSI driver onto TKGI 1.14 cluster](https://community.pivotal.io/s/article/How-to-install-Azure-file-disk-CSI-driver-onto-TKGI-1-14-cluster?language=en_US) knowledge base article in the VMware Tanzu Support Hub.  


<a id="1-18-0-csi-driver-limits-public-cloud-managing"></a>**Managing a <%= vars.k8s_runtime_abbr %> Cluster That Uses a Public Cloud CSI Driver**

If you have enabled a public cloud CSI Driver on a <%= vars.k8s_runtime_abbr %> cluster, 
you must take additional steps when deleting，upgrading, or updating the cluster:  

* [Updating a Cluster on a Public Cloud](#1-18-0-csi-driver-limits-public-cloud-updating)  
* [Upgrading a Cluster on a Public Cloud](#1-18-0-csi-driver-limits-public-cloud-upgrading)  
* [Deleting a Cluster on a Public Cloud](#1-18-0-csi-driver-limits-public-cloud-deleting)  

<a id="1-18-0-csi-driver-limits-public-cloud-updating"></a>**Updating a Cluster on a Public Cloud**

When updating a cluster that uses a public cloud CSI Driver:  

* No preparation steps are needed when updating a multi-worker node cluster.
* To prepare a single-worker node cluster for updating:  

    1. Resize the cluster to two or more worker nodes before updating the cluster. 
    For more information, see [Scaling Existing Clusters](scale-clusters.html).  
    1. Update the cluster.  


<a id="1-18-0-csi-driver-limits-public-cloud-upgrading"></a>**Upgrading a Cluster on a Public Cloud**

When upgrading a cluster that uses a public cloud CSI Driver:  

* No preparation steps are needed when upgrading a multi-worker node cluster.
* To prepare a single-worker node cluster for upgrading:  

    1. Resize the cluster to two or more worker nodes before upgrading the cluster. 
    For more information, see [Scaling Existing Clusters](scale-clusters.html).  
    1. Upgrade the cluster. 
    For  more information on upgrading clusters, see [Upgrading Clusters](upgrade-clusters.html).  

<a id="1-18-0-csi-driver-limits-public-cloud-deleting"></a>**Deleting a Cluster on a Public Cloud**

When deleting a cluster that uses a public cloud CSI Driver:  

1. Manually delete the workload PVCs and PVs before deleting the cluster.  
1. Delete the cluster. 
For  more information on deleting clusters, see [Deleting Clusters](delete-cluster.html).  

<hr>

#### <a id="1-18-0-no-topology-set"></a> Failed upgrade for clusters with Topology-aware volumes

**Symptom**

For clusters configured with Topology-aware volume provisioning, upgrading to TKGI 1.18.0 or 1.18.1 generates an error like:

  ```
  "failed to get vCenterInstance for vCenter Host: \"[vcsa027.zd.datev.de|http://vcsa027.zd.datev.de/]\". Error: virtual center was already registered","
  ```

**Explanation**

TKGI does not automatically set the feature state switch to enable `multi-vcenter-csi-topology` for the cluster.

**Workaround**

1. Follow the instructions in [SSH into a Kubernetes Cluster VM](diagnostic-tools.html#cluster) to `ssh` into the master node of the failed cluster.

1. Edit the file `/var/vcap/jobs/csi-controller/config/feature-switch.yml`.

1. Add the following line to set the feature gate:

    ```
    "multi-vcenter-csi-topology": "true"
    ```

1. Stop the `csi-controller` and confirm that it has stopped:

    ```
    sudo monit stop csi-controller
    sudo monit summary
    ```

1. Start the `csi-controller` and confirm that it has restarted:

    ```
    sudo monit start csi-controller
    sudo monit summary
    ```

<hr>

#### <a id="1-18-0-containerd-istio"></a> TKGI version upgrade without new stemcell fails for Containerd runtime clusters with Istio CNI

**Symptom**

On clusters configured to use a containerd registry and Istio CNI, upgrading the TKGI version without also upgrading the stemcell fails with errors kubelet `cannot find istio-cni binary` and `nsx fails to recieve message header`.

This error does not occur when you upgrade to a new stemcell along with the new TKGI version.

**Explanation**

When TKGI cluster upgrades and drains the node during upgrade, it leaves the cluster nodes' Istio CNI agent and CNI configuration in a corrupted state.

If the cluster nodes are not automatically re-created by a stemcell change, the corrupted Istio CNI state remains.

**Workaround**

For clusters that use both Containerd and Istio CNI:

* If you have already encountered this issue, re-create all worker nodes using the `bosh recreate` command:

  1. Run the `bosh vms` command to list the cluster VMs:

      ```
      bosh -d pivotal-container-service-DEPLOYMENT-ID vms
      ```
      Where `DEPLOYMENT-ID` is the BOSH-generated ID of your TKGI deployment.

  1. For each VM instance listed as `worker/UUID` in the output, run `bosh recreate VM-NAME`:

      ```
      bosh -d pivotal-container-service-DEPLOYMENT-ID recreate worker/UUID
      ```

* In the future, you can avoid this issue by upgrading a cluster's stemcell whenever you upgrade its TKGI version.

<hr>

#### <a id="1-18-0-gmsa-join-fail"></a> GMSA authentication failures after stemcell upgrade

**Symptom**

For Windows worker clusters that authenticate users via a group Managed Service Account (gMSA) in Microsoft AD, upgrading the clusters to a new Windows stemcell may cause users to be unable to log in to the cluster.
Valid credentials for containers on the cluster may no longer work.

Logfile `join-domain/pre-start.stdout.log` contains:

  ```
  WARNING: The changes will take effect after you restart the computer WIN-<ID-STRING>.
  Already joined to domain
  ```

**Explanation**

When BOSH upgrades a VM's Windows stemcell, it re-creates the VM and then triggers a `join-domain` job to reconnect it with its gMSA group.
Reconnecting with gMSA requires a second VM reboot, but <%= vars.k8s_runtime_abbr %> does not currently trigger the reboot automatically because its timing would interfere with other upgrade operations.

**Workaround**

After upgrading a Windows cluster with GMSA to a new stemcell, manually reboot its worker nodes:

1. Run `bosh vms` to list the names of the worker nodes.

1. For the worker nodes, which have `Instance` IDs that begin with `worker/`, run `bosh restart`.  For example:

    ```
    bosh -d service-instance_0d0f7798-e4e9-473f-8ddb-279bc61faef0 restart worker/2deca1a2-c6ed-4e37-8dce-91b141d98e8f
    ```

    Where `service-instance_0d0f7798-e4e9-473f-8ddb-279bc61faef0` is the example instance group and `worker/2deca1a2-c6ed-4e37-8dce-91b141d98e8f` is the example VM instance.

<hr>

<% if vars.product_version == "COMMENTED"  %>
#### <a id="1-18-0-interoperability-with-tmc"></a> Interoperability with Tanzu Mission Control is Unavailable

This issue is fixed by using the [September 1, 2023](https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/rn/vmware-tanzu-mission-control-release-notes/index.html#What's%20New%20September%201,%202023) or later releases of Tanzu Mission Control.  

Tanzu Mission Control (TMC) is not compatible with Kubernetes v1.27 at the time of the <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> release and temporarily cannot manage <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> Kubernetes clusters. 
Interoperability between TMC and <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> is expected at a later time.  

Refer to the [VMware Tanzu Mission Control Release Notes](https://docs.vmware.com/en/VMware-Tanzu-Mission-Control/services/rn/vmware-tanzu-mission-control-release-notes/index.html) for an announcement of compatibility with Kubernetes v1.27.  
    
<hr>
<% end %>

#### <a id="1-18-0-tap-labels"></a> NSX pod creation fails when using Tanzu Application Platform

**Symptom**

When you deploy a workload on a <%= vars.k8s_runtime_abbr %>-provisioned cluster with NSX networking that is running [Tanzu Application Platform](https://docs.vmware.com/en/VMware-Tanzu-Application-Platform/index.html) (TAP), you see an error `Failed to create pod sandbox` and no resources are created in the cluster's `nsx-system` namespace.

**Explanation**

The total number of Kubernetes object labels and other tags created by both <%= vars.k8s_runtime_abbr %> and TAP can exceed the number that is allowed by NSX.

**Workaround**

Create or update your network profile as described in [Creating and Managing Network Profiles (NSX Only)](network-profiles-define.md), setting the `cni_configurations` parameter `extensions.ncp.k8s.label_filtering_regex_list` as described under [label_filtering Settings](network-profiles-define.md#label-filtering).

<hr>

#### <a id="1-18-0-no-pool"></a> Error Scaling Clusters when Compute Profile Lacks Node Pool

**Symptom**

When you scale up a cluster by passing `--num-nodes` to `tkgi cluster-upgrade` you see the error `An error occurred in the PKS API`.

The pks-api.log includes: `Request processing failed; nested exception is java.lang.NullPointerException`, which triggers within the nested `ClusterService` methods `extractCustomizationNodePoolNames` < `validateComputeProfileUuidAndKubernetesWorkerInstances` < `updateCluster`.

**Explanation**

The cluster's Compute Profile lacks a node-pool specification, and 
setting `--num-nodes` for cluster updating does not work when the 
Compute Profile does not specify a node pool.

**Workaround**

Create and apply a new compute profile that specifies a node pool:

1. Create a new JSON compute profile definition that defines a node pool with a worker node instance count. For example, this code defines a compute profile `cp-1` with target instance count `16`:

  ```
    cat cp-1.json 
    {
      "name": "cp-1",
      "description": "compute profile 1",
      "parameters": {
        "cluster_customization": {
          "control_plane": {
            "cpu": 2,
            "memory_in_mb": 8192,
            "persistent_disk_in_mb": 28240,
            "ephemeral_disk_in_mb": 28240,
            "instances": 3
          },
          "node_pools": [
            {
              "name": "pool-1",
              "description": "node pool 1",
              "instances": 16
            }
          ]
        }
      }
    }
  ```

1. Apply the new compute profile to the cluster:

  ```
  tkgi update-cluster my-cluster --compute-profile cp-1.json
  ```

  When you apply the new profile, the worker nodes migrate from instance group `worker` to the new instance group, `worker-pool-1`. If the instance count exceeds the number specified in plan, <%= vars.k8s_runtime_abbr %> adds instances to the new group before updating existing instances.

After the new node pool is created, you can scale the cluster by running:

  ```
  tkgi update-cluster cluster-1 --node-pool-instances "POOL:COUNT" 
  ```

  Where `POOL` is the node pool name and `COUNT` is its instance count.


<hr>

#### <a id="1-18-0-vrops"></a> Interoperability with VMware Aria Operations Management Pack for Kubernetes Is Unavailable
<% if vars.product_version == "COMMENTED"  %>
**This issue has been resolved:** VMware Aria Operations Management Pack for Kubernetes v2.0 provides interoperability with <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>. 
For more information, see the [VMware Aria Operations for Integrations Release Notes](https://docs.vmware.com/en/VMware-Aria-Operations-for-Integrations/services/rn/vmware-aria-operations-for-integrations-release-notes/index.html#August%2010,%202023).  
<% end %>

**Description**

Interoperability with VMware Aria Operations Management Pack for Kubernetes is temporarily unavailable.  

VMware Aria Operations Management Pack for Kubernetes is currently not compatible with <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>. 
Interoperability between VMware Aria Operations Management Pack for Kubernetes and <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> is expected at a later time.  

<hr>

#### <a id="1-18-0-renamed-ops-man"></a> TKGI MC Unable to Manage TKGI after Restoring the TKGI Control Plane from Backup

**Symptom**

After you restore Ops Manager and the <%= vars.control_plane %> VM from backup,
<%= vars.k8s_runtime_abbr %> functions normally, but your <%= vars.k8s_runtime_abbr %> MC tabs
include the following error: "...product 'pivotal-container service' is not deployed...".

**Explanation**

<%= vars.k8s_runtime_abbr %> MC is associated with an Ops Manager with a specific name.
If you rename Ops Manager with a new name while restoring, your <%= vars.k8s_runtime_abbr %> MC
will not recognize the restored Ops Manager and cannot manage it.

<hr>

#### <a id="1-18-0-cloud-controller"></a> Error: Cloud Controller Manager Fails to Start

**Symptom**

Cluster upgrade or BOSH manifest deploy fails with cloud controller errors, for example:

- **vSphere**: `Process 'vsphere-cloud-controller-manager' Does not exist`
- **AWS**: `failed jobs` error for `aws-cloud-controller-manager` and related components.
    - `aws-cloud-controller-manager` logs list `failed to create listener` errors for multiple processes.

**Explanation**

During cluster upgrade, the cluster's Cloud Controller Manager (CCM) initializes, and if the API server is not yet available, the initialization process waits. When the API server becomes available, the CCM may then launch redundant processes that confuse internal coordination.

**Workaround**

Restart the CCM:

1. Log in to the cluster's control-plane node.

1. Find the process ID (PID) for the CCM:

    ```
    ps aux | grep cloud-controller-manager
    ```

1. Kill the CCM process:

    ```
    kill CCM-PROCESS
    ```

    Where `CCM-PROCESS` is the PID listed by the previous step.

1. The CCM and its sub-processes re-create automatically.

<hr>

#### <a id="1-18-0-azure-apply-changes"></a> Error: Could Not Execute "Apply-Changes" in Azure Environment

**Symptom**

After clicking **Apply Changes** on the <%= vars.k8s_runtime_abbr %> tile in an Azure environment,
you experience an error '_...could not execute "apply-changes"..._' with either of the following descriptions:

* _{"errors":{"base":["undefined method 'location' for nil:NilClass"]}}_
* _FailedError.new("Resource Groups in region '#{location}' do not support Availability Zones"))_

For example:

```
INFO | 2020-09-21 03:46:49 +0000 | Vessel::Workflows::Installer#run | Install product (apply changes)
2020/09/21 03:47:02 could not execute "apply-changes": installation failed to trigger: request failed: unexpected response from /api/v0/installations:
HTTP/1.1 500 Internal Server Error
Transfer-Encoding: chunked
Cache-Control: no-cache, no-store
Connection: keep-alive
Content-Type: application/json; charset=utf-8
Date: Mon, 21 Sep 2020 17:51:50 GMT
Expires: Fri, 01 Jan 1990 00:00:00 GMT
Pragma: no-cache
Referrer-Policy: strict-origin-when-cross-origin
Server: Ops Manager
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
X-Download-Options: noopen
X-Frame-Options: SAMEORIGIN
X-Permitted-Cross-Domain-Policies: none
X-Request-Id: f5fc99c1-21a7-45c3-7f39
X-Runtime: 9.905591
X-Xss-Protection: 1; mode=block

44
{"errors":{"base":["undefined method `location' for nil:NilClass"]}}
0
```

**Explanation**

The Azure CPI endpoint used by Ops Manager has been changed and
your installed version of Ops Manager is not compatible with the new endpoint.

**Workaround**

Run the following Ops Manager CLI command:

```
om --skip-ssl-validation --username USERNAME --password PASSWORD --target https://OPSMAN-API curl --silent --path /api/v0/staged/director/verifiers/install_time/IaasConfigurationVerifier -x PUT -d '{ "enabled": false }'
```

Where:

* `USERNAME` is the account to use to run Ops Manager API commands.
* `PASSWORD` is the password for the account.
* `OPSMAN-API` is the IP address for the Ops Manager API

For more information, see
[Error 'undefined method location' is received when running Apply Change on Azure](https://community.pivotal.io/s/article/undefined-method-location-when-running-Apply-Change-on-Azure?language=en_US) in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-18-0-vrops-windows-clusters"></a> VMware vRealize Operations Does Not Support Windows Worker-Based Kubernetes Clusters

VMware vRealize Operations (vROPs) does not support Windows worker-based Kubernetes clusters and
cannot be used to manage <%= vars.k8s_runtime_abbr %>-provisioned Windows workers.

<hr>

#### <a id="1-18-0-wavefront-no-win"></a><%= vars.k8s_runtime_abbr %> Wavefront Requires Manual Installation for Windows Workers

To monitor Windows-based worker node clusters with a Wavefront collector and proxy, you must first install Wavefront on the clusters manually, using Helm.
For instructions, see the [Wavefront](windows-monitoring.html#wavefront) section of the
_Monitoring Windows Worker Clusters and Nodes_ topic.

<hr>
#### <a id="1-18-0-ping"></a>Pinging Windows Worker Kubernetes Clusters Does Not Work

<%= vars.k8s_runtime_abbr %>-provisioned Windows worker-based Kubernetes clusters inherit a Kubernetes limitation that prevents outbound ICMP communication from workers.
As a result, pinging Windows workers does not work.

For information about this limitation, see [Limitations > Networking](https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#networking-1) in the _Windows in Kubernetes_ documentation.

<hr>

#### <a id="1-18-0-no-uaa-backup"></a> BOSH Backup and Restore Does Not Restore UAA Database.

When restoring the <%= vars.k8s_runtime_abbr %> management plane from backup as described in [Restoring TKGI Management Plane Components](bbr-restore-tkgi.html), you may see an error like the following, along with errors for the `bbr-uaadb` and `pks-api` components:

    ```
    ERROR 3780 (HY000) at line 25: Referencing column 'SESSION_PRIMARY_ID' and referenced column 'PRIMARY_ID' in foreign key constraint 'SPRING_SESSION_ATTRIBUTES_FK' are incompatible.
    ```

With these errors, the User Account and Authentication (UAA) database fails to restore.

<hr>

#### <a id="1-18-0-windows-velero-limitations"></a> Velero Does Not Support Backing Up Stateful Windows Workloads

You can use Velero to back up stateless <%= vars.k8s_runtime_abbr %>-provisioned Windows workers only.
You cannot use Velero to back up stateful Windows applications.
For more information, see [Velero on Windows](https://velero.io/docs/v1.6/basic-install/#velero-on-windows) in
_Basic Install_ in the Velero documentation.

<hr>

#### <a id="1-18-0-tmc-on-gcp"></a>Tanzu Mission Control Integration Not Supported on GCP

<%= vars.k8s_runtime_abbr %> on Google Cloud Platform (GCP) does not support
Tanzu Mission Control (TMC) integration, which is configured in
the **<%= vars.product_tile %>** tile > the **Tanzu Mission Control** pane.

If you intend to run <%= vars.k8s_runtime_abbr %> on GCP,
skip this pane when configuring the <%= vars.product_tile %> tile.

<hr>

#### <a id="1-18-0-tmc-restic"></a>TMC Data Protection Feature Requires Privileged <%= vars.k8s_runtime_abbr %> Containers

TMC Data Protection feature supports privileged <%= vars.k8s_runtime_abbr %> containers only.
For more information, see [Plans](installing-vsphere.html#plans) in the _Installing TKGI_ topic for your IaaS.

<hr>

#### <a id="1-18-0-profile-no-win-gmsa"></a>Windows Worker Kubernetes Clusters with Group Managed Service Account Do Not Support Compute Profiles

Windows worker-based Kubernetes clusters integrated with group Managed Service Account (gMSA) cannot be managed using compute profiles.

<hr>

#### <a id="1-18-0-profile-no-win-flannel"></a> Windows Worker Kubernetes Clusters on Flannel Do Not Support Compute Profiles

On vSphere with NSX networking you can use compute profiles with both Linux and Windows worker&#8209;based Kubernetes clusters.
On vSphere with Flannel networking, you can apply compute profiles only to Linux clusters.

<hr>

#### <a id="1-18-0-profile-resize-down"></a>TKGI CLI Does Not Prevent Reducing the Control Plane Node Count

TKGI CLI does not prevent accidentally reducing a cluster's control plane node count using a compute profile.

<p class="note warning"><strong>Warning:</strong>
    Reducing a cluster's control plane node count can destroy the cluster.
    Do not scale out or scale in existing control plane nodes by reconfiguring the TKGI tile or by using a compute profile.
    Reducing a cluster's number of control plane nodes might remove a control plane node and cause the cluster to become inactive.
</p>

<hr>

#### <a id="1-18-0-in-windows-notready-nodes"></a> Windows Cluster Nodes Not Deleted After VM Deleted

**Symptom**

After you delete a VM using the management console of your infrastructure provider, you notice a Windows worker node
that had been on that VM is now in a `notReady` state.

**Solution**

1. To identify the leftover node:

    ```
    kubectl get no -o wide
    ```
1. Locate nodes on the returned list that are in a `notReady` state and have the same IP address as another node in the list.
1. To manually delete a `notReady` node:

    ```
    kubectl delete node NODE-NAME
    ```
    Where `NODE-NAME` is the name of the node in the `notReady` state.

<hr>

#### <a id="1-18-0-oidc-response-header"></a>502 Bad Gateway After OIDC Login

**Symptom**

You experience a "502 Bad Gateway" error from the NSX load balancer after you log in to OIDC.

**Explanation**

A large response header has exceeded your NSX load balancer maximum response header size.
The default maximum response header size is 10,240 characters and should be resized to 16,384.

**Workaround**

If you experience this issue, manually reconfigure your NSX `request_header_size` to `4096` characters and your `response_header_size` to `16384`.
For information about configuring NSX default header sizes, see [OIDC Response Header Overflow](https://community.pivotal.io/s/article/OIDC-Response-Header-overflow) in the Knowledge Base.

<hr>

#### <a id="1-18-0-windows-proxy"></a> Difficulty Changing Proxy for Windows Workers

You must configure a global proxy in the <%= vars.product_tile %> tile > **Networking** pane before you create any Windows workers that use the proxy.

You cannot change the proxy configuration for Windows workers in an existing cluster.

<hr>

#### <a id="1-18-0-http-proxy-password"></a> Character Limitations in HTTP Proxy Password

For vSphere with NSX, the HTTP Proxy password field does not support the following special characters: `&` or `;`.

<hr>

#### <a id="1-18-0-harbor-storage-config"></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```

**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

<hr>

#### <a id="1-18-0-resizing-worker-nodes"></a> Ingress Controller Statefulset Fails to Start After Resizing Worker Nodes

**Symptom**

Permissions are removed from your cluster's files and processes after resizing the persistent disk
during a cluster upgrade. The ingress controller statefulset fails to start.

**Explanation**

When resizing a persistent disk, Bosh migrates the data from the old disk to the new disk but
does not copy the files' extended attributes.

**Workaround**

To resolve the problem, complete the steps in
[Ingress controller statefulset fails to start after resize of worker nodes with permission denied]
(https://community.pivotal.io/s/article/5000e00001nCJxT1603094435795?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-18-0-security-group"></a>Azure Default Security Group Is Not Automatically Assigned to Cluster VMs

**Symptom**

You experience issues when configuring a load balancer for a multi-control plane node Kubernetes cluster or creating a service of type `LoadBalancer`.
Additionally, in the Azure portal, the **VM** > **Networking** page does not display
any inbound and outbound traffic rules for your cluster VMs.

**Explanation**

As part of configuring the <%= vars.product_tile %> tile for Azure, you enter **Default Security Group** in the **Kubernetes Cloud Provider** pane.
When you create a Kubernetes cluster, <%= vars.product_short %> automatically assigns this security group to each VM in the cluster.
However, on Azure the automatic assignment might not occur.

As a result, your inbound and outbound traffic rules defined in the security group are not applied to the cluster VMs.

**Workaround**

If you experience this issue, manually assign the default security group to each VM NIC in your cluster.

<hr>

#### <a id="1-18-0-uuid-length"></a> One Plan ID Longer than Other Plan IDs

**Symptom**

One of your plan IDs is one character longer than your other plan IDs.

**Explanation**

In <%= vars.k8s_runtime_abbr %>, each plan has a unique plan ID.
A plan ID is normally a UUID consisting of 32 alphanumeric characters and 4 hyphens.
However, the **Plan 4** ID consists of 33 alphanumeric characters and 4 hyphens.

**Solution**

You can safely configure and use **Plan 4**.
The length of the **Plan 4** ID does not affect the functionality of **Plan 4** clusters.

If you require all plan IDs to have identical length, do not activate or use **Plan 4**.

<hr>

#### <a id="1-18-0-db-down-after-vm-stopped"></a> Database Cluster Stops After a Database Instance is Stopped

**Symptom**

After you stop one instance in a multiple-instance database cluster, the cluster stops,
or communication between the remaining databases times out, and the entire cluster becomes unreachable.

The following might be in your UAA log:

```
WSREP has not yet prepared node for application use
```

**Explanation**

The database cluster is unable to recover automatically because a member is no longer available to reconcile quorum.

<hr>

#### <a id="1-18-0-velero-vsphere-pvs"></a> Velero Back Up Fails for vSphere PVs Attached to Clusters on Kubernetes v1.20 and Later

**Symptom**

Backing up vSphere persistent volumes using Velero fails and your Velero backup log includes the following error:

```
rpc error: code = Unknown desc = Failed during IsObjectBlocked check: Could not translate selfLink to CRD name
```

**Explanation**

This is a known issue when backing up clusters on Kubernetes v1.20 and later using the
Velero Plugin for vSphere v1.1.0 or earlier.

**Workaround**

To resolve the problem, complete the steps in
[Velero backups of vSphere persistent volumes fail on Kubernetes clusters version 1.20 or higher (83314)](https://kb.vmware.com/s/article/83314)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-18-0-creating-two-windows-clusters-fails"></a> Creating Two Windows Clusters at the Same Time Fails

**Symptom**

The first time that you try to create two Windows clusters at the same time, the creation of one of
the clusters fails. If you run `pks cluster CLUSTER-NAME` to examine the last action taken on the
cluster, you see the following:

<pre class="terminal">
Last Action: Create
Last Action State: failed
Last Action Description: Instance provisioning failed: There was a problem completing your request.
. . .
operation: create, error-message: Failed to acquire lock
. . .
locking task id is 111, description: 'create deployment'
</pre>

**Explanation**

This is a known issue that occurs the first time that you create two Windows clusters concurrently.

**Workaround**

Recreate the failed cluster. This issue only occurs the first time that you create two Windows
clusters concurrently.


<hr>

#### <a id="1-18-0-delete-cluster-not-stopped"></a> Deleted Clusters are Listed in Cluster Lists

**Symptom**

After running `tkgi delete-cluster` and cluster deletion has completed,
the deleted cluster continues to be listed when running `tkgi clusters`.

**Workaround**

You must manually remove the deleted cluster using a customized version of the ncp_cleanup script.
For more information, see
[Deleting a Tanzu Kubernetes Grid Integrated Edition cluster with "tkgi delete-cluster" stuck "in progress" status](https://community.pivotal.io/s/article/pks-delete-cluster-in-progress-after-the-cluster-has-been-deleted?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-18-0-errors-after-reinstall"></a> BOSH Director Logs the Error 'Duplicate vm extension name'

**Symptom**

After you uninstall <%= vars.k8s_runtime_abbr %>, then reinstall <%= vars.k8s_runtime_abbr %> in the same environment,
BOSH Director logs errors similar to the following:

```
.../gems/bosh-director-0.0.0/lib/bosh/director/deployment_plan/cloud_manifest_parser.rb:120:in `parse_vm_extensions': Duplicate vm extension name 'disk_enable_uuid' (Bosh::Director::DeploymentDuplicateVmExtensionName)
```

**Explanation**

The `pivotal-container-service` cloud-config was not removed when you uninstalled the <%= vars.k8s_runtime_abbr %> tile,
and it remained active.
When you reinstalled the <%= vars.k8s_runtime_abbr %> tile, an additional `pivotal-container-service` cloud-config was created,
causing the metrics_server to fall into a crash-loop state.

**Workaround**

You must manually remove the `pivotal-container-service` cloud-config after removing your <%= vars.k8s_runtime_abbr %> deployment,
including after removing the <%= vars.k8s_runtime_abbr %> tile from Ops Manager.

For more information, see ["Duplicate vm extension name" error when metrics_server runs on Director VM in Tanzu Kubernetes Grid Integrated Edition](https://community.pivotal.io/s/article/5000e00001oHXvP1631027033087?language=en_US)
in the VMware Tanzu Community Knowledge Base.

<hr>

#### <a id="1-18-0-whitespace-pksapi"></a> The <%= vars.control_plane %> FQDN Must Not Include Trailing Whitespace

**Symptom**

Your <%= vars.k8s_runtime_abbr %> logs include the following error:

```
'uaa'. Errors are:- Error filling in template 'uaa.yml.erb' (line 59: Client redirect-uri is invalid: uaa.clients.pks_cli.redirect-uri Client redirect-uri is invalid: uaa.clients.pks_cluster_client.redirect-uri)
```

**Explanation**

The <%= vars.control_plane %> fully-qualified domain name (FQDN) for your cluster contains leading or trailing whitespace.

**Workaround**

Do not include whitespace in the <%= vars.k8s_runtime_abbr %> tile **API Hostname (FQDN)** field.

<hr>

#### <a id="1-18-0-cannot-backup-with-tmc"></a> TMC Cluster Data Protection Backup Fails After Upgrading <%= vars.k8s_runtime_abbr %>

The TMC Cluster Data Protection Backup fails in <%= vars.k8s_runtime_abbr %> environments upgraded from an earlier version.

**Symptom**

The TMC Cluster Data Protection Backup fails to back up your existing clusters and logs the following error:

```
error executing custom action (groupResource=customresourcedefinitions.apiextensions.k8s.io, namespace=, name=ncpconfigs.nsx.vmware.com): rpc error: code = Unknown desc = error fetching v1beta1 version of ncpconfigs.nsx.vmware.com: the server could not find the requested resource
```

**Explanation**

Kubernetes v1.22 disallows the `spec.preserveUnknownFields: true` configuration in your existing clusters and the creation of a v1 CustomResourceDefinitions configuration fails.

<hr>

#### <a id="1-18-0-cannot-restore-with-tmc"></a> TMC Cluster Data Protection Restore Fails When Using Antrea CNI

The TMC Cluster Data Protection Restore operation can fail when restoring multiple Antea resources.

**Symptom**

The TMC Cluster Data Protection Restore fails and logs errors that requests to restore the `admission webhook` have been denied.

**Explanation**

Velero has encountered a race condition while operating a resource.
For more information, see
[Allow customizing restore order for Kubernetes controllers and their managed resources](https://github.com/vmware-tanzu/velero/issues/4045)
in the Velero GitHub repository.

<hr>

#### <a id="1-18-0-cvds-with-nvds"></a> <%= vars.k8s_runtime_abbr %> Does Not Support CVDS / NVDS Mixed Environments

<%= vars.k8s_runtime_abbr %> does not support environments where there are multiple matching networks, such as a mixed CVDS/NVDS environment.

**Symptom**

<%= vars.k8s_runtime_abbr %> logs errors similar to the following in an environment with multiple matching networks:

```
LastOperationstatus='failed', description='Instance provisioning failed:
There was a problem completing your request. Please contact your operations team providing the following information:
service: p.pks, service-instance-guid: ..., broker-request-id: ..., task-id: ..., operation: create,
error-message: Unknown CPI error 'Unknown' with message 'undefined method `mob' for <VimSdk::Vim::OpaqueNetwork:' in create_vm' CPI method
```

**Explanation**

<%= vars.k8s_runtime_abbr %> cannot identify which of the matching networks you intend to use and has selected the wrong network.

<hr>

#### <a id="1-18-0-ovsdb-server-failure"></a> Occasionally update-cluster Does Not Complete for Windows Workers

Occasionally, `tkgi update-cluster` hangs while updating a Windows worker node instance and the BOSH task cannot finish and exits.

**Symptom**

The `ovsdb-server` service has stopped but other processes report that it is running.

**Explanation**

The `ovsdb-server.pid` file uses the pid for a process that is not the ovsdb-server.

To confirm that this is the root cause for `tkgi update-cluster` to hang:

* To verify the `ovsdb-server` service has actually stopped, run the PowerShell `Get-services` command on the Windows worker node.
* To verify that other processes report the `ovsdb-server` service is still running:
<br>
    1. Review the ovsdb-server `job-service-wrapper.err.log` log file.
<br>
        The `job-service-wrapper.err.log` log file is located at:

        ```
        C:\var\vcap\sys\log\openvswitch-windows\ovsdb-server\job-service-wrapper.err.log
        ```
    1. Confirm that after the flushing processes, the log includes an error similar to the following:

        ```
        Pid-Guard : ovsdb-server is already runing, please stop it first
        At C:\var\vcap\jobs\openvswitch-windows\bin\ovsdb-server_ctl.ps1:30 char:5
        +     Pid-Guard $PIDFILE "ovsdb-server"
        +     ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
            + CategoryInfo          : NotSpecified: ( [Write-Error], WriteErrorException
            + FullyQualifiedErrorId : Microsoft.PowerShell.Commands.WriteErrorException,Pid-Guard
        ```
* To verify the root cause:
<br>
    1. Run the following PowerShell commands on the Windows worker node:

        ```
        $RUN_DIR = "C:\var\vcap\sys\run\openvswitch-windows"
        $PIDFILE = "$RUN_DIR\ovsdb-server.pid"
        $pid1 = Get-Content $PidFile -First 1
        echo $pid1
        $rst = Get-Process -Id $pid1 -ErrorAction SilentlyContinue
        echo $rst
        ```
    1. Confirm the returned `ProcessName` is not `ovsdb-server`.

**Workaround**

To resolve this issue for a single Windows worker:

1. SSH to the affected worker node.
1. Run the following:

    ```
    rm C:\var\vcap\sys\run\openvswitch-windows\ovsdb-server.pid
    ```
1. Wait for the `ovsdb-server` process to start.
1. Confirm the dependent services also start.


<hr>

#### <a id="1-18-0-harbor-241"></a> Harbor Private Projects Are Inaccessible after Upgrading to <%= vars.k8s_runtime_abbr %> v1.13.0

If LDAP is enabled, Harbor private projects are inaccessible after upgrading to <%= vars.k8s_runtime_abbr %> v1.13.0.
For more information, see [Private projects become inaccessible after upgrading Harbor for TKGI to v2.4.x with LDAP feature enabled](https://community.pivotal.io/s/article/After-upgrading-Harbor-tile-to-v2-4-x-with-LDAP-feature-enabled-private-projects-turn-unaccessible?language=en_US)
in the VMware Tanzu Knowledge Base.

<hr>

#### <a id="1-18-0-stemcell-tar-support"></a> Deployments Fail on <%= vars.k8s_runtime_abbr %> Windows Worker-based Kubernetes Clusters after the January 2022 Microsoft Windows Security Patch

Microsoft changed Microsoft Windows' support for tar file commands in the January 2022 Microsoft Windows security patch.

Packaging scripts that use tar commands for Windows worker-based Kubernetes Cluster deployments
can fail after the Microsoft tar command patch update has been applied.

The BOSH agent used by vSphere stemcells built by stembuild v2019.43 and earlier use tar commands that are no longer supported
and will fail if the Microsoft Windows security patch has been applied.


**Workaround**

stembuild v2019.44 and later include a version of the BOSH agent that does not use unsupported tar commands.

If you use vSphere stemcells, use stembuild 2019.44 or later to avoid the BOSH agent tar error.


<hr>


#### <a id="1-18-0-nsx-upgrade-w-policy-resources"></a> <%= vars.k8s_runtime_abbr %> Clusters Fail after NSX Upgrade If They Use NSGroup Policy API Resources

<%= vars.k8s_runtime_abbr %> supports clusters that use NSGroup Policy API resources, but Policy API NSGroups created in one NSX version will be empty after upgrading NSX to a newer version.  

**Workaround**  

BOSH reconfigures a deployment's NSGroup members if the deployment is redeployed.  

After upgrading NSX, redeploy affected deployments to reconfigure their NSGroup members:  

1. Re-**Apply Changes** on the Ops Manager UI to redeploy <%= vars.k8s_runtime_abbr %> tile deployments.  
1. Re-deploy the affected cluster deployments.  

<hr>

#### <a id="1-18-0-pods-notready-from-dfw"></a> Pods on NSX v3.2.3 Can Enter a NotReady State

When <%= vars.k8s_runtime_abbr %> is deployed on NSX v3.2.3 and there are large numbers of pods with [liveness probes](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-command), the pods on <%= vars.k8s_runtime_abbr %>-provisioned clusters can enter a `NotReady` state.  

**Symptom**  

In addition to your pods being `NotReady`, if you restart NSX Manager:  

* Your NSX API logs include numerous repetitions of 
`"POST /nsxapi/api/v1/firewall/sections/.../rules?operation=insert_bottom HTTP/1.1" ...`.  
* Your NCP logs include errors similar to:  

    ```
    "nsx-container-ncp" subcomp="ncp" level="ERROR" security="True" errorCode="NCP00034"] nsx_ujo.ncp.nsx.manager.firewall_service Failed to create health check rule for port ...: Service cluster: 'https://nsx-manager.example.com' is unavailable. Please, check NSX setup and/or configuration.
    ``` 

**Description**  

As pods are created or deleted, DFW firewall rules are replicated for the pod's liveness probe. 
In NSX v3.2.3, the firewall rules are unintentionally duplicated during this replication. 
After numerous pod creation/deletion events, 
the compounded duplication creates a DFW firewall section large enough to create noticeable delays during pod operations and, eventually, a pod `NotReady` state.  

**Workaround**  

To temporarily recover your `NotReady` pods, perform a rolling restart of your NSX Managers.  


<hr>


<% if vars.product_version == "COMMENTED"  %>
#### <a id="1-18-0-windows-guest-net"></a> oVM.Guest.Net Error on Windows Clusters

After upgrading to <%= vars.k8s_runtime_abbr %> v1.18.0, 
you observe Windows nodes that do not support pod scheduling.  


**Symptom**  

On the Windows node that doesn't support pod scheduling, 
the node's resources have an incorrect IP address and the 
taint `node.cloudprovider.kubernetes.io/uninitialized=true:NoSchedule` is missing. 
For a description of additional symptoms for this issue, see 
[oVM.Guest.Net Error on Windows Clusters](troubleshoot-issues.html#windows-guest-net) 
in _General Troubleshooting_.  

**Workaround**  

You must configure your base Windows OS image to expose Ethernet adapter information before building your BOSH Windows stemcell. 
For more information, see [Expose Ethernet Adapter Information on Worker Node VMs](create-vsphere-stemcell.html#expose-guest-net) 
in _Creating a Windows Stemcell for vSphere Using Stembuild_.  


<hr>
<% end %>


<br>
<br>
## <a id="management-console-1-18-0"></a> <%= vars.k8s_runtime_abbr %> Management Console <%= vars.product_version %>.0

**Release Date**: November 02, 2023

<%= vars.product_short %> Management Console provides an opinionated installation of <%= vars.k8s_runtime_abbr %>.  

<br>
### <a id="management-console-1-18-0-snapshot"></a>Product Snapshot  

<p class="note"><strong>Note</strong>: The component versions supported by <%= vars.k8s_runtime_abbr %> Management Console might differ from or be more limited than
    the versions supported by <%= vars.k8s_runtime_abbr %>.
</p>

<table class="nice">
    <tr>
        <th>Element</th>
        <th colspan=2>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td colspan=2><a href="https://customerconnect.vmware.com/downloads/info/slug/infrastructure_operations_management/vmware_tanzu_kubernetes_grid_integrated_edition/1_18" target="_blank">v1.18.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td colspan=2>November 02, 2023</td>
    </tr>
    <tr>
        <td>Installed <%= vars.k8s_runtime_abbr %> version</td>
        <td colspan=2>v1.18.0</td>
    </tr>
    <tr>
        <td>Installed Ops Manager version</td>
        <td>v3.0.18&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/release-notes.html#3-0-18" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <th>Component</th>
        <th colspan=2>Version</th>
    </tr>
    <tr>
        <td>Installed Kubernetes version</td>
        <td>v1.27.5&#42;</td>
        <td style="text-align: center;"><a href="https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.27.md#changelog-since-v1274" target="_blank">Release Notes</a></td>
    </tr>
    <tr>
        <td>Installed Harbor Registry version</td>
        <td><a href="https://network.pivotal.io/products/harbor-container-registry/#/releases/1371285" target="_blank">v2.9.0&#42;</a></td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/VMware-Harbor-Registry/services/vmware-harbor-registry/GUID-release-notes.html#v290-0">Release Notes</a></td>
    </tr>
    <tr>
        <td>Ubuntu Jammy stemcell</td>
        <td>v1.260&#42;</td>
        <td style="text-align: center;"><a href="https://docs.vmware.com/en/Stemcells-for-VMware-Tanzu/services/release-notes/stemcells.html#jammy-1-260" target="_blank">Release Notes</a></td>
    </tr>
</table>

<a id="management-console-1-18-0-component-updates"></a> &#42; Components marked with an asterisk have been updated.

<br>
### <a id="management-console-1-18-0-upgrade"></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> Management Console v1.18.0 are from
<%= vars.k8s_runtime_abbr %> MC v1.17.1 and v1.17.0.  


<br>
### <a id="management-console-1-18-0-features"></a>Features and Resolved Issues

<%= vars.k8s_runtime_abbr %> Management Console v1.18.0 includes the following enhancements:  

* NSX Only: Enhances `tkgi delete-cluster` reliability by increasing the default <%= vars.k8s_runtime_abbr %> Operation Timeout value from 60 seconds to 120 seconds. 
<%= vars.k8s_runtime_abbr %> MC also supports configuring the <%= vars.k8s_runtime_abbr %> Operation Timeout. 
For more information about configuring the <%= vars.k8s_runtime_abbr %> Operation Timeout from the <%= vars.k8s_runtime_abbr %> MC, 
see [Generate Configuration File and Deploy <%= vars.product_short %>](console-deploy-wizard.html#deploy) 
in _Deploy <%= vars.product_short %> by Using the Configuration Wizard_.  

<% if vars.product_version == "COMMENTED"  %>
<%= vars.k8s_runtime_abbr %> Management Console v1.18.0 includes the following features:  
<%= vars.k8s_runtime_abbr %> Management Console v1.18.0 resolves the following issues:  
<% end %>


<br>
### <a id="management-console-1-18-0-deprecations"></a> Deprecations

No <%= vars.k8s_runtime_abbr %> features have been deprecated 
or removed from <%= vars.k8s_runtime_abbr %> Management Console v1.18.  

<br>
### <a id="management-console-1-18-0-known-issues"></a> Known Issues

<%= vars.product_short %> Management Console v1.18.0 has the following known issues:  


<hr>

#### <a id="management-console-1-18-0-vrli-https"></a> vRealize Log Insight Integration Does Not Support HTTPS Connections

**Symptom**

The <%= vars.product_short %> Management Console integration to vRealize Log Insight does not support connections to the HTTPS port on the vRealize Log Insight server.

**Workaround**

1. Use SSH to log in to the <%= vars.product_short %> Management Console appliance VM.
1. Open the file `/lib/systemd/system/pks-loginsight.service` in a text editor.
1. Add `-e LOG_SERVER_ENABLE_SSL_VERIFY=false`.
1. Set `-e LOG_SERVER_USE_SSL=true`.

    The resulting file should look like the following example:

    ```
    ExecStart=/bin/docker run --privileged --restart=always --network=pks
    -v /var/log/journal:/var/log/journal
    --name=pks-loginsight
    -e TYPE=gear2-vm
    -e LOG_SERVER_HOST=${LOGINSIGHT_HOST}
    -e LOG_SERVER_PORT=${LOGINSIGHT_PORT}
    -e LOG_SERVER_ENABLE_SSL_VERIFY=false
    -e LOG_SERVER_USE_SSL=true
    -e LOG_SERVER_AGENT_ID=${LOGINSIGHT_ID}
    pksoctopus/vrli-journald:v07092019
    ```

1. Save the file and run `systemctl daemon-reload`.
1. To restart the vRealize Log Insight service, run `systemctl restart pks-loginsight.service`.

<%= vars.product_short %> Management Console can now send logs to the HTTPS port on the vRealize Log Insight server.

<hr>

#### <a id="management-console-1-18-0-vsphere-ha"></a> vSphere HA causes Management Console ovfenv Data Corruption

**Symptom**

If you enable vSphere HA on a cluster, if the TKGI Management Console appliance VM is running on a
host in that cluster, and if the host reboots, vSphere HA recreates a new TKGI Management Console
appliance VM on another host in the cluster. Due to an issue with vSphere HA, the `ovfenv` data for
the newly created appliance VM is corrupted and the new appliance VM does not boot up with the
correct network configuration.

**Workaround**

1. In the vSphere Client, right-click the appliance VM and select **Power** > **Shut Down Guest OS**.
1. Right-click the appliance again and select Edit Settings.
1. Select **VM Options** and click **OK**.
1. Verify under Recent Tasks that a `Reconfigure virtual machine` task has run on the appliance VM.
1. Power on the appliance VM.

<hr>

#### <a id="management-console-1-18-0-k8s-profile"></a> Base64 encoded file arguments are not decoded in Kubernetes profiles

**Symptom**

Some file arguments in Kubernetes profiles are base64 encoded. When the management console displays
the Kubernetes profile, some file arguments are not decoded.

**Workaround**

Run `echo "$content" | base64 --decode`

<hr>

#### <a id="management-console-1-18-0-network-profile"></a> Network profiles not immediately selectable

**Symptom**

If you create network profiles and then try to apply them in the Create Cluster page, the new
profiles are not available for selection.

**Workaround**

Log out of the management console and log back in again.

<hr>

#### <a id="management-console-1-18-0-cluster-summary"></a> Real-Time IP information not displayed for network profiles

**Symptom**

In the cluster summary page, only default IP pool, pod IP block, node IP block values are displayed,
rather than the real-time values from the associated network profile.

**Workaround**

None

<hr>
#### <a id="management-console-1-18-0-harbor-storage-config"></a> Error After Modifying Your Harbor Storage Configuration

**Symptom**

You receive the following error after modifying your existing Harbor installation's storage configuration:

```
Error response from daemon: manifest for ... not found: manifest unknown: manifest unknown
```

**Explanation**

Harbor does not support modifying an existing Harbor installation's storage configuration.

**Workaround**

To modify your Harbor storage configuration,
re-install Harbor. Before starting Harbor, configure the new Harbor installation with the desired configuration.

<hr>

#### <a id="management-console-1-18-0-re-import-windows-stemcell"></a> Windows Stemcells Must be Re-Imported After Upgrading Ops Manager

**Symptom**

After upgrading Ops Manager, your Management Console does not recognize a Windows stemcell imported
when using the prior version of Ops Manager.

**Workaround**

If your Management Console does not recognize a Windows stemcell after upgrading Ops Manager:

1. Re-import your previously imported Windows stemcell.
2. **Apply Changes** to <%= vars.k8s_runtime_abbr %> MC.

<hr>

#### <a id="management-console-1-18-0-cluster-group-name"></a> Your New Clusters Are Not Shown In Tanzu Mission Control

**Symptom**

After you create a cluster, Tanzu Mission Control does not include the cluster in cluster lists.
You have a "_Resource not found_" error similar to the following in your BOSH logs:

```
Cluster Name in TMC: cluster-1
Cluster Name Prefix: tkgi-my-prefix-
Group Name in TMC: my-prefix-clusters
Cluster Description in TMC: VMware Enterprise PKS Attaching cluster ''tkgi-my-prefix-cluster-1'' to TMC
Fetching token successful
request POST:/v1alpha1/clusters,
response 404 Not Found:{"error":"Resource not found - clustergroup(my-prefix-clusters)
org id(d859dc9f-g622-426d-8c91-939a9f13dea9)",
"code":5,"message":"Resource not found - clustergroup(my-prefix-clusters)
```

**Explanation**

The cluster group you assign a cluster to must be defined in Tanzu Mission Control
before you assign your cluster to the cluster group in the <%= vars.k8s_runtime_abbr %> Management Console.

**Workaround**

To resolve the problem, complete the steps in
[Attaching a Tanzu Kubernetes Grid Integrated (TKGI) cluster to Tanzu Mission Control (TMC) fails with "Resource not found - clustergroup(cluster-group-name)"](https://community.pivotal.io/s/article/tkgi-tmc-attach-fail)
in the VMware Tanzu Knowledge Base.

<hr>




