---
title: Release Notes
owner: TKGI
topictype: releasenotes
---



This topic contains release notes for <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) v1.13.

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to <%= vars.product_short %> v1.13,
review the <a href="#1-13-0-breaking-changes">Breaking Changes</a> below.
</p>

## <a id="1-13-0"></a><%= vars.k8s_runtime_abbr %> v1.13.0

**Release Date**: November 30, 2021

### <a id='1-13-0-snapshot'></a><a id='product-snapshot'></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Release</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.13.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 30, 2021</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Antrea</td>
        <td>v1.2.2&#42;</td>
    </tr>
    <tr>
        <td>cAdvisor</td>
        <td>v0.39.1</td>
    </tr> 
    <tr>
        <td>Containerd for Linux</td>
        <td>v1.5.7&#42;</td>
    </tr>
    <tr>
        <td>CoreDNS</td>
        <td>v1.8.4+vmware.4&#42;</td>
    </tr>
    <tr>
        <td>CSI Driver for vSphere</td>
        <td>v2.3.0</td>
    </tr>
    <tr>
        <td>Docker</td>
        <td>Linux: v20.10.9&#42;<br>Windows: v20.10.7</td>
    </tr>
    <tr>
        <td>etcd</td>
        <td>v3.5.0&#42;</td>
    </tr>
    <tr>
        <td>Harbor</td>
        <td>v2.4.0&#42;</td>
    </tr>
    <tr>
        <td>Kubernetes</td>
        <td>v1.22.2&#42;</td>
    </tr>
    <tr>
        <td>Metrics Server</td>
        <td>v0.5.0&#42;</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><a href="https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.2/rn/NSX-Container-Plugin-320-Release-Notes.html">v3.2.0&#42;</a></td>
    </tr>
    <tr>
        <td>Percona XtraDB Cluster (PXC)</td>
        <td>v0.39.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v74.5.26&#42;</td>
    </tr>
    <tr>
        <td>Velero</td>
        <td><a href="https://customerconnect.vmware.com/downloads/get-download?downloadGroup=VELERO-163">v1.6.3&#42;</a></td>
    </tr>
    <tr>
        <td>VMware Cloud Foundation (VCF)</td>
        <td>v4.3.1</td>
    </tr>
    <tr>
        <td>Wavefront</td>
        <td>Wavefront Collector: v1.6.0<br>Wavefront Proxy: v10.7</td>
    </tr>
    <tr>
        <th>Compatibilities</th>
        <th>Versions</th>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/950934"><%= vars.product_network %></a>.</td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td rowspan=2>See <a href="https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=true&isHideTechSupported=true&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644&row=0,">VMware Product Interoperability Matrices&#42;&#42;&#42;</a>.</td></td>
        <%# All versions link: https://interopmatrix.vmware.com/#/Interoperability?isHideGenSupported=true&isHideTechSupported=true&isHideCompatible=false&isHideIncompatible=false&isHideNTCompatible=false&isHideNotSupported=true&isCollection=false&col=644&row=0, #%>
    </tr>
    <tr>
        <td>vSphere</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.37 or later</td>
    </tr>
    <tr>
        <td>Xenial stemcells</td>
        <td>See <a href="https://network.pivotal.io/products/pivotal-container-service/#/releases/950934"><%= vars.product_network %></a>.</td>
    </tr>
</table>

<a id="1-13-0-component-updates"></a>&#42; Components marked with an asterisk have been updated.  
&#42;&#42; To use Policy API features, you must use NSX-T v3.1.3.

### <a id='1-13-0-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.k8s_runtime_abbr %> v1.13.0 are from <%= vars.product_short %> v1.12.1 and earlier.

### <a id="1-13-0-breaking-changes"></a>Breaking Changes

<%= vars.k8s_runtime_abbr %> v1.13.0 has the following breaking changes:

* Kubernetes has been upgraded to Kubernetes v1.22:

    * Kubernetes v1.22 no longer serves the `rbac.authorization.k8s.io/v1beta1`, `extensions/v1beta1`, and `networking.k8s.io/v1beta1` API versions. 
    * Kubernetes v1.22 now serves the CertificateSubjectRestriction (CSR) admission plugin `certificates.k8s.io/v1` API version and no longer accepts `v1beta1`.
        * Your CSR configuration must denote a signer in a `spec.signerName` field.  
        * Your CSR configuration must include a `spec.usages` field.  
        * The CSR admission plugin restricts the `system:master` group.  
    
    For more information about the features and deprecations in Kubernetes 1.22, see 
    [Kubernetes API and Feature Removals In 1.22: Here’s What You Need To Know](https://kubernetes.io/blog/2021/07/14/upcoming-changes-in-kubernetes-1-22/), 
    [Deprecated API Migration Guide: 1.22](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) or 
    [Kubernetes 1.22: Reaching New Peaks](https://kubernetes.io/blog/2021/08/04/kubernetes-1-22-release-announcement/) 
    in the Kubernetes documentation.  
    
    
* Telegraf has been upgraded to Telegraf v1.20.2:

    * Previous versions of <%= vars.k8s_runtime_abbr %> have used Telegraf v1.12.3. 
    For information on the differences between the Telegraf v1.12.3 and v1.20.2 releases, 
    see [Telegraf 1.20 release notes](https://docs.influxdata.com/telegraf/v1.20/about_the_project/release-notes-changelog/) 
    and the release notes for earlier Telegraf versions in the Telegraf documentation.  

### <a id="1-13-0-features"></a>Features

<%= vars.k8s_runtime_abbr %> v1.13.0 has the following features and enhancements:

#### <a id="1-13-0-policy-api"></a>Supports NSX-T Policy API

Supports NSX-T Policy API for new installations. 
See [Considerations for Using the NSX-T Policy API with TKGI](./nsxt-policy-api-considerations.html) and 
[Networking](./installing-nsx-t.html#networking) in _Installing Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T_.  



#### <a id="1-13-0-enhancements"></a>Additional Features
<%= vars.k8s_runtime_abbr %> v1.13.0 includes the following additional features:  

* **[Security Feature]** Passes additional CIS Kubernetes Benchmarks:  
    * **1.2.23**: Ensure that the `--audit-log-maxage` is set as appropriate.  
    * **1.2.24**: Ensure that the `--audit-log-maxbackup` is set as appropriate.  
    * **1.2.25**: Ensure that the `--audit-log-maxsize` is set as appropriate.  
    
    For more information, see [CIS Kubernetes Benchmarks](./security.html#benchmarks).  
* The Network Policy `NodePortLocal`, `NetworkPolicyStats`, and `FlowExporter` configurations default to `TRUE` 
when using the Antrea CNI.  


### <a id="1-13-0-bug-fixes"></a>Resolved Issues
<%= vars.k8s_runtime_abbr %> v1.13.0 has the following resolved issues:

* Fixes [Creating a New Cluster Fails With the Error 'IP Is Already Allocated’](https://docs.pivotal.io/tkgi/1-12/release-notes.html#1-12-0-create-cluster-ip-already-allocated).  
* Fixes [The <%= vars.k8s_runtime_abbr %> CLI is Unable to Run Simultaneous Commands](https://docs.pivotal.io/tkgi/1-12/release-notes.html#1-12-0-blocking-simultaneous-commands).  
* Fixes [The <%= vars.control_plane %> FQDN Must Not Include Trailing Whitespace](https://docs.pivotal.io/tkgi/1-11/release-notes.html#1-11-0-whitespace-pksapi).
* Fixes infrequent occurrences of `error: kubectl: unbound variable` while creating multiple clusters simultaneously.  

<%#
* Fixes [](https://docs.pivotal.io/tkgi/1-12/release-notes.html#).  
 #%>

### <a id="1-13-0-deprecations"></a> Deprecations

The following <%= vars.k8s_runtime_abbr %> features have been deprecated or removed from <%= vars.k8s_runtime_abbr %> v1.13:

* **Manual vSphere CSI Driver Installation Support**: Support for manually installing the vSphere CSI Driver 
has been deprecated and support will be entirely removed in <%= vars.k8s_runtime_abbr %> v1.14. 
For information on automatic vSphere CSI Driver installation, see 
[Deploying and Managing Cloud Native Storage (CNS) on vSphere](vsphere-cns.html).  

<%#* Support for `` has been removed and can no longer be configured in the < %= vars.k8s_runtime_abbr % > tile. #%>

#### <a id="1-13-0-upcoming-deprecations"></a> Upcoming Deprecations

The following <%= vars.k8s_runtime_abbr %> features will be deprecated or removed in future versions of <%= vars.k8s_runtime_abbr %>:

* **Flannel Support**: Support for the Flannel Container Networking Interface (CNI) is deprecated.
VMware recommends that you upgrade your Flannel CNI-configured clusters to the Antrea CNI.
For more information about Flannel CNI deprecation, see
[About Upgrading from the Flannel CNI to the Antrea CNI](understanding-upgrades.html#cni)
in _About Tanzu Kubernetes Grid Integrated Edition Upgrades_.

* **Docker Support**: kubelet support for Docker images has been deprecated and Docker support will
be entirely removed in Kubernetes v1.24. <%= vars.k8s_runtime_abbr %> v1.12 and later support containerd images.  

* **VCP Support**: VCP support has been deprecated and support will be entirely removed in a
future <%= vars.k8s_runtime_abbr %> version. 

<%#
* **Management API**: Management API will be deprecated and later replaced with Policy API in future <%= vars.k8s_runtime_abbr %
> versions. VMware does not recommend that you use Management API
in future <%= vars.k8s_runtime_abbr %
> versions.  
#%>

###<a id='1-13-0-known-issues'></a>Known Issues

<%= vars.k8s_runtime_abbr %> v1.13.0 has the following known issues.  

For Known Issues in NCP v3.2.0, see 
[NSX Container Plugin 3.2.0 Release Notes](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/3.2/rn/NSX-Container-Plugin-320-Release-Notes.html).  

<hr>
#### <a id="1-13-0-cannot-update-dedicated-tier1"></a> <%= vars.k8s_runtime_abbr %> Does Not Support Updating Dedicated Tier 1 Clusters

<%= vars.k8s_runtime_abbr %> does not support updating dedicated Tier 1 clusters. 
You can use a Network Profile to create a dedicated Tier 1 cluster, but you cannot use `tkgi update-cluster` to update the cluster afterward.

<hr>


## <a id="management-console-1-13-0"></a> <%= vars.k8s_runtime_abbr %> Management Console v1.13.0

**Release Date**: November 11, 2021

<p class="note"><strong>Note</strong>: <%= vars.product_short %> Management Console provides an opinionated
    installation of <%= vars.k8s_runtime_abbr %>. The supported versions may differ from or be more limited than
    what is generally supported by <%= vars.k8s_runtime_abbr %>.
</p>

### <a id="management-console-1-13-0-snapshot"></a>Product Snapshot

<table class="nice">
    <tr>
        <th>Element</th>
        <th>Details</th>
    </tr>
    <tr>
        <td>Version</td>
        <td>v1.13.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 30, 2021</td>
    </tr>
    <tr>
        <td>Installed Tanzu Kubernetes Grid Integrated Edition version</td>
        <td>v1.13.0</td>
    </tr>
    <tr>
        <td>Installed Ops Manager version</td>
        <td>v2.10.16</td>
    </tr>
    <tr>
        <th>Component</th>
        <th>Version</th>
    </tr>
    <tr>
        <td>Installed Kubernetes version</td>
        <td>v1.21.3</td>
    </tr>
    <tr>
        <td>Installed Harbor Registry version</td>
        <td>v2.3.1</td>
    </tr>
    <tr>
        <td>Linux stemcell</td>
        <td>v621.141</td>
    </tr>
    <tr>
        <td>Windows stemcells</td>
        <td>v2019.37 and later</td>
    </tr>
</table>
<a id="management-console-1-13-0-component-updates"></a>&#42; Components marked with an asterisk have been updated.

### <a id='management-console-1-13-0-upgrade'></a>Upgrade Path

The supported upgrade path to <%= vars.product_short %> Management Console v1.13.0 is from
<%= vars.product_short %> v1.12.0 and later.  

### <a id="management-console-1-13-0-features"></a>Features and Resolved Issues

<%= vars.k8s_runtime_abbr %> Management Console v1.13.0 has the following features and enhancements:

<%= vars.k8s_runtime_abbr %> Management Console v1.13.0 has the following resolved issues:


### <a id="management-console-1-13-0-deprecations"></a> Deprecations

The following <%= vars.k8s_runtime_abbr %> features have been deprecated or removed from <%= vars.k8s_runtime_abbr %> Management Console v1.13:

<%#* Support for `` has been removed and can no longer be configured in the < %= vars.k8s_runtime_abbr % > tile. #%>

### <a id="management-console-1-13-0-known-issues"></a> Known Issues

The <%= vars.product_short %> Management Console v1.13.0 has the following known issues:


<hr>
#### <a id="management-console-1-13-0-multi-data-center"></a> <%= vars.k8s_runtime_abbr %> Management Console Does Not Support Multi-Data Center Environments

You cannot use the <%= vars.k8s_runtime_abbr %> MC to configure or deploy <%= vars.k8s_runtime_abbr %> in an environment with multiple data centers.

<hr>
