---
title: Enterprise PKS Release Notes
owner: PKS
topictype: releasenotes
---

<strong><%= modified_date %></strong>

This topic contains release notes for <%= vars.product_full %> v1.6.0.

<p class="note warning"><strong>Warning:</strong> Before installing or upgrading to <%= vars.product_short %> v1.6.0, 
review the <a href="#1-6-0-breaking-changes">Breaking Changes</a>, below.
</p>

## <a id='1.6.0-rc.1'></a> v1.6.0-rc.1

**Release Date**: November 14, 2019

### <a id='1-6-0-rc.1-features'></a>Features

New features and changes in this release:

* Enables operators to upgrade multiple Kubernetes clusters simultaneously and
to designate specific upgrade clusters as canary clusters.
For more information about multiple cluster upgrades, see
[Upgrade Clusters](upgrade-clusters.html#upgrade-clusters) in _Upgrading Clusters_.
* Adds a new UAA scope, `pks.clusters.admin.read`, for <%= vars.product_short %> users.
For information about UAA scopes,
see [UAA Scopes for <%= vars.product_short %> Users](uaa-scopes.html) and [Managing <%= vars.product_short %> Users with UAA](manage-users.html).
* Provides experimental integration with Tanzu Mission Control on a per-plan basis. For more information, see [Tanzu Mission Control Integration](./installing-nsx-t.html#tmc).
* Enables operators to limit the total number of clusters a user can provision in <%= vars.product_short %>.
For more information about quotas, see [Managing Resource Usage with Quotas](resource-usage.html) and [Viewing Usage Quotas](resource-review.html).
* Enables operators to configure a single Kubernetes cluster with a specific Docker
Registry CA certificate. For more information about configuring a cluster with a Docker
Registry CA certificate, see [Configuring PKS Clusters with Private Docker Registry CA Certificates (Beta)]
(docker-custom-ca-certs.html).
* Updates the `pks delete-cluster` PKS CLI command so that all cluster objects, including NSX-T networking objects, are deleted without the need to use the `bosh delete deployment` command to remove failed cluster deletions.
* Updates the **Worker VM Max in Flight** default value from `1` to `4`,
accelerating cluster creation and cluster upgrades by allowing up to four new nodes to be provisioned simultaneously.
The updated default value is applied during new <%= vars.product_short %> installation
and is not applied during an <%= vars.product_short %> upgrade.
If you are upgrading <%= vars.product_short %> from a previous version and want to enable multi-cluster provisioning,
see [Configure Worker VM Max in Flight](upgrade-pks.html#configure-max-in-flight)
in the _Upgrade Preparation Checklist for <%= vars.product_short %> v1.6_ topic.
* Redesigns the **Logging** and **Monitoring** panes of the <%= vars.product_tile %> tile
and renames them to **Host Monitoring** and **In-Cluster Monitoring**. For information about configuring these panes, see
the _Installing <%= vars.product_short %>_ topic for your IaaS.
* Adds the **Max Message Size** field in the **Host Monitoring** pane. 
This allows you to configure the maximum number of characters of a log message that is forwarded to a syslog endpoint. 
This feature helps ensure that log messages are not truncated at the syslog endpoint. 
By default, the **Max Message Size** field is 10,000 characters. 
For more information, see [Host Monitoring](installing-pks-vsphere.html#syslog) in the _Installing <%= vars.product_short %>_ topic for your IaaS.  
* Adds the **Include kubelet metrics** setting. This enables operators to collect workload metrics across all Kubernetes clusters.
For more information, see [Host Monitoring](installing-pks-vsphere.html#syslog) in the _Installing <%= vars.product_short %>_ topic for your IaaS.
* Adds support for Fluent Bit output plugins to log sinks.
For information about configuring Fluent Bit output plugins, see [Create a ClusterLogSink or LogSink Resource with a Fluent Bit Output Plugin](create-sinks.html#fluentbit-output-plugin)
in _Creating Sink Resources_.
* Adds support for filtering logs and events from a `ClusterLogSink` or `LogSink` resource. For more information, see [Filter Sinks](create-sinks.html#filter-log-sinks) in _Creating Sink Resources_.  
* Adds support for floating Windows stemcells on vSphere.
For information about Kubernetes clusters with Windows workers in <%= vars.product_short %>,
see [Configuring Windows Worker-Based Kubernetes Clusters (Beta)](windows-pks-beta.html).
* Enables operators to configure the location of the Windows pause image.
For information about configuring **Kubelet customization - Windows pause image location**, see
[Plans](windows-pks-beta.html#plans) in _Configuring Windows Worker-Based Kubernetes Clusters (Beta)_.
* NSX Error CRD lets cluster managers and users view NSX errors in Kubernetes resource annotations, and use the command `kubectl get nsxerror` to view the health status of NSX-T cluster networking objects (NCP v2.5.0+). For more information,
see [Viewing the Health Status of Cluster Networking Objects (NSX-T only)](nsxt-health.html).
* DFW log control for dropped traffic lets cluster administrators define network profile to turn on logging and log any dropped or rejected packet by NSX-T distributed firewall rules (NCP v2.5.0+). For more information,
see [Defining Network Profiles for NCP Logging](network-profiles-ncp-logerr.html).
* Load balancer and ingress resource capacity observability using the NSXLoadBalancerMonitor CRD lets cluster managers and users use the command `kubectl get nsxLoadBalancerMonitors` to view a health score that reflects the current performance of the NSX-T load balancer service, including usage, traffic, and current status (NCP v2.5.1+). For more information,
see [Ingress Scaling (NSX-T only)](nsxt-ingress-scale.html).
* Ingress scale out using the LoadBalancer CRD lets cluster managers scale out the NSX-T load balancer for ingress routing (NCP v2.5.1+). For more information, see [Ingress Scaling (NSX-T only)](nsxt-ingress-scale.html).
* Support for HTTP to HTTPS redirect provides cluster managers and users with the ability to redirec HTTP requests to HTTPS using the ingress resource annotation `ncp/http-redirect: "true"` (NCP v2.5.1+). For more information, see [HTTPS Redirect (NSX-T only)](nsxt-https-redirect.html).
* Support for Active–Active Tier-0 router configuration when using a Shared-Tier-1 topology.
* Ability to place the load balancer and Tier-1 Active/Standby routers on different fault domains.
* NCP v2.5.1 includes the following NSX-T bug fixes:
  * PKS clusters upgrade errand not pushing the latest NSX-T certificate to Kubernetes Master nodes.
  * PKS OSB Proxy takes a long time to start due to scanning all NSX-T firewall rules.
  * PKS released floating IP addresses incompletely while deleting clusters under active/active mode.
  * DNS Lookup Feature: INGRESS IP not kept out of PKS Floating IP pool.
  * The command `pks cluster details` does not display NS Group ID of master VMs.
  * Check the high availability mode of T0 router before creating PKS cluster.
* Enables administrators to name the Enterprise PKS installation in the Telemetry report.
* Bumps Kubernetes to v1.15.5.
* Bumps UAA to v73.4.8.
* Includes the following bug fixes:
  * Bumps Jackson dependencies in the PKS API.
  * Increases `network_profile` column size.
  * Fixes a Telemetry event generation issue where the `upgrade_cluster_end` event is not sent for completed cluster upgrades.  
  * Fixes an issue where networking changes did not propagate when upgrading from <%= vars.product_short %> v1.5 or later.  
  * Fixes an issue where the Ingress IP address was excluded from the <%= vars.product_short %> floating IP pool.  
  * Fixes an issue where the PKS OSB Proxy start was delayed by scanning all NSX-T firewall rules.  

### <a id='1-6-0-snapshot'></a>Product Snapshot

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v1.6.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>November 14, 2019</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager versions <sup>&#42;</sup> </td>
        <td><%= vars.ops_man_version_2_6 %> or <%= vars.ops_man_version_2_7 %></td>
    </tr>
    <tr>
        <td>Xenial stemcell version</td>
        <td>v456.51</td>
    </tr>
    <tr>
        <td>Windows stemcell version</td>
        <td>v2019.7</td>
    </tr>
    <tr>
        <td>Kubernetes version</td>
        <td>v1.15.5</td>
    </tr>
    <tr>
        <td>On-Demand Broker version</td>
        <td>v0.29.0</td>
    </tr>
    <tr>
        <td>NSX-T versions</td>
        <td>v2.5.0, v2.4.2 (<a href="./release-notes.html#nsxt-242">see below</a>), v2.4.1, v2.4.0.1</td>
    </tr>
    <tr>
        <td>NCP version</td>
        <td>v2.5.1</td>
    </tr>
    <tr>
        <td>Docker version</td>
        <td>v18.09.8</td>
    </tr>
    <tr>
        <td>Backup and Restore SDK version</td>
        <td>v1.17.0</td>
    </tr>
    <tr>
        <td>UAA</td>
        <td>v73.4.8</td>
    </tr>
   </tr>
</table>

### <a id='1-6-0-console-snapshot'></a>VMware Enterprise PKS Management Console Product Snapshot

<p class="note"><strong>Note</strong>: The Management Console BETA provides an opinionated installation of <%= vars.product_short %>. The supported versions list may differ from or be more limited than what is generally supported by <%= vars.product_short %>.</p>

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
      <td>Version</td>
      <td>v0.9 - This feature is a beta component and is intended for evaluation and test purposes only.</td>
    </tr>
    <tr>
      <td>Release date</td>
      <td>August 22, 2019</td>
    </tr>
    <tr>
      <td>Installed Enterprise PKS version</td>
      <td>v1.6.0</td>
    </tr>
    <tr>
      <td>Installed Ops Manager version</td>
      <td>v2.6.5</td>
    </tr>
    <tr>
      <td>Installed Kubernetes version</td>
        <td>v1.14.5</td>
    </tr>
    <tr>
      <td>Supported NSX-T versions</td>
      <td>v2.4.1, v2.4.2 (<a href="./release-notes.html#nsxt-242">see below</a>)</td>
    </tr>
    <tr>
      <td>Installed Harbor Registry version</td>
      <td>v1.8.1</td>
    </tr>
</table>


### <a id='vsphere-reqs'></a> vSphere Version Requirements

For <%= vars.product_short %> installations on vSphere or on vSphere with NSX-T Data Center, refer to the <a href="https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=">VMware Product Interoperability Matrices</a>.</p>

### <a id='1-6-0-upgrade'></a>Upgrade Path

The supported upgrade paths to <%= vars.product_short %> v1.6.0 are from <%= vars.product_short %> v1.5.0 and later.

<p class="note"><strong>Note:</strong> Windows worker support is BETA. There is no upgrade support from PKS v1.5 to v1.6 for Windows worker nodes.</p>

### <a id='1-6-0-breaking-changes'></a>Breaking Changes

<%= vars.product_short %> v1.6.0 has the following breaking changes:

#### <a id='1-6-0-sink-cli-deprecation'></a> <%= vars.product_short %> Removes Sink Commands in the PKS CLI

<%= vars.product_short %> removes the following <%= vars.product_short %> Command Line Interface (PKS CLI) commands:

* `pks create-sink`
* `pks sinks`
* `pks delete-sink`

You can use the following Kubernetes CLI commands instead:

* `kubectl apply -f YOUR-SINK.yml`
* `kubectl get clusterlogsinks`
* `kubectl delete clusterlogsink YOUR-SINK`

For more information about defining and managing sink resources,
see [Creating Sink Resources](create-sinks.html).

#### <a id='api-endpoints'></a> Changes to PKS API Endpoints

This release moves the `clusters`, `compute-profiles`, `quotas`, and `usages` PKS API endpoints from `v1beta1` to `v1`.
`v1beta1` is no longer supported for these endpoints. You must use `v1`.
For example, instead of `https://YOUR-PKS-API-FQDN:9021/v1beta1/quotas`, use `https://YOUR-PKS-API-FQDN:9021/v1/quotas`.

### <a id='1-6-0-known-issues'></a> Known Issues

<%= vars.product_short %> v1.6.0 has no known issues.  

### <a id='1-6-0-known-issues-management-console'></a> Enterprise PKS Management Console Known Issues

<%= vars.product_short %> Management Console v0.9.0 appliance and user interface has no known issues.
