---
title: Viewing Usage Quotas
owner: TKGI
---

<%= partial 'beta-component' %>

This topic describes how to review your resource usage 
and quotas in <%= vars.product_full %> using 
the <%= vars.product_short %> API.  

## <a id="overview"></a> Overview

Your <%= vars.product_short %> administrator might set a limit on
the number of clusters you can provision and  
the resources, such as amount of memory and number of CPUs, 
that are allocated in total to any clusters you create and workloads you deploy. 

The resource quota limitations are based on the total allocated size 
of the VM instances you create, not their actual utilization. 

By using the <%= vars.control_plane %>, you can check the resource and cluster 
limitations that the administrator has assigned to you as well as 
review your current usage.
    
## <a id='set-token'></a> Set up Your API Access Token

The curl commands in this topic use an access token environment variable to 
authenticate to the <%= vars.control_plane %> endpoints.

<%= partial 'create-auth-token-var' %>

## <a id='quota-dev'></a> View Quotas

The <%= vars.control_plane %> `quotas` endpoint returns your resource usage and cluster quota in the JSON format.

To view your resource and cluster quota, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR-ACCESS-TOKEN" \
https://TKGI-API:9021/v1/quotas/USER-ID
```

Where:

* `YOUR-ACCESS-TOKEN` is your access token environment variable.  
* `TKGI-API` is the FQDN of your <%= vars.control_plane %> endpoint. For example, `api.tkgi.example.com`.  
* `USER-ID` is your <%= vars.product_short %> user ID.

For example:
<pre class="terminal">
$ user=exampleuser<br>
$ tkgi login -a tkgi.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)<br>
$ curl -k -H "Authorization: Bearer $TOKEN" \ <br>
https&#58;//example.com&#58;9021/v1/quotas/$user <br>
{<br>
  "owner":"cody",<br>
  "limit":{<br>
      "cpu":2,<br>
      "memory":1.0,<br>
      "cluster": 6<br>
  }<br>
}<br>
</pre>

## <a id='usage-dev'></a> View Usage

The <%= vars.control_plane %> `usages` endpoint reports your actual resource usage in the JSON format.

To view your current allocated resource usage, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR-ACCESS-TOKEN" \
https://TKGI-API:9021/v1/usages/USER-ID
```

Where:

* `YOUR-ACCESS-TOKEN` is your access token environment variable.  
* `TKGI-API` is the FQDN of your <%= vars.control_plane %> endpoint. For example, `api.tkgi.example.com`.  
* `USER-ID` is your <%= vars.product_short %> user ID.

For example:
<pre class="terminal">
$ user=exampleuser<br>
$ tkgi login -a tkgi.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)<br>
$ curl -k -H "Authorization: Bearer $TOKEN" \ <br>
https&#58;//example.com&#58;9021/v1/usages<br>
[<br>
  {<br>
    "owner": "cody",<br>
    "totals": {<br>
      "cpu": 2,<br>
      "memory": 1,<br>
      "cluster": 2<br>
    },<br>
  }<br>
]<br>
</pre>

## <a id="error"></a> Error Message When You Exceed Cluster Quota

If you exceed your set cluster creation quota, then 
the following error message 
appears when you attempt to create a cluster.

<pre class="terminal">
Error: You do not have enough privileges to perform this action. <br>
Please contact the <%= vars.k8s_runtime_abbr %> administrator.<br>
</pre>