---
title: Viewing Usage Quotas
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to review your VM resource usage and quotas in <%= vars.product_full %> 
using the  <%= vars.product_short %>  API.  

Your <%= vars.product_short %> administrator might set maximum VM memory and vCPU count limits on your VM instances. 
This quota limitation is based on the total allocated size of the VM instances you create, not their actual utilization. 

By using the  PKS API, you can determine the size limitations that 
your administrator has assigned to you and your current usage. 
    
<%= partial 'beta-component' %>

## <a id='set-token'></a> Set up Your API Access Token

The <%= vars.product_short %> Quota and Resource API commands in this topic use an 
access token environment variable.

<%= partial 'create-auth-token-var' %>

## <a id='quota-dev'></a> View Quotas

The PKS API `quotas` command reports your resource utilization quota as JSON.

To view your resource quota, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR-ACCESS-TOKEN" \
https://PKS-API:9021/v1beta1/quotas/USER-ID
```

Where:

* `YOUR-ACCESS-TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint. For example, `api.pks.example.com`.
* `USER-ID` is your <%= vars.product_short %> user ID.

## <a id='usage-dev'></a> View Usage

The PKS API `usages` command reports your resource utilization as JSON.

To view your current allocated resource utilization, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR-ACCESS-TOKEN" \
https://PKS-API:9021/v1beta1/usages/USER-ID
```

Where:

* `YOUR-ACCESS-TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint. For example, `api.pks.example.com`.
* `USER-ID` is your <%= vars.product_short %> user ID.
