---
title: Managing Resource Usage by Users with Quotas
owner: PKS
---

<strong><%= modified_date %></strong>

<%= partial 'beta-component' %>

This topic describes how to control and view the usage of 
<%= vars.product_full %> resources by <%= vars.product_short %> users.

## <a id="overview"></a> Overview

You manage resources in <%= vars.product_short %> 
by setting quotas for users with the PKS API.

As a <%= vars.product_short %> administrator, 
you can set a limit on each user's total VM resource allocation.  

The quotas API endpoint allows you to restrict 
a user's total allocated VM memory size and CPU count. 
You can also review existing quota settings for a specific user 
and review their overall resource usage.

<p class="note"><strong>Note</strong>: 
Quota settings affect only non-admin user accounts. 
A quota applied to an admin user account is ignored.</p>

## <a id='quota-admin'></a> Set up Your API Access Token

The curl commands in this topic use an access token environment variable to 
authenticate into the PKS API quotas and usages endpoints.

<%= partial 'create-auth-token-var' %>

## <a id='quota-admin'></a> Manage Quotas

This section describes how to add, modify and delete user quotas.

### <a id='quota-add'></a> Add a Quota

To enforce a quota on a specific user, run the following command:

```
curl -k -X POST \
-H "Authorization: Bearer $YOUR_ACCESS_TOKEN" \
-H "Content-Type: application/json" \
-d \
'{ 
    "owner": "USER-ID",
    "limit": { 
      "cpu": MAX-CPU, 
      "memory": MAX-MEM,
      "cluster": MAX-CLUSTER
      } 
    }' \
https://PKS-API:9021/v1beta1/quotas
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `USER-ID` is the user account ID to enforce the quota restriction on.
* `MAX-CPU` is the maximum total amount of CPU resources the user can allocate to containers and pods.
* `MAX-MEM` is the maximum total amount of memory, in gigabytes, the user can allocate to containers and pods.
* `MAX-CLUSTER` is the maximum number of clusters that the user can provision. This value must greater than or equal to `1`.
* `PKS-API` is the FQDN of your PKS API endpoint. 

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -X POST \
-H "Authorization: Bearer $TOKEN" \
-H "Content-Type: application/json" \
-d \
'{
    "owner": "cody",
    "limit": {
        "cpu": 4,
        "memory": 5,
        "cluster": 10
    }
  }' \
https&#58;//example.com&#58;9021/v1beta1/quotas
</pre>

### <a id='quota-modify'></a> Modify an Existing Quota

To modify a specific user's existing quota, run the following command:

```
curl -k -X PATCH  \ 
-H "Authorization: Bearer $YOUR_ACCESS_TOKEN" \
-H "Content-Type: application/json" \
-d \
'{ 
    "owner": "USER-ID", 
    "limit": { 
      "cpu": MAX-CPU, 
      "memory": MAX-MEM,
      "cluster": MAX-CLUSTER    
      } 
    }' \
https://PKS-API:9021/v1beta1/quotas/USER-ID
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `USER-ID` is the user account ID to enforce the quota restriction on.
* `MAX-CPU` is the maximum total amount of CPU resources the user can allocate to containers and pods.
* `MAX-MEM` is the maximum total amount of memory, in gigabytes, the user can allocate to containers and pods.
* `MAX-CLUSTER` is the maximum number of clusters that the user can provision. This value must greater than or equal to `1`.
* `PKS-API` is the FQDN of your PKS API endpoint. For example, `api.pks.example.com`.

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -X PATCH \
-H "Authorization: Bearer $TOKEN" \
-H "Content-Type: application/json" \
-d \
'{ 
    "owner": "cody", 
    "limit": {  
        "cpu": 2, 
        "memory": 3,
        "cluster": 6
    }
  }' \
https&#58;//example.com&#58;9021/v1beta1/quotas/$user
</pre>

### <a id='quota-delete'></a> Delete a Quota

To delete a specific user's existing quota, run the following command:

```
curl -k -X DELETE -H "Authorization: Bearer $YOUR_ACCESS_TOKEN" \
https://PKS-API:9021/v1beta1/quotas/USER-ID
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint.
* `USER-ID` is the user account ID to enforce the quota restriction on.

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -X DELETE -H "Authorization: Bearer $TOKEN" https&#58;//example.com&#58;9021/v1beta1/quotas/$user
$ curl -k -X DELETE -H "Authorization: Bearer $TOKEN" https&#58;//example.com&#58;9021/v1beta1/quotas/$user
{
  "body":"The quota owner named: \"exampleuser\" not found."
}
</pre>

## <a id='quota-view-admin'></a> View Quotas

The PKS API `quotas` endpoint reports resource utilization quotas as JSON.

To list the resource quota restrictions currently applied to a single user, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR_ACCESS_TOKEN" \
https://PKS-API:9021/v1beta1/quotas/USER-ID
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint. 
* `USER-ID` is the user account ID to report on.  

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -H "Authorization: Bearer $TOKEN" \
https&#58;//example.com&#58;9021/v1beta1/quotas/$user 
{
  "owner":"cody",
  "limit":{
      "cpu":2,
      "memory":1.0
  }
}
</pre>


To list all current resource quota restrictions, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR_ACCESS_TOKEN" \
https://PKS-API:9021/v1beta1/quotas
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint.

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -H "Authorization: Bearer $TOKEN" \
https&#58;//example.com&#58;9021/v1beta1/quotas
[
  {
    "owner":"cody",
    "limit":{
        "cpu":2,
        "memory":1.0
    }
  }
]
</pre>

##<a id="error"></a> Error Message When User Exceeds Quota

If a user exceeds their set quota, the following error message appears when they attempt 
to create a cluster or specify new resources for a cluster.

<pre class="terminal">
Error: You do not have enough privileges to perform this action. 
Please contact the PKS administrator.
</pre>

## <a id='utilization-view-admin'></a> View Usage

The PKS API `usages` endpoint returns resource utilization per user in the JSON format.

To list the current resource utilization for a single user, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR_ACCESS_TOKEN" https://PKS-API:9021/v1beta1/usages/USER-ID
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint.
* `USER-ID` is the user account ID whose resource utilization you want to view.  

To list the current resource utilization for all users, run the following command:

```
curl -k -H "Authorization: Bearer $YOUR_ACCESS_TOKEN" \
https://PKS-API:9021/v1beta1/usages
```

Where:

* `YOUR_ACCESS_TOKEN` is your access token environment variable.
* `PKS-API` is the FQDN of your PKS API endpoint.

For example:
<pre class="terminal">
$ user=exampleuser
$ pks login -a pks.my.lab -u $user -p 'psswrdabc123...!' -k; export TOKEN=$(bosh int ~/.pks/creds.yml --path /access_token)
$ curl -k -H "Authorization: Bearer $TOKEN" \
https&#58;//example.com&#58;9021/v1beta1/usages
[
  {
    "owner": "cody",
    "totals": {
      "cpu": 20,
      "memory": 52
    },
    "clusters": [
      {
        "name": "vsp1",
        "cpu": 12,
        "memory": 36
      }
    ]
  }
]
</pre>
