---
title: Rotating Tanzu Kubernetes Grid Integrated Edition Control Plane Certificates
owner: TKGI
---

This topic describes how to rotate certificates used only by
the <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) control plane and tile.
These include certificates for <%= vars.k8s_runtime_abbr %> components such as database, CredHub, UAA, and Telemetry,
as well as for communication with underlying Ops Manager and BOSH infrastructure.

This topic does not cover certificates used by the <%= vars.k8s_runtime_abbr %> control plane
to communicate with <%= vars.k8s_runtime_abbr %>-deployed clusters.
For those certificates, see [Rotate Shared Cluster Certificates](./rotate-cluster-certificates.html#shared)
in the _Rotating Cluster Certificates_ topic.

To check certificate expiration dates, see [Check Expiration Dates and Certificate Types](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html#check-expiration) in the Ops Manager documentation.

## <a id="control"></a>Rotate TKGI Control Plane Certificates

<%= vars.k8s_runtime_abbr %> control plane and tile certificates are configurable and non-configurable certificates stored in CredHub.
Rotate them as follows:

* Rotate **configurable** certificates in the tile interface by entering new values
and redeploying the tile.
  - **vSphere with NSX-T**: You must also re-register these two configurable
  certificates with the NSX Manager:
      - **NSX Manager Super User Principal Identity Certificate**, `nsx-t-superuser-certificate`
      - **NSX Manager CA Cert**, `nsx-t-ca-cert`
  - For instructions, see [Generating and Registering the NSX Manager Superuser Principal Identity Certificate and Key](./nsxt-generate-pi-cert.html).

* **Non-configurable** certificates rotate automatically with each tile upgrade.
Most of these certificates have four- or five-year expiry periods,
so users do not ordinarily need to rotate them.
  - Follow [Rotate a Single CA and Its Leaf Certificates](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html#single-rotation)
  in the Ops Manager documentation to rotate these certificates if needed.
  - This procedure requires Ops Manager v2.9 or later.

For more information, see [Certificate Types](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/certificate-types.html)
in the Ops Manager documentation.
