---
title: Rotate Kubernetes Cluster Certificates
owner: TKGI-SECURITY
---

This topic describes how to rotate certificates for
Kubernetes clusters created by <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>).

## <a id="overview"></a>Overview of TKGI-Provisioned Kubernetes Cluster Certificates

When <%= vars.k8s_runtime_abbr %> provisions a Kubernetes cluster, the system generates 
certificate authority (CA) certificates and leaf certificates that have values and 
expiration dates unique to that cluster.

You can use the TKGI CLI to list and rotate TLS certificates for a Kubernetes cluster provisioned by Tanzu Kubernetes Grid Integrated Edition.

<br>
The following table summarizes the TKGI-provisioned Kubernetes cluster certificates and how to rotate them.

<table id='cluster-certs' border="1" class="nice" >
  <tr>
    <th>Certificates</th>
    <th>When Used</th>
    <th>How to Rotate</th>
  </tr><tr>
    <td><code>kubo_master_ca_2021</code>, <code>kubo_ca_2018</code>, <code>etcd_ca_2018</code>, and their leaf certificates</td>
    <td>All clusters.</td>
    <td>See <a href="#cluster-certs">Rotate Kubernetes Cluster Certificates</a> below.</td>
  </tr><tr>
    <td><code>tls_nsx_t</code> and <code>tls_nsx_lb</code></td>
    <td>NSX-T only. These certificates must be registered with NSX Manager.</td>
    <td>See <a href="nsxt-certs-rotate.html">Rotate NSX-T Certificates for Kubernetes Clusters</a>.</td>
  </tr>
</table>
<br>

To rotate the certificates used by the <%= vars.k8s_runtime_abbr %> control plane, 
see [Rotating <%= vars.k8s_runtime_abbr %> Control Plane Certificates](./rotate-tile-certificates.html).

## <a id="cluster-certs"></a>Kubernetes Cluster Certificates

A TKGI-provisioned Kubernetes cluster includes the following CA certificates and their leaf certificates:

- `kubo_master_ca_2021`
  - `tls-kubernetes-2018`
  - `tls-ncp-2018 (with NSX-T)`
  - `tls-nsx-kube-proxy-2018 (with NSX-T)`

-  `kubo_ca_2018`:
  - `tls-kubelet-2018`
  - `tls-metrics-server-2018`
  - `tls-kubelet-client-2018`
  - `tls-kube-controller-manager-2018`

- `etcd_ca_2018`:
  - `tls-etcd-2018-2`
  - `tls-etcdctl-2018-2`
  - `tls-etcdctl-root-2018-2`  
  - `tls-etcdctl-flanneld-2018-2`

- NSX certificates
  - `tls-nsx-lb`
  - `tls-nsx-t`  

<img src="images/cluster-certs.png">

## <a id="cert-use-cases"></a>Supported Use Cases

The TKGI CLI supports the following certificate rotation scenarios:

* Rotate only NSX certificates (`--only-nsx` for nsx certificates)
* Rotate all certificates (`--all` for all certificates, except for the custom_ca)
* Rotate all certificates except NSX certificates (`--skip-nsx` for skipping NSX-T certificates, if already rotated)
* Update custom CA, if custom CA  is used for cluster (`--update-cluster` for update custom CA)

## <a id="rotate-all"></a>Rotate All Cluster Certificates

To rotate all cluster certificates:

```
tkgi rotate-certificates <cluster name> --all
```

This command rotates [all certificates](#cluster-certs) except a custom CA `kubo_master_ca_2021` (if implemented).

## <a id="rotate-all-but-nsx"></a>Rotate All Cluster Certificates Except NSX-T
 
To rotate all cluster certificates except the NSX-T certificates:

```
tkgi rotate-certificates <cluster name> --skip-nsx --all
```

This command rotates [all certificates](#cluster-certs) except `tls-nsx-t` and `tls-nsx-lb`.

## <a id="rotate-only-nsx"></a>Rotate NSX-T Certificates Only

To rotate only NSX certificates:

```
tkgi rotate-certificates <cluster name> --only-nsx
```

This command only rotates the NSX-T certificates `tls-nsx-t` and `tls-nsx-lb`.

## <a id="rotate-custom"></a>Rotate Custom CA

If you have implemented a custom CA for the `kubo_master_ca_2021`, rotation is handled by the `update-cluster` CLI command.

For example:

```
tkgi update-cluster <cluster name> --config-file <path to the config file>
```

For complete usage, see [Use a Custom CA for Kubernetes Clusters](./custom-ca.html).