---
title: Rotating Tanzu Kubernetes Grid Integrated Edition Control Plane Certificates
owner: TKGI
---

This topic describes how to rotate certificates used only by
the <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) control plane and tile.
These include certificates for <%= vars.k8s_runtime_abbr %> components such as database, CredHub, UAA, and Telemetry,
as well as for communication with underlying Ops Manager and BOSH infrastructure.

This topic covers <%= vars.k8s_runtime_abbr %> control plane only. 
For certificates used by the <%= vars.k8s_runtime_abbr %> control plane
to communicate with <%= vars.k8s_runtime_abbr %>-deployed clusters, 
see [Rotate Shared Cluster Certificates](./rotate-cluster-certificates.html#shared)
in _Rotating Cluster Certificates_. 
For certificates used by <%= vars.k8s_runtime_abbr %>-deployed Kubernetes clusters, 
see [Rotating Cluster Certificates](./rotate-cluster-certificates.html).

## <a id="expiration"></a>Check Certificate Expiration Dates

Before rotating your certificates, verify which certificates require rotation.

To check certificate expiration dates, see 
[Check Expiration Dates and Certificate Types]
(https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html#check-expiration) 
in the Ops Manager documentation.

## <a id="control"></a>Rotate TKGI Control Plane Certificates

<%= vars.k8s_runtime_abbr %> control plane and tile certificates are configurable and non-configurable certificates stored in CredHub.
For an explanation of configurable, non-configurable, and other certificate types, see [Certificate Types](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/certificate-types.html)
in the Ops Manager documentation.

Rotate configurable and non-configurable certificates as follows:

* Rotate **configurable** certificates in the tile interface by entering new values
and redeploying the tile.
  - **All Infrastructures**: The `pks_tls` cert is configured in the <%= vars.k8s_runtime_abbr %> tile > **TKGI API** pane.
  - **vSphere with NSX-T**: After rotating the following two configurable certificates, you must also re-register them with the NSX Manager.
  For instructions, see [Rotating the Certificate and Key](./nsxt-generate-pi-cert.html#certificates-nsx-pid-rotate) in _Generating and Registering the NSX Manager Superuser Principal Identity Certificate and Key_:
      - **NSX Manager Super User Principal Identity Certificate**, `nsx-t-superuser-certificate`
      - **NSX Manager CA Cert**, `nsx-t-ca-cert`  

* **Non-configurable** certificates rotate automatically with selected tile upgrades.
Most of these certificates have four- or five-year expiry periods,
so users do not ordinarily need to rotate them. If rotation is needed, contact Support.


