---
title: Scaling Existing Clusters
owner: TKGI
pkscommand: update
---

This topic explains how to scale an existing cluster horizontally by adding worker nodes and vertically by changing the size of the node VMs.

<p class="note warning"><strong>WARNING</strong>: Do not change the number of master/etcd nodes 
for any plan that was used to create currently-running clusters. 
<%= vars.product_short %> does not support changing the number of master/etcd nodes for plans 
with existing clusters.
</p>
<p class="note"><strong>Note</strong>: To change the default number of worker nodes created in new clusters, 
  change your plan's <strong>Worker Node Instances</strong> setting. 
  For more information, see <a href="installing-azure.html#plans">Plans</a> 
  in the <i>Installing <%= vars.k8s_runtime_abbr %></i> topic for your IaaS.
</p>

## <a id="scale-horizontal"></a>Scale Horizontally by Changing the Number of Worker Nodes Using the <%= vars.k8s_runtime_abbr %> CLI

You can use the <%= vars.k8s_runtime_abbr %> CLI to scale an existing cluster by increasing or decreasing the number of worker nodes in the cluster.  

To increase or decrease the number of worker nodes on a cluster:

1. <%= partial 'login-api' %>

1. To view the current number of worker nodes in your cluster, run the following command:

    ```
    tkgi cluster CLUSTER-NAME
    ```
    Where `CLUSTER-NAME` is the name of your cluster.

1. Run the following command:

    ```
    tkgi update-cluster CLUSTER-NAME --num-nodes NUMBER-OF-WORKER-NODES
    ```
    Where:
    * `CLUSTER-NAME` is the name of your cluster.
    * `NUMBER-OF-WORKER-NODES` is the number of worker nodes that you want to set for the cluster.
        * To scale down your existing cluster, enter a number lower than the current number of
        worker nodes. 
        * To scale up your existing cluster, enter a number higher than the current number of worker
        nodes. The maximum number of worker nodes you can set is configured in the **Plan** pane of
        the <%= vars.product_tile %> tile in Ops Manager.
        <p class="note"><strong></strong>VMware recommends that you avoid using the
        <code>tkgi resize</code> command to perform resizing operations.</p>

    For example:
    <pre class="terminal">
    $ tkgi update-cluster my-cluster --num-nodes 5
    </pre>
    <p class="note"><strong>Note:</strong> This command may roll additional virtual machines in the
    cluster, which can affect workloads if the worker nodes are at capacity.</p>

## <a id="scale-vertical"></a>Scale Vertically by Changing Cluster Node VM Sizes in the <%= vars.k8s_runtime_abbr %> Tile

You can scale an existing cluster vertically by changing the size of the master or worker node VMs.
When you do this, BOSH recreates the VMs sequentially, one cluster at a time, and one node after
another within the cluster. For more information, see
[VM Sizing for <%= vars.k8s_runtime_abbr %> Clusters](vm-sizing.html).

To change the size of a Kubernetes cluster node VM, complete the following steps:

1. Log in to Ops Manager.
1. Select the <%= vars.k8s_runtime_abbr %> tile.
1. Select the plan that is in use by the cluster(s) you want to resize.
1. To change the VM size:
  - For Master nodes, select the desired VM size from the **Master/ETCD VM Type** menu.
  - For Worker nodes, select the desired VM size from the **Worker VM Type** menu.
<p class="note"><strong>Note:</strong> See <a href="vm-sizing.html#node-sizing-custom">Customize Master and Worker Node VM Size and Type</a> for information on creating a custom VM size for use with a <%= vars.k8s_runtime_abbr %> cluster.</p>
1. Click **Save** to preserve tile changes.
1. At the **Installation Dashboard**, click **Review Pending Changes**.
    <img src="images/pending-changes.png">
1. For the <%= vars.k8s_runtime_abbr %> tile, expand the **ERRANDS** list.
1. Select the **Update all clusters errand** if it is not already selected. You must ensure that **Update all clusters errand** is selected so that the cluster deployment manifest is regenerated after the plan is updated.
1. Click **Apply Changes**.
