---
title: Tanzu Kubernetes Grid Integrated Edition Security
owner: TKGI
---

This section includes the following security topics for <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>):

* **Security Disclosure and Release Process**: See <a href="./security-process.html"><%= vars.product_short %> Security Disclosure and Release Process</a>  
* **Certificates**: See <a href="./certificate-concepts.html"><%= vars.product_short %> Certificates</a>  
* **Benchmarks**: See [<%= vars.k8s_runtime_abbr %> Cluster Benchmarks](#benchmarks), below.

##<a id='benchmarks'></a> CIS Kubernetes Benchmarks

For security compliance assessments, you can use [Compliance Scanner for VMware Tanzu](https://docs.pivotal.io/addon-compliance-tools/index.html) 
to benchmark <%= vars.k8s_runtime_abbr %> clusters against the Center for Internet Security 
[CIS Kubernetes Benchmark](https://www.cisecurity.org/benchmark/kubernetes/) v1.6.0:

1. Follow the procedure in [Installing and Configuring Compliance Scanner](https://docs.pivotal.io/addon-compliance-tools/installing.html),
and enable the following in the **Scan Configuration** pane, under **Benchmarks**:
  - **TKGI Master Node - Level 1 and Level 2**
  - **TKGI Worker Node - Level 1 and Level 2**
