---
title: Tanzu Kubernetes Grid Integrated Edition Security
owner: TKGI
---

The following topics describe <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) security and security procedures:  

* **Security Disclosure and Release Process**: See <a href="./security-process.html"><%= vars.product_short %> Security Disclosure and Release Process</a>
* **Certificates**: See <a href="./certificate-concepts.html"><%= vars.product_short %> Certificates</a>
* **Benchmarks**: See [<%= vars.k8s_runtime_abbr %> Cluster Benchmarks](#benchmarks), below.

##<a id='benchmarks'></a> CIS Kubernetes Benchmarks

For security compliance assessments, you can use 
[Compliance Scanner for VMware Tanzu](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-index.html) 
to benchmark <%= vars.k8s_runtime_abbr %> clusters against the Center for Internet Security 
[CIS Kubernetes Benchmark](https://www.cisecurity.org/benchmark/kubernetes/) v1.6.1.  

Complete the following procedures in [Installing and Configuring Compliance Scanner](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html): 

1. Complete all of the Installing and Configuring Compliance Scanner steps preceding the [Configure scans](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html#scans) procedure.  

    For example:  
    
    * [Install Compliance Scanner](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html#install)  
    * [Configure AZs and networks](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html#azs-networks)  
    * [Configure scan variables](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html#azs-scan-variables)  
    * Any other procedures preceding [Configure scans](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html#scans)  
1. Complete the [Configure scans](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html#scans) procedure:  
    * Activate the following in the **Scan Configuration** pane, under **Benchmarks**:  
        * **TKGI Master Node - Level 1 and Level 2**  
        * **TKGI Worker Node - Level 1 and Level 2**  
1. Complete all remaining steps in [Installing and Configuring Compliance Scanner](https://docs.vmware.com/en/Compliance-Scanner-for-VMware-Tanzu/1.3/addon-compliance-tools/GUID-installing.html).  

