---
title: Shutting Down and Starting Up Enterprise PKS 
owner: PKS
iaas: vsphere-nsxt
---

<strong><%= modified_date %></strong>

This topic lists and describes the shutdown and startup sequence for <%= vars.product_full %>
including <%= vars.product_short %>-provisioned Kubernetes cluster nodes, PKS control plane components, and vSphere hosts.

##<a id="shutdown"></a> Shutdown Sequence and Tasks

To perform a graceful shutdown of all Kubernetes, <%= vars.product_short %>, and infrastructure components, complete the following tasks in sequence.

###<a id="shutdown-apps"></a>Step 1: Shut Down Customer Apps

Shut down all customer apps running on <%= vars.product_short %>-provisioned Kubernetes clusters.

<p class="note"><strong>Note</strong>: This task is optional. Perform it after considering the types of apps you have deployed. For example, stateful, stateless, or legacy apps.</p>

###<a id="shutdown-k8s"></a>Step 2: Shut Down Kubernetes Clusters

Shut down all <%= vars.product_short %>-provisioned Kubernetes clusters following the procedure defined in the <a href="https://community.pivotal.io/s/article/how-to-shutdown-and-startup-a-multi-master-pks-cluster">How to shutdown and startup a Multi Master PKS cluster</a> knowledge base article.

For each Kubernetes cluster that you intend to shut down, do the following:

1. Using the BOSH CLI, retrieve the BOSH deployment name of your <%= vars.product_short %> clusters by running the following command.
    
    ```
    bosh deployments
    ```
     
    Kubernetes cluster deployment names begin with `service-instance_` and include a unique BOSH-generated hash.

1. Using the BOSH CLI, stop the Kubernetes worker nodes by running the following command.

    ```
    bosh -d service-instance_CLUSTER-UUID stop worker
    ```

    Where `CLUSTER-UUID` is the BOSH deployment name of your <%= vars.product_short %> cluster. For example:

    <pre class="terminal">
    $ bosh -d service-instance_aa1234567bc8de9f0a1c stop worker</pre>

    <p class="note"><strong>Note</strong>: When you use the BOSH <code>stop</code> command, all
    processes on the Kubernetes node are stopped. BOSH marks them stopped so that when the VM is
    powered back on, the processes do not start automatically.</p>

1. Using the BOSH CLI, stop the Kubernetes master nodes by running the following command.

    ```
    bosh -d service-instance_CLUSTER-UUID stop master
    ```

    Where `CLUSTER-UUID` is the BOSH deployment name of your <%= vars.product_short %> cluster.
    For example:

    <pre class="terminal">
    $ bosh -d service-instance_aa1234567bc8de9f0a1c stop master</pre>

1. Using vCenter, shut down all Kubernetes node VMs. To do this, perform the following steps:
	1. Verify the node type by checking the "job" name in the the **Custom Attributes** pane.
	1. Perform a graceful shutdown by right-clicking the target VM and selecting **Power** > **Shut Down Guest OS**.

        <img src="images/nsxt/shutdown/shutdown-k8s-nodes.png" alt="Shut Down Kubernetes Nodes">

        [View a larger version of this image.](images/nsxt/shutdown/shutdown-k8s-nodes.png)

###<a id="shutdown-pks"></a>Step 3: Shut Down <%= vars.product_short %> Control Plane

To shut down the PKS control plane VM, do the following:

1. Using the BOSH CLI, retrieve the BOSH deployment ID of your <%= vars.product_short %> deployment by running the following command.

    ```
    bosh deployments
    ```
    <%= vars.product_short %> deployment names begin with `pivotal-container-service` and include a unique BOSH-generated hash.

1. Using the BOSH CLI, stop the PKS control plane VM by running the following command.

    ```
    bosh -d pivotal-container-service-DEPLOYMENT-ID stop 
    ```

    Where `DEPLOYMENT-ID` is the BOSH-generated ID of your <%= vars.product_short %> deployment.
    For example:

    <pre class="terminal">
    $ bosh -d pivotal-container-service-1bf7b02738056cdc37e6 stop</pre>

1. Using vCenter, locate and gracefully shut down the PKS control plane VM.

    <img src="images/nsxt/shutdown/shutdown-pks.png" alt="Shut Down PKS control plane VM">

    [View a larger version of this image.](images/nsxt/shutdown/shutdown-pks.png)

###<a id="shutdown-harbor"></a>Step 4: Shut Down VMware Harbor Registry

To shut down the Harbor Registry VM, do the following:

1. Using the BOSH CLI, retrieve the BOSH deployment ID of your Harbor Registry
deployment by running the following command.

    ```
    bosh deployments
    ```
    Harbor Registry deployment names begin with `harbor-container-registry` and include a unique BOSH-generated hash.

1. Using the BOSH CLI, stop the Harbor Registry VM by running the following command.

    ```
    bosh -d harbor-container-registry-DEPLOYMENT-ID stop
    ```

    Where `DEPLOYMENT-ID` is the BOSH-generated ID of your Harbor Registry deployment. For example:

    <pre class="terminal">
    $ bosh -d harbor-container-registry-b4023f6857207b237399 stop</pre>

1. Using vCenter, locate and gracefully shut down the Harbor Registry VM.

    <img src="images/nsxt/shutdown/shutdown-harbor.png" alt="Shut Down Harbor Registry VM">

    [View a larger version of this image.](images/nsxt/shutdown/shutdown-harbor.png)

###<a id="shutdown-bosh"></a>Step 5: Shut Down BOSH Director

Using vCenter, locate and gracefully shut down the BOSH Director VM.

<img src="images/nsxt/shutdown/shutdown-bosh.png" alt="Shut Down BOSH VM">

[View a larger version of this image.](images/nsxt/shutdown/shutdown-bosh.png)

###<a id="shutdown-om"></a>Step 6: Shut Down Ops Manager

Using vCenter, locate and gracefully shut down the Ops Manager VM.

<img src="images/nsxt/shutdown/shutdown-om.png" alt="Shut Down Ops Manager VM">

[View a larger version of this image.](images/nsxt/shutdown/shutdown-om.png)

###<a id="shutdown-nsxt"></a>Step 7: Shut Down NSX-T Components

Using vCenter, gracefully shut down all NSX-T VMs in the following order:

1. NSX-T Manager
1. NSX-T Controllers
1. NSX-T Edge Nodes

<img src="images/nsxt/shutdown/shutdown-nsxt.png" alt="Shut Down NSX-T VMs">

[View a larger version of this image.](images/nsxt/shutdown/shutdown-nsxt.png)

###<a id="shutdown-vc"></a>Step 8: Shut Down vCenter Server

To shut down the vCenter Server VM, do the following:

1. Navigate to the vCenter Appliance Management Interface at `https://YOUR-VCENTER-HOSTNAME-OR-IP-ADDRESS>:5480`, where
`YOUR-VCENTER-HOSTNAME-OR-IP-ADDRESS` is the hostname or IP address that you use to connect to vCenter through the vSphere Web Client.
1. Log in as root.
1. Select **Actions** > **Shutdown** from the menu and confirm the operation.

For more information about how to shut down the vCenter Server VM, see [Reboot or Shut Down the vCenter Server Appliance](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vcsa.doc/GUID-A0BB46B0-DE71-4C62-A5BF-22B17ED8AA98.html) in the vSphere documentation
and the [How to stop, start, or restart vCenter Server 6.x services](https://kb.vmware.com/s/article/2109881) KB article.

<p class="note"><strong>Note:</strong> After you shut down this vCenter VM, the vSphere Web Client will not be available.</p>

<img src="images/nsxt/shutdown/shutdown-vc-2.png" alt="Shut Down vCenter Server VM">

[View a larger version of this image](images/nsxt/shutdown/shutdown-vc.png)

###<a id="shutdown-esxi"></a>Step 9: Shut Down ESXi Hosts

To shut down each ESXi host in the vSphere cluster, do the following:

1. Put the ESXi host into maintenance mode by doing the following:
    1. Using a browser, navigate to the HTTPS IP address of the ESXi host, for example: https://10.196.146.20/.
    1. Log in using vSphere administrative credentials.
    1. Put the ESXi host in maintenance mode by selecting **Actions** > **Enter maintenance mode**.
     <img src="images/nsxt/shutdown/maint-mode.png" alt="Put ESXi Host into Maintenance Mode">
     [View a larger version of this image.](images/nsxt/shutdown/maint-mode.png)

2. Power off the ESXi host. To do this, you have two options:
    - Use the EXSi web interface and select **Actions** > **Shut down**.
    - Use the remote management console for the host, such as Dell IDRAC or HP iLO.
      <img src="images/nsxt/shutdown/shutdown-idrac.png" alt="Shut Down ESXi Host">
     [View a larger version of this image.](images/nsxt/shutdown/shutdown-idrac.png)

##<a id="startup"></a> Startup Sequence and Tasks

To restart all Kubernetes, <%= vars.product_short %>, and infrastructure components, complete the following tasks in the sequence presented.

###<a id="start-esxi"></a> Step 1: Start ESXi Hosts

To start the ESXi hosts, do the following:

1. Using the remote management console, such as Dell IDRAC or HP iLO, power on each ESXi host.
1. Connect to the web interface of each ESXi host and exit maintenance mode.

###<a id="start-vc"></a> Step 2: Start vCenter

Connect to the web interface of the ESXi server that hosts the vCenter VM. Select the vCenter VM,
and click **Power On**.

###<a id="start-nsxt"></a> Step 3: Start NSX-T Components

To start the NSX-T components, perform the following steps:

1. Log into vCenter using the vSphere Client.
1. Power on the following VMs in the following order:
   1. NSX-T Manager
   1. NSX-T Controllers
   1. NSX-T Edge Nodes

###<a id="start-om"></a> Step 4: Start Ops Manager

Using vCenter, power on the Ops Manager VM.

###<a id="start-bosh"></a> Step 5: Start the BOSH Director

Using vCenter, power on the BOSH Director VM.

<p class="note"><strong>Note</strong>: BOSH is aware that all the VMs under its control were stopped. BOSH does not attempt to resurrect any VMs, which is the desired behavior.</p>

It may take approximately 90 minutes for BOSH to start properly.

To speed up the BOSH startup process:

1. Obtain the BOSH Director VM Credentials from Ops Manager. For information about doing this, see
[Retrieving Credentials from Your Deployment](https://docs.pivotal.io/pivotalcf/customizing/credentials.html) in the Pivotal documentation.
1. SSH to the BOSH Director VM.
1. On the BOSH Director VM, run the following commands:

    ```
    sudo -i
    monit summary
    ```
1. If you see messages such as `Process uaa Connection failed` and `Process credhub not monitored`, then run the following command:

    ```
    monit restart uaa
    ```
1. After a few minutes, run the following command again:

    ```
    monit summary
    ```
    You should see that the `uaa` and `credhub` processes are now running. At this point, the BOSH Director should be fully up and running.

###<a id="start-pks"></a>Step 6: Start the <%= vars.product_short %> Control Plane

To start the PKS control plane, do the following:

1. Using vCenter, power on the PKS control plane VM.
1. Using the BOSH CLI, start the <%= vars.product_short %> process on the VM by running the
following command.

    ```
    bosh -d pivotal-container-service-DEPLOYMENT-ID start
    ```

    Where `DEPLOYMENT-ID` is the BOSH-generated ID of the <%= vars.product_short %> deployment.
    For example:

    <pre class="terminal">
    $ bosh -d pivotal-container-service-1bf7b02738056cdc37e6 start</pre>

     <p class="note"><strong>Note</strong>: Because you stopped the <%= vars.product_short %> process using BOSH, you must restart it using BOSH.</p>

###<a id="start-harbor"></a> Step 7: Start Harbor Registry

To start Harbor Registry, do the following:

1. Using vCenter, power on the Harbor VM.
1. Using the BOSH CLI, start the Harbor process on the VM by running the following command:

    ```
    bosh -d harbor-container-registry-DEPLOYMENT-ID start
    ```

    Where `DEPLOYMENT-ID` is the BOSH-generated ID of your Harbor Registry deployment. For example:

    <pre class="terminal">
    $ bosh -d harbor-container-registry-b4023f6857207b237399 start</pre>

###<a id="start-k8s"></a> Step 8: Start the Kubernetes Clusters

For each Kubernetes cluster that you intend to start up, start the Kubernetes nodes in the
following order:

1. Using the BOSH CLL, run `ssh` to access the first <%= vars.product_short %> master node and start etcd.
1. Using the BOSH CLI, start the next <%= vars.product_short %> master node.
1. Using the BOSH CLI, start all remaining <%= vars.product_short %> master nodes including the master where you started etcd.
1. Using the BOSH CLI, start all <%= vars.product_short %> worker nodes.

For exact Kubernetes node startup instructions, refer to the <a href="https://community.pivotal.io/s/article/how-to-shutdown-and-startup-a-multi-master-pks-cluster">How to shutdown and startup a Multi Master PKS cluster</a> knowledge base article.

###<a id="start-apps"></a> Step 9: Start Customer Apps

Start all apps running on the <%= vars.product_short %>-provisioned Kubernetes clusters.