---
title: Sink Architecture in Enterprise PKS
owner: PKS
---

This topic describes how sinks are implemented in <%= vars.product_full %> deployments.
## <a id="overview"></a> Overview
<%= vars.product_short %>  provides the following types of sinks for collecting logs and metrics:

* A Log Sink for monitoring your cluster and namespace logs.
* A Metric Sink for monitoring your cluster metrics.


SOMETHING HERE
<a href="images/manager-architecture.png" target="_blank" id="sink-diagram"><img src="images/manager-architecture.png" alt="Observability Manager in PKS"></a>
<%#= original graphic is here https://docs.google.com/presentation/d/1xFhfrNPPKrSts4U4HsAZAl1pWuHkhq4vXWN8gLGY3G8/edit#slide=id.g5df94f27fe_0_397 %>
  
## <a id="sink-architecture"></a> Log Sink Architecture

The <%= vars.product_short %> Log Sink aggregates your deployment's logs and forwards them to a common repository.

The following diagram details <%= vars.product_short %> Log Sink architecture.

<a href="images/log-architecture.png" target="_blank" id="sink-diagram"><img src="images/log-architecture.png" alt="Log sink architecture in PKS"></a>
<%#= original graphic is here https://docs.google.com/presentation/d/1xFhfrNPPKrSts4U4HsAZAl1pWuHkhq4vXWN8gLGY3G8/edit#slide=id.g5df94f27fe_0_397 %>

Logs are monitored and aggregated by a set of fluent-bit daemons running as a pod on a single node. 

An event-controller collects Kubernetes API events and sends them to a second fluent-bit daemon pod for aggregation.

All aggregated log entries are marshaled to a common log destination.

<p class="note"><strong>Note</strong>: When sinks are added or removed, all of the fluent-bit pods are refreshed with new sink information.</p>

## <a id="metric-sink-architecture"></a> Metric Sink Architecture

The <%= vars.product_short %> Metric Sink aggregates your deployment's collected metrics and forwards them to a common repository. 
The Metric Sink collects metrics from master and worker nodes. 

### <a id="metric-sink-worker"></a> Metric Sink Architecture on Worker Nodes

The following diagram details <%= vars.product_short %> Metric Sink architecture on a 
worker node. 

<a href="images/metric-architecture.png" target="_blank" id="metric-sink-diagram"><img src="images/metric-architecture.png" alt="Metric Sink architecture in PKS"></a>
<%#= original graphic is here https://docs.google.com/presentation/d/1xFhfrNPPKrSts4U4HsAZAl1pWuHkhq4vXWN8gLGY3G8/edit#slide=id.g5df94f27fe_0_397 %>

A Metric Sink collects and writes metrics from a cluster to specified outputs using input and output plugins.

Deployment metrics are monitored by a set of third-party plugins. The plugins forward the metrics to a Telegraph service pod. 

A pair of kubelets monitor Kubernetes and forward Kubernetes metrics to a pair of Telegraph service pods. 

If Node Exporter is enabled in the <%= vars.product_tile %> tile, Node Exporter forwards infrastructure metrics to Telegraph service pods. For more information about
Node Exporter, see [Monitoring Master/etcd Node VMs
](./monitor-etcd.html).

To define the collected unstructured metrics, a metric-controller monitors Kubernetes for custom resource definitions and forwards those definitions 
to the Telegraph services. 

The Telegraph services collect, process, and aggregate gathered metrics. All aggregated metrics are marshaled 
to an additional plug-in for forwarding to a third-party application. 

<p class="note"><strong>Note</strong>: When sinks are added or removed, all of the Telegraph pods are refreshed with new sink information.</p>

### <a id="metric-sink-master"></a> Metric Sink Architecture on Master Nodes

The following diagram details <%= vars.product_short %> Metric Sink architecture on a 
master node. 

<a href="images/bosh-metrics-architecture.png" target="_blank" id="sink-diagram"><img src="images/bosh-metrics-architecture.png" alt="BOSH metrics sink architecture in PKS"></a>
<%#= original graphic is here https://docs.google.com/presentation/d/1xFhfrNPPKrSts4U4HsAZAl1pWuHkhq4vXWN8gLGY3G8/edit#slide=id.g5df94f27fe_0_397 %>

A Metric Sink collects and writes BOSH metrics from master nodes to specified outputs using output plugins.

etcd 

If Node Exporter is enabled in the <%= vars.product_tile %> tile, Node Exporter forwards infrastructure metrics to Telegraph service pods. For more information about
Node Exporter, see [Monitoring Master/etcd Node VMs
](./monitor-etcd.html).

api server

To define the collected unstructured metrics, a metric-controller monitors Kubernetes for custom resource definitions and forwards those definitions 
to the Telegraph services. 

The Telegraph services collect, process, and aggregate gathered metrics. All aggregated metrics are marshaled 
to an additional plug-in for forwarding to a third-party application. 

## <a id="related-links"></a> Related Links

For more information on sinks in <%= vars.product_short %>, see the following topics:

* For information about creating sinks in <%= vars.product_short %>, see [Creating Sink Resources](./create-sinks.html).
* For information about using sinks for monitoring, see [Monitoring <%= vars.product_short %> with Sinks](./monitor-sinks.html).
