---
title: Sink Architecture in Enterprise PKS
owner: PKS
---

This topic describes how sinks are implemented in <%= vars.product_full %> deployments.
## <a id="overview"></a> Overview
Your deployment's applications and services record status, activity, and issues in log files. 
Your deployment may also include applications which monitor deployment health.  

<%= vars.product_short %>  provides two collection and aggregation sinks for managing your deployment's log and collected metrics content:

* A [Log Sink](#sink-architecture) for monitoring your environment's logs.  
* A [ClusterMetric Sink](#clustermetric-sink-architecture) for monitoring your environment's metrics.  

## <a id="sink-architecture"></a> Log Sink Architecture

The <%= vars.product_short %> Log Sink aggregates your deployment's logs and forwards them to a common repository.

Logs are monitored and aggregated by a set of fluent-bit daemons running as a pod on a single node. 

An event-controller collects Kubernetes API events and sends them to a second fluent-bit daemon pod for aggregation.

All aggregated log entries are marshaled to a common log destination.

The following diagram details <%= vars.product_short %> Log Sink architecture.

<a id="sink-diagram"><img src="images/sink-architecture.png" alt="Sink architecture in PKS"></a>
<%#= original graphic is here https://github.com/pivotal-cf/docs-pks/tree/master/images/sink-architecture.graffle %>

<p class="note"><strong>Note</strong>: When sinks are added or removed, all of the fluent-bit pods are refreshed with new sink information.</p>

## <a id="clustermetric-sink-architecture"></a> ClusterMetric Sink Architecture

The <%= vars.product_short %> ClusterMetric Sink aggregates your deployment's collected metrics and forwards them to a common repository. 

Deployment metrics are monitored by a set of third-party plugins. The plugins forward the metrics to a Telegraph service pod. 

Additionally, a pair of kubelets monitor kubernetes and forward kubernetes metrics to a pair of Telegraph service pods. 

To define the collected unstructured metrics, a metric-controller monitors kubernetes for custom resource definitions and forwards those definitions 
to the Telegraph services. 

The Telegraph services collect, process, and aggregate gathered metrics. All aggregated metrics are marshaled 
to an additional plug-in for forwarding to a third-party application. 

The following diagram details <%= vars.product_short %> ClusterMetric Sink architecture. 

<a id="clustermetric-sink-diagram"><img src="images/sink-3rd-party-architecture.png" alt="ClusterMetric Sink architecture in PKS"></a>
<%#= original graphic is here https://github.com/pivotal-cf/docs-pks/tree/master/images/sink-architecture.graffle %>

<p class="note"><strong>Note</strong>: When sinks are added or removed, all of the Telegraph pods are refreshed with new sink information.</p>

## <a id="related-links"></a> Related Links

For more information on sinks in <%= vars.product_short %>, see the following topics:

* For information about creating sinks in <%= vars.product_short %>, see [Creating Sink Resources](./create-sinks.html).
* For information about using sinks for monitoring, see [Monitoring <%= vars.product_short %> with Sinks](./monitor-sinks.html).




