---
title: Telemetry
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes the metrics that the <%= vars.product_tile %> tile
sends when you enable the VMware Customer Experience Improvement Program (CEIP)
or the Pivotal Telemetry Program (Telemetry). You can opt in or opt out of
either program in the **Usage Data** pane of the <%= vars.product_tile %> tile.

For more information, see the _Installing <%= vars.product_short %>_ topic for your IaaS:

* [vSphere](installing-pks-vsphere.html#usage)
* [vSphere with NSX-T Integration](installing-nsx-t.html#usage)
* [Google Cloud Platform (GCP)](installing-pks-gcp.html#usage)
* [Amazon Web Services (AWS)](installing-pks-aws.html#usage)

## <a id="envelope"></a>Event Envelope Properties

When <%= vars.product_short %> sends metrics to CEIP or Telemetry, the tile packages the data with
the following deployment information:

<table>
  <tr>
    <th>Property Name</th>
    <th>Property Description</th>
    <th>Example Data</th>
    <th>Added in <%= vars.product_short %> Version</th>
  </tr>
  <tr>
    <td><strong>event</strong></td>
    <td>The type of event</td>
    <td>create_cluster</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>product_version</strong></td>
    <td><%= vars.product_tile %> tile version</td>
    <td>1.2.0-build.40</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cloud_provider</strong></td>
    <td>Cloud provider for the <%= vars.product_short %> installation</td>
    <td>GCP</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>vcenter_id</strong></td>
    <td>vCenter ID</td>
    <td>00000a11-22bb-3333-4c4c-555566667777</td>
    <td>v1.1</td>
  </tr>
</table>

## <a id="events"></a>Cluster Events

<%= vars.product_short %> sends metrics for the cluster management events shown in the table below:

<table>
  <tr>
    <th>Event Name</th>
    <th>Event Description</th>
    <th>Property Name</th>
    <th>Property Description</th>
    <th>Added in <%= vars.product_short %> Version</th>
  </tr>
  <tr>
    <td rowspan="8"><strong>create_cluster</strong></td>
    <td rowspan="8">This event is generated when a user creates a cluster.</td>
    <td><strong>user_id</strong></td>
    <td>A hashed value of the username.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>timestamp</strong></td>
    <td>The time when the user created the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>plan_name</strong></td>
    <td>The name of the <%= vars.product_short %> plan that was used to create the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>plan_id</strong></td>
    <td>The ID of the <%= vars.product_short %> plan that was used to create the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cluster_name</strong></td>
    <td>The name of the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cluster_id</strong></td>
    <td>The ID of the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>number_of_workers</strong></td>
    <td>The number of worker node VMs in the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>number_of_masters</strong></td>
    <td>The number of master node VMs in the cluster.</td>
    <td>v1.2</td>
  </tr>
  <tr>
    <td rowspan="8"><strong>resize_cluster</strong></td>
    <td rowspan="8">This event is generated when a cluster is resized.</td>
    <td><strong>user_id</strong></td>
    <td>A hashed value of the username.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>timestamp</strong></td>
    <td>The time when the user created the cluster.</td>
    <td>v1.1</td>
    </tr>
  <tr>
    <td><strong>plan_name</strong></td>
    <td>The name of the <%= vars.product_short %> plan that was used to create the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>plan_id</strong></td>
    <td>The ID of the <%= vars.product_short %> plan that was used to create the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cluster_name</strong></td>
    <td>The name of the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cluster_id</strong></td>
    <td>The ID of the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>old_number_of_workers</strong></td>
    <td>The number of worker node VMs in the cluster before the resize event.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>new_number_of_workers</strong></td>
    <td>The number of worker node VMs in the cluster after the resize event.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td rowspan="6"><strong>delete_cluster</strong></td>
    <td rowspan="6">This event is generated when a user deletes a cluster.</td>
    <td><strong>user_id</strong></td>
    <td>A hashed value of the username.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>timestamp</strong></td>
    <td>The time when the user created the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>plan_name</strong></td>
    <td>The name of the <%= vars.product_short %> plan that was used to create the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>plan_id</strong></td>
    <td>The ID of the <%= vars.product_short %> plan that was used to create the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cluster_name</strong></td>
    <td>The name of the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cluster_id</strong></td>
    <td>The ID of the cluster.</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td rowspan="3"><strong>api_started</strong></td>
    <td rowspan="3">This event is generated when the PKS API is started.</td>
  </tr>
  <tr>
    <td><strong>authentication_mode</strong></td>
    <td>The authentication mode used to access a Kubernetes cluster.</td>
    <td>v1.2</td>
  </tr>
  <tr>
    <td><strong>timestamp</strong></td>
    <td>The time when the PKS API started.</td>
    <td>v1.2</td>
  </tr>
</table>

## <a id="cluster"></a>Cluster Metrics

<%= vars.product_short %> sends both agent metrics and cluster pod metrics for each cluster.

The following table describes cluster agent metrics:

<table>
  <tr>
    <th>Agent Metric Name</th>
    <th>Agent Metric Description</th>
    <th>Example</th>
    <th>Added in <%= vars.product_short %> Version</th>
  </tr>
  <tr>
    <td><strong>agentid</strong></td>
    <td>The unique BOSH-generated deployment name for the cluster.</td>
    <td>service-instance_00000a11-22bb-3333-4c4c-555566667777</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>isvrlienabled</strong></td>
    <td>If vRealize Log Insight (vRLI) is enabled, this value is true. If vRLI is disabled, this value if false.</td>
    <td>true</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>isvropsenabled</strong></td>
    <td>If vRealize Operations (vROps) is enabled, this value is true. If vROps is disabled, this value is false.</td>
    <td>false</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>iswavefrontenabled</strong></td>
    <td>If Wavefront is enabled, this value is true. If Wavefront is disabled, this value is false.</td>
    <td>true</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>vcenter_id</strong></td>
    <td>This is your vCenter ID.</td>
    <td>00000a11-22bb-3333-4c4c-555566667777</td>
    <td>v1.1</td>
  </tr>
</table>

The following table describes cluster pod metrics:

<table>
  <tr>
    <th>Cluster Pod Metric Name</th>
    <th>Cluster Pod Metric Description</th>
    <th>Example</th>
    <th>Added in <%= vars.product_short %> Version</th>
  </tr>
  <tr>
    <td><strong>collected_at</strong></td>
    <td>This timestamp represents the metric collection time on the agent.</td>
    <td>2018-05-31 21:45:27.681 UTC</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>cpu_used</strong></td>
    <td>This value represents how much CPU was in use at the time when the event happened.</td>
    <td>11412427</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>memory_used</strong></td>
    <td>This value represents how much memory was in use at the time when the event happened.</td>
    <td>4816896</td>
    <td>v1.1</td>
  </tr>
  <tr>
    <td><strong>pkst_kubernetesclusterinfo__fk</strong></td>
    <td>This value is a foreign key that points to an entry in the <em>pkst_kubernetesclusterinfo</em> database.</td>
    <td>77777a66-55bb-4444-3c3c-222211110000</td>
    <td>v1.1</td>
  </tr>
</table>
