---
title: Telemetry
owner: PKS
---

This topic describes the VMware Customer Experience Improvement Program (CEIP)
and the Telemetry Program used in the <%= vars.product_tile %> tile.

## <a id="overview"></a>Overview

The CEIP and Telemetry program allows VMware to collect data from customer installations to improve your <%= vars.product_short %> experience.
Collecting data at scale enables us to identify patterns and alert you to warning signals in your <%= vars.product_short %> installation.

### <a id="participation"></a>Participation Levels

You can configure <%= vars.product_short %> to use one of the following CEIP and Telemetry participation levels:

+ **None:** This level disables data collection.

+ **Standard:** (Default) This level collects data anonymously. Your data is used to
inform the ongoing development of <%= vars.product_short %>.

+ **Enhanced:** This level enables VMware to warn you about
security vulnerabilities and potential issues with your software configurations.
For more information, see [Benefits of the Enhanced Participation Level](#benefits) below.

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not collect any personally identifiable information (PII) at either participation level.
For a list of the data <%= vars.product_short %> collects, see <a href="#data-dictionary">Data Dictionary</a>.</p>

#### <a id="benefits"></a> Benefits of the Enhanced Participation Level

Benefits you receive with the Enhanced participation level include but are not limited to the following:

* **Usage data:** This gives you access to data about Kubernetes pod and cluster usage in your <%= vars.product_short %> installation. See [sample reports](#sample-reports) below for more details.
* **Access to your telemetry data:** This gives you access to configuration and usage data about your <%= vars.product_short %> installation. See [sample reports](#sample-reports) below for more details.
* **Proactive support:** This enables VMware to proactively warn you about unhealthy patterns.
* **Benchmarks:** This is your usage relative to the rest of the <%= vars.product_short %> user base.

The table below compares the Standard and Enhanced participation levels.

<table>
  <tr>
    <th>Benefit</th>
    <th>Standard Level</th>
    <th>Enhanced Level</th>
  </tr>
  <tr>
    <td>Usage data</td>
    <td>Raw data</td>
    <td>Reports and trend analysis</td>
  </tr>
  <tr>
    <td>Access to your telemetry data</td>
    <td>No</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Proactive support</td>
    <td>No</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Benchmarks</td>
    <td>No</td>
    <td>Yes</td>
  </tr>
</table>

<p class="note"><strong>Note:</strong> VMware reserves the right to change the benefits associated with the Enhanced participation level at any time.</p>

### <a id="configuration"></a>Configure CEIP and Telemetry

**Video**: For information about configuring CEIP and Telemetry participation, 
see the [CEIP Opt-In Walkthrough video](https://www.youtube.com/embed/RTyq9ODUbU4) on YouTube.

To configure CEIP and Telemetry, see the _CEIP and Telemetry_
section of the installation topic for your IaaS:

  * [Installing <%= vars.product_short %> on vSphere](./installing-pks-vsphere.html#telemetry)
  * [Installing <%= vars.product_short %> on vSphere with NSX-T](./installing-nsx-t.html#telemetry)
  * [Installing <%= vars.product_short %> on AWS](./installing-pks-aws.html#telemetry)
  * [Installing <%= vars.product_short %> on Azure](./installing-pks-azure.html#telemetry)
  * [Installing <%= vars.product_short %> on GCP](./installing-pks-gcp.html#telemetry)

#### <a id="proxy"></a>Proxy Communication

If you use a proxy server, the <%= vars.product_short %> proxy settings apply to outgoing telemetry data.

To configure <%= vars.product_short %> proxy settings for CEIP and Telemetry and other communications, see the following:

* For AWS, see [Using Proxies with Enterprise PKS on AWS](proxies-aws.html).
* For vSphere, see [Networking](installing-pks-vsphere.html#networking) in _Installing Enterprise PKS on vSphere_.
* For vSphere with NSX-T, see [Using Proxies with Enterprise PKS on NSX-T](proxies.html).

## <a id="system-components"></a> System Components

The CEIP and Telemetry programs use the following components to collect data:

+ **Telemetry Server:** This component runs on the PKS control plane. The server receives telemetry events from the PKS API and metrics from Telemetry agent pods. The server sends events and metrics to a data lake for archiving and analysis.

+ **Telemetry Agent Pod:** This component runs in each Kubernetes cluster as a deployment with one replica. Agent pods periodically poll the Kubernetes API for cluster metrics and send the metrics to the Telemetry server.

The following diagram shows how telemetry data flows through the system components:

<%# The below diagram can be edited at: https://docs.google.com/presentation/d/1GKYWnT5efjMwyPx23NCoD2VIS-NVzfHDy_6WDyrwgtU/edit?usp=sharing %>
<a href="images/telemetry-data-flow.png" target="_blank"><img src="images/telemetry-data-flow.png" alt="
  Telemetry System Data Flow"></a>

## <a id="data-dictionary"></a>Data Dictionary

For information about PKS Telemetry collection and reporting, see the [PKS Telemetry Data](https://drive.google.com/open?id=18UCd1kbhR3xV_XOl6KcEU64GI6ySdkRa3iG_8QAROl8#gid=1858241440) spreadsheet, hosted on Google Drive.

## <a id="sample-reports"></a>Sample Reports

**Video**: See the [Sample Report: Create Cluster Duration](https://www.youtube.com/embed/Q41g7uWBvhA) video on YouTube.

You can view the interactive version of the [Sample Workbook](http://bit.ly/sampleworkbook) with [Tableau Reader](https://www.tableau.com/products/reader) (free to use). Click on the links below to see static screenshots of the reports.

1. **[Consumption](http://bit.ly/consumptionreport)**: As an Operator of PKS, I need a way to monitor pod consumption across my PKS environments over time, so I can:
  * See which environments and clusters get the heaviest use
  * See temporal patterns in pod consumption
  * Scale capacity accordingly
  * Show and charge back users of PKS within my organization
2. **[API heartbeats](http://bit.ly/apiheartbeats) + [Cluster heartbeats](http://bit.ly/clusterheartbeats)**: As an Operator of PKS I need a way to see the version of PKS each of my environments was running over time, so I can:
  * Keep track of all my PKS environments and clusters
  * Identify environments and clusters in need of upgrading
3. **[Cluster creation events](http://bit.ly/clustercreate)**: As an Operator of PKS I want to see how often cluster creation succeeds across my PKS environments, so I can:
  * Identify environments that encounter repeated failures and debug or intervene as appropriate to avoid frustration for cluster admins and users
4. **[Cluster creation duration](http://bit.ly/createduration)**: As an Operator of PKS I want to see how long it takes to create clusters, so I can:
  * Intervene when cluster creation significantly more time than expected, and adjust my plan and network configuration as appropriate
5. **[Cluster creation errors](http://bit.ly/createerrors)**: As an Operator of PKS, I want to see what errors are being encountered most frequently during cluster creation so I can:
  * Quickly identify widespread problems and remediate (e.g. NSX errors)
6. **[Container images](http://bit.ly/containerimages)**: As an Operator of PKS, I want to see which container images are in use across my PKS installations so I can:
  * Conduct an audit of container images and identify prohibited or problematic images
  * Infer which workloads are running on PKS, to inform my planning, resourcing, and outreach

