---
title: VMware CEIP
owner: TKGI
---

This topic describes the VMware Customer Experience Improvement Program (CEIP) used in <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>).  

## <a id="overview"></a>Overview

The CEIP program allows VMware to collect data from customer installations to improve 
the <%= vars.product_short %> experience.
Collecting data at scale allows VMware to identify patterns and warning signals in 
<%= vars.product_short %> installations.

Customers who participate in the CEIP receive proactive support benefits that include a weekly report based on telemetry data. 
Contact your Customer Success Manager to subscribe to this report. You can view a sample report at [<%= vars.k8s_runtime_abbr %> 
Platform Operations Report](https://via.vmw.com/TKGI).

<p class="note"><strong>Note:</strong> <%= vars.product_short %> does not collect any personally identifiable information (PII) at either participation level.
For a list of the data <%= vars.product_short %> collects, see <a href="#data-dictionary">Data Dictionary</a>.</p>

### <a id="configuration"></a>Configure CEIP

To configure CEIP, see the _VMware CEIP_
section of the installation topic for your IaaS:

  * [Installing <%= vars.product_short %> on vSphere](./installing-vsphere.html#telemetry)
  * [Installing <%= vars.product_short %> on vSphere with NSX-T](./installing-nsx-t.html#telemetry)
  * [Installing <%= vars.product_short %> on AWS](./installing-aws.html#telemetry)
  * [Installing <%= vars.product_short %> on Azure](./installing-azure.html#telemetry)
  * [Installing <%= vars.product_short %> on GCP](./installing-gcp.html#telemetry)

#### <a id="proxy"></a>Proxy Communication

If you use a proxy server, the <%= vars.product_short %> proxy settings apply to outgoing CEIP data.

To configure <%= vars.product_short %> proxy settings for CEIP and other communications, see the following:

* For AWS, see [Using Proxies with Tanzu Kubernetes Grid Integrated Edition on AWS](proxies-aws.html).
* For vSphere, see [Networking](installing-vsphere.html#networking) in _Installing Tanzu Kubernetes Grid Integrated Edition on vSphere_.
* For vSphere with NSX-T, see [Using Proxies with Tanzu Kubernetes Grid Integrated Edition on NSX-T](proxies.html).

## <a id="system-components"></a> System Components

The CEIP program use the following components to collect data:

+ **Telemetry Server:** This component runs on the <%= vars.k8s_runtime_abbr %> control plane. The server receives CEIP events from the <%= vars.control_plane %> and metrics from Telemetry agent pods. The server sends events and metrics to a data lake for archiving and analysis.

+ **Telemetry Agent Pod:** This component runs in each Kubernetes cluster as a deployment with one replica. Agent pods periodically poll the Kubernetes API for cluster metrics and send the metrics to the Telemetry server.

The following diagram shows how CEIP data flows through the system components:

![CEIP System Data Flow](images/telemetry-data-flow.png)  
[View a larger version of this image.](images/telemetry-data-flow.png)  
<%#   <a href="images/telemetry-data-flow.png" target="_blank"><img src="images/telemetry-data-flow.png" alt="Telemetry System Data Flow"></a>     #%>
<%# Image source: https://docs.google.com/presentation/d/1GKYWnT5efjMwyPx23NCoD2VIS-NVzfHDy_6WDyrwgtU/edit#slide=id.g8599dc7597_0_0 %>
  

## <a id="data-dictionary"></a>Data Dictionary

For information about <%= vars.k8s_runtime_abbr %> CEIP collection and reporting, see the [<%= vars.k8s_runtime_abbr %> Telemetry Data](https://docs.google.com/spreadsheets/d/18UCd1kbhR3xV_XOl6KcEU64GI6ySdkRa3iG_8QAROl8/edit#gid=945250226) spreadsheet, hosted on Google Drive.
