---
title: Upgrading Clusters
owner: PKS
---

This topic describes how to upgrade Kubernetes clusters provisioned by <%= vars.product_full %>.

##<a id='overview'></a>Overview

##<a id='prerequisites'></a>Prerequisites

##<a id='upgrade-tile'></a>Upgrade the <%= vars.product_tile %> Tile

To upgrade the <%= vars.product_tile %> tile, do the following:

1. On [Pivotal Network](https://network.pivotal.io/), locate the product version of the <%= vars.product_tile %> tile you want to upgrade to and
download the product file.
1. Import the product file to the Ops Manager **Installation Dashboard**.
1. In the the <%= vars.product_tile %> tile, navigate to the **Errands** pane and disable **Upgrade all clusters errand**.
1. Upgrade the <%= vars.product_tile %> tile:
  1. Return to the Ops Manager **Installation Dashboard** and click **Review Pending Changes**.
  For more information about this Ops Manager page, see
  [Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-6/customizing/review-pending-changes.html).
  1. After reviewing your changes, select <%= vars.product_short %> and click **Apply Changes**.

##<a id='upgrade-clusters'></a>Ugrade Clusters

To upgrade a Kubernetes cluster provisioned by <%= vars.product_short %>, run the following command:

```
pks upgrade-cluster CLUSTER-NAME
```

Where `CLUSTER-NAME` is the name of the Kubernetes cluster you want to upgrade.
