---
title: Upgrading Clusters
owner: PKS
---

This topic describes how to upgrade Kubernetes clusters provisioned by <%= vars.product_full %>.

##<a id='overview'></a>Overview

When upgrading <%= vars.product_short %>, you can choose one of the following approaches:

* Upgrade the <%= vars.product_tile %> tile and all <%= vars.product_short %>-provisioned Kubernetes clusters simultaneously.
* Upgrade the <%= vars.product_tile %> tile and then upgrade <%= vars.product_short %>-provisioned Kubernetes clusters separately.
If you want to upgrade your clusters separately, do the following:
  1. Complete the steps listed in [Prerequisites](#prerequisites).
  1. Complete the steps listed in [Ugrade Clusters](#upgrade-clusters).

For more information about <%= vars.product_short %> upgrades,
see [What Happens During Enterprise <%= vars.product_short %> Upgrades](understanding-upgrades.html).

##<a id='prerequisites'></a>Prerequisites

Before upgrading Kubernetes clusters provisioned by <%= vars.product_short %>, you must do the following:

* Disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile. For more information, see [Modify Errand Configuration](#disable-errand) below.
* Install the PKS command line interface (CLI). For more information, see [Installing the PKS CLI](installing-pks-cli.html).

###<a name='disable-errand'></a> Modify Errand Configuration

To disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile, perform the steps below:

1. If you have not already upgraded the <%= vars.product_tile %> tile, import the product file for the <%= vars.product_short %>
version you want to use to the Ops Manager **Installation Dashboard**.
For more information about upgrading the <%= vars.product_tile %> tile, see [Upgrading <%= vars.product_short %>](upgrade-pks.html).
1. In the the <%= vars.product_tile %> tile, navigate to the **Errands** pane and disable **Upgrade all clusters errand**.
1. To deploy the <%= vars.product_tile %> tile, return to the Ops Manager **Installation Dashboard** and click **Review Pending Changes**.
For more information about this Ops Manager page, see
[Reviewing Pending Product Changes](https://docs.pivotal.io/pivotalcf/2-6/customizing/review-pending-changes.html).
1. After reviewing your changes, select the <%= vars.product_tile %> tile and click **Apply Changes**.

##<a id='upgrade-clusters'></a>Ugrade Clusters

You can upgrade one or multiple Kubernetes clusters using the PKS command line interface (CLI).
To upgrade a Kubernetes cluster provisioned by <%= vars.product_short %>, run the following command:

```
pks upgrade-cluster CLUSTER-NAME
```
<p class="note warning"><strong>Warning:</strong> Do not make more than four individual upgrade requests at a time.
When you make multiple upgrade requests, <%= vars.product_short %> upgrades these clusters in parallel.
<%= vars.product_short %> can perform only four concurrent upgrades.</p>

Where `CLUSTER-NAME` is the name of the Kubernetes cluster you want to upgrade.
