---
title: Upgrading Clusters
owner: PKS
---

This topic describes how to upgrade Kubernetes clusters provisioned by <%= vars.product_full %>. 
Upgrading a cluster makes the cluster's internal PKS version match your PKS control plane's PKS version.

For information about updating clusters, which modifies a cluster's configuration, 
see [pks update-cluster] (./cli/index.html#update-cluster) in the _PKS CLI_ documentation.

##<a id='overview'></a>Overview

When upgrading <%= vars.product_short %>, you can choose one of the following approaches:

* Upgrade the <%= vars.product_tile %> tile and all <%= vars.product_short %>-provisioned Kubernetes clusters simultaneously.
This is the default behavior of the <%= vars.product_tile %> tile.
* Upgrade the <%= vars.product_tile %> tile only and then upgrade <%= vars.product_short %>-provisioned Kubernetes clusters separately.
If you want to upgrade your clusters separately, do the following:
  1. Review [Limitations](#limitations).
  1. Complete the steps listed in [Prerequisites](#prerequisites).
  1. Complete the steps listed in [Upgrade Clusters](#upgrade-clusters).

    <p class="note"><strong>Note:</strong> When <%= vars.product_short %> is set to upgrade the <%= vars.product_tile %> tile only and
    not the clusters, the Kubernetes cluster version falls behind the <%= vars.product_tile %> tile version.
    If the clusters fall more than one version behind the tile,
    <%= vars.product_short %> cannot upgrade the clusters.
    The clusters must be upgraded to match the <%= vars.product_short %> tile version before the next tile upgrade.</p>

For more information about <%= vars.product_short %> upgrades,
see [What Happens During <%= vars.product_short %> Upgrades](understanding-upgrades.html).

<p class="note warning"><strong>WARNING</strong>: Do not change the number of master/etcd nodes 
for any plan that was used to create currently-running clusters. 
<%= vars.product_short %> does not support changing the number of master/etcd nodes for plans 
with existing clusters.
</p>

##<a id='prerequisites'></a>Prerequisites

Before upgrading PKS-provisioned Kubernetes clusters:

1. Verify the cluster you are upgrading supports upgrading. 
For information, see [Verify Your Clusters Support Upgrading](checklist.html#resource-usage)
 in the _Upgrade Preparation Checklist for <%= vars.product_short %>_.
1. Verify that your Kubernetes environment is healthy. 
For information, see [Verifying Deployment Health](verify-health.html).
1. Disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile. For more information, see [Modify Errand Configuration in the <%= vars.product_tile %> Tile](#disable-errand) below.
  <p class="note warning"><strong>Warning:</strong> If you disable <strong>Upgrade all clusters errand</strong> when upgrading the <%= vars.product_tile %> tile or updating your tile configuration,
  you must upgrade all your Kubernetes clusters before the next <%= vars.product_short %> upgrade or tile configuration update.</p>
1. Install the PKS command line interface (CLI) v1.6. For more information, see [Installing the PKS CLI](installing-pks-cli.html).
1. Log in to <%= vars.product_short %> using `pks login`. For more information, see [Logging in to <%= vars.product_short %>](login.html).

###<a name='disable-errand'></a> Modify Errand Configuration in the <%= vars.product_tile %> Tile

To modify errand configuration when upgrading your <%= vars.product_short %> version, perform the steps below.
For more information about upgrading <%= vars.product_short %>, see [Upgrading <%= vars.product_short %>](upgrade-pks.html).

1. If you have not already, import the product file for the new <%= vars.product_short %> version to the Ops Manager **Installation Dashboard**.
1. In the <%= vars.product_tile %> tile, navigate to the **Errands** pane.
1. Disable **Upgrade all clusters errand** and click **Save**.
  ![Errands pane](images/disable-upgrade-all-clusters-errand.png)
1. Return to the Ops Manager **Installation Dashboard** and click **Review Pending Changes**.
1. Select <%= vars.product_short %> and any other products that you want to deploy and click **Apply Changes**.

##<a id='upgrade-clusters'></a>Upgrade Clusters

You can upgrade your <%= vars.product_tile %> tile 
separately from upgrading your <%= vars.product_tile %>-provisioned Kubernetes clusters.  

After upgrading your <%= vars.product_tile %> tile, upgrade individual or multiple 
clusters using the following procedures:

* [Upgrade a Single Kubernetes Cluster](#upgrade-cluster)  
* [Upgrade Multiple Kubernetes Clusters](#upgrade-clusters-multi)

To monitor or stop a cluster upgrade, follow the procedures in 
[Manage Your Kubernetes Cluster Upgrade Job](#manage-upgrade), below.


###<a id='upgrade-cluster'></a>Upgrade a Single Kubernetes Cluster

The <%= vars.product_short %> CLI provides `upgrade-cluster` for upgrading an individual <%= vars.product_tile %>-provisioned 
Kubernetes cluster. 

To upgrade an individual Kubernetes cluster, 
run the following command:

```
pks upgrade-cluster CLUSTER-NAME
```
Where `CLUSTER-NAME` is the name of the Kubernetes cluster you want to upgrade.

To upgrade multiple clusters, see [Upgrade Multiple Kubernetes Clusters](#upgrade-clusters-multi), below.  

For more information about the `pks upgrade-cluster` command, see [pks upgrade-cluster](cli/index.html#upgrade-cluster) in the _PKS CLI_ documentation.    

<p class="note"><strong>Note:</strong> The PKS CLI also provides the 
  similar <code>pks update-cluster</code> command. 
  Use <code>pks update-cluster</code> when modifying a cluster's configuration, 
  such as to change a cluster's node count or to apply IaaS tagging to a cluster's VMs. 
  For more information about <code>pks update-cluster</code>, see 
  <a href="cli/index.html#update-cluster">pks update-cluster</a> 
  in the <i>PKS CLI</i> documentation.    
</p>


###<a id='upgrade-clusters-multi'></a>Upgrade Multiple Kubernetes Clusters

The <%= vars.product_short %> CLI provides `upgrade-clusters` for upgrading multiple <%= vars.product_tile %>-provisioned 
Kubernetes clusters. 
You can upgrade clusters serially, serially with some clusters designated as canary clusters, or entirely in parallel.  

To upgrade a single cluster, see [Upgrade a Single Kubernetes Cluster](#upgrade-cluster) above.

For more information about the `pks upgrade-clusters` command, see [pks upgrade-clusters](cli/index.html#upgrade-clusters) in the _PKS CLI_ documentation.    

####<a id='upgrade-clusters-parallel'></a> Upgrade Multiple Kubernetes Clusters in Parallel

To upgrade multiple Kubernetes clusters, run the following command:

```
pks upgrade-clusters --clusters CLUSTER-NAMES --max-in-flight CLUSTER-COUNT --wait
```
Where:

* `CLUSTER-NAMES` is a comma-delimited list of the names of the Kubernetes clusters you want to upgrade. 

* `CLUSTER-COUNT` is the maximum number of clusters to upgrade in parallel within an an AZ.  
    * If the `CLUSTER-NAMES` list is longer than the `CLUSTER-COUNT`, the first set of clusters are upgraded in parallel and
    subsequent clusters are queued and then upgraded in parallel as the preceding cluster upgrades complete.  
    * If an upgrade fails for a cluster in the `CLUSTER-NAMES` list, the job continues to a subsequent cluster in the list.  
    * To run the cluster upgrade job as a background task, remove the `--wait` argument.

    <p class="note"><strong>Note:</strong> Run <code>upgrade-clusters</code> with a <code>--max-in-flight</code> 
      argument less than your BOSH Director > Director Config > <strong>Director Workers</strong> value. 
      For example, if your <strong>Director Workers</strong> value remains the default of <code>5</code>, 
      run <code>upgrade-clusters</code> with a <code>--max-in-flight</code> argument value less than <code>5</code>.
    </p>

    <p class="note"><strong>Note:</strong> <code>max-in-flight</code> is an optional argument. 
      If <code>max-in-flight</code> is not set, <%= vars.product_short %> uses the default 
      <code>max-in-flight</code> value of <code>1</code> and the clusters are upgraded serially.
    </p>

For example:

<pre class="terminal">
$ pks upgrade-clusters --clusters k8-cluster-000,k8-cluster-001,k8-cluster-002 --max-in-flight 2  --wait
<br>
You are about to upgrade k8-cluster-000, k8-cluster-001 and k8-cluster-002.
Warning: This operation may be long running and may block further operations on the cluster(s) until complete
<br>
Continue? (y/n):y
Your taskID for the upgrade task is: d772aba0-2670-4fba-b26c-044b19d6ab60
Started upgrading cluster: k8-cluster-000
Started upgrading cluster: k8-cluster-001
Finished upgrading cluster: k8-cluster-000
Started upgrading cluster: k8-cluster-002
Finished upgrading cluster: k8-cluster-001
Finished upgrading cluster: k8-cluster-002
Upgrade task d772aba0-2670-4fba-b26c-044b19d6ab60 is done.
</pre>

####<a id='upgrade-clusters-errors'></a> Upgrade Multiple Kubernetes Clusters With Canaries

To upgrade multiple clusters and automatically stop upgrading clusters if a cluster upgrade fails, 
specify your cluster list as canary clusters. 
You can specify one or more clusters as canary clusters.  

To upgrade multiple clusters with one or more canary clusters, run the following command:

```
pks upgrade-clusters --canaries CANARY-CLUSTER-NAMES --clusters CLUSTER-NAMES --wait
```
Where:

* `CANARY-CLUSTER-NAMES` is a comma-delimited list of the names of the Kubernetes clusters you want to upgrade as canary clusters. 

* `CLUSTER-NAMES` is a comma-delimited list of Kubernetes clusters to upgrade if all canary clusters successfully upgrade.
    * The specified canary clusters are upgraded prior to upgrading the clusters in your `CLUSTER-NAMES` list.  
    * Canary clusters are always upgraded serially.
    * If an upgrade fails for a canary cluster, the entire `upgrade-clusters` job stops. 
    * If an upgrade fails for a cluster in the `CLUSTER-NAMES` list, the `upgrade-clusters` job continues to a subsequent cluster in the list.  
    * To run the cluster upgrade job as a background task, remove the `--wait` argument.  

    <p class="note"><strong>Note:</strong> <code>--clusters</code> is a required argument. 
    To configure <code>upgrade-clusters</code> to stop for any cluster upgrade failure, 
    specify only one cluster in your <code>CLUSTER-NAMES</code> list and 
    the remaining clusters in your <code>CANARY-CLUSTER-NAMES</code> list.
    </p>

    <p class="note"><strong>Note:</strong> Canary clusters are always upgraded serially. 
      Only the clusters specified in the <code>--clusters</code> list are upgraded in parallel 
      when you run <code>upgrade-clusters</code> with both <code>--canaries</code> and 
      <code>--max-in-flight</code> arguments.
    </p>

For example:

<pre class="terminal">
$ pks upgrade-clusters --canaries k8-cluster-dev,k8-cluster-000,k8-cluster-001  --clusters k8-cluster-002  --wait
<br>
You are about to upgrade k8-cluster-dev k8-cluster-000, k8-cluster-001 and k8-cluster-002.
Warning: This operation may be long running and may block further operations on the cluster(s) until complete

Continue? (y/n):y
Your taskID for the upgrade task is: ce31a1bb-380a-453f-afa0-835ffa1ce6ac
Started upgrading cluster: k8-cluster-000
Upgrading cluster succeeded: k8-cluster-000
Started upgrading cluster: k8-cluster-001
Upgrading cluster succeeded: k8-cluster-001
Started upgrading cluster: k8-cluster-dev
Upgrading cluster failed: k8-cluster-dev
Upgrade task ce31a1bb-380a-453f-afa0-835ffa1ce6ac is done.
</pre>


###<a id='manage-upgrade'></a> Manage Your Kubernetes Cluster Upgrade Job

You can use the PKS CLI to monitor and manage your <%= vars.product_tile %>-provisioned Kubernetes cluster 
upgrade jobs.  

####<a id='monitor-upgrades'></a> Monitor the Status of Your Kubernetes Clusters

To review the status of the actions being performed on your clusters, 
run the following command:

```
pks clusters
```

For example:
<pre class="terminal">
$ pks clusters
<br>
Upgrade is available to PKS Version: 1.6.0-build.14
<br>
PKS Version     Name               k8s Version  Plan Name  UUID                                  Status       Action
1.6.0-build.14  k8-cluster-000     1.14.5       small      9527ebaa-e2fa-422f-a52b-de3c3f0e39a4  succeeded    UPGRADE
1.6.0-build.14  k8-cluster-001     1.14.5       small      9527ebaa-e2fa-422f-a52b-de3c3f0e39a4  failed       UPGRADE
1.6.0-build.14  k8-cluster-002     1.14.5       small      9527ebaa-e2fa-422f-a52b-de3c3f0e39a4  in progress  UPGRADE
1.6.0-build.14  k8-cluster-003     1.14.5       small      9527ebaa-e2fa-422f-a52b-de3c3f0e39a4  queued       UPGRADE
</pre>

####<a id='monitor-upgrade-job'></a> Monitor the Status of Your Kubernetes Cluster Upgrade Job

To review the status of your `upgrade-clusters` job, run the following command:

```
pks task TASKID
```
Where `TASKID` is the ID of the task that was returned when you ran `pks upgrade-clusters`.

For example:
<pre class="terminal">
$ pks task ce31a1bb-380a-453f-afa0-835ffa1ce6ac
<br>
Your upgrade task is: done
<br>
Name           Status     Start time                     End time                            isCanary
k8-cluster-000 succeeded  Mon, 14 Oct 2019 12:00:00 PDT  Mon, 14 Oct 2019 12:19:54 PDT       true
k8-cluster-001 failed     Mon, 14 Oct 2019 12:20:00 PDT  ---                                 true
</pre>

####<a id='stop-upgrade-job'></a> Stop Your Kubernetes Cluster Upgrade Job

To cancel a running `upgrade-clusters` job, run the following PKS CLI command:

```
pks cancel-task TASKID
```
Where `TASKID` is the ID of the task that was returned when you ran `pks upgrade-clusters`.

<p class="note warning"><strong>Warning:</strong> <code>pks cancel-task</code> does not cancel cluster upgrades currently in progress. This command only cancels a job's pending cluster upgrades.
</p>

##<a id='limitations'></a> Limitations

If you upgrade the <%= vars.product_tile %> tile only
and then attempt to resize or update your existing Kubernetes clusters,
these operations fail until you upgrade the clusters.

If you want to upgrade the <%= vars.product_tile %>
tile and your existing Kubernetes clusters simultaneously,
do not disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile.

##<a id='after-upgrade-clusters'></a>After Upgrading Clusters

###<a id='restore-cluster-sizing'></a>(Optional) Restore Cluster Sizing
 
If you scaled your cluster up for the upgrade and you prefer to restore your cluster to its original sizing, 
you can now scale the cluster back down to its previous configuration. 
<%= vars.recommended_by %> recommends that you not scale down your clusters and continue to run them with 
recommended configurations, reducing the chance of a future outage.  
