---
title: Upgrade Order for Tanzu Kubernetes Grid Integrated Edition Environments on vSphere
owner: TKGI
---

<style>

.upgrade-table li {
    margin: 0 0 .6em;
}

</style>


This topic describes upgrade scenarios for
<%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) environments that are upgraded from
<%= vars.product_version_prev %> to <%= vars.product_version %> on vSphere.

## <a id="overview"></a>Overview

When you upgrade <%= vars.k8s_runtime_abbr %> on vSphere, you might also upgrade
vSphere and, if you are using it, NSX.

<%= vars.k8s_runtime_abbr %>, NSX, and vSphere upgrades depend on each other.
Some combinations also require upgrading <%= vars.ops_manager_full %> (<%= vars.ops_manager %>) or
<%= vars.k8s_runtime_abbr %>-provisioned Kubernetes clusters.

For any combination of upgrades that you perform, you must follow the upgrade
order described in this topic.

* If your environment is on vSphere with NSX networking,
see [<%= vars.k8s_runtime_abbr %> on vSphere with NSX Networking](#nsxt) below.
* If your environment is on vSphere with Antrea or Flannel networking,
see
[<%= vars.k8s_runtime_abbr %> on vSphere (Antrea and Flannel Networking)](#flannel)
below.

## <a id="nsxt"></a><%= vars.k8s_runtime_abbr %> on vSphere with NSX Networking

When upgrading a <%= vars.k8s_runtime_abbr %>
environment on vSphere with NSX networking, you can choose to upgrade any
of the following:

* <%= vars.k8s_runtime_abbr %> only, optionally including Kubernetes clusters
* <%= vars.k8s_runtime_abbr %>, Kubernetes clusters, and NSX
* <%= vars.k8s_runtime_abbr %>, Kubernetes clusters, NSX, and vSphere


For more information, see below:

<table class="nice upgrade-table">
<col width="20%">
<col width="40%">
<col width="40%">
    <th>To upgrade these components...</th>
    <th>Use this order...</th>
    <th>For more information, see...</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td>
            <ol>
              <li>Upgrade <%= vars.ops_manager %> if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>(Recommended) Upgrade Kubernetes clusters.</li>
            </ol>
        </td>
        <td><a href="#tkgi-only">Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %></a></td>
    </tr>
    <tr>
        <td><%= vars.k8s_runtime_abbr %> and NSX</td>
        <td>
            <ol>
              <li>Upgrade NSX.</li>                
              <li>Upgrade <%= vars.ops_manager %> if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>Upgrade Kubernetes clusters.</li>
            </ol>
        </td>
        <td><a href="#tkgi-nsxt">Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> and NSX v4.0</a></td>
    </tr>
    <tr>
        <td><%= vars.k8s_runtime_abbr %>, NSX, and vSphere</td>
        <td>
            <ol>
              <li>Upgrade NSX.</li>                
              <li>Upgrade <%= vars.ops_manager %> if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>Upgrade Kubernetes clusters.</li>
              <li>Upgrade vSphere.</li>
            </ol>
        </td>
        <td><a href="#tkgi-nsxt-vsphere">Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>, NSX, and vSphere v8.0</a></td>
    </tr>
</table>

<p class="note warning">
<strong>Warning:</strong> Refer to the <a href="release-notes.html">Release Notes</a> for current version support, known issues, and other important information.
</p>

For a list of NSX and vSphere versions compatible with
<%= vars.product_short %> <%= vars.product_version %>, see:

* [Product Snapshot](release-notes.html) in _Release Notes_
* [VMware Product Interoperability Matrices](https://interopmatrix.vmware.com/Interoperability?col=644&row=0,)

### <a id="tkgi-only"></a>Scenario 1: Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>

In this upgrade scenario, you upgrade <%= vars.product_short %>
from <%= vars.product_version_prev %> to <%= vars.product_version %> and do not upgrade your NSX or vSphere infrastructure.

The upgrade scenario includes the following steps:

1. Upgrade <%= vars.ops_manager %> to <%= vars.ops_man_version %> or later.
These are the recommended <%= vars.ops_manager %> versions for <%= vars.product_short %> <%= vars.product_version %>.0.
To verify <%= vars.ops_manager %> compatibility with other <%= vars.product_version %> versions, see
[<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Tanzu%20Kubernetes%20Grid%20Integrated%20Edition%20(TKGi)).
1. Upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to <%= vars.product_version %>.
1. If you are upgrading a cluster that uses a public cloud CSI driver, 
see [Limitations on Using a Public Cloud CSI Driver](release-notes.html#1-15-0-csi-driver-limits) 
in _Release Notes_ for additional requirements.  
1. (Recommended) Upgrade all Kubernetes clusters to
<%= vars.product_short %> <%= vars.product_version %>.
This upgrades the NCP version of your clusters.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong><%= vars.product_version_prev %></strong></td>
        <td><strong><%= vars.product_version %></strong></td>
        <td>See <a href="upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX Networking)</a>.</td>
    </tr>
    <tr>
        <td><%= vars.ops_manager %></td>
        <td><strong><%= vars.ops_man_version_prev %></strong></td>
        <td><strong><%= vars.ops_man_version %></strong> or <strong>v3.0.12</strong></td>
        <td><em>n/a</em></td>
    </tr>
</table>

### <a id="tkgi-nsxt"></a>Scenario 2: Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> and NSX v4.0

<p class="note warning">
<strong>Warning:</strong> Refer to the <a href="release-notes.html">Release Notes</a> for current version support, known issues, and other important information.
</p>


In this upgrade scenario, you upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to
<%= vars.product_version %> and NSX from v3.2, to v4.0.1 or later.

The upgrade scenario includes the following steps:  

1. Upgrade NSX from v3.2.1 or later to v4.0.1 or later.  
1. Upgrade <%= vars.ops_manager %> to <%= vars.ops_man_version %> or later.
These are the recommended <%= vars.ops_manager %> versions
for <%= vars.product_short %> <%= vars.product_version %>.0.
To verify <%= vars.ops_manager %> compatibility with other <%= vars.product_version %> versions, see
[<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Tanzu%20Kubernetes%20Grid%20Integrated%20Edition%20(TKGi)).  
1. Upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to <%= vars.product_version %>.  
1. If you are upgrading a cluster that uses a public cloud CSI driver, 
see [Limitations on Using a Public Cloud CSI Driver](release-notes.html#1-16-0-csi-driver-limits) 
in _Release Notes_ for additional requirements.  
1. Upgrade all Kubernetes clusters to
<%= vars.product_short %> <%= vars.product_version %>.
This upgrades the NCP version of your clusters.  

See the table below for version information and instructions for this
upgrade scenario:  

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong><%= vars.product_version_prev %></strong></td>
        <td><strong><%= vars.product_version %></strong></td>
        <td>See <a href="upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX Networking)</a>.</td>
    </tr>
    <tr>
        <td><%= vars.ops_manager %></td>
        <td><strong><%= vars.ops_man_version_prev %></strong></td>
        <td><strong><%= vars.ops_man_version %></strong> or <strong>v3.0.12</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>NSX</td>
        <td><strong>v3.2.1</strong> or later</td>
        <td><strong>v4.0.1</strong> or later</td>
        <td>
<% if vars.product_version == "COMMENTED"  %>
        See <a href="upgrade-nsxt.html#upgrade-nsxt">Upgrade NSX Data Center to v3.0 or v3.1</a>
        in <em>Upgrading <%= vars.product_short %> (NSX Networking)</em>.
<% end %>
        </td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><strong>v4.1.0</strong></td>
        <td><strong>v4.1.1.0</strong></td>
        <td><em>n/a</em></td>
    </tr>
</table>

### <a id="tkgi-nsxt-vsphere"></a>Scenario 3: Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>, NSX v4.0, and vSphere v8.0

<p class="note warning">
<strong>Warning:</strong> Refer to the <a href="release-notes.html">Release Notes</a> for current version support, known issues, and other important information.
</p>

In this upgrade scenario, you upgrade:

* <%= vars.product_short %> from <%= vars.product_version_prev %> to <%= vars.product_version %>
* NSX from v3.2.2 or later to v4.0.1 or later.
* vSphere from v7.0 to v8.0

The upgrade scenario includes the following steps:  

1. Upgrade NSX from v3.2.2 or later, to v4.0.0. or later.
<% if vars.product_version == "COMMENTED"  %>
1. If you set DRS mode to **Manual** above, restore DRS to its original setting.  
<% end %>
1. Upgrade <%= vars.ops_manager %> to <%= vars.ops_man_version %> or later.
These are the recommended <%= vars.ops_manager %> versions
for <%= vars.product_short %> <%= vars.product_version %>.0.
To verify <%= vars.ops_manager %> compatibility with other <%= vars.product_version %> versions, see
[<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Tanzu%20Kubernetes%20Grid%20Integrated%20Edition%20(TKGi)).
1. Upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to <%= vars.product_version %>.  
1. If you are upgrading a cluster that uses a public cloud CSI driver, 
see [Limitations on Using a Public Cloud CSI Driver](release-notes.html#1-15-0-csi-driver-limits) 
in _Release Notes_ for additional requirements.  
1. Upgrade all Kubernetes clusters to
<%= vars.product_short %> <%= vars.product_version %>.
This upgrades the NCP version of your clusters.  
1. Upgrade vSphere from v7.0 to v8.0.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice upgrade-table">
<col width="15%">
<col width="18%">
<col width="18%">
<col width="49%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong><%= vars.product_version_prev %></strong></td>
        <td><strong><%= vars.product_version %></strong></td>
        <td>See <a href="upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX Networking)</a>.</td>
    </tr>
    <tr>
        <td><%= vars.ops_manager %></td>
        <td><strong><%= vars.ops_man_version_prev %></strong></td>
        <td><strong><%= vars.ops_man_version %></strong> or <strong>v3.0.12</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>NSX</td>
        <td><strong>v3.2.2</strong> or later</td>
        <td><strong>v4.0.1</strong> or later</td>
        <td>See <a href="upgrade-nsxt.html#upgrade-nsxt">Upgrade NSX Data Center to v4.0.1</a>
        in <em>Upgrading <%= vars.product_short %> (NSX Networking)</em>.</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><strong>v4.1.0</strong></td>
        <td><strong>v4.1.1.0</strong> or later</td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td><strong>v7.0</strong></td>
        <td><strong>v8.0</strong></td>
        <td>
            <p>See the vSphere documentation:</p>
            <ol>
                <li><a href="https://docs.vmware.com/en/VMware-vSphere/8.0/vsphere-vcenter-upgrade/GUID-30485437-B107-42EC-A0A8-A03334CFC825.html">Upgrading the vCenter Server Appliance</a></li>
                <li><a href="https://docs.vmware.com/en/VMware-vSphere/8.0/vsphere-esxi-upgrade/GUID-122035F6-8433-463E-A0F7-B4FC71A05B04.html">Upgrading ESXi Hosts</a></li>
            </ol>
            Also, see 
            <a href="https://docs.vmware.com/en/VMware-vSphere/8.0/vsphere-vcenter-upgrade/GUID-7AFB6672-0B0B-4902-B254-EE6AE81993B2.html">Overview of the vSphere Upgrade Process</a>.
        </td>
    </tr>
</table>


## <a id="flannel"></a><%= vars.k8s_runtime_abbr %> on vSphere (Antrea and Flannel Networking)

When upgrading a <%= vars.product_short %> environment on vSphere with Antrea or Flannel
networking, you can choose to upgrade any of the following:

* <%= vars.k8s_runtime_abbr %> only, optionally including Kubernetes clusters
* <%= vars.k8s_runtime_abbr %>, Kubernetes clusters, and vSphere


For more information, see below:

<table class="nice upgrade-table">
<col width="20%">
<col width="40%">
<col width="40%">
    <th>To upgrade these components...</th>
    <th>Use this order...</th>
    <th>For more information, see...</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td>
            <ol>
              <li>Upgrade <%= vars.ops_manager %> if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>(Recommended) Upgrade Kubernetes clusters.</li>
            </ol>
        </td>
        <td><a href="#tkgi-only-flannel">Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %></a></td>
    </tr>
    <tr>
        <td><%= vars.k8s_runtime_abbr %> and vSphere</td>
        <td>
            <ol>
              <li>Upgrade <%= vars.ops_manager %> if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>Upgrade Kubernetes clusters.</li>
              <li>Upgrade vSphere.</li>
            </ol>
        </td>
        <td><a href="#tkgi-vsphere">Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> and vSphere v7.0</a></td>
    </tr>
</table>

For a list of vSphere versions compatible with
<%= vars.product_short %> <%= vars.product_version %>, see [VMware Product Interoperability Matrices](https://interopmatrix.vmware.com/Interoperability?col=644&row=0,).

### <a id="tkgi-only-flannel"></a>Scenario 1: Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %>

In this upgrade scenario, you upgrade <%= vars.product_short %>
from <%= vars.product_version_prev %> to <%= vars.product_version %> and do not upgrade your vSphere infrastructure.

The upgrade scenario includes the following steps:

1. Upgrade <%= vars.ops_manager %> to <%= vars.ops_man_version %> or later.
These are the recommended <%= vars.ops_manager %> versions for <%= vars.product_short %> <%= vars.product_version %>.0.
To verify <%= vars.ops_manager %> compatibility with other <%= vars.product_version %> versions, see
[<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Tanzu%20Kubernetes%20Grid%20Integrated%20Edition%20(TKGi)).
1. Upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to <%= vars.product_version %>.  
1. If you are upgrading a cluster that uses a public cloud CSI driver, 
see [Limitations on Using a Public Cloud CSI Driver](release-notes.html#1-15-0-csi-driver-limits) 
in _Release Notes_ for additional requirements.  
1. (Recommended) Upgrade all Kubernetes clusters to
<%= vars.product_short %> <%= vars.product_version %>. 
This upgrades the NCP version of your clusters.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong><%= vars.product_version_prev %></strong></td>
        <td><strong><%= vars.product_version %></strong></td>
        <td>See <a href="upgrade.html">Upgrading <%= vars.product_short %> (Antrea and Flannel Networking)</a>.</td>
    </tr>
    <tr>
        <td><%= vars.ops_manager %></td>
        <td><strong><%= vars.ops_man_version_prev %></strong></td>
        <td><strong><%= vars.ops_man_version %></strong> or <strong>v3.0.12</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td><strong>v7.0</strong></td>
        <td><strong>v7.0</strong></td>
        <td><em>n/a</em></td>
    </tr>
</table>


### <a id="tkgi-vsphere"></a>Scenario 2: Upgrading to <%= vars.k8s_runtime_abbr %> <%= vars.product_version %> and vSphere v8.0

In this upgrade scenario, you upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to
<%= vars.product_version %> and vSphere from v7.0 to v8.0.

The upgrade scenario includes the following steps:

1. Upgrade <%= vars.ops_manager %> to <%= vars.ops_man_version %> or later.
These are the recommended <%= vars.ops_manager %> versions for <%= vars.product_short %> <%= vars.product_version %>.0.
To verify <%= vars.ops_manager %> compatibility with other <%= vars.product_version %> versions, see
[<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Tanzu%20Kubernetes%20Grid%20Integrated%20Edition%20(TKGi)).
1. Upgrade <%= vars.product_short %> from <%= vars.product_version_prev %> to <%= vars.product_version %>.  
1. Upgrade all Kubernetes clusters to
<%= vars.product_short %> <%= vars.product_version %>. 
This upgrades the NCP version of your clusters.
1. Upgrade vSphere from v7.0 to v8.0.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice upgrade-table">
<col width="15%">
<col width="18%">
<col width="18%">
<col width="49%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong><%= vars.product_version_prev %></strong></td>
        <td><strong><%= vars.product_version %></strong></td>
        <td>See <a href="upgrade.html">Upgrading <%= vars.product_short %> (Antrea and Flannel Networking)</a>.</td>
    </tr>
    <tr>
        <td><%= vars.ops_manager %></td>
        <td><strong><%= vars.ops_man_version_prev %></strong></td>
        <td><strong><%= vars.ops_man_version %></strong> or <strong>v3.0.12</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td><strong>v7.0</strong></td>
        <td><strong>v8.0</strong></td>
        <td>
            <p>See the vSphere documentation:</p>
            <ol>
                <li><a href="https://docs.vmware.com/en/VMware-vSphere/8.0/vsphere-vcenter-upgrade/GUID-30485437-B107-42EC-A0A8-A03334CFC825.html">Upgrading the vCenter Server Appliance</a></li>
                <li><a href="https://docs.vmware.com/en/VMware-vSphere/8.0/vsphere-esxi-upgrade/GUID-122035F6-8433-463E-A0F7-B4FC71A05B04.html">Upgrading ESXi Hosts</a></li>
            </ol>
            Also, see 
            <a href="https://docs.vmware.com/en/VMware-vSphere/8.0/vsphere-vcenter-upgrade/GUID-7AFB6672-0B0B-4902-B254-EE6AE81993B2.html">Overview of the vSphere Upgrade Process</a>.
        </td>
    </tr>
</table>
