---
title: Upgrading Enterprise PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to upgrade the <%= vars.product_full %> tile. See the following topics:

<ul>
  <li>
    <a href="./understanding-upgrades.html">What Happens During <%= vars.product_short %> Upgrades</a>
  </li>
  <li>
    <a href="./checklist.html">Upgrade Preparation Checklist for <%= vars.product_short %> v1.5</a>
  </li>
  <li>
    <a href="./upgrade-pks.html">Upgrading <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./upgrade-pks-nsxt.html">Upgrading <%= vars.product_short %> with NSX-T</a>
  </li>
  <li>
    <a href="./maintain-uptime.html">Maintaining Workload Uptime</a>
  </li>
  <li>
    <a href="./upgrade-pipeline.html">Configuring the Upgrade Pipeline</a>
  </li>
</ul>
