---
title: Upgrading Clusters
owner: PKS
---

This topic describes how to upgrade Kubernetes clusters provisioned by <%= vars.product_full %>.

##<a id='overview'></a>Overview

When upgrading <%= vars.product_short %>, you can choose one of the following approaches:

* Upgrade the <%= vars.product_tile %> tile and all <%= vars.product_short %>-provisioned Kubernetes clusters simultaneously.
This is the default behavior of the <%= vars.product_tile %> tile.
* Upgrade the <%= vars.product_tile %> tile and then upgrade <%= vars.product_short %>-provisioned Kubernetes clusters separately.
If you want to upgrade your clusters separately, do the following:
  1. Complete the steps listed in [Prerequisites](#prerequisites).
  1. Complete the steps listed in [Ugrade Clusters](#upgrade-clusters).

For more information about <%= vars.product_short %> upgrades,
see [What Happens During Enterprise <%= vars.product_short %> Upgrades](understanding-upgrades.html).

##<a id='prerequisites'></a>Prerequisites

Before upgrading Kubernetes clusters provisioned by <%= vars.product_short %>, you must do the following:

* Install the PKS command line interface (CLI). For more information, see [Installing the PKS CLI](installing-pks-cli.html).
* Disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile. For more information, see [Modify Errand Configuration in the <%= vars.product_tile %> Tile](#disable-errand) below.

###<a name='disable-errand'></a> Modify Errand Configuration in the <%= vars.product_tile %> Tile

To modify errand configuration when upgrading your <%= vars.product_short %> version, perform the steps below.
For more information about upgrading <%= vars.product_short %>, see [Upgrading <%= vars.product_short %>](upgrade-pks.html).

1. If you have not already, import the product file for the new <%= vars.product_short %> version to the Ops Manager **Installation Dashboard**.
1. In the the <%= vars.product_tile %> tile, navigate to the **Errands** pane.
1. Disable **Upgrade all clusters errand** and click **Save**.
1. Return to the Ops Manager **Installation Dashboard** and click **Review Pending Changes**.
1. Select <%= vars.product_short %> and any other products you want to deploy and click **Apply Changes**.

##<a id='upgrade-clusters'></a>Ugrade Clusters

You can upgrade one or multiple Kubernetes clusters using the PKS CLI.
To upgrade a Kubernetes cluster provisioned by <%= vars.product_short %>, run the following command:

```
pks upgrade-cluster CLUSTER-NAME
```
<p class="note warning"><strong>Warning:</strong> Do not make more than four individual upgrade requests at a time.
When you make multiple upgrade requests, <%= vars.product_short %> upgrades these clusters in parallel.
<%= vars.product_short %> can perform only four concurrent upgrades.</p>

Where `CLUSTER-NAME` is the name of the Kubernetes cluster you want to upgrade.
