---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition (Flannel Networking)
owner: TKGI
topic: pksupgradeflannel
---

<div class="quick-links">
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#prepare">Prepare to Upgrade</a></li>
    <li><a href="#upgrade">Perform the Upgrade</a></li>
      <ul>
        <li><a href="#upgrade-opsman">Upgrade Ops Manager</a></li>
        <li><a href="#upgrade-tile">Download and Import <%= vars.product_short %> v1.8</a></li>
        <li><a href="#stemcell">Download and Import Stemcells</a></li>
        <li><a href="#errands">Verify Errand Configuration</a></li>
        <li><a href="#final-review">Verify Other Configurations</a></li>
        <li><a href="#apply-changes">Apply Changes to the <%= vars.product_tile %> Tile</a></li>
      </ul>
    <li><a href="#after-upgrade">After the Upgrade</a></li>
      <ul>
        <li><a href="#update-clis">Update the <%= vars.k8s_runtime_abbr %> and Kubernetes CLIs</a></li>
        <li><a href="#verify-upgrade">Verify the Upgrade</a></li>
      </ul>
  </ul>
</div>

This topic explains how to upgrade <%= vars.product_full %> from v1.7 to v1.8
on vSphere with Flannel networking,
Google Cloud Platform (GCP), Amazon Web Services (AWS), and Azure.

For instructions on upgrading <%= vars.product_short %>
on vSphere with NSX-T networking,
see [Upgrading <%= vars.product_short %> (NSX-T Networking)](upgrade-nsxt.html).

<%= partial 'upgrade' %>
