---
title: Upgrade Order for Tanzu Kubernetes Grid Integrated Edition Environments on vSphere
owner: TKGI
---

<style>

.upgrade-table li {
    margin: 0 0 .6em;
}

</style>


This topic provides upgrade scenarios for
<%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) environments that are upgraded from
v1.8 to v1.9 on vSphere.

## <a id="overview"></a>Overview

When you upgrade <%= vars.k8s_runtime_abbr %> on vSphere, you might also upgrade
vSphere and, if you are using it, NSX-T.

<%= vars.k8s_runtime_abbr %>, NSX-T, and vSphere upgrades depend on each other.
Some combinations also require upgrading Ops Manager or
<%= vars.k8s_runtime_abbr %>-provisioned Kubernetes clusters.

For any combination of upgrades that you perform, you must follow the upgrade
order described in this topic.

* If your environment is on vSphere with NSX-T networking,
see [<%= vars.k8s_runtime_abbr %> on vSphere with NSX-T Networking](#nsxt) below.
* If your environment is on vSphere with Flannel networking,
see
[<%= vars.k8s_runtime_abbr %> on vSphere with Flannel Networking](#flannel)
below.

## <a id="nsxt"></a><%= vars.k8s_runtime_abbr %> on vSphere with NSX-T Networking

When upgrading a <%= vars.k8s_runtime_abbr %>
environment on vSphere with NSX-T networking, you can choose to upgrade any
of the following:

* <%= vars.k8s_runtime_abbr %> only, optionally including Kubernetes clusters
* <%= vars.k8s_runtime_abbr %>, Kubernetes clusters, and NSX-T
* <%= vars.k8s_runtime_abbr %>, Kubernetes clusters, NSX-T, and vSphere

For more information, see below:

<table class="nice upgrade-table">
<col width="20%">
<col width="40%">
<col width="40%">
    <th>To upgrade these components...</th>
    <th>Use this order...</th>
    <th>For more information, see...</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td>
            <ol>
              <li>Upgrade Ops Manager if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>(Recommended) Upgrade Kubernetes clusters.</li>
            </ol>
        </td>
        <td><a href="#tkgi-only">Upgrading to <%= vars.k8s_runtime_abbr %> v1.9</a></td>
    </tr>
    <tr>
        <td><%= vars.k8s_runtime_abbr %> and NSX-T</td>
        <td>
            <ol>
              <li>Upgrade Ops Manager if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>Upgrade Kubernetes clusters.</li>
              <li>Upgrade NSX-T.</li>
            </ol>
        </td>
        <td><a href="#tkgi-nsxt">Upgrading to <%= vars.k8s_runtime_abbr %> v1.9 and NSX-T v3.0</a></td>
    </tr>
    <tr>
        <td><%= vars.k8s_runtime_abbr %>, NSX-T, and vSphere</td>
        <td>
            <ol>
              <li>Upgrade Ops Manager if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>Upgrade Kubernetes clusters.</li>
              <li>Upgrade NSX-T.</li>
              <li>Upgrade vSphere.</li>
            </ol>
        </td>
        <td><a href="#tkgi-nsxt-vsphere">Upgrading to <%= vars.k8s_runtime_abbr %> v1.9, NSX-T v3.0, and vSphere v7.0</a></td>
    </tr>
</table>

<p class="note warning">
<strong>Warning:</strong> Refer to the <a href="release-notes.html">Release Notes</a> for current version support, known issues, and other important information.
</p>

For a list of NSX-T and vSphere versions compatible with
<%= vars.product_short %> v1.9, see:

* [Product Snapshot](release-notes.html) in _Release Notes_
* [VMware Product Interoperability Matrices](https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=)

### <a id="tkgi-only"></a>Scenario 1: Upgrading to <%= vars.k8s_runtime_abbr %> v1.9

In this upgrade scenario, you upgrade <%= vars.product_short %>
from v1.8 to v1.9 and do not upgrade your NSX-T or vSphere infrastructure.

The upgrade scenario includes the following steps:

1. Upgrade Ops Manager to v2.10.1 or later, or v2.9.9 or later.
These are the recommended Ops Manager versions for <%= vars.product_short %> v1.9.0.
To verify Ops Manager compatibility with other v1.9 versions, see
[<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service/).
1. Upgrade <%= vars.product_short %> from v1.8 to v1.9.
1. (Recommended) Upgrade all Kubernetes clusters to
<%= vars.product_short %> v1.9.
This upgrades the NCP version of your clusters to 3.0.2.1.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong>1.8</strong></td>
        <td><strong>1.9</strong></td>
        <td>See <a href="upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX-T Networking)</a>.</td>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>2.7, 2.8, or 2.9</td>
        <td>2.9.9, or 2.10.1</td>
        <td><em>n/a</em></td>
    </tr>
</table>

### <a id="tkgi-nsxt"></a>Scenario 2: Upgrading to <%= vars.k8s_runtime_abbr %> v1.9 and NSX-T v3.0

<p class="note warning">
<strong>Warning:</strong> Refer to the <a href="release-notes.html">Release Notes</a> for current version support, known issues, and other important information.
</p>

In this upgrade scenario, you upgrade <%= vars.product_short %> from v1.8 to
v1.9 and NSX-T from v2.5.0 or v2.5.1 to v3.0.

The upgrade scenario includes the following steps:

1. Upgrade Ops Manager to v2.10.1 or later, or v2.9.9 or later.
These are the recommended Ops Manager versions
for <%= vars.product_short %> v1.9.0.
To verify Ops Manager compatibility with other v1.9 versions, see
[<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service/).
1. Upgrade <%= vars.product_short %> from v1.8 to v1.9.
1. Upgrade all Kubernetes clusters to
<%= vars.product_short %> v1.9.
This upgrades the NCP version of your clusters to 3.0.2.1.
1. Upgrade NSX-T from v2.5.0 or v2.5.1 to v3.0.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong>1.8</strong></td>
        <td><strong>1.9</strong></td>
        <td>See <a href="upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX-T Networking)</a>.</td>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td><strong>2.9</strong></td>
        <td><strong>2.9.9</strong> or later, or <strong>2.10.1</strong> or later</td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td><strong>2.5.0</strong> or later, or <strong>3.0.1.1</strong></td>
        <td><strong>3.0.2</strong> or later, or <strong>3.0.1.2</strong> or later</td>
        <td>See <a href="upgrade-nsxt.html#upgrade-nsxt">Upgrade NSX-T Data Center v2.5 to v3.0</a>
        in <em>Upgrading <%= vars.product_short %> (NSX-T Networking)</em>.</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><strong>2.5.1</strong></td>
        <td><strong>3.0.1</strong></td>
        <td><em>n/a</em></td>
    </tr>
</table>

### <a id="tkgi-nsxt-vsphere"></a>Scenario 3: Upgrading to <%= vars.k8s_runtime_abbr %> v1.9, NSX-T v3.0, and vSphere v7.0

<p class="note warning">
<strong>Warning:</strong> Refer to the <a href="release-notes.html">Release Notes</a> for current version support, known issues, and other important information.
</p>
  
In this upgrade scenario, you upgrade:

* <%= vars.product_short %> from v1.8 to v1.9
* NSX-T from v2.5.0, v2.5.1 or v2.5.2 to v3.0
* vSphere from v6.5 or v6.7 to v7.0

The upgrade scenario includes the following steps:

1. Upgrade Ops Manager to v2.9.9 or later, or v2.10.1 or later.
These are the recommended Ops Manager versions for <%= vars.product_short %> v1.9.0.
To verify Ops Manager compatibility with other v1.9 versions, see
[<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service/).
1. Upgrade <%= vars.product_short %> from v1.8 to v1.9.
1. Upgrade all Kubernetes clusters to
<%= vars.product_short %> v1.9.
This upgrades the NCP version of your clusters to 3.0.2.1.
1. Upgrade NSX-T from v2.5.0, v2.5.1 or v2.5.2 to v3.0.
1. Upgrade vSphere from v6.5 or v6.7 to v7.0.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice upgrade-table">
<col width="15%">
<col width="18%">
<col width="18%">
<col width="49%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong>1.8</strong></td>
        <td><strong>1.9</strong></td>
        <td>See <a href="upgrade-nsxt.html">Upgrading <%= vars.product_short %> (NSX-T Networking)</a>.</td>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td><strong>2.7, 2.8,</strong> or <strong>2.9</strong></td>
        <td><strong>2.9.9</strong> or <strong>2.10.1</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>NSX-T</td>
        <td><strong>2.5.0</strong>, <strong>2.5.1</strong>, <strong>2.5.2</strong> or <strong>3.0.1.1</strong></td>
        <td><strong>3.0.2</strong> or later, or <strong>3.0.1.2</strong> or later</td>
        <td>See <a href="upgrade-nsxt.html#upgrade-nsxt">Upgrade NSX-T Data Center v2.5 to v3.0</a>
        in <em>Upgrading <%= vars.product_short %> (NSX-T Networking)</em>.</td>
    </tr>
    <tr>
        <td>NCP</td>
        <td><strong>3.0.1</strong></td>
        <td><strong>3.0.2.1</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td><strong>6.5</strong> or <strong>6.7</strong></td>
        <td><strong>7.0</strong></td>
        <td><p>See the vSphere documentation:</p>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vcenter.upgrade.doc/GUID-30485437-B107-42EC-A0A8-A03334CFC825.html">Upgrading the vCenter Server Appliance</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.esxi.upgrade.doc/GUID-122035F6-8433-463E-A0F7-B4FC71A05B04.html">Upgrading ESXi Hosts</a></li>
          </ol>

          Also, see <a href="https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vcenter.upgrade.doc/GUID-7AFB6672-0B0B-4902-B254-EE6AE81993B2.html">Overview of the vSphere Upgrade Process</a>.</td>
    </tr>
</table>

## <a id="flannel"></a><%= vars.k8s_runtime_abbr %> on vSphere with Flannel Networking

When upgrading a <%= vars.product_short %> environment on vSphere with Flannel
networking, you can choose to upgrade any of the following:

* <%= vars.k8s_runtime_abbr %> only, optionally including Kubernetes clusters
* <%= vars.k8s_runtime_abbr %>, Kubernetes clusters, and vSphere

For more information, see below:

<table class="nice upgrade-table">
<col width="20%">
<col width="40%">
<col width="40%">
    <th>To upgrade these components...</th>
    <th>Use this order...</th>
    <th>For more information, see...</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td>
            <ol>
              <li>Upgrade Ops Manager if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>(Recommended) Upgrade Kubernetes clusters.</li>
            </ol>
        </td>
        <td><a href="#tkgi-only-flannel">Upgrading to <%= vars.k8s_runtime_abbr %> v1.9</a></td>
    </tr>
    <tr>
        <td><%= vars.k8s_runtime_abbr %> and vSphere</td>
        <td>
            <ol>
              <li>Upgrade Ops Manager if necessary.</li>
              <li>Upgrade <%= vars.k8s_runtime_abbr %>.</li>
              <li>Upgrade Kubernetes clusters.</li>
              <li>Upgrade vSphere.</li>
            </ol>
        </td>
        <td><a href="#tkgi-vsphere">Upgrading to <%= vars.k8s_runtime_abbr %> v1.9 and vSphere v7.0</a></td>
    </tr>
</table>

For a list of vSphere versions compatible with
<%= vars.product_short %> v1.9, see [VMware Product Interoperability Matrices](https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&356=&175=&1=).

### <a id="tkgi-only-flannel"></a>Scenario 1: Upgrading to <%= vars.k8s_runtime_abbr %> v1.9

In this upgrade scenario, you upgrade <%= vars.product_short %>
from v1.8 to v1.9 and do not upgrade your vSphere infrastructure.

The upgrade scenario includes the following steps:

1. Upgrade Ops Manager to v2.10.1 or later, or v2.9.9 or later.
These are the recommended Ops Manager versions for <%= vars.product_short %> v1.9.0.
To verify Ops Manager compatibility with other v1.9 versions, see
[<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service/).
1. Upgrade <%= vars.product_short %> from v1.8 to v1.9.
1. (Recommended) Upgrade all Kubernetes clusters to
<%= vars.product_short %> v1.9.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice">
<col width="15%">
<col width="20%">
<col width="20%">
<col width="45%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong>1.8</strong></td>
        <td><strong>1.9</strong></td>
        <td>See <a href="upgrade.html">Upgrading <%= vars.product_short %> (Flannel Networking)</a>.</td>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td>2.7, 2.8, or 2.9</td>
        <td>2.9.9, 2.10.1</td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td>6.5 or 6.7</td>
        <td>6.5 or 6.7</td>
        <td><em>n/a</em></td>
    </tr>
</table>

### <a id="tkgi-vsphere"></a>Scenario 2: Upgrading to <%= vars.k8s_runtime_abbr %> v1.9 and vSphere v7.0

In this upgrade scenario, you upgrade <%= vars.product_short %> from v1.8 to
v1.9 and vSphere from v6.5 or v6.7 to v7.0.

The upgrade scenario includes the following steps:

1. Upgrade Ops Manager to v2.10.1 or later, or v2.9.9 or later.
These are the recommended Ops Manager versions for <%= vars.product_short %> v1.9.0.
To verify Ops Manager compatibility with other v1.9 versions, see
[<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service/).
1. Upgrade <%= vars.product_short %> from v1.8 to v1.9.
1. Upgrade all Kubernetes clusters to
<%= vars.product_short %> v1.9.
1. Upgrade vSphere from v6.5 or v6.7 to v7.0.

See the table below for version information and instructions for this
upgrade scenario:

<table class="nice upgrade-table">
<col width="15%">
<col width="18%">
<col width="18%">
<col width="49%">
    <th>Component</th>
    <th>Pre-upgrade version</th>
    <th>Post-upgrade version</th>
    <th>Instructions</th>
    <tr>
        <td><%= vars.k8s_runtime_abbr %></td>
        <td><strong>1.8</strong></td>
        <td><strong>1.9</strong></td>
        <td>See <a href="upgrade.html">Upgrading <%= vars.product_short %> (Flannel Networking)</a>.</td>
    </tr>
    <tr>
        <td>Ops Manager</td>
        <td><strong>2.9</strong></td>
        <td><strong>2.9.9</strong> or <strong>2.10.1</strong></td>
        <td><em>n/a</em></td>
    </tr>
    <tr>
        <td>vSphere</td>
        <td><strong>6.5</strong> or <strong>6.7</strong></td>
        <td><strong>7.0</strong></td>
        <td><p>See the vSphere documentation:</p>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vcenter.upgrade.doc/GUID-30485437-B107-42EC-A0A8-A03334CFC825.html">Upgrading the vCenter Server Appliance</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.esxi.upgrade.doc/GUID-122035F6-8433-463E-A0F7-B4FC71A05B04.html">Upgrading ESXi Hosts</a></li>
          </ol>

          Also, see <a href="https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vcenter.upgrade.doc/GUID-7AFB6672-0B0B-4902-B254-EE6AE81993B2.html">Overview of the vSphere Upgrade Process</a>.</td>
    </tr>
</table>
