---
title: Upgrading Enterprise PKS (NSX-T Networking)
owner: PKS
topic: pksupgradensxt
---

<div class="quick-links">
  <ul>
    <li><a href="#overview">Overview</a></li>
    <li><a href="#prepare">Prepare to Upgrade</a></li>
    <li><a href="#upgrade">Perform the Upgrade</a></li>
      <ul>
        <li><a href="#upgrade-opsman">Upgrade Ops Manager</a></li>
        <li><a href="#upgrade-tile">Download and Import <%= vars.product_short %> v1.7</a></li>
        <li><a href="#stemcell">Download and Import the Stemcell</a></li>
        <li><a href="#errands">Verify Errand Configuration</a></li>
        <li><a href="#resource-config">Verify Resource Configuration</a></li>
        <li><a href="#final-review">Verify Remaining Configurations</a></li>
        <li><a href="#apply-changes">Apply Changes to the <%= vars.product_tile %> Tile</a></li>
      </ul>
    <li><a href="#after-upgrade">After the Upgrade</a></li>
      <ul>
        <li><a href="#update-clis">Update the PKS and Kubernetes CLIs</a></li>
        <li><a href="#verify-upgrade">Verify the Upgrade</a></li>
        <li><a href="#reduce-ephemeral-size">(Optional) Reduce <%= vars.control_plane_db %> Ephemeral Disk Size</a></li>
        <li><a href="#upgrade-nsxt">(Recommended) Upgrade NSX-T Data Center v2.4.3 to v2.5</a></li>
      </ul>
  </ul>
</div>

This topic explains how to upgrade <%= vars.product_full %> from v1.6 to v1.7
on vSphere with NSX-T networking.

For instructions on upgrading <%= vars.product_short %>
with Flannel networking,
see [Upgrading <%= vars.product_short %> (Flannel Networking)](upgrade.html).

<%= partial 'upgrade' %>
