---
title: Upgrading Tanzu Kubernetes Grid Integrated Edition (Antrea Networking)
owner: TKGI
---

This topic explains how to upgrade VMware Tanzu Kubernetes Grid Integrated Edition (TKGI) in Antrea Networking environments from <%= vars.product_version_prev %> to <%= vars.product_version %>
on vSphere, Amazon Web Services (AWS), and Azure.  

For instructions on upgrading Tanzu Kubernetes Grid Integrated Edition
on vSphere with NSX networking,
see [Upgrading Tanzu Kubernetes Grid Integrated Edition (NSX Networking)](upgrade-nsxt.html).  

<p class="note warning"><strong>Warning:</strong> Do not manually upgrade your Kubernetes version.
Tanzu Kubernetes Grid Integrated Edition includes the compatible Kubernetes version.
</p>

## <a id="overview"></a>Overview

Before you upgrade, follow the procedures in [Prepare to Upgrade](#prepare) below
to plan and prepare your upgrade.

After you complete the preparation steps,
continue to the procedures in [Perform the Upgrade](#upgrade) below.
These steps guide you through the process of upgrading VMware Tanzu Operations Manager (Ops Manager) and the Tanzu Kubernetes Grid Integrated Edition tile,
importing a new stemcell, and applying the changes to your deployment.

After you complete the upgrade, follow the procedures
in [After the Upgrade](#after-upgrade) below
to verify that your upgraded Tanzu Kubernetes Grid Integrated Edition deployment is running properly.

## <a id="prepare"></a>Prepare to Upgrade

* If you have not already, complete all of the steps in
[Upgrade Preparation Checklist for <%= vars.product_short %>](checklist.html).
* To upgrade with multiple datacenters, see below.
  * You must use Ops Manager. You cannot upgrade on multiple datacenters using the Management Console.

<% if vars.product_version == "v1.19"  %>
<p class="note warning"><strong>Note:</strong> TKGI <%= vars.product_version %> does not support Flannel CNI.
    If you have clusters running with Flannel CNI on TKGI 1.18 or earlier, create new clusters with Antrea CNI and move all workloads from Flannel clusters to Antrea clusters before you upgrade TKGI to 1.19.
</p>
<% end %>

### <a id="prepare-multi-dc"></a>Prepare to Upgrade with Multiple Datacenters

<%= partial 'multi-dc-config' %>

## <a id="upgrade"></a>Perform the Upgrade

This section describes the steps required to upgrade to Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>:

1. [Upgrade Ops Manager](#upgrade-opsman)
1. [Download and Import Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>](#upgrade-tile)
1. [Download and Import Stemcells](#stemcell)
1. [Modify Plan CNI Configuration](#modify-cni)
1. [Verify Errand Configuration](#errands)
1. [Verify Other Configurations](#final-review)
1. [Apply Changes to the Tanzu Kubernetes Grid Integrated Edition Tile](#apply-changes)


### <a id="upgrade-opsman"></a>Upgrade Ops Manager

Each version of Tanzu Kubernetes Grid Integrated Edition is compatible with multiple versions of Ops Manager.

<p class="note warning"><strong>Warning:</strong> If you use an automated pipeline to upgrade TKGI, 
see <a href="upgrade-pipeline.html#configure-pipeline">Configure Automated Ops Manager and 
Ubuntu Jammy Stemcell for VMware Tanzu Downloading</a> in <em>Configuring the Upgrade Pipeline</em>.  
</p> 

To determine Ops Manager compatibility and, if necessary, upgrade Ops Manager:

1. See [<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=VMware%20Tanzu%20Kubernetes%20Grid%20Integrated%20Edition)
to determine if your Ops Manager version is compatible with Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>.
1. If your Ops Manager version is not compatible with Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>,
follow the steps below.
1. Upgrade Ops Manager. For instructions, see 
[Import Installation to Ops Manager v3.0 VM](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-upgrading-pcf.html#upgrade) 
in _Upgrading Ops Manager_ in the Ops Manager documentation.  
<%# when editing this edit the other duplicate BELOW in this topic < %= partial 'add-clusters-workloads' % >  #%>
1. Verify that the Tanzu Kubernetes Grid Integrated Edition control plane remains functional by performing the following steps:  
    1. Add more workloads and create an additional cluster. For more information, see
<a href="maintain-uptime.html#upgrades">About Cluster Upgrades</a> in _Maintaining Workload Uptime_ and
<a href="create-cluster.html">Creating Clusters</a>.  
    1. Monitor the Tanzu Kubernetes Grid Integrated Edition control plane in the <strong>Tanzu Kubernetes Grid Integrated Edition</strong> tile > <strong>Status</strong> tab.
    Review the load and resource usage data for the TKGI API and TKGI Database VMs.
    If any levels are at capacity, scale up the VMs.  
    <br>
<%# when editing this edit the other duplicate BELOW in this topic < %= partial 'add-clusters-workloads' % >  #%>

### <a id="upgrade-tile"></a> Download and Import Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>

When you upgrade Tanzu Kubernetes Grid Integrated Edition,
your configuration settings typically migrate to the new version automatically.
To download and import a Tanzu Kubernetes Grid Integrated Edition version:

1. Download the desired version of the product
from [<%= vars.product_network %>](https://support.broadcom.com/group/ecx/productdownloads?subfamily=VMware%20Tanzu%20Kubernetes%20Grid%20Integrated%20Edition).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product**
to upload the product file.

1. Under the **Import a Product** button, click **+** next to **Tanzu Kubernetes Grid Integrated Edition**.
This adds the tile to your staging area.

### <a id="stemcell"></a> Download and Import Stemcells

TKGI requires an Ubuntu Jammy Stemcell for VMware Tanzu.
A Windows 2019 Windows Stemcell for VMware Tanzu is also required if you intend to create Windows worker-based clusters.
For information about Windows stemcells, see
[Configuring Windows Worker-Based Clusters](windows-workers.html).

<p class="note warning"><strong>Warning:</strong> If you use an automated pipeline to upgrade TKGI, 
see <a href="upgrade-pipeline.html#configure-pipeline">Configure Automated Ops Manager 
and Ubuntu Jammy Stemcell Downloading</a> in <em>Configuring the Upgrade Pipeline</em>.  
</p>

If Ops Manager does not have the Ubuntu Jammy Stemcell for VMware Tanzu required for Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>,
the Tanzu Kubernetes Grid Integrated Edition tile displays the message **Missing stemcell**.
To download and import a new Ubuntu Jammy Stemcell for VMware Tanzu, follow the steps below:

1. On the Tanzu Kubernetes Grid Integrated Edition tile, click the **Missing stemcell** link.

    <img src="images/missing_stemcell.png" alt="Verify stemcell assignment">

1. In the **Stemcell Library**, locate the **Tanzu Kubernetes Grid Integrated Edition** tile and note the required stemcell version.

1. Navigate to the [Stemcells (Ubuntu Jammy)](https://support.broadcom.com/group/ecx/productdownloads?subfamily=Stemcells) page on <%= vars.product_network %>
and download the required stemcell version for your IaaS.

1. Return to the **Installation Dashboard** in Ops Manager and click **Stemcell Library**.

1. On the **Stemcell Library** page, click **Import Stemcell** and select the stemcell file you downloaded from <%= vars.product_network %>.

1. Select the Tanzu Kubernetes Grid Integrated Edition tile and click **Apply Stemcell to Products**.

1. Verify that Ops Manager successfully applied the stemcell. The stemcell version you imported and applied appears in the **Staged** column for Tanzu Kubernetes Grid Integrated Edition.

1. Return to the **Installation Dashboard**.

### <a id="modify-cni"></a>Modify Container Network Interface Configuration

Tanzu Kubernetes Grid Integrated Edition supports using the Antrea Container Network Interface (CNI) as
the CNI for new TKGI-provisioned clusters. 

To configure Tanzu Kubernetes Grid Integrated Edition to use Antrea as the CNI for new clusters:

1. In the **Installation Dashboard**, click **Networking**.  
1. Under **Container Networking Interface**, select **Antrea**.  
1. Confirm the remaining Container Networking Interface settings.  
1. Click **Save**.  

### <a id="errands"></a>Verify Errand Configuration

To verify your **Errands** pane is correctly configured, do the following:

1. In the **Tanzu Kubernetes Grid Integrated Edition** tile, click **Errands**.

1. Under **Post-Deploy Errands**:
    * Review the **Upgrade all clusters** errand:
        * If you want to upgrade the Tanzu Kubernetes Grid Integrated Edition tile and all your existing Kubernetes clusters simultaneously,
        confirm that **Upgrade all clusters errand** is set to **Default (On)**.
        The errand upgrades all clusters.
        Upgrading Tanzu Kubernetes Grid Integrated Edition-provisioned Kubernetes clusters can temporarily interrupt the service
        as described in [Service Interruptions](interruptions.html).  
        * If you want to upgrade the Tanzu Kubernetes Grid Integrated Edition tile only and
        then upgrade your existing Kubernetes clusters separately, deactivate **Upgrade all clusters errand**.
        For more information, see [Upgrading Clusters](upgrade-clusters.html).
        <p class="note warning"><strong>Warning:</strong> Deactivating the <strong>Upgrade all clusters errand</strong>
        causes the TKGI version tagged in your Kubernetes clusters to fall behind
        the Tanzu Kubernetes Grid Integrated Edition tile version.
        If you deactivate the <strong>Upgrade all clusters errand</strong>
        when upgrading the Tanzu Kubernetes Grid Integrated Edition tile,
        you must upgrade all your Kubernetes clusters before the next Tanzu Kubernetes Grid Integrated Edition
        upgrade.</p>
    * Configure the **Run smoke tests** errand:  

        * Set the **Run smoke tests** errand to **On**.
        The errand uses the Tanzu Kubernetes Grid Integrated Edition Command Line Interface (TKGI CLI) to create a
        Kubernetes cluster and then delete it. If the creation or deletion fails, the errand fails and
        the installation of the Tanzu Kubernetes Grid Integrated Edition tile is aborted.  

1. Click **Save**.

### <a id="final-review"></a>Verify Other Configurations
To confirm your other **Tanzu Kubernetes Grid Integrated Edition** tile panes are correctly configured, do the following:

1. Review the **Assign AZs and Networks** pane.
    <p class="note"><strong>Note:</strong> When you upgrade Tanzu Kubernetes Grid Integrated Edition, you must place singleton jobs in the AZ you selected when you first installed the Tanzu Kubernetes Grid Integrated Edition tile. You cannot move singleton jobs to another AZ.</p>
1. Review the other configuration panes.
1. Make changes where necessary.
<p class="note warning"><strong>WARNING</strong>: Do not change the number of control plane/etcd nodes
for any plan that was used to create currently-running clusters.
Tanzu Kubernetes Grid Integrated Edition does not support changing the number of control plane/etcd nodes for plans
with existing clusters.
</p>
1. Click **Save** on any panes where you make changes.

### <a id="apply-changes"></a>Apply Changes to the Tanzu Kubernetes Grid Integrated Edition Tile

To complete the upgrade of the Tanzu Kubernetes Grid Integrated Edition tile:

1. Return to the **Installation Dashboard** in Ops Manager.

1. Click **Review Pending Changes**.
     For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-review-pending-changes.html).

1. Click **Apply Changes**.

1. (Optional) To monitor the progress of the **Upgrade all clusters errand** using the BOSH CLI, do the following:
      1. Log in to the BOSH Director by running `bosh -e MY-ENVIRONMENT log-in` from a VM that can access your Tanzu Kubernetes Grid Integrated Edition deployment. For more information, see [Using BOSH Diagnostic Commands in Tanzu Kubernetes Grid Integrated Edition](diagnostic-tools.html).
      1. Run `bosh -e MY-ENVIRONMENT tasks`.
      1. Locate the task number for the errand in the <strong>&#35;</strong> column of the BOSH output.
      1. Run `bosh task TASK-NUMBER`, replacing `TASK-NUMBER` with the task number you located in the previous step.

## <a id="after-upgrade"></a>After the Upgrade

After you complete the upgrade to Tanzu Kubernetes Grid Integrated Edition <%= vars.product_version %>,
complete the following verifications and upgrades:

- [Upgrade the TKGI and Kubernetes CLIs](#upgrade-clis)
- [Verify the Upgrade](#verify-upgrade)


### <a id="upgrade-clis"></a>Upgrade the TKGI and Kubernetes CLIs

Upgrade the TKGI and Kubernetes CLIs on any local machine
where you run commands that interact with your upgraded version of Tanzu Kubernetes Grid Integrated Edition.

To upgrade the CLIs, download and re-install the TKGI and Kubernetes CLI distributions
that are provided with Tanzu Kubernetes Grid Integrated Edition on <%= vars.product_network %>.

For more information about installing the CLIs, see the following topics:

* [Installing the TKGI CLI](installing-cli.html)

* [Installing the Kubernetes CLI](installing-kubectl-cli.html)

### <a id="verify-upgrade"></a>Verify the Upgrade

After you apply changes to the Tanzu Kubernetes Grid Integrated Edition tile and the upgrade is complete,
do the following:

1. Verify that your Kubernetes environment is healthy. To verify the health of your Kubernetes environment, see [Verifying
Deployment Health](./verify-health.html).

    For any cluster upgrade that fails, you can use the BOSH ID of the upgrade task for debugging.
    To retrieve the BOSH task ID,
    see [Retrieve Cluster Upgrade Task ID](./verify-health.html#upgrade-code) in _Verifying Deployment Health_.

<%# when editing this edit the other duplicate ABOVE in this topic < %= partial 'add-clusters-workloads' % >  #%>
1. Verify that the Tanzu Kubernetes Grid Integrated Edition control plane remains functional by performing the following steps:  
    1. Add more workloads and create an additional cluster. For more information, see
<a href="maintain-uptime.html#upgrades">About Cluster Upgrades</a> in _Maintaining Workload Uptime_ and
<a href="create-cluster.html">Creating Clusters</a>.
    1. Monitor the Tanzu Kubernetes Grid Integrated Edition control plane in the <strong>Tanzu Kubernetes Grid Integrated Edition</strong> tile > <strong>Status</strong> tab.
    Review the load and resource usage data for the TKGI API and TKGI Database VMs.
    If any levels are at capacity, scale up the VMs.
    <br>
<%# when editing this edit the other duplicate ABOVE in this topic < %= partial 'add-clusters-workloads' % >  #%>
