---
title: Upgrading Clusters
owner: PKS
---

This topic describes how to upgrade Kubernetes clusters provisioned by <%= vars.product_full %>.

##<a id='overview'></a>Overview

When upgrading <%= vars.product_short %>, you can choose one of the following approaches:

* Upgrade the <%= vars.product_tile %> tile and all <%= vars.product_short %>-provisioned Kubernetes clusters simultaneously.
This is the default behavior of the <%= vars.product_tile %> tile.
* Upgrade the <%= vars.product_tile %> tile only and then upgrade <%= vars.product_short %>-provisioned Kubernetes clusters separately.
If you want to upgrade your clusters separately, do the following:
  1. Review [Limitations](#limitations).
  1. Complete the steps listed in [Prerequisites](#prerequisites).
  1. Complete the steps listed in [Upgrade Clusters](#upgrade-clusters).

    <p class="note"><strong>Note:</strong> When <%= vars.product_short %> is set to upgrade the <%= vars.product_tile %> tile only and
    not the clusters, the Kubernetes cluster version falls behind the <%= vars.product_tile %> tile version.
    If the clusters fall more than one version behind the tile,
    <%= vars.product_short %> cannot upgrade the clusters.
    The clusters must be upgraded to match the <%= vars.product_short %> tile version before the next tile upgrade.</p>

For more information about <%= vars.product_short %> upgrades,
see [What Happens During <%= vars.product_short %> Upgrades](understanding-upgrades.html).

##<a id='prerequisites'></a>Prerequisites

Before upgrading Kubernetes clusters provisioned by <%= vars.product_short %>, you must do the following:

* Install the PKS command line interface (CLI) v1.5 or later. For more information, see [Installing the PKS CLI](installing-pks-cli.html).
* Disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile. For more information, see [Modify Errand Configuration in the <%= vars.product_tile %> Tile](#disable-errand) below.
  <p class="note warning"><strong>Warning:</strong> If you upgrade the <%= vars.product_tile %> tile or update your tile configuration, with <strong>Upgrade all clusters errand</strong> disabled,
  you must upgrade all your Kubernetes clusters before the next upgrade or configuration update.</p>

###<a name='disable-errand'></a> Modify Errand Configuration in the <%= vars.product_tile %> Tile

To modify errand configuration when upgrading your <%= vars.product_short %> version, perform the steps below.
For more information about upgrading <%= vars.product_short %>, see [Upgrading <%= vars.product_short %>](upgrade-pks.html).

1. If you have not already, import the product file for the new <%= vars.product_short %> version to the Ops Manager **Installation Dashboard**.
1. In the the <%= vars.product_tile %> tile, navigate to the **Errands** pane.
1. Disable **Upgrade all clusters errand** and click **Save**.
  ![Errands pane](images/disable-upgrade-all-clusters-errand.png)
1. Return to the Ops Manager **Installation Dashboard** and click **Review Pending Changes**.
1. Select <%= vars.product_short %> and any other products you want to deploy and click **Apply Changes**.

##<a id='upgrade-clusters'></a>Upgrade Clusters

To upgrade a Kubernetes cluster provisioned by <%= vars.product_short %>, run the following command:

```
pks upgrade-cluster CLUSTER-NAME
```
Where `CLUSTER-NAME` is the name of the Kubernetes cluster you want to upgrade.

The `pks upgrade-cluster` command lets you upgrade only one cluster.
To upgrade multiple clusters,
you must run the `pks upgrade-cluster` command for each cluster you want to upgrade.

<p class="note"><strong>Note:</strong> When you make multiple cluster upgrade requests,
<%= vars.product_short %> upgrades these clusters in parallel
with a limit of four concurrent cluster upgrades.
If you schedule more than four cluster upgrades, <%= vars.product_short %> queues the upgrades.
If you submit too many upgrade requests, an error may occur.
For more information, see <a href="./release-notes.html#timeout">Error During Individual Cluster Upgrades</a>.</p>

##<a id='limitations'></a> Limitations

If you upgrade the <%= vars.product_tile %> tile only
and then attempt to resize or update your existing Kubernetes clusters,
these operations fail until you upgrade the clusters.

If you want to upgrade the <%= vars.product_tile %>
tile and your existing Kubernetes clusters simultaneously,
do not disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile.
