---
title: Upgrading Enterprise PKS with NSX-T
owner: PKS
topictype: vspherewithnsxtupgrade
---

This topic explains how to upgrade <%= vars.product_full %> for environments using vSphere with NSX-T.

<p class="note warning"><strong>Warning:</strong> Do not manually upgrade your Kubernetes version. <%= vars.product_short %> includes the compatible Kubernetes version.</p>

## <a id="overview"></a>Overview

The supported upgrade paths to <%= vars.product_short %> v1.6.0 are from <%= vars.product_short %> v1.5.0 and later.
<%= vars.product_short %> v1.6.0 is compatible with  Ops Manager <%= vars.ops_man_version_2_6 %> or  Ops Manager <%= vars.ops_man_version_2_7 %>.

Before you begin the upgrade, follow the procedures in the [Prerequisites](#before) section to plan and prepare your upgrade.

After you complete the prerequisite steps, continue to the procedures in the [During the Upgrade](#upgrade) section. These steps guide you through the process of upgrading the <%= vars.product_tile %> tile, upgrading Ops Manager, importing an updated stemcell, and applying the changes to your deployment.

After you complete the upgrade, follow the procedures in the [After the Upgrade](#after-upgrade) section to verify that your upgraded <%= vars.product_short %> deployment is running properly.

## <a id="before"></a>Prerequisites

Before you upgrade <%= vars.product_short %>, you must do the following:

1. [Determine Your Upgrade Path](#upgrade-path)
1. [Prepare to Upgrade](#prepare)

### <a id="upgrade-path"></a> Determine Your Upgrade Path

Use the following table to determine your upgrade path to <%= vars.product_short %> v1.6.

<table>
<tr>
  <th>Target Ops Manager version</th>
  <th>Upgrade Path for NSX-T v2.4</th>
  <th>Upgrade Path for NSX-T v2.5</th>
<tr>
  <td>v2.6</td>
  <td>
    <ol>
      <li>Upgrade to NSX-T Data Center v2.4.3</li>
      <li>Upgrade to Ops Manager <%= vars.ops_man_version_2_6 %>.</li>
      <li>Upgrade to <%= vars.product_short %> v1.6.</li>
      <li>Upgrade to NSX-T Data Center v2.5.</li>      
    </ol>
  </td>
  <td>
 <ol>
       
      <li>Upgrade to Ops Manager <%= vars.ops_man_version_2_6 %>.</li>
      <li>Upgrade to <%= vars.product_short %> v1.6.</li>
    </td>
</tr>
<tr>
  <td>v2.7</td>
  <td>
    <ol>
      <li>Upgrade to NSX-T Data Center v2.4.3</li>
      <li>Upgrade to Ops Manager <%= vars.ops_man_version_2_7 %>.</li>
      <li>Upgrade to <%= vars.product_short %> v1.6.</li>
      <li>Upgrade to NSX-T Data Center v2.5.</li>            
    </ol>
      </td>
<td>
       <ol>
      <li>Upgrade to Ops Manager <%= vars.ops_man_version_2_7 %>.</li>
      <li>Upgrade to <%= vars.product_short %> v1.6.</li>
</ol>
</td>
</tr>
</table>

To see a list of NSX-T 2.5 versions compatible with
<%= vars.product_short %> v1.6,
consult [Product Snapshot](release-notes.html) in _Release Notes_
for <%= vars.product_short %> v1.6.

### <a id="prepare"></a>Prepare to Upgrade

If you have not already, complete all of the steps in the
[Upgrade Preparation Checklist for <%= vars.product_short %> v1.6](./checklist.html).

Review new features that are available in <%= vars.product_short %> v1.6 
by reading the [Release Notes](./release-notes.html). In particular, 
review the new [networking-related features](./release-notes.html#nsx-t-features) 
that are available for NSX-T deployments.

## <a id="upgrade"></a> During the Upgrade

This section describes the steps required to upgrade to <%= vars.product_short %> v1.6:

1. Review the [Release Notes](./release-notes.html) for the supported software versions.
1. [Upgrade to Ops Manager <%= vars.ops_man_version_2_6_short %> or <%= vars.ops_man_version_2_7_short %>](#upgrade-opsman)
1. [Upgrade to <%= vars.product_short %> v1.6](#upgrade-tile)
1. [Download and Import the Stemcell](#stemcell)
1. [Verify Errand Configuration](#errands)
1. [Apply Changes to the <%= vars.product_tile %> Tile](#apply-changes)
1. Upgrade your Kubernetes clusters by selecting the **Upgrade all clusters errand** in Ops Manager, or by using the PKS CLI as described in [Upgrading Clusters](./upgrade-clusters.html#upgrade-clusters).
<p class="note"><strong>Note:</strong> This operation updates the Kubernetes clusters to the version of Kubernetes that is included with with <%= vars.product_short %> v1.6, and updates your Kubernetes clusters to the version of NCP that is included with <%= vars.product_short %> v1.6.</p>
1. (Recommended) If you are running NSX-T v2.4.3, upgrade to v2.5.x.

### <a id="upgrade-opsman"></a>Upgrade Ops Manager to <%= vars.ops_man_version_2_6_short %> or <%= vars.ops_man_version_2_7_short %>

Before you upgrade to <%= vars.product_short %> v1.6, you must upgrade to Ops Manager <%= vars.ops_man_version_2_6 %> or <%= vars.ops_man_version_2_7 %>.

To upgrade Ops Manager, do the following:

1. Complete the procedures in [Upgrade Ops Manager and Installed Products to v2.6](https://docs.pivotal.io/pivotalcf/2-6/customizing/upgrading-pcf.html#upgrade_ops)
or [Upgrade Ops Manager and Installed Products to v2.7](https://docs.pivotal.io/platform/2-7/customizing/upgrading-pcf.html#upgrade_ops).

1. <%= partial 'add-clusters-workloads' %>

### <a id="upgrade-tile"></a>Upgrade <%= vars.product_short %> to v1.6

To upgrade to <%= vars.product_short %> v1.6, follow the same Ops Manager process that you use to install the tile for the first time.

Your configuration settings migrate to the new version automatically. Follow the steps below to perform an upgrade.

1. Review the [Release Notes](release-notes.html) for the version you are upgrading to.

1. Download the desired version of the product from [Pivotal Network](https://network.pivotal.io/products/pivotal-container-service/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to **<%= vars.product_tile %>**. This adds the tile to your staging area.

### <a id="stemcell"></a>Download and Import the Stemcell

<%= vars.product_short %> v1.6 requires a [Xenial stemcell](https://docs.pivotal.io/pivotalcf/2-6/stemcells/#xenial).

If Ops Manager does not have the Xenial stemcell required for <%= vars.product_short %>, the <%= vars.product_tile %> tile displays the message **Missing stemcell**.

<p class="note"><strong>Note:</strong> If the <strong>Stemcell Library</strong> in Ops Manager already has a compatible Xenial stemcell, the <strong>Missing stemcell</strong> link does not appear. You do not need to download or import a new stemcell and can skip this step.</p>

To download and import a new Xenial stemcell, follow the steps below:

1. On the <%= vars.product_tile %> tile, click the **Missing stemcell** link.

    <img src="images/missing_stemcell.png" alt="Verify stemcell assignment">

1. In the **Stemcell Library**, locate the **<%= vars.product_tile %>** tile and note the required stemcell version.

1. Navigate to the [Pivotal Stemcells (Ubuntu Xenial)](https://network.pivotal.io/products/stemcells-ubuntu-xenial/) page on Pivotal Network
and download the required stemcell version for your IaaS.

1. Return to the **Installation Dashboard** in Ops Manager and click **Stemcell Library**.

1. On the **Stemcell Library** page, click **Import Stemcell** and select the stemcell file you downloaded from Pivotal Network.

1. Select the <%= vars.product_tile %> tile and click **Apply Stemcell to Products**.

1. Verify that Ops Manager successfully applied the stemcell. The stemcell version you imported and applied appears in the **Staged** column for <%= vars.product_tile %>.

1. Select the **Installation Dashboard** link to return to the Installation Dashboard.

### <a id="host-monitoring"></a> (Optional) Configure Host Monitoring

In <%= vars.product_short %> v1.6, the **Logging** screen is renamed 
to **Host Monitoring** and adds options to configure the Telegraf agent to collect metrics from Node Exporter, etcd, and the Kubelet agent and send the metrics to a third-party monitoring service.

For information about configuring **Host Monitoring**, 
see the _(Optional) Host Monitoring_ section of 
[Installing Enterprise PKS on vSphere with NSX-T](./installing-nsx-t.html#syslog).

### <a id="in-cluster-monitoring"></a> (Optional) Configure In-Cluster Monitoring

In <%= vars.product_short %> v1.6, the **Monitoring** screen is renamed 
to **In-Cluster Monitoring**.

For information about configuring **In-Cluster Monitoring**, 
see the _(Optional) In-Cluster Monitoring_ section of [Installing Enterprise PKS on vSphere with NSX-T](./installing-nsx-t.html#cluster-monitoring).

### <a id="tmc"></a> (Optional) Configure Tanzu Mission Control Integration

If you are a participant in the VMware Tanzu Mission Control beta program, 
you can choose to integrate your Enterprise PKS deployment with Tanzu Mission Control.

For information about configuring **Tanzu Mission Control (Experimental)**,
see the _Tanzu Mission Control (Experimental)_ section of [Installing Enterprise PKS on vSphere with NSX-T](./installing-nsx-t.html#tmc).

### <a id="errands"></a>Verify Errand Configuration

To verify that errands are configured correctly in the <%= vars.product_tile %> tile, do the following:

1. In the **<%= vars.product_tile %>** tile, click **Errands**.

1. Under **Post-Deploy Errands**, configure **Upgrade all clusters errand**:
  * If you want to upgrade the <%= vars.product_tile %> tile and all your existing Kubernetes clusters simultaneously,
  verify that **Upgrade all clusters errand** is set to **Default (On)**.
  The errand upgrades all clusters, one Kubernetes cluster at a time.
  Upgrading <%= vars.product_short %>-deployed Kubernetes clusters can temporarily interrupt the service
  as described in [Service Interruptions](interruptions.html).
  <p class="note"><strong>Note:</strong> If you are upgrading <%= vars.product_short %> on NSX-T v2.4.3, you must select the **Upgrade all clusters errand** or plan to upgrade all clusters individually prior to upgrading to NSX-T v2.5.</p>
  * If you want to upgrade the <%= vars.product_tile %> tile only and
  then upgrade your existing Kubernetes clusters separately, disable **Upgrade all clusters errand**.
  For more information, see [Upgrading Clusters](upgrade-clusters.html).
  <p class="note warning"><strong>Warning:</strong> If you disable <strong>Upgrade all clusters errand</strong> when upgrading the <%= vars.product_tile %> tile
  or updating your tile configuration,
  you must upgrade all your Kubernetes clusters before the next <%= vars.product_short %> upgrade or tile configuration update.</p>

1. Under **Post-Deploy Errands**, set the **Run smoke tests** errand to **On**. The errand uses the <%= vars.product_short %> Command Line Interface (PKS CLI) to create a Kubernetes cluster and then delete it. If the creation or deletion fails, the errand fails and the installation of the <%= vars.product_tile %> tile is aborted.

1. Click **Save**.

1. Review the other configuration panes. Click **Save** on any panes where you make changes.
    <p class="note warning"><strong>WARNING</strong>: Do not change the number of master/etcd nodes 
    for any plan that was used to create currently-running clusters. 
    <%= vars.product_short %> does not support changing the number of master/etcd nodes for plans 
    with existing clusters.
    </p>

    <p class="note"><strong>Note:</strong> When you upgrade <%= vars.product_short %>, you must place singleton jobs in the AZ you selected when you first installed the <%= vars.product_tile %> tile. You cannot move singleton jobs to another AZ.</p>

### <a id="apply-changes"></a>Apply Changes to the <%= vars.product_tile %> Tile

Perform the following steps to complete the upgrade of the <%= vars.product_tile %> tile:

1. Return to the **Installation Dashboard** in Ops Manager.

1. Click **Review Pending Changes**.
     For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/platform/2-7/customizing/review-pending-changes.html).

1. Click **Apply Changes**.

1. (Optional) To monitor the progress of the **Upgrade all clusters errand** using the BOSH CLI, do the following:
      1. Log in to the BOSH Director by running `bosh -e MY-ENVIRONMENT log-in` from a VM that can access your <%= vars.product_short %> deployment. For more information, see [Using BOSH Diagnostic Commands in <%= vars.product_short %>](diagnostic-tools.html).
      1. Run `bosh -e MY-ENVIRONMENT tasks`.
      1. Locate the task number for the errand in the <strong>&#35;</strong> column of the BOSH output.
      1. Run `bosh task TASK-NUMBER`, replacing `TASK-NUMBER` with the task number you located in the previous step.

## <a id="after-upgrade"></a>After the Upgrade

After you complete the upgrade to <%= vars.product_short %> v1.6, complete the following verifications and upgrades:

- [Update PKS and Kubernetes CLIs](#update-clis)
- [Verify the Upgrade](#verify-upgrade)

### <a id="update-clis"></a>Update PKS and Kubernetes CLIs

Update the PKS and Kubernetes CLIs on any local machine
where you run commands that interact with your upgraded version of <%= vars.product_short %>.

To update your CLIs, download and re-install the PKS and Kubernetes CLI distributions
that are provided with <%= vars.product_short %> on Pivotal Network.

For more information about installing the CLIs, see the following topics:

* [Installing the PKS CLI](installing-pks-cli.html)

* [Installing the Kubernetes CLI](installing-kubectl-cli.html)

### <a id="verify-upgrade"></a>Verify the Upgrade

After you apply changes to the <%= vars.product_tile %> tile and the upgrade is complete, perform the following steps:

1. Verify that your Kubernetes environment is healthy. To verify the health of your Kubernetes environment, see [Verifying
Deployment Health](verify-health.html#k8s).

1. <%= partial 'add-clusters-workloads' %>

## <a id="upgrade-nsxt"></a> Upgrade NSX-T Data Center v2.4.3 to v2.5

If you are using NSX-T v2.4.3, Pivotal recommends that you upgrade to NSX-T v2.5.

1. Confirm that you have upgraded all PKS-provisioned Kubernetes clusters to PKS v1.6 using **Upgrade all clusters errand** in Ops Manager or using the PKS CLI.

1. Confirm that your vSphere v6.5 or v6.7 installation is on the supported version and patch for NSX-T v2.5. 
  - Refer to the [VMware Product Interoperability Matrices](https://www.vmware.com/resources/compatibility/sim/interop_matrix.php#interop&175=&1=).
  - If necessary, update to the required vSphere version or patch before proceeding with the upgrade of NSX-T.

1. To upgrade NSX-T, refer to the [NSX-T Data Center Upgrade Guide](https://docs.vmware.com/en/VMware-NSX-T-Data-Center/index.html) in the VMware documentation.

1. If you made any architectural changes to your NSX-T environment that affect <%= vars.product_short %>, such as adding a [VIP address](./nsxt-install-mgmt-vip.html) or [load balancer](./nsxt-install-mgmt-lb.html) for the NSX-T Management Cluster, update the PKS and BOSH Director tile with the new information, specifically:
  -  In the BOSH Director tile, select the **vCenter Configuration** tab and update the following:
     - The **NSX Address** field
     - The **NSX CA Cert** field
     - Save the BOSH tile changes.
     <img src="images/nsxt/nsx-upgrade/nsx_24_upgrade-08.png" alt="Update BOSH with VIP and Cert"> 
  - In the PKS tile, select the **Networking** tab and update the following: 
     - The **NSX Manager hostname** field
     - The **NSX Manager CA Cert** field 
     - Save the PKS tile changes
     <img src="images/nsxt/nsx-upgrade/nsx_24_upgrade-09.png" alt="Update <%= vars.product_short %> with VIP and Cert"> 

1. If you made changes to the BOSH Director or PKS tiles:
  - Go to the **Installation Dashboard** in Ops Manager.
  - Click **Review Pending Changes.**
  - Expand the **Errands** list for <%= vars.product_short %>.
  - Ensure that the **Upgrade all clusters errand** is selected.
  - Click **Apply Changes**.
  <img src="images/nsxt/nsx-upgrade/nsx_24_upgrade-10.png" alt="Upgrade all Kubernetes clusters"> 

1. Verify the upgrade of NSX-T Data Center.

  After you apply changes to the <%= vars.product_tile %> tile and the upgrade is complete, verify that your Kubernetes environment is healthy. To verify the health of your Kubernetes environment, see [Verifying Deployment Health](verify-health.html#k8s).
