---
title: Upgrading Enterprise PKS
owner: PKS
topictype: vsphereupgrade
---

This topic explains how to upgrade <%= vars.product_full %> from v1.6 to v1.7 on vSphere without NSX-T integration,
Google Cloud Platform (GCP), Amazon Web Services (AWS), and Azure.

For instructions on upgrading <%= vars.product_short %> on vSphere with NSX-T integration, see
[Upgrading <%= vars.product_short %> with NSX-T](upgrade-pks-nsxt.html).

<p class="note warning"><strong>Warning:</strong> Do not manually upgrade your Kubernetes version. <%= vars.product_short %> includes the compatible Kubernetes version.</p>

## <a id="overview"></a>Overview

Before you upgrade, follow the procedures in [Prepare to Upgrade](#prepare) below to plan and prepare your upgrade.

After you complete the prerequisite steps, continue to the procedures in [Perform the Upgrade](#upgrade) below.
These steps guide you through the process of upgrading Ops Manager and the <%= vars.product_tile %> tile, importing an updated stemcell, and applying the changes to your deployment.

After you complete the upgrade, follow the procedures in [After the Upgrade](#after-upgrade) below to verify that your upgraded <%= vars.product_short %> deployment is running properly.

## <a id="prepare"></a>Prepare to Upgrade

If you have not already, complete all of the steps in the
[Upgrade Preparation Checklist for <%= vars.product_short %> v1.7](./checklist.html).

## <a id="upgrade"></a>Perform the Upgrade

This section describes the steps required to upgrade to <%= vars.product_short %> v1.7:

1. [Upgrade to Ops Manager <%= vars.ops_man_version_2_7_short %> or Later](#upgrade-opsman)
1. [Upgrade to <%= vars.product_short %> v1.7](#upgrade-tile)
1. [Download and Import the Stemcell](#stemcell)
1. [Verify Errand Configuration](#errands)
1. [Verify Resource Config Configuration](#resource-config)
1. [Verify Remaining Configurations](#final-review)
1. [Apply Changes to the <%= vars.product_tile %> Tile](#apply-changes)

### <a id="upgrade-opsman"></a> Upgrade Ops Manager to <%= vars.ops_man_version_2_7_short %> or Later

Each version of <%= vars.product_short %> is compatible with multiple versions of Ops Manager.
For <%= vars.product_short %> v1.7, the minimum Ops Manager version you need to upgrade to is v2.7.6.

To determine Ops Manager compatibility and, if necessary, upgrade Ops Manager:

1. See [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service) to determine
if your Ops Manager version is compatible with <%= vars.product_short %> v1.7.
1. If your Ops Manager is version is not compatible with <%= vars.product_short %> v1.7,
upgrade Ops Manager by following the steps below.
1. Complete the procedures in [Import Installation to Ops Manager v2.7 VM](https://docs.pivotal.io/pivotalcf/2-7/customizing/upgrading-pcf.html#upgrade).

1. <%= partial 'add-clusters-workloads' %>

### <a id="upgrade-tile"></a> Upgrade <%= vars.product_short %> to v1.7

When you upgrade <%= vars.product_short %>, your configuration settings typically migrate to the new version automatically. To perform an upgrade:

1. Review the [Release Notes](release-notes.html) for the version you are upgrading to.

1. Download the desired version of the product from [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service/).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to **<%= vars.product_tile %>**. 
This adds the tile to your staging area.

### <a id="stemcell"></a> Download and Import the Stemcell

<%= vars.product_short %> requires a 
[Xenial stemcell](https://docs.pivotal.io/pivotalcf/2-7/stemcells/#xenial). 
A stemcell for Windows 2019 is also required if you intend to create Windows worker-based clusters. 
For information about Windows stemcells, see 
[Configuring Windows Worker-Based Clusters (Beta)](windows-pks-beta.html).  

If Ops Manager does not have the Xenial stemcell required for <%= vars.product_short %>, 
the <%= vars.product_tile %> tile displays the message **Missing stemcell**.

<p class="note"><strong>Note:</strong> If the <strong>Stemcell Library</strong> in Ops Manager already has a compatible Xenial stemcell, the <strong>Missing stemcell</strong> link does not appear. You do not need to download or import a new stemcell and can skip this step.</p>

To download and import a new Xenial stemcell, follow the steps below:

1. On the <%= vars.product_tile %> tile, click the **Missing stemcell** link.

    <img src="images/missing_stemcell.png" alt="Verify stemcell assignment">

1. In the **Stemcell Library**, locate the **<%= vars.product_tile %>** tile and note the required stemcell version.

1. Navigate to the [Stemcells (Ubuntu Xenial)](https://network.pivotal.io/products/stemcells-ubuntu-xenial/) page on <%= vars.product_network %>
and download the required stemcell version for your IaaS.

1. Return to the **Installation Dashboard** in Ops Manager and click **Stemcell Library**.

1. On the **Stemcell Library** page, click **Import Stemcell** and select the stemcell file you downloaded from <%= vars.product_network %>.

1. Select the <%= vars.product_tile %> tile and click **Apply Stemcell to Products**.

1. Verify that Ops Manager successfully applied the stemcell. The stemcell version you imported and applied appears in the **Staged** column for <%= vars.product_tile %>.

1. Return to the **Installation Dashboard**.

### <a id="errands"></a>Verify Errand Configuration

To verify your **<%= vars.product_tile %>** tile **Errands** pane is correctly configured, do the following:

1. In the **<%= vars.product_tile %>** tile, click **Errands**.

1. Under **Post-Deploy Errands**:
    * Review the **PKS 1.7.x Upgrade - MySQL Clone** errand:
        * Confirm the **PKS MySQL Clone** errand is set to **On**, the default.  
        <p class="note warning"><strong>Warning:</strong> The <strong>PKS 1.7.x Upgrade - MySQL Clone</strong> errand 
        must be enabled before you apply changes. It cannot be run separately afterwards.</p>
    * Review the **Upgrade all clusters** errand:
        * If you want to upgrade the <%= vars.product_tile %> tile and all your existing Kubernetes clusters simultaneously,
        verify that **Upgrade all clusters errand** is set to **Default (On)**.
        The errand upgrades all clusters.
        Upgrading <%= vars.product_short %>-deployed Kubernetes clusters can temporarily interrupt the service
        as described in [Service Interruptions](interruptions.html).
        * If you want to upgrade the <%= vars.product_tile %> tile only and
        then upgrade your existing Kubernetes clusters separately, disable **Upgrade all clusters errand**.
        For more information, see [Upgrading Clusters](upgrade-clusters.html).
        <p class="note warning"><strong>Warning:</strong> If you disable <strong>Upgrade all clusters errand</strong> 
          when upgrading the <%= vars.product_tile %> tile or updating your tile configuration,
          you must upgrade all your Kubernetes clusters before the next <%= vars.product_short %> 
        upgrade or tile configuration update.</p>
    * Configure the **Run smoke tests** errand:
        * Set the **Run smoke tests** errand to **On**. 
        The errand uses the <%= vars.product_short %> Command Line Interface (PKS CLI) to create a 
        Kubernetes cluster and then delete it. If the creation or deletion fails, the errand fails and 
        the installation of the <%= vars.product_tile %> tile is aborted.

1. Click **Save**.

### <a id="resource-config"></a>Verify Resource Config Configuration

To confirm your **<%= vars.product_tile %>** tile **Resource Config** pane is correctly configured, 
do the following:

1. In the **<%= vars.product_tile %>** tile, click **Resource Config**.

1. Under **<%= vars.control_plane %>**, confirm that **INSTANCES** is set to `Automatic: 1`.  
    <p class="note"><strong>Note:</strong> Do not reduce the <strong>PERSISTENT DISK TYPE</strong> from its PKS v1.6 size.</p>
1. Under **<%= vars.control_plane_db %>**, confirm the following:
    * **INSTANCES** is set to `Automatic: 1`.  
    * The **PERSISTENT DISK TYPE** size is the same as the **PERSISTENT DISK TYPE** size of the **PKS API**.
    * Ensure the **VM TYPE** ephemeral `disk` size is at least four times the size of the **PERSISTENT DISK TYPE** size.

1. Click **Save**.

### <a id="final-review"></a>Verify Remaining Configurations
To confirm your other **<%= vars.product_tile %>** tile panes are correctly configured, do the following:

1. Review the **Assign AZs and Networks** pane.
    <p class="note"><strong>Note:</strong> When you upgrade <%= vars.product_short %>, you must place singleton jobs in the AZ you selected when you first installed the <%= vars.product_tile %> tile. You cannot move singleton jobs to another AZ.</p>
1. Review the other configuration panes.  
1. Make changes where necessary.  
1. Click **Save** on any panes where you make changes.  

### <a id="apply-changes"></a>Apply Changes to the <%= vars.product_tile %> Tile

To complete the upgrade of the <%= vars.product_tile %> tile:

1. Return to the **Installation Dashboard** in Ops Manager.

1. Click **Review Pending Changes**.
     For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/platform/customizing/review-pending-changes.html).

1. Click **Apply Changes**.

1. (Optional) To monitor the progress of the **Upgrade all clusters errand** using the BOSH CLI, do the following:
      1. Log in to the BOSH Director by running `bosh -e MY-ENVIRONMENT log-in` from a VM that can access your <%= vars.product_short %> deployment. For more information, see [Using BOSH Diagnostic Commands in <%= vars.product_short %>](diagnostic-tools.html).
      1. Run `bosh -e MY-ENVIRONMENT tasks`.
      1. Locate the task number for the errand in the <strong>&#35;</strong> column of the BOSH output.
      1. Run `bosh task TASK-NUMBER`, replacing `TASK-NUMBER` with the task number you located in the previous step.

<p class="note warning"><strong>Warning</strong>: Upgrading <%= vars.product_short %> to v1.7  
reconfigures the <%= vars.product_short %> control plane.
If your upgrade to <%= vars.product_short %> v1.7 fails, contact Support.
</p>

## <a id="after-upgrade"></a>After the Upgrade

After you complete the upgrade to <%= vars.product_short %> v1.7, complete the following verifications and upgrades:

- [Update PKS and Kubernetes CLIs](#update-clis)
- [Verify the Upgrade](#verify-upgrade)
- [(Optional) Reduce PKS DB Ephemeral Disk Size](#reduce-ephemeral-size)
- [(Optional) Scale <%= vars.product_short %> to High Availability Mode (Beta)](#scale-to-ha)
- [(Optional) Upgrade vSphere](#upgrade-vcenter)

### <a id="update-clis"></a>Update PKS and Kubernetes CLIs

Update the PKS and Kubernetes CLIs on any local machine
where you run commands that interact with your upgraded version of <%= vars.product_short %>.

To update your CLIs, download and re-install the PKS and Kubernetes CLI distributions
that are provided with <%= vars.product_short %> on <%= vars.product_network %>.

For more information about installing the CLIs, see the following topics:

* [Installing the PKS CLI](installing-pks-cli.html)

* [Installing the Kubernetes CLI](installing-kubectl-cli.html)

### <a id="verify-upgrade"></a>Verify the Upgrade

After you apply changes to the <%= vars.product_tile %> tile and the upgrade is complete, perform the following steps:

1. Verify that your Kubernetes environment is healthy. To verify the health of your Kubernetes environment, see [Verifying
Deployment Health](./verify-health.html).

    For any cluster upgrade that fails, you can use the BOSH ID of the upgrade task for debugging.
    To retrieve the BOSH task ID,
    see [Retrieve Cluster Upgrade Task ID](./verify-health.html#upgrade-code) in _Verifying Deployment Health_.

1. <%= partial 'add-clusters-workloads' %>

### <a id="reduce-ephemeral-size"></a>(Optional) Reduce <%= vars.control_plane_db %> Ephemeral Disk Size
You can return your **<%= vars.control_plane_db %>** ephemeral disk to a smaller size after the upgrade. You resized 
the disk while completing the steps in [Verify Resource Config Configuration](#resource-config) above.

To return the **<%= vars.control_plane_db %>** ephemeral disk to a smaller size, do the following:

1. In the **<%= vars.product_tile %>** tile, click **Resource Config**.

1. For **<%= vars.control_plane_db %>**, set the **VM TYPE** to be the same as the **VM TYPE** of the **PKS API**.

1. Click **Save**.

1. Click **Review Pending Changes**.
    For more information about this Ops Manager page, see
    [Reviewing Pending Product Changes](https://docs.pivotal.io/platform/customizing/review-pending-changes.html).

1. Click **Apply Changes**.

### <a id="scale-to-ha"></a>(Optional) Scale <%= vars.product_short %> to High Availability Mode (Beta)

<%= partial 'scale-to-ha-upgrade' %>
