---
title: Upgrading Clusters
owner: PKS
---

This topic describes how to upgrade Kubernetes clusters provisioned by <%= vars.product_full %>.

##<a id='overview'></a>Overview

When upgrading <%= vars.product_short %>, you can choose one of the following approaches:

* Upgrade the <%= vars.product_tile %> tile and all <%= vars.product_short %>-provisioned Kubernetes clusters simultaneously.
This is the default behavior of the <%= vars.product_tile %> tile.
* Upgrade the <%= vars.product_tile %> tile only and then upgrade <%= vars.product_short %>-provisioned Kubernetes clusters separately.
If you want to upgrade your clusters separately, do the following:
  1. Review [Limitations](#limitations).
  1. Complete the steps listed in [Prerequisites](#prerequisites).
  1. Complete the steps listed in [Upgrade Clusters](#upgrade-clusters).

    <p class="note"><strong>Note:</strong> When <%= vars.product_short %> is set to upgrade the <%= vars.product_tile %> tile only and
    not the clusters, the Kubernetes cluster version falls behind the <%= vars.product_tile %> tile version.
    If the clusters fall more than one version behind the tile,
    <%= vars.product_short %> cannot upgrade the clusters.
    The clusters must be upgraded to match the <%= vars.product_short %> tile version before the next tile upgrade.</p>

For more information about <%= vars.product_short %> upgrades,
see [What Happens During <%= vars.product_short %> Upgrades](understanding-upgrades.html).

##<a id='prerequisites'></a>Prerequisites

Before upgrading Kubernetes clusters provisioned by <%= vars.product_short %>, you must do the following:

* Install the PKS command line interface (CLI) v1.5 or later. For more information, see [Installing the PKS CLI](installing-pks-cli.html).
* Disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile. For more information, see [Modify Errand Configuration in the <%= vars.product_tile %> Tile](#disable-errand) below.
  <p class="note warning"><strong>Warning:</strong> If you upgrade the <%= vars.product_tile %> tile or update your tile configuration, with <strong>Upgrade all clusters errand</strong> disabled,
  you must upgrade all your Kubernetes clusters before the next upgrade or configuration update.</p>

###<a name='disable-errand'></a> Modify Errand Configuration in the <%= vars.product_tile %> Tile

To modify errand configuration when upgrading your <%= vars.product_short %> version, perform the steps below.
For more information about upgrading <%= vars.product_short %>, see [Upgrading <%= vars.product_short %>](upgrade-pks.html).

1. If you have not already, import the product file for the new <%= vars.product_short %> version to the Ops Manager **Installation Dashboard**.
1. In the the <%= vars.product_tile %> tile, navigate to the **Errands** pane.
1. Disable **Upgrade all clusters errand** and click **Save**.
  ![Errands pane](images/disable-upgrade-all-clusters-errand.png)
1. Return to the Ops Manager **Installation Dashboard** and click **Review Pending Changes**.
1. Select <%= vars.product_short %> and any other products you want to deploy and click **Apply Changes**.

##<a id='upgrade-clusters'></a>Upgrade Clusters

You can upgrade your <%= vars.product_tile %>-provisioned Kubernetes clusters
separately from upgrading your <%= vars.product_tile %> tile. 
After upgrading your <%= vars.product_tile %> tile, upgrade individual or multiple 
clusters using the following procedures:

* [Upgrade a Single Kubernetes Cluster](#upgrade-cluster)  
* [Upgrade Multiple Kubernetes Clusters](#upgrade-clusters-multi)  

####<a id='upgrade-cluster'></a>Upgrade a Single Kubernetes Cluster

To upgrade a single <%= vars.product_tile %>-provisioned Kubernetes cluster, 
run the following command:

```
pks upgrade-cluster CLUSTER-NAME
```
Where `CLUSTER-NAME` is the name of the Kubernetes cluster you want to upgrade.

To upgrade multiple clusters, see [Upgrade Multiple Kubernetes Clusters](#upgrade-clusters-multi), below.  

<p class="note"><strong>Note:</strong> If you run <code>pks upgrade-cluster</code> multiple times,
<%= vars.product_short %> runs your first four upgrade requests in parallel and queues subsequent upgrade requests. 
An error may occur if the upgrade queue grows to be too large.
For more information, see <a href="./release-notes.html#timeout">Error During Individual Cluster Upgrades</a>.
</p>

####<a id='upgrade-clusters-multi'></a>Upgrade Multiple Kubernetes Clusters

To upgrade multiple <%= vars.product_tile %>-provisioned Kubernetes clusters, run the following command:

```
pks upgrade-clusters -c CLUSTER-NAMES
```
Where `CLUSTER-NAMES` is a comma-delimited list of the names of the Kubernetes clusters you want to upgrade.

For example:

<pre class="terminal">
  $ pks upgrade-clusters -c k8-cluster-000,k8-cluster-001,k8-cluster-002
</pre>

For more information about the `pks upgrade-clusters` command, see [pks upgrade-clusters](cli/index.html#upgrade-clusters) in the _PKS CLI_ documentation.  

<p class="note"><strong>Note:</strong> <%= vars.product_short %> upgrades the first four clusters in your upgrade list 
in parallel and queues upgrading the subsequent clusters. An error may occur if the upgrade queue is too large.
For more information, see <a href="./release-notes.html#timeout">Error During Individual Cluster Upgrades</a>.
</p>

##<a id='limitations'></a> Limitations

If you upgrade the <%= vars.product_tile %> tile only
and then attempt to resize or update your existing Kubernetes clusters,
these operations fail until you upgrade the clusters.

If you want to upgrade the <%= vars.product_tile %>
tile and your existing Kubernetes clusters simultaneously,
do not disable **Upgrade all clusters errand** in the <%= vars.product_tile %> tile.
