---
title: Using Enterprise PKS
owner: PKS
---

<strong><%= modified_date %></strong>

This section describes how to use <%= vars.product_full %>.

<p class="note"><strong>Note</strong>: Because <%= vars.product_short %> does not currently support the Kubernetes Service Catalog or the GCP Service Broker, binding clusters to Kubernetes services is not supported.</p>

The procedures for using <%= vars.product_short %> have the following prerequisites:

* You must have an external TCP or HTTPS load balancer configured to forward traffic to the PKS API endpoint. For more information, see [Installing <%= vars.product_short %>](installing.html).

* You must know the address of your PKS API endpoint and have a UAA-created user account that has been granted <%= vars.product_short %> cluster access. For more information, see [Managing Cluster Access and Permissions](manage-cluster-permissions.html).
  <p class="note"><strong>Note</strong>: If your <%= vars.product_short %> installation is integrated with NSX-T, use the DNAT IP address assigned in the <a href="installing-nsx-t.html#retrieve-endpoint">Retrieve the <%= vars.product_short %> Endpoint</a> section of <em>Installing <%= vars.product_short %> on vSphere with NSX-T Integration</em>.</p>

See the following topics:

<ul>
  <li>
  <a href="./login.html">Logging in to <%= vars.product_short %></a>
  </li>
  <li>
  <a href="./access-dashboard.html">Accessing Dashboard</a>
  </li>
  <li>
  <a href="./deploy-workloads.html">Deploying and Exposing Basic Workloads</a>
  </li>
  <li>
  <a href="./harbor.html">Getting Started with VMware Harbor Registry</a>
  </li>
  <li>
  <a href="./helm.html">Using Helm with <%= vars.product_short %></a>
  </li>
  <li>
  <a href="./volumes.html">Configuring and Using Dynamic PersistentVolumes</a>
  </li>
  <li>
  <a href="./create-sinks.html">Creating Sink Resources</a>
  </li>
  <li>
  <a href="./resource-review.html">Viewing Usage Quotas</a>
  </li>
</ul>
