---
title: Viewing Usage Data
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how operators can view pod usage information from
their <%= vars.product_full %> deployment. Operators can use this data to
calculate billed usage, perform customer chargebacks, and generate usage reports.

The <%= vars.product_short %> database stores the following pod usage data:

- **Watermark**: the number of pods that run at a single time.
- **Consumption**: the memory and CPU usage of pods.

## <a id="about"></a>About Usage Data

This section describes the usage data records you can view in the <%= vars.product_short %> billing
database. The agent pod collects usage data for the deployment and sends the data
to the <%= vars.product_short %> aggregator agent. The aggregator agent then stores the data in the <%= vars.product_short %> database. You can access the <%= vars.product_short %> database from the PKS VM.

The following is an example of a pod usage data table:


<pre class="terminal">
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| id                                   | first_seen          | last_seen           | namespace    | name         | service_instance_id                                   |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| 12a345b6-7890-13c4-de5f-67890a123b4c | 2019-01-07 13:57:03 | 2019-01-08 11:34:33 | my-namespace | my-pod       | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
| ac203f27-104b-11e9-b520-42010a000b0a | 2019-01-04 18:09:04 | 2019-01-07 14:09:03 | my-namespace | my-other-pod | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
2 rows in set (0.00 sec)
</pre>

The following table describes the fields that appear in the pod usage data table:

<table>
  <tr>
    <th>Field Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><b>id</b></td>
    <td>Unique record identifier</td>
  </tr>
  <tr>
    <td><b>first_seen</b></td>
    <td>The date when the pod was first recorded to the database</td>
  </tr>
  <tr>
    <td><b>last_seen</b></td>
    <td>The date when the pod was most recently recorded to the database</td>
  </tr>
  <tr>
    <td><b>namespace</b></td>
    <td>The namespace where the pod is deployed</td>
  </tr>
  <tr>
    <td><b>name</b></td>
    <td>The name of the pod</td>
  </tr>
  <tr>
    <td><b>service_instance_id</b></td>
    <td>The cluster where the pod is deployed</td>
  </tr>
</table>

## <a id="view"></a>View Usage Data

To view the pod usage data table, follow the steps below:

1. In a browser, navigate to Ops Manager.
1. Click the **<%= vars.product_tile %>** tile.
1. Select the **Status** tab. Record the IP address that appears in the **IPS** column.
1. Select the **Credentials** tab.
1. Click the credential link next to **Cf Mysql Billing Db Password**. Record the billing database password that appears.
1. Open a terminal window from any system inside your PKS network. If your system is outside the network, you can SSH into the PKS API VM. For more information, see <a href="manage-deployments-bosh.html#pks-api">SSH into the PKS API VM</a>.
1. On the command line, log in to the billing database in one of the following ways:
    - Run the following command to connect by IP address from **inside the PKS API VM**:

        ```
        mysql -h 127.0.0.1 --port 13306 -u billing -p billing
        ```
    - Run the following command to connect using the MySQL socket file from **inside the PKS API VM**:

        ```
        mysql --socket=/var/vcap/sys/run/pxc-mysql/mysqld.sock -u billing -p billing
        ```
    - Run the following command to connect by IP address from **outside the PKS API VM**:

        ```
        mysql -h IP-ADDRESS --port 13306 -u billing -p billing
        ```
        Where `IP-ADDRESS` is the IP address that you located in a previous step.
1. When prompted by the command line, enter the billing database password you recorded
in a previous step.
1. View the tables in the billing database by running `show tables;`.<br><br>For example:
<pre class="terminal">MariaDB [billing]> show tables;
+-------------------+
| Tables_in_billing |
+-------------------+
| pods              |
| schema_migrations |
+-------------------+
2 rows in set (0.00 sec)
</pre>
1. View the raw pod usage data in the `pods` table by running `select * from pods;`.<br><br>For example:
    <pre class="terminal">MariaDB [billing]> select * from pods;
    +--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
    | id                                   | first_seen          | last_seen           | namespace    | name         | service_instance_id                                   |
    +--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
    | 12a345b6-7890-13c4-de5f-67890a123b4c | 2019-01-07 13:57:03 | 2019-01-08 11:34:33 | my-namespace | my-pod       | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
    | ac203f27-104b-11e9-b520-42010a000b0a | 2019-01-04 18:09:04 | 2019-01-07 14:09:03 | my-namespace | my-other-pod | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
    +--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
    2 rows in set (0.00 sec)
    </pre>
1. (Optional) For information about running additional queries against the billing
database, see the following articles in the Pivotal Knowledge Base:
  - [How to calculate pod consumption hours](https://community.pivotal.io/s/article/how-to-calculate-pod-consumption-hours)
  - [How to calculate high watermark pod count](https://community.pivotal.io/s/article/how-to-calculate-high-watermark-pod-count)
