---
title: Viewing Usage Data from the Billing Database
owner: TKGI
---

<p class="note"><strong>Deprecation Notice:</strong> In <%= vars.product_short %> v1.9,
the billing database is scheduled to be removed.
You can use Telemetry instead of the billing database.
For more information, see <a href="./telemetry.html">Telemetry</a>.
</p>

This topic describes how operators can view <%= vars.product_full %> pod usage information from the billing database.

## <a id="billing-db"></a>About the Billing Database

The <%= vars.product_short %> billing database stores the following pod usage data:

- **Watermark**: the number of pods that run at a single time.
- **Consumption**: the memory and CPU usage of pods.

You can use this data to
calculate billed usage, perform customer chargebacks, generate usage reports, and perform other functions.

## <a id="data"></a>Usage Data Format

This section describes the usage data records you can view in the <%= vars.product_short %> billing
database. The agent pod collects usage data for the deployment and sends the data
to the <%= vars.product_short %> aggregator agent. The aggregator agent then stores the data in the <%= vars.product_short %> billing database. You can access the billing database from the <%= vars.control_plane %> VM.

The following is an example of a pod usage data table:


<pre class="terminal">
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| id                                   | first_seen          | last_seen           | namespace    | name         | service_instance_id                                   |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
| 12a345b6-7890-13c4-de5f-67890a123b4c | 2019-01-07 13:57:03 | 2019-01-08 11:34:33 | my-namespace | my-pod       | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
| ac203f27-104b-11e9-b520-42010a000b0a | 2019-01-04 18:09:04 | 2019-01-07 14:09:03 | my-namespace | my-other-pod | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
+--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
2 rows in set (0.00 sec)
</pre>

The following table describes the fields that appear in the pod usage data table:

<table>
  <tr>
    <th>Field Name</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><strong>id</strong></td>
    <td>Unique record identifier</td>
  </tr>
  <tr>
    <td><strong>first_seen</strong></td>
    <td>The date when the pod was first recorded to the database</td>
  </tr>
  <tr>
    <td><strong>last_seen</strong></td>
    <td>The date when the pod was most recently recorded to the database</td>
  </tr>
  <tr>
    <td><strong>namespace</strong></td>
    <td>The namespace where the pod is deployed</td>
  </tr>
  <tr>
    <td><strong>name</strong></td>
    <td>The name of the pod</td>
  </tr>
  <tr>
    <td><strong>service_instance_id</strong></td>
    <td>The cluster where the pod is deployed</td>
  </tr>
</table>

## <a id="view"></a>View Usage Data

To view the pod usage data table, follow the steps below:

1. In a browser, navigate to Ops Manager.
1. Click the **<%= vars.product_tile %>** tile.
1. Select the **Status** tab. Record the IP address that appears in the **IPS** column.
1. Select the **Credentials** tab.
1. Click the credential link next to **Cf Mysql Billing Db Password**. Record the billing database password that appears.
1. Open a terminal window from any system inside your <%= vars.k8s_runtime_abbr %> network. 
If your system is outside the network, SSH into a <%= vars.k8s_runtime_abbr %> DB VM,
whether it is a singleton or one of multiple DB VMs.  
For more information, see <a href="diagnostic-tools.html#pks-db">SSH into a <%= vars.k8s_runtime_abbr %> DB VM</a> 
in _Using BOSH Diagnostic Commands in <%= vars.product_short %>_.
1. On the command line, log in to the billing database in one of the following ways:
    - Run the following command to connect by IP address from **inside the <%= vars.k8s_runtime_abbr %> DB VM**:

        ```
        mysql -h 127.0.0.1 --port 3333 -u billing -p BILLING-PASSWORD
        ```
        Where `BILLING-PASSWORD` is the billing database password you located in the steps above.  
    - Run the following command to connect using the MySQL socket file from **inside the <%= vars.k8s_runtime_abbr %> DB VM**:

        ```
        mysql --socket=/var/vcap/sys/run/pxc-mysql/mysqld.sock -u billing -p BILLING-PASSWORD
        ```
        Where `BILLING-PASSWORD` is the billing database password you located in the steps above.  
    - Run the following command to connect by IP address from **outside the <%= vars.k8s_runtime_abbr %> DB VM**:

        ```
        mysql -h IP-ADDRESS --port 3306 -u billing -p BILLING-PASSWORD
        ```
        Where:  
        * `IP-ADDRESS` is the IP address that you located in the steps above.
        * `BILLING-PASSWORD` is the billing database password you located in the steps above.  
1. View the tables in the billing database by running `show tables;`.<br><br>For example:
<pre class="terminal">MariaDB [billing]> show tables;
+-------------------+
| Tables_in_billing |
+-------------------+
| pods              |
| schema_migrations |
+-------------------+
2 rows in set (0.00 sec)
</pre>
1. View the raw pod usage data in the `pods` table by running `select * from pods;`.<br><br>For example:
    <pre class="terminal">MariaDB [billing]> select * from pods;
    +--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
    | id                                   | first_seen          | last_seen           | namespace    | name         | service_instance_id                                   |
    +--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
    | 12a345b6-7890-13c4-de5f-67890a123b4c | 2019-01-07 13:57:03 | 2019-01-08 11:34:33 | my-namespace | my-pod       | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
    | ac203f27-104b-11e9-b520-42010a000b0a | 2019-01-04 18:09:04 | 2019-01-07 14:09:03 | my-namespace | my-other-pod | service-instance_a12b3456-78cd-90e1-fa2b-3456c789def0 |
    +--------------------------------------+---------------------+---------------------+--------------+--------------+-------------------------------------------------------+
    2 rows in set (0.00 sec)
    </pre>
1. (Optional) For information about running additional queries against the billing
database, see the following articles in the Knowledge Base:
  - [How to calculate pod consumption hours](https://community.pivotal.io/s/article/how-to-calculate-pod-consumption-hours)
  - [How to calculate high watermark pod count](https://community.pivotal.io/s/article/how-to-calculate-high-watermark-pod-count)
