---
title: Deploying and Managing Cloud Native Storage (CNS) on vSphere
owner: TKGI
---

This topic describes <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) integration with Cloud Native Storage (CNS) using a Container Storage Interface (CSI).
CNS integration enables <%= vars.k8s_runtime_abbr %> clusters to use external container storage.

## <a id='overview'></a>Overview

Cloud Native Storage (CNS) provides comprehensive data management for stateful, containerized apps,
enabling apps to survive restarts and outages.
Stateful containers can use vSphere storage primitives such as standard volume, persistent volume, and dynamic provisioning, 
independent of VM and container lifecycle.  

For more information on VMware CNS, see [Getting Started with VMware Cloud Native Storage](https://docs.vmware.com/en/VMware-vSphere/6.7/Cloud-Native-Storage/GUID-51D308C7-ECFE-4C04-AD56-64B6E00A6548.html).  

Your <%= vars.k8s_runtime_abbr %> administrator has the option to enable 
automatic vSphere CSI Driver Integration on your clusters. To enable automatic CSI driver integration on <%= vars.k8s_runtime_abbr %>-provisioned clusters, 
see [Storage](#storage-config) in _Installing <%= vars.k8s_runtime_abbr %> on vSphere_.  

* After your administrator has enabled automatic vSphere CSI Driver Integration, 
deploy and manage vSphere CNS volumes using the automatically deployed vSphere CSI Driver. 
For more information, see [Create and Manage vSphere CNS Volumes](#overview-managing) below.  

    <p class="note"><strong>Note</strong>: If you have an existing cluster with a manually installed vSphere CSI driver, then 
    uninstall the old vSphere CSI Driver. 
    For more information, see <a href="#migrate-csi">Migrate From a Manually Installed vSphere CSI Driver to Automatic vSphere CSI Driver Integration</a> below.
    </p>

* If your administrator has not enabled automatic vSphere CSI Driver Integration, 
they might have provided the option of deploying vSphere CNS volumes using a manually installed vSphere CSI Driver. 
For more information on manually installing a vSphere CSI Driver, see [Deploying and Managing Cloud Native Storage (CNS) on vSphere](https://docs.pivotal.io/tkgi/1-10/vsphere-cns.html)
in the <%= vars.product_short %> v1.10 documentation.  

Use the vSphere client to review your cluster storage volumes and their backing virtual disks, 
and monitor their storage policy compliance. You can set a storage policy directly on the volumes. 
Also, while vSphere CNS integration is enabled, vSphere storage backs up your cluster volumes.  

## <a id='overview-managing'></a>Create and Manage vSphere CNS Volumes

If your cluster has automatically installed vSphere CSI Driver Integration, you can deploy CNS using the automatically installed CSI driver.  

With automatic CNS enabled, the vSphere CSI Driver is automatically installed to your clusters. 
You can deploy CNS volumes dynamically or statically:  

* [Create Dynamic CNS Volumes](#create-dynamic)
* [Create Static CNS Volumes](#create-static)

<p class="note"><strong>Note</strong>: If you have existing clusters with manually installed vSphere CSI drivers, 
and you would prefer they used an automatically installed vSphere CSI driver, 
see <a href="#migrate-csi">Migrate From a Manually Installed vSphere CSI Driver to Automatic vSphere CSI Driver Integration</a> below.
</p>

### <a id='create-dynamic'></a>Create Dynamic CNS Volumes

You can configure a cluster to use a dynamic persistent volume for CNS. 

To use a dynamic CNS volume:  

1. Create your cluster using `tkgi create-cluster`.
1. To create a StorageClass for your dynamic volumes, complete [Create a Storage Class](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/policy-based-mgmt.html) 
in _Dynamic Provisioning_ in the vSphere documentation.  
1. To create a Persistent Volume Claim for your dynamic volumes, complete [Create a PersistentVolumeClaim](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/policy-based-mgmt.html#create-a-persistentvolumeclaim) 
in _Dynamic Provisioning_ in the vSphere documentation.  
1. **NOT SURE HOW TO INTEGRATE THIS WITH THE EXISTING CREATE/MANAGE WORKLOADS**  

### <a id='create-static'></a>Create Static CNS Volumes

You can configure a cluster to use an existing static persistent volume for CNS. 

To use a static CNS volume:  

1. Create your cluster using `tkgi create-cluster`.
1. To create a Persistent Volume for your static volumes, complete [Create a PersistentVolume](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/persistent-vols-claims.html#create-a-persistentvolume) 
in _Dynamic Provisioning_ in the vSphere documentation.  
1. To create a Persistent Volume Claim for your static volume, complete [Create a PersistentVolumeClaim](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/persistent-vols-claims.html#create-a-persistentvolumeclaim) 
in _Dynamic Provisioning_ in the vSphere documentation.  
1. **NOT SURE HOW TO INTEGRATE THIS WITH THE EXISTING CREATE/MANAGE WORKLOADS**




## <a id='migrate-csi'></a>Migrate From a Manually Installed vSphere CSI Driver to Automatic vSphere CSI Driver Integration

If your administrator has enabled automatic vSphere CSI Driver Integration and you have a cluster that uses a manually installed vSphere CSI Driver, 
the manually installed driver will no longer function after upgrading the cluster. 
You must manually migrate your cluster off of the manual CSI configuration.

To enable the automatic CNS on your existing cluster, remove the manually installed CSI driver immediately after upgrading the cluster:  

* [Remove a Manually Installed vSphere CSI Driver](#remove-manual-csi)

After removing the manually installed vSphere CSI Driver, see 
[Create and Manage vSphere CNS Volumes](#overview-managing) above.


### <a id='migrate-to-automatic-cns'></a>Remove a Manually Installed vSphere CSI Driver

If have manually installed CSI on your clusters and your administrator has enabled 
automatic CNS, you must migrate those clusters off of the manual CSI configuration.

To migrate from manually installed CSI to automatic vSphere CSI Driver integration:

1. Confirm your <%= vars.k8s_runtime_abbr %> administrator has enabled automatic **vSphere CSI Driver Integration** on the <%= vars.k8s_runtime_abbr %> tile.
2. Upgrade your Kubernetes cluster to <%= vars.k8s_runtime_abbr %> v1.11.
3. Manually remove the manually installed CSI driver from the cluster.
4. Validate that CNS recognizes the existing storage by completing the step in [Verify the Installed vSphere CSI Driver](#verify) above.

<%#
If users manually deployed the vSphere CSI Driver previously, and they want to enable vSphere CSI Driver in TKGI 1.11 tile, 
then they must manually delete the manually deployed CSI Drive after successfully upgrading the K8S cluster to TKGI 1.11. 
Please note that the key point is the timing, in other words, 
they can't delete the manually deployed vSphere CSI Driver before upgrading the existing cluster(s); 
Instead, they should perform the operation after upgrading the existing cluster(s). 
We need to get the above info included in the document. #%>

