---
title: Preparing to Install Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T Data Center
owner: TKGI
iaas: vsphere-nsxt
---

This topic lists the sections to follow when installing <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) on vSphere with NSX-T Data Center.

## Preparing to Install <%= vars.product_short %> on vSphere with NSX-T

In preparation for installing <%= vars.product_short %> on vSphere with NSX-T, review the following documentation:

<ul>
  <li>
    <a href="./vsphere-nsxt-requirements.html">Version Requirements for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Hardware Requirements for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="https://ports.vmware.com/home/vSphere+NSX-Data-Center-for-vSphere+NSX-T-Data-Center">VMware Ports and Protocols</a> on the VMware site
  </li>
  <li>
    <a href="./nsxt-topologies.html">NSX-T Deployment Topologies for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./vsphere-nsxt-cluster-objects.html">NSX-T Cluster Objects Created for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-env.html">Network Planning <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-policy-api-considerations.html">Considerations for Using the NSX-T Policy API with <%= vars.k8s_runtime_abbr %></a>
  </li>
</ul>