---
title: Creating Dedicated Users and Roles for vSphere (Optional)
owner: Ops Manager
---

This topic describes how to create dedicated users and roles for your vSphere environment before deploying <%= vars.product_full %>.

<p class="note"><strong>Note</strong>: This topic provides security considerations for defining dedicated vSphere user accounts for use with Kubernetes cluster VMs provisioned by <%= vars.product_short %>. The information in this topic is only relevant if you <strong>do not</strong> want to use the vSphere administrator account for the <%= vars.product_short %> and Kubernetes cluster VMs. If you are comfortable using the vSphere administrator account for the <%= vars.k8s_runtime_abbr %> and Kubernetes cluster VMs, skip this topic.</p>

## <a id='overview'></a>Overview

Before you install <%= vars.product_short %> on vSphere, you can prepare your vSphere environment by creating the
required user accounts and configuring DNS for the <%= vars.control_plane %> endpoint.

You can create the following service accounts in vSphere:

* **Master Node User Account** for the Kubernetes master node VMs.
* **BOSH/Ops Manager User Account** for BOSH Director operations.

<p class="note warning"><strong> WARNING:</strong> The <%= vars.k8s_runtime_abbr %> Master Node and
BOSH/Ops Manager service accounts must be two separate accounts.</p>

After creating the Master Node and BOSH/Ops Manager service accounts you must grant
the accounts privileges in vSphere:  

* **Master Node User Account**: Kubernetes master node VMs require storage permissions to create load balancers
and attach persistent disks to pods. Creating a custom role for this service account allows vSphere to apply
the same privileges to all Kubernetes master node VMs in your <%= vars.product_short %> installation.

* **BOSH/Ops Manager User Account**: BOSH Director requires permissions to create VMs.
You can apply privileges directly to this service account without creating a role.
You can also apply the default
[VMware Administrator System Role](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-93B962A7-93FA-4E96-B68F-AE66D3D6C663.html)
to this user account to achieve the appropriate permission level.

<%= vars.vm_credentials %>

<p class="note"><strong>Note</strong>: If your Kubernetes clusters span
multiple vCenters, you must set the user account privileges correctly in
each vCenter.</p>

To prepare your vSphere environment, do the following:

1. [Create the Master Node Service Account](#create-master)
1. [Grant Storage Permissions](#addl-permissions)
1. [Create the BOSH/Ops Manager Service Account](#create-bosh-ops-man)
1. [Grant Permissions to the BOSH/Ops Manager Service Account](#grant-bosh-ops-man)
1. [Configure DNS for the <%= vars.control_plane %>](#dns)  

## <a id='prerequisites'></a>Prerequisites

Before you prepare your vSphere environment, fulfill the prerequisites in [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).

## <a id="create-master"></a>Create the Master Node User Account

**Virtual Machine Configuration** privileges control the ability to configure virtual machine options and devices.

1. From the vCenter console, create a user account for Kubernetes cluster master VMs.

1. Grant the following **Virtual Machine Object** privileges to the user account:

  <table>
    <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
      <tr>
        <td>Virtual Machine > Advanced configuration</td>
        <td>VirtualMachine.Config.AdvancedConfig</td>
      </tr>
      <tr>
        <td>Virtual Machine > Change Settings</td>
        <td>VirtualMachine.Config.Settings</td>
      </tr>
  </table>

## <a id="addl-permissions"></a>Grant Storage Permissions

Kubernetes master node VM user accounts require the following:

* Read access to the folder, host, and datacenter of the cluster node VMs
* Permission to create and delete VMs within the resource pool where <%= vars.product_short %> is deployed

Grant these permissions to the master node user account based on your storage configuration using one of the procedures below:

* [Static Only Persistent Volume Provisioning](#static-only)
* [Dynamic Persistent Volume Provisioning (with Storage Policy-Based Volume Placement)](#dynamic-policy)
* [Dynamic Persistent Volume Provisioning (without Storage Policy-Based Volume Placement)](#dynamic-no-policy)

The procedures in this topic use the following vCenter permissions objects:  

* **Virtual Machine Configuration** privileges control the ability to configure virtual machine options and devices.
For information about **Virtual Machine Configuration** see [Virtual Machine Configuration Privileges](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-FEAB5DF5-F7A2-412D-BF3D-7420A355AE8F.html)
 in the VMware vSphere documentation.  

* **Datastore** privileges control the ability to browse, manage, and allocate space on datastores.
For information about **Datastore** see [Datastore Privileges]
(https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-B2426ACC-D73F-4732-8BBC-DE9B1B2263D9.html)
 in the VMware vSphere documentation.

* **Resource** privileges control the creation and management of resource pools,
 as well as the migration of virtual machines.
 For information about **Resource** see [Resource Privileges]
(https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-7BA4AE08-233C-4FF3-9A78-5B4BD4A6E28D.html)
 in the VMware vSphere documentation.

* **Storage Views** privileges control privileges for Storage Monitoring Service APIs.
**Starting with vSphere 6.0, storage views are deprecated and these privileges no longer apply to them.**
For information about **Storage Views** see [Storage Views Privileges]
(https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.security.doc/GUID-DB976EAC-6F7E-4954-ABF4-2EAD5B6A68C0.html)
in the VMware vSphere documentation.
For more information about vSphere storage configurations, see
[vSphere Storage for Kubernetes](https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/index.html)
in the VMware vSphere documentation.  

For information about the vSphere virtual machine permissions API, see
[ReconfigVM_Task(reconfigure)](https://code.vmware.com/apis/358/vsphere/doc/vim.VirtualMachine.html)
in the _vSphere Web Services API_ documentation.  

### <a id="static-only"></a>Static Only Persistent Volume Provisioning

To configure your Kubernetes master node user account using static only Persistent Volume (PV) provisioning, do the following:

1. Create a custom role that allows the service account to manage Kubernetes node VMs.
For more information about custom roles in vCenter, see [Create a Custom Role](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-41E5E52E-A95B-4E81-9724-6AD6800BEF78.html) in the VMware vSphere documentation.  
    1. Give this role a name. For example, `manage-k8s-node-vms`.
    1. Grant the following privileges at the **VM Folder** level using either the vCenter UI or API:
    <table>
      <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
        <tr>
          <td>Virtual Machine > Add existing disk</td>
          <td>VirtualMachine.Config.AddExistingDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add new disk</td>
          <td>VirtualMachine.Config.AddNewDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add or remove device</td>
          <td>VirtualMachine.Config.AddRemoveDevice</td>
        </tr>
        <tr>
          <td>Virtual Machine > Remove disk</td>
          <td>VirtualMachine.Config.RemoveDisk</td>
        </tr>
    </table>

    1. Select the **Propagate to Child Objects** checkbox.

1. (Optional) Create a custom role that allows the user account to manage Kubernetes volumes.
  <p class="note"><strong>Note</strong>: This role is required if you create a Persistent Volume Claim (PVC) to bind with a statically provisioned PV, and the reclaim policy is set to delete.
When the PVC is deleted, the statically provisioned PV is also deleted.</p>
    1. Give this role a name. For example, `manage-k8s-volumes`.
    1. Grant the following privilege at the **Datastore** level using either the vCenter UI or API:
    <table>
      <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
        <tr>
          <td>Datastore > Low level file operations</td>
          <td>Datastore.FileManagement</td>
        </tr>
    </table>

    1. Clear the **Propagate to Child Objects** checkbox.

1. Grant the service account the existing **Read-only** role. This role includes the following privileges at the **vCenter, Datacenter, Datastore Cluster,** and **Datastore Storage Folder** levels:
This role includes the following privileges at the **vCenter, Datacenter, Datastore Cluster,**
and **Datastore Storage Folder** levels:
  <table>
    <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
      <tr><td>Read-only</td><td>System.Anonymous</td></tr>
      <tr><td></td><td>System.Read</td></tr>
      <tr><td></td><td>System.View</td></tr>
  </table>

1. Continue to [Create the BOSH/Ops Manager User Account](#create-bosh-ops-man).

### <a id="dynamic-policy"></a>Dynamic Persistent Volume Provisioning (with Storage Policy-Based Volume Placement)

To configure your Kubernetes master node user account using dynamic PV provisioning **with** storage policy-based placement, do the following:

1. Create a custom role that allows the user account to manage Kubernetes node VMs.
For more information about custom roles in vCenter, see [Create a Custom Role](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-41E5E52E-A95B-4E81-9724-6AD6800BEF78.html) in the VMware vSphere documentation.
    1. Give this role a name. For example, `manage-k8s-node-vms`.
    1. Grant the following privileges at the **Cluster, Hosts,** and **VM Folder** levels using either the vCenter UI or API:
    <table>
      <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
        <tr>
          <td>Resource > Assign virtual machine to resource pool</td>
          <td>Resource.AssignVMToPool</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add existing disk</td>
          <td>VirtualMachine.Config.AddExistingDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add new disk</td>
          <td>VirtualMachine.Config.AddNewDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add or remove device</td>
          <td>VirtualMachine.Config.AddRemoveDevice</td>
        </tr>
        <tr>
          <td>Virtual Machine > Remove disk</td>
          <td>VirtualMachine.Config.RemoveDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Create new</td>
          <td>VirtualMachine.Inventory.Create</td>
        </tr>
        <tr>
          <td>Virtual Machine > Remove</td>
          <td>VirtualMachine.Inventory.Remove</td>
      </tr>
    </table>

  1. Select the **Propagate to Child Objects** checkbox.

1. Create a custom role that allows the user account to manage Kubernetes volumes.

    1. Give this role a name. For example, `manage-k8s-volumes`.
    1. Grant the following privileges using either the vCenter UI or API:
    <table>
      <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
        <tr>
          <td>Datastore > Allocate space</td>
          <td>Datastore.AllocateSpace</td>
        </tr>
        <tr>
          <td>Datastore > Low level file operations</td>
          <td>Datastore.FileManagement</td>
        </tr>
    </table>

  1. Clear the **Propagate to Child Objects** checkbox.

1. Create a custom role that allows the user account to read the Kubernetes storage profile.
    1. Give this role a name. For example, `k8s-system-read-and-spbm-profile-view`.
    1. Grant the following privilege at the **vCenter** level using either the vCenter UI or API:
  <table>
    <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
      <tr><td><strong>Profile-driven storage view</td><td>StorageProfile.View</td></tr>
  </table>

  1. Clear the **Propagate to Child Objects** checkbox.

1. Grant the user account the existing **Read-only** role.
This role includes the following privileges at the **vCenter, Datacenter,
Datastore Cluster,** and **Datastore Storage Folder** levels:
  <table>
    <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
      <tr><td>Read-only</td><td>System.Anonymous</td></tr>
      <tr><td></td><td>System.Read</td></tr>
      <tr><td></td><td>System.View</td></tr>
  </table>

1. Continue to [Create the BOSH/Ops Manager Service Account](#create-bosh-ops-man).

###<a id="dynamic-no-policy"></a>Dynamic Volume Provisioning (without Storage Policy-Based Volume Placement)

To configure your Kubernetes master node user account using dynamic PV provisioning **without** storage policy-based placement, do the following:

1. Create a custom role that allows the user account to manage Kubernetes node VMs.
For more information about custom roles in vCenter, see [Create a Custom Role](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-41E5E52E-A95B-4E81-9724-6AD6800BEF78.html) in the VMware vSphere documentation.

    1. Give this role a name. For example, `manage-k8s-node-vms`.  
    1. Grant the following privileges at the **Cluster, Hosts,** and **VM Folder** levels using either the vCenter UI or API:
    <table>
      <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
        <tr>
          <td>Virtual Machine > Add existing disk</td>
          <td>VirtualMachine.Config.AddExistingDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add new disk</td>
          <td>VirtualMachine.Config.AddNewDisk</td>
        </tr>
        <tr>
          <td>Virtual Machine > Add or remove device</td>
          <td>VirtualMachine.Config.AddRemoveDevice</td>
        </tr>
        <tr>
          <td>Virtual Machine > Remove disk</td>
          <td>VirtualMachine.Config.RemoveDisk</td>
        </tr>
    </table>

    1. Select the **Propagate to Child Objects** checkbox.

1. Create a custom role that allows the user account to manage Kubernetes volumes.
    1. Give this role a name. For example, `manage-k8s-volumes`.
    1. Grant the following privileges using either the vCenter UI or API:
    <table>
      <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
        <tr>
          <td>Datastore > Allocate space</td>
          <td>Datastore.AllocateSpace</td>
        </tr>
        <tr>
          <td>Datastore > Low level file operations</td>
          <td>Datastore.FileManagement</td>
        </tr>
    </table>

    1. Clear the **Propagate to Child Objects** checkbox.

1. Grant the user account the existing **Read-only** role.
This role includes the following privileges at the **vCenter, Datacenter, Datastore Cluster,** and **Datastore Storage Folder** levels:
  <table>
    <tr><th>Privilege (UI)</th><th>Privilege (API)</th></tr>
      <tr><td>Read-only</td><td>System.Anonymous</td></tr>
      <tr><td></td><td>System.Read</td></tr>
      <tr><td></td><td>System.View</td></tr>
  </table>

## <a id='create-bosh-ops-man'></a>Create the BOSH/Ops Manager User Account
1. From the vCenter console, create the BOSH/Ops Manager User Account.
1. If you are deploying both Tanzu Application Service (TAS) and <%= vars.k8s_runtime_abbr %>
within the same vSphere environment, create an additional BOSH/Ops Manager Service Account so that
you have one account for TAS and a separate account for <%= vars.k8s_runtime_abbr %>.

## <a id='grant-bosh-ops-man'></a>Grant Permissions to the BOSH/Ops Manager User Account
There are two options for granting permissions to the BOSH/Ops Manager Service Account(s):

* Grant minimal permissions. Grant each BOSH/Ops Manager User Account the minimum required permissions as described in
[vSphere Service Account Requirements](https://docs.pivotal.io/ops-manager/vsphere/vsphere-service-account.html).  
* Grant Administrator Role permissions. Apply the default VMware Administrator Role to each BOSH/Ops Manager Service Account as described in
[vCenter Server System Roles](https://docs.vmware.com/en/VMware-vSphere/6.5/com.vmware.vsphere.security.doc/GUID-93B962A7-93FA-4E96-B68F-AE66D3D6C663.html)
.  

    <p class="note warning"><strong>Warning</strong>: Applying the VMware Administrator Role to the BOSH/Ops Manager Service Account grants the account more privileges than are required.
    For optimal security always use the least privileged account.</p>

## <a id='dns'></a>Configure DNS for the <%= vars.control_plane %>

Navigate to your DNS provider and create an entry for a fully qualified domain name (FQDN) within your system domain. For example, `api.tkgi.example.com`.

When you configure the <%= vars.product_tile %> tile, enter this FQDN in the **<%= vars.control_plane %>** pane.

After you deploy <%= vars.product_short %>, you map the IP address of the <%= vars.control_plane %> to this FQDN. You can then use this FQDN to access the <%= vars.control_plane %> from your local system.

## <a id="next-steps"></a>Next Installation Step

To install and configure Ops Manager,
follow the instructions in [Installing and Configuring Ops Manager on vSphere](vsphere-om-install-config.html).
