---
title: Deploying Ops Manager with NSX-T for Enterprise PKS
owner: Ops Manager
---

This topic provides instructions for deploying Ops Manager on VMware vSphere with NSX-T integration for use with <%= vars.product_full %>.

##<a id='prerequisites'></a>Prerequisites

Before deploying Ops Manager with NSX-T for <%= vars.product_short %>, you must
do the following:

* [Deploy NSX-T for <%= vars.product_short %>](./nsxt-deploy.html)
* [Create <%= vars.product_short %> Management Plane](./nsxt-prepare-mgmt-plane.html)
* [Create <%= vars.product_short %> Compute Plane](./nsxt-prepare-compute-plane.html)
* Review the supported Ops Manager versions for <%= vars.product_short %>. See  [<%= vars.product_short %> Release Notes](release-notes.html) or the [Product Compatibility Matrix](https://docs.pivotal.io/resources/product-compatibility-matrix.pdf).
* Review to the known issues for your version of Ops Manager. See one of the following:
    * [PCF Ops Manager Release v2.4 Release Notes](http://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/opsmanager-rn.html)
    * [PCF Ops Manager Release v2.5 Release Notes](http://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/opsmanager-rn.html).
    * [PCF Ops Manager Release v2.6 Release Notes](http://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html).


##<a id='ssh-key'></a>SSH Key Requirements for Ops Manager v2.6

Beginning with Ops Manager v2.6 for vSphere, password authentication is replaced with SSL/TLS authentication. If you are installing Ops Manager v2.6 on vSphere, you cannot deploy Ops Manager successfully without adding a public SSH key in the appropriate field of the **Customize Template** screen. If you do not add a public SSH key, Ops Manager shuts down automatically because it cannot find a key and may enter a reboot loop. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html#ssh-private-key">Passwords Not Supported for Ops Manager VM on vSphere</a> in the Ops Manager v2.6 release notes. For installation instructions specific to Ops Manager v2.6, see <a href="http://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html">Deploy Ops Manager v2.6</a>.

When you add the key value to the **Public SSH Key** field, you must enter the entire public key similar to the format required for `authorized_keys`. For example, the format required is similar to the following:

```
ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAnZBapWsER/EO1hLYvV/rkZe78mUBueZGHx1kw+ByfNbLoA385Cm72L+6qq40yOIH6R42nHN/bynbeHOD4Ptes4/s2lrLJtTzEWgH9XYnId4sE5f+QTFd2kRtTzZcu8WvFudEIyCIWjO+o9yvPETs05dEl/3KDn+t9uXxiszrG9Ycb2uNNpmDES+ohm9BQQFmpwFnao+UuQbRXLCcQ3SoE3Ai5Z9O+3PBwm0IByx87/dUuqvVISAJ8yGu2hJobx9PPStFERtUsfx5x+WIu9XIkrl5tzxgH9hBDsOS9cVUYJ7kKUUf1yyro6ocHyu6TWHJHSJLt8Z2FULxMPpqdn+8Xw== my-key
```

## <a id="deploy-om"></a>Deploy Ops Manager for <%= vars.product_short %> 
1. Download the [Pivotal Ops Manager for vSphere](https://network.pivotal.io/products/ops-manager) installation 
file from the [Pivotal Network](https://network.pivotal.io). 
    1. Open a browser to the [Pivotal Operations Manager](https://network.pivotal.io/products/ops-manager) download page on the Pivotal Network.  
    1. Use the dropdown menu to select the supported Pivotal Operations Manager release.
    1. Select the **Pivotal Ops Manager for vSphere** download option. 
    This downloads the **Pivotal Ops Manager for vSphere** VM template as an OVA file.  

1. Log into vCenter using the vSphere Web Client (FLEX) to deploy the Ops Manager OVA. This can also be done using the using the vSphere Client (HTML5), the OVFTool, or the PowerCLI.    

1. Select the Resource Pool defined for the <%= vars.product_short %> Management Plane. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> if you have not defined the <%= vars.product_short %> Management Resource Pool.

1. Right click the <%= vars.product_short %> Management Plane Resource Pool and select **Deploy OVF Template.**

    <%= image_tag("images/nsxt/om/deploy-om-02.png") %>

1. At the **Select template** screen, click **Browse**.

    <%= image_tag("images/nsxt/om/deploy-om-03.png") %>

1. Select the Ops Manager OVA file you downloaded and click **Open**.

1. Review template selection and click **Next**.

    <%= image_tag("images/nsxt/om/deploy-om-04.png") %>

1. At the **Select Name and location** screen, enter a name for the Ops Manager VM (or use the default name), select the **Datacenter** object, and click **Next**

    <%= image_tag("images/nsxt/om/deploy-om-06.png") %>

1. At the **Select a resource** screen, select the <%= vars.product_short %> Management Plane Resource Pool and click **Next**.

    <%= image_tag("images/nsxt/om/deploy-om-07.png") %>

1. At the **Review Details** screen, confirm the configuration up to this point and click **Next**.

    <%= image_tag("images/nsxt/om/deploy-om-08.png") %>

1. At the **Select Storage** screen, select **Thin Provision**, choose the desired Datastore, and click **Next**. For more information about disk formats, see [Provisioning a Virtual Disk in vSphere](https://docs.pivotal.io/pivotalcf/2-5/customizing/disk-format.html).

    <p class="note warning"><strong>Warning</strong>: Ops Manager requires a Director VM with at least 8GB memory.</p>

    <%= image_tag("images/nsxt/om/deploy-om-09.png") %>

1. At the **Select Networks** screen, if you are using vSphere 6.7, select either the <%= vars.product_short %> Management T1 Logical Switch that you defined when <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>, or if you are using vSphere 6.5, select a vSS or vDS port-group such as the standard **VM Network**, and click **Next**.

    <%= image_tag("images/nsxt/om/deploy-om-10.png") %>

    <p class="note"><strong>WARNING</strong>: With VMware vCenter Server 6.5, when initially deploying the Ops Manager OVA, you cannot connect to an NSX-T logical switch. You must first connect to a vSphere Standard (vSS) or vSphere Distributed Switch (vDS). After the OVA deployment is complete, before powering on the Ops Manager VM, connect the network interface to the NSX-T logical switch. The instructions below describe how to do this. This issue is resolved in VMware vCenter Server 6.7. For more information about this issue, see the <a href="https://kb.vmware.com/kb/54142">VMware Knowledge Base</a>.</p>

1. At the **Customize template** screen, enter the following information.
   * **Admin Password**: A default password for the "ubuntu" user. If you do not enter a password, Ops Manager will not boot up. (Required for Ops Manager v2.4 and v2.5.)
   * **Public SSH Key**: Required for Ops Manager v2.6. Enter the pre-existing public SSH key value to allow SSH access to the Ops Manager VM. You must enter the entire the public key similar to the format required for `authorized_keys`. See <a href="./vsphere-nsxt-om-deploy.html#ssh-key">SSH Key Requirements for Ops Manager v2.6</a>.
   * **Custom hostname**: The hostname for the Ops Manager VM, for example `ops-manager`.
   * **DNS**: One or more DNS servers for the Ops Manager VM to use, for example `10.20.20.1`.
   * **Default Gateway**: The default gateway for Ops Manager to use, for example `10.0.0.1`.
   * **IP Address**: The IP address of the Ops Manager network interface, for example `10.0.0.2` (assuming <%= vars.product_short %> NAT-mode).
   * **NTP Servers**: The IP address of one or more NTP servers for Ops Manager, for example `10.113.60.176`.
   * **Netmask**: The network mask for Ops Manager, for example, `255.255.255.0`.
    <%= image_tag("images/nsxt/om/deploy-om-11.png") %>

1. Click **Next**.

1. At the **Ready to complete** screen, review the configuration settings and click **Finish**. This action begins the OVA import and deployment process.

    <%= image_tag("images/nsxt/om/deploy-om-12.png") %>

1. Use the **Recent Tasks** panel at the bottom of the vCenter dashboard to check the progress of the OVA import and deployment. IF the import or deployment is unsuccessful, check the configuration for errors.

    <%= image_tag("images/nsxt/om/deploy-om-13.png") %>

1. After the deployment completes successfully, right-click the Ops Manager VM and select **Edit Settings**.

    <%= image_tag("images/nsxt/om/deploy-om-14.png") %>

1. If you initially selected a vDS or vSS network for the **Virtual Hardware** > **Network adapter 1** setting, change the vNIC connection to use the `nsx.LogicalSwitch` that is defined for the <%= vars.product_short %> Management Plane, for example `LS-MGMT-PKS`. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> if you have not defined the <%= vars.product_short %> Management T1 Logical Switch and Router.

    <%= image_tag("images/nsxt/om/deploy-om-15.png") %>

1. Right-click the Ops Manager VM and click **Power On**.

    <%= image_tag("images/nsxt/om/deploy-om-16.png") %>

## <a id="config-om"></a>Configure Ops Manager for <%= vars.product_short %>

1. Create a DNS entry for the IP address that you used for Ops Manager. You must use this fully qualified domain name when you log into Ops Manager in the [Installing Pivotal Cloud Foundry on vSphere](https://docs.pivotal.io/pivotalcf/2-5/customizing/vsphere.html#paas) topic. Use the routable IP address assigned to Ops Manager.
    <p class="note"><strong>Note</strong>: Ops Manager security features require you to create a fully qualified domain name to access Ops Manager during the <a href="https://docs.pivotal.io/pivotalcf/2-5/customizing/vsphere.html#paas">initial configuration.</a></p>

1. Navigate to the fully qualified domain of your Ops Manager in a web browser.
  <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>
  <p class="note"><strong>Note</strong>: If you are using the <a href="nsxt-topologies.html#topology-nat">NAT deployment topology</a>, you will need a DNAT rule that maps the Ops Manager private IP to a routable IP. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> for instructions.</p>
    <%= image_tag("images/nsxt/om/deploy-om-17.png") %>

1. The first time that you start Ops Manager, you must select an authentication system. These instructions use <strong>Internal Authentication</strong>. See [Set Up Ops Manager](https://docs.pivotal.io/ops-manager/2-5/vsphere/config.html#set-up) in the PCF documentation for configuration details for the <strong>SAML</strong> and <strong>LDAP</strong> options.

     <%= image_tag("images/nsxt/om/deploy-om-18.png") %>

1. Select **Internal Authentication** and provide the following information:
   * **Username**, **Password**, and **Password confirmation** to create a user with administrative privileges.
   * **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
   * **HTTP proxy** or **HTTPS proxy**, follow the instructions in [Configuring Proxy Settings for the BOSH CPI](https://docs.pivotal.io/pivotalcf/2-5/customizing/pcf-director-proxy-settings.html).

1. Read the **End User License Agreement**, and select the checkbox to accept the terms.

1. Click **Setup Authentication**. It takes a few minutes to initialize the database.

     <%= image_tag("images/nsxt/om/deploy-om-19.png") %>

1. Log in to Ops Manager with the username and password that you created.

     <%= image_tag("images/nsxt/om/deploy-om-20.png") %>

1. Verify success. You should be able to log in, and you should see the BOSH Director tile is present and ready for configuration, indicated by the orange color.

     <%= image_tag("images/nsxt/om/deploy-om-21.png") %>

## <a id="next"></a> Next Step

After you complete this procedure, follow the instructions in <a href="./generate-nsx-ca-cert.html">Generating and Registering the NSX Manager Certificate for <%= vars.product_short %></a>.
