---
title: Installing and Configuring Ops Manager on vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic describes how to install and configure Ops Manager before deploying <%= vars.product_full %> on vSphere.

## <a id='prerequisites'></a>Prerequisites

Before you install Ops Manager for use with <%= vars.product_short %> on vSphere, make sure you have complete the following prerequisites:

- [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)
- [Firewall Ports and Protocols Requirements for vSphere without NSX-T](ports-protocols-wo-nsx-t.html)
- [Creating Dedicated Users and Roles for vSphere (Optional)](vsphere-prepare-env.html) 

## <a id="install-om"></a>Installing Ops Manager

Ops Manager is required to install and configure <%= vars.product_short %>. Each version of Ops Manager supports multiple versions of <%= vars.product_short %>. To confirm that your Ops Manager version supports the version of <%= vars.product_short %> that you install, see the <a href="release-notes.html"><%= vars.product_short %>Release Notes</a>

To install a compatible Ops Manager version, follow the instructions in the table below:

<table>
  <tr>
    <th>Version</th>
    <th></th>
  </tr>
  <tr>
    <td>Ops Manager v2.5.x</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/vsphere/deploy.html">Deploying Ops Manager on vSphere</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-5/vsphere/config.html">Configuring BOSH Director on vSphere</a></li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>Ops Manager v2.6.x</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/vsphere/deploy.html">Deploying Ops Manager on vSphere</a></li>
        <li><a href="https://docs.pivotal.io/pcf/om/2-6/vsphere/config.html">Configuring BOSH Director on vSphere</a></li>
      </ol>
    </td>
  </tr>
</table>

## <a id="next-steps"></a>Next Steps

After you install the appropriate version of Ops Manager for vSphere for your environment, you can proceed with installing <%= vars.product_short %> by following the instructions in the topic <a href="installing-pks-vsphere.html">Installing Enterprise PKS on vSphere</a>. 
