---
title: Advanced Configurations for Tanzu Kubernetes Grid Integrated Edition on vSphere with VMware NSX
owner: TKGI
iaas: vsphere-nsxt
---

The following topics describe how to complete your installation of <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) on vSphere with NSX Data Center.

## Post-Installation NSX Configurations

After you have installed <%= vars.product_short %> on vSphere with NSX, refer to the following sections for additional NSX configuration options:

<ul>
  <li>
    <a href="./nsxt-mgmt-lb.html">Deploying an NSX Load Balancer</a>
  </li>
  <li>
    <a href="./network-profiles-index.html">Defining and Using Network Profiles</a>
  </li>
  <li>
    <a href="./proxies.html">Using Proxies with <%= vars.product_short %> on NSX</a>
  </li>
  <li>
    <a href="./nsxt-ingress-srvc-lb.html">Configuring Ingress Resources and Load Balancer Services</a>
  </li>
  <li>
    <a href="./nsxt-multi-t0.html">Isolating Tenants</a>
  </li>
  <li>
    <a href="./nsxt-multi.html">Implementing a Multi-Foundation <%= vars.product_short %> Deployment</a>
  </li>
</ul>
