---
title: vSphere with NSX-T Version Requirements
owner: PKS
topictype: vspherewithnsxt
---

This topic describes the version requirements for installing <%= vars.product_full %> on vSphere with NSX-T integration.

For prerequisites and resource requirements for installing <%= vars.product_short %> on vSphere without NSX-T
integration, see
[vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).

For hardware and resource requirements for deploying <%= vars.product_short %> on vSphere with NSX-T
in production environments, see [Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T](./vsphere-nsxt-rpd-mpd.html).

<%= vars.product_short %> supports air-gapped deployments on vSphere with or without NSX-T integration.

You can also configure integration with the Harbor tile, an enterprise-class registry server for
container images. For more information, see
[VMware Harbor Registry](https://docs.pivotal.io/vmware-harbor/index.html) in the
_VMware Partner documentation_.

##<a id="vsphere-version"></a> vSphere Version Requirements

<%= partial '_vsphere_versions' %>

##<a id='pks-with-nsx-t'></a> NSX-T Integration Component Version Requirements

Refer to the <a href="./release-notes.html"><%= vars.product_short %> Release Notes</a> for supported NSX-T versions.
