---
title: Using vSphere Host Groups with Enterprise PKS
owner: vsphere
---
<%= vars.vmware_attribution %>

<strong><%= modified_date %></strong>

This topic describes how to use vSphere Host Groups with <%= vars.product_full %>.

## <a id="host-groups-about"></a>About vSphere Host Groups

In vSphere, a cluster is a collection of EXSi servers that run virtual machines (VMs). A typical way to organize resources within a cluster is using resource pools. A resource pool is a collection of vSphere resources.

Another way to segment resources within a cluster is using host groups. This means that within a cluster object you can specify certain ESXi hosts to be part of a host group.

<%= vars.product_short %> users can define host groups in vSphere, then in the PKS tile can specify the host group. Host groups align with the Availability Zone (AZ) construct in BOSH, and allow for stretch vSAN clustering.

For more information on vSphere host groups, refer to the [vSphere documentation](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vsan-planning.doc/GUID-FE7DBC6F-C204-4137-827F-7E04FE88D968.html).

## <a id="host-groups-uses"></a>Host Group Use Cases for <%= vars.product_short %>

This subsection describes use cases for using host groups with <%= vars.product_short %>.

### Enabling Support for vSphere Stretched Clusters

A stretched cluster is a single compute cluster that spans two physical datacenters. vSAN is "stretched" to provide storage for the single compute cluster across both physical datacenters. 

Host groups support stretched clusters. Kubernetes nodes disks components and PVs will be replicated across the two sites. Kubernetes node VMs can be placed in one site or in both, depending on how the plan is configured (1 AZ checked or 2 AZs checked).

<p class="note"><strong>Note</strong>: <%= vars.product_short %> supports the default Storage Policy Based Management set on vCenter for vSAN. The number of <b>Failures to Tolerate</b> (FTT) must be set to 1 to perform data replication across the two sites.</p>

### Enabling Support for vSAN Fault Domains

The vSAN fault domains feature instructs vSAN to spread redundancy components across the servers in separate computing racks. In this way, you can protect the environment from a rack-level failure such as loss of power or connectivity. For more information, see [Designing and Sizing vSAN Fault Domains
](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vsan-planning.doc/GUID-FE7DBC6F-C204-4137-827F-7E04FE88D968.html?hWord=N4IghgNiBcIG4GcwDsAEAzMBXCAXVAJgPYC2YAlsgiAL5A) in the VMware documentation. 

Fault domains map to host groups. If you have set up fault domains in your vSAN architecture, you can now leverage host groups with PKS.

### Using Host Group as a New AZ in BOSH

Previously, the two types of AZs available with PKS on vSphere were Datacenter and Datacenter plus Resource Pool. Host groups gives you a third option: Datacenter plus HostGroups.

In the case of multi-master Kubernetes clusters, with the Datacenter and Datacenter plus Resource Pool AZs, there is no guarantee that master nodes will reside on separate ESXi hosts. With the Datacenter plus HostGroups AZ you can guarantee that Kubernetes master nodes will reside on separate ESXi hosts.

## <a id="host-groups-define"></a>Defining a Host Group in vSphere

To implement host groups with <%= vars.product_short %>, the first step is to define a host group in vSphere.

1. Log in to vCenter.
1. Select the compute **Cluster**.
1. Select the **Configure** tab.
1. Under **Configuration**, select **VM/Host Groups**.
1. Click **Add** and configure the host group as follows:
  - Name: Enter a name for the host group.
  - Type: Select **Host Group** from the drop down.
  - Click **Add** and select the ESXi host(s) to include in the host group. 
  - Click **OK**.
1. Once done, you should see that the host group is configured.
  <img src="images/vsphere/vSphere-host-group.png">

## <a id="host-groups-use"></a>Using a Host Group with <%= vars.product_short %>

Once the host group is defined in vSphere, the next step is to declare this host group when defining the BOSH Availability Zone (AZ) for use with <%= vars.product_short %>.

1. Log in to Ops Manager.
1. Select the BOSH Director tile.
1. Select the **Create Availability Zones** tab.
1. Select the desired AZ, or create a new one.
1. In the **Clusters** section, enter the name of the **Host Group**.
1. Click **Save**.
  <img src="images/nsxt/bosh/config-bosh-29-host-group.png">
