---
title: vSphere
owner: PKS
iaas: vSphere
---

This topic lists the steps to follow when installing <%= vars.product_full %> on vSphere.

## Installing <%= vars.product_short %>

To install <%= vars.product_short %>, follow the instructions below:

<ul>
  <li>
    <a href="./vsphere-requirements.html">Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./vsphere-prepare-env.html">Preparing vSphere Before Deploying <%= vars.product_short %></a>
  </li>
  <li>
    Deploying Ops Manager on vSphere:
    <ul>
      <li><a href="https://docs.pivotal.io/pcf/om/2-3/vsphere/deploy.html">Deploying Ops Manager v2.3 on vSphere</a></li>
      <li><a href="https://docs.pivotal.io/pcf/om/2-4/vsphere/deploy.html">Deploying Ops Manager v2.4 on vSphere</a></li>
    </ul>
  </li>
  <li>
    Configuring Ops Manager on vSphere:
    <ul>
      <li><a href="https://docs.pivotal.io/pcf/om/2-3/vsphere/config.html">Configuring BOSH Director v2.3 on vSphere</a></li>
      <li><a href="https://docs.pivotal.io/pcf/om/2-4/vsphere/config.html">Configuring BOSH Director v2.4 on vSphere</a></li>
    </ul>
  </li>
  <li>
    <a href="installing-pks-vsphere.html">Installing <%= vars.product_short %> on vSphere</a>
  </li>
  <li>
    <a href="https://docs.pivotal.io/partners/vmware-harbor/integrating-pks.html">(Optional) Integrating VMware Harbor with <%= vars.product_short %></a>
  </li>
</ul>

## Installing the PKS and Kubernetes CLIs

The PKS and Kubernetes CLIs help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads. To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
