---
title: Installing and Configuring Ops Manager on vSphere
owner: Ops Manager
---

This topic describes how to install and configure Ops Manager before deploying <%= vars.product_full %> on vSphere.

## <a id='prerequisites'></a>Prerequisites

You use Ops Manager to install and configure <%= vars.product_short %>.
Before you install Ops Manager, review the following prerequisites:

- [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)
- [Firewall Ports and Protocols Requirements for vSphere without NSX-T](ports-protocols-wo-nsx-t.html)
- [Creating Dedicated Users and Roles for vSphere (Optional)](vsphere-prepare-env.html) 

## <a id="install-om"></a>Install and Configure Ops Manager

Each version of <%= vars.product_short %> is compatible with multiple versions of Ops Manager.
To determine Ops Manager compatibility,
see [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service).

To install and configure Ops Manager, follow the instructions in the table below:

<table>
  <tr>
    <th>Version</th>
    <th>Instructions</th>
  </tr>
  <tr>
    <td>Ops Manager v2.9</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-9/vsphere/deploy.html">Deploying Ops Manager on vSphere</a></li>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-9/vsphere/config.html">Configuring BOSH Director on vSphere</a></li>
      </ol>
    </td>
  </tr>
  <tr>
    <td>Ops Manager v2.10</td>
    <td>
      <ol>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-10/vsphere/deploy.html">Deploying Ops Manager on vSphere</a></li>
        <li><a href="https://docs.pivotal.io/platform/ops-manager/2-10/vsphere/config.html">Configuring BOSH Director on vSphere</a></li>
      </ol>
    </td>
  </tr>
</table>

## <a id="next-steps"></a>Next Installation Step

To install and configure <%= vars.product_short %>,
follow the instructions in [Installing <%= vars.product_short %> on vSphere](installing-vsphere.html).
