---
title: Deploying Ops Manager to vSphere
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic provides instructions for deploying Ops Manager to VMware vSphere. 

<p class="note"><strong>Note</strong>: With vSphere 6.5 and NSX-T 2.1, when initially deploying the Operations Manager OVF, you cannot connect directly to an NSX-T logical switch. You must first connect to a vSphere Standard (vSS) or vSphere Distributed Switch (vDS). A suggested approach is to connect to a VSS or VDS when deploying the OVF, but do not power the VM on. After the OVF deployment has completed, you can then connect the network interface to the appropriate NSX-T logical switch and power the VM on to proceed with the install.</p>

1. Before starting, refer to the known issues in the [PCF Ops Manager Release v2.0 Release Notes](http://docs.pivotal.io/pivotalcf/2-0/pcf-release-notes/opsmanager-rn.html).
1. Download the [Pivotal Cloud Foundry](https://network.pivotal.io/products/pivotal-cf) (PCF) Ops Manager `.ova` file at [Pivotal Network](https://network.pivotal.io). Click the **Pivotal Cloud Foundry** region to access the PCF product page. Use the dropdown menu to select an Ops Manager release.

    <%= image_tag("vsphere/vm-ops-man.png") %>

1. Log into vCenter.
1. Select the **VM and Templates** view.

    <%= image_tag("vsphere/vm-template-view.png") %>

1. Right click on your datacenter and select **New Folder**.

    <%= image_tag("vsphere/new-folder.png") %>

1. Name the folder `pivotal_cf` and select it.

    <%= image_tag("vsphere/folder-name.png") %>

1. Select **File > Deploy OVF Template**.

    <%= image_tag("vsphere/deploy-ova.png") %>

1. Select the .ova file and click **Next**.

    <%= image_tag("vsphere/next.png") %>

1. Review the product details and click **Next**.
1. Accept the license agreement and click **Next**.
1. Name the virtual machine and click **Next**.

    <%= image_tag("vsphere/vm-name.png") %>

    <p class="note"><strong>Note</strong>: The selected folder is the one you created.</p>

1. Select a vSphere cluster and click **Next**.

    <%= image_tag("vsphere/anchovy-cluster.png") %>

1. If prompted, select a resource pool and click **Next**.

1. If prompted, select a host and click **Next**.

    <p class="note"><strong>Note</strong>: If your vSphere host does not support VT-X/EPT, hardware virtualization must be **off**. For more information, see <a href="https://docs.pivotal.io/pivotalcf/customizing/vsphere.html#vsphere-reqs">PCF on vSphere Requirements</a>.</p>

    <%= image_tag("vsphere/host.png") %>

1. Select a storage destination and click **Next**.

    <%= image_tag("vsphere/storage.png") %>

1. Select a disk format and click **Next**. For more information about disk formats, see [Provisioning a Virtual Disk on vSphere](https://docs.pivotal.io/pivotalcf/customizing/disk-format.html).

    <p class="note warning"><strong>Warning</strong>: Ops Manager v2.0 requires a Director VM with at least 8&nbsp;GB memory.</p>

    <%= image_tag("vsphere/disk-format.png") %>

1. Select a network from the drop down list and click **Next**.

    <%= image_tag("vsphere/network.png") %>

1. Enter network information and passwords for the Ops Manager VM admin user.

    <%= image_tag("vsphere/vm-admin.png", :height => "375px", :width => "400px") %>

    <p class="note"><strong>Note</strong>: Record this network information. The IP Address will be the location of the Ops Manager interface.</p>

1. In the **Admin Password** field, enter a default password for the ubuntu user. If you do not enter a default password, your Ops Manager will not boot up. 

    <%= image_tag("vsphere/admin-login.png", :height => "375px", :width => "400px") %>

1. Click **Next**.

1. Check the **Power on after deployment** checkbox and click **Finish**. Once the VM boots, the interface is available at the IP address you specified.

     <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>

1. Create a DNS entry for the IP address that you used for Ops Manager. You must use this fully qualified domain name when you log into Ops Manager in [Installing Pivotal Cloud Foundry on vSphere](https://docs.pivotal.io/pivotalcf/customizing/vsphere.html#paas).

<p class="note"><strong>Note</strong>: Ops Manager security features require you to create a fully qualified domain name to access Ops Manager during the <a href="https://docs.pivotal.io/pivotalcf/customizing/vsphere.html#paas">initial configuration.</a></p>

## Next Steps

After you complete this procedure, follow the instructions in [Configuring Ops Manager on vSphere](vsphere-om-config.html).
