---
title: Installing and Configuring Ops Manager on vSphere
owner: Ops Manager
---

This topic describes how to install and configure VMware Tanzu Operations Manager (Ops Manager) 
before deploying <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>) on VMware vSphere. 


## <a id='overview'></a> Overview

Use Ops Manager to install and configure <%= vars.k8s_runtime_abbr %>.  

Ops Manager provides a dashboard UI for installing applications and components as tiles. 
Ops Manager and the installed component tiles include an interface for configuring the Ops Manager environment, component settings, and cluster configurations.  

To install Ops Manager:  

1. [Prerequisites](#prerequisites)  
1. [Install and Configure Ops Manager](#install-om)  


## <a id='prerequisites'></a>Prerequisites

Before installing Ops Manager, review the following prerequisites:

* [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)
* [VMware Ports and Protocols](https://ports.vmware.com/home/vSphere+NSX-Data-Center-for-vSphere+NSX-T-Data-Center)
on the VMware site.
* [Creating Dedicated Users and Roles for vSphere (Optional)](vsphere-prepare-env.html) 

## <a id="install-om"></a>Install and Configure Ops Manager

To install Ops Manager:  

1. Determine the most recent version of Ops Manager that is compatible with the <%= vars.k8s_runtime_abbr %> version you are deploying. 
For information on Ops Manager compatibility with <%= vars.k8s_runtime_abbr %>, 
see [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service).  

1. To install and configure Ops Manager, follow the installation instructions for your selected Ops Manager version: 

    <table>
      <tr>
        <th>Version</th>
        <th>Instructions</th>
      </tr>
      <tr>
        <td>Ops Manager v3.0</td>
        <td>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-deploy.html">Deploying Ops Manager on vSphere</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/vsphere-config.html">Configuring BOSH Director on vSphere</a></li>
          </ol>
        </td>
      </tr>
      <tr>
        <td>Ops Manager v2.10</td>
        <td>
          <ol>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/vsphere-deploy.html">Deploying Ops Manager on vSphere</a></li>
            <li><a href="https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/2.10/vmware-tanzu-ops-manager/vsphere-config.html">Configuring BOSH Director on vSphere</a></li>
          </ol>
        </td>
      </tr>
    </table>

## <a id="next-steps"></a>Next Installation Step

To install and configure <%= vars.product_short %>,
follow the instructions in [Installing <%= vars.product_short %> on vSphere](installing-vsphere.html).
