---
title: Configuring a TKGI API Load Balancer
owner: TKGI
iaas: vSphere
---

This topic describes how to configure an external load balancer for the <%= vars.control_plane %>.

## <a id='overview'></a> Overview

You must configure an external load balancer to make the <%= vars.control_plane %> accessible from outside the network.
This external load balancer forwards traffic to the <%= vars.control_plane %> endpoint on ports 8443 and 9021.
You can use any external load balancer for the <%= vars.control_plane %>.

To set up an external load balancer for the <%= vars.control_plane %>, do the following after you install the <%= vars.product_tile %> tile:

1. [Retrieve the <%= vars.control_plane %> Endpoint](#retrieve-tkgi-api)
1. [Configure an External Load Balancer](#loadbalancer-tkgi-api)

## <a id='prerequisites'></a> Prerequisites

Before configuring an external load balancer for the <%= vars.control_plane %>, you must have the following:

* The <%= vars.control_plane %> certificate that you provided in the **<%= vars.product_tile %>** tile > **<%= vars.control_plane %>** > **Certificate to secure the <%= vars.control_plane %>**.
* The <%= vars.control_plane %> hostname that you entered in the **<%= vars.product_tile %>** tile > **<%= vars.control_plane %>** > **API Hostname (FQDN)**.

## <a id='retrieve-tkgi-api'></a> Step 1: Retrieve the <%= vars.control_plane %> Endpoint

<%= partial 'share-endpoint' %>

## <a id='loadbalancer-tkgi-api'></a>Step 2: Configure an External Load Balancer

To set up an external load balancer for the <%= vars.control_plane %>, configure the external load balancer to resolve to the domain name you entered in the **<%= vars.product_tile %>** tile > **<%= vars.control_plane %>** > **API Hostname (FQDN)**
using the following information:

  - IP address from [Retrieve <%= vars.control_plane %> Endpoint](#retrieve-tkgi-api)
  - Ports 8443 and 9021
  - HTTPS or TCP protocol

## <a id='next-install-step'></a> Next Installation Step

To set up <%= vars.product_short %> admin users who can create and manage Kubernetes clusters, follow the instructions
in [Setting Up <%= vars.product_short %> Admin Users on vSphere](vsphere-configure-users.html).
