---
title: Installing Tanzu Kubernetes Grid Integrated Edition on vSphere
owner: TKGI
iaas: vSphere
---

This topic describes options for installing <%= vars.product_short %> on vSphere.

## <a id='overview'></a>Overview

You can install <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>) on vSphere in three ways,
depending on whether you use the <%= vars.k8s_runtime_abbr %> Management Console, and which container networking overlay you use:

- [Install Tanzu Kubernetes Grid Integrated Edition on vSphere with the Management Console](console-install-vsphere.html)
- [Install Tanzu Kubernetes Grid Integrated Edition on vSphere with NSX-T Using Ops Manager](vsphere-nsxt-index.html)
- [Install Tanzu Kubernetes Grid Integrated Edition on vSphere with Flanel Using Ops Manager](vsphere-flannel.html)
- [Install Tanzu Kubernetes Grid Integrated Edition on VMware Cloud Founation](vsphere-vcf.html)

Where possible, <%= vars.recommended_by %> recommends using the management console
to install <%= vars.product_short %> on vSphere.
For more information, see [When Should I Use <%= vars.product_short %> Management Console?](#when-to-use-console), below.

## <a id='when-to-use-console'></a>When Should I Use <%= vars.product_short %> Management Console?

<%= vars.product_short %> Management Console greatly simplifies the process of deploying <%= vars.product_short %>, especially in less complex environments. However, if you require more flexibility in in configuring your deployment, especially in complex NSX-T Data Center deployments, it might be more appropriate to perform the installation manually. For information about the supported topologies for a manual installation, see [NSX-T Deployment Topologies for Tanzu Kubernetes Grid Integrated Edition](./nsxt-topologies.html).

Before using <%= vars.product_short %> Management Console to deploy <%= vars.product_short %>, consider the following factors:

- If you want to deploy <%= vars.product_short %> Management Console to a No-NAT topology with an NSX-T Data Center logical switch, you must perform a BYOT deployment.
- Deployments to a [Multi-Tier-0](./nsxt-multi-t0.html) topology are supported in BYOT deployments only and require additional configuration. For information about the additional configuration required, see [Tanzu Kubernetes Grid Integrated Edition Management Console Cannot Retrieve Cluster Data in a Multi-Tier0 Topology](console-troubleshooting.html#multi-T0-deployments) in *Troubleshooting Tanzu Kubernetes Grid Integrated Edition Management Console*.
- Deployments to a No-NAT topology with a vSphere Standard Switch or a vSphere Distributed Switch are not supported in any case.
- [Multi-Foundation](.//nsxt-multi.html) deployments are not supported in any case.

How users deploy <%= vars.product_short %> often depends on whether they already have a custom installation of the Ops Manager tool, which <%= vars.k8s_runtime_abbr %> uses:

- Users on vSphere who do not have a custom Ops Manager installation may prefer the management console.
- Users who already have Ops Manager installed for other uses, for example to run [<%= vars.app_runtime_full %>](https://docs.pivotal.io/platform/application-service/overview/intro.html), may prefer to install <%= vars.k8s_runtime_abbr %> manually.
