---
title: vSphere
owner: PKS
iaas: vSphere
---

This topic lists the steps to follow when installing <%= vars.product_full %> on vSphere.

## Installing <%= vars.product_short %> on vSphere

To install <%= vars.product_short %> on vSphere without NSX-T, follow the instructions below:

<ul>
  <li>
    <a href="./vsphere-requirements.html">Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="./ports-protocols-wo-nsx-t.html">Firewall Ports and Protocols Requirements for vSphere without NSX-T</a>
  </li>
  <li>
    <a href="./vsphere-prepare-env.html">Creating Dedicated Users and Roles for vSphere (Optional)</a>
  </li>
  <li>
    <a href="./vsphere-om-install-config.html">Installing and Configuring Ops Manager on vSphere</a>
  </li>
  <li>
    <a href="./installing-pks-vsphere.html">Installing <%= vars.product_short %> on vSphere</a>
  </li>
  <li>
    <a href="./vsphere-configure-pks-api.html">Configuring PKS API Load Balancer</a>
  </li>
  <li>
    <a href="./vsphere-configure-pks-users.html">Setting Up <%= vars.product_short %> Admin Users</a>
  </li>
  <li>
    <a href="./https://docs.pivotal.io/partners/vmware-harbor/integrating-pks.html">(Optional) Integrating VMware Harbor with <%= vars.product_short %></a>
  </li>
</ul>

## Installing the PKS and Kubernetes CLIs

The PKS and Kubernetes CLIs help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads. To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
