---
title: vSphere Prerequisites and Resource Requirements
owner: TKGI
topictype: vsphere
---

This topic describes the prerequisites and resource requirements for installing <%= vars.product_full %> on vSphere.

For prerequisites and resource requirements for installing <%= vars.product_short %> on vSphere with NSX-T integration,
see [vSphere with NSX-T Version Requirements](vsphere-nsxt-requirements.html) and 
[Hardware Requirements for <%= vars.product_short %> on vSphere with NSX-T](./vsphere-nsxt-rpd-mpd.html).

##<a id='prerequisites'></a> Prerequisites

Before installing <%= vars.product_short %>:

1. Review the sections below and the instructions in [Creating Dedicated Users and Roles for vSphere (Optional)](vsphere-prepare-env.html).

1. Install and configure Ops Manager. To install Ops Manager, follow the instructions in [Installing and Configuring Ops Manager on vSphere](vsphere-om-install-config.html).

##<a id='vsphere'></a> vSphere Version Requirements

<%= partial '_vsphere_versions' %>

##<a id='resources'></a> Resource Requirements

Installing Ops Manager and <%= vars.product_short %> requires the following virtual machines (VMs):

<table>
  <tr>
    <th>VM</th>
    <th>CPU</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
  </tr>
  <tr>
    <td>BOSH Director</td>
    <td>2</td>
    <td>8</td>
    <td>16</td>
  </tr>
  <tr>
    <td>Ops Manager</td>
    <td>1</td>
    <td>8</td>
    <td>160</td>
  </tr>
  <tr>
    <td><%= vars.control_plane %></td>
    <td>2</td>
    <td>8</td>
    <td>64</td>
  </tr>
  <tr>
    <td><%= vars.control_plane_db %></td>
    <td>2</td>
    <td>8</td>
    <td>64</td>
  </tr>
</table>

<%= partial '_increase_persistent_disk' %>

<h3> Ephemeral VM Resources </h3>

Each <%= vars.product_short %> deployment requires ephemeral VMs during installation and upgrades of <%= vars.product_short %>.
After you deploy <%= vars.product_short %>, BOSH automatically deletes these VMs.

To enable <%= vars.product_short %> to dynamically create the ephemeral VMs when needed, ensure that the following
resources are available in your vSphere infrastructure before deploying <%= vars.product_short %>:

<table>
  <tr>
    <th>Ephemeral VM</th>
    <th>VM&nbsp;Count</th>
    <th>CPU Cores</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
  </tr>
  <tr>
    <td>BOSH Compilation VMs</td>
    <td>4</td>
    <td>4</td>
    <td>4</td>
    <td>32</td>
  </tr>
</table>

<h3> Kubernetes Cluster Resources </h3>

Each Kubernetes cluster provisioned through <%= vars.product_short %> deploys the VMs listed below. If you deploy more
than one Kubernetes cluster, you must scale your allocated resources appropriately.

<table>
  <tr>
    <th>VM</th>
    <th>VM&nbsp;Count</th>
    <th>CPU Cores</th>
    <th>Memory (GB)</th>
    <th>Ephemeral Disk (GB)</th>
    <th>Persistent Disk (GB)</th>
  </tr>
  <tr>
    <td>master</td>
    <td>1 or 3</td>
    <td>2</td>
    <td>4</td>
    <td>8</td>
    <td>5</td>
  </tr>
  <tr>
    <td>worker</td>
    <td>1 or more</td>
    <td>2</td>
    <td>4</td>
    <td>8</td>
    <td>50</td>
  </tr>
  <tr>
    <td>errand (ephemeral)</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
    <td>8</td>
    <td>none</td>
  </tr>
</table>

## <a id="firewall-ports"></a> Network Communication Requirements

For a complete list of network communication requirements for vSphere without NSX-T, see [Firewall Ports and Protocols Requirements for vSphere without NSX-T](ports-protocols-wo-nsx-t.html).
