---
title: Deploying Ops Manager with NSX-T for Enterprise PKS
owner: Ops Manager
---

This topic provides instructions for deploying Ops Manager on VMware vSphere with NSX-T integration for use with <%= vars.product_full %>.

##<a id='prerequisites'></a>Prerequisites

Before deploying Ops Manager with NSX-T for <%= vars.product_short %>, you must have completed the following tasks:

<ul>
  <li>
    <a href="./vsphere-nsxt-index-prepare.html">Preparing to Install <%= vars.product_short %> on vSphere with NSX-T Data Center</a>
  </li>
  <li>
    <a href="./nsxt-2-5-installation-steps.html">Installing and Configuring NSX-T Data Center v2.5 for <%= vars.product_short %></a>
    <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T v2.4 for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>
  </li>
  <li>
    <a href="./nsxt-prepare-compute-plane.html">Create <%= vars.product_short %> Compute Plane</a>
  </li>
</ul>

In addition, review the supported Ops Manager versions for <%= vars.product_short %>.
See [<%= vars.product_network %>](https://network.pivotal.io/products/pivotal-container-service).

Review the known issues for your version of Ops Manager. See one of the following:

* [Ops Manager v2.7 Release Notes](https://docs.pivotal.io/platform/2-7/release-notes/opsmanager-rn.html)
* [Ops Manager v2.8 Release Notes](https://docs.pivotal.io/platform/2-8/release-notes/opsmanager-rn.html)
* [Ops Manager v2.9 Release Notes](https://docs.pivotal.io/platform/2-9/release-notes/opsmanager-rn.html)

##<a id='ssh-key'></a>Step 1: Generate SSH Key Pair for Ops Manager v2.6 and Later

Beginning with Ops Manager v2.6 for vSphere, password authentication is replaced with SSL/TLS authentication. If you are installing Ops Manager v2.6 or later on vSphere, you cannot deploy Ops Manager successfully without adding a public SSH key in the appropriate field of the **Customize Template** screen. If you do not add a public SSH key, Ops Manager shuts down automatically because it cannot find a key and may enter a reboot loop. For more information, see <a href="https://docs.pivotal.io/platform/2-6/pcf-release-notes/breaking-changes.html#ssh-private-key">Passwords Not Supported for Ops Manager VM on vSphere</a> in the Ops Manager v2.6 release notes.

For instructions on generating the required SSH key pair for installing Ops Manager v2.6 or later for vSphere, refer to the following KB article: [Generate an SSH key pair for installing Ops Manager v2.6 on vSphere](https://community.pivotal.io/s/article/generate-an-ssh-key-pair-for-installing-ops-manager-v2-6-on-vsphere). 

When you add the key value to the **Public SSH Key** field, you must enter the entire public key similar to the format required for `authorized_keys`. For example, the format required is similar to the following:

```
ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAnZBapWsER/EO1hLYvV/rkZe78mUBueZGHx1kw+ByfNbLoA385Cm72L+6qq40yOIH6R42nHN/bynbeHOD4Ptes4/s2lrLJtTzEWgH9XYnId4sE5f+QTFd2kRtTzZcu8WvFudEIyCIWjO+o9yvPETs05dEl/3KDn+t9uXxiszrG9Ycb2uNNpmDES+ohm9BQQFmpwFnao+UuQbRXLCcQ3SoE3Ai5Z9O+3PBwm0IByx87/dUuqvVISAJ8yGu2hJobx9PPStFERtUsfx5x+WIu9XIkrl5tzxgH9hBDsOS9cVUYJ7kKUUf1yyro6ocHyu6TWHJHSJLt8Z2FULxMPpqdn+8Xw== my-key
```

## <a id="deploy-om"></a>Step 2: Deploy Ops Manager for <%= vars.product_short %>

1. Before starting, refer to the [<%= vars.product_short %> Release Notes](release-notes.html) for supported Ops Manager versions for <%= vars.product_short %>.
1. Before starting, refer to the known issues in the [Ops Manager Release v2.7 Release Notes](https://docs.pivotal.io/platform/2-7/release-notes/opsmanager-rn.html) or the [Ops Manager Release v2.8 Release Notes](https://docs.pivotal.io/platform/2-8/release-notes/opsmanager-rn.html).
1. Download the [Ops Manager for vSphere](https://network.pivotal.io/products/ops-manager) installation 
file from the [VMware Tanzu Network](https://network.pivotal.io). 
    1. Open a browser to the [Ops Manager](https://network.pivotal.io/products/ops-manager) download page on the VMware Tanzu Network.  
    1. Use the dropdown menu to select the supported Ops Manager release.
    1. Select the **Ops Manager for vSphere** download option. 
    This downloads the **Ops Manager for vSphere** VM template as an OVA file.  

1. Log into vCenter using the vSphere Client (HTML5) to deploy the Ops Manager OVA.

1. Select the Resource Pool defined for the <%= vars.product_short %> Management Plane. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> if you have not defined the <%= vars.product_short %> Management Resource Pool.

1. Right click the <%= vars.product_short %> Management Plane Resource Pool and select **Deploy OVF Template.**

1. At the **Select an OVF template** screen:
  - Click **Browse**.
  - Select the Ops Manager OVA file you downloaded and click **Open**.
  - Click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-001.png") %>

1. At the **Select Name and folder** screen, enter a name for the Ops Manager VM (or use the default name), select the **Datacenter**, and click **Next**
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-002.png") %>

1. At the **Select a compute resource** screen, select the <%= vars.product_short %> **Resource Pool** or **Cluster object** and click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-003.png") %>

1. At the **Review details** screen, confirm the configuration up to this point and click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-004.png") %>

1. At the **Select Storage** screen, select the desired Datastore, and click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-005.png") %>
    <p class="note warning"><strong>Warning</strong>: Ops Manager requires a Director VM with at least 8 GB memory. For more information, see <a href="https://docs.pivotal.io/platform/application-service/2-7/operating/disk-format.html">Provisioning a Virtual Disk in vSphere</a>.</p>

1. At the **Select Networks** screen:
  - If you are using vSphere 6.7, select the <%= vars.product_short %> Management T1 Logical Switch that you defined when <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>, and click **Next**.
  <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-006.png") %>
  - If you are using vSphere 6.5, see <a href="./vsphere-nsxt-om-deploy.html#vsphere-65">Network Selection for vSphere v6.5</a>.

1. At the **Customize template** screen, enter the following information, and click **Next**.
   * **IP Address**: The IP address of the Ops Manager network interface, for example `10.0.0.2` (assuming non-routable NAT-mode).
   * **Netmask**: The network mask for Ops Manager, for example, `255.255.255.0`.
   * **Default Gateway**: The default gateway for Ops Manager to use, for example `10.0.0.1` (assuming non-routable NAT-mode).
   * **DNS**: One or more DNS servers for the Ops Manager VM to use, for example `10.14.7.1`.
   * **NTP Servers**: The IP address of one or more NTP servers for Ops Manager, for example `10.113.60.176`.   
   * **Public SSH Key**: (Required) Enter the public SSH key to allow SSH access to the Ops Manager VM. You must enter the entire the public SSH key in the expected format. See <a href="./vsphere-nsxt-om-deploy.html#ssh-key">SSH Key Requirements for Ops Manager v2.6 and Later</a>.
   * **Custom hostname**: The hostname for the Ops Manager VM, for example `ops-manager`.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-007a.png") %>
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-007b.png") %>    

1. At the **Ready to complete** screen, review the configuration settings and click **Finish**. This action begins the OVA import and deployment process.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-008.png") %>    

1. Use the **Recent Tasks** panel at the bottom of the vCenter dashboard to check the progress of the OVA import and deployment. If the import or deployment is unsuccessful, check the configuration for errors.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-100.png") %>    

1. Right-click the Ops Manager VM and click **Power On**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-009.png") %>

###<a id='vsphere-65'></a>Network Selection for vSphere v6.5 

With VMware vCenter Server 6.5, when initially deploying the Ops Manager OVA, you cannot connect to an NSX-T logical switch. You must first connect to a vSphere Standard (vSS) or vSphere Distributed Switch (vDS). After the OVA deployment is complete, before powering on the Ops Manager VM, connect the network interface to the NSX-T logical switch. The instructions below describe how to do this. This issue is resolved in VMware vCenter Server 6.7. For more information about this issue, see the <a href="https://kb.vmware.com/kb/54142">VMware Knowledge Base</a>.</p>  

If you are using vSphere 6.5, at the **Select Networks** screen, select a vSS or vDS port-group such as the standard **VM Network**, and click **Next**.

Complete the remaining deployment steps as described above.

After the OVA deployment completes successfully, right-click the Ops Manager VM and select **Edit Settings**. Change the vNIC connection to use the `nsx.LogicalSwitch` that is defined for the PKS Management Plane, for example `LS-MGMT-PKS`.
    <%= image_tag("images/nsxt/om/deploy-om-15.png") %>          

## <a id="config-om"></a>Step 3: Configure Ops Manager for <%= vars.product_short %>

The first time that you start Ops Manager, you must select an authentication system. These instructions use <strong>Internal Authentication</strong>. See [Set Up Ops Manager](https://docs.pivotal.io/ops-manager/2-7/vsphere/config.html#set-up) in the Ops Manager documentation for configuration details for the <strong>SAML</strong> and <strong>LDAP</strong> options.

1. If you are using the <a href="nsxt-topologies.html#topology-nat">NAT deployment topology</a>, create a DNAT rule that maps the Ops Manager private IP to a routable IP. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> for instructions.</p>

1. If you are using the <a href="nsxt-topologies.html">No-NAT deployment topology</a>, create a DNS entry for the routable IP address that you set for Ops Manager. Use FQDN to log into Ops Manager. 
  <p class="note"><strong>Note</strong>: Ops Manager security features require you to create a fully qualified domain name to access Ops Manager. See <a href="https://docs.pivotal.io/platform/customizing/vsphere.html#paas">Installing Ops Manager on vSphere</a>.</p>

1. Navigate to the IP address (NAT mode) or FQDN (No-NAT mode) of your Ops Manager VM in a web browser. The "Welcome to Ops Manager" page should appear.
  <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>
  <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-10.png") %>    

1. Select **Internal Authentication** and provide the following information:
   * **Username**, **Password**, and **Password confirmation** to create a user with administrative privileges.
   * **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
   * **HTTP proxy** or **HTTPS proxy**, follow the instructions in [Configuring Proxy Settings for the BOSH CPI](https://docs.pivotal.io/platform/2-7/customizing/pcf-director-proxy-settings.html).

1. Read the **End User License Agreement**, and select the checkbox to accept the terms.

1. Click **Setup Authentication**. It takes a few minutes to initialize the database.
     <%= image_tag("images/nsxt/om/deploy-om-19.png") %>

1. Log in to Ops Manager with the username and password that you created.
     <%= image_tag("images/nsxt/om/deploy-om-20.png") %>

1. Verify success. You should be able to log in, and you should see the BOSH Director tile is present and ready for configuration, indicated by the orange color.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-11.png") %>    

## <a id="next"></a> Next Step

After you complete this procedure, follow the instructions in <a href="./nsxt-generate-ca-cert.html">Generating and Registering the NSX Manager Certificate for <%= vars.product_short %></a>.
