---
title: Install Tanzu Kubernetes Grid Integrated Edition on vSphere with Flannel Using Ops Manager
owner: TKGI
iaas: vSphere
---

This topic lists the procedures to follow to install <%= vars.product_short %> on vSphere with Flannel networking manually, using Ops Manager.

<p class="note"><strong>Note</strong>: The recommended method for installing <%= vars.product_short %> on vSphere is to use the <%= vars.product_short %> Management Console. For information, see <a href="console-install-vsphere.html">Install on vSphere with the Management Console</a>.</p>

To install <%= vars.product_short %> on vSphere with Flannel networking follow the instructions below:

<ul>
  <li>
    <a href="./vsphere-requirements.html">Prerequisites and Resource Requirements</a>
  </li>
  <li>
    <a href="https://ports.vmware.com/home/vSphere+NSX-Data-Center-for-vSphere+NSX-T-Data-Center">VMware Ports and Protocols</a> on the VMware site
  </li>
  <li>
    <a href="./vsphere-prepare-env.html">Creating Dedicated Users and Roles for vSphere (Optional)</a>
  </li>
  <li>
    <a href="./vsphere-om-install-config.html">Installing and Configuring Ops Manager on vSphere</a>
  </li>
  <li>
    <a href="./installing-vsphere.html">Installing <%= vars.product_short %> on vSphere</a>
  </li>
  <li>
    <a href="./vsphere-configure-api.html">Configuring a <%= vars.k8s_runtime_abbr %> API Load Balancer</a>
  </li>
  <li>
    <a href="./vsphere-configure-users.html">Setting Up <%= vars.product_short %> Admin Users on vSphere</a>
  </li>
  <li>
    <a href="https://docs.pivotal.io/vmware-harbor/integrating-pks.html">(Optional) Integrating VMware Harbor with <%= vars.product_short %></a>
  </li>
</ul>

<p class="note"><strong>Note:</strong> VMware Harbor is an enterprise-class registry server for
container images. For more information, see
<a href="https://docs.pivotal.io/vmware-harbor/index.html">VMware Harbor Registry</a> in the
<em>VMware Partner documentation</em>.</p>

## Install the <%= vars.k8s_runtime_abbr %> and Kubernetes CLIs

The <%= vars.k8s_runtime_abbr %> CLI and Kubernetes CLI help you interact with your <%= vars.product_short %>-provisioned Kubernetes clusters and Kubernetes workloads.

To install the CLIs, follow the instructions below:

<ul>
  <li>
    <a href="installing-cli.html">Installing the <%= vars.k8s_runtime_abbr %> CLI</a>
  </li>
  <li>
    <a href="installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
</ul>
