---
title: Deploying Ops Manager with NSX-T for Enterprise PKS
owner: Ops Manager
---

<strong><%= modified_date %></strong>

This topic provides instructions for deploying Ops Manager on VMware vSphere with NSX-T integration for use with <%= vars.product_full %>.

##<a id='prerequisites'></a>Prerequisites

Before deploying Ops Manager with NSX-T for <%= vars.product_short %>, you must have completed the following tasks:

<ul>
  <li>
    <a href="./vsphere-nsxt-index-prepare.html">Preparing to Install <%= vars.product_short %> on vSphere with NSX-T Data Center</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-rpd-mpd.html">Installing and Configuring NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>
  </li>
  <li>
    <a href="./nsxt-prepare-compute-plane.html">Create <%= vars.product_short %> Compute Plane</a>
  </li>
</ul>

In addition, review the supported Ops Manager versions for <%= vars.product_short %>. See [<%= vars.product_short %> Release Notes](release-notes.html) or the [Product Compatibility Matrix](https://docs.pivotal.io/resources/product-compatibility-matrix.pdf).

Review to the known issues for your version of Ops Manager. See one of the following:

* [PCF Ops Manager Release v2.5 Release Notes](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/opsmanager-rn.html)
* [PCF Ops Manager Release v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html)

##<a id='ssh-key'></a>SSH Key Requirements for Ops Manager v2.6

Beginning with Ops Manager v2.6 for vSphere, password authentication is replaced with SSL/TLS authentication. If you are installing Ops Manager v2.6 on vSphere, you cannot deploy Ops Manager successfully without adding a public SSH key in the appropriate field of the **Customize Template** screen. If you do not add a public SSH key, Ops Manager shuts down automatically because it cannot find a key and may enter a reboot loop. For more information, see <a href="https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/breaking-changes.html#ssh-private-key">Passwords Not Supported for Ops Manager VM on vSphere</a> in the Ops Manager v2.6 release notes. For installation instructions specific to Ops Manager v2.6, see <a href="https://docs.pivotal.io/pivotalcf/2-6/om/vsphere/deploy.html#deploy">Deploy Ops Manager v2.6</a>.

When you add the key value to the **Public SSH Key** field, you must enter the entire public key similar to the format required for `authorized_keys`. For example, the format required is similar to the following:

```
ssh-rsa AAAAB3NzaC1yc2EAAAABJQAAAQEAnZBapWsER/EO1hLYvV/rkZe78mUBueZGHx1kw+ByfNbLoA385Cm72L+6qq40yOIH6R42nHN/bynbeHOD4Ptes4/s2lrLJtTzEWgH9XYnId4sE5f+QTFd2kRtTzZcu8WvFudEIyCIWjO+o9yvPETs05dEl/3KDn+t9uXxiszrG9Ycb2uNNpmDES+ohm9BQQFmpwFnao+UuQbRXLCcQ3SoE3Ai5Z9O+3PBwm0IByx87/dUuqvVISAJ8yGu2hJobx9PPStFERtUsfx5x+WIu9XIkrl5tzxgH9hBDsOS9cVUYJ7kKUUf1yyro6ocHyu6TWHJHSJLt8Z2FULxMPpqdn+8Xw== my-key
```

For additional information, refer to the following KB article: [Generate an SSH key pair for installing Ops Manager v2.6 on vSphere](https://community.pivotal.io/s/article/generate-an-ssh-key-pair-for-installing-ops-manager-v2-6-on-vsphere). 

## <a id="deploy-om"></a>Deploy Ops Manager for <%= vars.product_short %>

1. Before starting, refer to the [<%= vars.product_short %> Release Notes](release-notes.html) for supported Ops Manager versions for <%= vars.product_short %>. Or, download the [Compatibility Matrix](https://network.pivotal.io/products/ops-manager/) from the Ops Manager download page.
1. Before starting, refer to the known issues in the [PCF Ops Manager Release v2.5 Release Notes](https://docs.pivotal.io/pivotalcf/2-5/pcf-release-notes/opsmanager-rn.html) or the [PCF Ops Manager Release v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/opsmanager-rn.html).
1. Download the [Pivotal Cloud Foundry Ops Manager for vSphere](https://network.pivotal.io/products/ops-manager) `.ova` file at [Pivotal Network](https://network.pivotal.io). Use the dropdown menu to select the supported Ops Manager release.

	Ops Manager for vSphere is provided as an OVA file that you import into your vSphere environment. An OVA file is a template for a VM. 

1. Log into vCenter using the vSphere Client (HTML5) to deploy the Ops Manager OVA. This can also be done using the using the OVFTool or the PowerCLI.

1. Select the Resource Pool defined for the <%= vars.product_short %> Management Plane. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> if you have not defined the <%= vars.product_short %> Management Resource Pool.

1. Right click the <%= vars.product_short %> Management Plane Resource Pool and select **Deploy OVF Template.**

1. At the **Select an OVF template** screen:
  - Click **Browse**.
  - Select the Ops Manager OVA file you downloaded and click **Open**.
  - Click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-01.png") %>

1. At the **Select Name and folder** screen, enter a name for the Ops Manager VM (or use the default name), select the **Datacenter**, and click **Next**
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-02.png") %>

1. At the **Select a compute resource** screen, select the <%= vars.product_short %> **Resource Pool** or **Cluster object** and click **Next**.
    <%= image_tag("images/nsxt/om/om-03.png") %>

1. At the **Review details** screen, confirm the configuration up to this point and click **Next**.
    <%= image_tag("images/nsxt/om/om-04.png") %>

1. At the **Select Storage** screen, select the desired Datastore, and click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-04.png") %>
    <p class="note warning"><strong>Warning</strong>: Ops Manager requires a Director VM with at least 8 GB memory. For more information, see <a href="https://docs.pivotal.io/pivotalcf/customizing/disk-format.html">Provisioning a Virtual Disk in vSphere</a>.</p>

1. At the **Select Networks** screen:
  - If you are using vSphere 6.7, select the <%= vars.product_short %> Management T1 Logical Switch that you defined when <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>, and click **Next**.
  - If you are using vSphere 6.5, select a vSS or vDS port-group such as the standard **VM Network**, and click **Next**.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-05.png") %>

    <p class="note"><strong>WARNING</strong>: With VMware vCenter Server 6.5, when initially deploying the Ops Manager OVA, you cannot connect to an NSX-T logical switch. You must first connect to a vSphere Standard (vSS) or vSphere Distributed Switch (vDS). After the OVA deployment is complete, before powering on the Ops Manager VM, connect the network interface to the NSX-T logical switch. The instructions below describe how to do this. This issue is resolved in VMware vCenter Server 6.7. For more information about this issue, see the <a href="https://kb.vmware.com/kb/54142">VMware Knowledge Base</a>.</p>

1. At the **Customize template** screen, enter the following information, and click **Next**.
   * **IP Address**: The IP address of the Ops Manager network interface, for example `10.0.0.2` (assuming non-routable NAT-mode).
   * **Netmask**: The network mask for Ops Manager, for example, `255.255.255.0`.
   * **Default Gateway**: The default gateway for Ops Manager to use, for example `10.0.0.1` (assuming non-routable NAT-mode).
   * **DNS**: One or more DNS servers for the Ops Manager VM to use, for example `10.14.7.1`.
   * **NTP Servers**: The IP address of one or more NTP servers for Ops Manager, for example `10.113.60.176`.   
   * **Admin Password**: (Required for Ops Manager v2.5.) A default password for the "ubuntu" user. If you do not enter a password, Ops Manager will not boot up.
   * **Public SSH Key**: (Required for Ops Manager v2.6.) Enter the public SSH key to allow SSH access to the Ops Manager VM. You must enter the entire the public SSH key in the expected format. See <a href="./vsphere-nsxt-om-deploy.html#ssh-key">SSH Key Requirements for Ops Manager v2.6</a>.
   * **Custom hostname**: The hostname for the Ops Manager VM, for example `ops-manager`.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-06.png") %>
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-07.png") %>    

1. At the **Ready to complete** screen, review the configuration settings and click **Finish**. This action begins the OVA import and deployment process.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-08.png") %>    

1. Use the **Recent Tasks** panel at the bottom of the vCenter dashboard to check the progress of the OVA import and deployment. IF the import or deployment is unsuccessful, check the configuration for errors.
    <%= image_tag("images/nsxt/om/om-10.png") %>

1. (vSphere 6.5 only) If you you initially selected a vDS or vSS network for the **Virtual Hardware** > **Network adapter 1** setting, after the OVA deployment completes successfully, right-click the Ops Manager VM and select **Edit Settings**. Change the vNIC connection to use the `nsx.LogicalSwitch` that is defined for the PKS Management Plane, for example `LS-MGMT-PKS`.
    <%= image_tag("images/nsxt/om/deploy-om-15.png") %>

1. Right-click the Ops Manager VM and click **Power On**.
    <%= image_tag("images/nsxt/om/deploy-om-16.png") %>

## <a id="config-om"></a>Configure Ops Manager for <%= vars.product_short %>

The first time you start Ops Manager, you are required select an authentication system. These instructions use <strong>Internal Authentication</strong>. See [Set Up Ops Manager](https://docs.pivotal.io/pivotalcf/2-5/om/vsphere/config.html#set-up) in the PCF documentation for configuration details for the <strong>SAML</strong> and <strong>LDAP</strong> options.

1. If you are using the <a href="nsxt-topologies.html#topology-nat">NAT deployment topology</a>, create a DNAT rule that maps the Ops Manager private IP to a routable IP. See <a href="./nsxt-prepare-mgmt-plane.html">Create <%= vars.product_short %> Management Plane</a> for instructions.</p>

1. If you are using the <a href="nsxt-topologies.html">No-NAT deployment topology</a>, create a DNS entry for the routable IP address that you set for Ops Manager. Use FQDN to log into Ops Manager. 
  <p class="note"><strong>Note</strong>: Ops Manager security features require you to create a fully qualified domain name to access Ops Manager. See <a href="https://docs.pivotal.io/pivotalcf/2-6/customizing/vsphere.html#paas">Installing Pivotal Cloud Foundry on vSphere</a>.</p>

1. Navigate to the IP address (NAT mode) or FQDN (No-NAT mode) of your Ops Manager VM in a web browser. The "Welcome to Ops Manager" page should appear.
  <p class="note"><strong>Note</strong>: It is normal to experience a brief delay before the interface is accessible while the web server and VM start up.</p>
  <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-10.png") %>    

1. Select **Internal Authentication** and provide the following information:
   * **Username**, **Password**, and **Password confirmation** to create a user with administrative privileges.
   * **Decryption passphrase** and the **Decryption passphrase confirmation**. This passphrase encrypts the Ops Manager datastore, and is not recoverable.
   * **HTTP proxy** or **HTTPS proxy**, follow the instructions in [Configuring Proxy Settings for the BOSH CPI](https://docs.pivotal.io/pivotalcf/customizing/pcf-director-proxy-settings.html).

1. Read the **End User License Agreement**, and select the checkbox to accept the terms.

1. Click **Setup Authentication**. It takes a few minutes to initialize the database.
     <%= image_tag("images/nsxt/om/deploy-om-19.png") %>

1. Log in to Ops Manager with the username and password that you created.
     <%= image_tag("images/nsxt/om/deploy-om-20.png") %>

1. Verify success. You should be able to log in, and you should see the BOSH Director tile is present and ready for configuration, indicated by the orange color.
    <%= image_tag("images/nsxt/nsxt-data-center-installation/om26/om-install-11.png") %>    

## <a id="next"></a> Next Step

After you complete this procedure, follow the instructions in <a href="./nsxt-generate-ca-cert.html">Generating and Registering the NSX Manager Certificate for <%= vars.product_short %></a>.
