---
title: Installing Enterprise PKS on vSphere with NSX-T Data Center
owner: PKS
iaas: vsphere-nsxt
---

This topic lists the sections to follow when installing <%= vars.product_full %> on vSphere with NSX-T Data Center.

## Preparing to Install <%= vars.product_short %> on vSphere with NSX-T

In preparation for installing <%= vars.product_short %> on vSphere with NSX-T, review all of the topics in the subsection [Preparing to Install Enterprise PKS on vSphere with NSX-T Data Center](./vsphere-nsxt-index-prepare.html).

## Installing <%= vars.product_short %> on vSphere with NSX-T

To install <%= vars.product_short %> on vSphere with NSX-T, complete the instructions in each of the following sections in the order listed:

<ul>
  <li>
    <a href="./nsxt-install-config-steps.html">Installing and Configuring NSX-T Data Center for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-prepare-mgmt-plane.html">Creating the <%= vars.product_short %> Management Plane</a>
  </li>
  <li>
    <a href="./nsxt-prepare-compute-plane.html">Creating the <%= vars.product_short %> Compute Plane</a>
  </li>
  <li>
    <a href="./vsphere-nsxt-om-deploy.html">Deploying Ops Manager with NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-generate-ca-cert.html">Generating and Registering the NSX-T Management Root CA Certificate for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./vsphere-nsxt-om-config.html">Configuring BOSH Director with NSX-T for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./nsxt-generate-pi-cert.html">Generating and Registering the NSX-T Superuser Principal Identity Certificate and Key for <%= vars.product_short %></a>
  </li>
  <li>
    <a href="./installing-nsx-t.html">Installing <%= vars.product_short %> on vSphere with NSX-T</a>
  </li>
  <li>
    <a href="https://docs.pivotal.io/partners/vmware-harbor/installing.html">Installing VMware Harbor Registry</a>
  </li>  
  <li>
    <a href="./installing-pks-cli.html">Installing the PKS CLI</a>
  </li>
  <li>
    <a href="./installing-kubectl-cli.html">Installing the Kubernetes CLI</a>
  </li>
  <li>
    <a href="vsphere-configure-pks-users.html">Setting Up <%= vars.product_short %> Admin Users on vSphere</a>
  </li>
</ul>

## Post-Installation Configurations

After you have installed <%= vars.product_short %> on vSphere with NSX-T, refer to the following subsection for topics describing additional NSX-T configuration options: [Advanced Configurations for Enterprise PKS on vSphere with NSX-T Data Center](./vsphere-nsxt-index-adv.html)
