---
title: Windows Worker-based Clusters in PKS (Beta)
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to enable creating a Windows worker-based cluster in <%= vars.product_full %> 
and ways to provide feedback to the Windows product team. This feature is in Beta for <%= vars.product_short %> 1.5.

With <%= vars.product_short %> 1.5, operators can provision a Windows worker-based Kubernetes cluster on vSphere with Flannel. 
Windows worker-based clusters in <%= vars.product_short %> 1.5 currently do not support NSX-T integration. 

For conceptual information regarding creating PKS clusters, see [PKS Concepts](concepts.html)

<p class="note warning"> <strong>IMPORTANT: </strong> This feature is in Beta and only works in vSphere with Flannel. 
Do not enable this feature if you are using <%= vars.product_short %> 1.5 with Google Cloud Platform (GCP), 
Azure, Amazon Web Services (AWS), or vSphere with NSX-T.
</p>

## <a id='prerequisites'></a>Prerequisites
The following are prerequisites for enabling the creation of a Windows worker-based cluster in <%= vars.product_short %> 1.5.  

* [vSphere Windows Server 2019 Stemcell](https://docs.pivotal.io/pivotalcf/2-4/windows/create-vsphere-stemcell.html)  
* Ops Manager v2.4.2 and later or v2.5. 
* [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html)  

## <a id='install'></a> Install <%= vars.product_short %> on vSphere
1. Complete the steps in [Installing PKS on vSphere](installing-pks-vsphere.html) with the following considerations:
	* In the **Plans** section: 
	<ol>
		<li>Enable **Enable Windows worker support** in one or more of plans 2 through 10.</li>
		    <ul>
		    </ul>
		<li>Ignore the **Worker Persistent Disk Type** drop down.</li>
			<ul>
				<li><%= vars.product_short %> does not support this feature when Windows worker support is enabled. 
				Although this field defaults to "<i>Automatic: 50GB</i>" it is ignored because BOSH does not support persistent disks for Windows VMs.</li>
				<li>If specifying **Worker Persistent Disk Type** is a requirement for you, 
				submit feedback by sending an email to pcf-windows@pivotal.io.</li>
			</ul>
		<li>Ignore the **Enable Privileged Containers** check box.</li>
			<ul>
				<li>Windows does not support privileged containers.</li>
			</ul>
		<li>Ignore the **Disable DenyEscalatingExec** check box.</li>
			<ul>
				<li>Windows does not support this feature.</li>
			</ul>
	</ol>
	* In the **Networking** section, under the **Container Networking Interface** select **Flannel**.
		<p class="note"><strong>Note:</strong> NSX-T does not support networking Windows containers. 
			If this is a key requirement for you, submit feedback by sending an email to pcf-windows@pivotal.io.
		</p>

## <a id='upload-stemcell'></a> Upload the vSphere Windows Server 2019 Stemcell to BOSH Director
1. If you use the Ops Manager jumpbox to connect to the BOSH Director, ssh into the Ops Manager VM. 
For more information see, [vSphere](https://docs.pivotal.io/pivotalcf/2-4/customizing/trouble-advanced.html#ssh-vsphere).
1. Log in to the BOSH Director. 
1. To upload the vSphere Windows Server 2019 Stemcell to the BOSH Director run the following command:
	    
	```
	bosh -e alias-vsphere-env upload-stemcell bosh-stemcell-2019.1-vsphere-esxi-windows2019-go_agent.tgz
	```

## <a id='create-cluster'></a> Create a Windows Worker-Based Cluster

1. To create a Windows worker-based cluster follow the steps in [Creating Clusters](create-cluster.html).

## <a id='next'></a> Next Steps

## <a id='feedback'></a>Feedback

We are actively looking for feedback on this Beta feature. To submit feedback, send an email to pcf-windows@pivotal.io. 

