---
title: Windows Worker-based Clusters in PKS (Beta)
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes how to enable creating a Windows worker-based cluster in <%= vars.product_full %> 
and ways to provide feedback to the Windows product team. This feature is in beta for <%= vars.product_short %> 1.5.

With <%= vars.product_short %> 1.5, operators can provision a Windows worker-based Kubernetes cluster on vSphere with Flannel. 
Windows worker-based clusters in <%= vars.product_short %> 1.5 currently do not support NSX-T integration. 

For conceptual information regarding creating PKS clusters, see [PKS Concepts](concepts.html)

<p class="note warning"> <strong>IMPORTANT: </strong> This feature is in beta and only works in vSphere with Flannel. 
Do not enable this feature if you are using <%= vars.product_short %> 1.5 with Google Cloud Platform (GCP), 
Azure, Amazon Web Services (AWS), or vSphere with NSX-T.
</p>

## <a id='prerequisites'></a>Prerequisites
The following are prerequisites for enabling the creation of a Windows worker-based cluster in <%= vars.product_short %> 1.5.  

* You should have a [vSphere Windows Server 2019 Stemcell](https://docs.pivotal.io/pivotalcf/2-4/windows/create-vsphere-stemcell.html).  
* You have already installed Ops Manager v2.6.0 or later. 
* Your vSphere environment meets the [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).  

## <a id='install'></a> Install <%= vars.product_short %> on vSphere
1. Complete the steps in [Installing PKS on vSphere](installing-pks-vsphere.html) with the following considerations:
	* In the **Plans** section: 
	<ol>
		<li>Select one plan, either **Plan 11**, **Plan 12**, or **Plan 13**. 
		Only Plans 11, 12, and 13 support Windows worker-based clusters.</li>
		<li>To enable the selected plan, select **Active**.</li>
		<li>Under **WorkerOS**, confirm **Set to Windows** is selected.</li>
		<li>Ignore the **Worker Persistent Disk Type** drop down.</li>
			<ul>
				<li>Although this field defaults to "<i>Automatic: 50GB</i>" it is ignored.</li>
			</ul>
		<li>Ignore the **Allow Privileged** checkbox.</li>
		<li>Ignore all of the **Admission Plugins** options:</li>
			<ul>
				<ul>
					<li>PodSecurityPolicy</li>
					<li>DenyEscalatingExec</li>
					<li>SecurityContextDeny</li>
				</ul>
			</ul>
	</ol>
		<p class="note"><strong>Note:</strong> BOSH does not support persistent disks for Windows VMs. 
		If specifying **Worker Persistent Disk Type** on a Windows worker is a requirement for you, 
		submit feedback by sending an email to pcf-windows@pivotal.io.
		</p>
		<p class="note"><strong>Note:</strong> Windows in Kubernetes does not support privileged containers. 
		See <a href="https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#feature-restrictions">Feature Restrictions</a> 
		in the Kubernetes documentation for additional information.
		</p>
		<p class="note"><strong>Note:</strong> Windows in Kubernetes does not support the **Admission Plugins** features. 
		See <a href="https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#api">API</a> 
		in the Kubernetes documentation for additional information.
		</p>
	* In the **Networking** section:
		<ol>
		   <li>Under the **Container Networking Interface** select **Flannel**.</li>
		</ol>
		<p class="note"><strong>Note:</strong> NSX-T does not support networking Windows containers. 
			If this is a key requirement for you, submit feedback by sending an email to pcf-windows@pivotal.io.
		</p>
1. When prompted by Ops Manager to upload a stemcell, follow the instructions and provide the `vSphere Windows Server 2019 Stemcell`.  

## <a id='create-cluster'></a> Create a Windows Worker-Based Cluster

1. To create a Windows worker-based cluster follow the steps in [Creating Clusters](create-cluster.html).

## <a id='feedback'></a>Feedback

We are actively looking for feedback on this beta feature. To submit feedback, send an email to pcf-windows@pivotal.io. 

