---
title: Configuring Windows Worker-Based Clusters (Beta)
owner: PKS
---

<strong><%= modified_date %></strong>

This topic describes configuring Windows worker-based clusters in <%= vars.product_full %>.  

<p class="note warning"> <strong>IMPORTANT: </strong> Support for Windows-based Kubernetes clusters is in beta 
and supports only vSphere with Flannel. Do not enable this feature if you are using <%= vars.product_short %> 1.5 
with vSphere with NSX-T, Google Cloud Platform (GCP), Azure, or Amazon Web Services (AWS).<br>
<br>
We are actively looking for feedback on this beta feature. To submit feedback, send an email to pcf-windows@pivotal.io. 
</p>

## <a id='overview'></a>Overview

In <%= vars.product_short %> you can provision a Windows worker-based Kubernetes cluster on vSphere with Flannel.  

For conceptual information regarding creating PKS clusters, see [PKS Concepts](concepts.html).  

## <a id='prerequisites'></a>Prerequisites
The following are required for creating a Windows worker-based cluster in <%= vars.product_short %> 1.5:  

* <%= vars.product_short %> must be installed in a vSphere with Flannel environment.
* Your vSphere environment meets the [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).  
* Ops Manager v2.6.3 or later. 
* You must have a version 2019.7 `vSphere Windows Server 2019 Stemcell` stemcell. 

    <p class="note"><strong>Note:</strong> Windows Server stemcells are not available on the 
    	<a href="https://network.pivotal.io/">Pivotal Network</a>.  Windows Server stemcells must be created by using Stembuild 
    	and your own Windows Server ISO. For information about creating vSphere Windows Server stemcells, see 
    <a href="https://docs.pivotal.io/pivotalcf/2-6/windows/stemcells.html#stemcell">Windows Stemcells</a> 
    in <i>Downloading or Creating Windows Stemcells</i>.
    </p>
 
## <a id='install'></a> Install <%= vars.product_short %> on vSphere
1. Complete the steps in [Installing PKS on vSphere](installing-pks-vsphere.html) with the following considerations:
	* In the **Plans** section: 
	<ol>
		<li>Select one plan, either **Plan 11**, **Plan 12**, or **Plan 13**. 
		Only Plans 11, 12, and 13 support Windows worker-based clusters.</li>
		<li>To enable the selected plan, select **Active**.</li>
		<li>Under **WorkerOS**, confirm **Set to Windows** is selected.</li>
		<li>Ignore the **Worker Persistent Disk Type** drop down.</li>
			<ul>
				<li>Although this field defaults to "<i>Automatic: 50GB</i>" it is ignored.</li>
			</ul>
		<li>Ignore the **Allow Privileged** checkbox.</li>
		<li>Ignore all of the **Admission Plugins** options:</li>
			<ul>
				<ul>
					<li>PodSecurityPolicy</li>
					<li>DenyEscalatingExec</li>
					<li>SecurityContextDeny</li>
				</ul>
			</ul>
	</ol>
		<p class="note"><strong>Note:</strong> BOSH does not support persistent disks for Windows VMs. 
		If specifying **Worker Persistent Disk Type** on a Windows worker is a requirement for you, 
		submit feedback by sending an email to pcf-windows@pivotal.io.
		</p>
		<p class="note"><strong>Note:</strong> Windows in Kubernetes does not support privileged containers. 
		See <a href="https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#feature-restrictions">Feature Restrictions</a> 
		in the Kubernetes documentation for additional information.
		</p>
		<p class="note"><strong>Note:</strong> Windows in Kubernetes does not support the **Admission Plugins** features. 
		See <a href="https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#api">API</a> 
		in the Kubernetes documentation for additional information.
		</p>
	* In the **Networking** section:
		<ol>
		   <li>Under the **Container Networking Interface** select **Flannel**.</li>
		   <li>Do not modify the **Kubernetes Service Network CIDR Range** setting. This setting must remain `10.220.1.0/16` for Windows worker-based Kubernetes cluster creation.</li>
		</ol>
		<p class="note"><strong>Note:</strong> NSX-T does not support networking Windows containers. 
			If this is a key requirement for you, submit feedback by sending an email to pcf-windows@pivotal.io.
		</p>
1. When prompted by Ops Manager to upload a stemcell, follow the instructions and provide your previously created 
version 2019.7 `vSphere Windows Server 2019 Stemcell`.  

## <a id='create-cluster'></a> Create a Windows Worker-Based Cluster

1. To create a Windows worker-based cluster follow the steps in [Creating Clusters](create-cluster.html).

## <a id='feedback'></a>Feedback

We are actively looking for feedback on this beta feature. To submit feedback, send an email to pcf-windows@pivotal.io. 
