---
title: Configuring Windows Worker-Based Kubernetes Clusters
owner: TKGI
windowsclusters: true
---

This topic describes configuring Windows worker-based Kubernetes clusters in <%= vars.product_short %> (<%= vars.k8s_runtime_abbr %>).  

## <a id='overview'></a>Overview

In <%= vars.product_short %> you can provision a Windows worker-based Kubernetes cluster on vSphere with NSX-T. 
Additionally, <%= vars.k8s_runtime_abbr %> provides beta support for provisioning Windows worker-based Kubernetes clusters 
on vSphere with Flannel.  

To provision a Windows worker-based Kubernetes cluster:  

1. Verify your environment meets the Windows worker-based Kubernetes cluster [Prerequisites](#prerequisites).  
1. [Configure a Windows Worker-Based Kubernetes Cluster](#install).  
1. [Upload the Windows Server Stemcell](#upload-stemcell).  
1. [Create a Windows Worker-Based Cluster](#create-cluster).  

For information about the architecture of <%= vars.k8s_runtime_abbr %> Windows worker-based Kubernetes clusters, see
[Windows Worker-Based Kubernetes Cluster High Availability](control-plane.html#windows-ha) in _<%= vars.product_short %> Architecture_.

<p class="note warning"><strong>Warning: </strong> Support for Windows-based Kubernetes clusters is enabled for <%= vars.k8s_runtime_abbr %> 
on vSphere with NSX-T and as a beta feature on vSphere with Flannel. 
<br><br>Do not enable this feature if you are using <%= vars.k8s_runtime_abbr %> 
with Google Cloud Platform (GCP), Azure, or Amazon Web Services (AWS).<br>
</p>


## <a id='prerequisites'></a>Prerequisites 

Support for Windows-based Kubernetes clusters is enabled for <%= vars.k8s_runtime_abbr %> 
on vSphere with NSX-T and as a beta feature on vSphere with Flannel.  

### <a id='prerequisites-nsxt'></a>vSphere with NSX-T Requirements

The following are required for creating a Windows worker-based Kubernetes cluster 
in <%= vars.product_short %> on vSphere with NSX-T:  

* <%= vars.product_short %> must be installed in a vSphere with NSX-T environment. 
* Your vSphere environment meets the [vSphere with NSX-T Version Requirements](vsphere-nsxt-requirements.html).  

* <%= vars.product_short %> has been configured as described in 
[Installing <%= vars.product_short %> on vSphere with NSX-T](installing-nsx-t.html).  
* You must have a vSphere stemcell for Windows Server version 2019.
For vSphere stemcell version requirements, see [Product Snapshot](release-notes.html#1-8-0-snapshot) 
in _Release Notes_. 

    <p class="note"><strong>Note:</strong> Windows stemcells for vSphere are not available on
    <a href="https://network.pivotal.io/">VMware Tanzu Network</a>. These stemcells must be created using your own Windows Server disk image (ISO file).
    To create a Windows stemcell for vSphere,
    complete the procedures in 
    <a href="create-vsphere-stemcell.html">Creating a Windows Stemcell for vSphere Using Stembuild</a>.
    </p>
* If your <%= vars.product_short %> installation is in an air-gapped environment, you must prepare a Windows 
pause image in a private registry. For information about setting up a Windows pause image, see 
[Using a Windows Pause Image for an Air-Gapped Environment](windows-pause-internetless.html).


### <a id='prerequisites-flannel'></a>vSphere with Flannel Requirements (Beta)  

The following are required for creating a Windows worker-based Kubernetes cluster 
in <%= vars.product_short %> on vSphere with Flannel:

* <%= vars.product_short %> must be installed in a vSphere with Flannel environment.  
* Your vSphere environment meets the [vSphere Prerequisites and Resource Requirements](vsphere-requirements.html).  
* <%= vars.product_short %> has been configured as described in [Installing <%= vars.product_short %> on vSphere](installing-vsphere.html).  
* You must have a vSphere stemcell for Windows Server version 2019.
For vSphere stemcell version requirements, see [Product Snapshot](release-notes.html#1-8-0-snapshot) 
in _Release Notes_. 

    <p class="note"><strong>Note:</strong> Windows stemcells for vSphere are not available on
    <a href="https://network.pivotal.io/">VMware Tanzu Network</a>. These stemcells must be created using your own Windows Server disk image (ISO file).
    To create a Windows stemcell for vSphere,
    complete the procedures in 
    <a href="https://docs.pivotal.io/application-service-windows/create-vsphere-stemcell-automatically.html">
    Creating a Windows Stemcell for vSphere Using Stembuild</a> in the TAS for VMs [Windows] documentation.
    </p>
* If your <%= vars.product_short %> installation is in an air-gapped environment, you must prepare a Windows 
pause image in a private registry. For information about setting up a Windows pause image, see 
[Using a Windows Pause Image for an Air-Gapped Environment](windows-pause-internetless.html).

 
## <a id='install'></a> Configure a Windows Worker-Based Kubernetes Cluster
1. Configure a Windows worker plan as described in [Plans](#plans), below.
1. Configure Windows worker networking as described in [Networking](#networking), below.
1. Upload the Windows Server stemcell as described in [Upload the Windows Server Stemcell](#upload-stemcell), below.
1. Click **Apply Changes** to complete the configuration changes.

### <a id='plans'></a> Plans
<%= partial 'plans' %>

### <a id='networking'></a> Networking
<%= partial 'networking-vsphere' %>

### <a id='upload-stemcell'></a> Upload the Windows Server Stemcell
1. When prompted by Ops Manager to upload a stemcell, follow the instructions and provide your previously created 
vSphere stemcell for Windows Server version 2019.

## <a id='create-cluster'></a> Create a Windows Worker-Based Cluster

1. To create a Windows worker-based cluster follow the steps in [Creating Clusters](create-cluster.html).

