<% if vars.use_global_header && current_page.data.owner != "London Services Enablement" && current_page.data.owner != "Identity Service" && current_page.data.owner != "MySQL" && current_page.data.owner != "Pivotal HD" &&  current_page.data.owner != "Spring Cloud Services" && current_page.data.owner != "PCF Metrics" %>
  <header class="global-header header header-layout js-bar-links">
    <a class="pivotal-logo" href="/">
    </a>
    <a href="/" class="global-header-title">
      <%= vars.title %>
    </a>
    <div class="btn-menu" data-behavior="MenuMobile"></div>
    <div class="header-links">
      <div class="header-item">
        <a href="<%= vars.global_header_product_href %>"><%= vars.global_header_product_link_text %></a>
      </div>
      <div class="header-item">
        <%= vars.support_link %>
      </div>
      <div class="header-item embedded-searchbar">
        <% if elastic_search? %>
          <form method="get" action="/search">
            <input name="q" placeholder="search" class="search-box" />
          </form>
        <% else %>
          <gcse:searchbox></gcse:searchbox>
        <% end %>
      </div>
    </div>
  </header>
  <% if !current_page.data.title %>
    <header class="header-home-global">
      <h2 class="title-intro">
        <%= vars.hero_text %>
      </h2>
    </header>
  <% end %>
<% else %>
  <% if current_page.data.title %> <%# this is a proxy for if !homepage %>
    <header class="header header-layout">
      <h1 class="logo">
        <a href="/"><%= vars.book_title || 'Pivotal Container Service (PKS)' %></a>
      </h1>
      <%= yield_for_archive_drop_down_menu %>
      <%# @TODO: Replace with dynamic versioning %>
      <% case defined?(body_classes) ? body_classes : page_classes %>
      <% when /^pivotalcf / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.6.0.0
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/pcf-docs-1.6.pdf">v1.6.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.5.pdf">v1.5.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.4.pdf">v1.4.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.3.pdf">v1.3.0.0</a></li>
              <li><a href="/archives/pcf-docs-1.2.pdf">v1.2.0.0</a></li>
            </ul>
          </div>
        </div>
      <% when /^pcf-metrics / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.7
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/pcf-metrics-edge/">Edge</a></li>
            </ul>
          </div>
        </div>
      <% when /^pcf-metrics-edge / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            Edge
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/pcf-metrics/">v1.7</a></li>
            </ul>
          </div>
        </div>

      <% when /^on-demand-service-broker/ %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            All versions
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/on-demand-service-broker">v0.5.0</a></li>
            </ul>
          </div>
        </div>

      <% when /^p-mysql / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.7
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/edge/p-mysql/">v1.8</a></li>
              <li><a href="/archives/p-mysql/mysql-docs-1.6.pdf">v1.6</a></li>
              <li><a href="/archives/p-mysql/mysql-docs-1.5.pdf">v1.5</a></li>
              <li><a href="/archives/p-mysql/mysql-docs-1.4.pdf">v1.4</a></li>
            </ul>
          </div>
        </div>
      <% when /^edge\/p-mysql / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.8
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/p-mysql/">v1.7</a></li>
              <li><a href="/archives/p-mysql/mysql-docs-1.6.pdf">v1.6</a></li>
              <li><a href="/archives/p-mysql/mysql-docs-1.5.pdf">v1.5</a></li>
              <li><a href="/archives/p-mysql/mysql-docs-1.4.pdf">v1.4</a></li>
            </ul>
          </div>
        </div>

      <% when /^p-identity / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.7
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/p-identity/p-identity-1.6.pdf">v1.6</a></li>
            </ul>
          </div>
        </div>
      <% when /^pivotalhd-ds / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.3.2.0
          </a>

          <div class="header-dropdown-content">
            <ul>
              <li><a href="/archives/phd-data-service-v1.2.pdf">v1.2.0.0</a></li>
            </ul>
          </div>
        </div>
      <% when /^spring-cloud-services / %>
        <div class="header-dropdown">
          <a class="header-dropdown-link">
            v1.1
          </a>
          <div class="header-dropdown-content">
            <ul>
              <li>
                <a href="/archives/p-spring-cloud-services/spring-cloud-services-docs-1.0.pdf">v1.0</a>
              </li>
              <li>
                <a href="/archives/p-spring-cloud-services/spring-cloud-services-docs-0.1.1.BETA.pdf">v0.1.1.BETA</a>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
      <div class="header-links js-bar-links">
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <%= vars.product_link %>
        <div class="header-item">
          <%= vars.support_link %>
        </div>
        <%= partial 'layouts/book-search' %>
      </div>
    </header>
  <% else %>
    <header class="header-home">
      <div class="home-links js-bar-links">
        <div class="btn-menu" data-behavior="MenuMobile"></div>
        <%= vars.product_link %>
        <div class="header-item">
          <%= vars.support_call_to_action %>
        </div>
        <%= partial 'layouts/book-search' %>
      </div>
      <h1 class="title-flashy">
        <%= partial 'layouts/book-title' %>
      </h1>

      <h2 class="title-intro">
        <%= vars.hero_text %>
      </h2>
    </header>
  <% end %>
<% end %>
<%= partial 'layouts/book-header' %>
