---
title: Identity Management in the Management Console 
owner: PKS
---

<strong><%= modified_date %></strong>

You can add individual users or user groups to <%= vars.product_short %> Management Console. You can assign the Cluster Manager and PKS Administrator roles to individual users or to groups. If you assign a role to a group, all of the users in that group have that role.

For information about the tasks that Cluster Managers can perform, see [Enterprise PKS Cluster Management](../control-plane.html). The PKS Administrator role allows users to manage the <%= vars.product_short %> infrastructure. 

## <a id='identity-users'></a>Add Individual Users

The procedure to add individual users to <%= vars.product_short %> Management Console is as follows. 

<p class="note"><strong>Note</strong>: This release of <%= vars.product_short %> Management Console does not support assigning roles to individual LDAP or SAML users. To assign roles to LDAP or SAML users, use user groups.</p>

1. Go to the **Identity Management** view of the management console.
1. Select the **Users** tab.
1. Click **Add User**. 
1. Select **LDAP** or **UAA** depending on the configuration that you set when you deployed Enterprise PKS.
   * If you select **LDAP**, enter a comma-separated list of user identities.  The user identities must be configured in the user search filter. The default is `CN`.
   * If you select **UAA**, enter a user name and enter and verify a password to create a new user account. 
1. Assign a role to the user. 
   * **Cluster Manager**
   * **PKS Administrator** 
1. Click **Save**.
1. If you do not assign a role to a user when you create or add the account, or to change a user's role, select the user in the **Users** tab, and select **Assign Role**.

## <a id='identity-groups'></a>Add User Groups

The procedure to add user groups to <%= vars.product_short %> Management Console is as follows. 

1. Go to the **Identity Management** view of the management console.
1. Select the **Groups** tab.
1. Click **Add Group**. 
1. Enter an existing LDAP or SAML user group. 

   - **LDAP**: Enter the distinguished name of an existing LDAP group under the configured group search base, for example `cn=admins,ou=engineering,dc=username,dc=local`.
   - **SAML**: Enter the name of your SAML identity provider group.
1. Assign a role to the group.
   * **Cluster Manager**
   * **PKS Administrator** 
1. Click **Save**.

<p class="note"><strong>Note</strong>: You must assign a role to a group when you add it. You cannot assign, change, or revoke a group role after you have added the group.</p>

## <a id='remove-users'></a>Remove Individual Users

The procedure to remove individual users from <%= vars.product_short %> Management Console is as follows. 

1. Go to the **Identity Management** view of the management console.
1. Select the **Users** tab.
1. Select a user.
1. Click **Remove User**.

## <a id='remove-groups'></a>Remove User Groups

The procedure to remove individual users from <%= vars.product_short %> Management Console is as follows. 

1. Go to the **Identity Management** view of the management console.
1. Select the **Groups** tab.
1. Select a group.
1. Click **Remove Group**.

