---
title: Using the Enterprise PKS Management Console
owner: PKS
---

<strong><%= modified_date %></strong>

<p class="note warning"><strong> WARNING:</strong> This feature is a beta component and is intended for evaluation and test purposes only. Do not use this feature in a production environment. Product support and future availability are not guaranteed for beta components.</p>

VMware <%= vars.product_short %> Management Console provides a unified installation experience for deploying <%= vars.product_full %> to vSphere. The management console is provided as a virtual appliance that you deploy to vSphere by using an OVA template. The management console provides a graphical user interface that assists you with the configuration when deploying <%= vars.product_short %> to vSphere: 

- Configures networking for <%= vars.product_short %>
- Deploys Ops Manager
- Generates and registers SSL certificates
- Deploys BOSH Director
- Deploys Enterprise PKS
- Deploys Harbor Registry

<%= vars.product_short %> Management Console is easy to use. If you are experienced with installing <%= vars.product_short %> on vSphere, the help and the tool tips in the installer UI should be enough to complete the process. If you are new to <%= vars.product_short %>, refer to this documentation as needed to assist with the installation.

After you have deployed <%= vars.product_short %> on vSphere, you can use the management console to monitor and manage the operation of your <%= vars.product_short %> deployments, as well as perform upgrades and patch the individual components.

See the following topics:

- [Prerequisites for Appliance Deployment](ova-deployment-prereqs.html)
- [Deploy the <%= vars.product_short %> Management Console Appliance](deploy-console-ova.html)
- [Deploy <%= vars.product_short %> by Using the Configuration Wizard](deploy-ent-pks-wizard.html)
- [Deploy <%= vars.product_short %> by Using a YAML Configuration File](deploy-ent-pks-yaml.html)
- [Monitor and Manage <%= vars.product_short %> in the Management Console](monitor-manage-console.html)
- [Identity Management in the Management Console](console-identity-management.html)
- [Connect to Operations Manager](console-login-opsmanager.html)
- [Reconfigure Your <%= vars.product_short %> Deployment](reconfigure-console.html)
- [Upgrade <%= vars.product_short %> Management Console](upgrade-console.html)
- [Patch <%= vars.product_short %> Management Console Components](patch-console-components.html)
- [Troubleshooting <%= vars.product_short %> Management Console](console-troubleshooting.html)
- [Delete Your <%= vars.product_short %> Deployment](delete-console-deployment.html)