---
title: Delete Your Enterprise PKS Deployment
owner: PKS
---

<strong><%= modified_date %></strong>

If you no longer require an <%= vars.product_short %> deployment, you can use VMware <%= vars.product_short %> Management Console to delete it. The deletion process removes all objects from the vSphere inventory, and cleans up the objects in the <%= vars.product_short %> Management Console appliance related to your deployment.

If <%= vars.product_short %> fails to deploy correctly, always use <%= vars.product_short %> Management Console to cleanly remove the failed deployment. 

<p class="note"><strong>Note</strong>: You must use the PKS CLI to delete any existing clusters and nodes before you can use the management console to delete your <%= vars.product_short %> deployment.</p>

1. Go to the **Enterprise PKS** view of the management console.
1. Click the **Action** drop-down menu and select **Delete Enterprise PKS Deployment**
1. Click **Delete** to confirm the deletion of the deployment.