---
title: Monitor and Manage Enterprise PKS in the Management Console
owner: PKS
---

After you have deployed <%= vars.product_full %>, you can use VMware <%= vars.product_short %> Management Console to perform the following operations:

- View the [overall status](#general-status) of your deployment.
- View the [deployment metadata](#metadata) and [status](#component-status) of each of the components of your deployment.
- Edit the configuration of your deployment, either in the configuration wizard or by editing the YAML file. For information about reconfiguring your deployment, see [Reconfigure Your <%= vars.product_short %> Deployment](reconfigure-console.html).
- Upgrade your deployment to a new version. For information about upgrading deployments, see [Upgrade <%= vars.product_short %> Management Console](upgrade-console.html).
- Patch the individual components of your deployment. For information about patching components, see [Patch <%= vars.product_short %> Management Console Components](patch-console-components.html).
- [Delete Your Enterprise PKS Deployment](delete-console-deployment.html).

## <a id='general-status'></a>Obtain General Status Information

1. Go to the **Enterprise PKS** view of the management console.
1. Select the **Summary** tab for your Enterprise PKS instance.
<br>You see general information about your deployment, including the status and version of each component, as well as the names and addresses of the VMs that run those services.   
    ![Summary of an <%= vars.product_short %> deployment](images/deployment-summary.png)
    [View a larger version of this image](images/deployment-summary.png) 

## <a id='metadata'></a>Obtain Deployment Metadata

The deployment metadata provides credentials, certificates, and other metadata about your <%= vars.product_short %> deployment. 

1. Expand **Configuration** and select **Deployment Metadata**.
    ![Deployment metadata](images/deployment-metadata.png)
    [View a larger version of this image](images/deployment-metadata.png) 
1. Select the clipboard icon at the end of each row to copy the relevant value. 
    
    For example, copy the Ops Manager password so that you can log in to the instance of Ops Manager that is running in your deployment.

## <a id='component-status'></a>View Component Deployment Status

You can see the status of the individual components of your deployment.

1. Expand **Configuration** and go to the **PKS Configuration** view of the management console.
1. Select **Deployment Status** to see the status of the components.

![Enterprise PKS deployment status](images/deployment-complete.png)
[View a larger version of this image](images/deployment-complete.png)