---
title: Monitor and Manage Enterprise PKS in the Management Console
owner: PKS
---

<strong><%= modified_date %></strong>

After you have deployed <%= vars.product_full %>, you can use VMware <%= vars.product_short %> Management Console to perform the following operations:

- View the status of and general information about the components of your deployment, its clusters, and its nodes.
- View important metadata for the components of your deployment.
- Add and remove users and user groups, and assign roles to users and groups.
- Edit the configuration of your deployment, either in the configuration wizard or by editing the YAML file.
- Upgrade your deployment to a new version. For information about upgrading deployments, see [Upgrade <%= vars.product_short %> Management Console](upgrade-console.html).
- Patch the individual components of your deployment. For information about patching components, see [Patch <%= vars.product_short %> Management Console Components](patch-console-components.html).
- Delete your deployment.

## <a id='status'></a>View Status, Clusters, and Nodes

You can find general information about your deployment, and information about all of the clusters and nodes running it, in the Enterprise PKS view of <%= vars.product_short %> Management Console.

### <a id='general-status'></a>Obtain General Status Information

1. Go to the **Enterprise PKS** view of the management console.
1. Select the **Summary** tab for your Enterprise PKS instance.
<br>You see general information about your deployment, including the status and version of each component, as well as the names and addresses of the VMs that run those services.
1. Select the **Clusters** and **Nodes** tabs to see detailed information about all of the clusters and nodes running in this instance.

### <a id='cluster-status'></a>Obtain Cluster Information

1. Go to the Enterprise PKS view of the management console.
1. Select the **Clusters** tab for your Enterprise PKS instance and select a cluster.
<br>
On the **Summary** tab for the cluster, you see general information about that cluster, as well as networking, and the nodes in that cluster.
  * In the Cluster Overview panel, select the Availability Zone link to be taken the vSphere cluster, host group, or resource pool that contains the cluster.
  * In the Networking panel, select the links to be taken to each of the different components that comprise the network stack for the cluster.
  * In the Nodes panel, expand Masters and Workers and select the VM links to go to those VMs in the vSphere inventory.
1. Select the **Nodes** tab to see details of all of the nodes that are running in that cluster.
1. Select the **Namespaces** tab to see the status and networking details of all of the namespaces that are running in that cluster.

### <a id='kubernetes-dashboard'></a>Connect to Clusters in Kubernetes Dashboard
1. Go to the Enterprise PKS view of the management console.
1. Select the **Clusters** tab for your Enterprise PKS instance.
1. Select a cluster. 
1. Select **Open Kubenetes Dashboard** for instructions about how to access the cluster by using Kubernetes Dashboard.

### <a id='kubectl'></a>Connect to Clusters with kubectl

1. Go to the Enterprise PKS view of the management console.
1. Select the **Clusters** tab for your Enterprise PKS instance.
1. Select a cluster. 
1. Select **Access Cluster** for instructions about how to access the cluster by using `kubectl`.
1. Click **Email** to send the instructions to users who need to use `kubectl` to connect to this cluster.

### <a id='node-status'></a>Obtain Node Information

1. Go to the Enterprise PKS view of the management console.
1. Select the **Nodes** tab for your Enterprise PKS instance.
<br>This tab shows the general status, type, name, IP, and availability zone for all of the nodes that are running in your Enterprise PKS instance.
  * Click the links in the Kubernetes Clusters columns to go the **Summary** tab of that cluster.
  * Click the links in the VM Name column to be taken to the node VMs in the vSphere inventory.
  * Select an availability zone to be taken the vSphere cluster, host group, or resource pool that contains the node.

## <a id='metadata'></a>Obtain Deployment Metadata

The deployment metadata provides credentials, certificates, and other metadata about your <%= vars.product_short %> deployment. 

1. Select **Deployment Metadata**.
1. Select the clipboard icon at the end of each row to copy the relevant value.

## <a id='component-status'></a>View Component Deployment Status

You can see the status of the individual components of your deployment.

1. Expand **Configuration** and go to the **PKS Configuration** view of the management console.
1. Select **Deployment Status** to see the status of the components.