---
title: Prerequisites for Enterprise PKS Management Console Deployment
owner: PKS
---

<strong><%= modified_date %></strong>

VMware <%= vars.product_short %> Management Console is provided as an OVA template that requires at a minimum the vSphere resources described in [Virtual Infrastructure Prerequisites](prereqs-vsphere.html).

## <a id='network-configurations'></a>Network Configurations

<%= vars.product_short %> Management Console provides 3 network configuration options for your <%= vars.product_short %> deployments. Each network configuration option has specific prerequisites. 

- **Bring your own topology**: Deploy <%= vars.product_short %> to an existing NSX-T Data Center network that you have fully configured yourself. See [Prerequisites for a Bring Your Own Topology Deployment to NSX-T Data Center](prereqs-nsxt-byot.html).
- **Automated NAT deployment**: Deploy <%= vars.product_short %> to an existing NSX-T Data Center network that you have not fully set up, that <%= vars.product_short %> Management Console helps to configure for you. See [Prerequisites for an Automated NAT Deployment to NSX-T Data Center](prereqs-nsxt-automatednat.html).
- **Flannel**: Deploy <%= vars.product_short %> to a Flannel network that <%= vars.product_short %> Management Console provisions for you. See [Prerequisites for a Flannel Network](prereqs-flannel.html).

When your environment meets the prerequisites for vSphere and for your chosen type of networking, you can [Deploy the <%= vars.product_short %> Management Console Appliance](deploy-console-ova.html).
 
## <a id='when-to-use-console'></a>When Should I Use <%= vars.product_short %> Management Console?

<%= vars.product_short %> Management Console greatly simplifies the process of deploying <%= vars.product_short %>, especially in less complex environments. However, if you require more flexibility in in configuring your deployment, it might be more appropriate to perform the installation manually. 

It is not appropriate to use <%= vars.product_short %> Management Console to deploy <%= vars.product_short %> in the following circumstances:

- You need to implement a [Multi-Tier-0]( ../nsxt-multi-t0.html) or [Multi-Foundation](..//nsxt-multi-pks.html) deployment.