---
title: Prerequisites for Enterprise PKS Management Console Appliance Deployment
owner: PKS
---

<strong><%= modified_date %></strong>

VMware <%= vars.product_short %> Management Console is provided as an OVA template that requires at a minimum the resources described in the following sections.

<p class="note"><strong>Note</strong>: The OVA requirements described here are the minimum supported configuration.</p>

## <a id='infrastructure-prereqs'></a>Virtual Infrastructure Prerequisites

The vSphere environment to which you deploy the appliance OVA requires the following configuration:

- CPU: 2
- RAM: 8 GB
- Disk: 40 GB
- Virtual NIC (vNIC) should be assigned to a network with connectivity to vCenter and NSX Datacenter Manager, if you are using NSX-T Data Center as the container networking interface for <%= vars.product_short %>.

The following vSphere clusters must exist in the target vCenter Server datacenter before you can deploy <%= vars.product_short %> Management Console:

- Management cluster for PKS Management Plane components.
- At least one compute cluster for Kubernetes Cluster nodes, with the recommendation being to deploy more than one, for high-availability purposes.

For information about the supported versions of vSphere, see the [release notes](../release-notes.html).

## <a id='networking-prereqs'></a>Networking Prerequisites

You can connect <%= vars.product_short %> to the following types of networking:

- An existing VMware NSX-T Data Center network that you have already prepared for use with <%= vars.product_short %> ("prepared")
- An existing NSX-T Data Center network that you have not yet prepared ("unprepared")
- A Flannel network that is provisioned for you by <%= vars.product_short %> Management Console during deployment.

### <a id='nsxt-not-prepared-prereqs'></a>Prerequisites for an Unprepared NSX-T Data Center

An unprepared environment is an NSX-T Data Center instance that you have not already configured for use with <%= vars.product_short %>. <%= vars.product_short %> Management Console helps you to complete the configuration of an unprepared environment, but the environment must meet certain infrastructure prerequisites.

- 3 NSX Manager Nodes deployed
- NSX Management Cluster formed
- Virtual IP address assigned for the Management Cluster or load balancer

<p class="note"><strong>Note</strong>: These requirements are for production environments. In proof-of-concept deployments one manager node is sufficient. The management cluster and load balancer are also optional for proof-of-concept deployments. </p>

For information about the supported versions of NSX-T Data Center, see the [release notes](../release-notes.html).

General Requirements:

- Edge Cluster with at least 2 NSX-T Data Center Edge Nodes deployed and connectivity to an uplink network configured and verified

    <p class="note"><strong>Note</strong>: Two edge nodes are recommended for production environments. One node is sufficient for proof-of-concept deployments.</p> 	
    
- Overlay Transport Zone created, with the edge nodes included 	
- VLAN Transport Zone created, with the edge nodes included 
- MTU of all transport nodes and physical interfaces configured to 1600 or more
- If your NSX-T Data Center environment uses custom certificates, obtain the CA certificate for NSX Manager
  
  <p class="note"><strong>Note</strong>: If NSX-T Data Center uses custom certificates and you do not provide the CA certificate for NSX Manager, <%= vars.product_short %> Management Console automatically generates one and registers it with NSX Manager. This can cause other services that are integrated with NSX Manager not to function correctly.</p>
- Obtain the following IP addresses for the uplink network to use:
  - Subnet, subnet mask, gateway, and VLAN ID of the uplink network
  - Addresses within the uplink subnet for the Tier 0 uplinks
  - Address to use for the HA Virtual IP on the Tier-0 router
- Obtain the following IP additional addresses:
  - CIDR ranges to use for deployment, pods, and nodes
  
  <p class="note"><strong>Note</strong>: This range of IP addresses must not be in conflict with any other workloads.</p>
  
  - IP addresses of DNS and NTP servers
  - A range of 5 available floating IP addresses
  - If your environment uses custom certificates, obtain the CA certificate for NSX Manager

### <a id='nsxt-prepared-prereqs'></a>Prerequisites for a Prepared NSX-T Data Center

A prepared environment is an NSX-T Data Center instance that you have already configured for use with <%= vars.product_short %>. For example, an NSX-T Data Center instance that you have used in a previous deployment of <%= vars.product_short %>.

- 3 NSX Manager Nodes deployed
- NSX Management Cluster formed
- Virtual IP address assigned for Management Cluster or load balancer

<p class="note"><strong>Note</strong>: These requirements are for production environments. In proof-of-concept deployments one manager node is sufficient. The management cluster and load balancer are also optional for proof-of-concept deployments. </p>

For information about the supported versions of NSX-T Data Center, see the [release notes](../release-notes.html).

General Requirements:

- An active/standby Tier-0 Router created
- A logical switch on an NSX-T Virtual Distributed Switch (N-VDS) is prepared under the Tier-0 router, for use by the PKS management plane
- Edge Cluster with at least 2 NSX-T Data Center Edge Nodes deployed in active/standby mode, with connectivity to an uplink network configured
- Overlay Transport Zone created, with the edge nodes included
- VLAN Transport Zone created, with the edge nodes included
- MTU of all transport nodes and physical interfaces configured to 1600 or more
- If your NSX-T Data Center environment uses custom certificates, obtain the CA certificate for NSX Manager
  
  <p class="note"><strong>Note</strong>: If NSX-T Data Center uses custom certificates and you do not provide the CA certificate for NSX Manager, <%= vars.product_short %> Management Console automatically generates one and registers it with NSX Manager. This can cause other services that are integrated with NSX Manager not to function correctly.</p>

NSX-T Data Center Configuration Requirements:

- Virtual IP for the Tier-0 Router configured
- Floating IP Pool configured
- Pod IP Block ID created
- Node IP Block ID created
- Logical Switch configured for PKS Management Plane
- Tier-1 Router configured and connected to the Tier-0 Router
- Routing for PKS Floating IPs configured to point to the Tier-0 HA Virtual IP
    
### <a id='flannel-prereqs'></a>Prerequisites for a Flannel Network

Obtain the following IP addresses to use for deployment to a Flannel container networking interface:

- DNS server, subnet, subnet mask, and gateway of the network on which to deploy <%= vars.product_short %>
- DNS server, subnet, subnet mask, and gateway of the Flannel service network
- Subnet range and subnet mask for the Kubernetes pod and Kubernetes service networks

The Flannel network is provisioned for you when you deploy <%= vars.product_short %> Management Console.

## <a id='next-step'></a> Next Step

If your environment meets the prerequisites, you can [Deploy the <%= vars.product_short %> Management Console Appliance](deploy-console-ova.html).