---
title: Patch Enterprise PKS Management Console Components
owner: PKS
---

<strong><%= modified_date %></strong>

You can use VMware <%= vars.product_short %> Management Console to update some of the components of your deployment individually. When a new minor version of one or more <%= vars.product_short %> components is available, a message appears at the top of <%= vars.product_short %> Management Console to inform you <code>There are new patches to the VMware Enterprise PKS components</code>.

<p class="note"><strong>Note</strong>: The component patching feature in this initial release of Enterprise PKS Management Console is limited to patching the console appliance only. You cannot update Ops Manager, your Enterprise PKS deployments, or Harbor with this release. You cannot patch components from beta releases of <%= vars.product_short %> Management Console. Full component patching will be enabled in a future release.</p>

1. View the list of components that are ready for patching. 
  You can access the list of components in two ways:
  - Click the **More Info** button in the message at the top of <%= vars.product_short %> Management Console.
  - Go to **Configuration** &gt; **PKS Component Patch**.
1. Obtain the patch installers. 
  - In air-gapped environments, download the patch installer from https://downloads.vmware.com/ to a local location. Click the **Import Patch** button to upload the installer to the management console.
  - In environments with access to the internet, click the **Download** button next to the relevant components to import the patch installers directly.
1. When the patch imports are complete, select **Install Patch** to patch a component.
