---
title: Patch Enterprise PKS Management Console Components
owner: PKS
---

<strong><%= modified_date %></strong>

You can use VMware <%= vars.product_short %> Management Console to update some of the components of your deployment individually. When a new minor version of one or more <%= vars.product_short %> components is available, a message appears at the top of <%= vars.product_short %> Management Console to inform you <code>There are new patches to the VMware Enterprise PKS components</code>.

<p class="note"><strong>Note</strong>: The component patching feature is not available in the beta release of <%= vars.product_short %> Management Console. Component patching will be enabled in a future release.</p>

1. View the list of components that are ready for patching. 
  You can access the list of components in two ways:
  - Click the **Patch** button in the message at the top of <%= vars.product_short %> Management Console.
  - Go to **Configuration** &gt; **PKS Component Patch**.
1. Click the **Import Patch** button to import the new versions of the component installers.
1. When the patch imports are complete, select **Install Patch** to patch a component.
