---
title: Reconfigure Your Enterprise PKS Deployment
owner: PKS
---

<strong><%= modified_date %></strong>

After deployment, you can reconfigure your your <%= vars.product_short %> installation in VMware <%= vars.product_short %> Management Console, either by using the wizard or by importing an updated YAML file.

## <a id='reconfigure-wizard'></a>Reconfigure Your <%= vars.product_short %> Deployment in the Wizard

The procedure to reconfigure <%= vars.product_short %> deployments in the wizard is as follows. 

1. Expand **Configuration** and go to the **PKS Configuration** view of the management console.
1. Select **Wizard** to be taken to the configuration wizard for <%= vars.product_short %>. 
1. Expand the different sections of the wizard and change the configurations as necessary.
<br>
Refer to [Deploy Enterprise PKS by Using the Configuration Wizard](deploy-ent-pks-wizard.html) for instructions about how to fill in each section.
1. When you have finished reconfiguring, click **Generate Configuration**.
1. Optionally export the `PksConfiguration.yaml` file to save a copy of your configuration.
1. Click **Apply Configuration** and **Continue** to complete the reconfiguration of <%= vars.product_short %>.

## <a id='reconfigure-yaml'></a>Reconfigure Your <%= vars.product_short %> Deployment by Importing a YAML File

The procedure to reconfigure <%= vars.product_short %> deployments by importing an updated YAML file is as follows. 

1. Expand **Configuration** and go to the **PKS Configuration** view of the management console.
1. Select **Wizard** to be taken to the configuration wizard for <%= vars.product_short %>. 
1. Scroll to the bottom of the screen and click **Import**.
1. Drag the YAML file into the Import Configuration File window, or click **Browse** to navigate to it.
1. In the Configuration File editor, modify the contents of the YAML file appropriately for the new instance of <%= vars.product_short %> that you want to deploy.
- To abandon this YAML and start again, click **Import** to upload the YAML again or to import a new one. 
- You can also click the **Edit in Wizard** button, to open the imported configuration in the wizard. 
1. Click **Apply Configuration** and **Continue** to complete the reconfiguration of <%= vars.product_short %>.
