---
title: Upgrade Enterprise PKS Management Console
owner: PKS
---

<strong><%= modified_date %></strong>

If you have a previous installation of VMware <%= vars.product_full %> Management Console, you can use the console to upgrade it to a newer version. The upgrade process upgrades all of the components of your <%= vars.product_short %> Management Console deployment. To upgrade your deployment, you deploy a new version of the <%= vars.product_short %> Management Console appliance. You then use the management console of the new appliance to migrate the configuration of the old installation to the new one.

<p class="note"><strong>Note</strong>: The upgrade feature is not available in the beta release of <%= vars.product_short %> Management Console. Upgrade will be enabled in a future release.</p>

## <a id='prereqs'></a>Prerequisites

- You have deployed and configured an older version of <%= vars.product_short %> Management Console.
- In the older version of <%= vars.product_short %> Management Console, you see a blue banner that states <code>There are upgrades to your VMware Enterprise PKS installation</code>.
- In the older version of <%= vars.product_short %> Management Console, go to **Configuration** &gt; **PKS Instance Upgrade** to see the list of components that are ready for upgrade. 
- Download the new version of the OVA template from https://downloads.vmware.com. 
- Use an account with vSphere administrator privileges to log in to vSphere using the vSphere Client.
- (Optional) If you deployed the old version of the <%= vars.product_short %> Management Console appliance with a static IP address, and you want the new appliance to retain the same IP address after the upgrade, reconfigure the old appliance to use a temporary IP address before you start the upgrade procedure:
  1.  Shut down the previous version of the appliance by selecting **Shut Down Guest OS**.
<br>
<p class="note warning"><strong> WARNING:</strong> Do not select **Power Off**.</p>
  1. Access the vApp options for the appliance VM.
      * vSphere Client 6.5: Right-click the appliance VM, and select **Edit Settings** and select **vApp Options**.
      * vSphere Client 6.7: Select the appliance VM, select the **Configure** tab &gt; **vApp Options** and scroll to the Properties section.
  1. Set a temporary IP address on the appliance VM.
      * vSphere Client 6.5: Edit the **2.1 Network IP Address** setting directly.
      * vSphere Client 6.7: Select the row for **2.1. Network IP Address** and click **Set Value**.
  1. Save your changes and power the appliance VM back on.
  
  
## <a id='deploy-ova'></a>Step 1: Deploy the New OVA Template

Follow the instructions in [Deploy the <%= vars.product_short %> Management Console Appliance](deploy-console-ova.html) to deploy and power on the new version of the appliance from the new OVA template.

<p class="note"><strong>Notes</strong>: If you want to reuse the same IP address as before, and you assigned a temporary IP address to the old version of the appliance, configure the network settings of the new appliance to use the same static IP address as previously.
<br>
<br>
If you used custom certificates when you deployed the previous version of the appliance, you must use the same certificates when you deploy the new version of the appliance. If you do not provide the certificate details when you deploy the new version, self-signed certificates are generated.</p>

## <a id='access-console'></a>Step 2: Log In to the New Version of <%= vars.product_short %> Management Console

When the OVA deployment has completed successfully, you can access the new version of the management console.

1. In the vSphere Client, right-click the new appliance VM and select **Power** > **Power On**.
1. When the new appliance VM has booted, go to the **Summary** tab for the VM and  copy its IP address, if you do not know it already.
1. Enter the IP address of the new appliance in a browser.
1. At the VMware <%= vars.product_short %> log in page, enter username `root` and the root password that you set when you deployed the new version of the OVA template. 


## <a id='migrate-config'></a>Step 3: Migrate the Configuration from the Old Appliance to the New Version

The <%= vars.product_short %> Management Console provides an upgrade wizard to help you to migrate the configuration of your old deployment to the new version.

To get help in the wizard at any time, click the **?** icon at the top of the page, or click the **More Info...** links in each section to see help topics relevant to that section. Click the **i** icons for tips about how to fill in specific fields.

1. On the VMware <%= vars.product_short %> Management Console landing page for the new appliance, click **Upgrade**.
1. Enter the IP address of the old version of the <%= vars.product_short %> Management Console appliance in the **Endpoint** text box.
1. Enter the username and password for the old version of the appliance VM and click **Connect**.
1. Verify the list of components that will be upgraded and click **Next**.
1. If any sections of the configuration wizard are marked in red, expand and reconfigure them.
<br>
Sections might appear in red because they are in an error state, or because they relate to new configuration parameters that were not present in the previous version. For information about how to configure each section, see [Deploy <%= vars.product_short %> by Using the Configuration Wizard](deploy-ent-pks-wizard.html).
1. When all of the sections of the configuration wizard are green, click **Generate Configuration** to see the generated YAML file.
1. Optionally click **Export** to save a copy of the YAML file for future use.<br>This is recommended. The manifest is exported as the file `PksConfiguration.yaml`. 
1. Click **Apply Configuration** then **Continute** to upgrade <%= vars.product_short %>.
1. On the VMware Enterprise PKS Upgrade page, follow the progress of the upgrade.


## <a id='next-steps'></a>Next Steps

You can now access the upgraded <%= vars.product_short %> control plane and continue deploying Kubernetes clusters.

For information about how you can use <%= vars.product_short %> Management Console to monitor and manage your upgraded deployment, see [Monitor and Manage <%= vars.product_short %> in the Management Console](monitor-manage-console.html).

You can decommission the old version of <%= vars.product_short %> by deleting the previous version of the <%= vars.product_short %> Management Console appliance VM from the vSphere inventory.
